Repository LibreELEC/LibreELEC.tv, pull requests merged in 2018-03, with the labels that each got.

#2535 hauppauge: fix broken patch
  packages/linux-driver-addons/dvb/hauppauge/sources/backports/linux-302-AML-amlogic-video-dev.patch
Labels: BUGFIX, LE 9.0, MERGE ¯\_(ツ)_/¯ 💥

#2534 busybox: update init config for 1.28.1
  packages/sysutils/busybox/config/busybox-init.conf
Labels: BUGFIX, BUILDSYSTEM, LE 9.0, PACKAGE

#2487 dtc: build fdtput and fdtget
  packages/tools/dtc/package.mk
Labels: IMPROVEMENT, LE 9.0

#2538 wetekdvb: fix an issue when the device variable always evaluates to WeTek_Play_2
  packages/linux-drivers/wetekdvb/package.mk
Labels: BUGFIX, LE 9.0

#2539 LibreELEC-settings: update to a70ec1c
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2547 projects/WeTek_Play: fix distorted sound during a video playback
  projects/WeTek_Play/filesystem/etc/asound.conf
Labels: AMLOGIC, BUGFIX, LE 9.0

#2548 amlogic: reuse Odroid_C2 device name
  projects/Amlogic_GX/devices/Odroid_C2/bootloader/mkimage
  projects/Amlogic_GX/devices/Odroid_C2/options
  projects/Amlogic_GX/packages/amlogic-boot-fip/package.mk
  scripts/uboot_helper
Labels: AMLOGIC, CLEANUP

#2528 kodi: Early March 2018 update (Kodi 18.0a1-Leia)
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-platform/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-999.99-PR13552.patch
  packages/mediacenter/kodi/scripts/kodi-config
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1003-pfcd_hevc_optimisations.patch
Labels: LE 9.0, PACKAGE, UPDATE

#2543 mkimage: tweak uboot wording to match other messages
  scripts/mkimage
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2553 amlogic_gx: opengl-meson-gbm: move unbind-console.service to default filesystem files
  projects/Amlogic_GX/filesystem/usr/lib/systemd/system/unbind-console.service
  projects/Amlogic_GX/packages/opengl-meson-gbm/package.mk
Labels: AMLOGIC

#2555 Fix wrong Strip with 64/32 in linux driver addons
  config/functions
Labels: BUGFIX, LE 9.0

#2494 linux-driver-addons: fix flush_timer for meson-ir and consolidate patch
  packages/linux-driver-addons/dvb/crazycat/sources/backports/linux-303-AML-meson-ir.patch
  packages/linux-driver-addons/dvb/hauppauge/sources/backports/linux-303-AML-meson-ir.patch
Labels: BUGFIX, LE 9.0

#2554 ffmpegx: reorder dependencies
  packages/addons/addon-depends/ffmpegx/package.mk
Labels: BUGFIX, LE 9.0

#2559 linux: add dw-hdmi overflow patch from 4.17-rc1
  projects/Amlogic_GX/patches/linux/0002-dw-hdmi-Fix-overflow-workaround-for-Amlogic-Meson-GX-SoCs.patch
Labels: AMLOGIC, KERNEL, PATCH

#2560 linux: add meson-ir timeout patch
  projects/Amlogic_GX/patches/linux/0003-meson-ir-timeout.patch
Labels: AMLOGIC, KERNEL, PATCH

#2557 linux: bump to 4.16-rc4
  packages/linux/package.mk
Labels: AMLOGIC, KERNEL, UPDATE

#2556 RPi: temporarily add kodi PR13594
  projects/RPi/patches/kodi/kodi-0100-temp-add-pr13594.patch
Labels: BUGFIX, LE 9.0

#2549 crazycat: fix building for Amlogic devices using 3.10 kernel and enable for WeTek_Core
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.10/driver.dvb.crazycat-01-add-AML-specific-to-backports.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.10/driver.dvb.crazycat-02-media_build-fix.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.10/driver.dvb.crazycat-03-frame_vector_workaround.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.10/driver.dvb.crazycat-04-AML-hacks.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.14/driver.dvb.crazycat-01-add-AML-specific-to-backports.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.14/driver.dvb.crazycat-02-media_build-fix.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.14/driver.dvb.crazycat-03-frame_vector_workaround.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.14/driver.dvb.crazycat-04-AML-hacks.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic-3.14/driver.dvb.crazycat-05-compat_h-fix.patch
  projects/WeTek_Core/linux/linux.arm.conf
  projects/WeTek_Core/options
Labels: BUGFIX, LE 9.0

#2568 distro-tool: fixup after server migration
  tools/distro-tool
Labels: BUILDSYSTEM, LE 9.0

#2546 snapcast
  licenses/BSL.txt
  packages/addons/addon-depends/snapcast-depends/aixlog/package.mk
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/snapcast-depends/popl/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-01_makefiles.patch
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/icon/icon.png
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapclient/source/addon.py
  packages/addons/service/snapclient/source/bin/snapclient.start
  packages/addons/service/snapclient/source/default.py
  packages/addons/service/snapclient/source/resources/language/English/strings.po
  packages/addons/service/snapclient/source/resources/settings.xml
  packages/addons/service/snapclient/source/settings-default.xml
  packages/addons/service/snapclient/source/system.d/service.snapclient.service
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/icon/icon.png
  packages/addons/service/snapserver/package.mk
  packages/addons/service/snapserver/source/bin/snapserver.start
  packages/addons/service/snapserver/source/default.py
  packages/addons/service/snapserver/source/resources/language/English/strings.po
  packages/addons/service/snapserver/source/resources/settings.xml
  packages/addons/service/snapserver/source/settings-default.xml
  packages/addons/service/snapserver/source/system.d/service.snapserver.service
Labels: ADDONS, LE 8.2

#2551 Snapcast
  licenses/BSL.txt
  packages/addons/addon-depends/snapcast-depends/aixlog/package.mk
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/snapcast-depends/popl/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-01_makefiles.patch
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/icon/icon.png
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapclient/source/addon.py
  packages/addons/service/snapclient/source/bin/snapclient.start
  packages/addons/service/snapclient/source/default.py
  packages/addons/service/snapclient/source/resources/language/English/strings.po
  packages/addons/service/snapclient/source/resources/settings.xml
  packages/addons/service/snapclient/source/settings-default.xml
  packages/addons/service/snapclient/source/system.d/service.snapclient.service
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/icon/icon.png
  packages/addons/service/snapserver/package.mk
  packages/addons/service/snapserver/source/bin/snapserver.start
  packages/addons/service/snapserver/source/default.py
  packages/addons/service/snapserver/source/resources/language/English/strings.po
  packages/addons/service/snapserver/source/resources/settings.xml
  packages/addons/service/snapserver/source/settings-default.xml
  packages/addons/service/snapserver/source/system.d/service.snapserver.service
Labels: ADDONS, LE 9.0

#2561 linux: build perf on all kernels except amlogic-3.x
  packages/linux/package.mk
Labels: FEATURE, LE 9.0

#2249 NOOBS: shorten partition labels, change tar filename [backport]
  config/noobs/partitions.json
  scripts/image
Labels: BUGFIX, BUILDSYSTEM, LE 8.2

#2573 settings: bump version to 0768930
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 8.2, PACKAGE, UPDATE

#2569 iptables: Fix "public" ruleset order
  packages/network/iptables/config/public.v4
  packages/network/iptables/config/public.v6
Labels: BUGFIX, LE 9.0

#2574 settings: bump package for firewall fixes
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2578 RPi: update firmware to 6e3c5f8
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: LE 8.2, PACKAGE, UPDATE

#2544 amlogic: changes for qca9377 sdio module
  packages/network/bluez/patches/bluez-21-hciattach-add-QCA9377-Tuffello-support.patch
  packages/network/bluez/patches/bluez-22-hciattach_rome-simplify-baudrate-setting.patch
  packages/network/bluez/patches/bluez-23-hciattach_rome-do-not-override-module-MAC.patch
  packages/network/bluez/patches/bluez-24-hciattach_rome-force-IBS-to-disabled-in-NVM.patch
  packages/network/bluez/patches/bluez-25-hciattach_rome-display-ROM-and-TLV-info.patch
Labels: LE 9.0, PATCH

#2566 linux: switch to Raspberry Pi vendor kernel
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-999-revert_ARM_dts_bcm283x_Fix_console_path_on_RPi3.patch
  packages/linux/patches/default/linux-999.05-eMMC-Don-t-initialize-partitions-on-RPMB-flagged-are.patch
  packages/linux/patches/raspberrypi/linux-051-ouya_controller_support.patch
  packages/linux/patches/raspberrypi/linux-053-spinelplus-remote-0.2.patch
  packages/linux/patches/raspberrypi/linux-057-Removed-MCE-customer-code-restriction-in-rc6-decode.patch
  packages/linux/patches/raspberrypi/linux-058.05-hid_sony-add_autorepeat_for_PS3_remotes.patch
  packages/linux/patches/raspberrypi/linux-062-imon_pad_ignore_diagonal.patch
  packages/linux/patches/raspberrypi/linux-999-01-0001-revert-revert-softirqd-let-ksoftirqd-do-its-job.patch
  packages/linux/patches/raspberrypi/linux-999-01-0002-use-linus-commit-to-fix-ksoftirqd-issues.patch
  packages/linux/patches/raspberrypi/linux-999-disable_lan78xx_wol.patch
  packages/linux/patches/raspberrypi/linux-999-revert_ARM_dts_bcm283x_Fix_console_path_on_RPi3.patch
  packages/linux/patches/raspberrypi/linux-999.02-0001-pm-disable-async-suspend-resume-by-default.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/bcm2835-bootloader/scripts/update.sh
  projects/RPi/options
  tools/RPi/README.md
  tools/RPi/gen-rpi-linux-patch.sh
  tools/RPi/rpi-linux-rebase.sh
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0, PACKAGE, UPDATE

#2580 linux: bump to 4.16-rc5
  packages/linux/package.mk
Labels: AMLOGIC, KERNEL, UPDATE

#2584 RPi: update firmware to 3347884
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: LE 8.2, PACKAGE, UPDATE

#2583 samba: update to samba-4.6.14
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-950-no-man.patch
  packages/network/samba/patches/samba-954-fix-build-without-ads.patch
Labels: BUGFIX, LE 8.2, PACKAGE, UPDATE

#2581 config: set version to 8.2.4
  config/version
Labels: LE 8.2

#2582 samba: update to samba-4.7.6
  packages/network/samba/package.mk
Labels: BUGFIX, LE 9.0, PACKAGE, UPDATE

#2589 config: set version to devel
  config/version
Labels: LE 8.2, MERGE ¯\_(ツ)_/¯ 💥

#2565 kodi: mid-March update
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.asap/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.nosefart/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/scripts/kodi.sh
Labels: BUGFIX, LE 9.0, PACKAGE, UPDATE

#2594 xf86-video-nvidia: update to xf86-video-nvidia-390.42
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2587 brcmfmac_sdio-firmware-rpi: cleanup wlan-firmware
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/linux-firmware/wlan-firmware/package.mk
Labels: BACKPORT DONE, HARDWARE, LE 9.0, PACKAGE, UPDATE

#2586 samba: update to samba-4.8.0
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-953-backport-misleading-file-exists-fix.patch
Labels: LE 9.0, PACKAGE, UPDATE

#2577 buildsystem: simplify SIMD support (neon/mmx/sse/sse2)
  config/arch.aarch64
  config/arch.arm
  config/arch.x86_64
  config/show_config
  packages/graphics/libjpeg-turbo/package.mk
  projects/Amlogic/options
  projects/Generic/options
  projects/RPi/options
  projects/Rockchip/devices/MiQi/options
  projects/Rockchip/devices/RK3328/options
  projects/Rockchip/devices/RK3399/options
  projects/Rockchip/devices/TinkerBoard/options
  projects/WeTek_Core/options
  projects/WeTek_Play/options
Labels: AMLOGIC, BUILDSYSTEM, CLEANUP, LE 9.0, PACKAGE, ROCKCHIP, UPDATE

#2511 kernel-firmware: use project specific firmwares and cleanup
  packages/linux-firmware/kernel-firmware/package.mk
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0, PACKAGE

#2576 create_addon: Substitute RPi1 as device to differentiate RPi project …
  packages/addons/README.md
  packages/addons/libraries/adafruit-libraries/package.mk
  packages/addons/service/dispmanx_vnc/package.mk
  packages/addons/service/touchscreen/package.mk
  packages/addons/tools/rpi-tools/package.mk
  scripts/create_addon
Labels: ADDONS, BUILDSYSTEM, IMPROVEMENT, LE 9.0, PACKAGE

#2609 Update kernel config for WeTek Play 1 and WeTek Core
  projects/WeTek_Core/linux/linux.arm.conf
  projects/WeTek_Play/linux/linux.arm.conf
Labels: IMPROVEMENT, LE 9.0

#2579 wetekdvb: load the module conditionally
  packages/linux-drivers/wetekdvb/modules-load.d/wetekdvb.conf
  packages/linux-drivers/wetekdvb/package.mk
  packages/linux-drivers/wetekdvb/system.d/wetekdvb.service
Labels: BUGFIX, LE 9.0

#2403 allow using vaapi with r600 and radeonsi
  config/graphic
  packages/graphics/mesa/package.mk
  packages/graphics/mesa/patches/mesa-0001-add-vlVaExportSurfaceHandle.patch
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/libva/package.mk
  packages/virtual/mediacenter/package.mk
Labels: FEATURE, IMPROVEMENT, LE 9.0, MERGE BLOCKED, WORK IN PROGRESS

#2611 config: enable LAN78XX as builtin - needed for netboot [backport]
  projects/RPi/linux/linux.arm.conf
  projects/RPi2/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, LE 8.2

#2601 brcmfmac_sdio-firmware-rpi: cleanup wlan-firmware [backport]
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/linux-firmware/wlan-firmware/package.mk
Labels: LE 8.2, PACKAGE, UPDATE

#2558 Crazycat, Hauppauge driver Addons for Rockchip
  packages/linux-driver-addons/dvb/crazycat/package.mk
  projects/Rockchip/options
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0010-dvbcompat.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0011-add-bitfield-header.patch
Labels: LE 9.0

#2563 Emulation support for cortex-a72.cortex-a53
  packages/emulation/libretro-beetle-pcfx/package.mk
  packages/emulation/libretro-craft/package.mk
  packages/emulation/libretro-mame2010/package.mk
  packages/emulation/libretro-mame2014/package.mk
  packages/emulation/libretro-mupen64plus/package.mk
Labels: BUGFIX, LE 9.0

#2570 Rockchip: update kernel config HID drivers
  projects/Rockchip/devices/MiQi/linux/rockchip-4.4/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/TinkerBoard/linux/rockchip-4.4/linux.arm.conf
Labels: KERNEL, LE 9.0

#2614 [8.2] RPi/RPi2: sync audio kernel config with foundation kernel
  projects/RPi/linux/linux.arm.conf
  projects/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 8.2

#2616 moonlight: update addon
  packages/addons/addon-depends/moonlight-common-c/package.mk
  packages/addons/addon-depends/moonlight-embedded/package.mk
  packages/addons/script/moonlight/changelog.txt
  packages/addons/script/moonlight/package.mk
Labels: ADDONS, BUGFIX, IMPROVEMENT, LE 9.0

#2617 RPi: update firmware 75de5d7 [backport]
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, LE 8.2, PACKAGE, UPDATE

#2619 snapcast: add streaming from kodi (backport of #2597)
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapclient/source/bin/snapclient.start
  packages/addons/service/snapclient/source/resources/settings.xml
  packages/addons/service/snapclient/source/system.d/service.snapclient.service
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/package.mk
  packages/addons/service/snapserver/source/bin/snapserver.start
  packages/addons/service/snapserver/source/config/pulseaudio.conf
  packages/addons/service/snapserver/source/resources/language/English/strings.po
  packages/addons/service/snapserver/source/resources/settings.xml
  packages/addons/service/snapserver/source/settings-default.xml
  packages/addons/service/snapserver/source/system.d/service.snapserver.service
Labels: ADDONS, LE 8.2, UPDATE

#2585 linux: update to 4.14.30
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999-revert_ARM_dts_bcm283x_Fix_console_path_on_RPi3.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: LE 9.0, PACKAGE, UPDATE

#2622 openssl: update to openssl-1.0.2o [backport]
  packages/security/openssl/package.mk
Labels: BUGFIX, LE 8.2, PACKAGE, UPDATE

#2625 tinc: only build source
  packages/addons/service/tinc/package.mk
Labels: ADDONS, BUGFIX, LE 9.0
