Repository LibreELEC/LibreELEC.tv, pull requests merged in 2018-12, with the labels that each got.

#3143 [busybox] Fixed 'getedid delete' section
  packages/sysutils/busybox/scripts/getedid
Labels: IMPROVEMENT, LE 9.0

#3144 iptables: fix build with 3.10.y, remove hack
  packages/network/iptables/package.mk
  packages/network/iptables/patches/iptables-0001-fix-build-with-pre-4.2-kernels.patch
Labels: LE 9.0, PACKAGE, PATCH, UPDATE

#3145 heimdal: Disable OTP [backport]
  packages/devel/heimdal/package.mk
Labels: BUGFIX, LE 8.2, PACKAGE, UPDATE

#3141 fix .config/firmware handling
  packages/linux/package.mk
  packages/network/bluez/package.mk
  packages/sysutils/systemd/scripts/kernel-overlays-setup
Labels: BUGFIX, CLEANUP, LE 9.0

#3134 libretro-mgba: updated to git 38bad71
  packages/emulation/libretro-mgba/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3148 generic: switch from yasm to nasm; update libass to 0.14.0 to support
  packages/addons/addon-depends/ffmpegx-depends/libvpx/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/lang/nasm/package.mk
  packages/lang/yasm/package.mk
  packages/multimedia/SDL2/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/libass/package.mk
  packages/virtual/toolchain/package.mk
Labels: BUILDSYSTEM, LE 9.0, PACKAGE, UPDATE

#3155 LibreELEC-settings: update to f476f01
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 9.0, UPDATE

#3130 linux (RPi/Generic): update to linux-4.19.8
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware/udev.d/81-bt-power.rules
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux-firmware/kernel-firmware/patches/kernel-firmware-02-add-brcmfmac-43xxx-configs.patch
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 9.0, PACKAGE, UPDATE

#3151 Generic: add support for more bluetooth devices
  projects/Generic/linux/linux.x86_64.conf
Labels: BUGFIX, IMPROVEMENT, KERNEL, LE 9.0

#3167 heimdal: remove unrequired setting
  packages/devel/heimdal/package.mk
Labels: BUILDSYSTEM, LE 9.0, PACKAGE

#3168 kernel-overlays-setup: fix ls error in journal if .config/firmware do…
  packages/sysutils/systemd/scripts/kernel-overlays-setup
Labels: BUGFIX, LE 9.0

#3159 mesa: update to mesa-18.3.1
  packages/graphics/mesa/package.mk
  packages/python/devel/Mako/package.mk
  packages/python/devel/setuptools/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3160 intel-vaapi-driver: update to intel-vaapi-driver-2.3.0
  packages/multimedia/intel-vaapi-driver/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3161 dvb-latest: update to 2018-12-07
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/dvb-latest/package.mk
Labels: LE 9.0, UPDATE

#3170 Python3: update to Python3-3.7.1
  packages/lang/Python3/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3172 texturecache.py: update to texturecache.py-2.4.8
  packages/tools/texturecache.py/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3173 Rockchip: update kodi to 18.0rc3 and more
  packages/mediacenter/kodi/package.mk
  packages/multimedia/rkmpp/package.mk
  projects/Rockchip/README.md
  projects/Rockchip/devices/RK3399/README.md
  projects/Rockchip/devices/RK3399/options
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0001-rockchip.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0002-ir.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0005-dts.patch
  scripts/uboot_helper
Labels: LE 9.0, PACKAGE, ROCKCHIP

#3175 update.sh: Fix dtb not updating
  projects/Amlogic/bootloader/update.sh
Labels: AMLOGIC, LE 9.0

#3176 tini: fix typos
  packages/addons/addon-depends/tini/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 9.0, PACKAGE

#3180 LibreELEC-settings: update to 61ffe14
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 9.0, UPDATE

#3181 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3178 samba: update to samba-4.9.4
  packages/network/samba/package.mk
Labels: BUGFIX, LE 9.0, PACKAGE, UPDATE

#3166 linux (RPi/Generic): update to linux-4.19.12
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/kernel-firmware/firmwares/any.dat
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux-firmware/kernel-firmware/patches/kernel-firmware-01-add-vega12-20-firmwares.patch
  packages/linux-firmware/kernel-firmware/patches/kernel-firmware-01-add-vega20-firmwares.patch
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 9.0, PACKAGE, UPDATE

#3174 linux (RPi) config: enable bcm2835 miniuart
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, LE 9.0

#3182 buildsystem: add flag to enable verbose build (if package support it)
  config/functions
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#3184 config/functions: respect CONCURRENCY_MAKE_LEVEL for ninja
  config/functions
  packages/lang/llvm/package.mk
Labels: IMPROVEMENT, LE 9.0

#3177 libxslt, libssh2: build with -fPIC
  packages/addons/addon-depends/system-tools-depends/depends/libssh2/package.mk
  packages/textproc/libxslt/package.mk
Labels: IMPROVEMENT, LE 9.0

#3195 kodi (RPi/Generic/Rockchip): update to kodi-18.0rc4-Leia
  packages/devel/libcec/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-999.99.avoid-bogus-dependency-not-available-notification.patch
Labels: LE 9.0, PACKAGE, PATCH, UPDATE

#3189 tigervnc: update to 1.9.0
  packages/addons/service/tigervnc/changelog.txt
  packages/addons/service/tigervnc/package.mk
  packages/graphics/libjpeg-turbo/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3188 dotnet-runtime: update to 2.2.0
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3187 libjpeg-turbo: bump version/switch to cmake; fix host cmake
  config/functions
  config/optimize
  packages/graphics/libjpeg-turbo/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3186 glib: remove function that could not possibly be used
  packages/devel/glib/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 9.0, PACKAGE, UPDATE

#3171 buildsystem: centralise package sourcing
  config/functions
  config/options
  config/path
  packages/addons/addon-depends/chrome-depends/icu/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/opencaster/package.mk
  packages/addons/addon-depends/protobuf/package.mk
  packages/addons/addon-depends/system-tools-depends/getscancodes/package.mk
  packages/addons/addon-depends/system-tools-depends/lm_sensors/package.mk
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/audio/pulseaudio/package.mk
  packages/compress/lz4/package.mk
  packages/compress/zstd/package.mk
  packages/databases/sqlite/package.mk
  packages/debug/gdb/package.mk
  packages/devel/ccache/package.mk
  packages/devel/gettext/package.mk
  packages/devel/glibc/package.mk
  packages/devel/make/package.mk
  packages/emulation/libretro-fbalpha/package.mk
  packages/emulation/libretro-vram-test/package.mk
  packages/graphics/vsxu/package.mk
  packages/lang/llvm/package.mk
  packages/linux-drivers/dvbhdhomerun/package.mk
  packages/linux-drivers/gpu-aml/package.mk
  packages/linux/package.mk
  packages/mediacenter/kodi/package.mk
  packages/network/samba/package.mk
  packages/readme.md
  packages/security/libgcrypt/package.mk
  packages/security/libgpg-error/package.mk
  packages/sysutils/busybox/package.mk
  packages/sysutils/diskdev_cmds/package.mk
  packages/sysutils/e2fsprogs/package.mk
  packages/sysutils/tz/package.mk
  packages/sysutils/v86d/package.mk
  packages/tools/bcm2835-bootloader/release
  packages/tools/grub/package.mk
  packages/tools/qemu/package.mk
  packages/tools/syslinux/package.mk
  packages/virtual/initramfs/package.mk
  packages/x11/lib/libpciaccess/package.mk
  projects/Amlogic/bootloader/release
  scripts/build
  scripts/install
  scripts/uninstall
  scripts/unpack
Labels: BUILDSYSTEM, CLEANUP, IMPROVEMENT, PACKAGE

#3190 mariadb: initial addon
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/icon/icon.png
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/source/bin/mariadb.start
  packages/addons/service/mariadb/source/bin/mariadb.stop
  packages/addons/service/mariadb/source/config/my.cnf
  packages/addons/service/mariadb/source/default.py
  packages/addons/service/mariadb/source/resources/language/English/strings.po
  packages/addons/service/mariadb/source/resources/settings.xml
  packages/addons/service/mariadb/source/settings-default.xml
  packages/addons/service/mariadb/source/system.d/service.mariadb.service
Labels: ADDONS, FEATURE, LE 9.0

#3201 crazycat_aml: change description
  packages/linux-driver-addons/dvb/crazycat_aml/package.mk
Labels: LE 9.0, PACKAGE

#3156 web: update to libmicrohttpd-0.9.61/curl-7.62.0
  packages/web/curl/package.mk
  packages/web/libmicrohttpd/package.mk
  packages/web/libmicrohttpd/patches/libmicrohttpd-001-remove-extra-unescape-PR14991.patch
Labels: LE 9.0, PACKAGE, UPDATE

#3197 cmake: update to cmake-3.13.2
  packages/devel/cmake/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3204 LibreELEC-settings: update to 05bfa87
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3199 pkgcheck: add new script
  packages/addons/addon-depends/chrome-depends/chrome-libXcomposite/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libXdamage/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libXfixes/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libXi/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libXrender/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libXtst/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libxcb/package.mk
  packages/addons/addon-depends/chrome-depends/cups/package.mk
  packages/addons/service/hyperion/package.mk
  packages/addons/service/mpd/package.mk
  packages/databases/mysql/package.mk
  packages/emulation/libretro-ppsspp/package.mk
  packages/readme.md
  tools/pkgcheck
Labels: BUILDSYSTEM, LE 9.0, PACKAGE

#3193 v4l-utils: simplify 70-infrared.rules and fix kernel 4.20 issues
  packages/sysutils/v4l-utils/udev.d/70-infrared.rules
Labels: BUGFIX, LE 9.0

#3192 ncurses: improvements / system-tools 110: update mc and efibootmgr
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/patches/efivar-01-static_lib.patch
  packages/addons/addon-depends/system-tools-depends/depends/efivar/patches/efivar-makeguids-allocate-fix.patch
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/patches/efibootmgr-kernel-4.4.patch
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/wrapper/mc
  packages/addons/addon-depends/system-tools-depends/mc/wrapper/mcedit
  packages/addons/addon-depends/system-tools-depends/mc/wrapper/mcview
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/addons/tools/system-tools/source/default.py
  packages/devel/ncurses/package.mk
  packages/devel/ncurses/patches/ncurses-001-terminfo-xterm.patch
  packages/devel/ncurses/patches/ncurses-002-alloc-fallbacks.patch
Labels: ADDONS, IMPROVEMENT, LE 9.0, PACKAGE, PATCH, UPDATE
