Repository LibreELEC/LibreELEC.tv, pull requests merged in 2018-02, with the labels that each got.

#2485 functions: add helper function to locate linux config
  config/functions
  packages/linux/package.mk
Labels: BUILDSYSTEM, CLEANUP, IMPROVEMENT, LE 9.0, PACKAGE

#2459 Package Updates: various
  packages/audio/pulseaudio/patches/pulseaudio-0900.04-glibc-2.27.patch
  packages/databases/sqlite/package.mk
  packages/debug/gdb/package.mk
  packages/devel/autoconf-archive/package.mk
  packages/devel/binutils/package.mk
  packages/devel/ccache/package.mk
  packages/devel/fribidi/package.mk
  packages/devel/glibc/package.mk
  packages/devel/ncurses/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/graphics/libraw/package.mk
  packages/graphics/libraw/patches/libraw-01-fix-glibc-2.27.patch
  packages/multimedia/libbluray/patches/libbluray-00-fix-build-with-autoconf-archive-2016-or-later.patch
  packages/network/ethtool/package.mk
  packages/network/samba/package.mk
  packages/python/devel/meson/package.mk
  packages/sysutils/e2fsprogs/package.mk
  packages/sysutils/squashfs/package.mk
  packages/sysutils/squashfs/patches/squashfs-001-add-zstd-support.patch
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/patches/systemd-0100-backport-systemd-analyze-plot-fix.patch
  packages/sysutils/systemd/patches/systemd-0100-fix-glibc-2.27-build.patch
  packages/sysutils/systemd/patches/systemd-0101-backport-sysctl-use-raw-file_descriptor-in-sysctl_write.patch
  packages/sysutils/systemd/patches/systemd-0101-fix-build-with-kernel-3.10.patch
  packages/sysutils/tz/package.mk
  packages/tools/nano/package.mk
  packages/x11/lib/libxshmfence/package.mk
  packages/x11/lib/libxshmfence/patches/libxshmfence-01-fix-glibc-2.27.patch
Labels: LE 9.0, PACKAGE, UPDATE

#2476 gcc-linaro-aarch64-linux-gnu: update to 7.2-2017.11
  packages/lang/gcc-linaro-aarch64-linux-gnu/package.mk
Labels: LE 9.0, UPDATE

#2489 Rockchip: update linux and merge rk3328 devices
  config/arch.arm
  packages/linux/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-99.0001-backport-rkmppdec-fixes.patch
  packages/multimedia/rkmpp/package.mk
  packages/multimedia/rkmpp/patches/rkmpp-0001-mpp-retrieve-available-input-packet-free-slots.patch
  packages/multimedia/rkmpp/patches/rkmpp-1000-hevc.patch
  packages/tools/rkbin/patches/rkbin-0002-rk3328-add-ddr-v1.12-and-bl31-v1.39.patch
  packages/tools/rkbin/patches/rkbin-0003-rk3399-add-ddr-v1.09-bl31-v1.12-and-miniloader-v1.09.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0001-dont-build-libfdt.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0002-rockchip-tinker-enable-rockchip-video-driver.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0003-Add-rk3328-efuse-support.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0004-Get-serial-and-ethaddr-from-efuse.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0005-rk3328-evb-add-sdmmc-vmmc-supply.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0006-rk3399-evb-prefer-sdcard-boot.patch
  projects/Rockchip/README.md
  projects/Rockchip/bootloader/install
  projects/Rockchip/devices/MiQi/linux/rockchip-4.4/linux.arm.conf
  projects/Rockchip/devices/RK3328/README.md
  projects/Rockchip/devices/RK3328/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/RK3328/options
  projects/Rockchip/devices/RK3399/README.md
  projects/Rockchip/devices/RK3399/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/options
  projects/Rockchip/devices/ROCK64/README.md
  projects/Rockchip/devices/ROCK64/filesystem/usr/lib/systemd/system/ethtool.service
  projects/Rockchip/devices/RockBox/README.md
  projects/Rockchip/devices/TinkerBoard/linux/rockchip-4.4/linux.arm.conf
  projects/Rockchip/devices/TinkerBoard/patches/linux/rockchip-4.4/linux-0001-miniarm.patch
  projects/Rockchip/packages/rockchip-firmware/modprobe.d/bcmdhd.conf
  projects/Rockchip/packages/rockchip-firmware/package.mk
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0001-rockchip.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0002-ir.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0003-cec.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0004-audio.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0005-legacy.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0006-dts.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0007-rtl8211f.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0008-dtoverlay-configfs.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0009-mmc-pwrseq.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-1000-pl330.patch
  scripts/uboot_helper
Labels: HARDWARE, ROCKCHIP

#2488 Amlogic: clean up for u-boot-tools
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Amlogic/options
  projects/Amlogic/packages/u-boot-tools-aml/package.mk
Labels: AMLOGIC, LE 9.0

#2486 Enable ATH10K Atheros 802.11ac drivers in Generic x86_64 kernel
  packages/linux-firmware/kernel-firmware/firmwares/x86_64.dat
  projects/Generic/linux/linux.x86_64.conf
Labels: HARDWARE, KERNEL, LE 9.0

#2490 mono: update to 5.8.0.108
  packages/addons/addon-depends/mono-depends/libgdiplus/package.mk
  packages/addons/tools/mono/changelog.txt
  packages/addons/tools/mono/package.mk
  packages/graphics/cairo/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2492 bump arm-mem and valgrind
  packages/debug/valgrind/package.mk
  packages/devel/arm-mem/package.mk
Labels: LE 9.0, UPDATE

#2496 vdr-plugin-satip: update to 0a15717
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2497 e2fsprogs: update to e2fsprogs-1.43.9, change download url
  packages/sysutils/e2fsprogs/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2503 tvheadend42: backport patch to fix jenkins
  packages/addons/service/tvheadend42/patches/tvheadend42-02-fix-dvbscan.patch
Labels: ADDONS, BUGFIX, LE 9.0

#2491 libva: update libva/libva-utils/intel-vaapi-driver 2.1.0
  packages/debug/libva-utils/package.mk
  packages/multimedia/intel-vaapi-driver/package.mk
  packages/multimedia/libva/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2477 kodi: updates for March 2018
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi/libdvd/libdvd-makefile.in
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-995.20-PR13318-mariadb.patch
  packages/mediacenter/kodi/patches/kodi-999.99-PR13552.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1003-pfcd_hevc_optimisations.patch
  packages/multimedia/libdvdcss/package.mk
  packages/multimedia/libdvdnav/package.mk
  packages/multimedia/libdvdread/package.mk
Labels: ADDONS, LE 9.0, PACKAGE, PATCH, UPDATE

#2502 projects/Amlogic: update.sh fix and cleanup
  projects/Amlogic/bootloader/update.sh
Labels: AMLOGIC, BUGFIX, LE 9.0

#2508 tvheadend add hdhomerun
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/patches/tvheadend42-02-fix-dvbscan.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-02-hdhomerun-includes.patch
  packages/multimedia/libhdhomerun/package.mk
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#2514 busybox: don't build parallel
  packages/sysutils/busybox/package.mk
Labels: BUILDSYSTEM, LE 9.0, PACKAGE

#2501 buildsystem: selectively build packages with debug
  config/functions
  config/optimize
  config/options
  config/path
  config/show_config
  distributions/LibreELEC/options
  packages/audio/alsa-lib/package.mk
  packages/databases/mysql/package.mk
  packages/devel/attr/package.mk
  packages/devel/glibc/package.mk
  packages/lang/gcc/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/network/bluez/package.mk
  packages/virtual/debug/package.mk
  scripts/build
  scripts/image
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2515 visualization.goom: fix build
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
Labels: ADDONS, BUGFIX, LE 9.0

#2505 fix perf build
  packages/debug/gdb/package.mk
  packages/debug/libunwind/package.mk
  packages/devel/binutils/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-999-no-lzma-in-x86-perf-build.patch
Labels: BUGFIX, BUILDSYSTEM, CLEANUP, LE 9.0

#2513 WeTek Play 2: Add support for crazycat and hauppauge driver addons
  packages/linux-driver-addons/dvb/crazycat/config/usb.config
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic/driver.dvb.crazycat-01-add-AML-specific-to-backports.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic/driver.dvb.crazycat-04-AML-hacks.patch
  packages/linux-driver-addons/dvb/crazycat/sources/backports/linux-304-AML-wetekplay.patch
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/hauppauge/patches/amlogic/driver.dvb.hauppauge-01-add-AML-specific-to-backports.patch
  packages/linux-driver-addons/dvb/hauppauge/sources/backports/linux-304-AML-wetekplay.patch
  packages/linux-drivers/wetekdvb/package.mk
  projects/Amlogic/devices/WeTek_Play_2/options
Labels: ADDONS, AMLOGIC, IMPROVEMENT

#2506 Compile kernel on 64/32 split archs without redefining TARGET_PREFIX
  config/path
  packages/linux-drivers/RTL8188EU/package.mk
  packages/linux-drivers/RTL8192CU/package.mk
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8192EU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/amlogic/RTL8188EU-aml/package.mk
  packages/linux-drivers/amlogic/RTL8189ES-aml/package.mk
  packages/linux-drivers/amlogic/RTL8189FS-aml/package.mk
  packages/linux-drivers/amlogic/RTL8723BS-aml/package.mk
  packages/linux-drivers/amlogic/RTL8723DS-aml/package.mk
  packages/linux-drivers/amlogic/RTL8822BU-aml/package.mk
  packages/linux-drivers/amlogic/ap6xxx-aml/package.mk
  packages/linux-drivers/amlogic/mt7601u-aml/package.mk
  packages/linux-drivers/amlogic/mt7603u-aml/package.mk
  packages/linux-drivers/amlogic/qca9377-aml/package.mk
  packages/linux-drivers/amlogic/ssv6xxx-aml/package.mk
  packages/linux-drivers/brcmap6xxx-aml/package.mk
  packages/linux/package.mk
  packages/tools/u-boot/package.mk
  scripts/build
  scripts/image
Labels: BUILDSYSTEM, CLEANUP, LE 9.0

#2523 mesa: update to mesa-17.3.5
  packages/graphics/mesa/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2518 buildsystem: save/load build config, simplify clean and build --all
  config/functions
  scripts/build
  scripts/clean
  scripts/image
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2469 tools: source packages reliably
  tools/mkpkg/update_binary-addons
  tools/mkpkg/update_retroplayer-addons
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#2524 config/functions: fix save_build_config when build directory doesn't …
  config/functions
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#2318 refactoring checkdeps
  scripts/checkdeps
Labels: BUILDSYSTEM, LE 9.0

#2526 Rockchip: fix building aarch64
  packages/devel/binutils/patches/binutils-02-PR22764.patch
  projects/Rockchip/README.md
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0001-rockchip.patch
Labels: HARDWARE, ROCKCHIP

#2527 game.libretro.dosbox: fix building add-on
  packages/emulation/libretro-dosbox/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.dosbox/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2451 Amlogic: support for AVL6862 DVB driver
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic/driver.dvb.crazycat-01-add-AML-specific-to-backports.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic/driver.dvb.crazycat-04-AML-hacks.patch
  packages/linux-driver-addons/dvb/crazycat/patches/amlogic/driver.dvb.crazycat-05-compat_h-fix.patch
  packages/linux-driver-addons/dvb/crazycat/sources/backports/linux-305-AML-dmx_h.patch
  packages/linux-driver-addons/dvb/crazycat/sources/backports/linux-306-AML-build-dvb-avl.patch
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/hauppauge/patches/amlogic/driver.dvb.hauppauge-01-add-AML-specific-to-backports.patch
  packages/linux-driver-addons/dvb/hauppauge/patches/amlogic/driver.dvb.hauppauge-05-compat_h-fix.patch
  packages/linux-driver-addons/dvb/hauppauge/sources/backports/linux-305-AML-dmx_h.patch
  packages/linux-driver-addons/dvb/hauppauge/sources/backports/linux-306-AML-build-dvb-avl.patch
  packages/linux-drivers/amlogic/avl6862-aml/package.mk
  packages/linux-drivers/amlogic/avl6862-aml/system.d/amlogic-dvb.service
  projects/Amlogic/devices/S905/options
  projects/Amlogic/devices/S912/options
Labels: FEATURE, LE 9.0

#2504 busybox: bump package to v1.28.1
  packages/sysutils/busybox/config/busybox-host.conf
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/patches/busybox-01-umount-ignore-c.patch
  packages/sysutils/busybox/patches/busybox-02_silence-crond-startup-logging.patch
Labels: LE 9.0, PACKAGE, UPDATE

#2525 binutils: add patch to fix aarch64 ld regression
  packages/devel/binutils/patches/binutils-02-PR22764.patch
Labels: BUILDSYSTEM, LE 9.0, ROCKCHIP

#2530 librespot: update to 685fb4e
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_dns_sd.patch
  packages/addons/service/librespot/patches/librespot-02_kodi_hooks.patch
  packages/addons/service/librespot/patches/librespot-03_pulseaudio_sink.patch
  packages/addons/service/librespot/patches/librespot-04_add_kSupportsPlaylistV2_enum.patch
Labels: ADDONS, LE 9.0, UPDATE

#2531 librespot: update to 685fb4e (backport of #2530)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_dns_sd.patch
  packages/addons/service/librespot/patches/librespot-02_kodi_hooks.patch
  packages/addons/service/librespot/patches/librespot-03_pulseaudio_sink.patch
  packages/addons/service/librespot/patches/librespot-04_add_kSupportsPlaylistV2_enum.patch
Labels: ADDONS, LE 8.2, UPDATE

#2532 crazycat: fix broken patch
  packages/linux-driver-addons/dvb/crazycat/sources/backports/linux-302-AML-amlogic-video-dev.patch
Labels: BUGFIX, LE 9.0, MERGE ¯\_(ツ)_/¯ 💥
