Repository LibreELEC/LibreELEC.tv, pull requests merged in 2018-06, with the labels that each got.

#2730 Move partition labels to distro options
  distributions/LibreELEC/options
  packages/sysutils/busybox/package.mk
  packages/tools/u-boot/package.mk
  projects/Amlogic/bootloader/update.sh
  projects/Amlogic/devices/KVIM/bootloader/boot.ini
  projects/Amlogic/devices/KVIM2/bootloader/boot.ini
  projects/Amlogic/devices/LePotato/bootloader/boot.ini
  projects/Amlogic/devices/Odroid_C2/bootloader/boot.ini
  projects/Amlogic/initramfs/platform_init
  projects/Amlogic/packages/u-boot/package.mk
  scripts/mkimage
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2743 openssl: fix host build
  packages/security/openssl/package.mk
Labels: BUGFIX, LE 9.0, PACKAGE

#2680 kodi: mid-May 2018
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/screensavers.rsxs/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.14-use-alsa-and-pulse-together.patch
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1003-pfcd_hevc_optimisations.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1004-added_upstream_mvc_patches.patch
  packages/multimedia/libdvdcss/package.mk
  packages/multimedia/libdvdnav/package.mk
  packages/multimedia/libdvdread/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2746 scripts/image: pass BOOTLABEL and DISKLABEL to mkimage
  scripts/image
Labels: BUGFIX

#2747 busybox: assign copyright to Team LE
  packages/sysutils/busybox/scripts/functions
Labels: LE 9.0, PACKAGE

#2751 pngquant: update to pngquant-2.12.0
  packages/addons/addon-depends/pngquant/package.mk
  packages/addons/addon-depends/pngquant/patches/pngquant-no-temp-dir.patch
Labels: LE 9.0, PACKAGE, UPDATE

#2731 enable LTO only for selected packages
  config/functions
  config/optimize
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/addon-depends/lcdd-depends/libugpio/package.mk
  packages/addons/addon-depends/libdvbcsa/package.mk
  packages/addons/addon-depends/libiconv/package.mk
  packages/addons/addon-depends/network-tools-depends/iw/package.mk
  packages/addons/addon-depends/rsyslog-depends/librelp/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/browser/chromium/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/tools/mono/package.mk
  packages/audio/alsa-lib/package.mk
  packages/audio/flac/package.mk
  packages/audio/fluidsynth/package.mk
  packages/audio/lame/package.mk
  packages/audio/libmodplug/package.mk
  packages/audio/libogg/package.mk
  packages/audio/libopenmpt/package.mk
  packages/audio/sidplay-libs/package.mk
  packages/audio/soxr/package.mk
  packages/databases/mysql/package.mk
  packages/debug/gdb/package.mk
  packages/debug/valgrind/package.mk
  packages/devel/dbus-glib/package.mk
  packages/devel/glibc/package.mk
  packages/devel/ncurses/package.mk
  packages/emulation/libretro-bluemsx/package.mk
  packages/emulation/libretro-dosbox/package.mk
  packages/emulation/libretro-fbalpha/package.mk
  packages/emulation/libretro-genplus/package.mk
  packages/emulation/libretro-mame/package.mk
  packages/emulation/libretro-mame2000/package.mk
  packages/emulation/libretro-mame2010/package.mk
  packages/emulation/libretro-mame2014/package.mk
  packages/emulation/libretro-ppsspp/package.mk
  packages/emulation/libretro-scummvm/package.mk
  packages/graphics/libraw/package.mk
  packages/lang/Python2/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/network/bluez/package.mk
  packages/network/openssh/package.mk
  packages/network/wpa_supplicant/package.mk
  packages/python/system/dbus-python/package.mk
  packages/python/system/simplejson/package.mk
  packages/readme.md
  packages/security/libgcrypt/package.mk
  packages/sysutils/ntfs-3g_ntfsprogs/package.mk
  packages/tools/grub/package.mk
  packages/wayland/wayland/package.mk
  packages/wayland/weston/package.mk
  packages/x11/driver/xf86-video-intel/package.mk
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2736 network-tools add-on buildfix
  packages/network/libnl/package.mk
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#2735 pulseaudio: remove fix and cleanup
  packages/audio/pulseaudio/package.mk
Labels: BUGFIX, LE 9.0

#2718 gcc: update to 8.1
  config/arch.aarch64
  config/arch.arm
  config/path
  packages/addons/service/tinc/package.mk
  packages/compress/lzo/package.mk
  packages/devel/glibc/package.mk
  packages/lang/gcc-linaro-arm-linux-gnuebihf/package.mk
  packages/lang/gcc/package.mk
  packages/linux/package.mk
  packages/security/nss/package.mk
  packages/sysutils/systemd/package.mk
  packages/tools/grub/patches/001-gcc8-fix-packed-not-aligned.patch
  projects/WeTek_Core/options
  projects/WeTek_Play/options
Labels: BUILDSYSTEM, LE 9.0, UPDATE, WORK IN PROGRESS

#2752 soxr: don't create libavutil dependency on ARM
  packages/audio/soxr/package.mk
Labels: BUGFIX, LE 9.0

#2754 gcc: switch linaro gcc for wetek core/play
  packages/lang/gcc-linaro-arm-linux-gnuebihf/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#2757 nss: drop supression of warnings
  packages/security/nss/package.mk
Labels: CLEANUP, LE 9.0

#2729 linux: update to linux-4.14.48
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/linux/package.mk
  packages/network/wireless-regdb/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2753 xf86-video-nvidia: update to xf86-video-nvidia-390.67
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: HARDWARE, LE 9.0, PACKAGE, UPDATE

#2755 xf86-video-nvidia-legacy: update to xf86-video-nvidia-legacy-340.107
  packages/x11/driver/xf86-video-nvidia-legacy/package.mk
Labels: HARDWARE, LE 9.0, PACKAGE, UPDATE

#2745 device-tree-amlogic: add LePotato dts files to EXTRA_TREE
  projects/Amlogic/packages/device-trees-amlogic/package.mk
Labels: BUGFIX, LE 9.0

#2727 kmscube: add package
  packages/graphics/kmscube/package.mk
Labels: LE 9.0, PACKAGE

#2739 mesa: change to use meson and update
  config/functions
  packages/graphics/mesa/package.mk
  packages/graphics/mesa/patches/mesa-0001-only-build-vl-winsys-dri-with-x11.patch
  packages/lang/llvm/package.mk
  packages/python/devel/Mako/package.mk
  packages/python/devel/MarkupSafe/package.mk
Labels: LE 9.0, UPDATE

#2651 Xorg server 1.20 update
  packages/graphics/mesa/package.mk
  packages/multimedia/libvdpau/package.mk
  packages/x11/driver/xf86-input-evdev/package.mk
  packages/x11/driver/xf86-video-intel/package.mk
  packages/x11/driver/xf86-video-vmware/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/lib/libXau/package.mk
  packages/x11/lib/libXcomposite/package.mk
  packages/x11/lib/libXdamage/package.mk
  packages/x11/lib/libXext/package.mk
  packages/x11/lib/libXfixes/package.mk
  packages/x11/lib/libXfont2/package.mk
  packages/x11/lib/libXi/package.mk
  packages/x11/lib/libXinerama/package.mk
  packages/x11/lib/libXmu/package.mk
  packages/x11/lib/libXrandr/package.mk
  packages/x11/lib/libXrender/package.mk
  packages/x11/lib/libXtst/package.mk
  packages/x11/lib/libXxf86vm/package.mk
  packages/x11/lib/libfontenc/package.mk
  packages/x11/lib/libxkbfile/package.mk
  packages/x11/lib/libxshmfence/package.mk
  packages/x11/proto/bigreqsproto/package.mk
  packages/x11/proto/compositeproto/package.mk
  packages/x11/proto/damageproto/package.mk
  packages/x11/proto/dri2proto/package.mk
  packages/x11/proto/fixesproto/package.mk
  packages/x11/proto/fontcacheproto/package.mk
  packages/x11/proto/fontsproto/package.mk
  packages/x11/proto/glproto/package.mk
  packages/x11/proto/inputproto/package.mk
  packages/x11/proto/kbproto/package.mk
  packages/x11/proto/presentproto/package.mk
  packages/x11/proto/randrproto/package.mk
  packages/x11/proto/recordproto/package.mk
  packages/x11/proto/renderproto/package.mk
  packages/x11/proto/videoproto/package.mk
  packages/x11/proto/xcmiscproto/package.mk
  packages/x11/proto/xextproto/package.mk
  packages/x11/proto/xf86dgaproto/package.mk
  packages/x11/proto/xf86driproto/package.mk
  packages/x11/proto/xf86miscproto/package.mk
  packages/x11/proto/xf86vidmodeproto/package.mk
  packages/x11/proto/xineramaproto/package.mk
  packages/x11/proto/xorgproto/package.mk
  packages/x11/proto/xproto/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: LE 9.0, MERGE BLOCKED, UPDATE

#2767 fix updating on android bootloader devices
  packages/sysutils/busybox/scripts/init
Labels: BUGFIX, LE 9.0

#2760 sqlite build shared
  packages/addons/addon-depends/mono-depends/mono_sqlite/package.mk
  packages/addons/addon-depends/mono-depends/mono_sqlite/sources/trigger_unpack
  packages/addons/tools/mono/package.mk
  packages/databases/sqlite/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#2768 iptables: fix README for saving rules
  packages/network/iptables/config/README
Labels: DOCUMENTATION, LE 9.0

#2771 debug_strip: use strip in PKG_BUILD_FLAGS
  config/functions
  packages/readme.md
Labels: BUILDSYSTEM, DOCUMENTATION, IMPROVEMENT, LE 9.0

#2766 some v4l2 and libdrm updates
  config/graphic
  packages/graphics/libdrm/package.mk
  packages/multimedia/ffmpeg/package.mk
Labels: FEATURE, LE 9.0

#2769 x11 build fixes
  packages/graphics/mesa/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/proto/xorgproto/package.mk
Labels: LE 9.0

#2748 build: only use gnu-style hash table in binaries
  config/optimize
  packages/lang/gcc/package.mk
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0, MERGE BLOCKED

#2774 tinc: update to 1.1pre16
  packages/addons/addon-depends/tinc-depends/miniupnpc/package.mk
  packages/addons/service/tinc/changelog.txt
  packages/addons/service/tinc/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2770 init: strip leading / from BOOT_IMAGE & DISK_IMAGE, normalising for all projects
  packages/sysutils/busybox/scripts/init
Labels: BUGFIX, LE 9.0

#2725 Python2: update to Python2-2.7.15, bump Python-related packages
  packages/addons/addon-depends/python-libusb1/package.mk
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
  packages/addons/addon-depends/rpi-tools-depends/gpiozero/package.mk
  packages/addons/addon-depends/rpi-tools-depends/lan951x-led-ctl/package.mk
  packages/addons/addon-depends/rpi-tools-depends/picamera/package.mk
  packages/addons/tools/rpi-tools/changelog.txt
  packages/addons/tools/rpi-tools/package.mk
  packages/lang/Python2/package.mk
  packages/lang/Python2/patches/Python2-2.7.11-010-fix-python-config.patch
  packages/python/devel/pathlib/package.mk
  packages/python/devel/pygobject/package.mk
  packages/python/devel/setuptools/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/graphics/Pillow/patches/Pillow-0001-crosscompiling.patch
  packages/python/security/pycryptodome/package.mk
  packages/python/system/dbus-python/package.mk
  packages/python/system/simplejson/package.mk
Labels: ADDONS, LE 9.0, PACKAGE, UPDATE

#2780 fix missing dependency in libXau
  packages/x11/lib/libXau/package.mk
Labels: BUGFIX, LE 9.0

#2776 linux (Generic): update to linux-4.17.2
  config/functions
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/hauppauge/package.mk
  packages/linux-drivers/RTL8188EU/package.mk
  packages/linux-drivers/RTL8192CU/package.mk
  packages/linux-drivers/RTL8192CU/patches/RTL8192CU-0201-kernel-4.7.patch
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8192DU/patches/RTL8192DU-0002-PR61.patch
  packages/linux-drivers/RTL8192DU/patches/RTL8192DU-0003-fix-vfs-read.patch
  packages/linux-drivers/RTL8192DU/patches/aarch64/RTL8192DU-0101-PR63.patch
  packages/linux-drivers/RTL8192DU/patches/aarch64/RTL8192DU-0102-fix-multiple-definitions.patch
  packages/linux-drivers/RTL8192EU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/amlogic/fd628-aml/package.mk
  packages/linux-drivers/bcm_sta/package.mk
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0010-kernel-4.15.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0011-fix-kernel-warnings.patch
  packages/linux-drivers/gpu-aml/package.mk
  packages/linux-drivers/intel_nuc_led/package.mk
  packages/linux-drivers/slice-drivers/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux-firmware/kernel-firmware/patches/kernel-firmware-01-add-vega12-20-m-firmwares.patch
  packages/linux/package.mk
  packages/linux/patches/default/linux-051-ouya_controller_support.patch
  packages/linux/patches/default/linux-053-spinelplus-remote-0.2.patch
  packages/linux/patches/default/linux-999-Revert-drm_i915_edp-Allow-alternate-fixed-mode-for-eDP-if-available.patch
  packages/linux/patches/default/linux-999-backport-4.18-nuvoton-cir-fix.patch
  packages/linux/patches/default/linux-999-improve-ir-timeout-handling-of-ite-cir.patch
  packages/linux/patches/default/linux-999-improve-ir-timeout-handling.patch
  packages/linux/patches/default/linux-999.22-GLK-bug-105887-2-workarounds-2018-06-13-pfo229363.patch
  packages/tools/u-boot/package.mk
  packages/x11/xserver/xorg-server/patches/xorg-server-1.20.0-update_pci_ids.patch
  projects/Amlogic/packages/device-trees-amlogic/package.mk
  projects/Amlogic/packages/u-boot/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/Generic/options
Labels: BUILDSYSTEM, KERNEL, LE 9.0, PACKAGE, PATCH, UPDATE

#2761 linux: use linaro toolchain when KERNEL_LINARO_TOOLCHAIN is set
  config/path
  packages/lang/gcc-linaro-arm-linux-gnueabihf/package.mk
  packages/linux/package.mk
  projects/Rockchip/devices/MiQi/options
  projects/Rockchip/devices/TinkerBoard/options
  projects/WeTek_Core/options
  projects/WeTek_Play/options
Labels: BUGFIX, KERNEL, LE 9.0

#2782 tvmosaic: initial addon
  packages/addons/service/tvmosaic/changelog.txt
  packages/addons/service/tvmosaic/icon/icon.png
  packages/addons/service/tvmosaic/package.mk
  packages/addons/service/tvmosaic/source/bin/tvmosaic.cli
  packages/addons/service/tvmosaic/source/bin/tvmosaic.start
  packages/addons/service/tvmosaic/source/default.py
  packages/addons/service/tvmosaic/source/resources/language/English/strings.po
  packages/addons/service/tvmosaic/source/resources/settings.xml
  packages/addons/service/tvmosaic/source/settings-default.xml
  packages/addons/service/tvmosaic/source/system.d/service.tvmosaic.service
Labels: ADDONS, LE 9.0

#2784 tvmosaic: oops, tvm_delay is lower case
  packages/addons/service/tvmosaic/source/settings-default.xml
Labels: ADDONS, BUGFIX, LE 9.0

#2764 kodi: June 2018
  packages/devel/libcec/package.mk
  packages/devel/libcec/patches/cec-framework/libcec-0001-PR380.patch
  packages/devel/libcec/patches/libcec-001-drop-tinfo.patch
  packages/devel/libcec/patches/libcec-002-PR390.patch
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.14-use-alsa-and-pulse-together.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1003-pfcd_hevc_optimisations.patch
  projects/RPi/patches/kodi/kodi-0100-temp-add-pr13594.patch
  projects/WeTek_Core/patches/libcec/libcec-01-amlogic-make-p8platform-mutex-mutable.patch
  projects/WeTek_Play/patches/libcec/libcec-01-amlogic-make-p8platform-mutex-mutable.patch
Labels: LE 9.0, PACKAGE, PATCH, UPDATE

#2783 gpu-sunxi: Update to r8p1
  packages/linux-drivers/gpu-sunxi/package.mk
  packages/linux-drivers/gpu-sunxi/patches/0005-mali-Add-sunxi-platform.patch
  packages/linux-drivers/gpu-sunxi/patches/fix-building-with-4.16.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0001-makefile-Add-install-target-and-build-the-module-by-.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0002-mali-Support-building-against-4.6.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0003-mali-Support-building-against-4.8.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0004-mali-Print-the-mali-version-at-probe.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0006-mali-Allow-devfreq-to-run-without-power-models.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0007-mali-support-building-against-4.10.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0008-mali-support-building-against-4.11.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0009-mali-Fix-user-memory-domain-fault.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0010-mali-support-building-against-4.12.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0011-mali-support-building-against-4.13.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0012-mali-support-building-against-4.14.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0013-mali-support-building-against-4.15.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0014-mali-Make-devfreq-optional.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0015-Enable-parallel-building-passing-variable-to-Makefile.patch
  packages/linux-drivers/gpu-sunxi/patches/r6p2-01rel0/0016-mali-support-building-against-4.16.patch
Labels: ALLWINNER, CLEANUP, HARDWARE, KERNEL, UPDATE

#2777 ntfs-3g_ntfsprogs: fix mount problem caused by Windows 10 Creators Update
  packages/sysutils/ntfs-3g_ntfsprogs/patches/ntfs-3g_ntfsprogs-001-fix-mounting-after-Win10-Creators-Update.patch
Labels: BUGFIX, LE 9.0, PACKAGE, PATCH, UPDATE

#2795 system-tools: add stress-ng
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2789 zstd: update to zstd-1.3.4
  packages/compress/zstd/package.mk
Labels: LE 9.0, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, UPDATE

#2779 xf86-video-intel: update to xf86-video-intel-3d39506, add libdrm depe…
  packages/x11/driver/xf86-video-intel/package.mk
Labels: LE 9.0, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, UPDATE

#2792 Python2: remove --with-wctype-functions
  packages/lang/Python2/package.mk
Labels: BUGFIX, IMPROVEMENT, LE 9.0, PACKAGE, UPDATE

#2793 kodi.sh: return zero on succesful exit
  packages/mediacenter/kodi/scripts/kodi.sh
Labels: IMPROVEMENT, LE 9.0, PACKAGE, UPDATE

#2797 linux (Generic): update to linux-4.17.5
  projects/Generic/linux/linux.x86_64.conf
Labels: LE 9.0, PACKAGE, UPDATE, WORK IN PROGRESS

#2758 hyperion: update to latest version and add potential fix for Kodi 18 issue
  packages/addons/addon-depends/rpi_ws281x/package.mk
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
  packages/addons/service/hyperion/patches/hyperion-0004-fix-gcc7.patch
  packages/addons/service/hyperion/patches/hyperion-0004-fix-kodi18-start-event.patch
Labels: ADDONS, BUGFIX, LE 9.0

#2787 libbluray: bump to 1.0.2
  packages/multimedia/libbluray/package.mk
  packages/multimedia/libbluray/patches/libbluray-01-bump_to_Nevcairiel_vL20170904.patch
  packages/multimedia/libbluray/patches/libbluray-02-install-extra-MVC-headers.patch
Labels: LE 9.0, PACKAGE, PATCH, UPDATE

#2728 remove moonlight add
  packages/addons/addon-depends/moonlight-common-c/package.mk
  packages/addons/addon-depends/moonlight-embedded/package.mk
  packages/addons/addon-depends/moonlight-embedded/patches/moonlight-embedded-0001-link-against-libm.patch
  packages/addons/addon-depends/moonlight-embedded/patches/moonlight-embedded-0002-require-pthread.patch
  packages/addons/addon-depends/moonlight-embedded/patches/moonlight-embedded-0003-add-openssl-dependency.patch
  packages/addons/script/moonlight/changelog.txt
  packages/addons/script/moonlight/icon/icon.png
  packages/addons/script/moonlight/package.mk
Labels: ADDONS, CLEANUP, HELP WANTED, LE 9.0

#2684 sapphire: update add-on to 6.9
  packages/addons/driver/sapphire/changelog.txt
  packages/addons/driver/sapphire/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2800 samba: update to samba-4.8.3
  packages/network/samba/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2794 configure: drop unused build options
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/network-tools-depends/depends/libstatgrab/package.mk
  packages/addons/addon-depends/system-tools-depends/dtach/package.mk
  packages/addons/service/lcdd/package.mk
  packages/devel/elfutils/package.mk
  packages/devel/fribidi/package.mk
  packages/lang/Python3/package.mk
  packages/multimedia/libva/package.mk
  packages/network/avahi/package.mk
  packages/network/connman/package.mk
  packages/network/libnfs/package.mk
  packages/network/openvpn/package.mk
  packages/x11/font/font-misc-misc/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/proto/xcb-proto/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: CLEANUP, LE 9.0
