Repository LibreELEC/LibreELEC.tv, pull requests merged in 2018-09, with the labels that each got.

#2911 Inadyn: Update to 2.4
  packages/addons/service/inadyn/changelog.txt
  packages/addons/service/inadyn/package.mk
  packages/addons/service/inadyn/source/resources/settings.xml
Labels: ADDONS, LE 9.0, UPDATE

#2952 dotnet-runtime: update to 2.1.3
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#2953 librespot: update to a4e0f58
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-02_kodi_hooks.patch
  packages/addons/service/librespot/patches/librespot-04_status_instead_of_spawn.patch
  packages/addons/service/librespot/source/addon.py
  packages/addons/service/librespot/source/bin/librespot.onevent
  packages/addons/service/librespot/source/bin/librespot.start
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/resources/language/English/strings.po
  packages/addons/service/librespot/source/resources/lib/ls_librespot.py
  packages/addons/service/librespot/source/resources/lib/ls_log.py
  packages/addons/service/librespot/source/resources/lib/ls_monitor.py
  packages/addons/service/librespot/source/resources/lib/ls_player.py
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
  packages/addons/service/librespot/source/resources/settings.xml
  packages/addons/service/librespot/source/settings-default.xml
Labels: ADDONS, LE 9.0, UPDATE

#2956 Cleanup OOTB IR remote support and make it configurable
  distributions/LibreELEC/options
  packages/sysutils/v4l-utils/package.mk
  projects/Amlogic/devices/Odroid_C2/options
  projects/Amlogic/devices/WeTek_Hub/options
  projects/Amlogic/devices/WeTek_Play_2/options
Labels: BUILDSYSTEM, CLEANUP, IMPROVEMENT, LE 9.0

#2960 inputstream.adaptive: update to 2.2.27
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, BUGFIX, UPDATE

#2931 ffmpeg: cleanup
  packages/multimedia/ffmpeg/package.mk
Labels: BUILDSYSTEM, CLEANUP, LE 9.0, PACKAGE

#2945 cxxtools: remove unneeded patch
  packages/addons/addon-depends/cxxtools/patches/cxxtools-2.2-no_shared_flag.patch
Labels: ADDONS, CLEANUP, LE 9.0, PATCH

#2860 SDL2: update to v2.0.8 / added cmake toolchain opts
  packages/multimedia/SDL2/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2948 libssh: explicitly disable Kerberos support
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/network/libssh/package.mk
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#2943 scripts/get_archive, tools-distro-tool: fix wget redirection issue when wget running in background
  scripts/get_archive
  tools/distro-tool
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#2959 wireless-regdb: update to wireless-regdb-2018.09.07
  packages/network/wireless-regdb/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2961 mesa: update to mesa-18.2.0
  packages/graphics/mesa/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2962 Python3: update to Python3-3.7.0
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/Python3-0000-default-is-optimized.patch
  packages/lang/Python3/patches/Python3-0100-buildroot-patches.patch
Labels: LE 9.0, PACKAGE, PATCH, UPDATE

#2964 buildsystem: better support for project and device config files
  config/options
  scripts/install
Labels: BUILDSYSTEM, LE 9.0

#2963 linux: ath9k: enable hwcrypt and Channel Context support
  packages/linux/modprobe.d/ath9k.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/Generic/packages/linux/modprobe.d/ath9k.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/packages/linux/modprobe.d/ath9k.conf
Labels: HARDWARE, LE 9.0

#2957 busybox: don't fix GPT tables when partition scheme is MBR
  packages/sysutils/busybox/scripts/fs-resize
Labels: IMPROVEMENT, LE 9.0, PACKAGE

#2966 Pythons: bump internal Python3 version, add reminders
  packages/lang/Python2/package.mk
  packages/lang/Python3/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#2969 Python3, util-linux: fix uuid build and rebuild issues
  packages/lang/Python3/package.mk
  packages/sysutils/util-linux/package.mk
Labels: BUGFIX, BUILDSYSTEM, PACKAGE

#2967 meson: update to 0.47.2
  packages/python/devel/meson/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2955 linux (RPi): update to 4.14.68
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/Slice/patches/linux/linux-04-rtc-pcf8523-c.patch
  projects/RPi/devices/Slice/patches/linux/linux-05-cs4265-c.patch
  projects/RPi/devices/Slice3/patches/linux/linux-04-rtc-pcf8523-c.patch
  projects/RPi/devices/Slice3/patches/linux/linux-05-cs4265-c.patch
Labels: KERNEL, LE 9.0, UPDATE

#2930 rsyslog: update to latest
  packages/addons/addon-depends/rsyslog-depends/libestr/package.mk
  packages/addons/addon-depends/rsyslog-depends/libfastjson/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblogging/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblognorm/package.mk
  packages/addons/addon-depends/rsyslog-depends/librelp/package.mk
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/rsyslog/source/resources/settings.xml
  packages/addons/service/rsyslog/source/settings-default.xml
Labels: ADDONS, LE 9.0, UPDATE

#2972 linux: bump amlogic-3.14
  packages/linux/package.mk
Labels: LE 9.0, UPDATE

#2971 scripts/get: make hash output easier to copy
  scripts/get_archive
Labels: IMPROVEMENT, LE 9.0

#2983 update mame cores
  packages/emulation/libretro-mame2000/package.mk
  packages/emulation/libretro-mame2003/package.mk
  packages/emulation/libretro-mame2010/package.mk
  packages/emulation/libretro-mame2010/patches/libretro-mame2010-0001_fix-cross-build.patch
  packages/emulation/libretro-mame2014/package.mk
  packages/emulation/libretro-mame2014/patches/libretro-mame2014-0001_fix-cross-compile.patch
Labels: ADDONS, LE 9.0, UPDATE

#2981 fix game.libretro.mame20xx addons
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2000/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2000/patches/game.libretro.mame2000-0001-fix-cross-compile.patch
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2000/sources/CMakeLists.txt
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2000/sources/game.libretro.mame2000/addon.xml
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2000/sources/game.libretro.mame2000/icon.png
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2003/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2003/patches/game.libretro.mame2003-0001-fix-cross-compile.patch
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2003/sources/CMakeLists.txt
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2003/sources/game.libretro.mame2003/addon.xml
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2003/sources/game.libretro.mame2003/icon.png
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2010/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2010/patches/game.libretro.mame2010-0001-fix-cross-compile.patch
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2010/sources/CMakeLists.txt
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2010/sources/game.libretro.mame2010/addon.xml
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2010/sources/game.libretro.mame2010/icon.png
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2014/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2014/patches/game.libretro.mame2014-0001-fix-cross-compile.patch
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2014/sources/CMakeLists.txt
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2014/sources/game.libretro.mame2014/addon.xml
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2014/sources/game.libretro.mame2014/icon.png
Labels: ADDONS, BUGFIX, LE 9.0

#2989 busybox: remove passwd script because we have real one
  packages/sysutils/busybox/scripts/passwd
Labels: CLEANUP, LE 9.0

#2979 scripts/get: wget uses bar indicators
  scripts/get_archive
Labels: BUILDSYSTEM, LE 9.0

#2974 samba: update to samba-4.9.0
  packages/network/samba/config/samba4-cache.txt
  packages/network/samba/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2976 curl: update to curl-7.61.1
  packages/security/openssl/cert/cacert.pem
  packages/web/curl/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2977 sqlite: update to sqlite-autoconf-3250000
  packages/databases/sqlite/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2982 Update various packages (201809)
  packages/devel/elfutils/package.mk
  packages/textproc/libxml2/package.mk
  packages/textproc/libxslt/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2997 fixes $VERBOSE usage
  config/options
  scripts/get_archive
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2998 supporting sabayon host distro, quite straightforward, as a flavour of gentoo
  scripts/checkdeps
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2970 fix crossbuilding heimdal by adding dependency to host-ncurses
  packages/devel/heimdal/package.mk
Labels: BUGFIX, LE 9.0

#2996 Emby: update to 3.5.3.0
  packages/addons/addon-depends/dotnet-runtime-depends/curl3/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/userspace-rcu/package.mk
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby/changelog.txt
  packages/addons/service/emby/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#2991 busybox: drop NFS support for linux < 2.6.23 (enable NFSv4)
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/package.mk
Labels: IMPROVEMENT, LE 9.0, PACKAGE, UPDATE

#3000 samba: update to samba-4.9.1
  packages/network/samba/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2908 linux (Generic): update to linux-4.18.10
  packages/linux-firmware/intel-ucode/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  projects/Generic/linux/linux.x86_64.conf
Labels: LE 9.0, PACKAGE, UPDATE

#2913 linux (RPi): update to 4.18.10
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-051-ouya_controller_support.patch
  packages/linux/patches/raspberrypi/linux-053-spinelplus-remote-0.2.patch
  packages/linux/patches/raspberrypi/linux-999-improve-ir-timeout-handling.patch
  packages/linux/patches/raspberrypi/linux-999-revert-dvb-t680ci-commit.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/filesystem/usr/share/alsa/cards/AlloDigiOne.conf
  projects/RPi/filesystem/usr/share/alsa/cards/IQAudIODigi.conf
  projects/RPi/filesystem/usr/share/alsa/cards/JustBoomDigi.conf
  projects/RPi/filesystem/usr/share/alsa/cards/RPi-WM8804.conf
Labels: KERNEL, LE 9.0, PACKAGE, UPDATE

#2990 mesa: update to mesa-18.2.1
  packages/graphics/mesa/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#2984 Khadas VIM: enable VIM IR remote in addition to default remotes
  packages/sysutils/v4l-utils/keymaps/khadas_vim
  projects/Amlogic/devices/KVIM/options
Labels: IMPROVEMENT, LE 9.0

#2987 nano: update to nano-3.0
  packages/tools/nano/package.mk
Labels: LE 9.0, UPDATE

#2985 llvm: update to 7.0.0
  packages/lang/llvm/package.mk
Labels: BUILDSYSTEM, LE 9.0, UPDATE

#2986 cmake: update to cmake-3.12.2
  packages/devel/cmake/package.mk
Labels: BUILDSYSTEM, LE 9.0, UPDATE

#3002 texturecache.py/bcmstat: new packages
  packages/mediacenter/kodi/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/bcmstat/package.mk
  packages/tools/texturecache.py/package.mk
Labels: LE 9.0, PACKAGE

#3005 LibreELEC-settings: update to LibreELEC-settings-e93c231
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 9.0, PACKAGE, UPDATE
