Repository LibreELEC/LibreELEC.tv, pull requests merged in 2018-11, with the labels that each got.

#3074 tinc: update to 1.1pre17
  packages/addons/service/tinc/changelog.txt
  packages/addons/service/tinc/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3075 Inadyn 2.5
  packages/addons/addon-depends/inadyn/libconfuse/package.mk
  packages/addons/service/inadyn/changelog.txt
  packages/addons/service/inadyn/package.mk
  packages/addons/service/inadyn/source/bin/inadyn-service
  packages/addons/service/inadyn/source/resources/settings.xml
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#3062 squeezelite: link instead dlopen again and update
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/patches/squeezelite-01-makefile.patch
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#3076 dispmanx_vnc: update to 5bde54b
  packages/addons/service/dispmanx_vnc/changelog.txt
  packages/addons/service/dispmanx_vnc/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3054 bluez: default enable bluetooth services
  packages/network/bluez/default.d/bluez.conf
  packages/network/bluez/package.mk
  packages/network/bluez/system.d/bluetooth-defaults.service
  packages/network/bluez/system.d/bluetooth.service
Labels: IMPROVEMENT, LE 9.0, PACKAGE

#2993 Improve fs-resize, fix delay and simplify
  packages/sysutils/busybox/scripts/fs-resize
  packages/sysutils/gptfdisk/package.mk
  packages/sysutils/util-linux/package.mk
Labels: IMPROVEMENT, LE 9.0

#3072 mesa: update to mesa-18.2.4
  packages/graphics/mesa/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3057 kodi: Hack around 'not available' notification with built-in dependen…
  packages/mediacenter/kodi/patches/kodi-999.99.avoid-bogus-dependency-not-available-notification.patch
Labels: LE 9.0, PACKAGE, PATCH

#3071 Amlogic/update.sh: fix issues with binary compatability using UUIDs
  packages/tools/u-boot/package.mk
  projects/Amlogic/bootloader/mkimage
  projects/Amlogic/bootloader/update.sh
  projects/Amlogic/devices/KVIM/bootloader/boot.ini
  projects/Amlogic/devices/KVIM2/bootloader/boot.ini
  projects/Amlogic/devices/LePotato/bootloader/boot.ini
  projects/Amlogic/devices/Odroid_C2/bootloader/boot.ini
  projects/Amlogic/packages/u-boot/package.mk
Labels: AMLOGIC, BUGFIX, CLEANUP, LE 9.0

#3082 expat: use official release download URL
  packages/textproc/expat/package.mk
Labels: CLEANUP, LE 9.0

#3083 kodi: update to kodi-18.0b5-Leia
  packages/devel/libcec/package.mk
  packages/devel/libcec/patches/cec-framework/libcec-0001-PR380.patch
  packages/devel/libcec/patches/libcec-001-drop-tinfo.patch
  packages/devel/libcec/patches/libcec-002-PR390.patch
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sacd/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/p8-platform/package.mk
  packages/mediacenter/p8-platform/patches/p8-platform-02-cmake_install_prefix_toolchain.patch
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/libdvdcss/package.mk
  packages/virtual/mediacenter/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3058 Rockchip: package updates
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1006-rkmppdec-continue-on-errinfo-frame.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1007-rkmppdec-enable-mpeg2.patch
  packages/multimedia/rkmpp/package.mk
  packages/tools/u-boot/patches/rockchip/u-boot-0010-rk3288-tinker-enable-emmc.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0011-Revert-rockchip-dts-rk3328-evb-Enable-gmac2io-for-rk.patch
  projects/Rockchip/README.md
  projects/Rockchip/devices/MiQi/kodi/appliance.xml
  projects/Rockchip/devices/TinkerBoard/README.md
  projects/Rockchip/devices/TinkerBoard/kodi/appliance.xml
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0001-rockchip.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0005-dts.patch
Labels: LE 9.0, ROCKCHIP

#3068 config/optimize: add march=native to host cflags
  config/optimize
Labels: BUILDSYSTEM, LE 9.0

#3053 config: Buildsystem cleanup
  config/arch.x86_64
  config/functions
  config/options
  config/show_config
  config/sources
  distributions/LibreELEC/version
  projects/Generic/options
  scripts/image
Labels: BUILDSYSTEM, CLEANUP, LE 9.0

#3078 buildsystem: unpacking / extracting cleanup
  config/functions
  scripts/build
  scripts/create_addon
  scripts/extract
  scripts/install
  scripts/unpack
Labels: BUILDSYSTEM, CLEANUP, LE 9.0

#3079 treewide: retire $SED
  config/functions
  config/path
  packages/addons/addon-depends/cxxtools/package.mk
  packages/addons/addon-depends/tntnet/package.mk
  packages/addons/repository/repository.kodinerds/package.mk
  packages/addons/repository/repository.linuxserver.docker/package.mk
  packages/addons/script/script.config.vdr/package.mk
  packages/addons/service/fd628/package.mk
  packages/addons/service/touchscreen/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/audio/taglib/package.mk
  packages/devel/ncurses/package.mk
  packages/mediacenter/kodi/package.mk
  packages/multimedia/SDL2/package.mk
  packages/print/freetype/package.mk
  packages/textproc/libxml2/package.mk
  packages/textproc/libxslt/package.mk
Labels: BUILDSYSTEM, CLEANUP, LE 9.0

#3085 kodi: update SHA for corrected rockchip_18.0b5-Leia tag
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, LE 9.0, ROCKCHIP

#3081 eventlircd: prevent race with libinput / kodi
  packages/sysutils/eventlircd/udev.d/98-eventlircd.rules
Labels: BUGFIX, LE 9.0

#3090 libcec: drop python wrapper
  packages/devel/libcec/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3080 HACK: fix audio for WP1
  projects/WeTek_Core/patches/kodi/kodi-100.26-hack-fix-audio.patch
  projects/WeTek_Play/patches/kodi/kodi-100.26-hack-fix-audio.patch
Labels: BUGFIX, LE 9.0

#3091 WeTek_Core/WeTek_Play: fixup libcec support
  projects/WeTek_Core/patches/libcec/libcec-00-amlogic-support.patch
  projects/WeTek_Play/patches/libcec/libcec-00-amlogic-support.patch
Labels: LE 9.0, PATCH, UPDATE

#3088 crazycat: update to 2018-11-04
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree_cc/package.mk
  projects/Generic/options
  projects/RPi/options
Labels: LE 9.0, UPDATE

#3094 lcdd: build with optimization
  packages/addons/service/lcdd/changelog.txt
  packages/addons/service/lcdd/package.mk
Labels: ADDONS, BUGFIX, LE 9.0

#3077 kodi: use project specific cputemp scripts for all projects
  packages/mediacenter/kodi/config/advancedsettings.xml
  packages/mediacenter/kodi/package.mk
  projects/Amlogic/filesystem/usr/bin/cputemp
  projects/Amlogic/filesystem/usr/bin/gputemp
  projects/Amlogic/kodi/advancedsettings.xml
  projects/Generic/filesystem/usr/bin/cputemp
  projects/Generic/filesystem/usr/bin/gputemp
  projects/Generic/kodi/advancedsettings.xml
  projects/RPi/filesystem/usr/bin/cputemp
  projects/RPi/filesystem/usr/bin/gputemp
  projects/Rockchip/filesystem/usr/bin/cputemp
  projects/Rockchip/filesystem/usr/bin/gputemp
  projects/WeTek_Core/filesystem/usr/bin/cputemp
  projects/WeTek_Core/filesystem/usr/bin/gputemp
  projects/WeTek_Core/kodi/advancedsettings.xml
  projects/WeTek_Play/filesystem/usr/bin/cputemp
  projects/WeTek_Play/filesystem/usr/bin/gputemp
  projects/WeTek_Play/kodi/advancedsettings.xml
Labels: AMLOGIC, IMPROVEMENT, KERNEL, LE 9.0, PACKAGE, ROCKCHIP

#3092 samba: update to samba-4.9.2
  packages/network/samba/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3100 projects/WeTek_Core: Load amlvideodri module at startup
  projects/WeTek_Core/filesystem/usr/lib/modules-load.d/amlvideodri.conf
Labels: BUGFIX, LE 9.0

#3101 kodi: use relative sym link path to keep page build happy
  projects/Amlogic/filesystem/usr/bin/gputemp
  projects/Generic/filesystem/usr/bin/gputemp
  projects/RPi/filesystem/usr/bin/gputemp
  projects/Rockchip/filesystem/usr/bin/gputemp
  projects/WeTek_Core/filesystem/usr/bin/gputemp
  projects/WeTek_Play/filesystem/usr/bin/gputemp
Labels: BUILDSYSTEM, LE 9.0

#3096 u-boot: Bump to 2018.09
  packages/tools/u-boot/package.mk
  packages/tools/u-boot/patches/2017.09/u-boot-0001-dont-build-libfdt.patch
  packages/tools/u-boot/patches/2018.09/u-boot-0001-dont-build-libfdt.patch
Labels: PACKAGE, UPDATE

#3103 silence jenkins
  packages/addons/service/emby/package.mk
  packages/addons/service/inadyn/package.mk
  packages/addons/service/tinc/package.mk
  packages/addons/service/tvmosaic/package.mk
Labels: ADDONS, BUGFIX, LE 9.0

#3095 hyperion: update to 1d125d8
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
  packages/addons/service/hyperion/patches/hyperion-0004-fix-kodi18-start-event.patch
Labels: ADDONS, LE 9.0, UPDATE

#3106 scripts/get_git: fix a couple of errors
  scripts/get_git
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#3052 update_retroplayer-addons: use git ls-remote to avoid cloning the ent…
  tools/mkpkg/update_retroplayer-addons
Labels: BUILDSYSTEM, CLEANUP, IMPROVEMENT, LE 9.0

#3110 update_retroplayer-addons: use default branch instead of master
  tools/mkpkg/update_retroplayer-addons
Labels: ADDONS, BUGFIX, LE 9.0, MERGE ¯\_(ツ)_/¯ 💥

#3097 vdr-addon 109 / script.config.vdr 103
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-restfulapi/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-restfulapi/patches/vdr-plugin-restfulapi-02-webapp-path.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-vnsiserver/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-001-fix_segv.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-002-channel_count.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-003-detect.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-01-svdrp-modt-recflag.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-02-invalid-locking-sequence.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-03-locking-channel-display.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-04-locking-channel-display-2.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-05-shutdown.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-06-channel-switch.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-07-disabling-mtd.patch
  packages/addons/script/script.config.vdr/changelog.txt
  packages/addons/script/script.config.vdr/package.mk
  packages/addons/script/script.config.vdr/sources/addon.xml
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
  packages/addons/service/vdr-addon/source/system.d/service.multimedia.vdr-addon.service
Labels: ADDONS, IMPROVEMENT, LE 9.0, UPDATE

#3108 mesa: update to mesa-18.2.5
  packages/graphics/mesa/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3107 xf86-video-nvidia: update to xf86-video-nvidia-410.78
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: HARDWARE, LE 9.0, PACKAGE, UPDATE

#3113 busybox: enable dmesg and less in init
  packages/sysutils/busybox/config/busybox-init.conf
Labels: IMPROVEMENT, LE 9.0

#3115 scripts/mkimage: show message when temp folder is full
  scripts/mkimage
Labels: BUILDSYSTEM, LE 9.0

#3109 buildsystem: printf conversion to function
  config/functions
  config/path
  scripts/autoreconf
  scripts/build
  scripts/clean
  scripts/create_addon
  scripts/get_archive
  scripts/get_file
  scripts/get_git
  scripts/install
  scripts/unpack
Labels: BUILDSYSTEM, CLEANUP

#3117 kodi: update to 18.0rc1
  packages/devel/libcec/package.mk
  packages/mediacenter/kodi/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3089 iptables: update to iptables-1.8.2
  packages/network/iptables/package.mk
  packages/network/libnftnl/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3099 visualization.projectm: update to e6c5ab3
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/patches/visualization.projectm-01-fix-crash-at-stop.patch
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#3121 scripts/mkimage: die is unknown; exit 1
  scripts/mkimage
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#3118 xf86-video-nvidia: fix libglx_nvidia.so
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: BUGFIX, HARDWARE, LE 9.0, PACKAGE, UPDATE

#3116 eventlircd: Fix OSMC Remote ContextMenu mapping
  packages/sysutils/eventlircd/evmap/osmc_rf.evmap
  packages/sysutils/eventlircd/evmap/osmc_rf2.evmap
Labels: BUGFIX, LE 9.0

#3084 linux (RPi/Generic): update to linux-4.19.4 (?)
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-999-r8169-fix-broken-Wake-on-LAN-from-S5-poweroff.patch
  packages/linux/patches/default/linux-999-revert-dvb-t680ci-commit.patch
  packages/linux/patches/raspberrypi/linux-999-revert-dvb-t680ci-commit.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 9.0, PACKAGE, UPDATE

#3122 egl fix for amlogic
  packages/graphics/opengl-meson/package.mk
Labels: BUGFIX, LE 9.0

#3093 docker: update Docker to release 18.06.1-ce
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/addon-depends/tini/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/patches/docker-001-use-addon-storage-location.patch
  packages/addons/service/docker/patches/docker-002-use-short-expected-commit-values.patch
  packages/addons/service/docker/source/config/docker.conf
Labels: ADDONS, LE 9.0, PACKAGE, UPDATE

#3111 Tvh and ffmpeg-tools update
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/opus/package.mk
  packages/addons/addon-depends/tvh-dtv-scan-tables/package.mk
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/source/resources/language/English/strings.po
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/aom/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3124 aom: disable options
  packages/multimedia/aom/package.mk
Labels: ADDONS, BUGFIX, LE 9.0, MERGE ¯\_(ツ)_/¯ 💥

#3125 aom: disable NEON when not supported
  packages/multimedia/aom/package.mk
Labels: ADDONS, BUGFIX, LE 9.0, PACKAGE

#3127 scripts/create_addon: fix typo of official
  scripts/create_addon
Labels: BUGFIX, LE 9.0

#3128 Rockchip: fix kernel crash when kodi 18.0rc1 starts
  packages/multimedia/rkmpp/package.mk
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0001-rockchip.patch
  projects/Rockchip/patches/linux/rockchip-4.4/linux-0006-rtl8211f.patch
Labels: BUGFIX, KERNEL, LE 9.0, ROCKCHIP

#3069 kodi: enable dav1d in ffmpeg backend
  packages/lang/nasm/package.mk
  packages/multimedia/dav1d/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1008-dav1d-enable-av1.patch
Labels: FEATURE, LE 9.0

#3137 ffmpeg: enable av1 just for neon/sse
  packages/multimedia/ffmpeg/package.mk
Labels: BUGFIX, LE 9.0, PACKAGE

#3136 buildsystem: proxy calls to package functions
  config/functions
  config/path
  scripts/build
  scripts/create_addon
  scripts/install
  scripts/unpack
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#3132 buildsystem: fix custom colors
  config/functions
Labels: BUGFIX, BUILDSYSTEM, LE 9.0

#3123 dvb-latest: update to 2018-11-23
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree/patches/media_tree-01-hauppauge.patch
  packages/linux-driver-addons/dvb/depends/media_tree/patches/media_tree-02-add-t230c2.patch
  packages/linux-driver-addons/dvb/dvb-latest/package.mk
Labels: LE 9.0, UPDATE

#3129 samba: update to samba-4.9.3
  packages/network/samba/package.mk
Labels: BUGFIX, LE 9.0, PACKAGE, UPDATE

#3135 mesa: update to mesa-18.2.6
  packages/graphics/mesa/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3126 zstd: update to 1.3.7
  packages/compress/zstd/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3139 dotnet-runtime: update to 2.1.6
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 9.0, UPDATE
