Repository LibreELEC/LibreELEC.tv, pull requests merged in 2019-04, with the labels that each got.

#3382 kodi: set MALLOC_MMAP_THRESHOLD_=8192 for aarch64 kernels
  packages/mediacenter/kodi/scripts/kodi-config
Labels: KERNEL, LE 9.2

#3391 kodi: set MALLOC_MMAP_THRESHOLD_=8192 for aarch64 kernels (backport)
  packages/mediacenter/kodi/scripts/kodi-config
Labels: IMPROVEMENT, LE 9.0, PACKAGE

#3384 [le10] v4l-utils: add keymap for Zotac remote
  packages/sysutils/v4l-utils/keymaps/zotac
Labels: BACKPORT DONE, IMPROVEMENT, LE 9.2

#3385 [le90] v4l-utils: add keymap for Zotac remote
  packages/sysutils/v4l-utils/keymaps/zotac
Labels: IMPROVEMENT, LE 9.0

#3390 Fixed RTL8723BS detecting bluetooth devices [backport]
  projects/Generic/linux/linux.x86_64.conf
Labels: KERNEL, LE 9.0

#3379 [le10] improve Xbox DVD remote response
  packages/linux/patches/default/linux-903-backport-rcmm-ir-decoder.patch
  packages/linux/patches/default/linux-904-improve-xbox-dvd-remote-performance.patch
  packages/linux/patches/raspberrypi/linux-903-backport-rcmm-ir-decoder.patch
  packages/linux/patches/raspberrypi/linux-904-improve-xbox-dvd-remote-performance.patch
  packages/sysutils/v4l-utils/keymaps/xbox_dvd
  packages/sysutils/v4l-utils/patches/v4l-utils-0002-backport-imon-and-rcmm-protocol-support.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-0003-add-xbox-dvd-protocol.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: BACKPORT DONE, IMPROVEMENT, KERNEL, LE 9.2

#3380 [le9.0] Improve Xbox DVD remote response
  packages/linux/patches/default/linux-903-backport-rcmm-ir-decoder.patch
  packages/linux/patches/default/linux-904-improve-xbox-dvd-remote-performance.patch
  packages/linux/patches/raspberrypi/linux-903-backport-rcmm-ir-decoder.patch
  packages/linux/patches/raspberrypi/linux-904-improve-xbox-dvd-remote-performance.patch
  packages/sysutils/v4l-utils/keymaps/xbox_dvd
  packages/sysutils/v4l-utils/patches/v4l-utils-0002-backport-imon-and-rcmm-protocol-support.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-0003-add-xbox-dvd-protocol.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: IMPROVEMENT, KERNEL, LE 9.0

#3403 mariadb: bump, allow localhost connections
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/source/bin/mariadb.start
Labels: ADDONS, IMPROVEMENT

#3404 mariadb: bump, allow localhost connections
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/source/bin/mariadb.start
Labels: ADDONS, IMPROVEMENT

#3407 mkpkg_media_build wrong linux_media location.
  tools/mkpkg/mkpkg_media_build
Labels: BUGFIX, LE 10.0

#3394 gcc-linaro toolchains: bump to 8.3-2019.03 and rename to gcc-arm
  config/path
  packages/lang/gcc-arm-aarch64-linux-gnu/package.mk
  packages/lang/gcc-arm-arm-linux-gnueabihf/package.mk
  packages/linux/package.mk
  projects/Rockchip/devices/MiQi/options
  projects/Rockchip/devices/TinkerBoard/options
Labels: LE 9.2, TOOLCHAIN, UPDATE

#3408 samba: update to samba-4.9.6
  packages/network/samba/package.mk
Labels: BACKPORT DONE, BUGFIX, LE 9.2, PACKAGE, UPDATE

#3409 samba: update to samba-4.9.6 [backport]
  packages/network/samba/package.mk
Labels: BUGFIX, LE 9.0, PACKAGE, UPDATE

#3395 libtool: don't install source files on target
  packages/devel/libtool/package.mk
Labels: IMPROVEMENT, LE 9.2, PACKAGE

#3375 linux (RPi/Generic): update to linux-5.0.7
  config/functions
  packages/devel/elfutils/package.mk
  packages/devel/elfutils/patches/elfutils-001-dont-build-executables.patch
  packages/linux/package.mk
  packages/linux/patches/default/linux-900-fix-libelf-detection.patch
  packages/linux/patches/default/linux-990.06-hda-Avoid-outputting-HDMI-audio-before-prepare-.patch
  packages/network/wireless-regdb/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 10.0

#3416 samba: set fruit:model = Xserve for macOS finder
  packages/network/samba/config/smb.conf
Labels: BUGFIX, LE 9.2, PACKAGE

#2431 Add PKG_STAMP to trigger a package rebuild
  config/functions
  packages/linux/package.mk
  packages/tools/u-boot/package.mk
  scripts/build
Labels: BUILDSYSTEM, FEATURE, WORK IN PROGRESS

#3420 texturecache.py: update to texturecache.py-2.5.0
  packages/tools/texturecache.py/package.mk
Labels: BACKPORT DONE, LE 9.2, PACKAGE, UPDATE

#3421 texturecache.py: update to texturecache.py-2.5.0 [backport]
  packages/tools/texturecache.py/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3355 docker: updated to 18.09.5
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/go/patches/go-0001-add-ca-cert-location.patch
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#3406 tools/docker: install python3
  tools/docker/README.md
  tools/docker/bionic/Dockerfile
  tools/docker/stretch/Dockerfile
  tools/docker/xenial/Dockerfile
Labels: BUGFIX, BUILDSYSTEM, LE 10.0

#3397 libxkbcommon: updated to 0.8.4 / added meson opts
  packages/wayland/libxkbcommon/package.mk
Labels: LE 10.0, UPDATE

#3401 nano: updated to nano-4.0
  packages/tools/nano/config/nanorc
  packages/tools/nano/package.mk
  packages/tools/nano/patches/nano-999.01-initialize-a-variable-before-referencing-it.patch
Labels: LE 10.0, UPDATE

#3400 llvm: update to llvm-8.0.0
  packages/lang/llvm/package.mk
Labels: LE 10.0, UPDATE

#3411 dav1d: updated to 0.2.1 / added meson opts to disable tools & tests
  packages/multimedia/dav1d/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1008-dav1d-enable-av1.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1009-dav1d-fix-multithreaded-av1-sw-decoding.patch
Labels: LE 10.0, UPDATE

#3413 libva/libva-utils: update to 2.4.1
  packages/debug/libva-utils/package.mk
  packages/multimedia/libva/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3418 samba: set fruit:model = Xserve for macOS finder
  packages/network/samba/config/smb.conf
Labels: BUGFIX, LE 9.0, PACKAGE

#3412 [le90] linux (RPi/Generic): update to 4.19.34
  config/functions
  packages/devel/elfutils/package.mk
  packages/devel/elfutils/patches/elfutils-001-dont-build-executables.patch
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-900-fix-libelf-detection.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 9.0, UPDATE

#3417 mesa: update to mesa-19.0.2
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3393 arm-mem: update to arm-mem-0100445, enable for all arm builds
  packages/devel/arm-mem/package.mk
  packages/virtual/libc/package.mk
Labels: LE 10.0, PACKAGE

#3426 fix Allwinner linux patch
  projects/Allwinner/patches/linux/0002-fixes-from-5.1.patch
Labels: ALLWINNER, BUGFIX, KERNEL, LE 10.0

#3427 Allwinner: Completely remove linux patch merged in 5.0.7
  projects/Allwinner/patches/linux/0002-fixes-from-5.1.patch
Labels: ALLWINNER, BUILDSYSTEM, CLEANUP, LE 10.0

#3432 busybox: add dtname/dtfile helper scripts
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/dtfile
  packages/sysutils/busybox/scripts/dtname
Labels: FEATURE, LE 9.2, PACKAGE

#3431 iptables: iptables_helper support for ethernet tethering
  packages/network/iptables/scripts/iptables_helper
Labels: FEATURE, LE 9.2, PACKAGE

#3429 libmali: bump to include symlink changes
  packages/graphics/libmali/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3430 LibreELEC-settings: bump to include recent changes
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: FEATURE, LE 9.2, PACKAGE, UPDATE

#3437 busybox: improvements to dtname/dtfile
  packages/sysutils/busybox/scripts/dtfile
  packages/sysutils/busybox/scripts/dtname
Labels: BUGFIX, LE 9.2, PACKAGE

#3438 libva: update changed sha256
  packages/multimedia/libva/package.mk
Labels: LE 10.0, UPDATE

#3436 linux: support creating uImage for arm64
  packages/linux/package.mk
Labels: FEATURE, KERNEL, LE 10.0

#3439 emby4: update to 4.1.026
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BACKPORT DONE, LE 9.2, UPDATE

#3440 Backport of #3439
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3442 texturecache.py: update to texturecache.py-2.5.1
  packages/tools/texturecache.py/package.mk
Labels: BACKPORT DONE, LE 10.0, PACKAGE

#3443 texturecache.py: update to texturecache.py-2.5.1 [backport]
  packages/tools/texturecache.py/package.mk
Labels: LE 9.0, PACKAGE

#3424 kodi (Generic/RPi/RockChip): update to kodi-18.2rc1-Leia
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asterwave/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.biogenesis/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/multimedia/ffmpeg/package.mk
  packages/textproc/nlohmann-json/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3425 kodi (Generic/RPi/RockChip): update to kodi-18.2-Leia
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asterwave/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.biogenesis/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/multimedia/ffmpeg/package.mk
  packages/textproc/nlohmann-json/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3446 init: set ondemand up_threshold for multi-cluster CPUs
  packages/sysutils/busybox/scripts/init
Labels: IMPROVEMENT, LE 9.2

#3441 packages: update to openssh-8.0p1, sqlite-3.28, valgrind-3.15.0
  packages/databases/sqlite/package.mk
  packages/debug/valgrind/package.mk
  packages/network/openssh/package.mk
  packages/network/openssh/patches/openssh-7.9p1-openssl-ver-check.patch
  packages/tools/dtc/package.mk
  packages/tools/dtc/patches/dtc-0001-libfdt-soname-version.patch
  packages/tools/dtc/patches/dtc-0002-fix-format-errors.patch
Labels: LE 9.2, PACKAGE, PATCH, UPDATE

#3449 emby4: fix sha
  packages/addons/service/emby4/package.mk
Labels: BACKPORT DONE, LE 10.0, PACKAGE

#3450 emby4: fix sha [backport]
  packages/addons/service/emby4/package.mk
Labels: LE 9.0, PACKAGE

#3451 busybox: fix dtfile path error
  packages/sysutils/busybox/scripts/dtfile
Labels: BUGFIX, LE 9.2, PACKAGE

#3415 config/graphic: add lima/panfrost options and sort
  config/graphic
Labels: BUILDSYSTEM, LE 9.2, UPDATE

#3453 qemu: update to qemu-4.0.0
  packages/tools/qemu/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3447 config/functions: eliminate unecessary dashboard flock()
  config/functions
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#3459 dtc: host target is redundant, drop it
  packages/linux-firmware/slice-firmware/package.mk
  packages/tools/dtc/package.mk
  packages/tools/u-boot-tools-aml/package.mk
  packages/tools/u-boot/package.mk
  packages/tools/u-boot/patches/rockchip/u-boot-0001-dont-build-libfdt.patch
Labels: LE 10.0, PACKAGE

#3399 cmake: update to cmake-3.14.3
  packages/devel/cmake/package.mk
Labels: LE 10.0, UPDATE

#3435 zstd: update to 1.4.0 / dropped CMake pthread workaround
  packages/compress/zstd/package.mk
Labels: LE 10.0, UPDATE

#3422 packages: remove some unneeded patch files with changed package.mk
  packages/addons/addon-depends/libconfig/package.mk
  packages/addons/addon-depends/libconfig/patches/libconfig-0001_fix-include.patch
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/patches/squeezelite-01-makefile.patch
  packages/audio/fluidsynth/package.mk
  packages/audio/fluidsynth/patches/fluidsynth-01-fix-libdir.patch
Labels: IMPROVEMENT, LE 10.0, PACKAGE, PATCH

#3464 firmware: add brcmfmac_sdio-firmware package
  packages/linux-firmware/brcmfmac_sdio-firmware/firmwares/any.dat
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware/scripts/brcmfmac-firmware-setup
  packages/linux-firmware/brcmfmac_sdio-firmware/system.d/brcmfmac-firmware.service
Labels: LE 10.0, PACKAGE

#3465 brcmfmac_sdio-firmware: cleanup package
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
Labels: CLEANUP, LE 10.0

#3466 Allwinner: Fix BT/WIFI on OrangePi Win
  projects/Allwinner/devices/A64/patches/linux/03-opi-win-bt.patch
  projects/Allwinner/options
Labels: IMPROVEMENT, LE 10.0

#3469 Amlogic: modify kernel config to closer match other projects
  projects/Amlogic/linux/linux.aarch64.conf
Labels: AMLOGIC, LE 10.0

#3428 [RPi] fix vendor header & lib includes / remove project specific include CFLAGS WIP
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/devel/libcec/package.mk
  packages/graphics/bcm2835-driver/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/multimedia/ffmpeg/package.mk
  projects/Allwinner/devices/H3/options
  projects/RPi/options
Labels: BUILDSYSTEM, LE 10.0, PACKAGE, WORK IN PROGRESS

#3433 libpng: update to 1.6.37, correct license typos
  licenses/LibPNG2.txt
  packages/graphics/libpng/package.mk
Labels: LE 10.0, PACKAGE, UPDATE
