Repository LibreELEC/LibreELEC.tv, pull requests merged in 2019-11, with the labels that each got.

#3958 Revert "brcmfmac_sdio-firmware-rpi: update to brcmfmac_sdio-firmware-…
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
Labels: LE 9.2, PACKAGE

#3955 bluez: update to bluez-5.52
  packages/network/bluez/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3952 samba: update to samba-4.9.15
  packages/network/samba/package.mk
Labels: BUGFIX, LE 9.2, PACKAGE, UPDATE

#3964 Allwinner: Fix HDMI audio
  projects/Allwinner/devices/A64/patches/linux/01_a64_hdmi_audio.patch
  projects/Allwinner/devices/H3/patches/linux/16-H3-add-HDMI-sound-nodes.patch
  projects/Allwinner/devices/H6/patches/linux/05-sound-hack.patch
  projects/Allwinner/patches/linux/0004-sun4i-i2s-improvements.patch
Labels: ALLWINNER, BUGFIX, KERNEL, LE 10.0

#3807 rpi-eeprom: update to latest rpi-eeprom
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/sysutils/busybox/scripts/init
  packages/sysutils/busybox/scripts/rpi-flash-firmware
  packages/tools/rpi-eeprom/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3979 LibreELEC-settings: update to LibreELEC-settings-881a2d1 (Python3 support)
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3939 mesa: update to mesa-19.2.3
  packages/graphics/libglvnd/package.mk
  packages/graphics/libglvnd/patches/libglvnd-999.01-install-GL-headers-when-GL-is-enabled.patch
  packages/graphics/libglvnd/patches/libglvnd-999.02-egl-Sync-with-Khronos.patch
  packages/graphics/libglvnd/patches/libglvnd-999.03-EGL-Set-EGL_NO_X11-macro-if--disable-x11-is-used.patch
  packages/graphics/libglvnd/patches/libglvnd-999.04-update-gl.h-to-match-Mesa..patch
  packages/graphics/mesa/package.mk
  packages/x11/xserver/xorg-server/patches/xorg-server-999.02-replace-MESA_EGL_NO_X11_HEADERS-hack-with-upstream-EGL_NO_X11.patch
Labels: LE 10.0, PACKAGE, UPDATE

#3963 xf86-video-nvidia: update to xf86-video-nvidia-430.64
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: LE 10.0, PACKAGE, UPDATE

#3959 LibreELEC-settings: re-enable bytecode compilation
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#3974 Allwinner: OrangePi 3 improvements
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
Labels: ALLWINNER, BUGFIX, HARDWARE, IMPROVEMENT, LE 10.0

#3972 Allwinner: Rework HW decoding
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0001-avutil-add-av_buffer_pool_flush.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0002-Add-common-V4L2-request-API-code.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0003-Add-V4L2-request-API-mpeg2-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0004-Add-V4L2-request-API-h264-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0005-Add-V4L2-request-API-hevc-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0006-Add-V4L2-request-API-vp8-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0007-Add-and-use-private-linux-headers-for-V4L2-request-A.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0008-hwcontext_drm-do-not-require-drm-device.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0009-avcodec-h264-parse-idr_pic_id.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0010-avcodec-h264-parse-ref_pic_marking_size_in_bits-and-.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0011-HACK-add-dpb-flags-for-reference-usage-and-field-pic.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0012-WIP-v4l2-request-rolling-timestamps.patch
  projects/Allwinner/devices/H6/patches/linux/06-10-bit-HEVC-hack.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.4.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.5.patch
  projects/Allwinner/patches/linux/0005-cedrus-hevc.patch
  projects/Allwinner/patches/linux/0005-cedrus-improvements.patch
  projects/Allwinner/patches/linux/0007-media-cedrus-Fix-decoding-for-some-H264-videos.patch
  projects/Allwinner/patches/linux/0008-media-cedrus-Fix-H264-default-reference-index-count.patch
  projects/Allwinner/patches/linux/0009-media-cedrus-WIP-H264-improvements.patch
  projects/Allwinner/patches/linux/0010-WIP-HEVC-improvements.patch
  projects/Allwinner/patches/linux/0011-cedrus-h264-4k.patch
Labels: ALLWINNER, BUGFIX, CLEANUP, LE 10.0

#3957 buildsystem: optimize for size when building with debug
  config/functions
  config/optimize
  config/path
Labels: BUILDSYSTEM, LE 10.0

#3980 mesa: update to mesa-19.2.4
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3976 build fixes
  packages/security/libgpg-error/patches/0001-gawk50.patch
Labels: BUGFIX, LE 10.0

#3896 init: move cpufreq tuning to systemd service
  packages/sysutils/busybox/scripts/init
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/scripts/cpufreq
  packages/sysutils/systemd/system.d/cpufreq.service
  projects/Amlogic/packages/systemd/scripts/cpufreq
  projects/RPi/initramfs/platform_init
  projects/RPi/packages/systemd/scripts/cpufreq
Labels: IMPROVEMENT, LE 10.0

#3968 feat: enable webcam driver as kernel module to be consistent with all projects
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: BACKPORT DONE, KERNEL, LE 10.0

#3983 Make kodi-config return a zero exit status
  packages/mediacenter/kodi/scripts/kodi-config
Labels: BACKPORT DONE, BUGFIX, LE 10.0, PACKAGE

#3969 feat: enable webcam driver as kernel module
  projects/Allwinner/linux/linux.arm.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 9.2

#3985 Make kodi-config return a zero exit status
  packages/mediacenter/kodi/scripts/kodi-config
Labels: BUGFIX, LE 9.2, PACKAGE

#3981 Allwinner: Add support for Belink X2 and Tanix TX6 remotes
  projects/Allwinner/devices/H3/patches/linux/02-ARM-dts-sun8i-h3-Add-rc-map-for-Beelink-X2.patch
  projects/Allwinner/devices/H6/patches/linux/13-Tanix-TX6.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.4.patch
Labels: ALLWINNER, HARDWARE, LE 10.0

#3986 game.libretro: update to 2.0.0-Matrix
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
Labels: ADDONS, LE 10.0

#3938 rpi-eeprom: update with vl805 support [backport]
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/sysutils/busybox/scripts/init
  packages/sysutils/busybox/scripts/rpi-flash-firmware
  packages/tools/rpi-eeprom/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3925 bluetooth-audio: avoid LE Settings Addon crash
  packages/addons/service/bluetooth-audio/changelog.txt
  packages/addons/service/bluetooth-audio/package.mk
  packages/addons/service/bluetooth-audio/source/bin/dbusservice.py
  packages/addons/service/bluetooth-audio/source/default.py
Labels: ADDONS, BUGFIX, LE 9.2

#3898 [le92] linux (RPi): update to 4.19.79+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 9.2, UPDATE

#3987 kodi-config: create userdata when it doesn't exist
  packages/mediacenter/kodi/scripts/kodi-config
  packages/mediacenter/kodi/tmpfiles.d/kodi-userdirs.conf
Labels: BACKPORT REQD, LE 10.0

#3997 kodi-config: create userdata when it doesn't exist [backport]
  packages/mediacenter/kodi/scripts/kodi-config
  packages/mediacenter/kodi/tmpfiles.d/kodi-userdirs.conf
Labels: LE 9.2

#4005 Allwinner: Fixup the bluetooth address on Orange Pi 3
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/u-boot/008-sunxi-board-fixup-the-BT-address-for-Orange-Pi-3.patch
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#3999 brcmfmac_sdio-firmware: add AP6255 NVRAM for Orange Pi Lite2
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
Labels: ALLWINNER, LE 10.0, UPDATE

#4007 RPi: revert to firmware 8e688a4
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, LE 9.2

#3998 kodi: update to 18.5-Leia
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-999.99-PR16643-always-allow-black-screensaver.patch
Labels: LE 9.2, PACKAGE, UPDATE

#4002 Tvheadend and ffmpeg-tools update
  packages/addons/addon-depends/comskip/package.mk
  packages/addons/addon-depends/ffmpegx-depends/libvpx/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/tvh-dtv-scan-tables/package.mk
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/source/bin/tvheadend42.start
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/aom/package.mk
Labels: ADDONS, BUGFIX, LE 9.2, UPDATE

#4003 Kodi 18.5 binary addon updates
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/patches/visualization.shadertoy-0001-remove-unused-egl-headers.patch
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#3962 various: add missing dependencies
  packages/addons/addon-depends/chrome-depends/gdk-pixbuf/package.mk
  packages/addons/addon-depends/tntnet/package.mk
  packages/compress/xz/package.mk
  packages/devel/boost/package.mk
  packages/devel/glib/package.mk
  packages/emulation/libretro-fsuae/package.mk
  packages/emulation/libretro-mame2010/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
  packages/x11/lib/libfontenc/package.mk
Labels: BUGFIX, LE 10.0

#4012 audiodecoder.timidity: remove patch redundant since 2.0.2-Leia
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/patches/audiodecoder.timidity-001-dynamic_lib.patch
Labels: ADDONS, LE 9.2

#4015 [le92] Slice/Slice3: use upstream method to set xtal load capacitance
  projects/RPi/devices/Slice/config/slice-overlay.dts
  projects/RPi/devices/Slice/patches/linux/linux-04-rtc-pcf8523-c.patch
  projects/RPi/devices/Slice3/config/slice-overlay.dts
  projects/RPi/devices/Slice3/patches/linux/linux-04-rtc-pcf8523-c.patch
Labels: BUGFIX, KERNEL, LE 9.2

#3994 libmali: update to d4000def121b
  packages/graphics/libmali/package.mk
Labels: BUGFIX, LE 10.0

#4013 binutils: explicitly depend on target zlib
  packages/devel/binutils/package.mk
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0, PACKAGE

#4018 distro: bump OS_VERSION
  distributions/LibreELEC/version
Labels: LE 9.2, UPDATE

#4010 ffmpeg: rpi ffmpeg patch only for use with rpi kodi
  packages/multimedia/ffmpeg/package.mk
Labels: LE 10.0, PACKAGE

#4025 amlogic-boot-fip: fix bytecode madness
  packages/tools/amlogic-boot-fip/package.mk
  packages/tools/amlogic-boot-fip/sources/acs_tool.py
  projects/Amlogic/bootloader/install
Labels: AMLOGIC, BUILDSYSTEM, LE 10.0, PACKAGE

#3902 Linux (Generic/RPi/Allwinner): update to linux-5.3.13
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.4.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE

#3879 linux (RPi/Generic): update to linux-5.4
  packages/linux/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-04-fix-linux-5.4.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-05-fix-SUBDIRS-removed-in-5.4-rc2.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/Generic/options
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/RPi/options
Labels: KERNEL, LE 10.0, PACKAGE, PATCH

#3967 Allwinner: Update patches for Linux 5.4
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.4.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.5.patch
  projects/Allwinner/patches/linux/0003-hdmi-improvements.patch
  projects/Allwinner/patches/linux/0014-AC200.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#3936 disable connman when using kernel ip config / netboot
  packages/mediacenter/kodi/system.d/kodi-waitonnetwork.service
  packages/network/connman/package.mk
  packages/network/connman/scripts/connman-setup
  packages/network/connman/system.d/connman.service
  packages/network/connman/system.d/network-online.service
  packages/sysutils/busybox/scripts/init
  packages/sysutils/systemd/config/hosts.conf
  packages/sysutils/systemd/config/timesyncd.conf.d/README
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/scripts/network-base-setup
  packages/sysutils/systemd/scripts/systemd-timesyncd-setup
  packages/sysutils/systemd/system.d/network-base.service
  packages/sysutils/systemd/system.d/systemd-timesyncd-setup.service
  packages/sysutils/systemd/system.d/systemd-timesyncd.service.d/depend-on-kernel-ip-config.conf
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0, PACKAGE

#3984 systemd: prevent unmounting storage via umount.target
  packages/sysutils/systemd/patches/systemd-0900-backport-do-not-update-exec-deps-on-mountinfo-changes.patch
  packages/sysutils/systemd/system.d/storage.mount.d/dependencies.conf
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0, PACKAGE

#3990 init: don't mount nfs shares with soft option by default
  packages/sysutils/busybox/scripts/init
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0

#3977 busybox: allow bigger shell history size
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/profile.d/98-busybox.conf
Labels: LE 10.0

#3982 avahi: set root user as default for published sftp
  packages/network/avahi/package.mk
Labels: LE 10.0, PACKAGE

#4009 Tvheadend and ffmpeg-tools update
  packages/addons/addon-depends/comskip/package.mk
  packages/addons/addon-depends/ffmpegx-depends/libvpx/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/tvh-dtv-scan-tables/package.mk
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/source/bin/tvheadend42.start
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/aom/package.mk
Labels: ADDONS, BUGFIX, LE 10.0, UPDATE

#4017 use new evrepeat tool to configure input repeat settings of non-rc-core devices
  packages/sysutils/evrepeat/package.mk
  packages/sysutils/evrepeat/udev.d/70-input-repeat.rules
  packages/virtual/remote/package.mk
Labels: BUGFIX, CLEANUP, LE 10.0, PACKAGE, WORK IN PROGRESS

#4008 Package Updates November 2019
  packages/compress/zstd/package.mk
  packages/databases/sqlite/package.mk
  packages/devel/parallel/package.mk
  packages/multimedia/dav1d/package.mk
  packages/textproc/libidn2/package.mk
  packages/web/curl/package.mk
Labels: LE 10.0, UPDATE

#3992 addons: Python3 changes
  packages/addons/browser/chrome/source/default.py
  packages/addons/service/docker/source/default.py
Labels: ADDONS, LE 10.0
