Repository LibreELEC/LibreELEC.tv, pull requests merged in 2019-07, with the labels that each got.

#3630 kodi: set @ADDON_VERSION@ in repo addon.xml
  packages/mediacenter/kodi/config/repository.libreelec.tv/addon.xml
  packages/mediacenter/kodi/package.mk
Labels: IMPROVEMENT, LE 10.0, PACKAGE

#3631 config/graphic: build etnaviv and kmsro for imx devices
  config/graphic
Labels: LE 10.0

#3636 kodi: set @ADDON_VERSION@ in repo addon.xml
  packages/mediacenter/kodi/config/repository.libreelec.tv/addon.xml
  packages/mediacenter/kodi/package.mk
Labels: IMPROVEMENT, LE 9.2, PACKAGE

#3637 samba: update to samba-4.9.10
  packages/network/samba/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3633 kodi: update to 18.3-Leia
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi/package.mk
  projects/Allwinner/patches/kodi/0001-Remove-check-for-sw-format.patch
  projects/Amlogic/patches/kodi/kodi-PR15922.patch
  projects/Amlogic/patches/kodi/kodi-PR15928.patch
  projects/Amlogic/patches/kodi/kodi-PR15946.patch
  projects/Amlogic/patches/kodi/kodi-PR16313.patch
  projects/Amlogic/patches/kodi/kodi-drmprime-seeking.patch
  projects/Amlogic/patches/kodi/kodi-front-buffer-lock.patch
Labels: LE 10.0, PACKAGE, PATCH, UPDATE

#3623 kodi: temp fix stream details are being lost once playback ends
  packages/mediacenter/kodi/patches/kodi-995.01-revert-always-update-stream-detail.patch
Labels: BUGFIX, LE 10.0, PACKAGE, PATCH

#3624 kodi: temp fix stream details are being lost once playback ends [backport]
  packages/mediacenter/kodi/patches/kodi-995.01-revert-always-update-stream-detail.patch
Labels: BUGFIX, LE 9.2, PACKAGE, PATCH

#3620 systemd: fix issues after #3326
  packages/sysutils/systemd/patches/systemd-0300-config-env-unhide-cursor.patch
Labels: BUGFIX, LE 10.0, PACKAGE

#3621 buildsystem: small unpack improvements
  scripts/build
  scripts/unpack
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0, PULL 9.2

#3604 mesa: update to mesa-19.1.1
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3594 [le92] mpg123: drop dependency on SDL2
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
Labels: ADDONS, CLEANUP, LE 9.2

#3595 init: more informative syslinux boot message [backport]
  packages/sysutils/busybox/scripts/init
  scripts/mkimage
Labels: IMPROVEMENT, LE 9.2

#3628 mpv-drmprime: disable automagic options
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
Labels: LE 10.0, PACKAGE

#3625 docker: updated to 18.09.7
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/patches/docker-001-use-addon-storage-location.patch
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#3638 backports: various
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/patches/docker-001-use-addon-storage-location.patch
  packages/graphics/mesa/package.mk
  packages/network/samba/package.mk
  scripts/build
  scripts/unpack
Labels: ADDONS, BUILDSYSTEM, LE 9.2, PACKAGE, UPDATE

#3629 linux: disable lima/panfrost when using libmali
  packages/linux/package.mk
Labels: BUILDSYSTEM, LE 10.0

#3626 nano: updated to v4.3
  packages/tools/nano/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3567 linux (RPi/Generic/Allwinner): update to linux-5.1.15
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-999.99-revert-faulty-bt-encryption-commit.patch
  packages/linux/patches/raspberrypi/linux-999.99-revert-faulty-bt-encryption-commit.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: ALLWINNER, LE 10.0, PACKAGE, PATCH, UPDATE

#3516 config: don't use mcpu switch for arm and aarch64
  config/arch.aarch64
  config/arch.arm
Labels: BUILDSYSTEM, CLEANUP, LE 10.0

#3643 nano: updated to v4.3 [backport]
  packages/tools/nano/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3597 add support for Raspberry Pi 4
  config/graphic
  config/noobs/os.json
  packages/devel/libcec/package.mk
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/bcm2835-bootloader/release
  packages/tools/bcmstat/package.mk
  projects/RPi/devices/RPi4/config/config.txt
  projects/RPi/devices/RPi4/config/distroconfig.txt
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/RPi/devices/RPi4/options
  projects/RPi/filesystem/usr/share/alsa/cards/bcm2835_alsa.conf
  projects/RPi/options
  scripts/image
Labels: LE 10.0, PACKAGE, UPDATE, WORK IN PROGRESS

#3645 samba: update to samba-4.9.11
  packages/network/samba/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#1451 iwd (inet wireless daemon) support
  distributions/LibreELEC/options
  packages/network/connman/package.mk
  packages/network/iwd/package.mk
Labels: FEATURE, LE 10.0, MERGE BLOCKED, WORK IN PROGRESS

#3648 libX11: remove makekeys dependency on X headers
  packages/x11/lib/libX11/patches/libX11-building-makekeys-build-tool-when-cross-compiling.patch
Labels: BUGFIX, LE 10.0, PATCH

#3654 connman: small fixup after 3525ffb
  packages/network/connman/package.mk
Labels: CLEANUP, LE 10.0

#3619 [le92] ffmpeg: restructure patches into feature sets
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1005-rkmppdec-Kodi-need-more-buffers.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1006-rkmppdec-continue-on-errinfo-frame.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1007-rkmppdec-enable-mpeg2.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1010-rkmppdec-set-mastering-display-and-content-light-sid.patch
  packages/multimedia/ffmpeg/patches/rpi-hevc/ffmpeg-001-pfcd_hevc_optimisations.patch
  packages/multimedia/ffmpeg/patches/rpi4-hevc/ffmpeg-001-pfcd_hevc_optimisations.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0001-avutil-add-av_buffer_pool_reclaim.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0002-Add-common-V4L2-request-API-code.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0003-Add-V4L2-request-API-mpeg2-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0004-Add-V4L2-request-API-h264-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0005-Add-V4L2-request-API-hevc-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0006-Add-and-use-private-linux-headers-for-V4L2-request-A.patch
  projects/RPi/devices/RPi/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
  projects/RPi/devices/Slice/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
  projects/RPi/devices/Slice3/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
Labels: CLEANUP, LE 9.2, PACKAGE, PATCH

#3641 lirc: fix missing irman driver, include Debian patches
  packages/devel/libirman/package.mk
  packages/sysutils/lirc/package.mk
  packages/sysutils/lirc/patches/lirc-0003-logging-Don-t-use-broken-LOG_CONS-syslog-flag.patch
  packages/sysutils/lirc/patches/lirc-0004-lircd-Fix-connect-option-parsing-error-343.patch
  packages/sysutils/lirc/patches/lirc-0005-systemd-support-Notify-systemd-on-successful-startup.patch
  packages/sysutils/lirc/patches/lirc-0100-disable-python.patch
Labels: BUGFIX, LE 10.0, PACKAGE, PATCH

#3642 [le92] lirc: fix missing irman driver, include Debian patches
  packages/devel/libirman/package.mk
  packages/sysutils/lirc/package.mk
  packages/sysutils/lirc/patches/lirc-0003-logging-Don-t-use-broken-LOG_CONS-syslog-flag.patch
  packages/sysutils/lirc/patches/lirc-0004-lircd-Fix-connect-option-parsing-error-343.patch
  packages/sysutils/lirc/patches/lirc-0005-systemd-support-Notify-systemd-on-successful-startup.patch
  packages/sysutils/lirc/patches/lirc-0100-disable-python.patch
Labels: BUGFIX, LE 9.2, PACKAGE, PATCH

#3634 ffmpeg: restructure patches into feature sets
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1005-rkmppdec-Kodi-need-more-buffers.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1006-rkmppdec-continue-on-errinfo-frame.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1007-rkmppdec-enable-mpeg2.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1010-rkmppdec-set-mastering-display-and-content-light-sid.patch
  packages/multimedia/ffmpeg/patches/rpi-hevc/ffmpeg-99.1003-pfcd_hevc_optimisations.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0001-avutil-add-av_buffer_pool_reclaim.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0002-Add-common-V4L2-request-API-code.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0003-Add-V4L2-request-API-mpeg2-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0004-Add-V4L2-request-API-h264-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0005-Add-V4L2-request-API-hevc-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0006-Add-and-use-private-linux-headers-for-V4L2-request-A.patch
Labels: CLEANUP, LE 10.0, PACKAGE, PATCH

#3652 add a few missing dependencies for fedora, gentoo and arch
  scripts/checkdeps
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#3662 [le92] linux (Generic): update to linux-5.1.16
  packages/linux/package.mk
  packages/linux/patches/default/linux-999.99-revert-faulty-bt-encryption-commit.patch
Labels: KERNEL, LE 9.2, UPDATE

#3655 libX11: update to 1.6.8 and crosscompile fixes
  packages/x11/lib/libX11/package.mk
  packages/x11/lib/libX11/patches/libX11-building-makekeys-build-tool-when-cross-compiling.patch
  packages/x11/lib/libX11/patches/libX11-makekeys-remove-X11-headers.patch
Labels: BUGFIX, LE 10.0, PULL 9.2, UPDATE

#3665 [backport] libX11: update to 1.6.8 and crosscompile fixes
  packages/x11/lib/libX11/package.mk
  packages/x11/lib/libX11/patches/libX11-makekeys-remove-X11-headers.patch
Labels: BUGFIX, LE 9.2, UPDATE

#3583 minisatip: update to 0.7.18
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, LE 10.0, PULL 9.2, UPDATE

#3582 Tvheadend update 4.2.8-27
  packages/addons/addon-depends/comskip/package.mk
  packages/addons/addon-depends/ffmpegx-depends/libvpx/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/patches/tvheadend42-03-hdhomerun-fix.patch
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/aom/package.mk
  packages/multimedia/libhdhomerun/package.mk
  packages/multimedia/libhdhomerun/patches/libhdhomerun-pr19-fix-gcc-8.3.0-build.patch
Labels: ADDONS, LE 10.0, PULL 9.2, UPDATE

#3627 vdr: update to 2.4.1
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-robotv/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-01-svdrp-modt-recflag.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-02-invalid-locking-sequence.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-03-locking-channel-display.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-04-locking-channel-display-2.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-05-shutdown.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-06-channel-switch.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-07-disabling-mtd.patch
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
  packages/addons/service/vdr-addon/source/system.d/service.multimedia.vdr-addon.service
Labels: ADDONS, LE 10.0, UPDATE

#3666 iwd: disable seccomp options for now as it breaks the service
  packages/network/iwd/package.mk
Labels: BUGFIX, LE 10.0

#3650 u-boot: add support for installing firmware into the u-boot root directory
  packages/tools/u-boot/package.mk
  projects/Allwinner/bootloader/firmware
  projects/Allwinner/devices/A64/options
  projects/Allwinner/devices/H6/options
  projects/Amlogic/options
  projects/Rockchip/options
Labels: FEATURE, LE 10.0

#3646 buildsystem: fix symbolic link fixups
  packages/addons/addon-depends/lcdd-depends/serdisplib/package.mk
  packages/graphics/bcm2835-driver/package.mk
  scripts/build
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0, PACKAGE, PULL 9.2

#3660 libdrm: update to libdrm-2.4.99
  packages/graphics/libdrm/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3658 buildsystem: fix symbolic link fixups [backport]
  packages/addons/addon-depends/lcdd-depends/serdisplib/package.mk
  packages/graphics/bcm2835-driver/package.mk
  scripts/build
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.2, PACKAGE

#3669 scripts/uboot_helper: add formatting to the python object
  scripts/uboot_helper
Labels: CLEANUP, LE 10.0

#3674 Update Steam controller support in mainline kernels
  packages/addons/addon-depends/enum34/package.mk
  packages/addons/addon-depends/python-libusb1/package.mk
  packages/addons/driver/steamcontroller/changelog.txt
  packages/addons/driver/steamcontroller/icon/icon.png
  packages/addons/driver/steamcontroller/package.mk
  packages/addons/driver/steamcontroller/patches/steamcontroller-0001-fix-include-dir.patch
  packages/addons/driver/steamcontroller/patches/steamcontroller-0002-append-python-path.patch
  packages/addons/driver/steamcontroller/patches/steamcontroller-0003-wait-for-controller-connection.patch
  packages/addons/driver/steamcontroller/patches/steamcontroller-0004-use-run-for-pid-directory.patch
  packages/addons/driver/steamcontroller/patches/steamcontroller-0005-steam-client-will-never-be-running.patch
  packages/addons/driver/steamcontroller/source/default.py
  packages/addons/driver/steamcontroller/source/system.d/driver.steamcontroller.service
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: CLEANUP, FEATURE, LE 10.0

#3664 New project and device: Qualcomm/Dragonboard
  packages/linux-firmware/firmware-dragonboard/package.mk
  packages/tools/dtc/package.mk
  projects/Qualcomm/devices/Dragonboard/README.md
  projects/Qualcomm/devices/Dragonboard/bootloader/install
  projects/Qualcomm/devices/Dragonboard/bootloader/release
  projects/Qualcomm/devices/Dragonboard/bootloader/update.sh
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/options
  projects/Qualcomm/devices/Dragonboard/packages/mkbootimg/package.mk
  projects/Qualcomm/devices/Dragonboard/packages/mkbootimg/patches/mkbootimg-0001-add-extra-devices.patch
  projects/Qualcomm/devices/Dragonboard/patches/linux/linux-0001-set-default-mac.patch
  scripts/uboot_helper
Labels: HARDWARE, LE 10.0

#3663 New project and device: NXP/iMX6
  packages/linux-firmware/firmware-imx/package.mk
  projects/NXP/devices/iMX6/bootloader/install
  projects/NXP/devices/iMX6/bootloader/mkimage
  projects/NXP/devices/iMX6/bootloader/release
  projects/NXP/devices/iMX6/bootloader/update.sh
  projects/NXP/devices/iMX6/filesystem/usr/bin/rdu-audio
  projects/NXP/devices/iMX6/filesystem/usr/bin/rdu-network
  projects/NXP/devices/iMX6/filesystem/usr/lib/systemd/system/rdu-audio.service
  projects/NXP/devices/iMX6/filesystem/usr/lib/systemd/system/rdu-network.service
  projects/NXP/devices/iMX6/filesystem/usr/share/alsa/cards/dw-hdmi-ahb-aud.conf
  projects/NXP/devices/iMX6/filesystem/usr/share/bootloader/canupdate.sh
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX6/options
  projects/NXP/devices/iMX6/patches/linux/linux-0001-mm-cma-export-functions-to-get-CMA-base-and-size.patch
  projects/NXP/devices/iMX6/patches/linux/linux-0002-drm-etnaviv-use-CMA-area-to-compute-linear-window-offset-if-possible.patch
  projects/NXP/options
  scripts/uboot_helper
Labels: HARDWARE, LE 10.0, NXP

#3656 libva: update to libva-2.5.0
  packages/multimedia/libva/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3670 mesa: update to mesa-19.1.2
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3671 xf86-video-nvidia: update to xf86-video-nvidia-430.34
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: LE 10.0, PACKAGE, UPDATE

#3635 init: clean up splash image selection
  packages/sysutils/busybox/scripts/init
Labels: CLEANUP, LE 10.0, PULL 9.2

#3672 systemd: eat up RDRAND values seen on AMD cpus
  packages/sysutils/systemd/patches/systemd-0400-eat-up-rrdrand-on-amd.patch
Labels: BUGFIX, LE 10.0, PATCH, PULL 9.2

#3659 distro-tool: halve the time required to generate workload
  tools/distro-tool
Labels: IMPROVEMENT, LE 10.0

#3661 buildsystem: add absolute patch dirs, remove unecessary sub-process, other cleanup
  config/functions
  config/multithread
  packages/addons/addon-depends/chrome-depends/chrome-libXcomposite/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXdamage/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXfixes/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXi/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXrender/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXtst/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libxcb/sources/trigger_unpack
  packages/addons/addon-depends/dotnet-runtime-depends/curl3/sources/trigger_unpack
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/dvb-latest/package.mk
  packages/linux/package.mk
  scripts/get_archive
  scripts/get_file
  scripts/get_git
  scripts/unpack
  tools/mtstats.py
Labels: BUILDSYSTEM, CLEANUP, IMPROVEMENT, LE 10.0, PULL 9.2

#3673 systemd: eat up RDRAND values seen on AMD cpus [backport]
  packages/sysutils/systemd/patches/systemd-0400-eat-up-rrdrand-on-amd.patch
Labels: BUGFIX, LE 9.2, PATCH

#3680 buildsystem: add absolute patch dirs, remove unecessary sub-process, other cleanup [backport]
  config/functions
  config/multithread
  packages/addons/addon-depends/chrome-depends/chrome-libXcomposite/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXdamage/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXfixes/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXi/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXrender/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libXtst/sources/trigger_unpack
  packages/addons/addon-depends/chrome-depends/chrome-libxcb/sources/trigger_unpack
  packages/addons/addon-depends/dotnet-runtime-depends/curl3/sources/trigger_unpack
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/dvb-latest/package.mk
  packages/linux/package.mk
  scripts/get_archive
  scripts/get_file
  scripts/get_git
  scripts/unpack
  tools/mtstats.py
Labels: BUGFIX, BUILDSYSTEM, IMPROVEMENT, LE 9.2

#3606 linux (RPi): update to 4.19.56+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999.99-revert-faulty-bt-encryption-commit.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 9.2, UPDATE

#3675 hyperion: check for RPi project instead of KODIPLAYER_DRIVER
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
Labels: ADDONS, BUGFIX, LE 9.2

#3682 Dragonboard fixups
  projects/Qualcomm/devices/Dragonboard/options
Labels: CLEANUP, LE 10.0

#3677 update addons: emby4, dotnet-runtime, syncthing, tvmosaic
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/userspace-rcu/package.mk
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tvmosaic/changelog.txt
  packages/addons/service/tvmosaic/icon/icon.png
  packages/addons/service/tvmosaic/package.mk
  packages/addons/service/tvmosaic/source/bin/tvmosaic.cli
  packages/addons/service/tvmosaic/source/bin/tvmosaic.start
  packages/addons/service/tvmosaic/source/default.py
  packages/addons/service/tvmosaic/source/resources/language/English/strings.po
  packages/addons/service/tvmosaic/source/resources/settings.xml
  packages/addons/service/tvmosaic/source/settings-default.xml
  packages/addons/service/tvmosaic/source/system.d/service.tvmosaic.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#3678 update addons: emby4, dotnet-runtime, syncthing, tvmosaic (backport of #3677)
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/userspace-rcu/package.mk
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tvmosaic/changelog.txt
  packages/addons/service/tvmosaic/icon/icon.png
  packages/addons/service/tvmosaic/package.mk
  packages/addons/service/tvmosaic/source/bin/tvmosaic.cli
  packages/addons/service/tvmosaic/source/bin/tvmosaic.start
  packages/addons/service/tvmosaic/source/default.py
  packages/addons/service/tvmosaic/source/resources/language/English/strings.po
  packages/addons/service/tvmosaic/source/resources/settings.xml
  packages/addons/service/tvmosaic/source/settings-default.xml
  packages/addons/service/tvmosaic/source/system.d/service.tvmosaic.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#3685 steamcontroller: initial package (broken)
  packages/addons/driver/steamcontroller/package.mk
Labels: ADDONS, CLEANUP, LE 10.0

#3679 backports: various backports for libreelec-9.2
  packages/graphics/libdrm/package.mk
  packages/graphics/mesa/package.mk
  packages/multimedia/libva/package.mk
  packages/sysutils/busybox/scripts/init
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
  tools/distro-tool
Labels: LE 9.2, PACKAGE, UPDATE

#3681 bump ADDON_VERSION to 9.1.901
  distributions/LibreELEC/version
Labels: ADDONS, LE 9.2, UPDATE

#3684 packages: fix shadertoys when building with RPi4 [backport]
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/patches/visualization.shadertoy-0001-remove-unused-egl-headers.patch
Labels: ADDONS, LE 9.2, PACKAGE, PATCH, UPDATE

#3644 linux (Generic/Allwinner): update to linux-5.1.20
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/Allwinner/patches/linux/0001-hdmi-sound-improvements.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#3693 wayland: Fix dependencies
  packages/wayland/wayland/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#3649 Include /dev/nvme* for automounting m.2 devices
  packages/sysutils/udevil/udev.d/95-udevil-mount.rules
Labels: IMPROVEMENT, LE 10.0

#3698 kodi: building with ninja makes xbmc/1600 more likely - don't use ninja
  packages/mediacenter/kodi/package.mk
Labels: BUILDSYSTEM, LE 10.0, PACKAGE

#3695 linux (RPi): update to linux-84aa6f0 (5.1.17)
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE

#3699 kodi: building with ninja makes xbmc/1600 more likely - don't use ninja [Backport]
  packages/mediacenter/kodi/package.mk
Labels: BUILDSYSTEM, LE 9.2, PACKAGE

#3690 librespot: update to 4e3576b (2019-06-01), only play with kodi
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_kodi_hooks.patch
  packages/addons/service/librespot/patches/librespot-02_use_own_pulseaudio_sink.patch
  packages/addons/service/librespot/source/addon.py
  packages/addons/service/librespot/source/bin/librespot.env
  packages/addons/service/librespot/source/bin/librespot.onevent
  packages/addons/service/librespot/source/bin/librespot.start
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/ls_env.py
  packages/addons/service/librespot/source/resources/language/English/strings.po
  packages/addons/service/librespot/source/resources/lib/ls_librespot.py
  packages/addons/service/librespot/source/resources/lib/ls_log.py
  packages/addons/service/librespot/source/resources/lib/ls_monitor.py
  packages/addons/service/librespot/source/resources/lib/ls_player.py
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
  packages/addons/service/librespot/source/resources/settings.xml
  packages/addons/service/librespot/source/settings-default.xml
  packages/addons/service/librespot/source/system.d/service.librespot.service
Labels: ADDONS, LE 10.0, UPDATE

#3691 librespot: update to 4e3576b (2019-06-01), only play with kodi (backport of #3690)
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_kodi_hooks.patch
  packages/addons/service/librespot/patches/librespot-02_use_own_pulseaudio_sink.patch
  packages/addons/service/librespot/source/addon.py
  packages/addons/service/librespot/source/bin/librespot.env
  packages/addons/service/librespot/source/bin/librespot.onevent
  packages/addons/service/librespot/source/bin/librespot.start
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/ls_env.py
  packages/addons/service/librespot/source/resources/language/English/strings.po
  packages/addons/service/librespot/source/resources/lib/ls_librespot.py
  packages/addons/service/librespot/source/resources/lib/ls_log.py
  packages/addons/service/librespot/source/resources/lib/ls_monitor.py
  packages/addons/service/librespot/source/resources/lib/ls_player.py
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
  packages/addons/service/librespot/source/resources/settings.xml
  packages/addons/service/librespot/source/settings-default.xml
  packages/addons/service/librespot/source/system.d/service.librespot.service
Labels: ADDONS, LE 9.2, UPDATE

#3692 cleanup and improve addon update scripts
  tools/mkpkg/update_binary-addons
  tools/mkpkg/update_common_functions
  tools/mkpkg/update_retroplayer-addons
Labels: BACKPORT DONE, CLEANUP, IMPROVEMENT, LE 10.0

#3697 [le92] cleanup and improve addon update scripts
  tools/mkpkg/update_binary-addons
  tools/mkpkg/update_common_functions
  tools/mkpkg/update_retroplayer-addons
Labels: CLEANUP, IMPROVEMENT, LE 9.2

#3686 glmark2: add package
  packages/graphics/glmark2/package.mk
Labels: LE 10.0

#3533 linux (RPi/Generic): update to linux-5.2
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-drivers/RTL8188EU/package.mk
  packages/linux-drivers/RTL8192CU/package.mk
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8192DU/patches/RTL8192DU-0002-PR61.patch
  packages/linux-drivers/RTL8192DU/patches/RTL8192DU-0004-revert-fix-for-old-kernels.patch
  packages/linux-drivers/RTL8192EU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-904-improve-xbox-dvd-remote-performance.patch
  packages/linux/patches/raspberrypi4/linux-051-ouya_controller_support.patch
  packages/linux/patches/raspberrypi4/linux-058.05-hid_sony-add_autorepeat_for_PS3_remotes.patch
  packages/linux/patches/raspberrypi4/linux-062-imon_pad_ignore_diagonal.patch
  packages/linux/patches/raspberrypi4/linux-904-improve-xbox-dvd-remote-performance.patch
  packages/linux/patches/raspberrypi4/linux-999.02-0001-pm-disable-async-suspend-resume-by-default.patch
  packages/network/bluez/patches/bluez-99-fix-kernel-5.2-rc1.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/Generic/filesystem/usr/bin/intel-fullrange.sh
  projects/Generic/linux/linux.x86_64.conf
  projects/Generic/options
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/options
  projects/RPi/options
Labels: KERNEL, LE 10.0, PACKAGE, PATCH, UPDATE

#3688 Allwinner: Update to Linux 5.2
  projects/Allwinner/devices/A64/patches/linux/08-enable-opi-win-ir.patch
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0002-backport-from-5.2.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.3.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#3689 [RPi] linux: enable CONFIG_DRM_VC4=y
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: LE 10.0

#3704 linux (RPi4): config options for 5.1.18
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0

#3700 use e2fsprogs/dosfstools from toolchain for image creation
  packages/sysutils/dosfstools/package.mk
  packages/sysutils/e2fsprogs/package.mk
  scripts/image
  scripts/mkimage
Labels: BACKPORT DONE, BUGFIX, BUILDSYSTEM, LE 10.0

#3706 Allwinner updates
  packages/linux-drivers/mali-midgard/package.mk
  projects/Allwinner/devices/H6/patches/u-boot/002-orange-pi-3-support.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0013-color-range-encoding.patch
  projects/Allwinner/patches/linux/0014-regulator-fixes.patch
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#3707 linux: adjust kernel configs to support IWD
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: FEATURE, LE 10.0

#3709 linux (RPi4): enable CONFIG_PCIEPORTBUS
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0

#3715 kodi (RPi): add missing alsa+pulseaudio patch
  packages/mediacenter/kodi/patches/raspberrypi/kodi-100.14-use-alsa-and-pulse-together.patch
Labels: BUGFIX, LE 9.2, PACKAGE

#3710 cleanup: curl, edid-decode
  packages/debug/edid-decode/package.mk
  packages/web/curl/package.mk
Labels: CLEANUP, LE 10.0

#3721 parallel: update to parallel-20190722
  packages/devel/parallel/package.mk
Labels: BUILDSYSTEM, LE 10.0, PACKAGE, UPDATE

#3720 ffmpeg: move v4l2 patches to v4l2 patch dir
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/v4l2/ffmpeg-999-aspect-ratio.patch
  packages/multimedia/ffmpeg/patches/v4l2/ffmpeg-999-lrusak-v4l2.patch
  packages/multimedia/ffmpeg/patches/v4l2/ffmpeg-999-min-buffers.patch
  packages/multimedia/ffmpeg/patches/v4l2/ffmpeg-999-z-fixes.patch
Labels: LE 10.0, MERGE ¯\_(ツ)_/¯ 💥

#3726 Allwinner: Enable joydev driver
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
Labels: ALLWINNER, KERNEL, LE 10.0

#3713 zstd: update to 1.4.1
  packages/compress/zstd/package.mk
Labels: LE 10.0, UPDATE

#3714 llvm: update to llvm-8.0.1 / updated PKG_URL
  packages/lang/llvm/package.mk
Labels: LE 10.0, UPDATE

#3723 iMX6: kodi: add patch to quirk the plane usage
  projects/NXP/devices/iMX6/patches/kodi/kodi-100.90-imx-quirk-plane-usage.patch
Labels: BUGFIX, LE 10.0, MERGE ¯\_(ツ)_/¯ 💥, PATCH

#3725 bzip2: update to 1.0.8
  packages/compress/bzip2/package.mk
  packages/compress/bzip2/patches/bzip2-1.0.6-cflags.patch
  packages/compress/bzip2/patches/bzip2-1.0.8-cflags.patch
Labels: LE 10.0, PACKAGE, UPDATE

#3730 Allwinner: Fix USB3 support
  projects/Allwinner/devices/H6/patches/linux/09-pineh64-enable-usb3.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.3.patch
Labels: ALLWINNER, IMPROVEMENT, KERNEL, LE 10.0

#3718 mesa: update to mesa-19.1.3
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3719 safe_remove: remove also broken symbolic links
  config/functions
Labels: BUILDSYSTEM, LE 10.0

#3702 [le92] use e2fsprogs/dosfstools from toolchain for image creation
  packages/sysutils/dosfstools/package.mk
  packages/sysutils/e2fsprogs/package.mk
  scripts/image
  scripts/mkimage
Labels: BUGFIX, BUILDSYSTEM, LE 9.2
