Repository LibreELEC/LibreELEC.tv, pull requests merged in 2019-06, with the labels that each got.

#3541 Fix U-Boot compilation when board config is missing
  packages/tools/u-boot/package.mk
  scripts/uboot_helper
Labels: ALLWINNER, BUGFIX, BUILDSYSTEM, LE 10.0, PULL 9.2

#3531 buildsystem: cleanup (addons) and fix (linux)
  config/functions
  config/multithread
  packages/addons/addon-depends/network-tools-depends/udpxy/package.mk
  packages/addons/service/slice/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree_cc/package.mk
  packages/linux-firmware/firmware-imx/package.mk
  packages/linux/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/readme.md
  packages/x11/other/fontconfig/package.mk
  scripts/build
  scripts/clean
  scripts/install_addon
  scripts/unpack
  tools/distro-tool
  tools/pkgcheck
Labels: BUILDSYSTEM, CLEANUP, LE 10.0, PULL 9.2

#3529 linux: drop ati_remote.conf modprobe file
  packages/linux/modprobe.d/ati_remote.conf
Labels: BUGFIX, LE 9.0

#3528 linux: drop ati_remote.conf modprobe file
  packages/linux/modprobe.d/ati_remote.conf
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0, PULL 9.2

#3523 cleanup initramfs build, drop support for kernel modules in initramfs
  config/show_config
  packages/linux/package.mk
  packages/sysutils/busybox/scripts/init
  packages/sysutils/v86d/package.mk
  packages/sysutils/v86d/patches/v86d-0.1.10-crosscompiling.patch
  packages/sysutils/v86d/patches/v86d-0.1.10-dont-include-kernelheaders.patch
  packages/tools/plymouth-lite/package.mk
  packages/virtual/initramfs/package.mk
  projects/Allwinner/options
  projects/Generic/linux/linux.x86_64.conf
  projects/Generic/options
  projects/RPi/options
  projects/Rockchip/options
Labels: BUILDSYSTEM, CLEANUP, LE 10.0

#3545 Allwinner: Various updates
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-95.0002-Add-common-V4L2-request-API-code.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-95.0003-Add-V4L2-request-API-mpeg2-hwaccel.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-95.0004-Add-V4L2-request-API-h264-hwaccel.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-95.0005-Add-V4L2-request-API-hevc-hwaccel.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-95.0006-Add-and-use-private-linux-headers-for-V4L2-request-A.patch
  packages/tools/atf/patches/01-plat-allwinner-h6-add-wdt_quirk-to-use-r_wdt-instead.patch
  projects/Allwinner/devices/A64/patches/linux/03-opi-win-bt.patch
  projects/Allwinner/devices/H3/patches/linux/beelink_x2_wifi.patch
  projects/Allwinner/devices/H6/patches/linux/03-VPU.patch
  projects/Allwinner/devices/H6/patches/linux/06-10-bit-HEVC-hack.patch
  projects/Allwinner/devices/H6/patches/linux/06-cedrus-increase-frequency.patch
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/linux/08-clock-fixes.patch
  projects/Allwinner/devices/H6/patches/u-boot/002-orange-pi-3-support.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/patches/linux/0002-backport-from-5.2.patch
  projects/Allwinner/patches/linux/0003-backport-from-5.3.patch
  projects/Allwinner/patches/linux/0004-cedrus-hevc.patch
  projects/Allwinner/patches/linux/0005-hdmi-init-fix.patch
  projects/Allwinner/patches/linux/0005-media-cedrus-Add-H264-decoding-support.patch
  projects/Allwinner/patches/linux/0006-wip-cec-improvements.patch
  projects/Allwinner/patches/linux/0007-media-cedrus-Fix-decoding-for-some-H264-videos.patch
  projects/Allwinner/patches/linux/0008-media-cedrus-Fix-H264-default-reference-index-count.patch
  projects/Allwinner/patches/linux/0009-media-cedrus-WIP-H264-improvements.patch
  projects/Allwinner/patches/linux/0010-WIP-HEVC-improvements.patch
  projects/Allwinner/patches/linux/0010-WIP-dw-hdmi-cec-sleep-100ms-on-error.patch
  projects/Allwinner/patches/linux/0011-cedrus-h264-4k.patch
  projects/Allwinner/patches/linux/0012-Revert-media-vb2-keep-track-of-timestamp-status.patch
  projects/Allwinner/patches/linux/0018-cedrus-increase-frequency.patch
  scripts/uboot_helper
Labels: ALLWINNER, IMPROVEMENT, LE 10.0, PULL 9.2

#3539 cleanup: Remove code related to kernels 3.14 and 3.10 on WiFi drivers.
  packages/linux-drivers/RTL8192CU/patches/RTL8192CU-0002-fix_310_proc2.patch
  packages/linux-drivers/RTL8192CU/patches/RTL8192CU-0101-gcc-4.9.patch
  packages/linux-drivers/RTL8192CU/patches/RTL8192CU-0102-gcc-5.patch
  packages/linux-drivers/RTL8192EU/patches/RTL8192EU-0101-gcc-5.patch
Labels: CLEANUP, LE 10.0, PACKAGE, PATCH

#3543 xf86-video-nvidia: update to xf86-video-nvidia-430.14
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3522 bcm2835-bootloader: cleanup update.sh
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/bcm2835-bootloader/scripts/update.sh
  projects/RPi/bootloader/update.sh
Labels: CLEANUP, IMPROVEMENT, LE 10.0, PULL 9.2

#3552 LibreELEC-settings: update to LibreELEC-settings-f59dcc8
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3546 openssl: update to openssl-1.1.1c
  packages/security/openssl/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3547 heimdal: update to heimdal-7.7.0
  packages/devel/heimdal/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3548 config/functions: ln -sf is not always thread safe
  config/functions
Labels: BUGFIX, BUILDSYSTEM, LE 10.0, PULL 9.2

#3549 xf86-video-nvidia: update to xf86-video-nvidia-430.26
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3550 procps-ng: free from busybox doesn't match top
  packages/sysutils/busybox/config/busybox-target.conf
  packages/tools/procps-ng/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2

#3524 buildsystem: add "speed" flag for package building
  config/functions
  config/optimize
  packages/debug/gdb/package.mk
  packages/mediacenter/kodi/package.mk
Labels: BUILDSYSTEM, FEATURE, IMPROVEMENT, LE 10.0

#3526 mali-midgard: provide a single package for Mali Midgard kernel module
  packages/linux-drivers/gpu-sunxi-midgard/package.mk
  packages/linux-drivers/gpu-sunxi-midgard/patches/01-add-bus-clk-and-reset.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/02-restore-old-api.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/03-gpu-arm-Midgard-setup_timer-timer_setup.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/04-drivers-gpu-Arm-Midgard-Replace-ACCESS_ONCE-by-READ_.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/05-gpu-arm-midgard-Remove-sys_close-references.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/06-fix-4.20-build.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/07-some-fixes.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/08-fix-building-with-5.0.patch
  packages/linux-drivers/gpu-sunxi-midgard/patches/09-fix-building-with-5.1.patch
  packages/linux-drivers/mali-midgard/package.mk
  projects/Allwinner/devices/H6/options
  projects/Allwinner/devices/H6/patches/linux/01-add-mali-node.patch
Labels: ALLWINNER, AMLOGIC, LE 10.0, ROCKCHIP

#3525 mali-utgard: provide a single package for Mali Utgard kernel module
  packages/linux-drivers/gpu-sunxi/package.mk
  packages/linux-drivers/gpu-sunxi/patches/add-sunxi-platform.patch
  packages/linux-drivers/gpu-sunxi/patches/fix-building-with-4.16.patch
  packages/linux-drivers/gpu-sunxi/patches/fix-building-with-4.20.patch
  packages/linux-drivers/gpu-sunxi/patches/fix-building-with-5.0.patch
  packages/linux-drivers/gpu-sunxi/patches/fix-building-with-5.1.patch
  packages/linux-drivers/mali-utgard/package.mk
  projects/Allwinner/devices/A64/options
  projects/Allwinner/devices/H3/options
Labels: ALLWINNER, AMLOGIC, LE 10.0, ROCKCHIP

#3527 glibc: raise minimum kernel supported to 4.4.0
  packages/devel/glibc/package.mk
Labels: LE 10.0

#3555 libmali: add depends on kernel driver
  packages/graphics/libmali/package.mk
  projects/Allwinner/devices/A64/options
  projects/Allwinner/devices/H3/options
  projects/Allwinner/devices/H6/options
Labels: ALLWINNER, AMLOGIC, LE 10.0, ROCKCHIP

#3556 linux (RPi): switch to 4.19.50
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-052-xbox_dvd_remote_support.patch
  packages/linux/patches/raspberrypi/linux-901-extend-rc6-toggle-support.patch
  packages/linux/patches/raspberrypi/linux-999.03-dvbskys960-fix.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 9.2

#3553 mesa: update to mesa-19.1.0
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3554 busybox: update to busybox-1.31.0
  packages/sysutils/busybox/config/busybox-host.conf
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/patches/busybox-06-prevent-root-weak-passwd.patch
Labels: LE 10.0, PACKAGE, PATCH, PULL 9.2, UPDATE

#3534 amremote/atvclient: cleanup
  config/show_config
  distributions/LibreELEC/options
  packages/sysutils/atvclient/package.mk
  packages/sysutils/atvclient/patches/atvclient-0.1-change_config_location-0.1.patch
  packages/sysutils/atvclient/system.d/atvclient.service
  packages/sysutils/atvclient/tmpfiles.d/63_atvclient.conf
  packages/sysutils/atvclient/udev.d/98-appleir.rules
  packages/virtual/remote/package.mk
  projects/Allwinner/options
  projects/RPi/options
  projects/Rockchip/options
Labels: CLEANUP, LE 10.0, PACKAGE, PULL 9.2

#3558 Alliwinner: Add eMMC definition to device tree of Orange PI 3
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/u-boot/002-orange-pi-3-support.patch
Labels: ALLWINNER, HARDWARE, IMPROVEMENT, LE 10.0, PULL 9.2

#3540 linux (RPi/Generic/Allwinner): update to linux-5.1.9
  packages/linux/package.mk
  packages/linux/patches/default/linux-999.03-dvbskys960-fix.patch
  packages/linux/patches/default/linux-999.99-revert-faulty-bt-encryption-commit.patch
  packages/linux/patches/raspberrypi/linux-999.99-revert-faulty-bt-encryption-commit.patch
  packages/network/wireless-regdb/package.mk
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/patches/linux/0002-backport-from-5.2.patch
  projects/Allwinner/patches/linux/0005-hdmi-init-fix.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: ALLWINNER, KERNEL, LE 10.0, PACKAGE, UPDATE, WORK IN PROGRESS

#3542 dvb-update
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree/patches/media_tree-01-hauppauge.patch
  packages/linux-driver-addons/dvb/depends/media_tree/patches/media_tree-02-add-t230c2.patch
  packages/linux-driver-addons/dvb/depends/media_tree_cc/package.mk
  packages/linux-driver-addons/dvb/digital_devices/package.mk
  packages/linux-driver-addons/dvb/dvb-latest/package.mk
  projects/Generic/options
  projects/RPi/options
  projects/Rockchip/options
Labels: LE 10.0, PULL 9.2, UPDATE

#3561 Allwinner: adds support for OrangePi One Plus
  projects/Allwinner/patches/linux/0012-arm64-dts-allwinner-OrangePiOnePlus-updates.patch
  projects/Allwinner/patches/u-boot/0002-Update-Orange-Pi-One-Plus-for-LibreELEC.patch
  scripts/uboot_helper
Labels: ALLWINNER, HARDWARE, IMPROVEMENT, LE 10.0, PULL 9.2

#3557 packages: more bumps (only a few)
  packages/databases/mariadb-connector-c/package.mk
  packages/network/nss-mdns/package.mk
  packages/network/nss-mdns/patches/nss-mdns-fix-out-of-bounds.patch
  packages/python/devel/Mako/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/security/nss/package.mk
  packages/security/nss/patches/nss-06-always-include-fstar.patch
  packages/sysutils/e2fsprogs/package.mk
  packages/sysutils/libevdev/package.mk
  packages/tools/procps-ng/package.mk
  packages/web/libmicrohttpd/package.mk
  packages/web/nghttp2/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0001-pt-layout.patch
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0002-revert-commits-depending-on-unreleased-packages.patch
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0003-drop-unsupported-keycode.patch
Labels: LE 10.0, PACKAGE, PATCH, PULL 9.2, UPDATE

#3506 tinkerboard: disable 5s polling for CEC adapters
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/cec-framework/kodi-100.17-tinker-s-cec-disable-polling.patch
Labels: IMPROVEMENT, LE 10.0, PACKAGE, PATCH, PULL 9.2

#3564 busybox: fix XBMC reference
  packages/sysutils/busybox/scripts/apt-get
Labels: CLEANUP, LE 10.0, PULL 9.2

#3565 buildsystem: remove legacy sequential code
  Makefile
  scripts/create_addon_st
  scripts/image_st
Labels: BUILDSYSTEM, CLEANUP, LE 10.0

#3563 Allwinner: Build fixes
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/linux/08-arm64-dts-allwinner-OrangePiOnePlus-updates.patch
  projects/Allwinner/devices/H6/patches/u-boot/003-Update-Orange-Pi-One-Plus-for-LibreELEC.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0012-H6-USB3.patch
Labels: ALLWINNER, BUGFIX, LE 10.0, PULL 9.2

#3568 binary-addons: bump to latest Leia
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, LE 9.0, PACKAGE, UPDATE

#3571 Amlogic: fix syntax error, fix booting from USB
  projects/Amlogic/devices/AMLGX/bootloader/scripts/s905_autoscript.src
Labels: AMLOGIC, LE 10.0

#3574 dvb-firmware: update to 1.4.0
  packages/linux-firmware/dvb-firmware/package.mk
Labels: LE 10.0, PULL 9.2, UPDATE

#3575 edid-decode: switch to current URL and update to latest version
  packages/debug/edid-decode/package.mk
Labels: BACKPORT DONE, LE 10.0, PACKAGE, UPDATE

#3576 [le92] edid-decode: switch to current URL and update to latest version
  packages/debug/edid-decode/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3585 Slice, Slice3: fix device tree overlay building on kernel 5.1
  packages/linux-drivers/slice-drivers/package.mk
  packages/linux/package.mk
  projects/RPi/devices/RPi2/options
  projects/RPi/devices/Slice/config/slice-overlay.dts
  projects/RPi/devices/Slice/config/ws2812-overlay.dts
  projects/RPi/devices/Slice/options
  projects/RPi/devices/Slice/patches/linux/linux-04-rtc-pcf8523-c.patch
  projects/RPi/devices/Slice3/config/slice-overlay.dts
  projects/RPi/devices/Slice3/config/ws2812-overlay.dts
  projects/RPi/devices/Slice3/options
  projects/RPi/devices/Slice3/patches/linux/linux-04-rtc-pcf8523-c.patch
Labels: BUGFIX, CLEANUP, LE 10.0

#3586 fixup slice cleanup, revert accidentally added testing change
  projects/RPi/devices/RPi2/options
Labels: BUGFIX, LE 10.0

#3581 distro: bump ADDON_VERSION to 9.1.900
  distributions/LibreELEC/version
Labels: ADDONS, LE 9.2, UPDATE

#3580 distro: bump OS_VERSION/ADDON_VERSION to 9.80/9.80.0
  distributions/LibreELEC/version
Labels: ADDONS, LE 10.0, UPDATE

#3579 Update Kodi to 18.3-Leia
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi/package.mk
  projects/Allwinner/patches/kodi/0001-Remove-check-for-sw-format.patch
Labels: LE 9.2, PACKAGE, UPDATE

#3577 samba: update to samba-4.9.9
  packages/network/samba/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE, UPDATE

#3566 buildsystem: die if a kernel config is not available
  config/functions
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0, PULL 9.2

#3562 curl: shift to gnutls
  packages/web/curl/package.mk
Labels: IMPROVEMENT, LE 10.0, PACKAGE

#3256 mpv-drmprime: new package
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/patches/mpv-drmprime-PR6461.patch
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
  packages/python/devel/waf/package.mk
Labels: ADDONS, LE 10.0, WORK IN PROGRESS

#3587 Amlogic: use correct path
  projects/Amlogic/config/kernel-firmware.dat
Labels: BUGFIX, LE 10.0

#3589 rkmpp: update to 66b140e
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1010-rkmppdec-set-mastering-display-and-content-light-sid.patch
  packages/multimedia/rkmpp/package.mk
  packages/multimedia/rkmpp/patches/rkmpp-0001-fix-32-bit-mmap-issue-on-64-bit-kernels.patch
  packages/multimedia/rkmpp/patches/rkmpp-0005-m2vd-export-aspect-ratio-information.patch
  packages/multimedia/rkmpp/patches/rkmpp-0006-h265d-fix-color-range-and-colorspace-metadata.patch
  packages/multimedia/rkmpp/patches/rkmpp-0007-h265d-export-mastering-display-and-content-light-met.patch
Labels: LE 10.0, PULL 9.2, ROCKCHIP, UPDATE

#3590 [le92] rkmpp: update to 66b140e
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1010-rkmppdec-set-mastering-display-and-content-light-sid.patch
  packages/multimedia/rkmpp/package.mk
  packages/multimedia/rkmpp/patches/rkmpp-0001-fix-32-bit-mmap-issue-on-64-bit-kernels.patch
  packages/multimedia/rkmpp/patches/rkmpp-0005-m2vd-export-aspect-ratio-information.patch
  packages/multimedia/rkmpp/patches/rkmpp-0006-h265d-fix-color-range-and-colorspace-metadata.patch
  packages/multimedia/rkmpp/patches/rkmpp-0007-h265d-export-mastering-display-and-content-light-met.patch
Labels: LE 9.2, ROCKCHIP, UPDATE

#3569 Amlogic: fix backport kernel patches for 5.1.9
  projects/Amlogic/patches/linux/a-meson-integ.patch
Labels: AMLOGIC, BUGFIX, KERNEL, LE 10.0

#3519 linux (RPi, Generic): update to 4.19.42+
  packages/linux/package.mk
  packages/linux/patches/default/linux-999.03-dvbskys960-fix.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, LE 9.0, UPDATE

#3588 kodi (Rockchip): update to kodi-rockchip_18.3-Leia-v2
  packages/mediacenter/kodi/package.mk
Labels: LE 9.2, ROCKCHIP, UPDATE

#3570 buildsystem: cleanup scripts, consistent brace usage
  scripts/build
  scripts/ccache_stats
  scripts/checkdeps
  scripts/clean
  scripts/create_addon
  scripts/create_docker_package
  scripts/extract
  scripts/image
  scripts/install
  scripts/install_addon
  scripts/mkimage
  scripts/unpack
Labels: BUILDSYSTEM, CLEANUP, LE 10.0, PULL 9.2

#3591 buildsystem: cleanup scripts, consistent brace usage [backport]
  config/functions
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  scripts/build
  scripts/ccache_stats
  scripts/checkdeps
  scripts/clean
  scripts/create_addon
  scripts/create_docker_package
  scripts/extract
  scripts/image
  scripts/install
  scripts/install_addon
  scripts/mkimage
  scripts/unpack
Labels: BUILDSYSTEM, CLEANUP, LE 9.2

#3573 init: more informative syslinux boot message
  packages/sysutils/busybox/scripts/init
  scripts/mkimage
Labels: IMPROVEMENT, LE 10.0, PULL 9.2

#3593 mpg123: drop dependency on SDL2
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
Labels: ADDONS, BACKPORT DONE, CLEANUP, LE 10.0

#3596 add support for Raspberry Pi 4
  config/graphic
  packages/devel/libcec/package.mk
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/patches/brcmfmac_sdio-firmware-rpi-001-sync-with-raspbian-buster.patch
  packages/linux/package.mk
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/bcm2835-bootloader/release
  packages/tools/bcmstat/patches/bcmstat-001-add-patch-from-milhouse.patch
  projects/RPi/devices/RPi/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
  projects/RPi/devices/RPi2/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
  projects/RPi/devices/RPi4/config/config.txt
  projects/RPi/devices/RPi4/config/distroconfig.txt
  projects/RPi/devices/RPi4/kodi/appliance.xml
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/RPi/devices/RPi4/options
  projects/RPi/devices/RPi4/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
  projects/RPi/devices/RPi4/patches/kodi/kodi-001-hack-in-mmal.patch
  projects/RPi/devices/RPi4/patches/kodi/kodi-002-add-pisink.patch
  projects/RPi/devices/RPi4/patches/kodi/kodi-010-PR16063-Leia-limit-guisize.patch
  projects/RPi/devices/Slice/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
  projects/RPi/devices/Slice3/patches/ffmpeg/ffmpeg-001-pfcd_hevc_optimisations.patch
  projects/RPi/filesystem/usr/share/alsa/cards/bcm2835_alsa.conf
  projects/RPi/options
  scripts/image
Labels: LE 9.2, PACKAGE, UPDATE

#3602 ffmpeg: drop --disable-rpi option on non-RPi projects
  packages/multimedia/ffmpeg/package.mk
Labels: BUGFIX, LE 9.2

#3598 buildsystem: fix scripts/unpack after #3570
  scripts/unpack
Labels: BUGFIX, BUILDSYSTEM, LE 10.0, PULL 9.2

#3599 buildsystem: fix scripts/unpack after #3591 [backport]
  scripts/unpack
Labels: BUGFIX, BUILDSYSTEM, LE 9.2

#3607 scripts/mkimage: force gzip to overwrite target/*.img.gz
  scripts/mkimage
Labels: BUGFIX, BUILDSYSTEM, LE 10.0

#3608 scripts/mkimage: force gzip to overwrite target/*.img.gz
  scripts/mkimage
Labels: BUGFIX, BUILDSYSTEM, LE 9.2

#3601 Update mali drivers
  packages/linux-drivers/mali-bifrost/package.mk
  packages/linux-drivers/mali-midgard/package.mk
  projects/Allwinner/devices/H6/patches/linux/01-add-mali-node.patch
Labels: ALLWINNER, AMLOGIC, LE 10.0, ROCKCHIP, UPDATE

#3610 [le92] fix noobs image creation
  config/noobs/os.json
  projects/RPi/devices/RPi4/options
  scripts/image
Labels: BUGFIX, CLEANUP, LE 9.2

#3609 buildsystem: use pigz when compressing images
  packages/compress/pigz/package.mk
  packages/devel/glibc/package.mk
  packages/virtual/toolchain/package.mk
  scripts/mkimage
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#3611 buildsystem: use pigz when compressing images [backport]
  packages/compress/pigz/package.mk
  packages/devel/glibc/package.mk
  packages/virtual/toolchain/package.mk
  scripts/mkimage
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.2

#3605 cleanup RPi4 commits
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/patches/brcmfmac_sdio-firmware-rpi-001-sync-with-raspbian-buster.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/bcmstat/package.mk
  packages/tools/bcmstat/patches/bcmstat-001-add-patch-from-milhouse.patch
Labels: CLEANUP, LE 9.2, PACKAGE, UPDATE

#3612 touchscreen: fix a crash with segfaults on x64 machines
  packages/addons/addon-depends/tslib/patches/tslib-20-fbutils_fix_x64_execution.patch
  packages/addons/service/touchscreen/changelog.txt
  packages/addons/service/touchscreen/package.mk
Labels: ADDONS, BUGFIX, LE 10.0, PATCH

#3613 touchscreen: fix a crash with segfaults on x64 machines
  packages/addons/addon-depends/tslib/patches/tslib-20-fbutils_fix_x64_execution.patch
  packages/addons/service/touchscreen/changelog.txt
  packages/addons/service/touchscreen/package.mk
Labels: ADDONS, BUGFIX, LE 9.2, PATCH

#3622 vdr-plugin-xmltv2vdr: link against openssl
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/package.mk
Labels: ADDONS, BUGFIX, LE 10.0
