Repository LibreELEC/LibreELEC.tv, pull requests merged in 2019-09, with the labels that each got.

#3780 mame2015: improve build
  packages/emulation/libretro-mame2015/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2015/package.mk
Labels: ADDONS, LE 10.0, PACKAGE

#3785 kodi: update to 18.4-Leia
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-995.01-revert-always-update-stream-detail.patch
Labels: LE 9.2, PACKAGE, UPDATE

#3783 [le92] ffmpeg: update to 4.0.4-Leia-18.4
  packages/multimedia/ffmpeg/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3786 binary addons: update to latest Leia versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.asap/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#3784 [le10] ffmpeg: update to 4.0.4-Leia-18.4
  packages/multimedia/ffmpeg/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3732 audiodecoder.timidity: add libtimidity.so
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/patches/audiodecoder.timidity-001-dynamic_lib.patch
Labels: ADDONS, BUGFIX, LE 9.2

#3770 buildsystem: minor fixups [backport]
  config/functions
  config/multithread
  packages/addons/addon-depends/chrome-depends/icu/package.mk
  packages/addons/addon-depends/chrome-depends/shared-mime-info/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/opencaster/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/tsdecrypt/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblognorm/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/devel/glib/package.mk
  packages/emulation/libretro-fsuae/package.mk
  packages/emulation/libretro-uae4arm/package.mk
  packages/graphics/glew/package.mk
  scripts/get_archive
  scripts/image
  tools/dashboard
Labels: ADDONS, BUGFIX, BUILDSYSTEM, LE 9.2, PACKAGE

#3772 mesa: update to mesa-19.1.5
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3734 le92 backports (9.1.003)
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
  packages/addons/addon-depends/jre-depends/jdk-aarch64-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jdk-arm-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jdk-x86_64-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jre-libXinerama/package.mk
  packages/addons/addon-depends/jre-depends/jre-libbluray/package.mk
  packages/addons/tools/jre.zulu/changelog.txt
  packages/addons/tools/jre.zulu/icon/icon.png
  packages/addons/tools/jre.zulu/package.mk
  packages/addons/tools/jre.zulu/profile.d/jre.profile
  packages/addons/tools/jre.zulu/source/default.py
  packages/compress/zstd/package.mk
  packages/devel/parallel/package.mk
  packages/graphics/mesa/package.mk
  packages/sysutils/busybox/config/suspend-modules.conf
  packages/sysutils/busybox/scripts/getedid
  packages/sysutils/busybox/sleep.d.serial/99-suspend-modules.sh
  packages/sysutils/util-linux/scripts/mount-swap
  packages/web/curl/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: BACKPORT DONE, LE 9.2

#3778 samba: update to samba-4.9.12
  packages/network/samba/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3791 samba: update to samba-4.9.13
  packages/network/samba/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3779 squashfs-tools: renamed squashfs / updated to release 4.4
  packages/sysutils/squashfs-tools/package.mk
  packages/sysutils/squashfs/package.mk
  packages/sysutils/squashfs/patches/fix-compilation-issue.patch
  packages/virtual/image/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3799 [le92] binary addons: update to latest Leia versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.gme/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.vgmstream/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#3743 linux (Mainline/RPi): update to linux-5.2.13
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/Allwinner/patches/linux/0003-backport-from-5.4.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: ALLWINNER, KERNEL, LE 10.0, NXP, PACKAGE

#3789 docker: updated to 19.03.2 / bumped dependencies
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/patches/docker-100.01-use-addon-storage-location.patch
  packages/addons/service/docker/patches/docker-100.02-fix-too-many-arguments-in-call-to-filesync.CopyFileWriter.patch
Labels: ADDONS, LE 10.0, UPDATE

#3729 RPi4: add tools for updating SPI bootloader
  packages/devel/binutils/package.mk
  packages/graphics/bcm2835-driver/package.mk
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/init
  packages/sysutils/busybox/scripts/rpi-flash-firmware
  packages/sysutils/busybox/system.d/rpi-flash-firmware.service
  packages/sysutils/busybox/system.d/rpi-flash-firmware.target
  packages/tools/flashrom/package.mk
  packages/tools/rpi-eeprom/config/rpi-eeprom-update
  packages/tools/rpi-eeprom/package.mk
  packages/tools/rpi-eeprom/source/rpi-eeprom-update
  projects/RPi/devices/RPi4/options
Labels: LE 10.0, PACKAGE, PATCH, PULL 9.2

#3802 LibreELEC-settings: update to LibreELEC-settings-a8481d9
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#3795 samba: update to samba-4.9.13 [backport]
  packages/network/samba/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3800 Rockchip: update rkmpp and mitigate gcc 9 build issues
  packages/linux/package.mk
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1005-rkmppdec-Kodi-need-more-buffers.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1006-rkmppdec-continue-on-errinfo-frame.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1007-rkmppdec-enable-mpeg2.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1010-rkmppdec-set-mastering-display-and-content-light-sid.patch
  packages/multimedia/rkmpp/package.mk
  packages/multimedia/rkmpp/patches/rkmpp-0001-disable-unit-tests-by-default.patch
  packages/multimedia/rkmpp/patches/rkmpp-0002-m2vd-use-ctx-pts.patch
  packages/multimedia/rkmpp/patches/rkmpp-0003-h264d-fix-mpp_buf_slot_get_prop-crash.patch
  packages/multimedia/rkmpp/patches/rkmpp-0005-m2vd-export-aspect-ratio-information.patch
  packages/multimedia/rkmpp/patches/rkmpp-0006-h265d-fix-color-range-and-colorspace-metadata.patch
  packages/multimedia/rkmpp/patches/rkmpp-0007-h265d-export-mastering-display-and-content-light-met.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0012-Revert-Makefile-enable-Werror-option.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0013-Makefile-adopt-std-gnu11-for-HOSTCFLAGS-on-Linux.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0014-Makefile-Ensure-we-build-with-std-gnu11.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0015-Makefile-Use-fno-strict-aliasing-globally.patch
  projects/Rockchip/options
Labels: LE 10.0, ROCKCHIP, UPDATE

#3801 Rockchip: update rkmpp and sync linux config
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1005-rkmppdec-Kodi-need-more-buffers.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1006-rkmppdec-continue-on-errinfo-frame.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1007-rkmppdec-enable-mpeg2.patch
  packages/multimedia/ffmpeg/patches/rkmpp/ffmpeg-99.1010-rkmppdec-set-mastering-display-and-content-light-sid.patch
  packages/multimedia/rkmpp/package.mk
  packages/multimedia/rkmpp/patches/rkmpp-0001-disable-unit-tests-by-default.patch
  packages/multimedia/rkmpp/patches/rkmpp-0002-m2vd-use-ctx-pts.patch
  packages/multimedia/rkmpp/patches/rkmpp-0003-h264d-fix-mpp_buf_slot_get_prop-crash.patch
  packages/multimedia/rkmpp/patches/rkmpp-0005-m2vd-export-aspect-ratio-information.patch
  packages/multimedia/rkmpp/patches/rkmpp-0006-h265d-fix-color-range-and-colorspace-metadata.patch
  packages/multimedia/rkmpp/patches/rkmpp-0007-h265d-export-mastering-display-and-content-light-met.patch
  projects/Rockchip/devices/MiQi/linux/rockchip-4.4/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/TinkerBoard/linux/rockchip-4.4/linux.arm.conf
Labels: LE 9.2, ROCKCHIP, UPDATE

#3812 [le92] libretro-mame: fix PKG_SHA256
  packages/emulation/libretro-mame/package.mk
Labels: LE 9.2, PACKAGE

#3814 iwlwifi-firmware: update to iwlwifi-firmware-8d85157
  packages/linux-firmware/iwlwifi-firmware/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3821 linux: fix Amlogic SHA256
  packages/linux/package.mk
Labels: KERNEL, LE 10.0

#3792 mesa: update to mesa-19.1.6
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3798 scripts: image: BUILDER_NAME in image filename
  scripts/image
Labels: BUILDSYSTEM, LE 10.0

#3782 libvdpau: updated to v1.3
  packages/multimedia/libvdpau/package.mk
Labels: LE 10.0, UPDATE

#3823 Revert PR3798
  scripts/image
Labels: BUILDSYSTEM, LE 10.0

#3826 u-boot: move 2019.07 specific patches to subfolder
  packages/tools/u-boot/patches/2019.07/u-boot-0001-amlogic-g12.patch
  packages/tools/u-boot/patches/2019.07/u-boot-0002-amlogic-g12.patch
  packages/tools/u-boot/patches/2019.07/u-boot-0003-amlogic-g12.patch
  packages/tools/u-boot/patches/2019.07/u-boot-0004-amlogic-g12.patch
Labels: LE 10.0

#3794 systemd: update to systemd-243
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/patches/systemd-0200-persist-persistent-timer-stamps.patch
  packages/sysutils/systemd/patches/systemd-0400-eat-up-rrdrand-on-amd.patch
Labels: LE 10.0, PACKAGE, PATCH, UPDATE

#3809 [le92] hyperion: Update to version 2019-08-19
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#3808 [le10] hyperion: Update to version 2019-08-19
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
Labels: ADDONS, BACKPORT DONE, LE 10.0, UPDATE

#3832 kodi: give kodi enough time to properly shut down
  packages/mediacenter/kodi/system.d/kodi.service
Labels: BUGFIX, LE 10.0, PACKAGE, PULL 9.2

#3828 Amlogic: cleanup options
  projects/Amlogic/options
Labels: AMLOGIC, CLEANUP, LE 10.0

#3841 Amlogic: eliminate config prompts; align compression and drivers with other projects
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Amlogic/options
Labels: AMLOGIC, KERNEL, LE 10.0

#3811 xf86-video-nvidia: update to xf86-video-nvidia-430.50
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3824 mesa: update to mesa-19.1.6 [backport]
  packages/graphics/mesa/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3836 [le92] kodi: give kodi enough time to properly shut down
  packages/mediacenter/kodi/system.d/kodi.service
Labels: BUGFIX, LE 9.2, PACKAGE

#3838 [le92] init: make copying SYSTEM to RAM opt-in
  packages/sysutils/busybox/scripts/init
Labels: CLEANUP, FEATURE, LE 9.2

#3805 [le92] fix filesystem corruption on reboot/shutdown
  packages/sysutils/systemd/patches/systemd-0005-ignore-storage-flash-mount-points.patch
  packages/sysutils/systemd/system.d/flash.mount.d/dependencies.conf
  scripts/install
Labels: BUGFIX, LE 9.2, PACKAGE

#3830 imagedecoder.heif addon
  packages/graphics/libde265/package.mk
  packages/graphics/libheif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
Labels: ADDONS, LE 10.0

#3820 init: make copying SYSTEM to RAM opt-in
  packages/sysutils/busybox/scripts/init
Labels: BACKPORT DONE, BACKPORT REQD, CLEANUP, FEATURE, LE 10.0

#3790 graphic: use GLVND to dispatch graphic API calls
  packages/graphics/libepoxy/package.mk
  packages/graphics/libglvnd/package.mk
  packages/graphics/libglvnd/patches/libglvnd-999.01-add-pkgconfig-data-for-implemented-libraries.patch
  packages/graphics/mesa/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/xserver/xorg-server/scripts/xorg-configure
Labels: FEATURE, IMPROVEMENT, LE 10.0, UPDATE

#3804 fix filesystem corruption on reboot/shutdown
  packages/sysutils/systemd/patches/systemd-0005-ignore-storage-flash-mount-points.patch
  packages/sysutils/systemd/system.d/flash.mount.d/dependencies.conf
  scripts/install
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0, PACKAGE

#3845 imagedecoder.heif addon
  packages/graphics/libde265/package.mk
  packages/graphics/libheif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
Labels: ADDONS, LE 9.2

#3803 RPi4: add tools for updating SPI bootloader [backport]
  packages/devel/binutils/package.mk
  packages/graphics/bcm2835-driver/package.mk
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/init
  packages/sysutils/busybox/scripts/rpi-flash-firmware
  packages/sysutils/busybox/system.d/rpi-flash-firmware.service
  packages/sysutils/busybox/system.d/rpi-flash-firmware.target
  packages/tools/flashrom/package.mk
  packages/tools/rpi-eeprom/config/rpi-eeprom-update
  packages/tools/rpi-eeprom/package.mk
  packages/tools/rpi-eeprom/source/rpi-eeprom-update
  projects/RPi/devices/RPi4/options
Labels: ADDONS, LE 9.2, PACKAGE

#3851 Revert "Merge pull request #3841 from MilhouseVH/le10_amlogic_cleanup"
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Amlogic/options
Labels: AMLOGIC, LE 10.0

#3776 mesonbuild: update to 0.51.2
  config/functions
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/service/mpd/package.mk
  packages/devel/glib/package.mk
  packages/devel/glib/patches/001_drop-build-tests.patch
  packages/python/devel/meson/package.mk
  packages/sysutils/systemd/package.mk
  scripts/build
  scripts/create_addon
Labels: BUILDSYSTEM, LE 10.0, UPDATE

#3716 linux (RPi/Generic): update to linux-5.3
  packages/addons/addon-depends/network-tools-depends/rsyncx/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-001-backport-tools-build-check-if-gettid-is-available.patch
  packages/linux/patches/raspberrypi/linux-001-backport-tools-build-check-if-gettid-is-available.patch
  packages/rsync/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-03-fix-linux-5.3.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, PACKAGE, PATCH

#3806 Allwinner: Update to Linux 5.3
  projects/Allwinner/devices/H6/patches/linux/05-sound-hack.patch
  projects/Allwinner/devices/H6/patches/linux/16-clk-sunxi-ng-h6-Use-sigma-delta-modulation-for-audio.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.4.patch
  projects/Allwinner/patches/linux/0001-hdmi-sound-improvements.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.3.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.5.patch
  projects/Allwinner/patches/linux/0003-backport-from-5.4.patch
  projects/Allwinner/patches/linux/0003-hdmi-improvements.patch
  projects/Allwinner/patches/linux/0004-sun4i-i2s-improvements.patch
  projects/Allwinner/patches/linux/0005-cedrus-hevc.patch
  projects/Allwinner/patches/linux/0006-wip-cec-improvements.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#3852 Allwinner: ffmpeg: Update v4l2 request api chain
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0001-avutil-add-av_buffer_pool_flush.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0002-Add-common-V4L2-request-API-code.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0003-Add-V4L2-request-API-mpeg2-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0004-Add-V4L2-request-API-h264-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0005-Add-V4L2-request-API-hevc-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0006-Add-V4L2-request-API-vp8-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0007-Add-and-use-private-linux-headers-for-V4L2-request-A.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0008-hwcontext_drm-do-not-require-drm-device.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0009-avcodec-h264-parse-idr_pic_id.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0010-avcodec-h264-parse-ref_pic_marking_size_in_bits-and-.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0011-HACK-add-dpb-flags-for-reference-usage-and-field-pic.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.4.patch
  projects/Allwinner/patches/linux/0005-cedrus-hevc.patch
  projects/Allwinner/patches/linux/0010-WIP-HEVC-improvements.patch
Labels: ALLWINNER, IMPROVEMENT, KERNEL, LE 10.0

#3855 Allwinner: Update kernel configs
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
Labels: ALLWINNER, KERNEL, LE 10.0

#3850 kodi: add pastekodi script [backport]
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/scripts/pastekodi
Labels: ADDONS, LE 9.2, PACKAGE

#3844 xf86-video-nvidia: update to xf86-video-nvidia-430.50 [backport]
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: LE 9.2, PACKAGE, UPDATE

#3862 bcmstat: update to bcmstat-0.5.3
  packages/tools/bcmstat/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3840 mesa: update to mesa-19.1.7
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3793 RPi btuart: Sync with upstream 0.1.11
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/scripts/rpi-btuart
Labels: LE 10.0, PULL 9.2

#3817 kodi: add pastekodi script
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/scripts/pastekodi
Labels: IMPROVEMENT, LE 10.0, PACKAGE, PULL 9.2

#3796 buildsystem: more fixups
  config/options
  packages/linux/package.mk
  packages/tools/u-boot-tools/package.mk
Labels: BUILDSYSTEM, LE 10.0, PULL 9.2

#3854 bluez: update to bluez-5.51
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-01_add-obexd-policy.patch
  packages/network/bluez/patches/bluez-11_sixaxis-fix-PID-navigation-controller.patch
  packages/network/bluez/patches/bluez-20-sixaxis-autotrust.patch
  packages/network/bluez/patches/bluez-99-fix-kernel-5.2-rc1.patch
Labels: LE 10.0, PACKAGE, UPDATE

#3853 init: add fix for RPi4 serial numbers
  packages/sysutils/busybox/scripts/init
  packages/tools/rpi-eeprom/config/rpi-eeprom-update
Labels: LE 10.0, PULL 9.2

#3825 busybox: init: mount squashfs early
  packages/sysutils/busybox/scripts/init
Labels: LE 10.0, PACKAGE

#3831 busybox: cleanup persistent log setup when debugging is enabled
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/system.d/storage-log.service
  packages/sysutils/busybox/system.d/var-log-debug.service
  packages/sysutils/busybox/system.d/var-log.mount
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, CLEANUP, LE 10.0

#3843 systemd: use upstream method to enable and configure debug shell
  packages/sysutils/systemd/package.mk
Labels: BUGFIX, FEATURE, IMPROVEMENT, LE 10.0

#3848 [le92] busybox: init: mount squashfs early
  packages/sysutils/busybox/scripts/init
Labels: LE 9.2, PACKAGE

#3837 [le92] busybox: cleanup persistent log setup when debugging is enabled
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/system.d/storage-log.service
  packages/sysutils/busybox/system.d/var-log-debug.service
  packages/sysutils/busybox/system.d/var-log.mount
Labels: BUGFIX, CLEANUP, LE 9.2

#3833 [le92] systemd: enable switch debug-tty to provide a debug console
  distributions/LibreELEC/options
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/system.d/debug-shell.service
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/patches/systemd-0300-config-env-unhide-cursor.patch
  projects/Allwinner/filesystem/usr/lib/systemd/system/serial-console.service
  projects/Allwinner/options
  projects/RPi/filesystem/usr/lib/systemd/system/serial-console.service
  projects/RPi/options
  projects/Rockchip/filesystem/usr/lib/systemd/system/serial-console.service
  projects/Rockchip/options
Labels: BUGFIX, CLEANUP, IMPROVEMENT, LE 9.2

#3867 kodi: fix pastekodi efi check
  packages/mediacenter/kodi/scripts/pastekodi
Labels: BUGFIX, LE 10.0, MERGE ¯\_(ツ)_/¯ 💥, PULL 9.2

#3871 update RPi.GPIO to 0.7.0
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
  packages/addons/tools/rpi-tools/changelog.txt
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0, UPDATE

#3872 [le92] update RPi.GPIO to 0.7.0
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
  packages/addons/tools/rpi-tools/changelog.txt
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, BUGFIX, LE 9.2, UPDATE
