Repository LibreELEC/LibreELEC.tv, pull requests merged in 2019-03, with the labels that each got.

#3316 openssh: drop support for ssh-dss keys
  packages/network/openssh/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3329 [RFC] add safe_remove to notify if a file doesn't exist
  config/functions
  packages/sysutils/systemd/package.mk
Labels: BACKPORT REQD, BUILDSYSTEM, CLEANUP

#3354 brcmfmac_sdio-firmware-rpi: fix race between service and /dev/serial1
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/system.d/brcmfmac_sdio-firmware.service
Labels: BUGFIX, LE 9.2

#3348 packages/{x11,print,devel}: bump packages
  packages/addons/service/lcdd/package.mk
  packages/devel/elfutils/package.mk
  packages/devel/glib/package.mk
  packages/devel/mpfr/package.mk
  packages/devel/pcre/package.mk
  packages/print/freetype/package.mk
  packages/x11/app/xkbcomp/package.mk
  packages/x11/driver/xf86-input-evdev/package.mk
  packages/x11/driver/xf86-input-libinput/package.mk
  packages/x11/driver/xf86-input-synaptics/package.mk
  packages/x11/lib/libSM/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/lib/libXau/package.mk
  packages/x11/lib/libXinerama/package.mk
  packages/x11/lib/libfontenc/package.mk
  packages/x11/other/fontconfig/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3334 xf86-video-nvidia: update to xf86-video-nvidia-410.104
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: HARDWARE, LE 9.2, PACKAGE, UPDATE

#3342 scripts/build: fix broken sym link after #3328
  config/functions
  config/multithread
  packages/databases/mysql/package.mk
  scripts/build
  scripts/build_mt
  tools/dashboard
  tools/viewplan
Labels: BUGFIX, BUILDSYSTEM, LE 9.2

#3351 config/options: ban spaces in paths
  config/options
Labels: BACKPORT DONE, BUILDSYSTEM, IMPROVEMENT, LE 10.0

#3352 config/options: ban spaces in paths [backport]
  config/options
Labels: BUILDSYSTEM, IMPROVEMENT, LE 9.0

#2471 openssl: update to 1.1.1+
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/multimedia/rtmpdump/package.mk
  packages/multimedia/rtmpdump/patches/001_fix-racing-build-issue.patch
  packages/multimedia/rtmpdump/patches/002_build-with-openssl11.patch
  packages/network/openssh/patches/openssh-7.9p1-keydir.patch
  packages/security/openssl/package.mk
  packages/security/openssl/patches/openssl-0001-ca-dir.patch
Labels: LE 9.2, UPDATE

#3336 gcc: update to gcc-8.3.0
  packages/lang/Python3/package.mk
  packages/lang/gcc/package.mk
  packages/lang/llvm/package.mk
  packages/multimedia/libhdhomerun/patches/libhdhomerun-pr19-fix-gcc-8.3.0-build.patch
Labels: LE 10.0, PACKAGE, UPDATE

#3350 [le90] binary/retroplayer update scripts: update to latest tag instead of HEAD
  packages/mediacenter/kodi-binary-addons/game.netplay/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sacd/package.mk
  tools/mkpkg/update_binary-addons
  tools/mkpkg/update_common_functions
  tools/mkpkg/update_retroplayer-addons
Labels: ADDONS, BUGFIX, LE 9.0

#3347 binary/retroplayer update scripts: update to latest tag instead of HEAD
  packages/mediacenter/kodi-binary-addons/game.netplay/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sacd/package.mk
  tools/mkpkg/update_binary-addons
  tools/mkpkg/update_common_functions
  tools/mkpkg/update_retroplayer-addons
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 9.2

#3303 [vdr-addon] Fix deprecated VDR_CHARSET_OVERRIDE
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
  packages/addons/service/vdr-addon/source/bin/vdr.start
Labels: ADDONS, BUGFIX, LE 9.2, UPDATE

#3370 [vdr-addon] Fix deprecated VDR_CHARSET_OVERRIDE
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
  packages/addons/service/vdr-addon/source/bin/vdr.start
Labels: ADDONS, BUGFIX, LE 9.0, UPDATE

#3371 dotnet-runtime: update to 2.2.3
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BACKPORT DONE, LE 9.2, UPDATE

#3372 dotnet-runtime: update to 2.2.3 (backport of #3371)
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 9.0, UPDATE

#3302 busybox/init: cleanup
  packages/sysutils/busybox/scripts/init
Labels: CLEANUP, LE 9.2

#3367 mesa: update to mesa-19.0.0
  packages/graphics/libdrm/package.mk
  packages/graphics/mesa/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3365 samba: update to samba-4.9.5
  packages/network/samba/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3358 Python2: don't install 2to3, clashes with Python3 equivalent
  packages/lang/Python2/patches/Python2-2.7.11-017-dont-install-2to3.patch
  scripts/build
  scripts/install_addon
Labels: BUGFIX, BUILDSYSTEM, LE 9.2, PACKAGE

#3356 brcmfmac_sdio-firmware-rpi: fix delay on non-wifi enabled devices
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/system.d/brcmfmac_sdio-firmware.service
Labels: BUGFIX, LE 9.2

#3218 linux (RPi/Generic): update to linux-5.0
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-drivers/RTL8188EU/package.mk
  packages/linux-drivers/RTL8192CU/package.mk
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8192EU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-052-xbox_dvd_remote_support.patch
  packages/linux/patches/default/linux-901-extend-rc6-toggle-support.patch
  packages/linux/patches/raspberrypi/linux-052-xbox_dvd_remote_support.patch
  packages/linux/patches/raspberrypi/linux-901-extend-rc6-toggle-support.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-01-fix-linux-5.0.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
Labels: KERNEL, LE 9.2, PACKAGE, PATCH, UPDATE

#3369 dvb addon updates
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree/patches/media_tree-03-linux-902-extend-rc6-toggle-support-for-zotac.patch
  packages/linux-driver-addons/dvb/depends/media_tree_cc/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree_cc/patches/media_tree_cc-02-linux-901-extend-rc6-toggle-support.patch
  packages/linux-driver-addons/dvb/depends/media_tree_cc/patches/media_tree_cc-03-linux-902-extend-rc6-toggle-support-for-zotac.patch
  packages/linux-driver-addons/dvb/depends/media_tree_cc/patches/media_tree_cc-04-fix-tbs5520se.patch
  packages/linux-driver-addons/dvb/digital_devices/package.mk
  packages/linux-driver-addons/dvb/dvb-latest/package.mk
Labels: LE 9.2, UPDATE

#3366 samba: update to samba-4.9.5 [backport]
  packages/network/samba/package.mk
Labels: LE 9.0, PACKAGE, UPDATE

#3378 linux: remove amlogic-3.10 patch dir
  packages/linux/patches/amlogic-3.10/linux-001-amlogic-cec-driver.patch
Labels: BUILDSYSTEM, CLEANUP, LE 9.2

#3389 connman: update to connman-1.37 [backport]
  packages/network/connman/package.mk
  packages/network/connman/patches/connman-00-upstream-main-Add-UseGatewaysAsTimeservers-option.patch
  packages/network/connman/patches/connman-00-upstream-timeserver-UseGatewaysAsTimeservers.patch
Labels: LE 9.0, PACKAGE, UPDATE

#3388 connman: update to connman-1.37
  packages/network/connman/package.mk
  packages/network/connman/patches/connman-00-upstream-main-Add-UseGatewaysAsTimeservers-option.patch
  packages/network/connman/patches/connman-00-upstream-timeserver-UseGatewaysAsTimeservers.patch
Labels: LE 9.2, PACKAGE, UPDATE

#3383 mesa: update to mesa-19.0.1
  packages/graphics/mesa/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3377 xf86-video-amd/intel: updates 19.0.1/6afed33
  packages/x11/driver/xf86-video-amdgpu/package.mk
  packages/x11/driver/xf86-video-amdgpu/patches/xf86-video-amdgpu-01-screen_resize.patch
  packages/x11/driver/xf86-video-ati/package.mk
  packages/x11/driver/xf86-video-ati/patches/xf86-video-ati-01-radeon_get_pixmap_bo_fix.patch
  packages/x11/driver/xf86-video-intel/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#3386 util-linux: update to util-linux-2.33.1 + lscpu
  packages/sysutils/util-linux/package.mk
  packages/sysutils/util-linux/patches/util-linux-0100-enable-lscpu.patch
Labels: LE 9.2, PACKAGE, UPDATE

#3392 libmali: update to 74c27b4
  packages/graphics/libmali/package.mk
Labels: PACKAGE, UPDATE
