Repository LibreELEC/LibreELEC.tv, pull requests merged in 2019-08, with the labels that each got.

#3724 linux: replace the initramfs source during post_patch
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/Rockchip/devices/MiQi/linux/rockchip-4.4/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/TinkerBoard/linux/rockchip-4.4/linux.arm.conf
Labels: CLEANUP, KERNEL, LE 10.0

#3731 audiodecoder.timidity: add libtimidity.so
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/patches/audiodecoder.timidity-001-dynamic_lib.patch
Labels: ADDONS, BUGFIX, LE 10.0

#3701 dvb updates for 5.2
  packages/linux-driver-addons/dvb/crazycat/package.mk
  packages/linux-driver-addons/dvb/crazycat/patches/crazycat-01-remove-rmmod.pl.patch
  packages/linux-driver-addons/dvb/crazycat/patches/crazycat-02-disable-modules.patch
  packages/linux-driver-addons/dvb/crazycat/patches/disable-pci/crazycat-03-disable-partly-pci.patch
  packages/linux-driver-addons/dvb/depends/media_tree/package.mk
  packages/linux-driver-addons/dvb/depends/media_tree/patches/media_tree-01-hauppauge.patch
  packages/linux-driver-addons/dvb/depends/media_tree/patches/media_tree-01-m88ds3103b.patch
  packages/linux-driver-addons/dvb/depends/media_tree_cc/package.mk
  packages/linux-driver-addons/dvb/digital_devices/patches/digital_devices-fix_5.2_compile.patch
  packages/linux-driver-addons/dvb/dvb-latest/package.mk
  packages/linux-driver-addons/dvb/dvb-latest/patches/disable-pci/dvb-latest-03-disable-partly-pci.patch
  packages/linux-driver-addons/dvb/dvb-latest/patches/dvb-latest-01-remove-rmmod.pl.patch
  packages/linux-driver-addons/dvb/dvb-latest/patches/dvb-latest-02-disable-modules.patch
  projects/Generic/options
  projects/RPi/options
Labels: LE 10.0, UPDATE

#3653 jre.zulu: initial addon
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
  packages/addons/addon-depends/jre-depends/jdk-aarch64-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jdk-arm-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jdk-x86_64-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jre-libXinerama/package.mk
  packages/addons/addon-depends/jre-depends/jre-libbluray/package.mk
  packages/addons/tools/jre.zulu/changelog.txt
  packages/addons/tools/jre.zulu/icon/icon.png
  packages/addons/tools/jre.zulu/package.mk
  packages/addons/tools/jre.zulu/profile.d/jre.profile
  packages/addons/tools/jre.zulu/source/default.py
Labels: ADDONS, FEATURE, LE 10.0, PACKAGE

#3712 distro: bump ADDON_VERSION to 9.80.1
  distributions/LibreELEC/version
Labels: ADDONS, LE 10.0, UPDATE

#3727 xf86-video-nvidia: update to xf86-video-nvidia-430.40
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: LE 10.0, PACKAGE, UPDATE

#3657 grub: update to grub-2.04
  packages/devel/gnulib/package.mk
  packages/tools/grub/package.mk
  packages/tools/grub/patches/001-gcc8-fix-packed-not-aligned.patch
Labels: LE 10.0, PACKAGE, UPDATE

#3683 packages: fix shadertoys when building with RPi4
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/patches/visualization.shadertoy-0001-remove-unused-egl-headers.patch
Labels: ADDONS, LE 10.0, PACKAGE, PATCH, PULL 9.2, UPDATE

#3668 [Backport] Addons Tvh, VDR, Minisatip, ffmpeg-tools
  packages/addons/addon-depends/comskip/package.mk
  packages/addons/addon-depends/ffmpegx-depends/libvpx/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-robotv/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-01-svdrp-modt-recflag.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-02-invalid-locking-sequence.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-03-locking-channel-display.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-04-locking-channel-display-2.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-05-shutdown.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-06-channel-switch.patch
  packages/addons/addon-depends/vdr/patches/vdr-10-upstream-fix-07-disabling-mtd.patch
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/patches/tvheadend42-03-hdhomerun-fix.patch
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
  packages/addons/service/vdr-addon/source/system.d/service.multimedia.vdr-addon.service
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/aom/package.mk
  packages/multimedia/libhdhomerun/package.mk
  packages/multimedia/libhdhomerun/patches/libhdhomerun-pr19-fix-gcc-8.3.0-build.patch
Labels: ADDONS, LE 9.2, UPDATE

#3708 linux (Mainline/RPi): update to linux-5.2.6
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi4/linux-051-ouya_controller_support.patch
  packages/linux/patches/raspberrypi4/linux-058.05-hid_sony-add_autorepeat_for_PS3_remotes.patch
  packages/linux/patches/raspberrypi4/linux-062-imon_pad_ignore_diagonal.patch
  packages/linux/patches/raspberrypi4/linux-904-improve-xbox-dvd-remote-performance.patch
  packages/linux/patches/raspberrypi4/linux-999.02-0001-pm-disable-async-suspend-resume-by-default.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0002-backport-from-5.3.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/RPi/devices/RPi4/options
Labels: ALLWINNER, AMLOGIC, KERNEL, NXP, PACKAGE, PATCH, ROCKCHIP, UPDATE

#3740 busybox: allow customizing suspend-modules.conf
  packages/sysutils/busybox/sleep.d.serial/99-suspend-modules.sh
Labels: IMPROVEMENT, LE 10.0, PACKAGE

#3738 busybox: add 'xpad' to SUSPEND_MODULES
  packages/sysutils/busybox/config/suspend-modules.conf
Labels: IMPROVEMENT, LE 10.0, PACKAGE, PULL 9.2

#3747 librespot: update to 51a634d (2019-07-23)
  packages/addons/addon-depends/librespot-depends/pyalsaaudio/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/source/bin/librespot.start
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0, UPDATE

#3751 emby4: update to 4.2.0.40
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
Labels: ADDONS, BACKPORT DONE, LE 10.0, UPDATE

#3752 emby4: update to 4.2.0.40 backport of #3751
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#3735 cmake: updated to v3.15.1 / clean up
  packages/devel/cmake/package.mk
Labels: LE 10.0, UPDATE

#3759 Allwinner: Fix errors in U-Boot patches
  projects/Allwinner/devices/H6/patches/u-boot/002-orange-pi-3-support.patch
  projects/Allwinner/patches/u-boot/001-sun8i-h3-Add-support-for-the-Beelink-x2-STB.patch
Labels: ALLWINNER, BUGFIX, LE 10.0

#3760 buildsystem: validate UBOOT_SYSTEM at start of build
  scripts/image
  scripts/uboot_helper
Labels: BUILDSYSTEM, CLEANUP, IMPROVEMENT, LE 10.0, PULL 9.2

#3763 emby4: update to 4.2.1.0
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#3762 emby4: update to 4.2.1.0
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
Labels: ADDONS, BACKPORT DONE, LE 10.0, UPDATE

#3744 curl: update to curl-7.65.3
  packages/web/curl/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3746 mesa: update to mesa-19.1.4
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, PULL 9.2, UPDATE

#3750 expat: update to expat-2.2.7
  packages/textproc/expat/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3753 zstd: update to zstd-1.4.2
  packages/compress/zstd/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3754 cmake: update to cmake-3.15.2
  packages/devel/cmake/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#3728 p8-platform: switch to correct repo, update to p8-platform-cee64e9
  packages/mediacenter/p8-platform/package.mk
  packages/mediacenter/p8-platform/patches/p8-platform-02-cmake_install_prefix_toolchain.patch
Labels: LE 10.0, PACKAGE, PATCH, PULL 9.2, UPDATE

#3748 librespot: update to 51a634d (2019-07-23) backport of #3747
  packages/addons/addon-depends/librespot-depends/pyalsaaudio/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/source/bin/librespot.start
Labels: ADDONS, BUGFIX, LE 9.2, UPDATE

#3499 gcc: update to gcc-9.2.0
  config/functions
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/service/mpd/package.mk
  packages/lang/gcc/package.mk
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0100-gcc-9.1-compatability.patch
Labels: BUILDSYSTEM, LE 10.0, PACKAGE, UPDATE

#3736 glibc: update to glibc-2.30
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/patches/lttng-ust-0001-namespace-gettid-wrapper.patch
  packages/addons/addon-depends/system-tools-depends/lm_sensors/patches/lm_sensors-02-PR192.patch
  packages/devel/glibc/package.mk
  packages/x11/lib/libpciaccess/package.mk
Labels: LE 10.0, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, UPDATE

#3742 dav1d: updated to 0.4.0 / updated meson opts
  packages/multimedia/dav1d/package.mk
Labels: LE 10.0, UPDATE

#3749 multimedia-tools: drop mesa-demos and mpv
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, BUGFIX, CLEANUP, LE 10.0

#3616 removing old patches
  packages/linux/patches/linux-004_lower_undefined_mode_timeout.patch
  packages/linux/patches/linux-007_die_floppy_die.patch
  packages/linux/patches/linux-009_disable_i8042_check_on_apple_mac.patch
Labels: CLEANUP, LE 10.0, PATCH

#3766 NXP/iMX6: drop matrix-q board
  scripts/uboot_helper
Labels: BUILDSYSTEM, LE 10.0, NXP

#3761 Allwinner: A64/H6 IR support and sort patches
  projects/Allwinner/devices/A64/patches/linux/08-enable-opi-win-ir.patch
  projects/Allwinner/devices/H6/patches/linux/04-dma.patch
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/linux/08-arm64-dts-allwinner-OrangePiOnePlus-updates.patch
  projects/Allwinner/devices/H6/patches/linux/10-beelink-gs1.patch
  projects/Allwinner/devices/H6/patches/linux/11-beelink-gs1-enable-ddc-reg.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.3.patch
  projects/Allwinner/patches/linux/0003-backport-from-5.4.patch
  projects/Allwinner/patches/linux/0013-color-range-encoding.patch
  projects/Allwinner/patches/linux/0013-force-full-range.patch
  projects/Allwinner/patches/linux/0014-regulator-fixes.patch
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#3768 linux (default, RPi): fix perf build with glibc 2.30
  packages/linux/patches/default/linux-001-backport-tools-build-check-if-gettid-is-available.patch
  packages/linux/patches/raspberrypi/linux-001-backport-tools-build-check-if-gettid-is-available.patch
Labels: BUGFIX, KERNEL, LE 10.0

#3696 linux (RPi) update to 4.19.58+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 9.2, UPDATE

#3745 buildsystem: minor fixups
  config/functions
  config/multithread
  packages/addons/addon-depends/chrome-depends/icu/package.mk
  packages/addons/addon-depends/chrome-depends/shared-mime-info/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/opencaster/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/tsdecrypt/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblognorm/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/devel/glib/package.mk
  packages/emulation/libretro-fsuae/package.mk
  packages/emulation/libretro-uae4arm/package.mk
  packages/graphics/glew/package.mk
  scripts/get_archive
  scripts/image
  tools/dashboard
Labels: BUILDSYSTEM, CLEANUP, LE 10.0, PULL 9.2

#3064 getedid: added the active HDMI/DP port to new kernel parameters
  packages/sysutils/busybox/scripts/getedid
Labels: BUGFIX, LE 10.0

#3767 systemd: fix swap partition handling when multiple present
  packages/sysutils/util-linux/scripts/mount-swap
Labels: BUGFIX, LE 10.0, PULL 9.2

#3769 Allwinner: Add support for Tanix TX6
  projects/Allwinner/devices/H6/patches/linux/11-pwm.patch
  projects/Allwinner/devices/H6/patches/linux/12-ac200-nodes.patch
  projects/Allwinner/devices/H6/patches/linux/13-Tanix-TX6.patch
  projects/Allwinner/devices/H6/patches/u-boot/002-orange-pi-3-support.patch
  projects/Allwinner/devices/H6/patches/u-boot/006-DDR3.patch
  projects/Allwinner/devices/H6/patches/u-boot/007-ethernet-hack.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0014-AC200.patch
  scripts/uboot_helper
Labels: ALLWINNER, HARDWARE, LE 10.0

#3764 [le10] use a larger console font on HiDPI displays
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/scripts/init
  packages/sysutils/terminus-font/package.mk
  packages/virtual/initramfs/package.mk
Labels: BACKPORT DONE, IMPROVEMENT, LE 10.0, PACKAGE

#3765 [le9.2] use a larger console font on HiDPI displays
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/scripts/init
  packages/sysutils/terminus-font/package.mk
  packages/virtual/initramfs/package.mk
Labels: IMPROVEMENT, LE 9.2, PACKAGE

#3773 Allwinner: Fix building OrangePi 3 image
  projects/Allwinner/devices/H6/patches/u-boot/002-orange-pi-3-support.patch
Labels: ALLWINNER, BUGFIX, LE 10.0

#3775 Allwinner: Several improvements
  projects/Allwinner/bootloader/config
  projects/Allwinner/devices/A64/patches/linux/03_pine64_plus_ethernet_fixes.patch
  projects/Allwinner/devices/H6/patches/linux/05-sound-hack.patch
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/linux/10-beelink-gs1.patch
  projects/Allwinner/devices/H6/patches/linux/13-Tanix-TX6.patch
  projects/Allwinner/devices/H6/patches/linux/14-eMMC-workaround.patch
  projects/Allwinner/devices/H6/patches/linux/15-RTC-workaround.patch
  projects/Allwinner/patches/linux/0001-hdmi-sound-improvements.patch
  projects/Allwinner/patches/linux/0003-backport-from-5.4.patch
  projects/Allwinner/patches/linux/0011-cedrus-h264-4k.patch
Labels: ALLWINNER, BUGFIX, CLEANUP, IMPROVEMENT, LE 10.0

#3755 Libretro: updated mame2016 / dropped mame2014 / added mame2015
  packages/emulation/libretro-mame2014/package.mk
  packages/emulation/libretro-mame2015/package.mk
  packages/emulation/libretro-mame2015/patches/libretro-mame2015-100.01-cross-compile.patch
  packages/emulation/libretro-mame2016/package.mk
  packages/emulation/libretro-mame2016/patches/libretro-mame2016-100.01-cross-compile.patch
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2014/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2015/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2016/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#3711 Kodi (RPi4): update to latest leia_pi4 version
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/patches/rpi4-hevc/ffmpeg-001-pfcd_hevc_optimisations.patch
Labels: BUGFIX, LE 9.2, PACKAGE, UPDATE
