Repository LibreELEC/LibreELEC.tv, pull requests merged in 2020-02, with the labels that each got.

#4172 Rockchip: update linux patches and config for 5.4.16
  projects/Rockchip/README.md
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.5.patch
  projects/Rockchip/patches/linux/default/linux-0003-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.5.patch
Labels: KERNEL, LE 10.0, ROCKCHIP

#4171 Activation of some joystick Linux modules on Allwinner devices
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
Labels: ALLWINNER, KERNEL, LE 10.0

#4173 librespot: update to 0.1.1
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
Labels: ADDONS, BACKPORT DONE, LE 10.0, UPDATE

#4174 librespot: update to 0.1.1 (backport of #4173)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#4044 linux (Generic): update to linux-5.5
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-063-imon_ultrabay-id_0x98.patch
  packages/linux/patches/default/linux-999.20-i915-pm-Be-less-agressive-with-clockfreq-changes-on-Bay-Trail.patch
  packages/linux/patches/default/linux-999.21-intel_idle-Disable-C6N-and-C6S-on-Bay-Trail.patch
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
  projects/Generic/linux/linux.x86_64.conf
Labels: KERNEL, LE 10.0, PACKAGE, PATCH, UPDATE

#4128 Allwinner: Update to Linux 5.5
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.5.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.6.patch
  projects/Allwinner/patches/linux/0003-hdmi-improvements.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#4175 [le92] connman: fix compile with older headers
  packages/network/connman/patches/connman-08-fix_for_building_with_old_headers.patch
Labels: BUGFIX, LE 9.2, PATCH

#4186 ncurses: also include dumb terminfo in fallbacks
  packages/devel/ncurses/package.mk
Labels: BACKPORT DONE, BUGFIX, LE 10.0, PACKAGE

#4170 config/otpions: export PROJECT and ARCH defaults
  config/options
Labels: BUILDSYSTEM, LE 10.0

#4178 config/functions: drop unecessary / escaping
  config/functions
Labels: BUILDSYSTEM, LE 10.0

#4192 remove repository.kodinerds from addons
  packages/addons/repository/repository.kodinerds/changelog.txt
  packages/addons/repository/repository.kodinerds/icon/icon.png
  packages/addons/repository/repository.kodinerds/package.mk
  packages/addons/repository/repository.kodinerds/sources/addon.xml
Labels: ADDONS, CLEANUP, LE 10.0

#4198 Allwinner: update boot components
  packages/tools/atf/package.mk
  packages/tools/atf/patches/01-plat-allwinner-h6-add-wdt_quirk-to-use-r_wdt-instead.patch
  packages/tools/u-boot/package.mk
  projects/Allwinner/devices/H6/patches/u-boot/001-backports.patch
  projects/Allwinner/devices/H6/patches/u-boot/002-orange-pi-3-support.patch
  projects/Allwinner/devices/H6/patches/u-boot/006-DDR3.patch
  projects/Allwinner/devices/H6/patches/u-boot/008-sunxi-board-fixup-the-BT-address-for-Orange-Pi-3.patch
  projects/Allwinner/linux/linux.aarch64.conf
Labels: ALLWINNER, LE 10.0, PACKAGE, UPDATE

#4200 Allwinner: Enable CD/DVD ROM related drivers
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
Labels: ALLWINNER, IMPROVEMENT, KERNEL, LE 10.0

#4191 allow packages to install *.o files into the image
  config/functions
  packages/lang/Python3/package.mk
  scripts/build
Labels: BUGFIX, BUILDSYSTEM, LE 10.0

#4189 apache-ant: create TOOLCHAIN/bin before copying file
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4163 update_retroplayer-addons: stop defaulting to retroplayer branch
  tools/mkpkg/update_retroplayer-addons
Labels: BACKPORT DONE, CLEANUP, LE 10.0

#4213 libretro-4do: fix PKG_SHA256
  packages/emulation/libretro-4do/package.mk
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0

#4207 scripts/get_archive: try two times to download file
  scripts/get_archive
Labels: BUILDSYSTEM, LE 10.0

#4202 Add some missing dependencies; fallout from #4088
  packages/addons/addon-depends/comskip/package.mk
  packages/addons/addon-depends/jre-depends/jre-libbluray/package.mk
  packages/emulation/libretro-picodrive/package.mk
  packages/linux/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.pictureit/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4197 ffmpegx: only depend on intel-vaapi-driver if intel drivers are build
  packages/addons/addon-depends/ffmpegx/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4184 kernel-firmware: add MediaTek mt7610 firmware
  packages/linux-firmware/kernel-firmware/firmwares/any.dat
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: BACKPORT DONE, HARDWARE, LE 10.0

#4185 kernel-firmware: add MediaTek mt7610 firmware [backport]
  packages/linux-firmware/kernel-firmware/firmwares/any.dat
  projects/Generic/linux/linux.x86_64.conf
Labels: HARDWARE, LE 9.2

#4190 apache-ant: create TOOLCHAIN/bin before copying file [backport]
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
Labels: BUGFIX, LE 9.2, PACKAGE

#4205 mesa: update to mesa-19.3.4
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4177 scripts/pkgbuilder.py: assign each subprocess a process group
  config/multithread
  scripts/pkgbuilder.py
Labels: BUILDSYSTEM, LE 10.0

#4204 buildsystem: log pkg_call that failed
  config/functions
  scripts/build
  scripts/install
  scripts/install_addon
  scripts/unpack
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#4214 buildsystem: allow onexit trap to be selectively ignored
  config/functions
  tools/dashboard
  tools/distro-tool
Labels: BUILDSYSTEM, LE 10.0

#4209 connman/wireguard updates
  packages/network/connman/package.mk
  packages/network/wireguard-linux-compat/package.mk
  packages/network/wireguard-linux-compat/patches/wireguard-linux-compat-01-skip-compat_h-version-checks.patch
  packages/network/wireguard-tools/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4160 packages: bump devel packages
  packages/addons/addon-depends/dvb-tools-depends/dvb-apps/patches/dvb-apps-50-glibc-2.31-fix.patch
  packages/addons/addon-depends/system-tools-depends/strace/package.mk
  packages/addons/addon-depends/system-tools-depends/strace/patches/strace-0001-autoreconf.patch
  packages/addons/addon-depends/system-tools-depends/strace/patches/strace-0002-fix-autoconf-archive.patch
  packages/addons/addon-depends/system-tools-depends/strace/patches/strace-autoreconf.patch
  packages/addons/addon-depends/vdr/patches/vdr-03-glibc-2.31-fix.patch
  packages/addons/service/tinc/patches/tinc-0001-fix-autoconf-archive.patch
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/debug/gdb/package.mk
  packages/devel/attr/package.mk
  packages/devel/autoconf-archive/package.mk
  packages/devel/binutils/package.mk
  packages/devel/ccache/package.mk
  packages/devel/cmake/package.mk
  packages/devel/configtools/package.mk
  packages/devel/dbus-glib/package.mk
  packages/devel/dbus-glib/patches/dbus-glib-01-dont-build-tools-examples.patch
  packages/devel/elfutils/package.mk
  packages/devel/elfutils/patches/elfutils-001-make-executables-optional.patch
  packages/devel/fakeroot/package.mk
  packages/devel/fribidi/package.mk
  packages/devel/fribidi/patches/fribidi-001-PR88.patch
  packages/devel/gettext/package.mk
  packages/devel/gettext/patches/gettext-dont_build_docs_and_examples.patch
  packages/devel/glib/package.mk
  packages/devel/glib/patches/001_drop-build-tests.patch
  packages/devel/glib/patches/glib-001-drop-build-tests.patch
  packages/devel/glibc/package.mk
  packages/devel/gmp/package.mk
  packages/devel/libcap/package.mk
  packages/devel/libffi/package.mk
  packages/devel/libffi/patches/libffi-includedir.patch
  packages/devel/libfmt/package.mk
  packages/devel/libirman/package.mk
  packages/devel/swig/package.mk
  packages/lang/gcc/patches/gcc-glibc-2.31-compatability-fix.patch
  packages/linux/patches/default/linux-999-fix-perf-binutils-2.34-incompatability.patch
  packages/linux/patches/raspberrypi/linux-999-fix-perf-binutils-2.34-incompatability.patch
  packages/python/devel/meson/package.mk
  packages/security/gnutls/package.mk
  packages/security/nettle/package.mk
  packages/sysutils/busybox/config/busybox-host.conf
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/package.mk
  packages/sysutils/open-vm-tools/patches/open-vm-tools-001-fix-deprecated-glib-funcs.patch
  packages/sysutils/util-linux/package.mk
  packages/web/curl/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, PATCH, UPDATE

#4217 binutils: fix build without texinfo
  packages/devel/binutils/patches/nodocs.patch
Labels: BUGFIX, LE 10.0, PACKAGE, PATCH

#4222 gdb: fix expat search on some hosts
  packages/debug/gdb/package.mk
Labels: BUILDSYSTEM, LE 10.0, PACKAGE

#4196 enable support for BPF IR decoders
  packages/sysutils/ir-bpf-decoders/package.mk
  packages/sysutils/v4l-utils/config/rc_keymaps/protocols/README
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-001-disable-doxygen-in-automake.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-002-enable-bpf-without-clang.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-100-backport-incorrect-warning-fix.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-101-backport-lircd2toml-improvements.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: FEATURE, IMPROVEMENT, KERNEL, LE 10.0, PACKAGE

#4219 mysql: remove package
  distributions/LibreELEC/options
  packages/databases/mysql/package.mk
  packages/databases/mysql/patches/mysql-0002-revert-floating-point-optimizations.patch
  packages/databases/mysql/patches/mysql-0003-compile-comp_err-even-when-crosscompiling.patch
  packages/databases/mysql/patches/mysql-0004-compile-comp_sql-even-when-crosscompiling.patch
  packages/databases/mysql/patches/mysql-0005-pchar-fix-in-client-authtentification.patch
Labels: CLEANUP, LE 10.0, PACKAGE

#4212 linux: ignore gcc-plugin.sh
  packages/linux/patches/linux-0000-nop-gcc-plugin.patch
Labels: BUGFIX, BUILDSYSTEM, KERNEL, LE 10.0

#4216 mesa: update to mesa-20.0.0
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4181 linux (Generic/Allwinner): update to linux-5.5.6
  packages/linux/package.mk
  projects/Allwinner/patches/linux/0001-backport-from-5.6.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.7.patch
Labels: KERNEL, LE 10.0

#4183 linux (RPi): update to linux-5.4.22
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE

#4006 [le92] linux (RPi): update to 4.19.84+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-901-extend-rc6-toggle-support.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 9.2, UPDATE

#4221 connman/wireguard updates [backport]
  packages/network/connman/package.mk
  packages/network/connman/patches/connman-08-fix_for_building_with_old_headers.patch
  packages/network/wireguard-linux-compat/package.mk
  packages/network/wireguard-tools/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#4193 remove repository.kodinerds from addons
  packages/addons/repository/repository.kodinerds/changelog.txt
  packages/addons/repository/repository.kodinerds/icon/icon.png
  packages/addons/repository/repository.kodinerds/package.mk
  packages/addons/repository/repository.kodinerds/sources/addon.xml
Labels: ADDONS, CLEANUP, LE 9.2

#4164 [le92] update_retroplayer-addons: stop defaulting to retroplayer branch
  tools/mkpkg/update_retroplayer-addons
Labels: CLEANUP, LE 9.2

#4226 [le92] kodi binary addons: update to latest Leia versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.asap/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gme/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.nosefart/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.organya/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.snesapu/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.stsound/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.vgmstream/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asterwave/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.biogenesis/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pingpong/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#4228 librespot: gapless playback
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_use_own_pulseaudio_sink.patch
  packages/addons/service/librespot/source/default.py
Labels: ADDONS, LE 9.2, UPDATE
