Repository LibreELEC/LibreELEC.tv, pull requests merged in 2020-07, with the labels that each got.

#4466 Linux Kernel, Settings and some minor bits
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/mediacenter/kodi/config/advancedsettings.xml
  packages/mediacenter/kodi/scripts/kodi-remote
  packages/sysutils/wait-time-sync/system.d/wait-time-sync.service
Labels: IMPROVEMENT, LE 10.0, PACKAGE, UPDATE

#4472 Remove already existing kernel patches for Rockchip project
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.8.patch
Labels: LE 10.0, PATCH, ROCKCHIP, UPDATE

#4468 add experimental Samsung/Exynos/Odroid-XU4 project
  packages/sysutils/busybox/scripts/dtfile
  packages/sysutils/busybox/scripts/dtname
  packages/sysutils/busybox/scripts/dtsoc
  packages/tools/exynos-boot-fip/package.mk
  projects/Samsung/bootloader/config
  projects/Samsung/bootloader/install
  projects/Samsung/bootloader/mkimage
  projects/Samsung/bootloader/release
  projects/Samsung/bootloader/update.sh
  projects/Samsung/config/kernel-firmware.dat
  projects/Samsung/devices/Exynos/options
  projects/Samsung/filesystem/usr/bin/cputemp
  projects/Samsung/filesystem/usr/config/pulse-daemon.conf.d/daemon.conf
  projects/Samsung/filesystem/usr/config/pulse-daemon.conf.d/system.pa
  projects/Samsung/linux/linux.arm.conf
  projects/Samsung/options
  projects/Samsung/patches/kodi/kodi-0001-use-EGL_KHR_platform_gbm-not-EGL_MESA_platform_gbm.patch
  projects/Samsung/patches/linux/samsung-0001-FROMLIST-v1-serial-samsung-Re-factors-UART-IRQ-resou.patch
  projects/Samsung/patches/linux/samsung-0002-MEMEKA-ARM-dma-mapping-increase-DMA-coherent-pool-si.patch
  projects/Samsung/patches/linux/samsung-0003-MEMEKA-drm-exynos-mixer-never-blend-the-base-layer.patch
  projects/Samsung/patches/linux/samsung-0004-MEMEKA-media-s5p-jpeg-Enable-decoding-with-multiple-.patch
  projects/Samsung/patches/linux/samsung-0005-MEMEKA-media-exynos-gsc-fix-v4l2-SELECTION-api.patch
  projects/Samsung/patches/linux/samsung-0006-MEMEKA-videobuf2-dc-Move-vb2_dc_get_base_sgt-above-m.patch
  projects/Samsung/patches/linux/samsung-0007-MEMEKA-videobuf2-dc-Support-cacheable-MMAP.patch
  projects/Samsung/patches/linux/samsung-0008-MEMEKA-ARM-dma-mapping-add-support-for-non-consisten.patch
  projects/Samsung/patches/linux/samsung-0009-MEMEKA-media-s5p-mfc-use-cacheable-DMA-buffers-to-im.patch
  projects/Samsung/patches/linux/samsung-0010-MEMEKA-media-s5p-mfc-copy-timestamp-and-timecode-in-.patch
  projects/Samsung/patches/linux/samsung-0011-MEMEKA-media-s5p-mfc-stop-streaming-before-releasing.patch
  projects/Samsung/patches/linux/samsung-0012-MEMEKA-phy-exynos5-usbdrd-Calibrating-makes-sense-on.patch
  projects/Samsung/patches/linux/samsung-0013-MEMEKA-clk-samsung-exynos5420-Keep-top-G3D-clocks-en.patch
  projects/Samsung/patches/linux/samsung-0014-MEMEKA-thermal-exynos-add-support-for-8-trip-points-.patch
  projects/Samsung/patches/linux/samsung-0015-MEMEKA-arm-dts-exynos5422-enable-Exynos5422-TMU.patch
  projects/Samsung/patches/linux/samsung-0016-MEMEKA-thermal-add-irq-mode-configuration-for-trip-p.patch
  projects/Samsung/patches/linux/samsung-0017-MEMEKA-thermal-add-new-sysfs-file-for-irq-mode.patch
  projects/Samsung/patches/linux/samsung-0018-MEMEKA-devfreq-exynos-bus-workaround-dev_pm_opp_set_.patch
  projects/Samsung/patches/linux/samsung-0019-MEMEKA-regulator-s2mps11-call-shutdown-function-to-p.patch
  projects/Samsung/patches/linux/samsung-0020-MEMEKA-regulator-s2mps11-add-ethernet-power-reset-in.patch
  projects/Samsung/patches/linux/samsung-0021-MEMEKA-fix-eMMC-clock-settings.patch
  projects/Samsung/patches/linux/samsung-0022-MEMEKA-ODROID-XU4-arm-Set-the-system-revision-inform.patch
  projects/Samsung/patches/linux/samsung-0023-MEMEKA-fix-ODROID-XU3-headphone-jack-volume.patch
  projects/Samsung/patches/linux/samsung-0024-HACK-revert-mm-emit-tracepoint-when-RSS-changes.patch
  projects/Samsung/patches/linux/samsung-0025-WIP-ARM-dts-exynos5422-HC1-XU3-XU4-model-name-is-ODR.patch
  projects/Samsung/patches/u-boot/0001-add-xu4-defconfig.patch
  scripts/uboot_helper
Labels: FEATURE, LE 10.0, SAMSUNG

#4458 Kodi binary add-ons: add visualization.matrix
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
Labels: ADDONS, LE 10.0, PACKAGE

#4479 RPi4: update to July 2 firmware 66fc5ea
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#4430 linux (RPi): update to 5.4.47+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-popcornmix-kodi-rpi4-kms.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, UPDATE

#4470 RPi4: add support for HBR audio passthrough (DTS-HD, TrueHD)
  packages/audio/alsa-lib/patches/alsa-lib-001-iec958-hbr.patch
  packages/audio/alsa-lib/patches/alsa-lib-002-iec958-format.patch
  projects/RPi/filesystem/usr/share/alsa/cards/vc4-hdmi.conf
Labels: FEATURE, LE 10.0

#4486 update dotnet and emby4
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/userspace-rcu/package.mk
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/emby4/source/system.d/service.emby4.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0, UPDATE

#4487 update dotnet and emby4 (backport of #4486)
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/userspace-rcu/package.mk
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/emby4/source/system.d/service.emby4.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BUGFIX, LE 9.2, UPDATE

#4445 June package updates
  packages/databases/sqlite/package.mk
  packages/devel/libfmt/package.mk
  packages/devel/spdlog/package.mk
  packages/network/samba/package.mk
  packages/security/nettle/package.mk
  packages/security/nettle/patches/make.patch
  packages/web/curl/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4483 librespot: update to 9f3a02e
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_android.patch
  packages/addons/service/librespot/patches/librespot-02_enable_pulseaudio_device_names.patch
Labels: ADDONS, BACKPORT DONE, LE 10.0, UPDATE

#4484 librespot: update to 9f3a02e (backport of #4483)
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_android.patch
  packages/addons/service/librespot/patches/librespot-02_enable_pulseaudio_device_names.patch
Labels: ADDONS, LE 9.2, UPDATE

#4480 mesa: update to mesa-20.1.3
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4489 July package updates
  packages/audio/libvorbis/package.mk
  packages/devel/libfmt/package.mk
  packages/devel/spdlog/package.mk
  packages/lang/Python3/package.mk
  packages/network/samba/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/security/libgcrypt/package.mk
  packages/tools/mtools/package.mk
  packages/tools/nano/package.mk
  packages/web/curl/package.mk
  packages/web/nghttp2/package.mk
  tools/docker/eoan/Dockerfile
Labels: LE 10.0, PACKAGE, UPDATE

#4473 RPi: switch to gbm/v4l2
  packages/devel/libcec/package.mk
  packages/graphics/bcm2835-driver/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/rpi-hevc/001-support-zero-copy.patch
  packages/mediacenter/kodi/patches/rpi-hevc/002-add-hevc-support.patch
  packages/tools/bcm2835-bootloader/files/3rdparty/bootloader/config.txt
  packages/tools/bcm2835-bootloader/files/3rdparty/bootloader/distroconfig.txt
  projects/RPi/devices/RPi4/config/config.txt
  projects/RPi/devices/RPi4/options
  projects/RPi/kodi/appliance.xml
  projects/RPi/options
Labels: CLEANUP, LE 10.0, RPi-V4L2

#4481 ffmpeg: update to 4.3, rework patchset and option handling
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1001-Call-get_format-to-fix-an-issue-with-MMAL-ren.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1002-mpeg4video-Signal-unsupported-GMC-with-more-than-one.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1004-added_upstream_mvc_patches.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1009-dav1d-fix-multithreaded-av1-sw-decoding.patch
  packages/multimedia/ffmpeg/patches/ffmpeg-99.1010-yuv2rgb-logspam.patch
  packages/multimedia/ffmpeg/patches/libreelec/ffmpeg-001-libreelec.patch
  packages/multimedia/ffmpeg/patches/rpi-hevc/ffmpeg-99.1003-pfcd_hevc_optimisations.patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  packages/multimedia/ffmpeg/patches/v4l2-drmprime/ffmpeg-001-v4l2-drmprime.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0001-avutil-add-av_buffer_pool_flush.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0002-Add-common-V4L2-request-API-code.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0003-Add-V4L2-request-API-mpeg2-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0004-Add-V4L2-request-API-h264-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0005-Add-V4L2-request-API-hevc-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0006-Add-V4L2-request-API-vp8-hwaccel.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0007-Add-and-use-private-linux-headers-for-V4L2-request-A.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0008-hwcontext_drm-do-not-require-drm-device.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0009-avcodec-h264-parse-idr_pic_id.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0010-avcodec-h264-parse-ref_pic_marking_size_in_bits-and-.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0011-HACK-add-dpb-flags-for-reference-usage-and-field-pic.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0012-WIP-v4l2-request-rolling-timestamps.patch
  packages/multimedia/ffmpeg/patches/v4l2-request-api/ffmpeg-95.0013-v4l2-request-hevc-Set-SPS-control-at-initialization.patch
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  packages/multimedia/ffmpeg/patches/v4l2-rpi/0000-revert-le-patches.patch
  packages/multimedia/ffmpeg/patches/v4l2/0001-libavcodec-v4l2m2m-fix-indentation-and-add-M2MDEC_CL.patch
  packages/multimedia/ffmpeg/patches/v4l2/0002-libavcodec-v4l2m2m-output-AVDRMFrameDescriptor.patch
  packages/multimedia/ffmpeg/patches/v4l2/0003-libavcodec-v4l2m2m-adjust-formatting.patch
  packages/multimedia/ffmpeg/patches/v4l2/0004-libavcodec-v4l2m2m-fix-error-handling-during-buffer-.patch
  packages/multimedia/ffmpeg/patches/v4l2/0005-libavcodec-v4l2m2m-depends-on-libdrm.patch
  packages/multimedia/ffmpeg/patches/v4l2/0006-libavcodec-v4l2m2m-set-format_modifier-to-DRM_FORMAT.patch
  packages/multimedia/ffmpeg/patches/v4l2/0007-libavcodec-v4l2m2m-only-mmap-the-buffer-when-it-is-o.patch
  packages/multimedia/ffmpeg/patches/v4l2/0008-libavcodec-v4l2m2m-allow-using-software-pixel-format.patch
  packages/multimedia/ffmpeg/patches/v4l2/0009-libavcodec-v4l2m2m-fix-decoder-capabilities.patch
  packages/multimedia/ffmpeg/patches/v4l2/0010-libavcodec-v4l2m2m-implement-hwcontext.patch
  packages/multimedia/ffmpeg/patches/v4l2/0011-libavcodec-v4l2m2m-implement-flush.patch
  packages/multimedia/ffmpeg/patches/v4l2/0012-libavcodec-v4l2m2m-aspect-ratio.patch
  packages/multimedia/ffmpeg/patches/v4l2/0013-libavcodec-v4l2m2m-save-pkt.patch
  packages/multimedia/ffmpeg/patches/v4l2/0014-libavcodec-v4l2m2m-only-use-a-few-output-buffers.patch
  tools/ffmpeg/gen-patches.sh
Labels: LE 10.0, PACKAGE, UPDATE

#4462 Kodi update to 2020-07-19
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
  packages/mediacenter/kodi/package.mk
Labels: LE 10.0, UPDATE

#4491 Allwinner: DRM and VPU driver fixes
  projects/Allwinner/patches/linux/0005-cedrus-improvements.patch
  projects/Allwinner/patches/linux/0007-drm-fixes.patch
Labels: ALLWINNER, BUGFIX, KERNEL, LE 10.0

#4492 Allwinner: Add VP8 HW decoding support
  projects/Allwinner/patches/linux/0002-backport-from-next.patch
  projects/Allwinner/patches/linux/0005-cedrus-improvements.patch
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#4501 [le92] kodi: update to 18.8-Leia
  packages/mediacenter/kodi/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#4493 [le92] rpi-eeprom: update to 8e9aca3
  packages/tools/rpi-eeprom/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#4498 kodi: update to 19.0a1-Matrix, drop kodi vendor tree support
  distributions/LibreELEC/options
  distributions/LibreELEC/show_config
  packages/mediacenter/kodi/package.mk
  projects/Amlogic/options
  projects/RPi/options
  projects/Samsung/options
Labels: CLEANUP, LE 10.0, PACKAGE, UPDATE
