Repository LibreELEC/LibreELEC.tv, pull requests merged in 2020-01, with the labels that each got.

#4089 Rockchip: use brcmfmac_sdio-firmware package
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
  packages/linux-firmware/rockchip-firmware/modprobe.d/bcmdhd.conf
  packages/linux-firmware/rockchip-firmware/package.mk
  packages/linux-firmware/rockchip-firmware/scripts/hciattach-realtek-config
  packages/linux-firmware/rockchip-firmware/system.d/btattach@.service
  packages/linux-firmware/rockchip-firmware/system.d/hciattach-realtek.service
  packages/linux-firmware/rockchip-firmware/system.d/hciattach@.service
  packages/linux-firmware/rockchip-firmware/udev.d/80-rockchip-firmware.rules
  packages/network/rfkill/package.mk
  packages/network/rfkill/patches/rfkill-0001-fix-version-sh.patch
  projects/Rockchip/config/kernel-firmware-any.dat
  projects/Rockchip/options
Labels: LE 10.0, ROCKCHIP

#4090 slice-drivers: fix build on kernel 5.3+
  packages/linux-drivers/slice-drivers/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4091 Allwinner: Add frame inversion to correct audio channels
  projects/Allwinner/devices/A64/patches/linux/04-Add-frame-inversion-to-correct-multi-channel-audio.patch
  projects/Allwinner/devices/H3/patches/linux/17-Add-frame-inversion-to-correct-multi-channel-audio.patch
  projects/Allwinner/devices/H6/patches/linux/16-Add-frame-inversion-to-correct-multi-channel-audio.patch
Labels: ALLWINNER, BUGFIX, KERNEL, LE 10.0

#4062 librespot: various improvements
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_use_own_pulseaudio_sink.patch
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/miscellaneous/service.librespot-alsa.service
Labels: ADDONS, IMPROVEMENT, LE 9.2, UPDATE

#4061 librespot: various improvements
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_use_own_pulseaudio_sink.patch
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/miscellaneous/service.librespot-alsa.service
Labels: ADDONS, BACKPORT DONE, BUGFIX, IMPROVEMENT, LE 10.0, UPDATE

#4096 tools/docker: reorder to match checkdeps
  tools/docker/bionic/Dockerfile
  tools/docker/eoan/Dockerfile
  tools/docker/stretch/Dockerfile
  tools/docker/xenial/Dockerfile
Labels: LE 10.0

#4030 linux (Generic/Allwinner): update to linux-5.4.7
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/Allwinner/patches/linux/0001-backport-from-5.5.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.5.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.5.patch
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE

#4097 LibreELEC-settings: update to LibreELEC-settings-12ba57a
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4095 gettext: build runtime and tools
  packages/devel/gettext/package.mk
  packages/tools/grub/package.mk
Labels: LE 10.0

#4102 rpi-eeprom: update to rpi-eeprom-e9290b3
  packages/tools/rpi-eeprom/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4100 pastekodi: avoid cmp this is installed by system-tools
  packages/mediacenter/kodi/scripts/pastekodi
Labels: BUGFIX, LE 10.0

#4101 pastekodi: avoid cmp this is installed by system-tools [backport]
  packages/mediacenter/kodi/scripts/pastekodi
Labels: BUGFIX, LE 9.2

#4023 config/arm: use eabihf for hard float
  config/arch.arm
  packages/security/libgpg-error/package.mk
Labels: BUILDSYSTEM, LE 10.0

#4065 image: add /etc/environment
  packages/mediacenter/kodi/patches/kodi-100.30-addons-refresh-etc-environment.patch
  packages/network/openssh/patches/openssh-source-etc-environment.patch
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/scripts/environment-setup
  packages/sysutils/systemd/system.d/envconfig.service
Labels: ADDONS, IMPROVEMENT, LE 10.0, PACKAGE

#4084 [le92] kodi-binary-addons: update to latest Leia versions
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.pictureit/package.mk
Labels: ADDONS, BUGFIX, LE 9.2, UPDATE

#4038 elfutils: install readelf in non-release builds
  packages/devel/elfutils/package.mk
  packages/devel/elfutils/patches/elfutils-001-dont-build-executables.patch
  packages/devel/elfutils/patches/elfutils-001-make-executables-optional.patch
Labels: LE 10.0, PACKAGE, PATCH

#4082 update_binary-addons: fix unofficial addon bumping
  tools/mkpkg/update_binary-addons
Labels: BACKPORT DONE, BUGFIX, BUILDSYSTEM, LE 10.0

#4083 [le92] update_binary-addons: fix unofficial addon bumping
  tools/mkpkg/update_binary-addons
Labels: BUGFIX, BUILDSYSTEM, LE 9.2

#4105 [le92] tz: update to 2019c
  packages/sysutils/tz/package.mk
Labels: BUGFIX, LE 9.2, PACKAGE

#4106 mesa: update to mesa-19.3.2
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4099 Allwinner: Sort Linux patches
  projects/Allwinner/devices/H3/patches/linux/02-ARM-dts-sun8i-h3-Add-rc-map-for-Beelink-X2.patch
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/linux/10-beelink-gs1.patch
  projects/Allwinner/devices/H6/patches/linux/11-pwm.patch
  projects/Allwinner/devices/H6/patches/linux/13-Tanix-TX6.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.5.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.6.patch
  projects/Allwinner/patches/linux/0005-cedrus-improvements.patch
  projects/Allwinner/patches/linux/0007-thermal.patch
  projects/Allwinner/patches/linux/0012-H6-USB3.patch
Labels: ALLWINNER, CLEANUP, LE 10.0

#4111 kodi: fix caching issue accessing repositories
  packages/mediacenter/kodi/patches/kodi-999.99-PR17081.patch
Labels: LE 10.0, PATCH

#4115 Rockchip: linux: enable wifi modules
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: KERNEL, LE 10.0, ROCKCHIP

#4113 Allwinner: Enable A20 HDMI audio
  projects/Allwinner/devices/A20/filesystem/usr/share/alsa/cards/sun4i-hdmi.conf
  projects/Allwinner/devices/A20/patches/linux/0001-disp-fix.patch
  projects/Allwinner/devices/A20/patches/linux/0002-Add-support-for-sun4i-HDMI-audio.patch
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#4114 scripts/clean: print build message with color
  scripts/clean
Labels: BUILDSYSTEM, LE 10.0

#4110 samba: update to samba-4.9.17
  packages/network/samba/package.mk
Labels: BUGFIX, LE 9.2, PACKAGE, UPDATE

#4125 hyperion addon qt-base update
  packages/addons/addon-depends/qtbase/package.mk
  packages/addons/addon-depends/qtbase/patches/qtbase-0001-use-sysroot-path-for-pkgconfig-and-libtool.patch
  packages/addons/addon-depends/qtbase/patches/qtbase-001-stdlib-error.patch
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
  packages/addons/service/hyperion/patches/hyperion-0002-add-extra-linking-libraries.patch
Labels: ADDONS, LE 10.0, UPDATE

#4126 [le92] hyperion: update to latest qt-base
  packages/addons/addon-depends/qtbase/package.mk
  packages/addons/addon-depends/qtbase/patches/qtbase-0001-use-sysroot-path-for-pkgconfig-and-libtool.patch
  packages/addons/addon-depends/qtbase/patches/qtbase-001-stdlib-error.patch
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
  packages/addons/service/hyperion/patches/hyperion-0002-add-extra-linking-libraries.patch
Labels: ADDONS, LE 9.2, UPDATE

#4122 Allwinner: H6: Improve eMMC support
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/linux/13-Tanix-TX6.patch
  projects/Allwinner/devices/H6/patches/linux/14-eMMC-workaround.patch
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#4129 game.libretro.scummvm: fix linker issue
  packages/mediacenter/kodi-binary-addons/game.libretro.scummvm/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4108 init: drop support for loading modules in initramfs
  packages/sysutils/busybox/scripts/init
Labels: CLEANUP, LE 10.0, PACKAGE

#4107 kernel-overlays: move volatile runtime data to /run
  packages/sysutils/systemd/scripts/kernel-overlays-setup
  packages/sysutils/systemd/system.d/kernel-overlays.service
  scripts/image
Labels: CLEANUP, LE 10.0, PACKAGE

#4117 buildsystem: add major/minor version helper
  config/functions
  packages/addons/service/mpd/package.mk
  packages/devel/cmake/package.mk
  packages/devel/glib/package.mk
  packages/devel/libfstrcmp/package.mk
  packages/network/libssh/package.mk
  packages/python/devel/pygobject/package.mk
  packages/sysutils/util-linux/package.mk
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0, PACKAGE

#4118 util-linux: update to util-linux-2.34
  packages/sysutils/util-linux/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4092 buildsystem: switch to dynamic scheduler
  config/functions
  config/multithread
  packages/addons/driver/sundtek-mediatv/package.mk
  packages/addons/script/script.config.vdr/package.mk
  packages/devel/parallel/package.mk
  packages/linux/package.mk
  scripts/build
  scripts/genbuildplan.py
  scripts/image
  scripts/install
  scripts/pkgbuild
  scripts/pkgbuilder.py
  scripts/pkgjson
  tools/mtstats.py
  tools/viewplan
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#4104 make: update to v4.3
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/build.patch
  packages/devel/flex/patches/flex-002-nocrap.patch
  packages/devel/flex/patches/flex-002-nodocs.patch
  packages/devel/make/package.mk
  packages/devel/make/patches/make-3.82-011-noclock_gettime.patch
  packages/devel/make/patches/make-3.82-016-weird-shell.patch
  packages/devel/make/patches/make-glibc_alloc_fix.patch
  packages/emulation/libretro-mame/patches/make.patch
  packages/emulation/libretro-mame2016/patches/make.patch
  packages/security/nettle/patches/make.patch
  packages/tools/u-boot/patches/rockchip/u-boot-0016-dts-Makefile-Build-rockchip-dtbs-based-on-SoC-types.patch
Labels: ADDONS, LE 10.0, PACKAGE, PATCH, UPDATE

#4120 e2fsprogs: disable automagic udev/systemd/crond detection
  packages/sysutils/e2fsprogs/package.mk
Labels: LE 10.0, PACKAGE

#4132 samba: update to samba-4.11.5
  packages/network/samba/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4133 samba: update to samba-4.9.18
  packages/network/samba/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#4134 scripts/pkgbuilder.py: bookend combined log with searchable tags
  config/multithread
  scripts/pkgbuilder.py
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#4137 add hwdb.d installations from packages, make o2.cz BT remote config globally available
  packages/sysutils/systemd/hwdb.d/70-local-keyboard.hwdb
  scripts/install
Labels: HARDWARE, IMPROVEMENT, LE 9.2

#4135 dosfstools/e2fsprogs: bump and fix [backport]
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/dosfstools/package.mk
  packages/sysutils/e2fsprogs/package.mk
Labels: IMPROVEMENT, LE 9.2, PACKAGE, UPDATE

#4136 buildsystem: "set -e" error handling not working for addon builds [backport]
  config/multithread
  packages/addons/driver/sundtek-mediatv/package.mk
  packages/addons/script/script.config.vdr/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/network/wireless-regdb/package.mk
  scripts/install_addon
Labels: BUILDSYSTEM, LE 9.2, PACKAGE

#4138 RTL8192EU: update to RTL8192EU-83b5aff
  packages/linux-drivers/RTL8192EU/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4123 open-vm-tools: update to open-vm-tools-stable-11.0.5
  packages/sysutils/open-vm-tools/package.mk
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0101-PR371.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4148 scripts/pkgbuilder.py: avoid returning negative timeout which is fatal
  scripts/pkgbuilder.py
Labels: BUGFIX, BUILDSYSTEM, LE 10.0

#4119 glibc: ensure it uses our $TOOLCHAIN/bin/python3
  packages/devel/glibc/package.mk
Labels: BUILDSYSTEM, LE 10.0

#4149 [busybox] getedid fixes
  packages/sysutils/busybox/scripts/getedid
Labels: BACKPORT REQD, BUGFIX, LE 10.0

#4093 libva-utils: fix non x11 build after e46c85e
  packages/debug/libva-utils/patches/libva-utils-001-fix-build-withouth-x11.patch
Labels: BUGFIX, LE 10.0, PATCH

#4153 tools/dashboard: stop creating empty Generic build dir
  tools/dashboard
Labels: BUILDSYSTEM, LE 10.0

#4130 add support for setting wireless regulatory domain
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
  packages/network/iw/package.mk
  packages/network/iw/scripts/setregdomain
  packages/network/iw/udev.d/60-iw-regdomain.rules
  packages/virtual/network/package.mk
Labels: BUGFIX, IMPROVEMENT, LE 10.0, PACKAGE

#4150 kodi: use EGL_NO_X11 to follow upstream changes
  packages/mediacenter/kodi/package.mk
Labels: CLEANUP, IMPROVEMENT, LE 10.0

#4143 config/graphic: allow using the new intel gallium iris driver
  config/graphic
  distributions/LibreELEC/options
  packages/graphics/libdrm/package.mk
  packages/virtual/mediacenter/package.mk
Labels: FEATURE, LE 10.0

#4152 convert libva related packages to use meson
  packages/debug/libva-utils/package.mk
  packages/multimedia/intel-vaapi-driver/package.mk
  packages/multimedia/libva/package.mk
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#4139 wireguard: add initial support for WireGuard VPNs
  config/show_config
  distributions/LibreELEC/options
  packages/network/connman/package.mk
  packages/network/connman/system.d/connman-vpn.service
  packages/network/libmnl/package.mk
  packages/network/wireguard-linux-compat/modules-load.d/wireguard.conf
  packages/network/wireguard-linux-compat/package.mk
  packages/network/wireguard-tools/config/system.d/wireguard.service.sample
  packages/network/wireguard-tools/config/wireguard/wireguard.config.sample
  packages/network/wireguard-tools/package.mk
  packages/network/wireguard-tools/scripts/wg-keygen
  packages/network/wireguard-tools/tmpfiles.d/z_03_wireguard.conf
  packages/virtual/network/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: FEATURE, LE 10.0, PACKAGE

#4156 wireless-regdb: install via network instead of linux package
  packages/linux/package.mk
  packages/network/wireless-regdb/package.mk
  packages/virtual/network/package.mk
Labels: CLEANUP, LE 10.0, PACKAGE

#4161 iwlwifi-firmware: update to iwlwifi-firmware-19ce537 [libreelec-9.2]
  packages/linux-firmware/iwlwifi-firmware/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#4151 media-driver: update and include in build
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
  packages/multimedia/media-driver/patches/media-driver-0001-remove-x11-dependency.patch
  packages/virtual/mediacenter/package.mk
Labels: FEATURE, IMPROVEMENT, UPDATE

#4098 linux (Generic/Allwinner/RPi): update to linux-5.4.16
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-999.22-intel_geminilake_i2c_timing.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.5.patch
  projects/Allwinner/patches/linux/0002-backport-from-5.6.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE

#4131 vim: work around broken make dependencies
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
Labels: BUILDSYSTEM, LE 10.0, PACKAGE

#4154 samba: stop mangling username and password
  packages/network/samba/scripts/smbd-config
Labels: BUGFIX, LE 10.0

#4159 mesa: update to mesa-19.3.3
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4158 samba: update to samba-4.11.6
  packages/network/samba/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4144 mesa-demos: doesn't install anything, fix that
  packages/addons/addon-depends/multimedia-tools-depends/mesa-demos/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4141 Python: update to Python3-3.7.6 and various related packages
  packages/lang/Python3/package.mk
  packages/python/devel/setuptools/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/python/system/dbus-python/package.mk
  packages/python/system/simplejson/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4142 boost: update to boost-1.72.0
  packages/devel/boost/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4121 packages: update to latest, xorg-server-1.20.7
  packages/addons/addon-depends/chrome-depends/libXcursor/package.mk
  packages/addons/addon-depends/chrome-depends/libXft/package.mk
  packages/x11/app/setxkbmap/package.mk
  packages/x11/app/xrandr/package.mk
  packages/x11/font/font-util/package.mk
  packages/x11/lib/libICE/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/lib/libX11/patches/libX11-makekeys-remove-X11-headers.patch
  packages/x11/lib/libXfont2/package.mk
  packages/x11/lib/libXi/package.mk
  packages/x11/lib/libXt/package.mk
  packages/x11/lib/pixman/package.mk
  packages/x11/proto/xorgproto/package.mk
  packages/x11/xserver/xorg-server/package.mk
  packages/x11/xserver/xorg-server/patches/xorg-server-999.01-lower-gl-version-to-work-with-libglvnd.patch
  packages/x11/xserver/xorg-server/patches/xorg-server-999.02-replace-MESA_EGL_NO_X11_HEADERS-hack-with-upstream-EGL_NO_X11.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4127 libva: update to libva-2.6.1
  packages/multimedia/libva/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4145 init: remove file before overwriting
  packages/sysutils/busybox/scripts/init
Labels: LE 10.0

#4146 Python3: install lib2to3
  packages/lang/Python3/package.mk
Labels: IMPROVEMENT, LE 10.0, PACKAGE

#4155 scripts/pkgbuilder.py: allow active jobs to finish once an error occurs
  config/multithread
  scripts/pkgbuilder.py
Labels: BUILDSYSTEM, LE 10.0

#4147 Python2: install lib2to3 [backport]
  packages/lang/Python2/package.mk
Labels: IMPROVEMENT, LE 9.2, PACKAGE

#4157 [busybox] getedid fixes
  packages/sysutils/busybox/scripts/getedid
Labels: BUGFIX, LE 9.2

#4103 scripts/mkimage: only configure extlinux for valid uboot_helper dtb
  projects/Allwinner/options
  projects/Amlogic/bootloader/mkimage
  projects/Generic/options
  projects/NXP/options
  projects/RPi/options
  scripts/image
  scripts/mkimage
  scripts/uboot_helper
Labels: AMLOGIC, BUGFIX, LE 10.0, ROCKCHIP

#4167 LibreELEC-settings: update to LibreELEC-settings-377cfa5
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4162 wireguard: add initial support for WireGuard VPNs [backport]
  config/show_config
  distributions/LibreELEC/options
  packages/network/connman/package.mk
  packages/network/connman/system.d/connman-vpn.service
  packages/network/libmnl/package.mk
  packages/network/wireguard-linux-compat/modules-load.d/wireguard.conf
  packages/network/wireguard-linux-compat/package.mk
  packages/network/wireguard-tools/config/system.d/wireguard.service.sample
  packages/network/wireguard-tools/config/wireguard/wireguard.config.sample
  packages/network/wireguard-tools/package.mk
  packages/network/wireguard-tools/scripts/wg-keygen
  packages/network/wireguard-tools/tmpfiles.d/z_03_wireguard.conf
  packages/virtual/network/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
  projects/Rockchip/devices/MiQi/linux/rockchip-4.4/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/rockchip-4.4/linux.aarch64.conf
  projects/Rockchip/devices/TinkerBoard/linux/rockchip-4.4/linux.arm.conf
Labels: FEATURE, LE 9.2, PACKAGE

#4169 LibreELEC-settings: update to LibreELEC-settings-e775b97 [backport]
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, LE 9.2, PACKAGE, UPDATE
