Repository LibreELEC/LibreELEC.tv, pull requests merged in 2020-08, with the labels that each got.

#4504 LE9.2 bump gnutls/nettle/ffmpeg
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/security/gnutls/package.mk
  packages/security/nettle/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#4496 libretro-pcsx-rearmed: fix PCSX ReARMed build
  packages/emulation/libretro-pcsx-rearmed/package.mk
  packages/emulation/libretro-pcsx-rearmed/patches/libretro-pcsx-rearmed-0001-aarch64-support.patch
Labels: ADDONS, BUGFIX, LE 10.0

#4497 libretro-pcsx-rearmed: fix PCSX ReARMed build (LE 9.2)
  packages/emulation/libretro-pcsx-rearmed/package.mk
  packages/emulation/libretro-pcsx-rearmed/patches/libretro-pcsx-rearmed-0001-aarch64-support.patch
Labels: ADDONS, BUGFIX, LE 9.2

#4507 game.libretro.pcsx-rearmed: rebuild
  packages/mediacenter/kodi-binary-addons/game.libretro.pcsx-rearmed/package.mk
Labels: ADDONS, LE 10.0, MERGE ¯\_(ツ)_/¯ 💥

#4506 game.libretro.pcsx-rearmed: rebuild
  packages/mediacenter/kodi-binary-addons/game.libretro.pcsx-rearmed/package.mk
Labels: ADDONS, LE 9.2, MERGE ¯\_(ツ)_/¯ 💥

#4510 addons: drop legacy RPi MMAL/OMX/dispmanx support
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/service/dispmanx_vnc/changelog.txt
  packages/addons/service/dispmanx_vnc/icon/icon.png
  packages/addons/service/dispmanx_vnc/package.mk
  packages/addons/service/dispmanx_vnc/patches/dispmanx_vnc-0001_fix-cross-compile.patch
  packages/addons/service/dispmanx_vnc/source/bin/dispmanx_vncserver-service
  packages/addons/service/dispmanx_vnc/source/default.py
  packages/addons/service/dispmanx_vnc/source/resources/language/English/strings.po
  packages/addons/service/dispmanx_vnc/source/resources/settings.xml
  packages/addons/service/dispmanx_vnc/source/settings-default.xml
  packages/addons/service/dispmanx_vnc/source/system.d/service.system.dispmanx_vnc.service
  packages/addons/service/hyperion/changelog.txt
  packages/addons/service/hyperion/package.mk
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, CLEANUP, LE 10.0

#4508 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4511 Allwinner: A20: linux: Remove patch already included in upstream
  projects/Allwinner/devices/A20/patches/linux/0003-edid-fix.patch
Labels: ALLWINNER, BUGFIX, KERNEL, LE 10.0

#4513 fix game.libretro.pcsx-rearmed and visualization.matrix addon builds
  packages/emulation/libretro-pcsx-rearmed/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4509 Kodi update to latest
  distributions/LibreELEC/version
  packages/mediacenter/kodi/package.mk
Labels: LE 10.0, UPDATE

#4499 gcc: update to 10.2.0
  packages/lang/gcc/package.mk
  packages/lang/gcc/patches/gcc-999-fix-host-gcc-final-when-ccache-is-used.patch
Labels: LE 10.0, TOOLCHAIN, UPDATE

#4512 Allwinner/Generic/Rockchip: Update to Linux 5.8
  packages/linux-drivers/RTL8188EU/patches/fix-build-with-5.8.patch
  packages/linux-drivers/RTL8192CU/package.mk
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8192EU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-0001-perf-cs-etm-Move-definition-of-traceid_list-global-v.patch
  packages/linux/patches/default/linux.999.03-arm-vdso-add-vdso_clock_gettime64-phys-timer-syscall.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-0004-fix-5.8.patch
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/patches/xf86-video-nvidia-0002-fix-5.7-rc1.patch
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
  projects/Allwinner/devices/H3/patches/linux/18-h3-increase-mali-frequency.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.8.patch
  projects/Allwinner/patches/linux/0002-backport-from-next.patch
  projects/Allwinner/patches/linux/0005-cedrus-improvements.patch
  projects/Allwinner/patches/linux/0006-wip-cec-improvements.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.8.patch
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.9.patch
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-next.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.8.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.9.patch
  projects/Rockchip/patches/linux/default/linux-0021-drm-from-5.8.patch
  projects/Rockchip/patches/linux/default/linux-0021-drm-from-5.9.patch
  projects/Rockchip/patches/linux/default/linux-0022-drm-from-next.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#4527 [le92] RPi4: revert back to June 26 firmware
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, LE 9.2

#4485 linux (RPi): update to 5.4.51+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-hide-4k-modes.patch
  packages/linux/patches/raspberrypi/linux-001-popcornmix-kodi-rpi4-kms.patch
  packages/linux/patches/raspberrypi/linux-999.20-fix-perf-gcc-10.patch
  packages/linux/patches/raspberrypi/linux-999.21-fix-perf-gcc-10.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, UPDATE

#4536 improve github issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: LE 10.0

#4538 librespot: depends on avahi
  packages/addons/service/librespot/package.mk
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0

#4539 librespot: depends on avahi (backport of #4538)
  packages/addons/service/librespot/package.mk
Labels: ADDONS, BUGFIX, LE 9.2

#4542 nss: Fix building with glibc 2.32 and gcc 10
  packages/security/nss/patches/nss-09-gcc-warning-workaround.patch
Labels: BUILDSYSTEM, LE 10.0
