Repository LibreELEC/LibreELEC.tv, pull requests merged in 2020-06, with the labels that each got.

#4401 kodi: update to 18.7.1-Leia
  packages/mediacenter/kodi/package.mk
Labels: LE 9.2, UPDATE

#4383 Kodi binary addons update
  packages/graphics/lcms2/package.mk
  packages/graphics/libraw/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.raw/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#4397 Remove expired 'AddTrust External Root' ca from trust list
  packages/security/openssl/cert/cacert.pem
Labels: BUGFIX, LE 10.0

#4398 Remove expired 'AddTrust External Root' ca from trust list; update cacert.pem
  packages/security/openssl/cert/cacert.pem
Labels: BUGFIX, LE 9.2

#4375 Add Dark Mode Toggle in Chrome Add-On
  packages/addons/browser/chrome/changelog.txt
  packages/addons/browser/chrome/package.mk
  packages/addons/browser/chrome/source/bin/chrome-start
  packages/addons/browser/chrome/source/default.py
  packages/addons/browser/chrome/source/resources/language/English/strings.po
  packages/addons/browser/chrome/source/resources/settings.xml
  packages/addons/browser/chrome/source/settings-default.xml
Labels: ADDONS, FEATURE, LE 9.2

#4407 v4l-utils: update to 1.20.0
  packages/sysutils/ir-bpf-decoders/package.mk
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-002-enable-bpf-without-clang.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-100-backport-incorrect-warning-fix.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-101-backport-lircd2toml-improvements.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4403 [le92] kodi: disable LCMS2
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, LE 9.2

#4408 bison: build non-parallel
  packages/devel/bison/package.mk
Labels: BUGFIX, LE 10.0

#4409 github: add issue template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: DOCUMENTATION, LE 10.0

#4402 GCC 10 build fixes
  packages/compress/p7zip/patches/p7zip-0500-gcc10-build-fix.patch
  packages/sysutils/squashfs-tools/patches/squashfs-tools-4.4-fno-common.patch
Labels: BUILDSYSTEM, LE 10.0, PACKAGE

#4392 ARM: add skeleton project with ARMv7/ARMv8 devices for add-on building
  projects/ARM/README.md
  projects/ARM/devices/ARMv7/options
  projects/ARM/devices/ARMv8/options
  projects/ARM/linux/linux.aarch64.conf
  projects/ARM/linux/linux.arm.conf
  projects/ARM/options
Labels: ADDONS, BUILDSYSTEM, IMPROVEMENT, LE 10.0

#4414 build fixes for ARMv7
  packages/emulation/libretro-beetle-pcfx/package.mk
  packages/emulation/libretro-mame2010/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4412 ffmpeg: update RPi HEVC patch to latest version
  packages/multimedia/ffmpeg/patches/rpi-hevc/ffmpeg-99.1003-pfcd_hevc_optimisations.patch
Labels: BUGFIX, LE 10.0

#4411 [le92] ffmpeg: update RPi HEVC patch to latest version
  packages/multimedia/ffmpeg/patches/rpi-hevc/ffmpeg-001-pfcd_hevc_optimisations.patch
Labels: BUGFIX, LE 9.2

#4416 pulseaudio: fix depend target for glib
  packages/audio/pulseaudio/package.mk
Labels: BUGFIX, LE 10.0

#4415 mesa: update to mesa-20.1.1
  packages/graphics/mesa/package.mk
Labels: LE 10.0, UPDATE

#4347 linux (Generic/Allwinner): update to linux-5.6.13
  packages/linux-firmware/intel-ucode/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
Labels: ALLWINNER, KERNEL, LE 10.0, PACKAGE, UPDATE

#4320 linux (Generic): update to linux-5.7
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-0000-nop-gcc-plugin.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-0002-fix-5.7-rc1.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-0003-fix-5.7-rc1-reinstate-legacy-support.patch
  packages/x11/driver/xf86-video-nvidia/patches/xf86-video-nvidia-0002-fix-5.7-rc1.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/Generic/options
Labels: KERNEL, LE 10.0

#4417 linux (Generic): update to linux-5.7.2
  packages/linux/package.mk
Labels: LE 10.0, UPDATE

#4418 brcmfmac_sdio-firmware/rpi update
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
Labels: LE 10.0, UPDATE

#4387 show config cleanup
  config/show_config
  distributions/LibreELEC/options
  distributions/LibreELEC/show_config
Labels: BUILDSYSTEM, CLEANUP, LE 10.0

#4385 Allwinner: Update patches for Linux 5.7
  projects/Allwinner/devices/H6/patches/linux/12-ac200-nodes.patch
  projects/Allwinner/devices/H6/patches/linux/18-OrangePi-Lite2-support.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.7.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.8.patch
  projects/Allwinner/patches/linux/0003-hdmi-improvements.patch
  projects/Allwinner/patches/linux/0005-cedrus-improvements.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#4355 chrome: add missing lib to addon
  packages/addons/browser/chrome/changelog.txt
  packages/addons/browser/chrome/package.mk
  packages/addons/browser/chrome/source/bin/chrome-start
  packages/addons/browser/chrome/source/default.py
  packages/addons/browser/chrome/source/resources/language/English/strings.po
  packages/addons/browser/chrome/source/resources/settings.xml
  packages/addons/browser/chrome/source/settings-default.xml
Labels: ADDONS, BUGFIX, LE 10.0

#4400 Rockchip: linux: update patches for 5.7
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.7.patch
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.8.patch
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-next.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.7.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.8.patch
  projects/Rockchip/patches/linux/default/linux-0013-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0021-drm-from-5.7.patch
  projects/Rockchip/patches/linux/default/linux-0021-drm-from-5.8.patch
Labels: KERNEL, LE 10.0, ROCKCHIP

#4413 wait-time-sync: new package to reliable detect ntp synchronized system time
  packages/sysutils/systemd/package.mk
  packages/sysutils/wait-time-sync/package.mk
  packages/sysutils/wait-time-sync/sources/Makefile
  packages/sysutils/wait-time-sync/sources/wait-time-sync.c
  packages/sysutils/wait-time-sync/system.d/wait-time-sync.service
Labels: BUGFIX, LE 10.0

#4421 wait-time-sync: new package to reliable detect ntp synchronized system time
  packages/sysutils/systemd/package.mk
  packages/sysutils/wait-time-sync/package.mk
  packages/sysutils/wait-time-sync/sources/Makefile
  packages/sysutils/wait-time-sync/sources/wait-time-sync.c
  packages/sysutils/wait-time-sync/system.d/wait-time-sync.service
Labels: FEATURE, LE 9.2, PACKAGE

#4424 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4410 ALSA: update to 1.2.3
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-lib/patches/alsa-lib-asound.conf_configdir.patch
  packages/audio/alsa-topology-conf/package.mk
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
Labels: LE 10.0, UPDATE

#4420 LE repo version bump
  distributions/LibreELEC/version
  projects/Allwinner/devices/A20/options
  projects/Allwinner/devices/A64/options
  projects/Allwinner/devices/H3/options
  projects/Allwinner/devices/H5/options
  projects/Allwinner/devices/H6/options
  projects/Allwinner/options
  projects/Amlogic/options
  projects/NXP/options
  projects/Qualcomm/devices/Dragonboard/options
  projects/Rockchip/devices/RK3288/options
  projects/Rockchip/devices/RK3328/options
  projects/Rockchip/devices/RK3399/options
  projects/Rockchip/options
Labels: ADDONS, LE 10.0, UPDATE

#4422 wireguard: bump packages and use wait-time-sync
  packages/network/wireguard-linux-compat/package.mk
  packages/network/wireguard-tools/config/system.d/wireguard.service.sample
  packages/network/wireguard-tools/package.mk
Labels: IMPROVEMENT, LE 10.0, PACKAGE, UPDATE

#4423 wireguard: bump packages and use wait-time-sync
  packages/network/wireguard-linux-compat/package.mk
  packages/network/wireguard-tools/config/system.d/wireguard.service.sample
  packages/network/wireguard-tools/package.mk
Labels: IMPROVEMENT, LE 9.2, PACKAGE, UPDATE

#4405 [le92] linux (RPi): update to 4.19.126+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: BUGFIX, KERNEL, LE 9.2, UPDATE

#4425 vdr-plugin-xmltv2vdr: fix epgdata2xmltv static linking issue
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/patches/vdr-plugin-xmltv2vdr-03-fix-epgdata2xmltv-linking.patch
Labels: ADDONS, BUGFIX, LE 10.0

#4428 [le92] rpi-eeprom: update to 2a8c2e7
  packages/tools/rpi-eeprom/package.mk
Labels: LE 9.2, PACKAGE, UPDATE

#4283 libcec: update to libcec-next
  packages/devel/libcec/package.mk
  packages/devel/libcec/patches/cec-framework/libcec-0001-PR380.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4399 linux (RPi): update to 5.4.42+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999-fix-perf-binutils-2.34-incompatability.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, UPDATE

#4388 April 2020 Package Updates
  packages/compress/zstd/package.mk
  packages/devel/glibc/package.mk
  packages/lang/Python3/package.mk
  packages/lang/gcc/package.mk
  packages/multimedia/dav1d/package.mk
  packages/security/gnutls/package.mk
  packages/security/openssl/package.mk
  packages/sysutils/tz/package.mk
  scripts/image
Labels: LE 10.0, REBUILD, UPDATE

#4393 Make docker not slowing down boot proccess
  packages/addons/service/docker/source/system.d/service.system.docker.service
Labels: ADDONS, IMPROVEMENT, LE 10.0

#4433 various iMX6 updates
  projects/NXP/devices/iMX6/filesystem/usr/bin/rdu-audio
  projects/NXP/devices/iMX6/filesystem/usr/bin/rdu-network
  projects/NXP/devices/iMX6/filesystem/usr/lib/systemd/system/rdu-audio.service
  projects/NXP/devices/iMX6/kodi/appliance.xml
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX6/options
  projects/NXP/options
Labels: CLEANUP, IMPROVEMENT, LE 10.0, NXP

#4288 RPi4: switch to KMS driver and enable v4l2 HEVC decoding
  packages/devel/libcec/package.mk
  packages/linux/patches/raspberrypi/linux-001-popcornmix-kodi-rpi4-kms.patch
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/v4l2-rpi/0000-revert-le-patches.patch
  packages/multimedia/ffmpeg/patches/v4l2-rpi/0001-popcornmix-kodi-gbm.patch
  projects/RPi/devices/RPi4/config/config.txt
  projects/RPi/devices/RPi4/config/distroconfig.txt
  projects/RPi/devices/RPi4/kodi/appliance.xml
  projects/RPi/devices/RPi4/patches/kodi/0001-popcornmix-DVDVideoCodecDRMPRIME-Increase-thread-count-for-hevc.patch
  projects/RPi/devices/RPi4/patches/kodi/0002-popcornmix-VideoPlayer-Add-setting-to-disable-non-hevc-accel.patch
  projects/RPi/devices/RPi4/patches/kodi/0003-popcornmix-pi4-hack-Try-to-hide-pixel-wrap-issue.patch
  projects/RPi/filesystem/usr/share/alsa/cards/vc4-hdmi.conf
  projects/RPi/options
Labels: FEATURE, LE 10.0, RPi-V4L2

#4434 apache-ant: update to 1.10.8, switch to binary distribution
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
Labels: ADDONS, BUGFIX, LE 10.0, UPDATE

#4435 apache-ant: make sure ${TOOLCHAIN}/bin exists
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4440 dav1d: update to 0.7.1
  packages/multimedia/dav1d/package.mk
Labels: LE 10.0, UPDATE

#4439 gcc: fix host-gcc-final when ccache is used
  packages/lang/gcc/patches/gcc-999-fix-host-gcc-final-when-ccache-is-used.patch
Labels: BUGFIX, LE 10.0, TOOLCHAIN

#4442 dvb tools update
  packages/addons/addon-depends/dvb-tools-depends/depends/bitstream/package.mk
  packages/addons/addon-depends/dvb-tools-depends/depends/libev/package.mk
  packages/addons/addon-depends/dvb-tools-depends/dvblast/package.mk
  packages/addons/addon-depends/dvb-tools-depends/dvblast/patches/dvblast-0001-fe-caps-t.patch
  packages/addons/addon-depends/dvb-tools-depends/dvbsnoop/package.mk
  packages/addons/addon-depends/dvb-tools-depends/mumudvb/package.mk
  packages/addons/addon-depends/dvb-tools-depends/t2scan/package.mk
  packages/addons/addon-depends/dvb-tools-depends/w_scan/package.mk
  packages/addons/tools/dvb-tools/changelog.txt
  packages/addons/tools/dvb-tools/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4444 ffmpeg tools update
  packages/addons/addon-depends/ffmpegx-depends/libvpx/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/aom/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4441 system tools update
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
  packages/addons/addon-depends/system-tools-depends/diffutils/package.mk
  packages/addons/addon-depends/system-tools-depends/diffutils/patches/diffutils-002-explicitly-disable-replacing-getopt.patch
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/addon-depends/system-tools-depends/evtest/package.mk
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/addons/addon-depends/system-tools-depends/lshw/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/patches/screen-cross-compile.patch
  packages/addons/addon-depends/system-tools-depends/screen/patches/screen-dont_link_against_libelf.patch
  packages/addons/addon-depends/system-tools-depends/strace/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/ytop/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/addons/tools/system-tools/source/bin/7z
  packages/addons/tools/system-tools/source/bin/7za
Labels: ADDONS, LE 10.0, UPDATE

#4437 Update SSL 1.1 patches
  packages/multimedia/rtmpdump/patches/002_build-with-openssl11.patch
Labels: LE 10.0, PATCH, UPDATE

#4438 Update SSL 1.1 patches
  packages/multimedia/rtmpdump/patches/002_build-with-openssl11.patch
Labels: LE 9.2, PATCH, UPDATE

#4446 inputstream.rtmp rebuild
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
Labels: ADDONS, LE 9.2

#4447 NXP: disable driver add-ons
  projects/NXP/options
Labels: LE 10.0

#4448 unrar: Fix compilation
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4449 mrxvt: dropped from system-tools
  packages/addons/addon-depends/system-tools-depends/mrxvt/package.mk
  packages/addons/addon-depends/system-tools-depends/mrxvt/patches/mrxvt-01_xterm.patch
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, CLEANUP, LE 10.0

#4450 mpd: update to 0.21.24
  packages/addons/addon-depends/libmpdclient/package.mk
  packages/addons/addon-depends/mpd-mpc/package.mk
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4451 fix system-tools build
  packages/addons/addon-depends/system-tools-depends/diffutils/patches/diffutils-001-no-man-or-doc.patch
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4454 disable parallel build of ngrep and unrar
  packages/addons/addon-depends/network-tools-depends/ngrep/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4436 gcc: update to 10.1.0
  packages/addons/addon-depends/chrome-depends/at-spi2-atk/package.mk
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/chrome-depends/atk/package.mk
  packages/addons/addon-depends/comskip/patches/Comskip-0001-Fix-compilation-with-gcc10.patch
  packages/addons/addon-depends/dvb-tools-depends/t2scan/patches/t2scan-0001-Fix-building-with-gcc10.patch
  packages/addons/addon-depends/dvb-tools-depends/w_scan/patches/w_scan-0001-Fix-building-with-gcc10.patch
  packages/addons/addon-depends/network-tools-depends/iftop/patches/iftop-Fix-building-with-gcc10.patch
  packages/addons/addon-depends/network-tools-depends/ncftp/patches/ncftpd-gcc10-build-fix.patch
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/htop/patches/htop-00-fix-gcc10-build.patch
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/fix-parallel-build.patch
  packages/addons/service/lcdd/patches/lcdd-fix-compilation-with-gcc10.patch
  packages/addons/service/minidlna/patches/minidlna-02-Fix-building-with-gcc10.patch
  packages/addons/service/minisatip/patches/minisatip-Fix-declaration-and-definition-of-global-variables.patch
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/tvheadend42/patches/tvheadend42-04-Fix-building-with-fno-common.patch
  packages/debug/libunwind/package.mk
  packages/debug/libunwind/patches/libunwind-Fix-compilation-with-fno-common.patch
  packages/debug/memtester/patches/memtester-002-fix_GCC10_FTBFS.patch
  packages/devel/binutils/patches/binutils-backport-from-dev.patch
  packages/devel/glibc/patches/glibc-fix-gcc10-build.patch
  packages/devel/make/patches/make-01-disable-inheritance-of-fds.patch
  packages/emulation/libretro-cap32/patches/libretro-cap32-Fix-declaration-of-ev_events.patch
  packages/emulation/libretro-fuse/patches/libretro-fuse-Emscripten-fixes.patch
  packages/emulation/libretro-uae/package.mk
  packages/emulation/libretro-vice/patches/libretro-vice-0001-fix-compilation-with-gcc10.patch
  packages/lang/gcc/package.mk
  packages/lang/llvm/package.mk
  packages/linux/patches/amlogic/linux-0001-perf-cs-etm-Move-definition-of-traceid_list-global-v.patch
  packages/linux/patches/default/linux-0001-perf-cs-etm-Move-definition-of-traceid_list-global-v.patch
  packages/linux/patches/raspberrypi/linux-0001-perf-cs-etm-Move-definition-of-traceid_list-global-v.patch
  packages/linux/patches/raspberrypi/linux-999.20-fix-perf-gcc-10.patch
  packages/linux/patches/raspberrypi/linux-999.21-fix-perf-gcc-10.patch
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/patches/audiodecoder.ncsf-0002-fix-build-with-gcc-10.patch
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/patches/audiodecoder.wsr-0001-Fix-build-with-gcc-10.patch
  packages/multimedia/intel-vaapi-driver/package.mk
  packages/multimedia/media-driver/package.mk
  packages/network/libtirpc/package.mk
  packages/sysutils/open-iscsi/patches/open-iscsi-05-Updates-to-support-gcc-fno-common-option.patch
  packages/sysutils/open-iscsi/patches/open-iscsi-06-Fix-attribute.patch
  packages/sysutils/open-vm-tools/package.mk
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0001-fix-issue-429.patch
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0002-fix-issue-429.patch
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0003-fix-issue-429.patch
  packages/sysutils/open-vm-tools/patches/open-vm-tools-001-fix-deprecated-glib-funcs.patch
  packages/tools/dtc/package.mk
  packages/tools/grub/package.mk
  packages/x11/driver/xf86-video-amdgpu/patches/xf86-video-amdgpu-fix-gcc-10.patch
  packages/x11/driver/xf86-video-ati/patches/xf86-video-ati-001-fix-gcc-10.patch
Labels: LE 10.0, TOOLCHAIN, UPDATE

#4455 RPi4: update to firmware 2b76cfc
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, LE 9.2, UPDATE

#4459 RPi.GPIO: Fix compilation with gcc10
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4453 mesa: update to mesa-20.1.2
  packages/graphics/mesa/package.mk
Labels: LE 10.0, UPDATE

#4456 Busybox updates
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/mediacenter/LibreELEC-settings/scripts/backup-restore
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/config/httpd.conf
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/init
Labels: CLEANUP, LE 10.0, PACKAGE

#4452 samba: disable automatic icu pickup
  packages/network/samba/package.mk
Labels: BUGFIX, LE 10.0

#4465 libretro-fsuae: Fix compilation with gcc10
  packages/emulation/libretro-fsuae/package.mk
Labels: ADDONS, BUGFIX, LE 10.0
