Repository LibreELEC/LibreELEC.tv, pull requests merged in 2020-05, with the labels that each got.

#4363 Dragonboard: temp disable driver-addons to prevent Jenkins failures
  projects/Qualcomm/devices/Dragonboard/options
Labels: LE 10.0

#4366 u-boot: update to 2020.04 and drop temp VIM3L patches
  packages/tools/u-boot/package.mk
  packages/tools/u-boot/patches/u-boot-0001-khadas-vim3l.patch
  packages/tools/u-boot/patches/u-boot-0002-khadas-vim3l.patch
  projects/Allwinner/devices/H5/patches/u-boot/0001-OrangePi-PC2-Update-defaults.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4364 syncthing: update to 1.4.2
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
  packages/addons/service/syncthing/source/bin/syncthing-service
  packages/addons/service/syncthing/source/default.py
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0, UPDATE

#4365 syncthing: update to 1.4.2 (backport of #4364)
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
  packages/addons/service/syncthing/source/bin/syncthing-service
  packages/addons/service/syncthing/source/default.py
Labels: ADDONS, BUGFIX, LE 9.2, UPDATE

#4334 LibreELEC-settings: update to LibreELEC-settings-42acf26
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, LE 9.2, PACKAGE, UPDATE

#4309 libgpg-error: update to libgpg-error-1.37 [LibreELEC-9.2]
  packages/security/libgpg-error/package.mk
Labels: BUGFIX, LE 9.2, PACKAGE, UPDATE

#4296 installer: use FAT16 for Generic system partition / dosfstools: reduce fsck.fat log spam
  packages/sysutils/dosfstools/patches/dosfstools-01-silence_backup_boot_sector_diff.patch
  packages/tools/installer/scripts/installer
Labels: LE 9.2, PACKAGE

#4298 mkimage: replace deprecated "tty" with "systemd.debug_shell" for Generic
  scripts/mkimage
Labels: BUILDSYSTEM, LE 9.2

#4245 [le92] linux (RPi): update to 4.19.107+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 9.2, UPDATE

#4367 v4l-utils: update to 1.18.1
  packages/sysutils/v4l-utils/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4360 wireless-regdb: update to wireless-regdb-2020.04.29
  packages/network/wireless-regdb/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4356 samba: update to samba-4.12.2
  packages/network/samba/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4290 Regdom
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
  packages/network/iw/package.mk
  packages/network/iw/scripts/setregdomain
  packages/network/iw/udev.d/60-iw-regdomain.rules
  packages/virtual/network/package.mk
Labels: LE 9.2, PACKAGE, UPDATE, WORK IN PROGRESS

#4357 buildsystem: fix go-based packages
  config/functions
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 10.0, PACKAGE

#4372 Fix emby4
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/emby4/source/bin/emby4.start
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0

#4373 Fix emby4 (backport of #4372)
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/emby4/source/bin/emby4.start
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BUGFIX, LE 9.2

#4374 New version of linux causes build to fail with older patch. This one …
  projects/RPi/devices/Slice/patches/linux/linux-999.99-slice-mmc-aliases.patch
  projects/RPi/devices/Slice3/patches/linux/linux-999.99-slice-mmc-aliases.patch
Labels: BUGFIX, LE 10.0

#4379 texturecache.py/bcmstat.sh: update to latest.
  packages/tools/bcmstat/package.mk
  packages/tools/texturecache.py/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4247 backports: libreelec-9.2.3
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/package.mk
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/network/iptables/scripts/iptables_helper
  packages/security/gnutls/package.mk
  packages/tools/bcmstat/package.mk
  packages/tools/texturecache.py/package.mk
  projects/Generic/linux/linux.x86_64.conf
Labels: LE 9.2, PACKAGE, UPDATE

#4386 kodi: update to 18.7-Leia
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/patches/rpi4-hevc/ffmpeg-001-pfcd_hevc_optimisations.patch
Labels: LE 9.2, PACKAGE, UPDATE

#4390 uboot_helper: added support for Pine H64 Model B
  scripts/uboot_helper
Labels: ALLWINNER, HARDWARE, LE 10.0

#4389 3.3.20-Leia pvr.nextpvr
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#4361 mesa: update to mesa-20.0.6
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4341 dbus, systemd: fix duplicate tmpfiles and missing groups
  packages/sysutils/dbus/tmpfiles.d/z_02_dbus.conf
  packages/sysutils/systemd/package.mk
Labels: LE 10.0

#4330 bison: update to bison-3.5.4; nano-4.9.2
  packages/devel/bison/package.mk
  packages/tools/nano/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4340 libzip: update to libzip-1.6.1
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4325 busybox: update to busybox-9aa751b; enable tac
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/patches/busybox-07-fix-for-dev-snapshot-build-failure.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4391 Allwinner: Disable non-working Kodi settings
  projects/Allwinner/kodi/appliance.xml
Labels: ALLWINNER, LE 10.0

#4287 gnutls: update to 3.6.13
  packages/security/gnutls/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4369 [le92] linux (RPi): update to 4.19.120+
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/network/wireguard-linux-compat/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: KERNEL, LE 9.2, UPDATE

#4377 Rockchip: update linux patches for 5.6
  packages/linux-drivers/mali-midgard/package.mk
  packages/linux-drivers/mali-utgard/package.mk
  packages/virtual/network/package.mk
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3328/patches/linux/default/linux-0007-experimental.patch
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/options
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.5.patch
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.7.patch
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-5.6.patch
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-next.patch
  projects/Rockchip/patches/linux/default/linux-0003-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0004-work-in-progress.patch
  projects/Rockchip/patches/linux/default/linux-0005-for-libreelec.patch
  projects/Rockchip/patches/linux/default/linux-0006-experimental.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.5.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-5.7.patch
  projects/Rockchip/patches/linux/default/linux-0012-v4l2-from-next.patch
  projects/Rockchip/patches/linux/default/linux-0013-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0014-v4l2-work-in-progress.patch
  projects/Rockchip/patches/linux/default/linux-0021-drm-from-5.7.patch
  projects/Rockchip/patches/linux/default/linux-0022-drm-from-next.patch
  projects/Rockchip/patches/linux/default/linux-1000-export-mm_trace_rss_stat.patch
Labels: KERNEL, LE 10.0, ROCKCHIP

#4362 linux: arm: vdso: add vdso_clock_gettime64 syscall for non virtual timers
  packages/linux/patches/default/linux.999.03-arm-vdso-add-vdso_clock_gettime64-phys-timer-syscall.patch
Labels: LE 10.0, PATCH

#4394 [le92] RPi: update to firmware 62fc8c0
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, LE 9.2, PACKAGE, UPDATE

#4261 add RemainAfterExit=yes to our oneshot systemd services
  packages/graphics/bcm2835-driver/system.d/unbind-console.service
  packages/linux-firmware/brcmfmac_sdio-firmware/system.d/brcmfmac-firmware.service
  packages/network/samba/system.d/samba-config.service
  packages/security/openssl/system.d/openssl-config.service
  packages/sysutils/systemd/system.d/hwdb.service
  packages/sysutils/systemd/system.d/kernel-overlays.service
Labels: BUGFIX, LE 10.0

#4329 kernel-firmware: use copy-firmware.sh
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux-firmware/kernel-firmware/patches/kernel-firmware-02-add-brcmfmac-43xxx-configs.patch
  packages/linux/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE, UPDATE

#4344 Support building of a remote/cross gdb
  config/functions
  config/optimize
  packages/debug/gdb/package.mk
  packages/devel/ncurses/package.mk
  packages/virtual/debug/package.mk
Labels: FEATURE, LE 10.0

#4333 libva: update to libva-2.7.1
  packages/multimedia/libva/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4326 MarkupSafe: bump to 1.1.1
  packages/python/devel/MarkupSafe/package.mk
Labels: LE 10.0, UPDATE

#4271 Support cross-compile on aarch64 platform
  config/path
  packages/lang/gcc-arm-aarch64-none-elf/package.mk
  packages/security/openssl/package.mk
  scripts/checkdeps
Labels: BUILDSYSTEM, IMPROVEMENT, LE 10.0

#4268 alsa-lib: use hda_intel driver on Intel boards with a DSP
  packages/audio/alsa-lib/modprobe.d/intel-audio.conf
Labels: BUGFIX, LE 10.0

#4297 mkimage: replace deprecated "tty" with "systemd.debug_shell" for Generic
  scripts/mkimage
Labels: BUILDSYSTEM, LE 10.0

#4242 rpi-eeprom: update to rpi-eeprom-<next>
  packages/tools/rpi-eeprom/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4359 linux (RPi): update to linux-5.4.42
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE
