Repository LibreELEC/LibreELEC.tv, pull requests merged in 2020-04, with the labels that each got.

#4199 linux (Generic): update to linux-5.6
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0300-kernel-5.6-rc1-fix.patch
  packages/linux-drivers/intel_nuc_led/package.mk
  packages/linux-drivers/intel_nuc_led/patches/intel_nuc_led-fix-5.6-rc1.patch
  packages/linux/package.mk
  packages/linux/patches/default/linux-999-5.6-iwlwifi-fix.patch
  packages/linux/patches/default/linux-999-fix-perf-binutils-2.34-incompatability.patch
  packages/network/wireguard-linux-compat/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-0001-fix-5.6-rc1.patch
  packages/x11/driver/xf86-video-nvidia/patches/xf86-video-nvidia-0001-fix-5.6-rc1.patch
  projects/Generic/linux/linux.x86_64.conf
Labels: KERNEL, LE 10.0, PACKAGE, PATCH, UPDATE

#4284 Allwinner: Update to Linux 5.6
  projects/Allwinner/devices/A20/patches/linux/0002-Add-support-for-sun4i-HDMI-audio.patch
  projects/Allwinner/devices/A20/patches/linux/0003-edid-fix.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0001-backport-from-5.6.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.7.patch
  projects/Allwinner/patches/linux/0006-wip-cec-improvements.patch
Labels: ALLWINNER, KERNEL, LE 10.0

#4293 mesa: update to mesa-20.0.4
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4277 libprojectM: add --enable-preset-subdirs
  packages/graphics/libprojectM/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4278 libprojectM: add --enable-preset-subdirs
  packages/graphics/libprojectM/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
Labels: BUGFIX, LE 9.2, PACKAGE

#4275 installer: use FAT16 for Generic system partition / dosfstools: reduce fsck.fat log spam
  packages/sysutils/dosfstools/patches/dosfstools-01-silence_backup_boot_sector_diff.patch
  packages/tools/installer/scripts/installer
Labels: IMPROVEMENT, LE 10.0, PACKAGE

#4294 Revert "Allwinner: Set ondemand as default cpufreq governor"
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
Labels: ALLWINNER, LE 10.0

#4281 Update minisatip version
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
  packages/addons/service/minisatip/source/bin/minisatip.start
Labels: ADDONS, LE 10.0, UPDATE

#4304 wlan-firmwate: Update package
  packages/linux-firmware/wlan-firmware/package.mk
Labels: HARDWARE, LE 10.0, UPDATE

#4305 linux (Generic): enable Marvell SDIO and USB WiFi support as module
  projects/Generic/linux/linux.x86_64.conf
Labels: BACKPORT DONE, KERNEL, LE 10.0, UPDATE

#4307 intel_nuc_led: remove package
  packages/linux-drivers/intel_nuc_led/package.mk
  packages/linux-drivers/intel_nuc_led/patches/intel_nuc_led-fix-5.6-rc1.patch
  projects/Generic/options
Labels: LE 10.0, PACKAGE

#4306 Update inputstream.adaptive to version 2.4.4-Leia
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, LE 9.2, PACKAGE, UPDATE

#4310 kodi-binary-addons: update to latest versions [LibreELEC-9.2]
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
Labels: ADDONS, LE 9.2, PACKAGE, UPDATE

#4312 lirc: add patch to fix zotac driver
  packages/sysutils/lirc/patches/lirc-0001-fix-zotac-poll.patch
Labels: BACKPORT DONE, BACKPORT REQD, BUGFIX, LE 10.0, PACKAGE

#4313 [le92] lirc: add patch to fix zotac driver
  packages/sysutils/lirc/patches/lirc-0001-fix-zotac-poll.patch
Labels: BUGFIX, LE 9.2, PACKAGE

#4300 Allwinner: Add support for OrangePi Lite2
  projects/Allwinner/devices/H6/patches/linux/07-opi3.patch
  projects/Allwinner/devices/H6/patches/linux/08-arm64-dts-allwinner-OrangePiOnePlus-updates.patch
  projects/Allwinner/devices/H6/patches/linux/15-RTC-workaround.patch
  projects/Allwinner/devices/H6/patches/linux/18-OrangePi-Lite2-support.patch
  projects/Allwinner/patches/linux/0001-backport-from-5.7.patch
  scripts/uboot_helper
Labels: ALLWINNER, HARDWARE, LE 10.0

#4315 sapphire: remove package
  packages/addons/driver/sapphire/changelog.txt
  packages/addons/driver/sapphire/icon/icon.png
  packages/addons/driver/sapphire/package.mk
  packages/addons/driver/sapphire/patches/sapphire-0001-fix-makefile.patch
  packages/addons/driver/sapphire/source/bin/sapphire-config
  packages/addons/driver/sapphire/source/default.py
  packages/addons/driver/sapphire/source/system.d/driver.remote.sapphire.service
Labels: ADDONS, CLEANUP, LE 10.0, PACKAGE

#4318 Allwinner: H6: Fix panfrost devfreq voltage adjustments
  projects/Allwinner/devices/H6/patches/linux/17-Add-GPU-operating-points-for-H6.patch
Labels: ALLWINNER, BUGFIX, LE 10.0

#4328 Allwinner: Remove panfrost patch which causes instability
  projects/Allwinner/devices/H6/patches/linux/17-Add-GPU-operating-points-for-H6.patch
Labels: ALLWINNER, BUGFIX, LE 10.0

#4289 libva: update to libva-2.7.0
  packages/debug/libva-utils/package.mk
  packages/debug/libva-utils/patches/libva-utils-001-fix-build-withouth-x11.patch
  packages/multimedia/libva/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4292 openssl: update to openssl-1.1.1f
  packages/security/openssl/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4301 samba: update to samba-4.12.1
  packages/network/samba/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4302 RTL8812AU: update to RTL8812AU-3ec2947
  packages/linux-drivers/RTL8812AU/package.mk
Labels: BACKPORT DONE, LE 10.0, PACKAGE, UPDATE

#4303 xf86-video-nvidia: update to xf86-video-nvidia-440.82
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/patches/xf86-video-nvidia-0001-fix-5.6-rc1.patch
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: BACKPORT DONE, LE 10.0, PACKAGE, UPDATE

#4323 glm: update to glm-0.9.9.8
  packages/graphics/glm/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4324 iptables: fix helper script
  packages/network/iptables/scripts/iptables_helper
Labels: BACKPORT DONE, BUGFIX, LE 10.0

#4321 WireGuard package cleanup and updates
  packages/linux/package.mk
  packages/network/wireguard-linux-compat/package.mk
  packages/network/wireguard-linux-compat/patches/wireguard-linux-compat-01-skip-compat_h-version-checks.patch
  packages/network/wireguard-tools/package.mk
  packages/virtual/network/package.mk
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
Labels: LE 10.0, PACKAGE, UPDATE

#4331 buildsystem: ignore custom host Python installations
  config/path
Labels: BUILDSYSTEM, LE 10.0

#4327 kernel-firmware: pick BT firmware for USB/QCA9377 cards
  packages/linux-firmware/kernel-firmware/firmwares/x86_64.dat
  packages/linux-firmware/kernel-firmware/package.mk
Labels: HARDWARE, IMPROVEMENT, LE 10.0

#4316 librespot: drop system.d
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_enable_pulseaudio_device_names.patch
  packages/addons/service/librespot/patches/librespot-02_use_own_pulseaudio_sink.patch
  packages/addons/service/librespot/source/bin/librespot.start
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/ls_env.py
  packages/addons/service/librespot/source/resources/language/English/strings.po
  packages/addons/service/librespot/source/resources/lib/ls_addon.py
  packages/addons/service/librespot/source/resources/lib/ls_librespot.py
  packages/addons/service/librespot/source/resources/lib/ls_monitor.py
  packages/addons/service/librespot/source/resources/lib/ls_pulseaudio.py
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
  packages/addons/service/librespot/source/resources/settings.xml
  packages/addons/service/librespot/source/settings-default.xml
  packages/addons/service/librespot/source/system.d/service.librespot.service
Labels: ADDONS, BACKPORT DONE, LE 10.0, UPDATE

#4317 librespot: drop system.d (backport of #4316)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/librespot-02_enable_pulseaudio_device_names.patch
  packages/addons/service/librespot/patches/librespot-02_use_own_pulseaudio_sink.patch
  packages/addons/service/librespot/source/bin/librespot.start
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/ls_env.py
  packages/addons/service/librespot/source/resources/language/English/strings.po
  packages/addons/service/librespot/source/resources/lib/ls_addon.py
  packages/addons/service/librespot/source/resources/lib/ls_librespot.py
  packages/addons/service/librespot/source/resources/lib/ls_monitor.py
  packages/addons/service/librespot/source/resources/lib/ls_pulseaudio.py
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
  packages/addons/service/librespot/source/resources/settings.xml
  packages/addons/service/librespot/source/settings-default.xml
  packages/addons/service/librespot/source/system.d/service.librespot.service
Labels: ADDONS, LE 9.2, UPDATE

#4255 kodi: next update (end of March 2020?)
  packages/devel/libfmt/package.mk
  packages/devel/spdlog/package.mk
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pingpong/package.mk
  packages/mediacenter/kodi/package.mk
  packages/multimedia/libudfread/package.mk
  projects/Allwinner/patches/kodi/0002-guisize.patch
  projects/Amlogic/patches/kodi/kodi-guisize.patch
Labels: LE 10.0

#4332 kodi binary addons: update to 2020-04-18 Matrix versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.freebox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4342 librespot: handle non ascii track information
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0

#4343 librespot: handle non ascii track information (backport of #4342)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
Labels: ADDONS, BUGFIX, LE 9.2

#4335 emby4: update to 4.4.2.0
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/userspace-rcu/package.mk
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/emby4/source/system.d/service.emby4.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BACKPORT DONE, LE 10.0, UPDATE

#4336 emby4: update to 4.4.2.0 (backport of #4335)
  packages/addons/addon-depends/dotnet-runtime-depends/krb5/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/userspace-rcu/package.mk
  packages/addons/addon-depends/emby-depends/imagemagick/package.mk
  packages/addons/service/emby4/changelog.txt
  packages/addons/service/emby4/package.mk
  packages/addons/service/emby4/source/system.d/service.emby4.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#4338 [le92] kodi binary addons: add vfs.sacd and missing visualization addons
  packages/mediacenter/kodi-binary-addons/vfs.sacd/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.starburst/package.mk
  tools/mkpkg/update_binary-addons
Labels: ADDONS, LE 9.2

#4337 kodi binary addons: add vfs.sacd and missing visualization addons
  packages/mediacenter/kodi-binary-addons/vfs.sacd/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.starburst/package.mk
  tools/mkpkg/update_binary-addons
Labels: ADDONS, LE 10.0

#4291 linux (Generic/Allwinner): update to linux-5.6.6
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-999-5.6-iwlwifi-fix.patch
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE

#4322 kodi: remove beelink mouse patch
  packages/mediacenter/kodi/patches/kodi-999.16-disable-beelink-mouse.patch
Labels: LE 10.0, PATCH, UPDATE

#4345 mesa: update to mesa-20.0.5
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4285 xorg-server: update to xorg-server-1.20.8 (and friends)
  packages/addons/addon-depends/chrome-depends/chrome-libxcb/package.mk
  packages/x11/app/xkbcomp/package.mk
  packages/x11/lib/libxcb/package.mk
  packages/x11/proto/xcb-proto/package.mk
  packages/x11/proto/xorgproto/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4346 lttng-ust: remove redundant patch
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/patches/lttng-ust-0001-namespace-gettid-wrapper.patch
Labels: ADDONS, BUGFIX, LE 10.0

#4348 kodi binary addons: update to 2020-04-25 Leia versions
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
Labels: ADDONS, LE 9.2, UPDATE

#4351 Add Tritium H5 support
  scripts/uboot_helper
Labels: ALLWINNER, HARDWARE, LE 10.0

#4352 lttng-ust: disable numa
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0

#4353 lttng-ust: disable numa (backport of #4352)
  packages/addons/addon-depends/dotnet-runtime-depends/lttng-ust/package.mk
Labels: ADDONS, BUGFIX, LE 9.2

#4354 chrome: add missing lib
  packages/addons/browser/chrome/changelog.txt
  packages/addons/browser/chrome/package.mk
Labels: ADDONS, BUGFIX, LE 9.2, MERGE ¯\_(ツ)_/¯ 💥

#4286 linux (RPi): update to linux-5.4.35
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/amlogic/linux-0000-nop-gcc-plugin.patch
  packages/linux/patches/default/linux-0000-nop-gcc-plugin.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, PACKAGE, UPDATE
