Repository LibreELEC/LibreELEC.tv, pull requests merged in 2021-11, with the labels that each got.

#5840 Rockchip: u-boot: fix build
  projects/Rockchip/bootloader/config
Labels: BUGFIX, ROCKCHIP, LE 11.0

#5738 linux: update to 5.15
  packages/linux-drivers/RTL8188EU/package.mk
  packages/linux-drivers/RTL8192CU/package.mk
  packages/linux-drivers/RTL8192DU/patches/5-15-0.patch
  packages/linux-drivers/RTL8192EU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/RTL8812AU/patches/5-15-0.patch
  packages/linux-drivers/RTL8812AU/patches/Fix-GRO_DROP-deprecation-kernel-5-12.patch
  packages/linux-drivers/RTL8812AU/patches/Revert-issue-768-don-t-apply-ARM-options-to-ARM64.patch
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-0005-fix-5.9.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0014-media-hevc-Add-segment-address-field.patch
  projects/Allwinner/patches/linux/0016-media-cedrus-hevc-Add-support-for-multiple-slices.patch
  projects/Allwinner/patches/linux/0050-arm64-dts-allwinner-h6-tanix-tx6-enable-emmc.patch
  projects/Allwinner/patches/linux/0056-drm-sun4i-dw-hdmi-Fix-HDMI-PHY-clock-setup.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.16.patch
  projects/Rockchip/patches/linux/default/linux-0010-v4l2-from-5.15.patch
  projects/Rockchip/patches/linux/default/linux-2001-v4l-wip-rkvdec-hevc.patch
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, GENERIC, LE 11.0

#5847 crust: Update package to 2e5f355790b5f9cd941f939280adda6b4b6581c0
  packages/tools/crust/package.mk
Labels: IMPROVEMENT, UPDATE, PACKAGE, ALLWINNER, LE 11.0

#5846 sshpass: add initial package and include with network-tools bundle
  packages/addons/tools/network-tools/package.mk
  packages/network/sshpass/package.mk
Labels: ADDONS, FEATURE, PACKAGE, LE 11.0

#5848 [le11] linux (RPi): update to 5.15
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: UPDATE, KERNEL, LE 11.0

#5849 mali-midgard: update to 4d72a50
  packages/linux-drivers/mali-midgard/package.mk
Labels: UPDATE, PACKAGE, SAMSUNG, LE 11.0

#5855 [le10] tz: update to 2021e
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#5856 [le11] tz: update to 2021e
  packages/sysutils/tz/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5863 RPi: fix non-working USB and ethernet on RPi2
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: BUGFIX, KERNEL, LE 11.0

#5837 Rockchip: rework alsa configs
  projects/Rockchip/filesystem/usr/share/alsa/cards/HDMI.conf
  projects/Rockchip/filesystem/usr/share/alsa/cards/I2S.conf
  projects/Rockchip/filesystem/usr/share/alsa/cards/SPDIF.conf
  projects/Rockchip/filesystem/usr/share/alsa/cards/simple-card.conf
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
Labels: IMPROVEMENT, ROCKCHIP, CLEANUP, LE 11.0

#5862 Allwinner: Sort out SPDIF support
  projects/Allwinner/filesystem/usr/share/alsa/cards/simple-card.conf
  projects/Allwinner/kodi/appliance.xml
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/patches/linux/0061-arm64-dts-allwinner-h6-tanix-tx6-Add-SPDIF.patch
  projects/Allwinner/patches/linux/0062-ASoC-sunxi-sun4i-spdif-Implement-IEC958-control.patch
Labels: BUGFIX, UPDATE, KERNEL, ALLWINNER, LE 11.0

#5867 [le11] samba: update to 4.13.14
  packages/network/samba/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5831 [le10] samba: update to 4.13.13
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#5861 pcre: update PKG_URL
  packages/devel/pcre/package.mk
Labels: PACKAGE, LE 10.0

#5870 kernel-firmware: update to 20211027
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5869 slang: add pcre dependency
  packages/devel/slang/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#5841 [le11] Update addons (mpd, btrfs-progs)
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5845 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.asap/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gme/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.nosefart/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.organya/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sacd/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.snesapu/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.stsound/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.vgmstream/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#5789 [le11 ] xorg-server: update to 21.1.1
  packages/x11/app/xkbcomp/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0002-revert-commits-depending-on-unreleased-packages.patch
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0003-drop-unsupported-keycode.patch
  packages/x11/driver/xf86-input-libinput/package.mk
  packages/x11/driver/xf86-video-amdgpu/package.mk
  packages/x11/driver/xf86-video-ati/package.mk
  packages/x11/driver/xf86-video-ati/patches/xf86-video-ati-999.01-fix-gcc-10.patch
  packages/x11/driver/xf86-video-ati/patches/xf86-video-ati-999.02-cleanup-terminology-to-use-primary-secondary.patch
  packages/x11/driver/xf86-video-intel/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/font/font-util/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/lib/libXfixes/package.mk
  packages/x11/lib/libXfont2/package.mk
  packages/x11/lib/libXi/package.mk
  packages/x11/lib/libxcvt/package.mk
  packages/x11/other/fontconfig/package.mk
  packages/x11/proto/xorgproto/package.mk
  packages/x11/xserver/xorg-server/package.mk
  packages/x11/xserver/xorg-server/patches/xorg-server-0001-sdksyms.sh-Make-sdksyms.sh-work-with-gcc5.patch
  packages/x11/xserver/xorg-server/patches/xorg-server-1.12.4-05_pkg_config.patch
  packages/x11/xserver/xorg-server/patches/xorg-server-1.12.4-14-detect_radeon.patch
  packages/x11/xserver/xorg-server/patches/xorg-server-1.18.0-add_prime_support-1.patch
  packages/x11/xserver/xorg-server/patches/xorg-server-100.01-detect-radeon.patch
  packages/x11/xserver/xorg-server/patches/xorg-server-100.02-add-fedora-extra-modes-list.patch
Labels: UPDATE, GENERIC, LE 11.0

#5857 weston: fix meson options and NDEBUG compile
  packages/wayland/weston/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#5871 [le11] build fixes
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/RTL8812AU/patches/5-15-0.patch
  projects/NXP/devices/iMX8/patches/u-boot/0001-fix-imx64-mkimage-fit-atf-2021-10.patch
  projects/Samsung/patches/linux/samsung-0021-MEMEKA-fix-eMMC-clock-settings.patch
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#5874 pvr.nextpvr: update 20.1.1-Nexus to 20.1.3-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#5839 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.asap/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gme/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.nosefart/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.organya/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sacd/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.snesapu/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.stsound/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5842 [le10] Update addons (mpd, btrfs-progs)
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5764 install2emmc: use SYSTEM_SIZE and DISTRONAME in script
  projects/Allwinner/filesystem/usr/bin/install2emmc
  projects/NXP/devices/iMX8/filesystem/usr/bin/install2emmc
  scripts/image
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#5822 RTL8188EU: Use the driver from staging instead of out of tree
  distributions/LibreELEC/options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/RPi/options
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: IMPROVEMENT, KERNEL, CLEANUP, LE 11.0

#5859 pcre: update to 8.45 and PKG_URL
  packages/devel/pcre/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5850 sshpass: add initial package and include with network-tools bundle
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
  packages/network/sshpass/package.mk
Labels: ADDONS, FEATURE, PACKAGE, LE 10.0

#5854 exfatprogs: add standard utilities for creating and fixing and debugging exfat filesystems
  packages/sysutils/exfatprogs/package.mk
  packages/virtual/image/package.mk
Labels: IMPROVEMENT, PACKAGE, LE 11.0

#5877 [le11] chrome: update to 96.0.4664.45 and addon (111)
  packages/addons/addon-depends/chrome-depends/pango/package.mk
  packages/addons/addon-depends/chrome-depends/shared-mime-info/patches/migrate-from-custom-itstool-to-builtin-msgfmt-for-creating-translated-XML.patch
  packages/addons/addon-depends/chrome-depends/shared-mime-info/patches/no-man-no-html.patch
  packages/addons/browser/chrome/changelog.txt
  packages/addons/browser/chrome/package.mk
  packages/graphics/harfbuzz/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, GENERIC, LE 11.0

#5882 RTL8188EU: drop no longer used package
  packages/linux-drivers/RTL8188EU/package.mk
  projects/RPi/options
Labels: PACKAGE, CLEANUP, LE 11.0

#5881 Mesa and Intel updates
  packages/graphics/mesa/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5864 [le11] fix wayland builds
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-995.01-fix-missing-wayland-scanner-pkg-config.patch
  packages/textproc/pugixml/package.mk
  packages/wayland/libinput/package.mk
  packages/wayland/libxkbcommon/package.mk
  packages/wayland/wayland-protocols/package.mk
  packages/wayland/wayland/package.mk
  packages/wayland/wayland/patches/wayland-100.01-fix-wayland-scanner-build.patch
  packages/wayland/waylandpp/package.mk
  packages/wayland/weston/config/weston.ini
  packages/wayland/weston/package.mk
Labels: BUGFIX, UPDATE, GENERIC, LE 11.0

#5851 kodi: cleanup samba client timeout
  packages/mediacenter/kodi/config/advancedsettings.xml
Labels: CLEANUP, LE 11.0

#5888 [le11] linux (RPi): update to 5.15.2-027a7a8
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-backport-VIDIOC_DQEVENT-compat32-fix.patch
  packages/linux/patches/raspberrypi/linux-001-temp-revert-video-codec-callback-limit.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, KERNEL, LE 11.0

#5889 [le11] ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: IMPROVEMENT, UPDATE, LE 11.0

#5886 Wireless updates
  packages/network/iw/package.mk
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5883 waylandpp and wayland-protocols: dependancies
  packages/wayland/wayland-protocols/package.mk
  packages/wayland/waylandpp/package.mk
Labels: CLEANUP, LE 11.0

#5895 Allwinner: H3: CEC cleanup
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0063-HACK-SW-CEC-implementation-for-H3.patch
  projects/Allwinner/patches/linux/0064-ARM-dts-sun8i-h3-beelink-x2-Add-GPIO-CEC-node.patch
Labels: IMPROVEMENT, HARDWARE, KERNEL, ALLWINNER, LE 11.0

#5894 pvr.hts: update 20.1.1-Nexus to 20.1.2-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#5893 pvr.hts: update 19.0.2-Matrix to 19.0.3-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5885 [le11] projects/Generic: clean up & add crocus graphic driver
  projects/Generic/devices/Generic-legacy/options
  projects/Generic/devices/Generic/options
Labels: FEATURE, CLEANUP, GENERIC, LE 11.0

#5898 kodi: update to latest
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.26-disable-internal-texturepacker.patch
  packages/mediacenter/kodi/patches/kodi-995.01-fix-missing-wayland-scanner-pkg-config.patch
Labels: UPDATE, LE 11.0

#5890 Allwinner: add Crust support for bananapi-m2-zero
  projects/Allwinner/devices/H2-plus/options
  projects/Allwinner/devices/H2-plus/patches/u-boot/0001-DO-NOT-MERGE-sunxi-psci-Delegate-PSCI-to-SCPI.patch
  projects/Allwinner/patches/linux/0063-bananapim2-zero-key_power.patch
  scripts/uboot_helper
Labels: LE 11.0

#5887 mesa GRAPHIC_DRIVERS: delete classic drivers (DRI)
  config/graphic
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/graphics/libdrm/package.mk
  packages/graphics/mesa/package.mk
  packages/virtual/mediacenter/package.mk
  projects/ARM/options
  projects/Allwinner/options
  projects/Generic/devices/Generic-legacy/options
  projects/Generic/devices/Generic/options
  projects/NXP/options
  projects/Qualcomm/devices/Dragonboard/options
  projects/Rockchip/options
Labels: IMPROVEMENT, PACKAGE, CLEANUP, GENERIC, LE 11.0

#5901 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#5902 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5903 Allwinner: small cleanup
  projects/Allwinner/patches/linux/0035-ARM-dts-sun8i-Adjust-power-key-nodes.patch
  projects/Allwinner/patches/linux/0035-h3-h5-power-key-wake-up-source.patch
  projects/Allwinner/patches/linux/0063-bananapim2-zero-key_power.patch
Labels: MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, CLEANUP, LE 11.0

#5909 sshpass: fix build on x86_64
  packages/network/sshpass/package.mk
Labels: BUGFIX, ADDONS, LE 11.0

#5910 sshpass: fix build on x86_64
  packages/network/sshpass/package.mk
Labels: BUGFIX, ADDONS, LE 10.0

#5912 [le11] Fix mpd build
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/audio/libopenmpt/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#5913 [le11] shairport-sync: fix build with automake 1.16.5
  packages/addons/addon-depends/snapcast-depends/shairport-sync/patches/0001-configure.ac-fix-build-with-automake-1.16.5.patch
  packages/addons/addon-depends/snapcast-depends/shairport-sync/patches/0002-fix-libsnfile-dependencies.patch
Labels: ADDONS, PATCH, LE 11.0

#5919 Update Intel media-driver and libdrm
  packages/graphics/libdrm/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5853 linux: update to 5.15.y
  packages/linux/package.mk
  packages/linux/patches/default/media-v4l2-core-fix-VIDIOC_DQEVENT-handling-on-non-x86.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.16.patch
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l-wip-rkvdec-vp9.patch
  projects/Samsung/linux/linux.arm.conf
  projects/Samsung/patches/linux/samsung-0006-MEMEKA-videobuf2-dc-Move-vb2_dc_get_base_sgt-above-m.patch
Labels: KERNEL, ALLWINNER, ROCKCHIP, SAMSUNG, GENERIC, LE 11.0

#5852 Kodi: NFS timeout to 30 secs
  packages/mediacenter/kodi/patches/kodi-999.01-nfs-timeout-to-15sec.patch
Labels: BUGFIX, BACKPORT DONE, LE 10.0

#5921 RPi: add kodi deinterlace patch
  projects/RPi/patches/kodi/kodi-001-deinterlace.patch
Labels: IMPROVEMENT, FEATURE, LE 11.0

#5922 Rockchip: u-boot: fix build mkimage for RK3288
  projects/Rockchip/bootloader/config
Labels: BUGFIX, ROCKCHIP, LE 11.0

#5892 [le10] librespot: update to 0.3.1 and addon (129)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/vorbis-rs.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5891 [le11] librespot: update to 0.3.1 and addon (130)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/patches/vorbis-rs.patch
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5923 u-boot and u-boot-tools: fix HOSTCC build issues
  packages/tools/u-boot-tools/package.mk
  packages/tools/u-boot/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#5925 RPi: update kodi deinterlace patch
  projects/RPi/patches/kodi/kodi-001-deinterlace.patch
Labels: BUGFIX, LE 11.0

#5899 Update mtools + optimize mkimage to catch errors / to allow SYSTEM_SIZE >= 1024 / for speed
  packages/tools/mtools/package.mk
  scripts/mkimage
Labels: IMPROVEMENT, UPDATE, PACKAGE, LE 11.0

#5927 linux (Amlogic aarch64): update .config for 5.15.5
  projects/Amlogic/linux/linux.aarch64.conf
Labels: KERNEL, AMLOGIC, LE 11.0

#5865 [le11] Generic: updated / added devices
  projects/Generic/devices/Generic-legacy/options
  projects/Generic/devices/gbm/options
  projects/Generic/devices/wayland/options
  projects/Generic/devices/x11/filesystem/etc/X11/xorg-i915.conf
  projects/Generic/devices/x11/filesystem/usr/bin/intel-fullrange.sh
  projects/Generic/devices/x11/filesystem/usr/lib/systemd/system/intel-fullrange-resume.service
  projects/Generic/devices/x11/filesystem/usr/lib/systemd/system/intel-fullrange.service
  projects/Generic/devices/x11/options
  projects/Generic/filesystem/usr/share/bootloader/canupdate.sh
Labels: IMPROVEMENT, CLEANUP, LE 11.0

#5930 linux (RPi): update to 5.15.5-b12c997
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-backport-VIDIOC_DQEVENT-compat32-fix.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: BUGFIX, UPDATE, KERNEL, LE 11.0
