Repository LibreELEC/LibreELEC.tv, pull requests merged in 2021-07, with the labels that each got.

#5456 boost: Boost moved the release repository to new location - jfrog.io
  packages/devel/boost/package.mk
Labels: BUGFIX, LE 10.0

#5459 mpd: update to 0.22.9 and addon (111)
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/audio/wavpack/package.mk
Labels: ADDONS, IMPROVEMENT, LE 10.0, PACKAGE, UPDATE

#5457 kodi: update to 6402a50
  packages/mediacenter/kodi/package.mk
Labels: LE 10.0, UPDATE

#5461 LibreELEC-settings: update to 6172183
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#5448 tools: refresh-patches: fix PATCH_ARCH
  tools/refresh-patches
Labels: BUGFIX, BUILDSYSTEM, LE 10.0

#5460 [LE 10] add LIBC_WIDEVINE_PATCHLEVEL environment variable to kodi config
  packages/mediacenter/kodi/scripts/kodi-config
Labels: ADDONS, FEATURE, LE 10.0

#5455 [LE 9.2] add LIBC_WIDEVINE_PATCHLEVEL to kodi config and fix aarch64 patchload from arm
  packages/devel/glibc/package.mk
  packages/mediacenter/kodi/scripts/kodi-config
Labels: FEATURE, LE 9.2

#5467 dotnet-runtime: update to 3.1.16
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5466 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5439 [Allwinner,Generic,Rockchip] linux: Update to 5.10.47
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
Labels: ALLWINNER, GENERIC, KERNEL, LE 10.0, ROCKCHIP, UPDATE

#5468 network-tools and system-tools updates
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/package.mk
  packages/addons/addon-depends/network-tools-depends/tcpdump/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5469 strace: update to 5.12
  packages/debug/strace/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#5470 syncthing: update to 1.17.0 and addon (117)
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5471 snapcast: update to 0.25
  packages/addons/addon-depends/libconfig/package.mk
  packages/addons/addon-depends/libconfig/patches/libconfig-dont-make-doc.patch
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5473 libconfig: disable build of doc and tests
  packages/addons/addon-depends/libconfig/package.mk
Labels: ADDONS, BUGFIX, LE 10.0, PACKAGE

#5474 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5475 linux (RPi): update to 5.10.46-69b899c
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi4/config/distroconfig.txt
Labels: KERNEL, LE 10.0, UPDATE

#5476 Allwinner: H3: linux: Fix CEC patch
  projects/Allwinner/devices/H3/patches/linux/0001-HACK-SW-CEC-implementation-for-H3.patch
Labels: ALLWINNER, BUGFIX, KERNEL, LE 10.0, MERGE ¯\_(ツ)_/¯ 💥

#5478 minisatip: update to 1.1.24 (105)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5480 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5481 Allwinner: linux: Enable GPIO sysfs
  projects/Allwinner/linux/linux.aarch64.conf
Labels: ALLWINNER, IMPROVEMENT, KERNEL, LE 10.0, MERGE ¯\_(ツ)_/¯ 💥

#5483 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5484 rpi-tools: update to latest
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
  packages/addons/addon-depends/rpi-tools-depends/colorzero/package.mk
  packages/addons/addon-depends/rpi-tools-depends/gpiozero/package.mk
  packages/addons/tools/rpi-tools/changelog.txt
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#5463 vdr-addon: REV 116, update vdr (2.4.7) and plugins / fix $PKG_NAME-config scripts
  packages/addons/addon-depends/cxxtools/package.mk
  packages/addons/addon-depends/tntnet/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-eepg/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgfixer/patches/vdr-plugin-epgfixer-01-pkgconfig.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/patches/vdr-plugin-epgsearch-01-pkgconfig.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-iptv/patches/vdr-plugin-iptv-pkgconfig.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/patches/vdr-plugin-live-01-makefile.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-restfulapi/patches/vdr-plugin-restfulapi-01-static-lib-order.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-robotv/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/patches/vdr-plugin-satip-01-pkgconfig.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-01-fixes.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-02-countries_utf8.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscancontrol/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
  packages/devel/ncurses/package.mk
  packages/devel/pcre/package.mk
  packages/web/curl/package.mk
  scripts/build
Labels: ADDONS, BUGFIX, LE 10.0, TOOLCHAIN, UPDATE

#5490 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5492 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5485 distro: bump ADDON_VERSION to 10.0.0
  distributions/LibreELEC/version
Labels: ADDONS, LE 10.0, UPDATE

#5493 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5497 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.starburst/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5501 brcmfmac_sdio-firmware-rpi: update to 883b726
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#5502 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: LE 10.0, PACKAGE, UPDATE

#5503 linux (RPi): update to 5.10.50
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/files/distroconfig.txt
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/config/distroconfig.txt
  projects/RPi/devices/RPi4/config/distroconfig.txt
Labels: KERNEL, LE 10.0, UPDATE

#5506 chrome: update to 92.0.4515.107
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/chrome-depends/gdk-pixbuf/package.mk
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
  packages/addons/addon-depends/chrome-depends/pango/package.mk
  packages/addons/browser/chrome/changelog.txt
  packages/addons/browser/chrome/package.mk
Labels: ADDONS, GENERIC, LE 10.0, PACKAGE, UPDATE

#5507 RPi4: switch to 64bit kernel
  projects/RPi/devices/RPi4/config/distroconfig.txt
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi4/options
Labels: BUGFIX, KERNEL, LE 10.0

#5504 libretro-picodrive: revert PicoDrive removal
  packages/emulation/libretro-picodrive/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.picodrive/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#5511 linux (RPi): update to 5.10.52
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, LE 10.0, UPDATE

#5510 minisatip: update to 1.1.34 (106)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5513 RPi: update to firmware 775e6a7
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, LE 10.0, UPDATE

#5516 Revert "RPi4: make 4kp60 enabled per default"
  projects/RPi/devices/RPi4/config/distroconfig.txt
Labels: BUGFIX, LE 10.0

#5515 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5514 Remove soil package
  packages/graphics/soil/package.mk
  packages/graphics/soil/patches/soil-0001_fix-makefile.patch
  packages/mediacenter/kodi-binary-addons/screensaver.asterwave/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  tools/mkpkg/mkpkg_soil
Labels: ADDONS, CLEANUP, LE 10.0, PACKAGE

#5522 openssh: update package location to CDN repo
  packages/network/openssh/package.mk
Labels: LE 10.0
