Repository LibreELEC/LibreELEC.tv, pull requests merged in 2021-09, with the labels that each got.

#5594 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.raw/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5595 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.raw/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5593 Update media-driver and gmmlib
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5592 iwd: update to 1.17
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5597 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5598 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5581 vfs.sftp: update PKG_REV to build with libssh-0.9.6
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/network/libssh/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5582 [le10] vfs.sftp: update PKG_REV to build with libssh-0.9.6
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/network/libssh/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5600 Generic: disable dvb add-ons
  projects/Generic/options
Labels: CLEANUP, LE 11.0

#5599 [le10] build with -fPIC: aom and opus
  packages/addons/addon-depends/opus/package.mk
  packages/multimedia/aom/package.mk
Labels: BUGFIX, ADDONS, LE 10.0

#5604 media-driver: update to 21.3.3
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#5606 Allwinner: linux: Fix audio on 5.14 for H3 and H5
  projects/Allwinner/patches/linux/0034-HACK-h3-h5-Add-HDMI-sound-card.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 11.0

#5609 samba: update to 4.13.11
  packages/network/samba/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5605 chrome: update to 93.0.4577.63
  packages/addons/addon-depends/chrome-depends/harfbuzz-icu/package.mk
  packages/addons/addon-depends/chrome-depends/itstool/package.mk
  packages/addons/addon-depends/chrome-depends/libXft/package.mk
  packages/addons/addon-depends/chrome-depends/pango/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/addon-depends/jasper/package.mk
  packages/addons/addon-depends/jasper/patches/jasper-1.900.1-security_fixes-2.patch
  packages/addons/browser/chrome/changelog.txt
  packages/addons/browser/chrome/package.mk
  packages/graphics/harfbuzz/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, GENERIC, LE 11.0

#5607 sundtek-mediatv: updates for Python 3
  packages/addons/driver/sundtek-mediatv/changelog.txt
  packages/addons/driver/sundtek-mediatv/package.mk
  packages/addons/driver/sundtek-mediatv/source/bin/sundtek-update-driver.sh
  packages/addons/driver/sundtek-mediatv/source/resources/actions.py
  packages/addons/driver/sundtek-mediatv/source/resources/language/English/strings.xml
  packages/addons/driver/sundtek-mediatv/source/resources/language/German/strings.xml
  packages/addons/driver/sundtek-mediatv/source/resources/language/resource.language.de_de/strings.po
  packages/addons/driver/sundtek-mediatv/source/resources/language/resource.language.en_gb/strings.po
  packages/addons/driver/sundtek-mediatv/source/resources/lib/functions.py
Labels: ADDONS, UPDATE, LE 11.0

#5611 [le10] sundtek-mediatv: updates for Python 3
  packages/addons/driver/sundtek-mediatv/changelog.txt
  packages/addons/driver/sundtek-mediatv/package.mk
  packages/addons/driver/sundtek-mediatv/source/bin/sundtek-update-driver.sh
  packages/addons/driver/sundtek-mediatv/source/resources/actions.py
  packages/addons/driver/sundtek-mediatv/source/resources/language/English/strings.xml
  packages/addons/driver/sundtek-mediatv/source/resources/language/German/strings.xml
  packages/addons/driver/sundtek-mediatv/source/resources/language/resource.language.de_de/strings.po
  packages/addons/driver/sundtek-mediatv/source/resources/language/resource.language.en_gb/strings.po
  packages/addons/driver/sundtek-mediatv/source/resources/lib/functions.py
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 10.0

#5615 Allwinner: linux: fix Cedrus patch
  projects/Allwinner/patches/linux/0023-media-cedrus-add-check-for-H264-and-HEVC-limitations.patch
Labels: BUGFIX, MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 11.0

#5617 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.pictureit/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5618 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.pictureit/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5602 NVIDIA updates for kernel 5.14
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-0007-fix-5.14.patch
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-fix-linux-5.14.patch
  packages/x11/driver/xf86-video-nvidia/scripts/compare_nvidia.py
  packages/x11/driver/xf86-video-nvidia/scripts/make_nvidia_udev.py
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: PACKAGE, GENERIC, LE 11.0

#5622 Allwinner: linux: Remove vmalloc workaround
  projects/Allwinner/devices/H3/options
  projects/Allwinner/devices/R40/options
  projects/Allwinner/patches/linux/0018-media-cedrus-Don-t-kernel-map-most-buffers.patch
  projects/Allwinner/patches/linux/0019-media-cedrus-hevc-tiles-hack.patch
  projects/Allwinner/patches/linux/0020-media-cedrus-Add-callback-for-buffer-cleanup.patch
  projects/Allwinner/patches/linux/0021-media-cedrus-hevc-Improve-buffer-management.patch
  projects/Allwinner/patches/linux/0022-media-cedrus-h264-Improve-buffer-management.patch
  projects/Allwinner/patches/linux/0055-WIp-10-bit-HEVC-support.patch
Labels: KERNEL, ALLWINNER, LE 11.0

#5619 minisatip: update to 1.1.44 (107)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5620 [le10] minisatip: update to 1.1.44 (107)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5626 Allwinner: linux: Fix HDMI driver
  projects/Allwinner/devices/H3/patches/linux/0001-HACK-SW-CEC-implementation-for-H3.patch
  projects/Allwinner/patches/linux/0056-drm-sun4i-dw-hdmi-Fix-HDMI-PHY-clock-setup.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 11.0

#5624 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5625 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#5629 [LE10] Allwinner: linux: Fix HDMI driver
  projects/Allwinner/devices/H3/patches/linux/0001-HACK-SW-CEC-implementation-for-H3.patch
  projects/Allwinner/patches/linux/0056-drm-sun4i-dw-hdmi-Fix-HDMI-PHY-clock-setup.patch
Labels: BUGFIX, BACKPORT DONE, KERNEL, ALLWINNER, LE 10.0

#5642 LibreELEC-settings: update to 8b1efa30
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, BACKPORT DONE, LE 11.0

#5643 LibreELEC-settings: update to 8b1efa30
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, LE 10.0

#5640 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#5641 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5631 Addon fixes from devtools update
  packages/addons/addon-depends/network-tools-depends/depends/libstatgrab/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minidlna/changelog.txt
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minidlna/patches/minidlna-02-fix-autoconf-271.patch
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, PATCH, LE 11.0

#5636 inputstream.adaptive: bump package to 19.0.0
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5652 gmmlib: update to 21.3.1
  packages/multimedia/gmmlib/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#5650 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5651 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5638 kodi-config: LIBC_WIDEVINE_PATCHLEVEL is obsolete since script.module…
  packages/mediacenter/kodi/scripts/kodi-config
Labels: BACKPORT DONE, CLEANUP, LE 11.0

#5623 tvheadend43: update to 4.3-1979
  packages/addons/service/tvheadend43/changelog.txt
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5654 mali-midgard: update to 055a545
  packages/linux-drivers/mali-midgard/package.mk
Labels: UPDATE, KERNEL, SAMSUNG, LE 11.0

#5657 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5658 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5545 scripts/get_archive: allow changing sha256 on the fly
  scripts/get_archive
Labels: BUILDSYSTEM, LE 11.0

#5601 Generic: switch to GBM and create X11 and Generic device
  distributions/LibreELEC/options
  packages/mediacenter/kodi/config/appliance-gbm-generic.xml
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0001-dont-require-util-macros.patch
  projects/Generic/devices/Generic-legacy/filesystem/etc/X11/xorg-i915.conf
  projects/Generic/devices/Generic-legacy/filesystem/usr/bin/intel-fullrange.sh
  projects/Generic/devices/Generic-legacy/filesystem/usr/lib/systemd/system/intel-fullrange-resume.service
  projects/Generic/devices/Generic-legacy/filesystem/usr/lib/systemd/system/intel-fullrange.service
  projects/Generic/devices/Generic-legacy/options
  projects/Generic/devices/Generic/options
  projects/Generic/filesystem/usr/share/bootloader/canupdate.sh
  projects/Generic/options
Labels: FEATURE, GENERIC, LE 11.0

#5633 update-scan: initial commit
  tools/update-scan
Labels: IMPROVEMENT, TOOLCHAIN, LE 11.0

#5659 Minor package clean-ups
  config/functions
  packages/addons/addon-depends/rpi-tools-depends/lan951x-led-ctl/package.mk
Labels: PACKAGE, CLEANUP, LE 11.0

#5660 Update debug tools
  packages/debug/gdb/package.mk
  packages/debug/memtester/package.mk
  packages/debug/strace/package.mk
  packages/debug/valgrind/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5666 config/options: default to Generic device when building Generic project
  config/options
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#5679 [le11] linux (RPi): update to 5.10.63-a5d2df0
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: UPDATE, KERNEL, LE 11.0

#5680 [le10] linux (RPi): update to 5.10.63-a5d2df0
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: UPDATE, KERNEL, LE 10.0

#5681 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: BUGFIX, UPDATE, LE 10.0

#5672 mesa: update to 21.2.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5667 Python3: update to 3.8.12
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5664 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.stsound/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.vgmstream/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5665 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.stsound/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.vgmstream/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asterwave/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.biogenesis/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pingpong/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5661 Update kernel support network packages
  packages/network/ethtool/package.mk
  packages/network/iwd/package.mk
  packages/network/wireguard-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5621 u-boot: Update to 2021.07
  packages/tools/u-boot-tools/package.mk
  packages/tools/u-boot/package.mk
  packages/tools/u-boot/patches/default/0001-pxe-add-support-for-FDT-overlays.patch
  packages/tools/u-boot/patches/default/0002-sunxi-Add-fdtoverlay_addr_r-env-variable.patch
  projects/Allwinner/devices/H3/patches/u-boot/0001-sunxi-A-wild-PSCI-implementation-appears.patch
  projects/Allwinner/devices/H3/patches/u-boot/0001-sunxi-Factor-out-eGON-BROM-header-description.patch
  projects/Allwinner/devices/H3/patches/u-boot/0002-Makefile-Add-support-for-building-a-sunxi-resume-shi.patch
  projects/Allwinner/devices/H3/patches/u-boot/0002-tools-mkimage-Add-Allwinner-eGON-support.patch
  projects/Allwinner/devices/H3/patches/u-boot/0003-sunxi-Use-mkimage-for-SPL-boot-image-generation.patch
  projects/Allwinner/devices/H3/patches/u-boot/0003-sunxi-binman-Explicitly-pad-SPL-to-expected-size.patch
  projects/Allwinner/devices/H3/patches/u-boot/0004-sunxi-Put-secure-monitor-in-SRAM-A2.patch
  projects/Allwinner/devices/H3/patches/u-boot/0004-sunxi-binman-Support-FIT-images-for-32-bit-boards.patch
  projects/Allwinner/devices/H3/patches/u-boot/0005-sunxi-binman-Add-a-resume-shim.patch
  projects/Allwinner/devices/H3/patches/u-boot/0007-sunxi-binman-Respect-the-default-FIT-configuration.patch
  projects/Allwinner/devices/H3/patches/u-boot/0008-sunxi-binman-Do-not-hardcode-U-Boot-load-address.patch
  projects/Allwinner/devices/H6/patches/u-boot/0001-sunxi-dram-h6-Improve-DDR3-config-detection.patch
  projects/Allwinner/devices/H6/patches/u-boot/0002-ARM-dts-sunxi-h6-Update-DT-files.patch
  projects/Allwinner/devices/H6/patches/u-boot/0003-sunxi-Add-support-for-Tanix-TX6.patch
  projects/Allwinner/devices/H6/patches/u-boot/0004-sunxi-board-extract-creating-a-unique-sid-into-a-hel.patch
  projects/Allwinner/devices/H6/patches/u-boot/0005-arm-sunxi-add-a-config-option-to-fixup-a-Bluetooth-a.patch
  projects/Allwinner/devices/H6/patches/u-boot/0007-arm64-dts-sun50i-Add-support-for-Orange-Pi-3.patch
  projects/Allwinner/devices/H6/patches/u-boot/0010-unreliable-dram.patch
  projects/Allwinner/patches/u-boot/0001-OrangePi-PC2-Update-defaults.patch
  projects/Allwinner/patches/u-boot/0002-sunxi-A23-A33-H3-Move-sun8i-secure-monitor-to-SRAM-A.patch
  projects/Allwinner/patches/u-boot/0002-sunxi-Properly-check-for-SATAPWR-and-MACPWR.patch
  projects/Allwinner/patches/u-boot/0003-sunxi-call-fdt_fixup_ethernet-again-to-set-macaddr-f.patch
  projects/Allwinner/patches/u-boot/0004-arm64-dts-allwinner-h6-tanix-tx6-enable-emmc.patch
  projects/NXP/devices/iMX8/patches/u-boot/0001-v2-tools-imx8mimage-Restore-the-original-__ALIGN_MASK-macro.patch
  projects/NXP/devices/iMX8/patches/u-boot/0002-ARM-dts-imx8mq-evk-Remove-u-boot-off-on-delay-us-property.patch
  projects/NXP/devices/iMX8/patches/u-boot/0003-imx8mq_evk-add-distro-boot-cmd-support.patch
Labels: UPDATE, PACKAGE, LE 11.0

#5682 gdb: Add gmp dependency
  packages/debug/gdb/package.mk
Labels: BUGFIX, TOOLCHAIN, LE 11.0

#5684 Allwinner: linux: workaround for deinterlace driver loading
  projects/Allwinner/patches/linux/0057-HACK-Disable-MBUS-due-to-fw_devlink-on.patch
Labels: BUGFIX, MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 11.0

#5685 Allwinner: linux: Fix OrangePi 3 DT
  projects/Allwinner/patches/linux/0058-WIP-OPi3-DT-fixes.patch
Labels: BUGFIX, HARDWARE, BACKPORT REQD, MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 11.0

#5686 [backport] Allwinner: linux: Fix OrangePi 3 DT
  projects/Allwinner/devices/H6/patches/linux/0013-WIP-OPi3-DT-fixes.patch
Labels: BUGFIX, HARDWARE, MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 10.0

#5546 Kodi bump to 20.0 branch
  distributions/LibreELEC/version
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
  packages/mediacenter/kodi/patches/kodi-100.05-make-binary-addons-executable.patch
  packages/mediacenter/kodi/patches/kodi-100.06-dont-set-_NET_WM_STATE_FULLSCREEN.patch
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-100.16-remove-sysinfo-battery.patch
  packages/mediacenter/kodi/patches/kodi-100.30-addons-refresh-etc-environment.patch
  packages/mediacenter/kodi/patches/kodi-100.31.le-addons-no-startupenable.patch
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/libreelec/ffmpeg-001-libreelec.patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  packages/multimedia/ffmpeg/patches/v4l2-drmprime/ffmpeg-001-v4l2-drmprime.patch
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  projects/Allwinner/patches/kodi/0002-WIP-DRMPRIME-deinterlace-filter.patch
  projects/Rockchip/patches/kodi/0002-WIP-DRMPRIME-deinterlace-filter.patch
  tools/ffmpeg/gen-patches.sh
Labels: UPDATE, LE 11.0

#5689 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.snesapu/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5690 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.snesapu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5583 [le10] fluidsynth: update to 2.2.3 and use with audiodecoder.fluidsynth 19.0.1-Matrix
  packages/audio/fluidsynth/package.mk
  packages/audio/fluidsynth/patches/libsndfile-use-static-libraries.patch
  packages/audio/libsndfile/package.mk
  packages/audio/libsndfile/patches/libsndfile-add-required-static-libaries-to-pkg-config.patch
  packages/audio/soxr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5587 [le11] fluidsynth: update to 2.2.3 and use with audiodecoder.fluidsynth 19.0.1-Matrix
  packages/audio/fluidsynth/package.mk
  packages/audio/fluidsynth/patches/libsndfile-use-static-libraries.patch
  packages/audio/libsndfile/package.mk
  packages/audio/libsndfile/patches/libsndfile-add-required-static-libaries-to-pkg-config.patch
  packages/audio/soxr/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5693 shairport-sync: update the build to use pkg-config
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/patches/fix-libsnfile-dependencies.patch
  packages/audio/libsndfile/patches/libsndfile-add-required-static-libaries-to-pkg-config.patch
Labels: BUGFIX, ADDONS, BACKPORT DONE, LE 11.0

#5694 [le10] shairport-sync: update the build to use pkg-config
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/patches/fix-libsnfile-dependencies.patch
  packages/audio/libsndfile/patches/libsndfile-add-required-static-libaries-to-pkg-config.patch
Labels: BUGFIX, ADDONS, LE 10.0

#5696 add "repository.libreelec.tv" to official repos
  packages/mediacenter/kodi/patches/kodi-100.32.add-le-repository-to-officials.patch
Labels: ADDONS, BACKPORT DONE, LE 11.0

#5698 fixup! add "repository.libreelec.tv" to official repos
  packages/mediacenter/kodi/patches/kodi-100.32.add-le-repository-to-officials.patch
Labels: ADDONS, LE 11.0
