Repository LibreELEC/LibreELEC.tv, pull requests merged in 2021-08, with the labels that each got.

#5523 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#5525 imagedecoder.raw: link against static lcms2
  packages/graphics/lcms2/package.mk
  packages/graphics/libraw/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.raw/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#5446 Update rust resolving TARGET=HOST build issues
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, BUGFIX, GENERIC, LE 10.0, PACKAGE, UPDATE

#5528 wireguard-tools: bump to v1.0.20210424
  packages/network/wireguard-tools/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#5533 RPi: update to firmware a51c600
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: UPDATE, LE 10.0

#5534 LibreELEC-settings: update to e3b6d2b
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, LE 10.0

#5532 genbuildplan: fix typo in circular dep. detection
  scripts/genbuildplan.py
Labels: BUGFIX, BUILDSYSTEM, LE 10.0

#5518 go: update to 1.16.6
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/go/patches/go-0001-add-ca-cert-location.patch
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/service/docker/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 10.0

#5537 systemd/busybox: allow configuration of persistent logs and journal
  packages/mediacenter/kodi/scripts/pastekodi
  packages/sysutils/busybox/system.d/storage-log.service
  packages/sysutils/busybox/system.d/var-log.mount
  packages/sysutils/systemd/package.mk
Labels: IMPROVEMENT, FEATURE, LE 10.0

#5540 LibreELEC-settings: update to b0140bb
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, LE 10.0

#5543 distro: bump ADDON_VERSION to 10.80.0, OS Version 11.0
  distributions/LibreELEC/version
Labels: UPDATE, BUILDSYSTEM, LE 11.0

#5364 sqlite: update to 3.35.5
  packages/databases/sqlite/package.mk
Labels: UPDATE, LE 11.0

#5378 dav1d: update to 0.9.1
  packages/multimedia/dav1d/package.mk
Labels: UPDATE, LE 11.0

#5412 util-linux: update to 2.37, upstreamed patches and HSTS
  packages/sysutils/util-linux/package.mk
  packages/sysutils/util-linux/patches/util-linux-0100-enable-lscpu.patch
  packages/sysutils/util-linux/patches/util-linux-blkid_swapon_mkfs_uuidgen.patch
Labels: UPDATE, PACKAGE, LE 11.0

#5479 connman: update to 1.40
  packages/network/connman/package.mk
  packages/network/connman/patches/connman-01-do-not-cleanup-routes.patch
  packages/network/connman/patches/connman-04-ipv6-disabled-by-default.patch
  packages/network/connman/patches/connman-05_link-against-ncurses.patch
Labels: UPDATE, PACKAGE, LE 11.0

#5267 e2fsprogs: update to 1.45.7
  packages/sysutils/e2fsprogs/package.mk
  packages/virtual/image/package.mk
Labels: UPDATE, LE 11.0

#5256 zstd: update to 1.4.9 / add upstreamed build fix patch
  packages/compress/zstd/package.mk
  packages/compress/zstd/patches/zstd-999.01-build-fix.patch
Labels: UPDATE, LE 11.0

#5112 glib: update to 2.68.1
  packages/devel/glib/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5111 nghttp2: update to 1.43.0
  packages/web/nghttp2/package.mk
Labels: UPDATE, REBUILD, LE 11.0

#5105 dosfstools: update to 4.2
  packages/sysutils/dosfstools/package.mk
Labels: UPDATE, LE 11.0

#5121 pycryptodome: update to 3.10.1
  packages/python/security/pycryptodome/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5098 Busybox minors
  packages/sysutils/busybox/config/busybox-host.conf
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/config/busybox-target.conf
Labels: LE 11.0

#5022 nss: update to 3.64 and nspr to 4.30
  packages/security/nspr/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5020 libcap: update to 2.49
  packages/devel/libcap/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#4888 heimdal: add patches for automake 1.16+
  packages/devel/heimdal/patches/c4cff6859d183a40fb35a76e2bc1ce084b3a6d67.patch
  packages/devel/heimdal/patches/cc6a3f337bac0411d0bb1c924fd857603a258d2f.patch
Labels: UPDATE, PATCH, LE 11.0

#5428 intel-ucode: update to 20210608
  packages/linux-firmware/intel-ucode/package.mk
Labels: PACKAGE, KERNEL, GENERIC, LE 11.0

#5406 Buildsystem minor cleanups
  config/functions
  config/show_config
  tools/viewconfig
Labels: BUILDSYSTEM, CLEANUP, LE 11.0

#5354 Python3: update to 3.8.11 and HSTS
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5327 openssh: update to 8.6p1
  packages/network/openssh/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5305 gcc: update to 10.3.0 / updated license short identifier
  packages/lang/gcc/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#5302 xf86-input-libinput: update to 1.0.1
  packages/x11/driver/xf86-input-libinput/package.mk
Labels: UPDATE, PACKAGE

#5279 systemd: update to 247.7
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5208 libsndfile: update to 1.0.31
  packages/audio/libsndfile/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5204 systemd: use default hwdb service
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/system.d/hwdb.service
Labels: IMPROVEMENT, CLEANUP, LE 11.0

#5158 llvm: updated to v12.0.0
  packages/lang/llvm/package.mk
Labels: UPDATE, BUILDSYSTEM, PACKAGE, LE 11.0

#5086 setuptools: update to 52.0.0
  packages/python/devel/setuptools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5276 Update build system for new meson and fix up glib package
  config/functions
  packages/devel/glib/package.mk
  packages/python/devel/meson/package.mk
Labels: BUGFIX, UPDATE, BUILDSYSTEM, PACKAGE, LE 11.0

#5314 get_git: check only folder, not files
  scripts/get_git
Labels: BUGFIX, TOOLCHAIN, LE 11.0

#5361 glibc: include C.UTF-8 locale in image
  packages/devel/glibc/package.mk
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/profile.d/10-locale.conf
  packages/sysutils/busybox/system.d/locale.service
Labels: IMPROVEMENT, LE 11.0

#5266 init: stop checking for OPENELEC_ARCH
  packages/sysutils/busybox/scripts/init
Labels: CLEANUP, LE 11.0

#5272 toolchain: enable correct handling of cmake-make in check_toolchain_config
  config/functions
Labels: BUGFIX, TOOLCHAIN, LE 11.0

#5159 binutils: fix parallel build with libctf requiring bfd
  packages/devel/binutils/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#5530 kodi: honour KODI_SAMBA_SUPPORT variable
  packages/mediacenter/kodi/package.mk
Labels: BUILDSYSTEM, PACKAGE, LE 11.0

#5434 scripts/extract: cleanup and add support for zstd tarballs
  config/functions
  packages/compress/zstd/package.mk
  scripts/checkdeps
  scripts/extract
  tools/docker/bionic/Dockerfile
  tools/docker/buster/Dockerfile
  tools/docker/focal/Dockerfile
  tools/docker/groovy/Dockerfile
  tools/docker/hirsute/Dockerfile
  tools/docker/sid/Dockerfile
  tools/docker/stretch/Dockerfile
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#5358 mesa: update to 21.2.0
  packages/graphics/mesa/package.mk
  packages/graphics/mesa/patches/fix_for_ticket4605.patch
  packages/graphics/mesa/patches/mesa-999.01-lima-always-set-stride-in-texture-descriptor.patch
Labels: UPDATE, PACKAGE, LE 11.0

#5120 curl: update to 7.78.0 and HSTS
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5551 Jellyfin: add new addon package (LE11)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet5-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/dotnet3-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/dotnet5-runtime/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/icon/icon.png
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/bin/jellyfin-downloader
  packages/addons/service/jellyfin/source/bin/jellyfin-start
  packages/addons/service/jellyfin/source/default.py
  packages/addons/service/jellyfin/source/resources/language/English/strings.po
  packages/addons/service/jellyfin/source/resources/settings.xml
  packages/addons/service/jellyfin/source/settings-default.xml
  packages/addons/service/jellyfin/source/system.d/service.jellyfin.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: IMPROVEMENT, ADDONS, PACKAGE, LE 11.0

#5552 media-driver: update to 21.3.1 and dependancies
  packages/debug/libva-utils/package.mk
  packages/graphics/libdrm/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/libva/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#5553 systemd: update to 247.9
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5555 build with -fPIC: aom and opus
  packages/addons/addon-depends/opus/package.mk
  packages/multimedia/aom/package.mk
Labels: BUGFIX, LE 11.0

#5498 linux: remove make headers_check
  packages/linux/package.mk
Labels: KERNEL, CLEANUP, LE 11.0

#5529 gcc: add libsanitiser patch for 5.12+ kernels
  packages/lang/gcc/patches/gcc-libsanitiser.patch
Labels: TOOLCHAIN, PATCH, LE 10.0

#5559 mesa: update to 21.2.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#5544 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5560 kodi-binary-addons: update to latest versions (LE11)
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5562 system-tools: REV 125 / Update mc to 4.8.27
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/patches/mc-001-ticket_4200_ncurses_disable_widec.patch
  packages/addons/addon-depends/system-tools-depends/mc/patches/mc-revert-wchar.patch
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: BUGFIX, ADDONS, UPDATE, LE 11.0

#5564 kodi-binary-addons: update to latest versions (LE11)
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5565 kodi-binary-addons: update to latest versions (LE10)
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5576 kodi-binary-addons: update to latest versions (LE11)
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.nosefart/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5499 [Allwinner,Generic,Rockchip] linux: Update to 5.10.61
  packages/linux/package.mk
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0026-media-cedrus-hevc-Add-support-for-multiple-slices.patch
  projects/Allwinner/patches/linux/0058-media-cedrus-wip-hevc-dependent-flag.patch
  projects/Allwinner/patches/linux/0061-ARM-dts-sun8i-h3-orangepi-plus-Fix-ethernet-phy-mode.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0001-drm-bridge-mhdp-Add-cdns-mhdp-driver-bridge-driver.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0004-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1003-for-libreelec.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l-wip-rkvdec-vp9.patch
  projects/Rockchip/patches/linux/default/linux-2001-v4l-wip-rkvdec-hevc.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, KERNEL, ALLWINNER, ROCKCHIP, GENERIC

#5566 parted: update that if INITRAMFS_PARTED_SUPPORT is set to "yes" then files are placed in /usr/sbin
  packages/sysutils/parted/package.mk
Labels: BUGFIX, BACKPORT REQD, LE 11.0

#5578 parted: update parted:init to use /usr/sbin
  packages/sysutils/parted/package.mk
Labels: BUGFIX, LE 10.0

#5579 wireless-regdb: update to 2021.08.28
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5580 [le10] wireless-regdb: update to 2021.08.28
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#5488 Jellyfin: add new addon package
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet5-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/dotnet3-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/dotnet5-runtime/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/icon/icon.png
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/bin/jellyfin-downloader
  packages/addons/service/jellyfin/source/bin/jellyfin-start
  packages/addons/service/jellyfin/source/default.py
  packages/addons/service/jellyfin/source/resources/language/English/strings.po
  packages/addons/service/jellyfin/source/resources/settings.xml
  packages/addons/service/jellyfin/source/settings-default.xml
  packages/addons/service/jellyfin/source/system.d/service.jellyfin.service
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: IMPROVEMENT, ADDONS, PACKAGE, LE 10.0

#5584 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.organya/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5585 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.organya/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5586 jellyfin: update License and Description
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, DOCUMENTATION, LE 10.0

#5589 xf86-video-amdgpu: update to 21.0.0
  packages/x11/driver/xf86-video-amdgpu/package.mk
  packages/x11/driver/xf86-video-amdgpu/patches/xf86-video-amdgpu-fix-gcc-10.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0
