Repository LibreELEC/LibreELEC.tv, pull requests merged in 2021-01, with the labels that each got.

#4821 libevent: fix PKG_URL
  packages/network/libevent/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4819 LibreELEC-settings: update to e755969
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: LE 10.0, UPDATE

#4822 LibreELEC-settings: only python_compile /resources/lib/*
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4823 ethtool: add missing libmnl dependency
  packages/network/ethtool/package.mk
Labels: BUGFIX, LE 10.0

#4829 avahi: disable-libevent configure option - unnecessary for LibreELEC
  packages/network/avahi/package.mk
  packages/network/libevent/package.mk
Labels: BUGFIX, LE 10.0

#4828 Intel Media Driver 2020Q4 Release - 20.4.5
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/intel-vaapi-driver/patches/0001-intel-vaapi-driver-2.4.1-Handle-odd-resolution.patch
  packages/multimedia/media-driver/package.mk
Labels: LE 10.0, UPDATE

#4827 mesa: update to 20.3.2
  packages/graphics/mesa/package.mk
Labels: LE 10.0, UPDATE

#4832 Allwinner: atf: Don't enable all regulators
  projects/Allwinner/patches/atf/0001-sunxi-Don-t-enable-referenced-regulators.patch
Labels: ALLWINNER, BUGFIX, LE 10.0

#4834 libssh: fix vfs.sftp and cleanup
  packages/network/libssh/package.mk
Labels: ADDONS, BUGFIX, LE 10.0

#4833 minidlna: fix build for gettext 0.20 or newer
  packages/addons/service/minidlna/patches/minidlna-03-allow-gettext-0.20.patch
Labels: ADDONS, BUGFIX, LE 10.0

#4835 Allwinner: Crust fix and additional board configurations
  projects/Allwinner/devices/H6/patches/linux/22-opi3-crust-eth-workaround.patch
  scripts/uboot_helper
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#4811 MiQi: Add missing GPU&CPU nodes in dts
  projects/Rockchip/patches/linux/default/linux-0002-MiQi-Add-missing-GPU-CPU-nodes-in-dts.patch
Labels: BUGFIX, LE 10.0, ROCKCHIP

#4831 u-boot: restore bootloader/firmware script
  packages/linux/package.mk
  packages/tools/crust/package.mk
  packages/tools/u-boot/package.mk
  projects/Allwinner/bootloader/firmware
  projects/Allwinner/devices/A64/options
  projects/Allwinner/devices/H3/options
  projects/Allwinner/devices/H5/options
  projects/Allwinner/devices/H6/options
  scripts/uboot_helper
Labels: ALLWINNER, LE 10.0

#4830 ecm-tools: update to 1.0.3 from githash
  packages/addons/addon-depends/game-tools/ecm-tools/package.mk
Labels: LE 10.0, UPDATE

#4775 nss and nspr package updates
  packages/security/nspr/package.mk
  packages/security/nss/package.mk
  packages/security/nss/patches/nss-02_3.15.5-standalone-1.patch
  packages/security/nss/patches/nss-04-skip_shlibsign.patch
  packages/security/nss/patches/nss-06-always-include-fstar.patch
  packages/security/nss/patches/nss-08-tests-broken-since-3.47.patch
Labels: LE 10.0, UPDATE

#4667 Package Updates
  packages/addons/addon-depends/multimedia-tools-depends/mesa-demos/package.mk
  packages/multimedia/libaacs/package.mk
  packages/tools/grub/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0002-revert-commits-depending-on-unreleased-packages.patch
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0003-drop-unsupported-keycode.patch
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0004-fix-python3-support.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4844 dav1d: updated to 0.8.1
  packages/multimedia/dav1d/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4845 tz: update to 2020f
  packages/sysutils/tz/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4847 configtools: update to 2020-12-22
  packages/devel/configtools/package.mk
Labels: LE 10.0, UPDATE

#4848 ccache: update to 3.7.12
  packages/devel/ccache/package.mk
Labels: LE 10.0, UPDATE

#4849 swig: update to 4.0.2
  packages/devel/swig/package.mk
Labels: LE 10.0, UPDATE

#4850 kmod: update to 27
  packages/sysutils/kmod/package.mk
Labels: LE 10.0, UPDATE

#4851 open-vm-tools: update to 11.2.0
  packages/sysutils/open-vm-tools/package.mk
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0001-fix-issue-429.patch
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0002-fix-issue-429.patch
  packages/sysutils/open-vm-tools/patches/open-vm-tools-0003-fix-issue-429.patch
Labels: LE 10.0, UPDATE

#4852 readline: update to 8.1
  packages/devel/readline/package.mk
Labels: LE 10.0, UPDATE

#4837 inadyn: addon update to 2.7 and gettext fix
  licenses/ISC.txt
  packages/addons/addon-depends/inadyn/libconfuse/package.mk
  packages/addons/addon-depends/inadyn/libconfuse/patches/gettext-0.20-libconfuse.patch
  packages/addons/service/inadyn/changelog.txt
  packages/addons/service/inadyn/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4753 rsync: fix missing dependency openssl
  packages/network/rsync/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4871 linux (RPi): update to 5.10.4
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-011-enable-dma-wide-source.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.arm.conf
Labels: KERNEL, LE 10.0, UPDATE

#4872 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: LE 10.0, UPDATE

#4853 linux: add patch to fix IR timeout handling
  packages/linux/patches/default/linux-001-fix-ir-timeout.patch
  packages/linux/patches/raspberrypi/linux-001-fix-ir-timeout.patch
Labels: BUGFIX, KERNEL, LE 10.0

#4854 tigervnc: addon update to 1.10.1 (105)
  packages/addons/service/tigervnc/changelog.txt
  packages/addons/service/tigervnc/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4856 rust and rustup.rs: update packages
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4858 arithmetic Libraries: update to current
  packages/devel/gmp/package.mk
  packages/devel/mpc/package.mk
  packages/devel/mpfr/package.mk
Labels: LE 10.0, UPDATE

#4859 pcre: update to 8.44
  packages/devel/pcre/package.mk
Labels: LE 10.0, UPDATE

#4860 libfmt: update to 7.1.3
  packages/devel/libfmt/package.mk
Labels: LE 10.0, UPDATE

#4861 faad2: update to 2.10.0 and PKG_SITE and PKG_URL
  packages/addons/addon-depends/faad2/package.mk
Labels: LE 10.0, UPDATE

#4862 Package updates to Chrome Dependencies - 2
  packages/addons/addon-depends/chrome-depends/cups/package.mk
  packages/addons/addon-depends/chrome-depends/gdk-pixbuf/package.mk
  packages/addons/addon-depends/chrome-depends/gdk-pixbuf/patches/gdk-pixbuf-01-meson-crosscompile-fix.patch
  packages/addons/addon-depends/chrome-depends/libXScrnSaver/package.mk
  packages/addons/addon-depends/chrome-depends/libxss/package.mk
  packages/addons/addon-depends/chrome-depends/pango/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4805 Package updates to Chrome Dependencies
  packages/addons/addon-depends/chrome-depends/at-spi2-atk/package.mk
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4864 syncthing: update to 1.12.0
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4865 setuptools: update to 51.1.1
  packages/python/devel/setuptools/package.mk
Labels: LE 10.0, UPDATE

#4866 ttyd: update to 1.6.3
  packages/addons/service/ttyd/changelog.txt
  packages/addons/service/ttyd/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4867 Update tools - mtools and hdparm
  packages/tools/hdparm/package.mk
  packages/tools/mtools/package.mk
Labels: LE 10.0, UPDATE

#4869 proftpd: update to 1.3.7a
  packages/addons/service/proftpd/changelog.txt
  packages/addons/service/proftpd/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4778 update packages/multimedia and their dependancies
  packages/addons/addon-depends/chrome-depends/harfbuzz-icu/package.mk
  packages/addons/addon-depends/chrome-depends/harfbuzz/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/browser/chrome/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/multimedia/SDL2/package.mk
  packages/multimedia/aom/package.mk
  packages/multimedia/libass/package.mk
  packages/multimedia/libhdhomerun/package.mk
  packages/multimedia/libudfread/package.mk
  packages/multimedia/rtmpdump/package.mk
Labels: LE 10.0, UPDATE

#4808 Update snapcast addons to 0.22.0 (103) and their dependencies
  packages/addons/addon-depends/snapcast-depends/aixlog/package.mk
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-01_makefiles.patch
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4826 dotnet-runtime: update to ASP.NET Core Runtime 3.1.10
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4875 nss: fix building libnss3 again
  packages/security/nss/package.mk
Labels: BUGFIX, LE 10.0

#4840 v4l-utils: extend xbox_one keymap to support PDP Talon remote buttons
  packages/sysutils/v4l-utils/keymaps/xbox_one.toml
Labels: IMPROVEMENT, LE 10.0

#4802 kodi-waitonnetwork: enabled by default with 10 sec timeout / use NTP for Online Status
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/mediacenter/kodi/config/network_wait
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/system.d/kodi-waitonnetwork.service
  packages/sysutils/wait-time-sync/sources/wait-time-sync.c
Labels: IMPROVEMENT, LE 10.0

#4876 pixman: package configuration is for configure, use it
  packages/x11/lib/pixman/package.mk
Labels: BUGFIX, LE 10.0

#4824 network-tools: update addon tools (106)
  packages/addons/addon-depends/network-tools-depends/bwm-ng/package.mk
  packages/addons/addon-depends/network-tools-depends/bwm-ng/patches/bwm-ng-001-static-inline.patch
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/package.mk
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/patches/libpcap-crosscompiling.patch
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/patches/remove-manpages.patch
  packages/addons/addon-depends/network-tools-depends/depends/libstatgrab/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/patches/iperf-0001_fix-build-with-gcc5.patch
  packages/addons/addon-depends/network-tools-depends/irssi/package.mk
  packages/addons/addon-depends/network-tools-depends/irssi/patches/001-irssi-1.2.2-glib-2-63.patch
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/addon-depends/network-tools-depends/rar2fs/package.mk
  packages/addons/addon-depends/network-tools-depends/rar2fs/patches/001-remove-man-pages-1.29.3.patch
  packages/addons/addon-depends/network-tools-depends/tcpdump/package.mk
  packages/addons/addon-depends/network-tools-depends/udpxy/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4807 Update rsyslog addon to 8.2012.0 (105) and it’s dependencies
  packages/addons/addon-depends/rsyslog-depends/libestr/package.mk
  packages/addons/addon-depends/rsyslog-depends/libfastjson/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblognorm/package.mk
  packages/addons/addon-depends/rsyslog-depends/librelp/package.mk
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4846 systemtools: addon update (117)
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/patches/libmtp-0001-dont-execute-compiled-tools.patch
  packages/addons/addon-depends/system-tools-depends/depends/libssh2/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/oniguruma/package.mk
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/addons/addon-depends/system-tools-depends/htop/package.mk
  packages/addons/addon-depends/system-tools-depends/htop/patches/htop-00-fix-gcc10-build.patch
  packages/addons/addon-depends/system-tools-depends/i2c-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/i2c-tools/patches/decode-dimms_Correctly-check-for-out-of-bounds-vendor-ID.patch
  packages/addons/addon-depends/system-tools-depends/i2c-tools/patches/i2cset_Fix-short-writes-with-mask.patch
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/smartmontools/package.mk
  packages/addons/addon-depends/system-tools-depends/strace/package.mk
  packages/addons/addon-depends/system-tools-depends/strace/patches/strace-0001-autoreconf.patch
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/build.patch
  packages/addons/addon-depends/system-tools-depends/usb-modeswitch/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4855 multimedia-tools: update addon (113)
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libzen/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4863 bash: drop package
  packages/addons/addon-depends/bash/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4868 game shared addon packages
  packages/addons/addon-depends/game-tools/bchunk/package.mk
  packages/addons/addon-depends/game-tools/linuxconsoletools/package.mk
  packages/addons/tools/game-tools/changelog.txt
  packages/addons/tools/game-tools/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4870 Update packages/graphics current
  packages/graphics/cairo/package.mk
  packages/graphics/kmscube/package.mk
  packages/graphics/libepoxy/package.mk
Labels: LE 10.0, UPDATE

#4880 whois: update to 5.5.7
  packages/addons/addon-depends/whois/package.mk
Labels: LE 10.0, UPDATE

#4889 linux (RPi): update to 5.10.5
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-011-enable-dma-wide-source.patch
  packages/tools/bcm2835-bootloader/package.mk
Labels: KERNEL, LE 10.0, UPDATE

#4891 sqlite: cleanup package.mk
  packages/databases/sqlite/package.mk
Labels: CLEANUP, LE 10.0

#4898 minisatip: update to 1.0.4
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
  packages/addons/service/minisatip/patches/minisatip-Fix-declaration-and-definition-of-global-variables.patch
Labels: ADDONS, LE 10.0, UPDATE

#4896 json-c and ir-bpf-decoders: version cleanup
  packages/addons/addon-depends/ttyd-depends/json-c/package.mk
  packages/sysutils/ir-bpf-decoders/package.mk
Labels: CLEANUP, LE 10.0

#4900 libmicrohttpd: update to 0.9.72
  packages/web/libmicrohttpd/package.mk
Labels: LE 10.0, UPDATE

#4904 linux (RPi): revert 5.10.5 kernel bump and HD audio patch
  packages/linux/package.mk
Labels: BUGFIX, KERNEL, LE 10.0

#4905 kodi-waitonnetwork.service: use wait-time-sync
  packages/mediacenter/kodi/system.d/kodi-waitonnetwork.service
Labels: BUGFIX, LE 10.0

#4883 textproc package updates
  packages/textproc/jsoncpp/package.mk
  packages/textproc/jsoncpp/patches/jsoncpp-0001-disable-examples.patch
  packages/textproc/libxml2/package.mk
  packages/textproc/nlohmann-json/package.mk
  packages/textproc/pugixml/package.mk
  packages/textproc/tinyxml2/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4897 libarchive: update to 3.5.1
  packages/compress/libarchive/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4886 Audio package updates
  packages/audio/libopenmpt/package.mk
  packages/audio/openal-soft/package.mk
  packages/audio/sbc/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4895 btrfs-progs: update to 4.15.1
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4894 iwd: update to 1.11
  packages/network/iwd/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4902 Update system-tools to (118)
  packages/addons/addon-depends/system-tools-depends/i2c-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/i2c-tools/patches/decode-dimms_Correctly-check-for-out-of-bounds-vendor-ID.patch
  packages/addons/addon-depends/system-tools-depends/i2c-tools/patches/i2cset_Fix-short-writes-with-mask.patch
  packages/addons/addon-depends/system-tools-depends/lm_sensors/package.mk
  packages/addons/addon-depends/system-tools-depends/lm_sensors/patches/lm_sensors-02-PR192.patch
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4881 libva-utils: update to 2.10.0
  packages/debug/libva-utils/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4887 libftdi1: update to 1.5
  packages/devel/libftdi1/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4882 Update sysutils packages
  packages/sysutils/gptfdisk/package.mk
  packages/sysutils/keyutils/package.mk
  packages/sysutils/keyutils/patches/keyutils-02-cflags.patch
  packages/sysutils/libevdev/package.mk
  packages/sysutils/libhid/package.mk
  packages/sysutils/libhid/patches/libhid-0.2.16-autoreconf.patch
  packages/sysutils/libhid/patches/libhid-disable_docs.patch
  packages/sysutils/libusb-compat/package.mk
  packages/sysutils/libusb/package.mk
  packages/sysutils/pciutils/package.mk
  packages/sysutils/terminus-font/package.mk
  packages/sysutils/usbutils/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4913 usbutils: Fix reconfifuration
  packages/sysutils/usbutils/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 10.0

#4914 Allwinner: Support Tanix TX6 suspend/resume
  packages/tools/crust/package.mk
  projects/Allwinner/patches/linux/0008-media-sunxi-cir-allow-timeout-to-be-set-at-runtime.patch
  projects/Allwinner/patches/linux/crust/0032-media-sunxi-cir-Skip-register-writes-during-remove.patch
  projects/Allwinner/patches/linux/crust/0033-media-sunxi-cir-Remove-unnecessary-spinlock.patch
  projects/Allwinner/patches/linux/crust/0034-media-sunxi-cir-Factor-out-hardware-initialization.patch
  projects/Allwinner/patches/linux/crust/0035-media-sunxi-cir-Implement-suspend-resume-shutdown-ca.patch
  scripts/uboot_helper
Labels: ALLWINNER, HARDWARE, IMPROVEMENT, LE 10.0

#4912 sbc: fix linker issue if not x86_64
  packages/audio/sbc/patches/sbc_primitives-Fix-build-on-non-x86.patch
Labels: BUGFIX, LE 10.0, PATCH

#4915 linux (RPi): update to 5.10.5-a896a00
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: KERNEL, LE 10.0, UPDATE

#4907 busybox: update to 1.32.1
  packages/sysutils/busybox/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4916 nvidia: update to latest 2021-01-07
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: BUGFIX, GENERIC, LE 10.0, PACKAGE, UPDATE

#4919 x265: fix download link
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
Labels: ADDONS, BUGFIX, LE 10.0, PACKAGE, UPDATE

#4885 Updates to remaining packages/addons/addon-depends
  packages/addons/addon-depends/ccid/package.mk
  packages/addons/addon-depends/dvb-tools-depends/blindscan-s2/package.mk
  packages/addons/addon-depends/dvb-tools-depends/dvb-apps/package.mk
  packages/addons/addon-depends/ffmpegx-depends/libvpx/package.mk
  packages/addons/addon-depends/lcdd-depends/libugpio/package.mk
  packages/addons/addon-depends/lcdd-depends/serdisplib/package.mk
  packages/addons/addon-depends/lcdd-depends/serdisplib/patches/serdisplib-disable_SDL_crosscompile.patch
  packages/addons/addon-depends/libconfig/package.mk
  packages/addons/addon-depends/libconfig/patches/libconfig-dont-make-doc.patch
  packages/addons/addon-depends/libiconv/package.mk
  packages/addons/addon-depends/libvncserver/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/protobuf/package.mk
  packages/addons/addon-depends/tinc-depends/miniupnpc/package.mk
  packages/addons/addon-depends/ttyd-depends/libwebsockets/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4908 linux (default): add patch to fix ite-cir issues
  packages/linux/patches/default/linux-002-fix-ite-cir-timeout.patch
Labels: BUGFIX, KERNEL, LE 10.0

#4893 Pillow: update to 8.1.0
  packages/python/graphics/Pillow/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4901 libgpg-error: update to 1.41
  packages/security/libgpg-error/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4923 nettle: update to 3.7
  packages/security/nettle/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4918 arm-mem: update to 2019-04-30
  packages/devel/arm-mem/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4922 fakeroot: update to 1.25.3
  packages/devel/fakeroot/package.mk
  packages/devel/fakeroot/patches/fakeroot-001-disable-docs-tests.patch
Labels: BUILDSYSTEM, LE 10.0, PACKAGE, UPDATE

#4909 liberation-fonts-ttf: update to 2.1.2
  packages/x11/font/liberation-fonts-ttf/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4920 system-tools: update to (119)
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/dstat/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/addon-depends/system-tools-depends/hddtemp/package.mk
  packages/addons/addon-depends/system-tools-depends/hddtemp/patches/hddtemp-nvme.patch
  packages/addons/addon-depends/system-tools-depends/nmon/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4925 kmod: update to 28
  packages/sysutils/kmod/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4928 enet: update to 1.3.17+vita
  packages/addons/addon-depends/enet/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4929 libdnet: update to 1.14
  packages/network/libdnet/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4924 glib: update to 2.67.2
  packages/devel/glib/package.mk
  packages/devel/glib/patches/glib-001-drop-build-tests.patch
Labels: LE 10.0, PACKAGE, UPDATE

#4797 docker: fix python addon (rev 132)
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/source/default.py
  packages/addons/service/docker/source/lib/dockermon.py
Labels: ADDONS, BACKPORT DONE, BUGFIX, LE 10.0

#4884 shared-mime-info: update to 1.15 and itstool:host dependency
  packages/addons/addon-depends/chrome-depends/itstool/package.mk
  packages/addons/addon-depends/chrome-depends/shared-mime-info/package.mk
Labels: ADDONS, LE 10.0, UPDATE

#4899 pycryptodome: update to 3.9.9
  packages/python/security/pycryptodome/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4931 Update RTL wifi drivers to kernel 5.11
  packages/linux-drivers/RTL8188EU/package.mk
  packages/linux-drivers/RTL8192EU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/RTL8812AU/patches/RTL8812AU-0001-fix_kernel_5_10.patch
Labels: BUGFIX, LE 11.0

#4836 evenlircd: fix SKY-Q remote
  packages/sysutils/eventlircd/udev.d/98-eventlircd.rules
Labels: BUGFIX, LE 10.0

#4940 qca-firmware: remove reference from Amlogic firmware
  projects/Amlogic/options
Labels: AMLOGIC, BUGFIX, BUILDSYSTEM, CLEANUP

#4941 ffmpeg-tools: update addon (113)
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4936 pngquant: update to 2.13.1
  packages/addons/addon-depends/pngquant/package.mk
Labels: BUILDSYSTEM, LE 10.0, PACKAGE, UPDATE

#4934 network-tools: addon update (107)
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/package.mk
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/patches/libpcap-crosscompiling.patch
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/patches/remove-manpages.patch
  packages/addons/addon-depends/network-tools-depends/ngrep/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4890 pvr.nextpvr: add dependency on tinyxml2
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: LE 10.0, PACKAGE

#4930 minidlna: update to 1.3.0
  packages/addons/service/minidlna/changelog.txt
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minidlna/patches/minidlna-02-Fix-building-with-gcc10.patch
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4932 libhdhomerun: update to release 20201023 (7c54382)
  packages/multimedia/libhdhomerun/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4933 syncthing: update to 1.21.1
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4935 tini: update to 0.19.0
  packages/addons/addon-depends/tini/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4937 rpi-tools: update addon (109)
  packages/addons/addon-depends/rpi-tools-depends/gpiozero/package.mk
  packages/addons/tools/rpi-tools/changelog.txt
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4942 U-Boot: update to 2021.01
  packages/tools/u-boot-tools/package.mk
  packages/tools/u-boot/package.mk
Labels: LE 10.0, UPDATE

#4943 RTL8812AU: Fix build for 32-bit ARM SoCs
  packages/linux-drivers/RTL8812AU/patches/Revert-issue-768-don-t-apply-ARM-options-to-ARM64.patch
  packages/linux-drivers/RTL8812AU/patches/aarch64/RTL8812AU-02-fix-multiple-definitions.patch
Labels: BUGFIX, LE 10.0, PATCH

#4944 vdr-addon updates
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-vnsiserver/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4946 glmark2: revert to commit before meson change
  packages/graphics/glmark2/package.mk
Labels: BUGFIX, LE 10.0, PACKAGE

#4951 glmark2: bump to latest meson commit
  packages/graphics/glmark2/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4954 net-snmp: update addon to 5.9 (107)
  packages/addons/service/net-snmp/changelog.txt
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/net-snmp/patches/net-snmp-0001-read_config.c.patch
  packages/addons/service/net-snmp/patches/net-snmp-0002-net-snmp-create-v3-user.in.patch
  packages/addons/service/net-snmp/patches/net-snmp-0003-config.sub.patch
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4953 network-tools: update addon to 108
  packages/addons/addon-depends/network-tools-depends/bwm-ng/package.mk
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/package.mk
  packages/addons/addon-depends/network-tools-depends/tcpdump/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4952 setuptools: update 51.1.2
  packages/python/devel/setuptools/package.mk
Labels: LE 10.0, PACKAGE, TOOLCHAIN, UPDATE

#4947 lcdd: fix addon build reference to serdisplib 2.02
  packages/addons/service/lcdd/package.mk
Labels: ADDONS, LE 10.0, PACKAGE

#4948 ttyd: fix addon build reference to libwebsockets 4.1.6
  packages/addons/service/ttyd/package.mk
Labels: ADDONS, LE 10.0, PACKAGE

#4955 t2scan: update to 0.7
  packages/addons/addon-depends/dvb-tools-depends/t2scan/package.mk
  packages/addons/addon-depends/dvb-tools-depends/t2scan/patches/t2scan-0001-Fix-building-with-gcc10.patch
Labels: ADDONS, CLEANUP, LE 10.0, PACKAGE, UPDATE

#4959 at-spi2-core: update to 2.39.1
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4958 multimedia-tools: update addon to 114
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4960 game-tools: update addon to 103
  packages/addons/addon-depends/game-tools/linuxconsoletools/package.mk
  packages/addons/tools/game-tools/changelog.txt
  packages/addons/tools/game-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4965 mesa: update to 20.3.3
  packages/graphics/mesa/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4939 i2c-tools: fix dest PREFIX to /usr
  packages/addons/addon-depends/system-tools-depends/i2c-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/i2c-tools/patches/pyinstalldir.patch
Labels: ADDONS, BUGFIX, LE 10.0, PACKAGE

#4956 grub: update to 2020-12-18
  packages/tools/grub/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4962 dvb-tools: update addon to 107
  packages/addons/addon-depends/dvb-tools-depends/dvblast/package.mk
  packages/addons/addon-depends/dvb-tools-depends/mumudvb/package.mk
  packages/addons/tools/dvb-tools/changelog.txt
  packages/addons/tools/dvb-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4967 driverselect: update to 2020-09-14 (3.0.1+matrix)
  packages/addons/script/driverselect/package.mk
Labels: LE 10.0, UPDATE

#4968 oscam: update addon to 110
  packages/addons/service/oscam/changelog.txt
  packages/addons/service/oscam/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4966 Allwinner: add u-boot patch for setting fixed MAC address
  projects/Allwinner/patches/u-boot/0001-sunxi-call-fdt_fixup_ethernet-again-to-set-macaddr-f.patch
Labels: ALLWINNER, IMPROVEMENT, LE 10.0

#4969 kodi: update to 19.0RC1
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.freebox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
  packages/mediacenter/kodi/package.mk
  tools/mkpkg/update_binary-addons
Labels: LE 10.0, PACKAGE, UPDATE

#4971 linux (RPi): update to 5.10.7
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: KERNEL, LE 10.0, UPDATE

#4892 gnutls: update to 3.7.0
  packages/security/gnutls/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4773 drop unzip and minizip package
  packages/compress/minizip/package.mk
  packages/compress/unzip/package.mk
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/package.mk
Labels: CLEANUP, LE 10.0

#4857 slang: update to 2.3.2
  packages/devel/slang/package.mk
Labels: LE 10.0, UPDATE

#4927 libdvbcsa: update to 2018-01-29
  packages/addons/addon-depends/libdvbcsa/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4926 nss: update to 3.60.1
  packages/security/nss/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4752 apache-ant: bump package to 1.10.9
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4741 vadumpcaps: add vadumpcaps to show all capabilities of a VAAPI device…
  packages/debug/vadumpcaps/package.mk
Labels: IMPROVEMENT, LE 10.0, PACKAGE

#4609 Tvheadend 42: python: update xbmc.translatePath() to xbmcvfs
  packages/addons/service/tvheadend42/source/download.py
Labels: ADDONS, BUGFIX, LE 10.0

#4974 distro: bump ADDON_VERSION to 9.80.9
  distributions/LibreELEC/version
Labels: ADDONS, LE 10.0, MERGE BLOCKED, UPDATE

#4615 installer: minor fixes
  packages/tools/installer/scripts/installer
Labels: BUGFIX, IMPROVEMENT, LE 10.0

#4975 usbutils: use autotools toolchain
  packages/sysutils/usbutils/package.mk
Labels: BUILDSYSTEM, CLEANUP, LE 10.0, TOOLCHAIN

#4761 script to refresh patches
  tools/refresh-patches
Labels: BUILDSYSTEM, FEATURE, LE 10.0

#4992 linux (RPi): enable 4k modes up to 4kp30 on RPi4
  packages/linux/patches/raspberrypi/linux-010-hide-4k-modes.patch
  packages/linux/patches/raspberrypi/linux-011-fix-lbm-pr4075.patch
  packages/linux/patches/raspberrypi/linux-012-fix-pos1-scl.patch
Labels: FEATURE, KERNEL, LE 10.0

#4993 iftop: update to 2018-10-03
  packages/addons/addon-depends/network-tools-depends/iftop/package.mk
  packages/addons/addon-depends/network-tools-depends/iftop/patches/iftop-variable-to-be-local-due-to-pcap-1-10-0.patch
  packages/addons/tools/network-tools/changelog.txt
Labels: ADDONS, BUGFIX, LE 10.0, PACKAGE, UPDATE

#4985 packages/sysutils: small bumps of already bumped packages to latest.
  packages/sysutils/gptfdisk/package.mk
  packages/sysutils/libevdev/package.mk
  packages/sysutils/open-vm-tools/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4984 snapclient and snapserver: update to 0.23.0
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-01_makefiles.patch
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE

#4983 glew: update to 2.2.0 (2020-03-15)
  packages/graphics/glew/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4978 libdrm: update to 2.4.104
  packages/graphics/libdrm/package.mk
Labels: LE 10.0, PACKAGE, UPDATE

#4979 ffmpegx: update addon to 114 with x264 update to 2021-01-07
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/tools/ffmpeg-tools/changelog.txt
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, LE 10.0, PACKAGE, UPDATE
