Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-04, with the labels that each got.

#6349 bluez: add upstream patch to fix gatt database issue
  packages/network/bluez/patches/bluez-22-Fix-gatt-db-attribute-get-index.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 11.0

#6352 pvr.waipu: update 19.2.0-Matrix to 19.2.1-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6350 [le11] linux (RPi): update to 5.15.32-ddd39a7
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, KERNEL, LE 11.0

#6351 pvr.waipu: update 20.4.1-Nexus to 20.4.2-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6067 jellyfin: update to 10.8.0-beta1 and addon (101)
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/bin/jellyfin-downloader
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6175 PKGCONFIG use ./lib/pkgconfig/ for both host and target
  packages/compress/zlib/package.mk
  packages/sysutils/systemd/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/lib/xtrans/package.mk
  packages/x11/proto/xorgproto/package.mk
  packages/x11/proto/xorgproto/patches/xorgproto-0001-pkgconfig.patch
  packages/x11/util/util-macros/package.mk
Labels: BUILDSYSTEM, PACKAGE, TOOLCHAIN, CLEANUP, LE 11.0

#6339 zlib: update to 1.2.12
  packages/compress/zlib/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6357 openssh: update to 9.0p1
  packages/network/openssh/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6328 u-boot and u-boot-tools: update to 2022.04
  packages/tools/u-boot-tools/package.mk
  packages/tools/u-boot/package.mk
  projects/Allwinner/devices/H3/patches/u-boot/0001-DO-NOT-MERGE-sunxi-psci-Delegate-PSCI-to-SCPI.patch
  projects/Allwinner/patches/u-boot/0002-binman-Prevent-entries-in-a-section-from-overlapping.patch
  projects/Allwinner/patches/u-boot/0006-mkimage-sunxi_egon-Allow-overriding-the-padding-size.patch
  projects/Allwinner/patches/u-boot/0013-sunxi-call-fdt_fixup_ethernet-again-to-set-macaddr-f.patch
  projects/NXP/devices/iMX8/patches/u-boot/0005-pico-imx8mq-add-distro-boot-cmd-support.patch
Labels: UPDATE, PACKAGE, ALLWINNER, AMLOGIC, NXP, SAMSUNG, LE 11.0

#5876 Toolchain Updates
  config/arch.aarch64
  config/arch.arm
  packages/devel/binutils/package.mk
  packages/devel/binutils/patches/binutils-01-warn-for-uses-of-system-directories-when-link.patch
  packages/devel/binutils/patches/nodocs.patch
  packages/devel/glibc/package.mk
  packages/devel/glibc/patches/arm/glibc-add-support-for-SHT_RELR-sections.patch
  packages/devel/glibc/patches/arm/glibc-tls-libwidevinecdm.so-since-4.10.2252.0-has-TLS-with.patch
  packages/devel/glibc/patches/glibc-fix-dns-with-broken-routers.patch
  packages/lang/gcc/package.mk
  packages/sysutils/fuse/package.mk
  packages/sysutils/fuse/patches/fuse-0003-build-with-glibc-2.34.patch
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6358 busybox: hwclock: add settimeofday() fix
  packages/sysutils/busybox/patches/busybox-07-hwclock_fix_settimeofday.patch
Labels: BUGFIX, LE 10.0

#6253 gcc: update to 11.2.0 and Arm GNU Toolchain to 11.2-2022.02
  packages/lang/gcc-arm-aarch64-none-elf/package.mk
  packages/lang/gcc-arm-aarch64-none-linux-gnu/package.mk
  packages/lang/gcc/package.mk
  packages/lang/gcc/patches/gcc-999.01-remove-cyclades-from-libsanitizer.patch
  packages/x11/other/fluxbox/patches/fluxbox-03_fixes-bug-1138.patch
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6362 wireless-regdb: update to 2022-04-08
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6363 wireless-regdb: update to 2022-04-08
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#6364 p7zip: patch to support C++17 compiler
  packages/compress/p7zip/patches/p7zip-0501-change-numMethods-from-bool-to-unsigned.patch
Labels: ADDONS, PATCH, LE 11.0

#6365 cxxtools: fix compile with gcc11
  packages/addons/addon-depends/cxxtools/patches/cxxtools-2.2.1-make-cxxtools-char-a-trivial-class-by-defining-the-default.patch
  packages/addons/addon-depends/cxxtools/patches/cxxtools-2.2.1-make-explicit-cast-in-cxxtools-char-when-moving-or-copying-data.patch
  packages/addons/addon-depends/cxxtools/patches/cxxtools-2.2.1-superflous-copy-constuctor.patch
Labels: ADDONS, PACKAGE, PATCH, LE 11.0

#6367 libretro-uae4arm: fix gcc11 build
  packages/emulation/libretro-uae4arm/patches/libretro-fix-ordered-comparison-of-pointer-with-integer-zero.patch
Labels: ADDONS, PACKAGE, PATCH, LE 11.0

#6366 libretro-dosbox: build with -std=gnu++11 to fix gcc11 build
  packages/emulation/libretro-dosbox/package.mk
Labels: ADDONS, PACKAGE, LE 11.0

#6368 libretro-mame2015: update for python3 and enable override on OBJDUMP
  packages/emulation/libretro-mame2015/patches/libretro-mame2015-100.01-cross-compile.patch
  packages/emulation/libretro-mame2015/patches/libretro-mame2015-900.01-update-for-python3-and-enable-override-on-objdump.patch
Labels: ADDONS, PACKAGE, PATCH, LE 11.0

#6373 Revert "gcc-arm-aarch64-none-linux-gnu: update to 11.2-2022.02"
  packages/lang/gcc-arm-aarch64-none-linux-gnu/package.mk
Labels: BUGFIX, LE 11.0

#6377 mariadb: update to 10.4.22 and addon (106)
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6376 RPi: update colorspace and bpc patches to latest kodi PR
  projects/RPi/patches/kodi/kodi-002-PR20006-gbm-colorspace-and-bits-per-pixel.patch
  projects/RPi/patches/kodi/kodi-002-set-max-bpc-for-high-bit-depth-videos.patch
  projects/RPi/patches/kodi/kodi-003-add-colourspace-connector-property.patch
Labels: UPDATE, PATCH, LE 11.0

#6353 kodi: update to 2022-04-13
  packages/devel/crossguid/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
Labels: UPDATE, LE 11.0

#6380 LE11: Switch or1k gcc from pre-built to self-build
  packages/devel/binutils-or1k/package.mk
  packages/devel/binutils-or1k/patches/binutils-01-warn-for-uses-of-system-directories-when-link.patch
  packages/devel/binutils-or1k/patches/nodocs.patch
  packages/lang/gcc-or1k-linux/package.mk
  packages/lang/gcc-or1k/package.mk
  packages/lang/gcc-or1k/patches/gcc-allow-newer-autoconf.patch
  packages/lang/gcc-or1k/patches/gcc-crosscompile-badness.patch
  packages/tools/crust/package.mk
Labels: PACKAGE, TOOLCHAIN, LE 11.0

#6381 vfs.sacd: remove addon
  packages/mediacenter/kodi-binary-addons/vfs.sacd/package.mk
Labels: ADDONS, CLEANUP, LE 11.0

#6382 [le10] vfs.sacd: remove addon
  packages/mediacenter/kodi-binary-addons/vfs.sacd/package.mk
Labels: ADDONS, CLEANUP, LE 10.0

#6384 [le11] libretro-mame2015: simplify cross-compile patch
  packages/emulation/libretro-mame2015/patches/libretro-mame2015-100.01-cross-compile.patch
Labels: ADDONS, PATCH, LE 11.0

#6385 [le10] libretro-mame2015: simplify cross-compile patch
  packages/emulation/libretro-mame2015/patches/libretro-mame2015-100.01-cross-compile.patch
Labels: ADDONS, PATCH, LE 10.0

#6387 [LE11] kodi: external rapidjson should be used
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, PACKAGE, LE 11.0

#6388 [LE11] Relax or1k toolchain dependency
  packages/devel/binutils-or1k/package.mk
  packages/lang/gcc-or1k/package.mk
Labels: TOOLCHAIN, CLEANUP, LE 11.0

#6393 devtool updates
  packages/addons/addon-depends/go/package.mk
  packages/debug/valgrind/package.mk
  packages/devel/cmake/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6390 GStreamer updates
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6386 [LE11] Switch from pre-built to self-build aarch64 gcc
  config/path
  packages/devel/binutils-aarch64/package.mk
  packages/devel/binutils-aarch64/patches/binutils-01-warn-for-uses-of-system-directories-when-link.patch
  packages/devel/binutils-aarch64/patches/nodocs.patch
  packages/lang/gcc-aarch64/package.mk
  packages/lang/gcc-aarch64/patches/gcc-allow-newer-autoconf.patch
  packages/lang/gcc-aarch64/patches/gcc-crosscompile-badness.patch
  packages/lang/gcc-arm-aarch64-none-elf/package.mk
  packages/lang/gcc-arm-aarch64-none-linux-gnu/package.mk
  packages/linux/package.mk
  packages/tools/atf/package.mk
  packages/tools/u-boot/package.mk
Labels: PACKAGE, TOOLCHAIN, LE 11.0

#6383 glibc: drop broken ld.so symlinks
  packages/devel/glibc/package.mk
Labels: CLEANUP, LE 11.0

#6394 fixes from packages checker
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/audio/espeak-ng/package.mk
  packages/graphics/nvidia/package.mk
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: CLEANUP, LE 11.0

#6391 Vulkan updates
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6268 curl: update to 7.82.0
  packages/web/curl/package.mk
  packages/web/curl/patches/curl-0001-pr-8664.patch
Labels: UPDATE, PACKAGE, REBUILD, LE 11.0

#6395 distro: bump ADDON_VERSION to 10.80.5
  distributions/LibreELEC/version
Labels: ADDONS, UPDATE, LE 11.0

#6316 system-tools: rev 129; Execute "st" only on Generic X11; Set executable flag of 7z/7za
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/addons/tools/system-tools/source/bin/7z
  packages/addons/tools/system-tools/source/bin/7za
  packages/addons/tools/system-tools/source/default.py
Labels: BUGFIX, ADDONS, BACKPORT DONE, LE 11.0

#6397 rsync: update to 3.2.4
  packages/network/rsync/package.mk
  packages/network/rsync/patches/0001-Work-around-glibc-s-lchmod-issue-a-better-way.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6396 pvr.zattoo: update 19.7.11-Matrix to 19.7.12-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6399 libretro-mame2016: drop upstreamed patches
  packages/emulation/libretro-mame2016/patches/libretro-mame2016-0001-python39.patch
  packages/emulation/libretro-mame2016/patches/make.patch
Labels: BUGFIX, ADDONS, PACKAGE, PATCH, LE 11.0

#6356 distro: disable iscsi support
  distributions/LibreELEC/options
Labels: CLEANUP, LE 11.0

#6402 [le11] ttyd: include missing evlib_uv library and addon (105)
  packages/addons/service/ttyd/changelog.txt
  packages/addons/service/ttyd/package.mk
Labels: BUGFIX, ADDONS, BACKPORT DONE, PACKAGE, LE 11.0

#6403 [le10] ttyd: include missing evlib_uv library and addon (105)
  packages/addons/service/ttyd/changelog.txt
  packages/addons/service/ttyd/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 10.0

#6408 pvr.zattoo: update 19.7.12-Matrix to 19.7.13-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6415 [le11] Vulkan updates
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6325 linux: update to 5.17.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/patches/linux/0087-media-hantro-sunxi-Fix-VP9-steps.patch
  projects/Allwinner/patches/linux/0088-media-cedrus-Fix-H265-aux-buffer-size.patch
  projects/Allwinner/patches/linux/0090-media-cedrus-h264-Fix-neighbour-info-buffer-size.patch
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/patches/linux/0001-drm-bridge-mhdp-Add-cdns-mhdp-driver-bridge-driver.patch
  projects/NXP/devices/iMX8/patches/linux/0009-LF-2271-1-drm-bridge-cdns-Use-colorspace-connector-p.patch
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6416 mesa: update to 22.0.2
  packages/graphics/mesa/package.mk
  packages/graphics/mesa/patches/mesa-999.01-panfrost-process-scissor-state-earlier.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6407 [le11] jellyfin: update to 10.8.0-beta2
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6406 [le11] tools.ffmpeg-tools: fix missing libraries and addon (118)
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 11.0

#6412 qemu: update to 7.0.0
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6411 intel-ucode: update to 20220419
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6398 dtc: update to 1.6.1
  packages/tools/dtc/package.mk
  packages/tools/dtc/patches/dtc-0001-libfdt-soname-version.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6414 pvr.vuplus: update 20.2.0-Nexus to 20.3.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6418 kodi: update to 6f05bd9
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.31.le-addons-no-startupenable.patch
Labels: UPDATE, LE 11.0

#6419 lirc: fix build with kernel 5.18, add another Debian patch
  packages/sysutils/lirc/patches/0006-lirc-gpio-ir-0.10.patch
  packages/sysutils/lirc/patches/lirc-0101-kernel-5.18-fix.patch
Labels: BUGFIX, PATCH, LE 11.0

#6225 linux: enable CONFIG_NLS_UTF8 for all targets
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
Labels: KERNEL, CLEANUP, LE 11.0

#6420 Make linux kernel NLS settings consistent
  distributions/LibreELEC/kernel_options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, CLEANUP, LE 11.0

#6404 Boot warning: fsck.fat
  packages/sysutils/dosfstools/package.mk
Labels: CLEANUP, LE 11.0

#6421 iwd: update to 1.27
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6417 gcc: update to 11.3.0
  packages/lang/gcc-aarch64/package.mk
  packages/lang/gcc-or1k/package.mk
  packages/lang/gcc/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6428 inputstream.adaptive: update 19.0.3-Matrix to 19.0.4-Matrix
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6430 pvr.zattoo: update 19.7.13-Matrix to 19.7.14-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6436 [le11] btrfs-progs: update to 5.17
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6439 Update devtool packages
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/python/devel/Jinja2/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6438 Font package updates
  packages/graphics/harfbuzz/package.mk
  packages/multimedia/libass/package.mk
  packages/print/freetype/package.mk
  packages/x11/other/fontconfig/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6440 [le11] package updates
  packages/databases/sqlite/package.mk
  packages/security/nss/package.mk
  packages/tools/nano/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6434 [le11] minisatip: update to 1.1.92 and addon (110)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#5372 libxml2: update to 2.9.13 and libxslt: update to 1.1.35
  packages/textproc/libxml2/package.mk
  packages/textproc/libxml2/patches/libxml2-00001-parenthesize-py-type-check-in-ifs.patch
  packages/textproc/libxslt/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6359 Have make clean/distclean respect builder's set BUILD_DIR
  Makefile
  scripts/makefile_helper
Labels: BUGFIX, BUILDSYSTEM, CLEANUP, LE 11.0

#6437 [le10] btrfs-progs: update to 5.17
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6435 [le10] minisatip: update to 1.1.92 and addon (110)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6441 scripts/makefile_helper: make sure variables are set before running an rm
  scripts/makefile_helper
Labels: BUILDSYSTEM, LE 11.0

#6443 peripheral.joystick: update 19.0.1-Matrix to 19.0.2-Matrix
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0
