Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-02, with the labels that each got.

#6115 [le10] samba: update to 4.13.17
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#6181 [le11] samba: update to 4.13.17
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6141 linux: update to 5.16.y
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0059-bluetooth-hci-h5-add-power-reset-via-gpio-in-h5-btrtl-open.patch
  projects/Allwinner/patches/linux/0079-media-hantro-Fix-probe-func-error-path.patch
  projects/NXP/devices/iMX8/patches/linux/0079-media-hantro-Fix-probe-func-error-path.patch
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6128 [le11] Wayland improvements - Sway & Nvidia
  config/graphic
  packages/addons/addon-depends/chrome-depends/gdk-pixbuf/package.mk
  packages/addons/addon-depends/chrome-depends/json-glib/package.mk
  packages/addons/addon-depends/chrome-depends/pango/package.mk
  packages/addons/addon-depends/chrome-depends/shared-mime-info/package.mk
  packages/addons/addon-depends/chrome-depends/shared-mime-info/patches/no-man-no-html.patch
  packages/addons/addon-depends/chrome-depends/shared-mime-info/patches/shared-mime-info-999.01-disable-spec-generation.patch
  packages/graphics/glmark2/package.mk
  packages/graphics/libglvnd/package.mk
  packages/graphics/mesa/package.mk
  packages/graphics/nvidia/modprobe.d/nvidia-modesetting.conf
  packages/graphics/nvidia/package.mk
  packages/mediacenter/kodi/patches/kodi-999.16-PR20632-base-m_bFullScreenRoot-setting-on-res-infos-bFullScreen.patch
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
  packages/multimedia/libva/patches/libva-999.02-PR554-nvidia-drm.patch
  packages/multimedia/nv-codec-headers/package.mk
  packages/multimedia/nvidia-vaapi-driver/package.mk
  packages/virtual/mediacenter/package.mk
  packages/virtual/wl/package.mk
  packages/wayland/compositor/sway/config/colorscheme
  packages/wayland/compositor/sway/config/config
  packages/wayland/compositor/sway/config/sway-daemon.conf
  packages/wayland/compositor/sway/package.mk
  packages/wayland/compositor/sway/patches/sway-100.01-static-ipc-socket.patch
  packages/wayland/compositor/sway/patches/sway-100.02-allow-running-as-root.patch
  packages/wayland/compositor/sway/profile.d/04-sway.conf
  packages/wayland/compositor/sway/scripts/sway-config
  packages/wayland/compositor/sway/scripts/sway.sh
  packages/wayland/compositor/sway/system.d/sway.service
  packages/wayland/lib/fcft/package.mk
  packages/wayland/lib/seatd/package.mk
  packages/wayland/lib/seatd/system.d/seatd.service
  packages/wayland/lib/tllist/package.mk
  packages/wayland/lib/wlroots/package.mk
  packages/wayland/util/bemenu/package.mk
  packages/wayland/util/foot/config/foot.ini
  packages/wayland/util/foot/package.mk
  packages/wayland/util/foot/scripts/foot.sh
  packages/wayland/util/swaybg/package.mk
  packages/wayland/util/wlr-randr/package.mk
  packages/wayland/wayland-protocols/package.mk
  packages/wayland/waylandpp/package.mk
  packages/wayland/weston/config/weston.ini
  packages/wayland/weston/package.mk
  packages/wayland/weston/patches/weston-999.01-PR486-avoid-setting-WAYLAND_DISPLAY=wayland-0.patch
  packages/wayland/weston/profile.d/04-weston.conf
  projects/Generic/devices/wayland/options
Labels: IMPROVEMENT, FEATURE, HARDWARE, LAKKA, GENERIC, LE 11.0

#6186 vdr-addon: update VDR to 2.6.1
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, LE 11.0

#6176 pvr.iptvsimple: update 20.2.1-Nexus to 20.3.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6162 pvr.nextpvr: update 20.2.1-Nexus to 20.2.2-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6168 minisatip: update to 1.1.66 and addon (109)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6088 Update iwd to 1.23 and connman to 1.41
  distributions/LibreELEC/kernel_options
  packages/network/connman/package.mk
  packages/network/iwd/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, LE 11.0

#6094 Remove libtool preserved temporary RPATH/RUNPATH from "shared object" ELF binaries (libraries/executables)
  config/functions
  packages/addons/addon-depends/ccid/package.mk
  packages/addons/addon-depends/chrome-depends/libXcursor/package.mk
  packages/addons/addon-depends/chrome-depends/libxss/package.mk
  packages/addons/addon-depends/libimobiledevice/package.mk
  packages/addons/addon-depends/libusbmuxd/package.mk
  packages/addons/addon-depends/network-tools-depends/lftp/package.mk
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/snapcast-depends/alsa-plugins/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/package.mk
  packages/addons/addon-depends/system-tools-depends/encfs/package.mk
  packages/addons/addon-depends/system-tools-depends/lm_sensors/package.mk
  packages/addons/addon-depends/tntnet/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/debug/gdb/package.mk
  packages/devel/gettext/package.mk
  packages/devel/libirman/package.mk
  packages/devel/libplist/package.mk
  packages/devel/slang/package.mk
  packages/graphics/cairo/package.mk
  packages/graphics/libde265/package.mk
  packages/graphics/libdrm/package.mk
  packages/multimedia/libaacs/package.mk
  packages/multimedia/libass/package.mk
  packages/multimedia/libbdplus/package.mk
  packages/multimedia/libbluray/package.mk
  packages/network/avahi/package.mk
  packages/network/bluez/package.mk
  packages/network/connman/package.mk
  packages/network/iptables/package.mk
  packages/security/gnutls/package.mk
  packages/sysutils/libusb-compat/package.mk
  packages/sysutils/lirc/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/sysutils/parted/package.mk
  packages/web/curl/package.mk
  packages/x11/driver/xf86-input-synaptics/package.mk
  packages/x11/driver/xf86-video-ati/package.mk
  packages/x11/driver/xf86-video-intel/package.mk
  packages/x11/driver/xf86-video-vmware/package.mk
  packages/x11/lib/libXcomposite/package.mk
  packages/x11/lib/libXdamage/package.mk
  packages/x11/lib/libXext/package.mk
  packages/x11/lib/libXfixes/package.mk
  packages/x11/lib/libXfont2/package.mk
  packages/x11/lib/libXi/package.mk
  packages/x11/lib/libXinerama/package.mk
  packages/x11/lib/libXrandr/package.mk
  packages/x11/lib/libXrender/package.mk
  packages/x11/lib/libXtst/package.mk
  packages/x11/other/fontconfig/package.mk
Labels: BUILDSYSTEM, CLEANUP, LE 11.0

#6142 [le11] kodi: add shutdown hook to autostart
  packages/mediacenter/kodi/system.d/kodi-autostart.service
Labels: IMPROVEMENT, FEATURE, BACKPORT DONE, LE 11.0

#5644 libnfs: update to 5.0.1
  packages/network/libnfs/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6179 fakeroot: bump to 1.27 (from no-longer-existing 1.26)
  packages/devel/fakeroot/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6171 waf: use binary from source archive
  packages/python/devel/waf/package.mk
Labels: BUGFIX, PACKAGE, LE 11.0

#6161 pvr.teleboy: update 19.8.5-Matrix to 19.8.7-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6177 pvr.iptvsimple: update 19.0.3-Matrix to 19.1.0-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6190 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6191 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6169 minisatip: update to 1.1.66 and addon (109)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6136 [le10] multimedia-tools: update addon to 116
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6133 [le10] proftpd: update to 1.3.7c
  packages/addons/addon-depends/whois/package.mk
  packages/addons/service/proftpd/changelog.txt
  packages/addons/service/proftpd/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#5746 [le10] backport addon update scripts updates
  tools/mkpkg/update_binary-addons
  tools/mkpkg/update_common_functions
  tools/mkpkg/update_retroplayer-addons
Labels: BUGFIX, IMPROVEMENT, BUILDSYSTEM, LE 10.0

#6077 [le10] vdr-addon: update to 2.4.8 and addon (117)
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/libzip/patches/libzip-001-fix-typo-which-prevents-expansion-of-libdir-in-pkgconfig.patch
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6143 [le10] kodi: add shutdown hook to autostart
  packages/mediacenter/kodi/system.d/kodi-autostart.service
Labels: FEATURE, LE 10.0

#6145 [LE10] dtc: copy libfdt symlink and library
  packages/tools/dtc/package.mk
Labels: BUGFIX, LE 10.0

#6148 [LE10] proftpd: upgrade language strings file
  packages/addons/service/proftpd/source/resources/language/English/strings.xml
  packages/addons/service/proftpd/source/resources/language/resource.language.en_gb/strings.po
Labels: BUGFIX, IMPROVEMENT, ADDONS, CLEANUP, LE 10.0

#6193 package updates: build tools
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/compress/pigz/package.mk
  packages/debug/gdb/package.mk
  packages/devel/cmake/package.mk
  packages/lang/llvm/package.mk
  packages/python/devel/meson/package.mk
  packages/python/devel/meson/patches/meson-0.60.x-revert-9445.patch
  packages/tools/hdparm/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6194 package updates: support binaries and libraries
  packages/devel/libcap/package.mk
  packages/devel/readline/package.mk
  packages/security/libgpg-error/package.mk
  packages/sysutils/libusb/package.mk
  packages/sysutils/util-linux/package.mk
  packages/textproc/expat/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6195 package updates: security libraries
  packages/security/gnutls/package.mk
  packages/security/nettle/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6196 packages updates: python
  packages/python/graphics/Pillow/package.mk
  packages/python/security/pycryptodome/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6192 package updates: PKG_URL and non impacting
  packages/addons/addon-depends/system-tools-depends/lm_sensors/package.mk
  packages/multimedia/SDL2/package.mk
  packages/x11/lib/libxcvt/package.mk
Labels: PACKAGE, CLEANUP, LE 11.0

#6204 [le11] rpi-tools: update to latest and addon (111)
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
  packages/addons/tools/rpi-tools/changelog.txt
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, RPi-V4L2, LE 11.0

#6205 [le10] rpi-tools: update to latest and addon (111)
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
  packages/addons/tools/rpi-tools/changelog.txt
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0, RPi-V4L2

#6208 linux (RPi): update to 5.10.95-b0272c6
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-test-delay-cec_phys_addr_invalidate.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, LE 10.0

#6209 [le10] prometheus-node-exporter: initial addon - backport
  packages/addons/service/prometheus-node-exporter/changelog.txt
  packages/addons/service/prometheus-node-exporter/icon/icon.png
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/prometheus-node-exporter/source/bin/prometheus-node-exporter.start
  packages/addons/service/prometheus-node-exporter/source/default.py
  packages/addons/service/prometheus-node-exporter/source/resources/language/English/strings.po
  packages/addons/service/prometheus-node-exporter/source/resources/settings.xml
  packages/addons/service/prometheus-node-exporter/source/settings-default.xml
  packages/addons/service/prometheus-node-exporter/source/system.d/service.prometheus-node-exporter.service
Labels: ADDONS, BACKPORT DONE, PACKAGE, LE 10.0

#6214 [LE11] Allwinner: linux: Update cedrus patches
  projects/Allwinner/patches/linux/0021-media-cedrus-hevc-Improve-buffer-management.patch
  projects/Allwinner/patches/linux/0088-media-cedrus-Fix-H265-aux-buffer-size.patch
  projects/Allwinner/patches/linux/0089-media-cedrus-Add-watchdog-for-job-completion.patch
Labels: BUGFIX, BACKPORT REQD, KERNEL, ALLWINNER, LE 11.0

#6215 [LE10] Allwinner: linux: Update cedrus patches
  projects/Allwinner/patches/linux/0028-media-cedrus-hevc-Improve-buffer-management.patch
  projects/Allwinner/patches/linux/0054-media-cedrus-Fix-H265-aux-buffer-size.patch
  projects/Allwinner/patches/linux/0055-media-cedrus-Add-watchdog-for-job-completion.patch
Labels: BUGFIX, BACKPORT DONE, KERNEL, ALLWINNER, LE 10.0

#6216 mesa: update to 21.3.6
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6212 intel-ucode: update to 20220207
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6201 [le11] pvr.stalker: update 20.2.0-Nexus to 20.2.1-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6217 [le10] inputstream.adaptive: update 19.0.2-Matrix to 19.0.3-Matrix
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6202 [le10] pvr.stalker: update 19.0.1-Matrix to 19.0.2-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6224 Minor package updates and tidy ups
  packages/graphics/glu/package.mk
  packages/textproc/libxml2/package.mk
Labels: PACKAGE, CLEANUP, LE 11.0

#6223 go: update to 1.17.7 (lang - for addons)
  packages/addons/addon-depends/go/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6227 Python3: update to 3.9.10
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/Python3-0000-default-is-optimized.patch
  packages/lang/Python3/patches/Python3-0100-buildroot-patches.patch
  packages/lang/Python3/patches/Python3-0201-xcompile.patch
  packages/lang/Python3/patches/Python3-0202-xcompile.patch
  packages/lang/Python3/patches/Python3-0300-generate-legacy-pyc-bytecode.patch
  packages/lang/Python3/patches/Python3-0400-fix-bpo5537.patch
  packages/lang/Python3/patches/Python3-0500-fix-bpo45262.patch
  packages/textproc/libxml2/patches/libxml2-00001-parenthesize-py-type-check-in-ifs.patch
Labels: UPDATE, BUILDSYSTEM, PACKAGE, TOOLCHAIN, REBUILD, LE 11.0

#6230 [le10] LibreELEC-settings: update to 1bc8388
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: BUGFIX, UPDATE, LE 10.0

#6234 libretro-mame2016: fix build with Python 3.9
  packages/emulation/libretro-mame2016/patches/libretro-mame2016-0001-python39.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 11.0

#6236 [LE10] Allwinner: linux: fix H264 buffer size
  projects/Allwinner/patches/linux/0056-media-cedrus-h264-Fix-neighbour-info-buffer-size.patch
Labels: BUGFIX, BACKPORT DONE, KERNEL, ALLWINNER, LE 10.0

#6235 Allwinner: linux: fix H264 buffer size
  projects/Allwinner/patches/linux/0090-media-cedrus-h264-Fix-neighbour-info-buffer-size.patch
Labels: BUGFIX, BACKPORT REQD, KERNEL, ALLWINNER, LE 11.0

#6222 kodi: update to lastest master version
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.06-dont-set-_NET_WM_STATE_FULLSCREEN.patch
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-999.16-PR20632-base-m_bFullScreenRoot-setting-on-res-infos-bFullScreen.patch
  packages/multimedia/libdvdnav/package.mk
  packages/multimedia/libdvdread/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6226 libbluray: update to 1.3.0
  packages/multimedia/libbluray/package.mk
  packages/multimedia/libbluray/patches/libbluray-00-fix-build-with-autoconf-archive-2016-or-later.patch
  packages/multimedia/libbluray/patches/libbluray-01-bump_to_Nevcairiel.patch
  packages/multimedia/libbluray/patches/libbluray-02-install-extra-MVC-headers.patch
  packages/multimedia/libbluray/patches/libbluray-03-set-headless-false.patch
  packages/multimedia/libudfread/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6228 kodi: add gbm "sync playback to display" backport patch
  packages/mediacenter/kodi/patches/kodi-999.02-backport-pr19601-gbm-add-display-clock.patch
Labels: FEATURE, LE 10.0

#6221 [le11] xf86-video-nvidia: update to 470.103.01
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6211 Intel Graphics updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6242 Latest Intel Graphics updates and libdrm
  packages/debug/libva-utils/package.mk
  packages/graphics/libdrm/package.mk
  packages/multimedia/libva/package.mk
  packages/multimedia/libva/patches/libva-999.01-PR547-crocus.patch
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6252 [le11] update NVIDIA packages for Wayland
  packages/graphics/nvidia/package.mk
  packages/multimedia/nvidia-vaapi-driver/package.mk
Labels: UPDATE, LE 11.0

#6256 [le11] wireless-regdb: update to 2022.02.18
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6257 [le10] wireless-regdb: update to 2022.02.18
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#6254 peripheral.xarcade: update 20.1.0-Nexus to 20.1.1-Nexus
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6258 gcc-or1k-linux: update to 2021.11-5
  packages/lang/gcc-or1k-linux/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, ALLWINNER, LE 11.0

#6265 mesa: update to 21.3.7
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6264 [le11] openssh: update to 8.9p1
  packages/network/openssh/package.mk
  packages/network/openssh/patches/openssh-8.9p1-keydir.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6263 util-linux: update to 2.37.4
  packages/sysutils/util-linux/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6269 Update dbus and dbussy packages
  packages/python/system/dbussy/package.mk
  packages/sysutils/dbus/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6197 package updates: networking and bluetooth
  packages/network/bluez/package.mk
  packages/network/ethtool/package.mk
  packages/network/iwd/package.mk
  packages/network/openvpn/package.mk
  packages/network/rpcbind/package.mk
  packages/network/rpcbind/patches/rpcbind-1.2.6-vulnerability_fixes-1.patch
  packages/network/wpa_supplicant/package.mk
  packages/network/wpa_supplicant/patches/wpa_supplicant-2.4-libnl3-includes.patch
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6262 Account for setup_toolchain in show_config's reported CFLAGS/LDFLAGS
  scripts/image
  tools/viewconfig
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#5255 Remove redundant ARCH specific *FLAGS for x86-64
  config/arch.x86_64
Labels: CLEANUP, LE 11.0
