Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-10, with the labels that each got.

#6933 Generic kernel config: enable sienna_cichlid support
  projects/Generic/linux/linux.x86_64.conf
Labels: BUGFIX, KERNEL, LE 10.0

#6937 connman: bump to include latest changes
  packages/network/connman/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6935 brcmfmac_sdio: bump to include latest firmwares
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6938 busybox: add vfd-clock script/service
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/vfd-clock
  packages/sysutils/busybox/system.d/vfd-clock.service
Labels: FEATURE, AMLOGIC, LE 11.0

#6934 Intel driver updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
  packages/sysutils/open-vm-tools/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6948 ffmpeg: update kodi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  projects/RPi/patches/kodi/0001-CDVDVideoCodecDRMPRIME-Also-support-YUV420-buffers.patch
  projects/RPi/patches/kodi/0002-gbm-Set-max-bpc-for-high-bit-depth-videos.patch
  projects/RPi/patches/kodi/0003-CVideoLayerBridgeDRMPRIME-add-colourspace-connector-.patch
  projects/RPi/patches/kodi/0004-DVDVideoCodecDRMPRIME-use-AV_PIX_FMT_DRM_PRIME-for-f.patch
Labels: BUGFIX, UPDATE, PATCH, LE 11.0

#6949 linux (RPi): update to 5.15.70
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#6946 kodi: update to latest master
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6943 [le11] ttyd: update to 1.7.1 and addon (106)
  packages/addons/addon-depends/ttyd-depends/libuv/package.mk
  packages/addons/addon-depends/ttyd-depends/libwebsockets/package.mk
  packages/addons/service/ttyd/changelog.txt
  packages/addons/service/ttyd/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6941 [le11] rsyslog: update to 8.2208.0
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6940 [le11] network-tools: update to addon (117).
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#6950 [le10] ffmpeg: update RPi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  projects/RPi/patches/kodi/kodi-004-deinterlace-swdecode.patch
Labels: BUGFIX, UPDATE, PATCH, LE 10.0

#6951 [le10] linux (RPi): update to latest 5.10.110 version
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, LE 10.0

#6947 Devel/graphics library updates
  packages/devel/glib/package.mk
  packages/devel/readline/package.mk
  packages/graphics/harfbuzz/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6945 pipewire: update to 0.3.59
  packages/audio/pipewire/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6955 [le11] prometheus-node-exporter: update to 1.4.0 and addon (102)
  packages/addons/service/prometheus-node-exporter/changelog.txt
  packages/addons/service/prometheus-node-exporter/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6939 cacert.pem: update to 2022-09-13
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, PACKAGE, LE 11.0

#6954 [le10] prometheus-node-exporter: update to 1.4.0 and addon (102)
  packages/addons/service/prometheus-node-exporter/changelog.txt
  packages/addons/service/prometheus-node-exporter/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6957 systemd: update to 251.5
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6595 Generate and use temporary IPv6 addresses
  packages/linux/sysctl.d/network.conf
Labels: IMPROVEMENT, FEATURE, BACKPORT REQD, LE 11.0

#6886 PBR - Policy Based Routing config dir added as /storage/.config/iproute2 - to allow configuration
  packages/sysutils/busybox/config/busybox-target.conf
Labels: FEATURE, LE 11.0

#6923 Do not set ENABLE_NEON_ for not target aarch64 and arm
  packages/mediacenter/kodi/package.mk
  packages/multimedia/aom/package.mk
Labels: CLEANUP, LE 11.0

#6962 gstreamer: update to 1.21.1
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6961 openssh: update to 9.1p1
  packages/network/openssh/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6952 linux: update to 5.10.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, LE 10.0, GENERIC

#6944 [le10] ttyd: update to 1.7.1 and addon (106)
  packages/addons/addon-depends/ttyd-depends/libuv/package.mk
  packages/addons/addon-depends/ttyd-depends/libwebsockets/package.mk
  packages/addons/service/ttyd/changelog.txt
  packages/addons/service/ttyd/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6942 [le10] rsyslog: update to 8.2208.0
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6960 linux (RPi): update to 6.0
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-TEMP-dwc_otg-change-FIQ-default-to-off.patch
  packages/linux/patches/raspberrypi/linux-100-kernel-5-19-io-series-664369.patch
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#6963 gst-plugins-base: fix 1.21.1 build defines
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
Labels: BUGFIX, PACKAGE, LE 11.0

#6829 linux: update to 6.0.y
  packages/linux-firmware/firmware-imx/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-100-kernel-5-19-io-series-664369.patch
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  packages/tools/u-boot-tools/package.mk
  packages/tools/u-boot/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.11-kernel-6.0.patch
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.0.patch
  projects/Allwinner/devices/H3/patches/u-boot/0007-sunxi-psci-Add-support-for-H3-CPU-0-hotplug.patch
  projects/Allwinner/devices/H3/patches/u-boot/0010-sunxi-Enable-support-for-SCP-firmware-on-H3.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0019-media-cedrus-hevc-tiles-hack.patch
  projects/Allwinner/patches/linux/0021-media-cedrus-hevc-Improve-buffer-management.patch
  projects/Allwinner/patches/linux/0037-WIP-media-uapi-hevc-add-fields-needed-for-rkvdec.patch
  projects/Allwinner/patches/linux/0038-HACK-media-uapi-hevc-tiles-and-num_slices.patch
  projects/Allwinner/patches/linux/0055-WIp-10-bit-HEVC-support.patch
  projects/Allwinner/patches/linux/0061-media--cedrus--Don-t-CPU-map-source-buffers.patch
  projects/Allwinner/patches/linux/0062-media--cedrus--hevc--Fix-offset-adjustments.patch
  projects/Allwinner/patches/linux/0063-HACK-SW-CEC-implementation-for-H3.patch
  projects/Allwinner/patches/linux/0064-media--cedrus--Fix-watchdog-race-condition.patch
  projects/Allwinner/patches/linux/0066-temporary-disable-iommu-on-H6.patch
  projects/Allwinner/patches/linux/0092-media-Add-P010-tiled-format.patch
  projects/Allwinner/patches/linux/0093-media-Add-P010-format.patch
  projects/Allwinner/patches/linux/0094-media-hantro-Support-format-filtering-by-depth.patch
  projects/Allwinner/patches/linux/0095-media-hantro-postproc-Fix-buffer-size-calculation.patch
  projects/Allwinner/patches/linux/0096-media-hantro-postproc-Fix-legacy-regs-configuration.patch
  projects/Allwinner/patches/linux/0097-media-hantro-Store-VP9-bit-depth-in-context.patch
  projects/Allwinner/patches/linux/0098-media-hantro-sunxi-Enable-10-bit-decoding.patch
  projects/Allwinner/patches/linux/0099-media-hantro-postproc-Properly-calculate-chroma-offs.patch
  projects/Allwinner/patches/u-boot/0003-sunxi-binman-Enable-SPL-FIT-loading-for-32-bit-SoCs.patch
  projects/Amlogic/patches/u-boot/u-boot-0007-WIP-boards-amlogic-add-WeTek-Hub-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0008-WIP-boards-amlogic-add-WeTek-Play2-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0010-WIP-boards-amlogic-add-Radxa-Zero2-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0013-WIP-boards-amlogic-add-Beelink-GT1-defconfig.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0001-drm-bridge-mhdp-Add-cdns-mhdp-driver-bridge-driver.patch
  projects/NXP/devices/iMX8/patches/linux/0030-drm-imx-Add-mhdp-dp-hdmi-driver-for-imx8x-platform.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/ffmpeg/ffmpeg-0004-v4l2request-hevc-increase-max-slices.patch
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-6.1.patch
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0020-drm-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
  projects/Rockchip/patches/linux/default/linux-2001-v4l2-wip-iep-driver.patch
  projects/Samsung/linux/linux.arm.conf
  projects/Samsung/patches/linux/samsung-0008-WIP-ARM-dma-mapping-implement-alloc_noncontiguous.patch
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6918 Vulkan update to 1.3.230
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6892 vim: update to 9.0.0453
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6928 buildsystem: support choosing default linker
  config/functions
  config/optimize
  config/show_config
  distributions/LibreELEC/options
  packages/devel/glibc/package.mk
  packages/mediacenter/kodi/package.mk
  packages/readme.md
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#6969 [le10] syncthing: update to 1.22.0 and addon (122) and dependent golang
  packages/addons/addon-depends/go/package.mk
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 10.0

#6967 wireplumber: update to 0.4.12
  packages/audio/wireplumber/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6968 Build tool updates
  packages/addons/addon-depends/go/package.mk
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6875 [le11] Add support for building with MOLD linker v2
  config/functions
  config/optimize
  config/show_config
  distributions/LibreELEC/options
  packages/devel/mimalloc/package.mk
  packages/devel/mold/package.mk
  packages/devel/mold/patches/mold-999.01-PR740-allow-custom-mold-binary-install-path.patch
  packages/devel/spdlog/package.mk
  packages/devel/tbb/package.mk
  packages/devel/tbb/patches/tbb-999.01-PR824-retry-if-pthread_create-fails-with-EAGAIN.patch
  packages/lang/gcc-aarch64/package.mk
  packages/lang/gcc-arm-none-eabi/package.mk
  packages/lang/gcc-bpf/package.mk
  packages/lang/gcc-or1k/package.mk
  packages/lang/gcc/package.mk
  packages/mediacenter/kodi/package.mk
  packages/readme.md
Labels: IMPROVEMENT, FEATURE, BUILDSYSTEM, LE 11.0

#6971 [LE11] Allwinner: H6: set deferred probe timeout to 0
  projects/Allwinner/devices/H6/options
  projects/Allwinner/patches/linux/0066-temporary-disable-iommu-on-H6.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 11.0

#6973 [le10] backports of proftpd and net-snmp addons
  packages/addons/addon-depends/whois/package.mk
  packages/addons/service/net-snmp/changelog.txt
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/proftpd/changelog.txt
  packages/addons/service/proftpd/package.mk
  packages/addons/service/proftpd/source/bin/proftpd.start
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6974 inputstream.adaptive: update v20.3.0-Nexus to 20.3.1-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6972 pvr.hts: update 20.5.0-Nexus to 20.6.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6966 lirc: update to 0.10.2
  packages/sysutils/lirc/package.mk
  packages/sysutils/lirc/patches/0006-lirc-gpio-ir-0.10.patch
  packages/sysutils/lirc/patches/lirc-0003-logging-Don-t-use-broken-LOG_CONS-syslog-flag.patch
  packages/sysutils/lirc/patches/lirc-0004-lircd-Fix-connect-option-parsing-error-343.patch
  packages/sysutils/lirc/patches/lirc-0005-systemd-support-Notify-systemd-on-successful-startup.patch
  packages/sysutils/lirc/patches/lirc-0100-disable-python.patch
  packages/sysutils/lirc/patches/lirc-0101-kernel-5.18-fix.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6975 [LE11] Allwinner: atf: update power patch
  projects/Allwinner/patches/atf/0001-HACK-Allwinner-Don-t-set-up-PMIC.patch
  projects/Allwinner/patches/atf/0001-sunxi-Don-t-enable-referenced-regulators.patch
Labels: BUGFIX, ALLWINNER, LE 11.0

#6970 [le10] libfmt: update to 9.1.0
  packages/addons/addon-depends/mpd-mpc/package.mk
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/devel/libfmt/package.mk
  packages/devel/spdlog/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 10.0

#6977 RPi: update to firmware 53f4941
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, UPDATE, BACKPORT DONE, LE 11.0

#6978 [le10] RPi: update to firmware 53f4941
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
Labels: BUGFIX, UPDATE, LE 10.0

#6979 inputstream.adaptive: add missing expat dependency
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, PACKAGE, LE 11.0

#6981 LibreELEC-settings: update to f369cd1
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: BUGFIX, UPDATE, LE 11.0

#6982 [le10] LibreELEC-settings: update to f369cd1
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: BUGFIX, UPDATE, LE 10.0

#6985 libva and libva-utils: update to 2.16.0
  packages/debug/libva-utils/package.mk
  packages/multimedia/libva/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6987 [LE10] Allwinner: linux: fix cedrus watchdog race condition
  projects/Allwinner/patches/linux/0056-media--cedrus--Fix-watchdog-race-condition.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 10.0

#6986 harfbuzz: update to 5.3.0 and fix build after 5.2.0 update
  packages/graphics/harfbuzz/package.mk
  packages/graphics/harfbuzz/patches/harfbuzz-100.01-fix-meson-icu-opts.patch
Labels: BUGFIX, UPDATE, LE 11.0

#6984 [le11] multimedia-tools: update addon to (117)
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6916 Wayland updates
  packages/wayland/lib/fcft/package.mk
  packages/wayland/util/bemenu/package.mk
  packages/wayland/wayland-protocols/package.mk
  packages/wayland/weston/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6990 nvidia: update to 515.76
  packages/graphics/nvidia/package.mk
Labels: BUGFIX, UPDATE, LE 11.0

#6991 btrfs-progs: update to 6.0 and addon to (110)
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6992 btrfs-progs: update to 6.0 and addon to (110)
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6995 [le11] tz: update to 2022e
  packages/sysutils/tz/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6996 [le10] tz: update to 2022e
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#6976 xz: update to 5.2.7
  packages/compress/xz/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6994 mesa: update to 22.2.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6983 [le10] multimedia-tools: update addon to (117)
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6902 llvm: update to 15.0.2 and rust: update to 1.64.0
  packages/lang/llvm/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6997 Python3: update to 3.9.15
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6999 [le11] dotnet-runtime: Update ASP.NET 6.x to 6.0.10 and addon (123)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7000 [le10] dotnet-runtime: Update ASP.NET 6.x to 6.0.10 and addon (123)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7006 [le11] dotnet-runtime: Drop ASP.NET Core Runtime 3.1 and addon (124)
  packages/addons/addon-depends/dotnet-runtime-depends/dotnet3-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, BACKPORT DONE, PACKAGE, CLEANUP, LE 11.0

#7005 package updates
  packages/compress/zlib/package.mk
  packages/devel/gettext/package.mk
  packages/devel/popt/package.mk
  packages/multimedia/SDL2/package.mk
  packages/sysutils/systemd/package.mk
  packages/textproc/expat/package.mk
  packages/textproc/libxml2/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7003 Security package updates
  packages/security/libgpg-error/package.mk
  packages/security/nspr/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6998 kernel-firmware: update to 20221012
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, KERNEL, LE 11.0

#7011 [LE11] Allwinner: H6: Enable IOMMU
  projects/Allwinner/devices/H6/options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/patches/linux/0030-wip-H6-deinterlace.patch
  projects/Allwinner/patches/linux/0031-arm64-dts-h6-deinterlace.patch
  projects/Allwinner/patches/linux/0066-arm64-dts-allwinner-h6-Fix-Cedrus-IOMMU-again.patch
  projects/Allwinner/patches/linux/0067-arm64-dts-allwinner-h6-Add-Hantro-G2-IOMMU-phandle.patch
  projects/Allwinner/patches/linux/0068-iommu-sun50i-Fix-reset-release.patch
  projects/Allwinner/patches/linux/0069-iommu-sun50i-Consider-all-fault-sources-for-reset.patch
  projects/Allwinner/patches/linux/0070-iommu-sun50i-Fix-R-W-permission-check.patch
  projects/Allwinner/patches/linux/0071-iommu-sun50i-Fix-flush-size.patch
  projects/Allwinner/patches/linux/0072-iommu-sun50i-Implement-.iotlb_sync_map.patch
  projects/Allwinner/patches/linux/0073-iommu-sun50i-Allow-page-sizes-multiple-of-4096.patch
  projects/Allwinner/patches/linux/0074-media-Unify-YCbCr-YUV-terms-in-format-descriptions.patch
  projects/Allwinner/patches/linux/0075-Revert-drm-sun4i-dw-hdmi-Fix-ddc-en-GPIO-consumer-co.patch
Labels: IMPROVEMENT, KERNEL, ALLWINNER, LE 11.0

#7013 pvr.zattoo: update 19.7.15-Matrix to 19.7.16-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7014 [le11] minisatip: update to 1.2.36
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7015 [le10] minisatip: update to 1.2.36
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7017 linux (Rockchip): media: rkvdec-hevc: Use vb2_find_buffer
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
Labels: PATCH, KERNEL, LE 11.0

#7008 linux: update to 6.0.y
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#7020 mold: update to 1.6.0
  packages/devel/mold/package.mk
  packages/devel/mold/patches/mold-999.01-PR740-allow-custom-mold-binary-install-path.patch
  packages/devel/tbb/package.mk
  packages/devel/tbb/patches/tbb-999.01-PR824-retry-if-pthread_create-fails-with-EAGAIN.patch
Labels: UPDATE, BUILDSYSTEM, LE 11.0

#7023 samba: update to 4.17.1
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7009 linux: update to 5.10.y
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, LE 10.0, GENERIC

#7024 mesa: update to 22.2.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7025 [le11] harfbuzz and icu updates
  packages/addons/addon-depends/icu/package.mk
  packages/graphics/harfbuzz/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7027 netbase: update to 6.4
  packages/network/netbase/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7028 kodi: update to latest master
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/drmprime-filter/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0002-WIP-DRMPRIME-deinterlace-filter.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0003-DVDVideoCodecDRMPRIME-Avoid-exception-with-AV_PIX_FM.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0004-DVDVideoCodecDRMPRIME-Leave-deinterlace-filter-activ.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0005-SetVideoInterlaced-Set-and-unset-deinterlace-method-.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0006-DVDVideoCodecDRMPRIME-Close-deinterlace-filter-on-er.patch
  packages/mediacenter/kodi/patches/kodi-100.05-make-binary-addons-executable.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.30-addons-refresh-etc-environment.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7029 rsync: update to 3.2.7
  packages/network/rsync/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7016 sqlite: update to 3.39.4
  packages/databases/sqlite/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7026 llvm: update to 15.0.3
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#7031 mold: fix strip on ARMv7 with binutils
  packages/devel/mold/patches/mold-999.01-fix-strip-on-armv7.patch
Labels: BUGFIX, BUILDSYSTEM, MERGE ¯\_(ツ)_/¯ 💥, LE 11.0

#7022 linux: update to 6.0.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0060-WIP-drm-bridge-synopsys-Fix-CEC-not-working-after-power.patch
  projects/Allwinner/patches/linux/0064-media--cedrus--Fix-watchdog-race-condition.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#7033 Rockchip: linux: Fix HEVC decoding
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
Labels: BUGFIX, ROCKCHIP, LE 11.0

#7035 LibreELEC-settings: update to 1d458c6
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, UPDATE, LE 11.0

#7032 Dockerfile updates
  tools/docker/README.md
  tools/docker/jammy/Dockerfile
  tools/docker/kinetic/Dockerfile
Labels: IMPROVEMENT, TOOLCHAIN, CLEANUP

#7010 glslang: update to 11.12.0
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7004 Vulkan update to 1.3.231
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7045 systemd: update to 251.7
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7046 Alsa updates to 1.2.8
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6856 curl: update to 7.86.0
  distributions/LibreELEC/version
  packages/web/curl/package.mk
  packages/web/curl/patches/0001-easy_lock.h-include-sched.h-if-available-to-fix-buil.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7002 Wayland and X11 updates
  packages/multimedia/nvidia-vaapi-driver/package.mk
  packages/wayland/util/bemenu/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/lib/libXmu/package.mk
  packages/x11/lib/libXrender/package.mk
  packages/x11/lib/libXtst/package.mk
  packages/x11/lib/libXxf86vm/package.mk
  packages/x11/lib/libpciaccess/package.mk
  packages/x11/lib/libxkbfile/package.mk
  packages/x11/lib/libxshmfence/package.mk
  packages/x11/lib/pixman/package.mk
  packages/x11/other/fontconfig/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7049 Vulkan update to 1.3.232
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7053 Filesystem tool package updates
  packages/sysutils/exfatprogs/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7054 [le11] tz: update to 2022f
  packages/sysutils/tz/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7055 [le10] tz: update to 2022f
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#7048 linux (RPi): update to 6.0.5
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-TEMP-dwc_otg-change-FIQ-default-to-off.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 11.0

#7051 [le11] jellyfin: update to 10.8.6 and addon (109)
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7052 [le10] jellyfin: update to 10.8.6 and addon (109)
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7050 Addon fixes
  packages/addons/addon-depends/chrome-depends/chrome-libXrender/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libXtst/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 11.0

#7056 exfatprogs: fix SHA256
  packages/sysutils/exfatprogs/package.mk
Labels: BUGFIX, LE 11.0

#7061 Audio package updates
  packages/audio/flac/package.mk
  packages/audio/fluidsynth/package.mk
  packages/audio/fluidsynth/patches/libsndfile-use-static-libraries.patch
  packages/audio/libopenmpt/package.mk
  packages/audio/taglib/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7059 [le11] Addons updates
  packages/addons/addon-depends/chrome-depends/chrome-libxshmfence/package.mk
  packages/addons/addon-depends/faad2/package.mk
  packages/addons/addon-depends/game-tools/linuxconsoletools/package.mk
  packages/addons/addon-depends/game-tools/linuxconsoletools/patches/linuxconsoletools-0001-disable-building-ffmvforce.patch
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/game-tools/changelog.txt
  packages/addons/tools/game-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7064 [le11] sundtek-mediatv: support new driver version
  packages/addons/driver/sundtek-mediatv/changelog.txt
  packages/addons/driver/sundtek-mediatv/package.mk
Labels: ADDONS, UPDATE, LE 11.0

#7065 [le10] sundtek-mediatv: support new driver version
  packages/addons/driver/sundtek-mediatv/changelog.txt
  packages/addons/driver/sundtek-mediatv/package.mk
Labels: ADDONS, UPDATE, LE 10.0

#7069 Rockchip: various fixes and enhancements
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-6.1.patch
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
  projects/Rockchip/patches/u-boot/0001-rockchip-efuse-add-support-for-RK322x-non-secure-efu.patch
  projects/Rockchip/patches/u-boot/0001-u-boot-add-efuse-drivers-for-RK3288-and-RK3328.patch
  projects/Rockchip/patches/u-boot/0002-rockchip-efuse-add-support-for-RK3328-non-secure-efu.patch
  projects/Rockchip/patches/u-boot/0003-arm-dts-enable-efuse-for-RK3288.patch
  projects/Rockchip/patches/u-boot/0003-u-boot-rockchip-rk3288-switch-bootorder.patch
  projects/Rockchip/patches/u-boot/0004-rockchip-rk3328-Set-VOP-QoS-to-high-priority.patch
  projects/Rockchip/patches/u-boot/0005-rockchip-rk3288-Pick-SD-card-as-first-boot-device.patch
  projects/Rockchip/patches/u-boot/0006-Rockchip-rk3399-evb-Don-t-initalize-i2c-bus-in-SPL.patch
Labels: BUGFIX, IMPROVEMENT, ROCKCHIP, LE 11.0
