Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-12, with the labels that each got.

#7177 linux: update to 6.0.y
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#7197 mesa: drop upstreamed Samsung patch in 22.3.0
  projects/Samsung/patches/mesa/panfrost-0001-panfrost-enable-Mali-T628-support.patch
Labels: BUGFIX, PATCH, SAMSUNG, LE 11.0

#7193 Vulkan update to 1.3.236
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7185 [le11] jellyfin: update to 10.8.8 and addon (111)
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7195 Packages updates
  packages/audio/wavpack/package.mk
  packages/compress/xz/package.mk
  packages/devel/cmake/package.mk
  packages/devel/swig/package.mk
  packages/multimedia/libass/package.mk
  packages/sysutils/pciutils/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7198 ffmpeg: clean up & change license to GPL-3.0-only
  packages/multimedia/ffmpeg/package.mk
Labels: CLEANUP, LE 11.0

#7190 kodi: fix build with mesa 22.3.0
  packages/mediacenter/kodi/patches/kodi-100.01.fix-mesa-22.3.0-build.patch
Labels: BUGFIX, GENERIC, LE 11.0

#7200 Intel Graphics updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
  packages/multimedia/media-driver/patches/1550.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#7196 linux: update to 6.0.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-6.1.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#7186 [le10] jellyfin: update to 10.8.8 and addon (111)
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7172 [le10] btrfs-progs: update to 6.0.2 and addon (111)
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7194 support early stage host package builds with ccache from buildhost
  config/functions
  config/path
  packages/devel/ccache/package.mk
  packages/devel/make/package.mk
  packages/readme.md
  scripts/build
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#7202 update to ccache 4 and support building early package with local ccache
  config/options
  packages/compress/zlib/package.mk
  packages/compress/zstd/package.mk
  packages/devel/ccache/package.mk
  packages/devel/cmake/package.mk
  packages/devel/gettext/package.mk
  packages/devel/pkg-config/package.mk
Labels: IMPROVEMENT, UPDATE, BUILDSYSTEM, PACKAGE, LE 11.0

#7204 options: automatically use ccache on build host if it's available
  config/options
  config/show_config
  distributions/LibreELEC/options
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#7208 Gstreamer update to 1.21.3
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7215 scripts/build: update TRACE_BUILD_TIMING
  scripts/build
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#7212 Minor package updates
  packages/multimedia/SDL2/package.mk
  packages/sysutils/usbutils/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7216 Python3: update to 3.11.1
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/Python3-0401-fix-Mark-new-interpreters-and-threads-as-non-static.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7211 Python3: update to buildroot 3.11.0 patches
  packages/lang/Python3/patches/0001-Make-the-build-of-pyc-files-conditional.patch
  packages/lang/Python3/patches/0002-Disable-buggy_getaddrinfo-configure-test-when-cross-.patch
  packages/lang/Python3/patches/0003-Add-infrastructure-to-disable-the-build-of-certain-e.patch
  packages/lang/Python3/patches/0004-Adjust-library-header-paths-for-cross-compilation.patch
  packages/lang/Python3/patches/0005-Don-t-look-in-usr-lib-termcap-for-libraries.patch
  packages/lang/Python3/patches/0006-Don-t-add-multiarch-paths.patch
  packages/lang/Python3/patches/0007-Abort-on-failed-module-build.patch
  packages/lang/Python3/patches/0008-Serial-ioctl-workaround.patch
  packages/lang/Python3/patches/0009-Do-not-adjust-the-shebang-of-Python-scripts-for-cros.patch
  packages/lang/Python3/patches/0010-Misc-python-config.sh.in-ensure-sed-invocations-only.patch
  packages/lang/Python3/patches/0011-Add-an-option-to-disable-pydoc.patch
  packages/lang/Python3/patches/0012-Add-an-option-to-disable-lib2to3.patch
  packages/lang/Python3/patches/0013-Add-option-to-disable-the-sqlite3-module.patch
  packages/lang/Python3/patches/0014-Add-an-option-to-disable-the-tk-module.patch
  packages/lang/Python3/patches/0015-Add-an-option-to-disable-the-curses-module.patch
  packages/lang/Python3/patches/0016-Add-an-option-to-disable-expat.patch
  packages/lang/Python3/patches/0017-Add-an-option-to-disable-CJK-codecs.patch
  packages/lang/Python3/patches/0018-Add-an-option-to-disable-NIS.patch
  packages/lang/Python3/patches/0019-Add-an-option-to-disable-unicodedata.patch
  packages/lang/Python3/patches/0020-Add-an-option-to-disable-IDLE.patch
  packages/lang/Python3/patches/0021-Add-an-option-to-disable-decimal.patch
  packages/lang/Python3/patches/0022-Add-an-option-to-disable-the-ossaudiodev-module.patch
  packages/lang/Python3/patches/0023-Add-an-option-to-disable-openssl-support.patch
  packages/lang/Python3/patches/0024-Add-an-option-to-disable-the-readline-module.patch
  packages/lang/Python3/patches/0025-Add-options-to-disable-zlib-bzip2-and-xz-modules.patch
  packages/lang/Python3/patches/0026-python-config.sh-don-t-reassign-prefix.patch
  packages/lang/Python3/patches/0027-Add-an-option-to-disable-uuid-module.patch
  packages/lang/Python3/patches/0029-configure.ac-fixup-CC-print-multiarch-output-for-mus.patch
  packages/lang/Python3/patches/0030-Add-an-option-to-disable-the-berkeleydb-module.patch
  packages/lang/Python3/patches/0031-lib-crypt-uClibc-ng-doesn-t-set-errno-when-encryptio.patch
Labels: PATCH, LE 11.0

#7221 pvr.nextpvr: update 19.0.5-Matrix to 19.0.6-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7219 Minor package updates
  packages/addons/addon-depends/go/package.mk
  packages/devel/flatbuffers/package.mk
  packages/devel/pcre2/package.mk
  packages/graphics/jasper/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7218 glslang: update to 11.13.0
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7206 [le11] proftpd: update to 1.3.8 and addon (1)
  packages/addons/service/proftpd/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7213 [le11] syncthing: update to 1.22.2 and addon (1)
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7214 [le10] syncthing: update to 1.22.2 and addon (123)
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7220 Vulkan: update to 1.3.237
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7205 kodi: update to Nexus 20.0 RC 1
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.26-disable-internal-texturepacker.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7210 X11 updates
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
  packages/addons/addon-depends/chrome-depends/libXScrnSaver/package.mk
  packages/addons/addon-depends/chrome-depends/libXft/package.mk
  packages/addons/addon-depends/chrome-depends/libxss/package.mk
  packages/x11/app/xkbcomp/package.mk
  packages/x11/app/xrandr/package.mk
  packages/x11/lib/libICE/package.mk
  packages/x11/lib/libXau/package.mk
  packages/x11/lib/libXcomposite/package.mk
  packages/x11/lib/libXdamage/package.mk
  packages/x11/lib/libfontenc/package.mk
  packages/x11/lib/libxkbfile/package.mk
  packages/x11/lib/libxshmfence/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7106 X11: build shared and/or enable position independent code (pic)
  packages/x11/lib/libICE/package.mk
  packages/x11/lib/libSM/package.mk
  packages/x11/lib/libXcomposite/package.mk
  packages/x11/lib/libXdamage/package.mk
  packages/x11/lib/libXfixes/package.mk
  packages/x11/lib/libXi/package.mk
  packages/x11/lib/libXrender/package.mk
  packages/x11/lib/libXtst/package.mk
  packages/x11/lib/libxshmfence/package.mk
Labels: IMPROVEMENT, LE 11.0

#7227 pipewire: update to 0.3.62
  packages/audio/pipewire/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7223 systemd: update to 252.3
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7224 nss: update to 3.86
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7225 [le11] rsyslog: update to 8.2212.0 and addon (1)
  packages/addons/addon-depends/rsyslog-depends/libfastjson/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblogging/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblognorm/package.mk
  packages/addons/addon-depends/rsyslog-depends/librelp/package.mk
  packages/addons/service/rsyslog/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7235 various: decommission unused packages
  packages/multimedia/SDL2/package.mk
  packages/x11/lib/libXmu/package.mk
Labels: PACKAGE, CLEANUP, LE 11.0

#7231 linux: enable and unify VLAN_8021Q support over all projects/devices
  projects/Allwinner/linux/linux.aarch64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: FEATURE, BACKPORT DONE, KERNEL, LE 11.0

#7234 mariadb: update to 10.10.2 and addon (1)
  packages/addons/service/mariadb/package.mk
  packages/devel/pcre2/patches/libpcre2-pcre2posix-header.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7232 audiodecoder.fluidsynth: update 20.0.1-Nexus to 20.2.1-Nexus
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7238 visualization.pictureit: update 20.0.0-Nexus to 20.2.0-Nexus
  packages/mediacenter/kodi-binary-addons/visualization.pictureit/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7233 visualization.fishbmc: update 20.1.0-Nexus to 20.2.0-Nexus
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7241 linux (RPi): update to 6.1
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#7243 Fix Chrome addon build due to file name changes bz2 to xz
  packages/addons/addon-depends/chrome-depends/chrome-libXcomposite/package.mk
  packages/addons/addon-depends/chrome-depends/chrome-libXdamage/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 11.0

#7244 Package updates
  packages/audio/wireplumber/package.mk
  packages/compress/libarchive/package.mk
  packages/debug/strace/package.mk
  packages/devel/pcre2/package.mk
  packages/devel/pcre2/patches/libpcre2-pcre2posix-header.patch
Labels: BUGFIX, UPDATE, PACKAGE, LE 11.0

#7230 snapserver: update shairport-sync to 4.1.1 and addon (1)
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/service/snapserver/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#7131 systemd: remove other notused systemd units
  distributions/LibreELEC/kernel_options
  packages/sysutils/systemd/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: PACKAGE, CLEANUP, LE 11.0

#7246 X11 updates
  packages/addons/addon-depends/chrome-depends/libXft/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7251 shared-mime-info: update to 2.2
  packages/devel/shared-mime-info/package.mk
  packages/devel/shared-mime-info/patches/migrate-from-custom-itstool-to-builtin-msgfmt-for-creating-translated-XML.patch
  packages/devel/shared-mime-info/patches/shared-mime-info-999.01-disable-spec-generation.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7222 elfutils: add autoconf and automake to :host depends
  packages/devel/elfutils/package.mk
Labels: BUGFIX, BUILDSYSTEM, PACKAGE, LE 11.0

#7242 glslang: updated for target build
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/glslang/patches/glslang-100.01-build-static-spirv-tools.patch
Labels: IMPROVEMENT, PACKAGE, CLEANUP, LE 11.0

#7252 mesa: update to 22.3.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7259 rust: update to 1.66.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7253 qemu and boost package updates
  packages/devel/boost/package.mk
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7247 xz: update to 5.4.0
  packages/compress/xz/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7258 xf86-video-nvidia: update to 470.161.03
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.0.patch
Labels: PACKAGE, CLEANUP, GENERIC, LE 11.0

#7217 config/show_config: minor clean up
  config/show_config
Labels: CLEANUP, LE 11.0

#7263 Miscellaneous package updates
  packages/audio/pipewire/package.mk
  packages/devel/mpc/package.mk
  packages/graphics/tiff/package.mk
  packages/graphics/tiff/patches/tiff-0001-only-build-library.patch
  packages/tools/nano/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7250 nlohmann-json: use cmake toolchain
  packages/textproc/nlohmann-json/package.mk
Labels: BUGFIX, PACKAGE, LE 11.0

#7268 wlan firmwares
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
  packages/linux-firmware/wlan-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7254 kernel-firmware: update to 20221214
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, KERNEL, LE 11.0

#7271 vulkan-loader: add libXrandr dependency to fix X11 build
  packages/graphics/vulkan/vulkan-loader/package.mk
Labels: BUGFIX, LE 11.0

#7255 weston: update to 11.0.1
  packages/wayland/weston/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7262 X11 and wayland updates
  packages/addons/addon-depends/libvncserver/package.mk
  packages/multimedia/nvidia-vaapi-driver/package.mk
  packages/wayland/util/bemenu/package.mk
  packages/x11/lib/libSM/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7275 kodi: update to 20.0rc2-Nexus
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.01.fix-mesa-22.3.0-build.patch
  packages/mediacenter/kodi/patches/kodi-999.01-PR22291-fix-mesa-22.3.0-build.patch
Labels: UPDATE, LE 11.0

#7274 linux (all projects): build hid-nintendo module
  distributions/LibreELEC/kernel_options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: IMPROVEMENT, KERNEL, LE 11.0

#7276 systemd: update to 252.4
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7273 minisatip: update to 1.2.49 and addon (113)
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7272 minisatip: update to 1.2.49 and addon (1)
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7270 iwd: update to 2.1 and ethtool: update to 6.1
  packages/network/ethtool/package.mk
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7114 tvheadend42: SAT>IP client: UPnP header field names are case insensitive
  packages/addons/service/tvheadend42/patches/tvheadend42-06-satip-upnp-fix.patch
Labels: ADDONS, PACKAGE, PATCH, LE 11.0

#7264 [le11] Addon package updates
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/libexif/package.mk
  packages/addons/addon-depends/libvpx/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/libzip/patches/libzip-001-fix-typo-which-prevents-expansion-of-libdir-in-pkgconfig.patch
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/addon-depends/pngquant/package.mk
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/system-tools-depends/hddtemp/package.mk
  packages/addons/addon-depends/system-tools-depends/hddtemp/patches/hddtemp-0001-add-missing-default-Language-PO-header-field.patch
  packages/addons/addon-depends/system-tools-depends/hddtemp/patches/hddtemp-0002-Allow-building-with-gettext-0-20.patch
  packages/addons/addon-depends/system-tools-depends/hddtemp/patches/hddtemp-nvme.patch
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/addon-depends/tinc-depends/miniupnpc/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/inadyn/package.mk
  packages/addons/service/minidlna/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/service/tinc/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7249 [le10] dotnet-runtime: Update ASP.NET 6.x to 6.0.12 and addon (124)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7201 linux: update to 5.10.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, LE 10.0, GENERIC

#7256 mesa: enable/depend on libglvnd only for nvidia drivers
  packages/graphics/mesa/package.mk
Labels: IMPROVEMENT, CLEANUP, LE 11.0

#7226 [le10] rsyslog: update to 8.2212.0 and addon (114)
  packages/addons/addon-depends/rsyslog-depends/libfastjson/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblogging/package.mk
  packages/addons/addon-depends/rsyslog-depends/liblognorm/package.mk
  packages/addons/addon-depends/rsyslog-depends/librelp/package.mk
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7266 docker: update to 23.0.0-beta.1 and addon (2)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/source/bin/docker-config
  packages/addons/service/docker/source/config/docker.conf
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7283 [le11] package updates
  packages/addons/tools/jre.zulu/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/graphics/harfbuzz/patches/harfbuzz-100.01-fix-meson-icu-opts.patch
  packages/multimedia/libbluray/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7285 [le11] Addon updates
  packages/addons/tools/btrfs-progs/package.mk
  packages/graphics/libraw/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.raw/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7281 vdr-addon: update to 2.6.3 and addon (2)
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7284 X11 updates
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7288 [le11] cacert.pem: update to 2022-12-03
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, BACKPORT DONE, LE 11.0

#7289 [le10] cacert.pem: update to 2022-12-03
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, LE 10.0

#7298 amlogic-boot-fip: update to 36f258b8 (2022-12-24)
  packages/tools/amlogic-boot-fip/package.mk
Labels: AMLOGIC, LE 11.0

#7296 glibc: update enable-kernel=6.0.0
  packages/devel/glibc/package.mk
Labels: CLEANUP, LE 11.0

#7293 glib: update to 2.75.1
  packages/devel/glib/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7291 multimedia-tools: update to mediainfo 22.12 and addon (2)
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libzen/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7292 mimalloc: update to 2.0.9
  packages/devel/mimalloc/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6649 RTW88: Add support for USB/SDIO variants
  packages/linux/patches/default/linux-121-rtw88-linux-next-6-2.patch
  packages/linux/patches/default/linux-122-rtw88-test-20220611.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/patches/linux/0100-tanix-mmc-rtw88-keep-power-in-suspend.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: PATCH, ALLWINNER, SAMSUNG, GENERIC, LE 11.0

#7297 mold: fix pthread DSO build error
  packages/devel/mold/package.mk
  packages/devel/tbb/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 11.0

#7280 mesa: enable video-codecs
  packages/graphics/mesa/package.mk
Labels: BUGFIX, FEATURE, HELP WANTED, GENERIC, LE 11.0

#7116 wlroots 0.16.1 and 1.8 sway updates
  packages/wayland/compositor/sway/package.mk
  packages/wayland/compositor/sway/patches/sway-100.02-allow-running-as-root.patch
  packages/wayland/compositor/sway/patches/sway-100.03-do-not-use-git-version.patch
  packages/wayland/lib/hwdata/package.mk
  packages/wayland/lib/wlroots/package.mk
  packages/wayland/util/swaybg/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7279 linux: update to 6.1.y
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#7302 docker: update to 23.0.0-rc.1 and addon (3)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/docker/moby/patches/moby-001-user-addon-storage-location.patch
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7007 [le10] dotnet-runtime: Drop ASP.NET Core Runtimes 3.1 and 5.0 and addon (125)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet5-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/dotnet3-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/dotnet5-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, CLEANUP, LE 10.0

#7290 kodi: update to 19.5
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, LE 10.0

#7307 systemd: add xaomi remote to 70-local-keyboard.hwdb
  packages/sysutils/systemd/hwdb.d/70-local-keyboard.hwdb
Labels: IMPROVEMENT, HARDWARE, LE 10.0

#7309 sqlite: update to 3.40.1
  packages/databases/sqlite/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6728 vdr-plugin-restfulapi: update to 0.2.6.6
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-restfulapi/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7012 [le10] NextPVR: add new addon package
  licenses/NextPVR.txt
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/nextpvr/icon/icon.png
  packages/addons/service/nextpvr/package.mk
  packages/addons/service/nextpvr/source/addon.py
  packages/addons/service/nextpvr/source/bin/nextpvr-downloader
  packages/addons/service/nextpvr/source/bin/nextpvr.start
  packages/addons/service/nextpvr/source/default.py
  packages/addons/service/nextpvr/source/resources/Language/English/strings.po
  packages/addons/service/nextpvr/source/resources/settings.xml
  packages/addons/service/nextpvr/source/system.d/service.nextpvr.service
Labels: IMPROVEMENT, ADDONS, PACKAGE, LE 10.0

#7314 kernel_options: add CONFIG_NINTENDO_FF=y
  distributions/LibreELEC/kernel_options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, LE 11.0

#7312 tvheadend43: update to c9a156a
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7313 mesa: update to 22.3.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7267 Boost 1.81.0 fixes
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-03_boost.patch
  packages/addons/service/mpd/patches/mpd-1682.patch
Labels: BUGFIX, ADDONS, PATCH, LE 11.0

#7319 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7320 [le11] Fix Addons dependencies
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 11.0
