Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-09, with the labels that each got.

#6860 samba: fix dcerpc and srvsvc browsing
  packages/network/samba/package.mk
Labels: BUGFIX, PACKAGE, LE 11.0

#6840 Wayland and X11 updates
  packages/sysutils/libevdev/package.mk
  packages/wayland/lib/fcft/package.mk
  packages/wayland/lib/tllist/package.mk
  packages/wayland/util/foot/package.mk
  packages/wayland/weston/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-0001-dont-require-util-macros.patch
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-995.01-2.36-fix-xkb-base-path.patch
  packages/x11/lib/libXau/package.mk
  packages/x11/lib/libXfont2/package.mk
  packages/x11/lib/libfontenc/package.mk
  packages/x11/lib/libxcvt/package.mk
  packages/x11/proto/xorgproto/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6859 kodi: update to latest master
  packages/mediacenter/kodi/package.mk
  projects/RPi/patches/kodi/kodi-002-PR20006-gbm-colorspace-and-bits-per-pixel.patch
  projects/RPi/patches/kodi/kodi-002-set-max-bpc-for-high-bit-depth-videos.patch
  projects/RPi/patches/kodi/kodi-003-add-colourspace-connector-property.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6705 [le11] scripts/checkdeps: add EndeavourOS & fix Java
  scripts/checkdeps
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#6865 Miscellaneous package updates
  packages/graphics/libheif/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/libssh/package.mk
  packages/python/devel/Mako/package.mk
  packages/python/devel/ninja/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6867 More migrate to cmake builds
  packages/graphics/libde265/package.mk
  packages/graphics/libde265/patches/libde265-0001-275-Add-CMake-option-ENABLE-SDL.patch
  packages/graphics/libde265/patches/libde265-0002-Add-CMake-option-ENABLE-ENCODER.patch
  packages/graphics/libheif/package.mk
  packages/graphics/tiff/package.mk
  packages/graphics/tiff/patches/tiff-0001-only-build-library.patch
Labels: BUILDSYSTEM, PACKAGE, CLEANUP, LE 11.0

#6873 minor package updates
  packages/devel/autoconf-archive/package.mk
  packages/devel/autoconf-archive/patches/autoconf-archive-0001-AX_CC_MAXOPT-Fix-nvhpc-case.patch
  packages/devel/libfmt/package.mk
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6872 firmware-imx: update to 8.17 (iMX8 updates)
  packages/linux-firmware/firmware-imx/package.mk
Labels: UPDATE, PACKAGE, NXP, LE 11.0

#6863 zip: fix LARGE_FILE_SUPPORT check
  packages/compress/zip/package.mk
Labels: BUGFIX, LE 11.0

#6792 linux: update to 5.19.y
  packages/linux/package.mk
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0009-firmware-arm_scpi-Support-unidirectional-mailbox-cha.patch
  projects/Allwinner/patches/linux/0098-media-hantro-sunxi-Enable-10-bit-decoding.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0041-drm-imx-dcss-add-component-framework-functionality.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
  projects/Samsung/linux/linux.arm.conf
  projects/Samsung/patches/linux/samsung-0014-FROMLIST-v3-tools-build-Add-feature-test-for-init_di.patch
  projects/Samsung/patches/linux/samsung-0015-FROMLIST-v3-tools-build-Don-t-display-disassembler-f.patch
  projects/Samsung/patches/linux/samsung-0016-FROMLIST-v3-tools-include-add-dis-asm-compat.h-to-ha.patch
  projects/Samsung/patches/linux/samsung-0017-FROMLIST-v3-tools-perf-Fix-compilation-error-with-ne.patch
  projects/Samsung/patches/linux/samsung-0018-FROMLIST-v3-tools-bpf_jit_disasm-Fix-compilation-err.patch
  projects/Samsung/patches/linux/samsung-0019-FROMLIST-v3-tools-bpf_jit_disasm-Don-t-display-disas.patch
  projects/Samsung/patches/linux/samsung-0020-FROMLIST-v3-tools-bpftool-Fix-compilation-error-with.patch
  projects/Samsung/patches/linux/samsung-0021-FROMLIST-v3-tools-bpftool-Don-t-display-disassembler.patch
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6849 ffmpeg: sync with kodi
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/dav1d/ffmpeg-support-dav1d-1-0-0.patch
  packages/multimedia/ffmpeg/patches/v4l2-drmprime/ffmpeg-001-v4l2-drmprime.patch
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  tools/ffmpeg/gen-patches.sh
Labels: UPDATE, PACKAGE, PATCH, LE 11.0

#6874 [le10] openssl (1.1.1q) and cacert.pem (2022-07-19) update
  packages/security/openssl/cert/cacert.pem
  packages/security/openssl/package.mk
Labels: UPDATE, LE 10.0

#6876 syncthing: update to 1.21.0 and addon (121)
  packages/addons/addon-depends/go/package.mk
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#6881 pvr.hts: update 20.3.0-Nexus to 20.4.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6878 iwd: update to 1.30
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6877 samba: update to 4.16.5
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6879 Python3: update to 3.9.14
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6884 rsync: update to 3.2.6 and drop upstreamed patch
  packages/network/rsync/package.mk
  packages/network/rsync/patches/rsync-0001-don-t-set-RSYNC-GITVER.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6883 [le11] kodi: update to 20.0a3-Nexus
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6791 linux: update to 5.10.y
  packages/linux/package.mk
  projects/Allwinner/patches/linux/crust/0036-firmware-arm_scpi-Support-unidirectional-mailbox-cha.patch
Labels: KERNEL, ALLWINNER, ROCKCHIP, LE 10.0, GENERIC

#6836 [le10] btrfs-progs: update to 5.19 and addon to (109)
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6880 [le11] ffmpeg: fix version output
  packages/multimedia/ffmpeg/package.mk
Labels: BUGFIX, LE 11.0

#6889 samba: update to 4.17.0
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-100-4-16-build-from-4-17.patch
  packages/network/samba/patches/samba-951-no-man-4.16.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6891 [LE10] Backport: LibreELEC-settings: update to d6c41d4
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: ADDONS, UPDATE, LE 10.0

#6893 [le11] vkmark: update to git 30d2cd3
  packages/graphics/vulkan/vkmark/package.mk
  packages/graphics/vulkan/vkmark/patches/vkmark-999.01-PR47-drop-the-vkCreateDmaBufImageINTEL-extension.patch
  packages/graphics/vulkan/vkmark/patches/vkmark-999.01-drop-dependency-on-vkCreateDmaBufImageINTEL.patch
Labels: BUGFIX, LE 11.0

#6888 kernel-firmware: update to 20220913
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6748 pipewire: update to 0.3.58
  packages/audio/pipewire/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6896 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.freebox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.starburst/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#4406 [le11] build: LDFLAGS cleanup
  config/arch.aarch64
  config/arch.arm
  config/arch.x86_64
Labels: WORK IN PROGRESS, BUILDSYSTEM, CLEANUP, LE 11.0

#6899 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6900 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6898 fix ccache handling of kodi and gcc:bootstrap
  packages/lang/gcc/package.mk
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, IMPROVEMENT, BUILDSYSTEM, LE 11.0

#6903 [le10] fix ccache handling of kodi and gcc:bootstrap
  packages/lang/gcc/package.mk
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, IMPROVEMENT, BUILDSYSTEM, LE 10.0

#6904 linux: add ncurses as target depend
  packages/linux/package.mk
Labels: BUGFIX, PACKAGE, LE 11.0

#6895 nss and nspr update
  packages/security/nspr/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6894 Vulkan: update to 1.3.228
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6906 kodi: update to 9f7e9e0
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, LE 11.0

#6907 mesa: update to 22.2.0
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6909 Bump PVR/inputstream binary addons
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.freebox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, LE 11.0

#6911 nghttp2: update to 1.50.0
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6913 [le11] mariadb: update to 10.9.3 and addon (107)
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/source/bin/mariadb.start
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6908 [le11] scripts/extract: force overwrite file on unziping files
  scripts/extract
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#6917 mesa: update panfrost: enable Mali T628 support patch for mesa 22.
  projects/Samsung/patches/mesa/panfrost-0001-panfrost-enable-Mali-T628-support.patch
Labels: BUGFIX, PATCH, SAMSUNG, LE 11.0

#6919 mariadb: add libfmt as target depend
  packages/addons/service/mariadb/package.mk
Labels: ADDONS, PACKAGE, LE 11.0

#6912 pvr.stalker: update 19.0.3-Matrix to 19.0.4-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6914 [le11] linker fix-ups for Kodi and various other packages
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/devel/libfmt/package.mk
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/network/samba/package.mk
  packages/sysutils/busybox/package.mk
  packages/sysutils/fuse/package.mk
Labels: BUGFIX, IMPROVEMENT, LE 11.0

#6920 bluez: update to 5.65 and drop upstream patch
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-22-Fix-gatt-db-attribute-get-index.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6925 [le11] tz: update to 2022d
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6921 package updates and tidy ups
  packages/debug/edid-decode/package.mk
  packages/devel/configtools/package.mk
  packages/devel/libcap/package.mk
  packages/lang/lua54/package.mk
  packages/python/devel/Mako/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6924 [le10] tz: update to 2022d
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#6926 [le11] jellyfin: update to 10.8.5 and dotnet: update to 6.0.9
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6927 [le10] jellyfin: update to 10.8.5 and dotnet: update to 6.0.9
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6931 pvr.mythtv: update 20.2.7-Nexus to 20.3.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6915 buildsystem: add support for reporting build timing details
  config/functions
  scripts/build
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#6932 gnutls: update to 3.7.8
  packages/security/gnutls/package.mk
Labels: UPDATE, PACKAGE, LE 11.0
