Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-06, with the labels that each got.

#6552 pvr.mythtv: update 20.2.5-Nexus to 20.2.7-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6554 mesa: update to 22.1.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6569 pvr.vdr.vnsi: update 20.2.2-Nexus to 20.2.3-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6557 libdrm: update to 2.4.111
  packages/graphics/libdrm/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6566 Minor package updates
  packages/graphics/glu/package.mk
  packages/multimedia/SDL2/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6565 [le11] Development Tool package updates
  packages/addons/addon-depends/go/package.mk
  packages/python/devel/meson/package.mk
  packages/python/devel/waf/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6562 [le11] repository.linuxserver.docker: new style
  packages/addons/repository/repository.linuxserver.docker/changelog.txt
  packages/addons/repository/repository.linuxserver.docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6567 [le11] network-tools: update addon to (114)
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6563 [le11] docker: update addon to (135)
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6555 Vulkan package updates
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6556 openvpn: update to 2.5.7
  packages/network/openvpn/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6558 [le11] btrfs-progs: update to 5.18
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6560 [le11] Update system-tools to addon (130)
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/oniguruma/package.mk
  packages/addons/addon-depends/system-tools-depends/evtest/package.mk
  packages/addons/addon-depends/system-tools-depends/htop/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/sdparm/package.mk
  packages/addons/addon-depends/system-tools-depends/smartmontools/package.mk
  packages/addons/addon-depends/system-tools-depends/st/package.mk
  packages/addons/addon-depends/system-tools-depends/st/patches/st-001-le_fixes.patch
  packages/addons/addon-depends/system-tools-depends/st/patches/st-002-scrollback-20200419-72e3f6c.patch
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/addons/tools/system-tools/source/bin/7z
  packages/addons/tools/system-tools/source/bin/7za
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6585 Minor package updates
  packages/network/iwd/package.mk
  packages/sysutils/systemd/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6573 [le11] wireless-regdb: update to 2022.06.06
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6572 [le11] btrfs-progs: update to 5.18.1
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6576 linux (RPi): update to 5.15.45-6b945e6
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-010-pr5052.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, KERNEL, LE 11.0

#6583 Revert "automake: fix race in parallel builds"
  packages/devel/automake/patches/automake-02-build-fix-race-in-parallel-builds.patch
Labels: BUGFIX, PATCH, LE 11.0

#6546 pulseaudio: update to 16.0
  packages/audio/pulseaudio/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6586 [le10] linux (RPi): update to 5.10.110-427c6bd
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-test-delay-cec_phys_addr_invalidate.patch
  packages/linux/patches/raspberrypi/linux-999.03-fix-dirty-pipe.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 10.0

#6587 [le10] ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, PATCH, LE 10.0

#6537 linux: update to 5.18.y
  distributions/LibreELEC/kernel_options
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/RTL8812AU/patches/RTL8812AU-0001-fix-5-18.patch
  packages/linux/package.mk
  packages/linux/patches/default/fs-ntfs3-since-5-15.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6591 [LE11] Allwinner: linux: fix HEVC patch
  projects/Allwinner/patches/linux/0019-media-cedrus-hevc-tiles-hack.patch
Labels: BUGFIX, MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 11.0

#6593 X11/Wayland updates
  packages/wayland/libinput/package.mk
  packages/x11/lib/libX11/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6597 inputstream.ffmpegdirect: update 19.0.1-Matrix to 19.0.2-Matrix
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6594 pvr.vdr.vnsi: update 20.2.3-Nexus to 20.3.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6596 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6579 systemd: use unified cgroups
  packages/sysutils/systemd/package.mk
Labels: CLEANUP, LE 11.0

#6598 [le11] Minor fixes
  packages/addons/tools/system-tools/package.mk
  projects/Generic/filesystem/usr/share/bootloader/canupdate.sh
Labels: BUGFIX, LE 11.0

#6582 [le11] docker: update addon to (137)
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 11.0

#6599 Vulkan updates to 1.3.217
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6603 Jellyfin release 10.8.0
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/bin/jellyfin-downloader
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6600 llvm: update to 14.0.5
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6604 [le11] Wayland updates & fixes
  packages/graphics/nvidia/package.mk
  packages/wayland/lib/seatd/system.d/seatd.service
Labels: BUGFIX, UPDATE, MERGE ¯\_(ツ)_/¯ 💥, GENERIC

#6605 setxkbmap: add xrandr to PKG_DEPENDS_TARGET
  packages/x11/app/setxkbmap/package.mk
Labels: BUGFIX, BUILDSYSTEM, GENERIC, LE 11.0

#6608 inputstream.adaptive: update 19.0.5-Matrix to 19.0.6-Matrix
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6601 linux: update to 5.18.y
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6611 pvr.mythtv: update 19.0.10-Matrix to 19.0.11-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6610 mesa: update to 22.1.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6248 Feature/addons service snapserver enhancements
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/package.mk
  packages/addons/service/snapserver/snapweb/favicon.ico
  packages/addons/service/snapserver/snapweb/launcher-icon.png
  packages/addons/service/snapserver/snapweb/mute_icon.png
  packages/addons/service/snapserver/snapweb/play.png
  packages/addons/service/snapserver/snapweb/speaker_icon.png
  packages/addons/service/snapserver/snapweb/stop.png
  packages/addons/service/snapserver/source/bin/snapserver.start
  packages/addons/service/snapserver/source/resources/language/English/strings.po
  packages/addons/service/snapserver/source/resources/settings.xml
  packages/addons/service/snapserver/source/settings-default.xml
Labels: IMPROVEMENT, ADDONS, BACKPORT REQD, PACKAGE, LE 11.0

#6361 update to glibc 2.35 and binutils 2.38
  packages/devel/binutils/package.mk
  packages/devel/binutils/patches/nodocs.patch
  packages/devel/glibc/package.mk
  packages/devel/glibc/patches/arm/glibc-add-support-for-SHT_RELR-sections.patch
  packages/devel/glibc/patches/arm/glibc-tls-libwidevinecdm.so-since-4.10.2252.0-has-TLS-with.patch
  packages/devel/glibc/patches/glibc-0001-linux-fix-missing-convert-scm-timestamps-BZ-28860.patch
  packages/devel/glibc/patches/glibc-fix-dns-with-broken-routers.patch
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6607 linux: update to 5.10.y
  packages/linux-drivers/mali-midgard/package.mk
  packages/linux/package.mk
  packages/wayland/wayland/package.mk
  projects/Allwinner/patches/linux/0054-media-cedrus-Fix-H265-aux-buffer-size.patch
  projects/Allwinner/patches/linux/0056-media-cedrus-h264-Fix-neighbour-info-buffer-size.patch
  projects/Rockchip/patches/linux/default/linux-0010-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-2001-v4l-wip-rkvdec-hevc.patch
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, LE 10.0, SAMSUNG, GENERIC

#6616 Network package updates
  packages/linux-drivers/RTL8192DU/package.mk
  packages/network/ethtool/package.mk
  packages/network/libnftnl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6613 gstreamer update to 1.20.3
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6625 strace: update to 5.18
  packages/debug/strace/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6623 Multimedia package updates
  packages/multimedia/aom/package.mk
  packages/multimedia/libaacs/package.mk
  packages/multimedia/libass/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6618 packages/devel updates
  packages/devel/boost/package.mk
  packages/devel/fribidi/package.mk
  packages/devel/libaio/package.mk
  packages/devel/libcap/package.mk
  packages/devel/spdlog/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6619 nettle: update to 3.8 and HTTPS
  packages/security/nettle/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6621 [le11] tinc: update to 1.1pre18
  packages/addons/service/tinc/changelog.txt
  packages/addons/service/tinc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6622 [le10] tinc: update to 1.1pre18
  packages/addons/service/tinc/changelog.txt
  packages/addons/service/tinc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6617 libfmt: update to 8.1.1
  packages/devel/libfmt/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6626 binutils-yyy: do not build documentation
  packages/devel/binutils-aarch64/package.mk
  packages/devel/binutils-bpf/package.mk
  packages/devel/binutils-or1k/package.mk
Labels: TOOLCHAIN, LE 11.0

#6615 Audio package updates
  packages/addons/addon-depends/snapcast-depends/alsa-plugins/package.mk
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/espeak-ng/package.mk
  packages/audio/fluidsynth/package.mk
  packages/audio/libopenmpt/package.mk
  packages/audio/libsndfile/package.mk
  packages/audio/libsndfile/patches/libsndfile-add-required-static-libaries-to-pkg-config.patch
  packages/audio/pipewire/package.mk
  packages/audio/speex/package.mk
  packages/audio/speexdsp/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6627 rsync: fix potentially wrong rolling checksum values on ARM
  packages/network/rsync/patches/rsync-schar-fix-3.2.4.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 11.0

#6632 linux: gzip 64bit kernels on RPi
  packages/linux/package.mk
Labels: IMPROVEMENT, RPi, LE 11.0

#6633 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6636 github: add opencollective sponsorship link
  .github/FUNDING.yml
Labels: DOCUMENTATION

#6637 openssl: update to 3.0.4
  packages/security/openssl/package.mk
  packages/security/openssl/patches/openssl-3-0-4-0001-fix-compile-issues-in-test-v3ext-c-with-no-rfc3779.patch
Labels: UPDATE, PACKAGE, PATCH, LE 11.0

#6628 flac: update to 1.3.4 and HSTS
  packages/audio/flac/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6454 Update samba to 4.16.2
  packages/devel/heimdal/package.mk
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-100-4-16-build-from-4-17.patch
  packages/network/samba/patches/samba-210-4.16-gssapi-h.patch
Labels: UPDATE, PACKAGE, PATCH, LE 11.0

#6510 Revert "compile bpf programs from scratch"
  packages/sysutils/ir-bpf-decoders/package.mk
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-002-enable-bpf-without-clang.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-002-use-bpf-gcc.patch
Labels: BUGFIX, LE 11.0

#6561 [le10] Update system-tools to addon (130)
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/oniguruma/package.mk
  packages/addons/addon-depends/system-tools-depends/evtest/package.mk
  packages/addons/addon-depends/system-tools-depends/htop/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/sdparm/package.mk
  packages/addons/addon-depends/system-tools-depends/smartmontools/package.mk
  packages/addons/addon-depends/system-tools-depends/st/package.mk
  packages/addons/addon-depends/system-tools-depends/st/patches/st-001-le_fixes.patch
  packages/addons/addon-depends/system-tools-depends/st/patches/st-002-scrollback-20200419-72e3f6c.patch
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/addons/tools/system-tools/source/bin/7z
  packages/addons/tools/system-tools/source/bin/7za
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6564 [le10] docker: update addon to (134)
  packages/addons/addon-depends/containerd/package.mk
  packages/addons/addon-depends/libnetwork/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6571 [le11] crust: simplify allow override of BUILDCC
  packages/tools/crust/package.mk
  packages/tools/crust/patches/fix-cc.patch
Labels: PATCH, CLEANUP, LE 11.0

#6639 [LE11] Allwinner: linux: arm: Enable spidev
  projects/Allwinner/linux/linux.arm.conf
Labels: MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 11.0

#6640 [LE10] Allwinner: linux: arm: Enable spidev
  projects/Allwinner/linux/linux.arm.conf
Labels: MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 10.0

#6642 [network] bcm_sta: improve kernel 5.17 patch / connman: 4388028 (1.41+/2022-05-25)
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0600-kernel-5.17-fix.patch
  packages/network/connman/package.mk
Labels: BUGFIX, IMPROVEMENT, LE 11.0

#6631 gdb: Fix ctrl-c handling with gdbserver
  packages/debug/gdb/patches/0001-gdbserver-ctrl-c-handling.patch
Labels: IMPROVEMENT, PATCH, LE 11.0

#6645 inputstream.ffmpegdirect: update 20.2.2-Nexus to 20.2.3-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6646 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6647 kmsxx: add new package providing KMS utilities
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/graphics/kmsxx/package.mk
Labels: FEATURE, PACKAGE, LE 11.0

#6644 llvm: update to 14.0.6
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6648 packages/security
  packages/python/security/pycryptodome/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6650 atf: update to v2.7
  packages/tools/atf/package.mk
  projects/Allwinner/patches/atf/0001-sunxi-Don-t-enable-referenced-regulators.patch
  projects/Allwinner/patches/atf/0002-allwinner-psci-Improve-system-shutdown-reset-sequenc.patch
Labels: UPDATE, PACKAGE, ALLWINNER, LE 11.0

#6651 Build fixes
  packages/addons/addon-depends/qtbase/patches/qtbase-0002-fix-build-with-gcc-11.patch
  packages/addons/addon-depends/qtbase/patches/qtbase-0003-More-build-fixes-for-GCC-11.patch
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: BUGFIX, BUILDSYSTEM, PACKAGE, LE 11.0

#6653 aom: update pkg_url
  packages/multimedia/aom/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, CLEANUP, LE 11.0

#6654 jellyfin: update to 10.8.1
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/bin/jellyfin-downloader
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#6656 [LE10] Allwinner: linux: Enable SPI driver for aarch64
  projects/Allwinner/linux/linux.aarch64.conf
Labels: MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 10.0

#6655 [LE11] Allwinner: linux: Enable SPI driver for aarch64
  projects/Allwinner/linux/linux.aarch64.conf
Labels: MERGE ¯\_(ツ)_/¯ 💥, KERNEL, ALLWINNER, LE 11.0

#6657 Revert "efivar: update to 38"
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
Labels: BUGFIX, ADDONS, UPDATE, PACKAGE, LE 11.0

#6652 Clean up kernel dependencies
  packages/devel/cmake/package.mk
  packages/linux/package.mk
Labels: KERNEL, CLEANUP, LE 11.0

#6641 gmmlib: update to 22.1.4
  packages/multimedia/gmmlib/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6659 mesa: update to 22.1.3
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0
