Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-11, with the labels that each got.

#7073 [le11] jellyfin: update to 10.8.7 and addon (110)
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7074 [le10] jellyfin: update to 10.8.7 and addon (110)
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7058 Update debug packages
  packages/debug/strace/package.mk
  packages/debug/valgrind/package.mk
  packages/debug/valgrind/patches/valgrind-0001-enable-armv8.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7044 samba: update to 4.17.2
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7062 [le10] Addons updates
  packages/addons/addon-depends/faad2/package.mk
  packages/addons/addon-depends/game-tools/linuxconsoletools/package.mk
  packages/addons/addon-depends/game-tools/linuxconsoletools/patches/linuxconsoletools-0001-disable-building-ffmvforce.patch
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
  packages/addons/tools/game-tools/changelog.txt
  packages/addons/tools/game-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7060 Graphics package updates
  packages/graphics/libde265/package.mk
  packages/graphics/libde265/patches/libde265-0001-275-Add-CMake-option-ENABLE-SDL.patch
  packages/graphics/libpng/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7037 linux: update to 5.10.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/patches/linux/0052-WIP-drm-bridge-synopsys-Fix-CEC-not-working-after-power.patch
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, LE 10.0, GENERIC

#7047 linux: update to 6.0.y
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Allwinner/patches/linux/0060-WIP-drm-bridge-synopsys-Fix-CEC-not-working-after-power.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#7076 openssl: update to 3.0.7
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7070 systemd: update to 252
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6853 [le11] NextPVR: add new addon package
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/nextpvr/icon/icon.png
  packages/addons/service/nextpvr/package.mk
  packages/addons/service/nextpvr/source/addon.py
  packages/addons/service/nextpvr/source/bin/nextpvr-downloader
  packages/addons/service/nextpvr/source/bin/nextpvr.start
  packages/addons/service/nextpvr/source/default.py
  packages/addons/service/nextpvr/source/resources/Language/English/strings.po
  packages/addons/service/nextpvr/source/resources/settings.xml
  packages/addons/service/nextpvr/source/system.d/service.nextpvr.service
Labels: IMPROVEMENT, ADDONS, BACKPORT DONE, PACKAGE, LE 11.0

#7078 X package updates
  packages/addons/addon-depends/jre-depends/jre-libXinerama/package.mk
  packages/multimedia/nv-codec-headers/package.mk
  packages/x11/lib/libXext/package.mk
  packages/x11/lib/libXinerama/package.mk
  packages/x11/lib/pixman/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7085 Rust update to 1.65.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#7087 linux (RPi): update to 6.0.6
  packages/linux/package.mk
Labels: BUGFIX, UPDATE, KERNEL, LE 11.0

#7092 Fix broken xkeyboard-config on gbm
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/data/xkeyboard-config/patches/xkeyboard-config-995.01-2.36-fix-xkb-base-path.patch
Labels: BUGFIX, LE 11.0

#7093 gstreamer: update PKG_DEPENDS_TARGET
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: BUGFIX, LE 11.0

#7057 libbpf update to 1.0.1 and patch v4l-utils to support build with libbpf 1.0.1
  packages/devel/libbpf/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-002-support-libbpf-1-0-0.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-003-enable-bpf-without-clang.patch
Labels: UPDATE, PACKAGE, PATCH, LE 11.0

#7080 [le11] nextpvr: update to 6.1.1
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/nextpvr/package.mk
  packages/addons/service/nextpvr/source/addon.py
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#7099 gstreamer: update to 1.21.2
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7096 u-boot: update Amlogic patches for 2022.10 (again)
  projects/Amlogic/patches/u-boot/u-boot-0001-LOCAL-configs-meson64-prevent-stdout-stderr-on-video.patch
  projects/Amlogic/patches/u-boot/u-boot-0002-LOCAL-configs-meson64-remove-amlogic-so-fdtdir-finds.patch
  projects/Amlogic/patches/u-boot/u-boot-0003-LOCAL-board-amlogic-odroid-n2-remove-amlogic-prefix-.patch
  projects/Amlogic/patches/u-boot/u-boot-0004-BACKPORT-arm64-dts-meson-nanopi-k2-readd-PHY-reset-p.patch
  projects/Amlogic/patches/u-boot/u-boot-0005-WIP-ARM-dts-import-WeTek-Hub-Play2-DTs-from-Linux-5..patch
  projects/Amlogic/patches/u-boot/u-boot-0006-WIP-ARM-dts-use-snps-reset-on-WeTek-devices-to-fix-E.patch
  projects/Amlogic/patches/u-boot/u-boot-0007-WIP-boards-amlogic-add-board-files-for-wetek-gxbb-de.patch
  projects/Amlogic/patches/u-boot/u-boot-0008-WIP-boards-amlogic-add-WeTek-Hub-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0009-WIP-boards-amlogic-add-WeTek-Play2-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0010-WIP-ARM-dts-add-support-for-Radxa-Zero2.patch
  projects/Amlogic/patches/u-boot/u-boot-0010-WIP-boards-amlogic-add-video-to-WeTek-Hub.patch
  projects/Amlogic/patches/u-boot/u-boot-0011-WIP-boards-amlogic-add-Radxa-Zero2-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0012-WIP-doc-boards-amlogic-update-for-Radxa-Zero2.patch
  projects/Amlogic/patches/u-boot/u-boot-0013-WIP-ARM-dts-import-Beelink-GT1-DT-from-Linux-5.21.patch
  projects/Amlogic/patches/u-boot/u-boot-0014-WIP-boards-amlogic-add-Beelink-GT1-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0015-WIP-doc-boards-amlogic-update-for-Beelink-GT1.patch
Labels: UPDATE, AMLOGIC, LE 11.0

#7086 Vulkan update to 1.3.233
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7102 systemd: update to 252.1
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7107 chrome-depends: move various packages
  packages/devel/json-glib/package.mk
  packages/devel/shared-mime-info/package.mk
  packages/devel/shared-mime-info/patches/migrate-from-custom-itstool-to-builtin-msgfmt-for-creating-translated-XML.patch
  packages/devel/shared-mime-info/patches/shared-mime-info-999.01-disable-spec-generation.patch
  packages/graphics/gdk-pixbuf/package.mk
  packages/graphics/pango/config/pango.modules
  packages/graphics/pango/config/pangorc
  packages/graphics/pango/package.mk
  packages/textproc/itstool/package.mk
Labels: CLEANUP, LE 11.0

#7103 intel-ucode: update to 20221108
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#7097 [le11] mariadb: update to 10.9.4 and addon (108)
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/source/bin/mariadb.start
  packages/addons/service/mariadb/source/bin/mariadb.stop
  packages/addons/service/mariadb/source/config/my.cnf
  packages/addons/service/mariadb/source/system.d/service.mariadb.service
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7094 kodi: remove outdated and defunct kodi.game repository
  packages/mediacenter/kodi/config/repository.kodi.game/addon.xml
  packages/mediacenter/kodi/config/repository.kodi.game/icon.png
  packages/mediacenter/kodi/package.mk
Labels: CLEANUP, LE 11.0

#7039 util-linux: cleanup mount-swap, add comments to swap.conf
  packages/sysutils/util-linux/config/swap.conf
  packages/sysutils/util-linux/scripts/mount-swap
Labels: PACKAGE, CLEANUP, LE 11.0

#7113 Revert: Update make to 4.4
  packages/devel/glibc/patches/glibc-Makerules-fix-MAKEFLAGS-assignment-for-make-4-4.patch
  packages/devel/make/package.mk
  packages/devel/make/patches/make-01-disable-inheritance-of-fds.patch
Labels: BUGFIX, LE 11.0

#7111 openvpn: update to 2.5.8
  packages/network/openvpn/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7034 Intel Graphics updates
  packages/graphics/libdrm/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#7105 kodi: update to 20.0b1-Nexus / v20 beta1
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, LE 11.0

#7072 Python3 update to 3.11.0
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/0001-Make-the-build-of-pyc-files-conditional.patch
  packages/lang/Python3/patches/0002-Disable-buggy_getaddrinfo-configure-test-when-cross-.patch
  packages/lang/Python3/patches/0003-Add-infrastructure-to-disable-the-build-of-certain-e.patch
  packages/lang/Python3/patches/0004-Adjust-library-header-paths-for-cross-compilation.patch
  packages/lang/Python3/patches/0005-Don-t-look-in-usr-lib-termcap-for-libraries.patch
  packages/lang/Python3/patches/0006-Don-t-add-multiarch-paths.patch
  packages/lang/Python3/patches/0007-Abort-on-failed-module-build.patch
  packages/lang/Python3/patches/0008-Serial-ioctl-workaround.patch
  packages/lang/Python3/patches/0009-Do-not-adjust-the-shebang-of-Python-scripts-for-cros.patch
  packages/lang/Python3/patches/0010-Misc-python-config.sh.in-ensure-sed-invocations-only.patch
  packages/lang/Python3/patches/0011-Add-an-option-to-disable-pydoc.patch
  packages/lang/Python3/patches/0012-Add-an-option-to-disable-lib2to3.patch
  packages/lang/Python3/patches/0013-Add-option-to-disable-the-sqlite3-module.patch
  packages/lang/Python3/patches/0014-Add-an-option-to-disable-the-tk-module.patch
  packages/lang/Python3/patches/0015-Add-an-option-to-disable-the-curses-module.patch
  packages/lang/Python3/patches/0016-Add-an-option-to-disable-expat.patch
  packages/lang/Python3/patches/0017-Add-an-option-to-disable-CJK-codecs.patch
  packages/lang/Python3/patches/0018-Add-an-option-to-disable-NIS.patch
  packages/lang/Python3/patches/0019-Add-an-option-to-disable-unicodedata.patch
  packages/lang/Python3/patches/0020-Add-an-option-to-disable-IDLE.patch
  packages/lang/Python3/patches/0021-Add-an-option-to-disable-decimal.patch
  packages/lang/Python3/patches/0022-Add-an-option-to-disable-the-ossaudiodev-module.patch
  packages/lang/Python3/patches/0023-Add-an-option-to-disable-openssl-support.patch
  packages/lang/Python3/patches/0024-Add-an-option-to-disable-the-readline-module.patch
  packages/lang/Python3/patches/0025-Add-options-to-disable-zlib-bzip2-and-xz-modules.patch
  packages/lang/Python3/patches/0026-python-config.sh-don-t-reassign-prefix.patch
  packages/lang/Python3/patches/0028-Add-an-option-to-disable-uuid-module.patch
  packages/lang/Python3/patches/0030-configure.ac-fixup-CC-print-multiarch-output-for-mus.patch
  packages/lang/Python3/patches/0031-Add-an-option-to-disable-the-berkeleydb-module.patch
  packages/lang/Python3/patches/0032-lib-crypt-uClibc-ng-doesn-t-set-errno-when-encryptio.patch
  packages/lang/Python3/patches/Python3-0100-buildroot-patches.patch
  packages/lang/Python3/patches/Python3-0201-xcompile.patch
  packages/lang/Python3/patches/Python3-0401-fix-Mark-new-interpreters-and-threads-as-non-static.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7120 linux (RPi): update to 6.0.8
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, LE 11.0

#7122 systemd: add xaomi remote to 70-local-keyboard.hwdb
  packages/sysutils/systemd/hwdb.d/70-local-keyboard.hwdb
Labels: IMPROVEMENT, HARDWARE, LE 11.0

#7123 u-boot (Samsung): update xu4 to support 2022.10
  projects/Samsung/patches/u-boot/u-boot-0001-add-xu4-defconfig.patch
Labels: BUGFIX, PATCH, SAMSUNG, LE 11.0

#7124 mold: update to 1.7.0
  packages/devel/mold/package.mk
  packages/devel/mold/patches/mold-999.01-fix-strip-on-armv7.patch
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#7128 xz: update to 5.2.8
  packages/compress/xz/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7127 nss: update to 3.85
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6720 Migrate to fuse3
  packages/addons/addon-depends/network-tools-depends/sshfs/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/sysutils/fuse3/package.mk
  packages/sysutils/open-vm-tools/package.mk
Labels: BUGFIX, IMPROVEMENT, ADDONS, UPDATE, PACKAGE, LE 11.0

#7134 samba: update to 4.17.3
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7132 nghttp2: update to 1.51.0
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7135 scripts/build: fix meson 0.64.0 deprecation warning
  scripts/build
Labels: BUILDSYSTEM, CLEANUP, LE 11.0

#7118 libX11: update to 1.8.2
  packages/x11/lib/libX11/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#7083 linux: update to 6.0.y
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#7139 mesa: update to 22.2.4
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7137 sqlite: update to 3.40.0
  packages/databases/sqlite/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7136 cmake: update to 3.25.0
  packages/devel/cmake/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#7138 llvm: update to 15.0.5
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7141 sed: update package URL
  packages/sysutils/sed/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7117 Vulkan update to 1.3.235
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
  packages/graphics/vulkan/vulkan-tools/patches/vulkan-tools-995.03-fix-cube-cross-compile.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7126 pipewire: update to 0.3.60
  packages/audio/pipewire/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7144 mold: update to 1.7.1
  packages/devel/mold/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 11.0

#7091 Remove unnecessary and incorrect pkgconfig changes
  packages/sysutils/systemd/package.mk
  packages/x11/lib/xtrans/package.mk
  packages/x11/proto/xorgproto/package.mk
  packages/x11/proto/xorgproto/patches/xorgproto-0001-pkgconfig.patch
  packages/x11/util/util-macros/package.mk
Labels: BUGFIX, CLEANUP, LE 11.0

#7145 [le11] network-tools: update addon (119)
  packages/addons/addon-depends/network-tools-depends/irssi/package.mk
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7147 [le11] system-tools: update to addon (134)
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/addon-depends/system-tools-depends/st/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/graphics/kmsxx/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7150 Sync RPi brcmfmac firmware and bluez hciattach patches with RPiOS
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/network/bluez/patches/bluez-06-broadcom-fixes.patch
  packages/network/bluez/patches/bluez-06-raspberry-pi-mods.patch
  packages/network/bluez/patches/bluez-07-broadcom-dont-set-speed-before-loading.patch
Labels: UPDATE, PACKAGE, PATCH, LE 11.0

#7155 iwd: update to 2.0
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7154 Textproc package updates
  packages/textproc/expat/package.mk
  packages/textproc/libidn2/package.mk
  packages/textproc/pugixml/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7153 Python package updates
  packages/python/devel/Mako/package.mk
  packages/python/system/simplejson/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7152 Graphics package updates
  packages/graphics/gdk-pixbuf/package.mk
  packages/graphics/lcms2/package.mk
  packages/graphics/libheif/package.mk
  packages/graphics/pango/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7156 nano: update to 7.0
  packages/tools/nano/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7130 bluez: update to 5.66
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-06-raspberry-pi-mods.patch
  packages/network/bluez/patches/bluez-11_sixaxis-fix-PID-navigation-controller.patch
  packages/network/bluez/patches/bluez-20-sixaxis-autotrust.patch
Labels: UPDATE, PACKAGE, LE 11.0

#7112 dotnet-runtime: Update ASP.NET 6.x to 6.0.11 and addon (125)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#7151 devel package updates
  packages/devel/flatbuffers/package.mk
  packages/devel/heimdal/package.mk
  packages/devel/libffi/package.mk
  packages/devel/mimalloc/package.mk
  packages/devel/mpfr/package.mk
  packages/devel/spdlog/package.mk
  packages/devel/swig/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7157 shairport-sync: add missing build dependency: xxd
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/devel/xxd/package.mk
Labels: BUGFIX, ADDONS, UPDATE, BUILDSYSTEM, PACKAGE, LE 11.0

#7158 libbluray: update to 1.3.3
  packages/multimedia/libbluray/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7159 libbdplus: update to 0.2.0
  packages/multimedia/libbdplus/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7146 [le10] network-tools: update addon (119)
  packages/addons/addon-depends/network-tools-depends/irssi/package.mk
  packages/addons/addon-depends/network-tools-depends/ngrep/package.mk
  packages/addons/addon-depends/network-tools-depends/ngrep/patches/port-to-pcre2-api-and-enable-jit-compilation.patch
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/addon-depends/network-tools-depends/nmap/patches/nmap-0001-Build-based-on-OpenSSL-version--not-API-level.patch
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
  packages/network/rsync/package.mk
  packages/network/rsync/patches/0001-Work-around-glibc-s-lchmod-issue-a-better-way.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7148 [le10] system-tools: update to addon (134)
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/addon-depends/system-tools-depends/st/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/fix-parallel-build.patch
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/graphics/kmsxx/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7109 ffmpeg: rework patchset handling
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/kodi/ffmpeg-001-kodi.patch
  tools/ffmpeg/gen-patches.sh
Labels: IMPROVEMENT, BUILDSYSTEM, LE 11.0

#7164 zlib: fix download URL
  packages/compress/zlib/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#7170 systemd: update to 252.2
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7163 Miscellaneous package updates
  packages/devel/flatbuffers/package.mk
  packages/multimedia/SDL2/package.mk
  packages/network/libnftnl/package.mk
  packages/sysutils/fuse3/package.mk
  packages/tools/newt/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7084 linux: update to 5.10.y
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, LE 10.0, GENERIC

#7168 meson: update to 0.64.1
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7169 pipewire: update to 0.3.61
  packages/audio/pipewire/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7174 util-linux: update to 2.38.1
  packages/sysutils/util-linux/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7175 [le11] Addon updates - oscam and pcscd
  packages/addons/addon-depends/ccid/package.mk
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/service/oscam/changelog.txt
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/changelog.txt
  packages/addons/service/pcscd/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7161 buildsystem: adjust for python crypt module deprecation
  config/functions
  packages/addons/service/proftpd/source/bin/proftpd.start
  packages/virtual/toolchain/package.mk
Labels: IMPROVEMENT, LE 11.0

#7149 Wayland package updates
  packages/wayland/libinput/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7180 pvr.nextpvr: update 19.0.4-Matrix to 19.0.5-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7179 pvr.nextpvr: update 20.3.0-Nexus to 20.3.1-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7167 atf: update to 2.8
  packages/tools/atf/package.mk
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, NXP, LE 11.0

#7171 [le11] btrfs-progs: update to 6.0.2 and addon (111)
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7129 glib: update to 2.75.0
  packages/devel/glib/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7176 [le10] Addon updates - oscam and pcscd
  packages/addons/addon-depends/ccid/package.mk
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/service/oscam/changelog.txt
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/changelog.txt
  packages/addons/service/pcscd/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#7183 [le11] tz: update to 2022g
  packages/sysutils/tz/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#7184 [le10] tz: update to 2022g
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#7182 Wayland package updates
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7162 X11 package updates
  packages/graphics/libglvnd/package.mk
  packages/multimedia/libvdpau/package.mk
  packages/x11/lib/libXrandr/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#7187 Miscellaneous package updates
  packages/lang/llvm/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/tools/newt/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7188 nvidia: update to 520.56.06
  packages/graphics/nvidia/package.mk
Labels: MERGE ¯\_(ツ)_/¯ 💥, GENERIC, LE 11.0

#7189 mesa: update to 22.3.0
  packages/graphics/mesa/package.mk
Labels: UPDATE, LE 11.0
