Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-07, with the labels that each got.

#6660 Fix meson.conf generation and rust build
  config/functions
  config/optimize
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#6664 linux (RPi): update to 5.15.50-4ee9d0f
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-010-pr5052.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/config/distroconfig.txt
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#6667 fix addons build (openssl:host)
  packages/addons/service/mariadb/package.mk
  packages/rust/cargo/package.mk
Labels: ADDONS, LE 11.0

#6668 pvr.teleboy: update 19.8.10-Matrix to 19.8.11-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6671 Update packages/python
  packages/python/devel/Mako/package.mk
  packages/python/graphics/Pillow/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6669 Update packages/audio
  packages/audio/libsamplerate/package.mk
  packages/audio/openal-soft/package.mk
  packages/audio/pipewire/package.mk
  packages/audio/sbc/package.mk
  packages/audio/sbc/patches/sbc_primitives-Fix-build-on-non-x86.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6672 Miscellaneous package updates
  packages/databases/sqlite/package.mk
  packages/devel/binutils-aarch64/package.mk
  packages/devel/binutils-bpf/package.mk
  packages/devel/binutils-or1k/package.mk
  packages/devel/binutils/package.mk
  packages/devel/flatbuffers/package.mk
  packages/sysutils/kmod/package.mk
  packages/textproc/nlohmann-json/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6674 [le10] Fix addon build errors
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/patches/mc-001-ticket_4200_ncurses_disable_widec.patch
  packages/addons/tools/network-tools/changelog.txt
Labels: BUGFIX, ADDONS, LE 10.0

#6675 inputstream.adaptive: update 20.2.2-Nexus to 20.2.3-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6676 [le10] Update Jellyfin to 10.8.1 and dotnet-runtime addon to (119)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/service/jellyfin/changelog.txt
  packages/addons/service/jellyfin/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, MERGE BLOCKED, PACKAGE, LE 10.0

#6678 [le10] tools.ffmpeg-tools: fix missing libraries and addon (118)
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: BUGFIX, ADDONS, LE 10.0, GENERIC

#6663 rust: update to 1.62.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6679 openssl: update to 3.0.5
  packages/security/openssl/package.mk
  packages/security/openssl/patches/openssl-3-0-4-0001-fix-compile-issues-in-test-v3ext-c-with-no-rfc3779.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6680 pipewire updates
  packages/audio/pipewire/package.mk
  packages/audio/wireplumber/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6681 libdrm: update to 2.4.112 and https
  packages/graphics/libdrm/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6673 kodi: update to 20.0a2-Nexus
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/0001-CPlatformLinux-ifdef-alsa-support.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-100.26-disable-internal-texturepacker.patch
  packages/mediacenter/kodi/patches/kodi-100.31.le-addons-no-startupenable.patch
  packages/multimedia/libdvdcss/package.mk
  packages/multimedia/libdvdnav/package.mk
  packages/multimedia/libdvdread/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6682 alsa updates
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-ucm-conf/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6683 kernel-firmware: add rtw88/* to image
  packages/linux-firmware/kernel-firmware/firmwares/any.dat
Labels: HARDWARE, LE 11.0

#6606 [le11] config/arch.x86_64: updated TARGET_CPU & TARGET_FEATURES
  config/arch.x86_64
  projects/Generic/options
Labels: IMPROVEMENT, BUILDSYSTEM, HARDWARE, GENERIC, LE 11.0

#6685 [le11] vdr-addon: update for live 3.1.6 and addon (120)
  packages/addons/addon-depends/cxxtools/package.mk
  packages/addons/addon-depends/cxxtools/patches/cxxtools-2.2.1-make-explicit-cast-in-cxxtools-char-when-moving-or-copying-data.patch
  packages/addons/addon-depends/cxxtools/patches/cxxtools-2.2.1-superflous-copy-constuctor.patch
  packages/addons/addon-depends/cxxtools/patches/cxxtools-crosscompile.patch
  packages/addons/addon-depends/pcre2/package.mk
  packages/addons/addon-depends/tntnet/package.mk
  packages/addons/addon-depends/tntnet/patches/tntnet-2.2-fix_gcc47.patch
  packages/addons/addon-depends/tntnet/patches/tntnet-pkgconfig-support.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-restfulapi/patches/vdr-plugin-restfulapi-01-static-lib-order.patch
  packages/addons/service/vdr-addon/changelog.txt
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6687 kernel-firmware: update to 20220708
  packages/linux-firmware/kernel-firmware/package.mk
  packages/linux-firmware/kernel-firmware/patches/kernel-firmware-20220708-0001-WHENCE--Correct-dangling-symlinks.patch
Labels: UPDATE, PACKAGE, KERNEL, LE 11.0

#6693 [le11] addon updates and fixes
  packages/addons/addon-depends/cxxtools/package.mk
  packages/addons/addon-depends/mpd-mpc/package.mk
  packages/addons/addon-depends/pcre2/package.mk
  packages/addons/addon-depends/whois/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/mpd/changelog.txt
  packages/addons/service/mpd/package.mk
  packages/addons/service/net-snmp/changelog.txt
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/proftpd/changelog.txt
  packages/addons/service/proftpd/package.mk
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#6694 cxxtools: patch to compile with openssl
  packages/addons/addon-depends/cxxtools/patches/cxxtools-3.0-gcc12-time.patch
  packages/addons/addon-depends/cxxtools/patches/cxxtools-3.0-lld-linking-openssl.patch
Labels: ADDONS, MERGE ¯\_(ツ)_/¯ 💥, PATCH, LE 11.0

#6670 Update wayland and x11 packages
  packages/wayland/util/bemenu/package.mk
  packages/wayland/wayland-protocols/package.mk
  packages/wayland/wayland/package.mk
  packages/wayland/weston/package.mk
  packages/x11/driver/xf86-input-synaptics/package.mk
  packages/x11/font/encodings/package.mk
  packages/x11/font/font-util/package.mk
  packages/x11/proto/xcb-proto/package.mk
  packages/x11/xserver/xorg-server/package.mk
  packages/x11/xserver/xorg-server/patches/xorg-server-100.03-render-fix-build-with-gcc12.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6695 [le10] kodi: update to latest Matrix and include DVD menu fix PR
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-001-pr21673-drmprime-fix-dvd-menu.patch
  projects/RPi/patches/kodi/kodi-001-deinterlace.patch
Labels: BUGFIX, UPDATE, PACKAGE, LE 10.0

#6701 meson: update to 0.63.0
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6700 sqlite: update to 3.39.1
  packages/databases/sqlite/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6696 gmmlib: update to 22.1.5 and use build type from toolchain
  packages/multimedia/gmmlib/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6697 [le11] minor addon updates
  packages/addons/addon-depends/cxxtools/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
  packages/addons/service/net-snmp/changelog.txt
  packages/addons/service/net-snmp/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#6699 systemd: update to 251.3
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6612 Vulkan update to 1.3.220
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6635 linux: update to 5.18.y
  packages/linux/package.mk
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6708 mesa: update to 22.1.4
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6709 packages/network: updates
  packages/network/iwd/package.mk
  packages/network/libnl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6710 harfbuzz: update to 4.4.1
  packages/graphics/harfbuzz/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6662 curl: update to 7.84.0
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6068 Update bluetoothd service capability
  packages/network/bluez/system.d/bluetooth.service
Labels: BUGFIX, LE 11.0

#6713 Intel updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6714 [le11] network tools update to 115
  packages/addons/addon-depends/network-tools-depends/irssi/package.mk
  packages/addons/addon-depends/network-tools-depends/ngrep/package.mk
  packages/addons/addon-depends/network-tools-depends/ngrep/patches/port-to-pcre2-api-and-enable-jit-compilation.patch
  packages/addons/tools/network-tools/changelog.txt
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, PATCH, LE 11.0

#6666 Add support for logging and reporting QA Checks
  config/functions
  scripts/clean
  scripts/image
  scripts/install
Labels: BUILDSYSTEM, LE 11.0

#6711 [le11] unify kodi DRMPRIME filter/deinterlace patches
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/drmprime-filter/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0002-WIP-DRMPRIME-deinterlace-filter.patch
  projects/RPi/patches/kodi/kodi-001-deinterlace.patch
  projects/Rockchip/patches/kodi/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  projects/Rockchip/patches/kodi/0002-WIP-DRMPRIME-deinterlace-filter.patch
Labels: PATCH, CLEANUP, LE 11.0

#6718 samba: update to 4.16.3
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6717 [le11] update to latest kodi master with DRMPRIME DVD fix
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/drmprime-filter/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0002-WIP-DRMPRIME-deinterlace-filter.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0003-DVDVideoCodecDRMPRIME-Avoid-exception-with-AV_PIX_FM.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0004-DVDVideoCodecDRMPRIME-Leave-deinterlace-filter-activ.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0005-SetVideoInterlaced-Set-and-unset-deinterlace-method-.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0006-DVDVideoCodecDRMPRIME-Close-deinterlace-filter-on-er.patch
  projects/RPi/patches/kodi/kodi-001-deinterlace.patch
Labels: UPDATE, PACKAGE, PATCH, LE 11.0

#6721 libfmt: update to 9.0.0
  packages/devel/libfmt/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6724 [le11] scripts/image: cleanup ORIGIN_URL
  scripts/image
Labels: BACKPORT DONE, CLEANUP, LE 11.0

#6725 [le10] scripts/image: cleanup ORIGIN_URL
  scripts/image
Labels: CLEANUP, LE 10.0

#6715 rsync: cleanup options
  packages/network/rsync/package.mk
Labels: CLEANUP, LE 11.0

#6726 rust: update to 1.62.1
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6470 gcc: update to 12.1.0
  packages/graphics/assimp/package.mk
  packages/graphics/glmark2/patches/glmark2-999.01-fix-gcc12.1-build.patch
  packages/lang/gcc/package.mk
  packages/lang/gcc/patches/gcc-crosscompile-badness.patch
  packages/tools/atf/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6727 Update 32-bit LibreELEC userland builds be Y2038 proof
  config/arch.arm
  distributions/LibreELEC/version
  packages/addons/addon-depends/dvb-tools-depends/dvb-apps/patches/dvb-apps-60-support-time-bits-64.patch
  packages/addons/addon-depends/tslib/patches/tslib-30-support-time-bits-64.patch
  packages/addons/service/mariadb/package.mk
  packages/compress/zlib/patches/zlib-01-support-time-bits-64.patch
  packages/devel/glibc/package.mk
  packages/emulation/libretro-fbneo/package.mk
  packages/sysutils/eventlircd/patches/eventlircd-01-support-time-bits-64.patch
  packages/sysutils/lirc/patches/lirc-0102-support-time-bits-64.patch
Labels: IMPROVEMENT, PATCH, LE 11.0

#6729 Vulkan updates
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6730 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6706 [le10] Update kodi deinterlace patches for Allwinner and Rockchip
  projects/Allwinner/patches/kodi/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  projects/Allwinner/patches/kodi/0002-WIP-DRMPRIME-deinterlace-filter.patch
  projects/Rockchip/patches/kodi/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  projects/Rockchip/patches/kodi/0002-WIP-DRMPRIME-deinterlace-filter.patch
Labels: BUGFIX, UPDATE, PATCH, LE 10.0

#6735 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, PATCH, LE 11.0

#6731 [le11] linux (RPi): update to 5.15.56
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#6736 apache-ant: update PKG_URL to archive.apache.org
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
Labels: BUGFIX, PACKAGE, LE 10.0

#6733 linux: update to 5.18.14
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#6739 [le11] minisatip: update to 1.2.7 and addon (111)
  packages/addons/service/minisatip/changelog.txt
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 11.0

#6203 [le11] chrome: update to 103.0.5060.134 and addon (113)
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/chrome-depends/atk/package.mk
  packages/addons/addon-depends/chrome-depends/cups/package.mk
  packages/addons/addon-depends/chrome-depends/gdk-pixbuf/package.mk
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
  packages/addons/addon-depends/chrome-depends/json-glib/package.mk
  packages/addons/addon-depends/chrome-depends/libXcursor/package.mk
  packages/addons/addon-depends/chrome-depends/pango/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/addon-depends/jasper/package.mk
  packages/addons/browser/chrome/changelog.txt
  packages/addons/browser/chrome/package.mk
  packages/graphics/harfbuzz/package.mk
Labels: BUGFIX, ADDONS, UPDATE, BACKPORT REQD, PACKAGE, GENERIC, LE 11.0

#6741 samba: update to 4.16.4
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6744 Intel Graphics updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6751 generic: enable scsi virtio support
  projects/Generic/linux/linux.x86_64.conf
Labels: FEATURE, KERNEL, GENERIC, LE 11.0

#6752 brcmfmac_sdio-firmware-rpi: update to b4fa915
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
Labels: UPDATE, LE 11.0
