Repository LibreELEC/LibreELEC.tv, pull requests merged in 2022-03, with the labels that each got.

#6274 Intel graphics updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6272 [LE11] system-tools: include mmc-utils
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, PACKAGE, LE 11.0

#6273 [LE10] system-tools: include mmc-utils
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, PACKAGE, LE 10.0

#6271 Allwinner: VP9 10-bit support
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  projects/Allwinner/patches/linux/0091-media-hantro-Fix-G2-HEVC-negotiated-pixelformat.patch
  projects/Allwinner/patches/linux/0092-media-Add-P010-tiled-format.patch
  projects/Allwinner/patches/linux/0093-media-Add-P010-format.patch
  projects/Allwinner/patches/linux/0094-media-hantro-Support-format-filtering-by-depth.patch
  projects/Allwinner/patches/linux/0095-media-hantro-postproc-Fix-buffer-size-calculation.patch
  projects/Allwinner/patches/linux/0096-media-hantro-postproc-Fix-legacy-regs-configuration.patch
  projects/Allwinner/patches/linux/0097-media-hantro-Store-VP9-bit-depth-in-context.patch
  projects/Allwinner/patches/linux/0098-media-hantro-sunxi-Enable-10-bit-decoding.patch
  projects/Allwinner/patches/linux/0099-media-hantro-postproc-Properly-calculate-chroma-offs.patch
Labels: IMPROVEMENT, KERNEL, ALLWINNER, LE 11.0

#6276 pvr.hdhomerun: update 20.2.1-Nexus to 20.3.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6172 mpv-drmprime: enable Lua support for support of built-in stats OSD
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/lang/lua52/config/lua52.pc
  packages/lang/lua52/package.mk
Labels: FEATURE, PACKAGE, LE 11.0

#6277 RPi: update firmware and bootloader
  packages/graphics/bcm2835-driver/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, LE 10.0

#6278 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, LE 10.0

#6275 kodi: update to 19.4
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-999.02-backport-pr19601-gbm-add-display-clock.patch
Labels: UPDATE, LE 10.0

#6280 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, LE 11.0

#6281 dbus: update to 1.14.0
  packages/sysutils/dbus/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6282 devtool package updates
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/librespot-depends/rust/package.mk
  packages/devel/autoconf-archive/package.mk
  packages/devel/autoconf-archive/patches/autoconf-archive-0001-AX_CC_MAXOPT-Fix-nvhpc-case.patch
  packages/devel/fakeroot/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 11.0

#6285 [LE10] linux: update to 5.10.104
  packages/linux/package.mk
  packages/linux/patches/default/linux-0000-nop-gcc-plugin.patch
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0001-rockchip-from-5.11.patch
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-5.12.patch
  projects/Rockchip/patches/linux/default/linux-0004-rockchip-from-next.patch
  projects/Rockchip/patches/linux/default/linux-0005-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0010-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-0020-drm-from-5.11.patch
  projects/Rockchip/patches/linux/default/linux-0021-drm-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l-wip-rkvdec-vp9.patch
  projects/Rockchip/patches/linux/default/linux-2001-v4l-wip-rkvdec-hevc.patch
  projects/Rockchip/patches/linux/default/linux-2002-v4l-wip-iep-driver.patch
Labels: UPDATE, KERNEL, ALLWINNER, ROCKCHIP, LE 10.0, GENERIC

#6286 [LE10] linux (RPi): fix dirty pipe CVE-2022-0847
  packages/linux/patches/raspberrypi/linux-999.03-fix-dirty-pipe.patch
Labels: PATCH, KERNEL, LE 10.0, RPi-V4L2

#6287 pvr.nextpvr: update 20.2.2-Nexus to 20.2.3-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6283 pvr.hdhomerun: update 19.0.2-Matrix to 19.1.0-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6291 kodi: update to 2f11e99
  packages/addons/repository/repository.linuxserver.docker/sources/addon.xml
  packages/mediacenter/kodi/config/repository.kodi.game/addon.xml
  packages/mediacenter/kodi/config/repository.libreelec.tv/addon.xml
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
  packages/mediacenter/kodi/patches/kodi-100.06-dont-set-_NET_WM_STATE_FULLSCREEN.patch
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-100.15-rename-default-pulse-device.patch
  projects/Generic/devices/wayland/patches/kodi/kodi-995.01-fix-missing-wayland-scanner-pkg-config.patch
  projects/Generic/devices/wayland/patches/kodi/kodi-999.16-PR20632-base-m_bFullScreenRoot-setting-on-res-infos-bFullScreen.patch
  projects/Generic/devices/x11/patches/kodi/kodi-100.12-prevent-kodi-switching-to-windowed-mode.patch
Labels: UPDATE, LE 11.0

#6301 Update Alsa from 1.2.5 (2021-06) to 1.2.6 (2021-12)
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6294 linux: update to 5.10.105
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: BUGFIX, UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, LE 10.0, SAMSUNG, GENERIC

#6302 Intel Graphics updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6303 openssl: update to 3.0.2
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6304 [le11] Python3 updates
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/Python3-0100-buildroot-patches.patch
  packages/python/devel/Mako/package.mk
  packages/python/devel/MarkupSafe/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6305 [le11] tz: update to 2022a
  packages/sysutils/tz/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 11.0

#6306 [le10] tz: update to 2022a
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 10.0

#6298 fixed oe_setup_addon unsafe with user inputs from addons settings
  packages/mediacenter/kodi/profile.d/00-addons.conf
Labels: BUGFIX, BACKPORT REQD, LE 11.0

#5091 grub: use host:grub-mkimage to run grub - fix glibc host and target mismatched
  packages/tools/grub/package.mk
Labels: BUGFIX, IMPROVEMENT, BUILDSYSTEM, LE 11.0

#6295 systemd: update to 250.4
  packages/sysutils/systemd/package.mk
  projects/Amlogic/patches/systemd/systemd-check-filesystems.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6311 linux (RPi): update to 5.15.28-53c0d5c
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#6312 linux (Generic): enable SENSORS_JC42
  projects/Generic/linux/linux.x86_64.conf
Labels: KERNEL, GENERIC, LE 11.0

#6313 dav1d: update to 1.0.0 and patch ffmpeg to support
  packages/multimedia/dav1d/package.mk
  packages/multimedia/ffmpeg/patches/ffmpeg-support-dav1d-1-0-0.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6314 pvr.waipu: update 20.4.0-Nexus to 20.4.1-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6315 Revert "kodi: remove X11 patch"
  projects/Generic/devices/x11/patches/kodi/kodi-100.06-dont-set-_NET_WM_STATE_FULLSCREEN.patch
Labels: BUGFIX, GENERIC, LE 11.0

#6317 system-tools: rev 129; Set executable flag of 7z/7za
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
  packages/addons/tools/system-tools/source/bin/7z
  packages/addons/tools/system-tools/source/bin/7za
Labels: BUGFIX, ADDONS, LE 10.0

#6318 LE10: pvr.waipu: 19.2.0-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6289 grub: fix builds on non x86_64 build hosts by using TARGET_ for build
  packages/tools/grub/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 11.0

#6297 linux: add support for Realtek RTL8XXXU mainline kernel driver replacing out-of-tree 8192CU and 8192DU drivers
  distributions/LibreELEC/options
  packages/linux-drivers/RTL8192CU/package.mk
  packages/linux-drivers/RTL8192CU/patches/RTL8192CU-0001-add_device_ID_330d.patch
  packages/linux-drivers/RTL8192EU/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: IMPROVEMENT, FEATURE, PACKAGE, KERNEL, CLEANUP, LE 11.0

#6319 [le11] network packages updates
  packages/network/iwd/package.mk
  packages/network/openvpn/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6241 [le11] samba: update to 4.16.0
  packages/devel/asn1c/package.mk
  packages/devel/heimdal/package.mk
  packages/devel/heimdal/patches/0001-upstream-check-libtinfo-for-tgetent.patch
  packages/devel/heimdal/patches/0002-upstream-fix-configure-err-msg.patch
  packages/devel/heimdal/patches/22352b90e78e2d162b98b5ef6c84672c397be40a.patch
  packages/devel/heimdal/patches/c4cff6859d183a40fb35a76e2bc1ce084b3a6d67.patch
  packages/devel/heimdal/patches/cc6a3f337bac0411d0bb1c924fd857603a258d2f.patch
  packages/devel/heimdal/patches/yyerror-match-posix-standard.patch
  packages/network/samba/config/samba4-cache.txt
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-200-4.11-fix-ASN1-bso14164.patch
  packages/network/samba/patches/samba-210-4.16-gssapi-h.patch
  packages/network/samba/patches/samba-951-no-man-4.16.patch
Labels: UPDATE, PACKAGE, LE 11.0

#6323 Python3: update to 3.9.12
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6321 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: BUGFIX, LE 11.0

#6329 sqlite: update to 3.38.2
  packages/databases/sqlite/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6327 pvr.mythtv: update 19.0.7-Matrix to 19.0.8-Matrix
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 10.0

#6326 [le10] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#6308 snapclient: Set ALSA_PLUGIN_DIR (109)
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapclient/source/system.d/service.snapclient.service
Labels: BUGFIX, ADDONS, BACKPORT REQD, PACKAGE, LE 11.0

#6330 nano: update to 6.2
  packages/tools/nano/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6331 devtool package updates
  packages/addons/addon-depends/go/package.mk
  packages/python/devel/Jinja2/package.mk
  packages/python/devel/meson/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6334 RPi: fix system time not being set from RTC
  packages/sysutils/systemd/udev.d/80-clock.rules
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: BUGFIX, BACKPORT DONE, KERNEL, CLEANUP, LE 11.0

#6335 [le10] RPi: fix system time not being set from RTC
  packages/sysutils/systemd/udev.d/80-clock.rules
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: BUGFIX, KERNEL, CLEANUP, LE 10.0

#6338 security package updates
  packages/security/gnutls/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6337 squashfs-tools: update to 4.5.1
  packages/sysutils/squashfs-tools/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6340 bluez: update to 5.64
  packages/network/bluez/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6336 [le10] ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: BUGFIX, LE 10.0

#6346 open-vm-tools: update to 12.0.0
  packages/sysutils/open-vm-tools/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6347 Intel Graphic Updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#6345 Python3: Add patch to fix crash in sqlite3 import
  packages/lang/Python3/patches/Python3-0401-fix-bpo-46070-2.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 11.0

#6341 util-linux: update to 2.38
  packages/sysutils/util-linux/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#6343 mesa: update to 22.0.1
  packages/graphics/mesa/package.mk
  packages/graphics/mesa/patches/mesa-999.01-panfrost-process-scissor-state-earlier.patch
Labels: UPDATE, PACKAGE, LE 11.0
