Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-08, with the labels that each got.

#8027 [le12] openssl: update to 3.1.2
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8024 pvr.iptvsimple: update 21.3.1-Omega to 21.4.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8023 pvr.iptvsimple: update 20.10.1-Nexus to 20.11.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8012 package updates
  packages/audio/pipewire/package.mk
  packages/graphics/glu/package.mk
  packages/network/openssh/package.mk
  packages/security/nss/package.mk
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8033 Package updates
  packages/audio/pipewire/package.mk
  packages/compress/libarchive/package.mk
  packages/compress/xz/package.mk
  packages/devel/glib/package.mk
  packages/devel/gmp/package.mk
  packages/devel/hwdata/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/security/gnutls/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8028 [le11] openssl: update to 3.0.10
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8030 rust: update to 1.71.1
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#8019 [le12] system-tools: update addon (1)
  packages/addons/addon-depends/system-tools-depends/depends/libssh2/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#8011 Toolchain package updates
  packages/debug/libunwind/package.mk
  packages/devel/cmake/package.mk
  packages/devel/mold/package.mk
  packages/lang/gcc/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#8022 Vulkan update to 1.3.260
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7951 Fix building with fmt >= 10
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
Labels: BUGFIX, PATCH, LE 12.0

#8034 linux: update to 6.4.y
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8035 pvr.zattoo: update 20.3.13-Nexus to 20.3.14-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8032 [le12] docker: update to 24.0.5 and addon (1)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8021 glibc update to 2.38 and binutils 2.41
  packages/addons/addon-depends/ffmpegx/patches/fmpegx-0001-Fixes-assembling-with-binutils-as-2.41.patch
  packages/audio/alsa-utils/patches/alsa-utils-PR225.patch
  packages/devel/binutils/package.mk
  packages/devel/glibc/package.mk
  packages/multimedia/ffmpeg/patches/fmpegx-0001-Fixes-assembling-with-binutils-as-2.41.patch
  packages/network/libdnet/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8020 [le11] system-tools: update addon (3)
  packages/addons/addon-depends/system-tools-depends/depends/libssh2/package.mk
  packages/addons/addon-depends/system-tools-depends/file/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7971 [le11] samba: update to 4.17.10
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8036 intel-ucode: update to 20230808
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8038 package updates
  packages/audio/libsndfile/package.mk
  packages/devel/boost/package.mk
  packages/devel/cmake/package.mk
  packages/devel/glib/package.mk
  packages/devel/json-c/package.mk
  packages/devel/mold/package.mk
  packages/devel/tbb/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
  packages/network/openssh/package.mk
  packages/python/devel/meson/package.mk
  packages/python/devel/waf/package.mk
  packages/sysutils/fuse3/package.mk
  packages/sysutils/fuse3/patches/PR804-Wrapper-around-test-applications-for-cross-compiler-.patch
  packages/sysutils/systemd/package.mk
  packages/textproc/libxml2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8037 Vulkan update to 1.3.261
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8041 linux: update to 6.1.45
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 11.0

#8042 peripheral.joystick: update 20.1.10-Nexus to 20.1.11-Nexus
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8043 peripheral.joystick: update 21.1.3-Omega to 21.1.4-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8048 ccache: fix: Work around GCC 12.3 bug 109241
  packages/devel/ccache/patches/ccache-0001-work-around-gcc-12-3-bug-109241.patch
Labels: BUGFIX, PATCH, LE 12.0

#8050 templates: issue template improvements and links
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: IMPROVEMENT

#8052 Update packages
  packages/devel/cmake/package.mk
  packages/network/connman/package.mk
  packages/network/openvpn/package.mk
  packages/x11/lib/libxcb/package.mk
  packages/x11/proto/xcb-proto/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8051 Wayland updates
  packages/wayland/lib/fcft/package.mk
  packages/wayland/lib/seatd/package.mk
  packages/wayland/util/foot/package.mk
  packages/wayland/weston/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8063 update RPi tools packages
  packages/tools/bcm2835-utils/package.mk
  packages/tools/bcmstat/package.mk
  projects/RPi/options
Labels: UPDATE, PACKAGE, LE 12.0

#8060 linux (RPi): update to 6.1.45
  config/noobs/partition_setup.sh
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/options
  scripts/image
Labels: UPDATE, BACKPORT DONE, KERNEL, LE 12.0

#8059 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, PATCH, LE 12.0

#8058 package updates
  packages/compress/zlib/package.mk
  packages/sysutils/util-linux/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8056 [le12] Addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/addon-depends/opus/package.mk
  packages/addons/addon-depends/pngquant/package.mk
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/smartmontools/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/stress-ng-0001-workaround-cross-compilation-issue.patch
  packages/addons/service/mariadb/package.mk
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/net-snmp/patches/net-snmp-0002-net-snmp-create-v3-user.in.patch
  packages/addons/service/net-snmp/patches/net-snmp-0003-config.sub.patch
  packages/addons/service/rsyslog/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#8062 [le11] linux (RPi): update to 6.1.45
  config/noobs/partition_setup.sh
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/options
  scripts/image
Labels: UPDATE, KERNEL, LE 11.0

#8061 [le11] ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, PATCH, LE 11.0

#8057 [le11] addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libzen/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/addon-depends/opus/package.mk
  packages/addons/addon-depends/pngquant/package.mk
  packages/addons/addon-depends/rsyslog-depends/libfastjson/package.mk
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/smartmontools/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/stress-ng-0001-workaround-cross-compilation-issue.patch
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/patches/mariadb-0001-disable-plugin-auth-pam.patch
  packages/addons/service/net-snmp/changelog.txt
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/net-snmp/patches/net-snmp-0002-net-snmp-create-v3-user.in.patch
  packages/addons/service/net-snmp/patches/net-snmp-0003-config.sub.patch
  packages/addons/service/rsyslog/changelog.txt
  packages/addons/service/rsyslog/package.mk
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/multimedia-tools/changelog.txt
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8046 pvr.mythtv: update 20.3.2-Nexus to 20.4.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8064 pigz: update to 2.8
  packages/compress/pigz/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8066 [le11] opus: revert to using configure
  packages/addons/addon-depends/opus/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 11.0

#8067 [le12] libzip: update to 1.10.1 (fixes bug introduced in 1.10.0 for static builds)
  packages/addons/addon-depends/libzip/package.mk
Labels: BUGFIX, ADDONS, BACKPORT DONE, PACKAGE, PATCH, LE 12.0

#8070 iwd and connman updates
  packages/network/connman/package.mk
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8071 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8072 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8073 Python3: update to 3.11.5
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8074 rust: update to 1.72.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#8068 [le11] libzip: update to 1.10.1 (fixes bug introduced in 1.10.0 for static builds)
  packages/addons/addon-depends/libzip/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 11.0

#8079 inputstream.adaptive: update 21.1.3-Omega to 21.2.0-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8078 inputstream.adaptive: update 20.3.11-Nexus to 20.3.12-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8084 kodi: update to current master version
  packages/mediacenter/JsonSchemaBuilder/package.mk
  packages/mediacenter/TexturePacker/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.25-hack-fix-texture-packer-cmake-source-dir.patch
  projects/RPi/patches/kodi/0009-VideoPlayer-ffmpeg-change-default-software-deinterla.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7974 Update libfmt to 10.1.1 with spdlog 1.12.0
  packages/devel/flatbuffers/package.mk
  packages/devel/libfmt/package.mk
  packages/devel/spdlog/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8087 media-driver: update to 23.3.2
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8081 inputstream.ffmpegdirect: update 21.1.0-Omega to 21.2.0-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8075 Package updates
  packages/audio/pipewire/package.mk
  packages/databases/sqlite/package.mk
  packages/devel/cmake/package.mk
  packages/devel/mpfr/package.mk
  packages/graphics/libdrm/package.mk
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-13-configure-Check-ell-path.patch
  packages/wayland/libinput/package.mk
  packages/x11/driver/xf86-input-libinput/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8080 Vulkan update to 1.3.262
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8085 [le11] kodi: update to current Nexus version
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 11.0
