Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-07, with the labels that each got.

#7959 linux (RPi): update to 6.1.36
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-020-ALSA-pcm-fix-ELD-constraints-for-E-AC3-DTS-HD-and-ML.patch
  packages/linux/patches/raspberrypi/linux-021-ASoC-hdmi-codec-don-t-set-channel-and-speaker-info-f.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, LE 12.0

#7960 [le11] linux (RPi): update to 6.1.36
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-020-ALSA-pcm-fix-ELD-constraints-for-E-AC3-DTS-HD-and-ML.patch
  packages/linux/patches/raspberrypi/linux-021-ASoC-hdmi-codec-don-t-set-channel-and-speaker-info-f.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#7833 [le11] linux: update to 6.1.y
  packages/linux/package.mk
  packages/linux/patches/default/linux-122-rtw88-USB-fixes2.patch
  packages/linux/patches/default/linux-122-rtw88-rfc-v1.patch
  projects/Allwinner/patches/linux/0101-Bluetooth-Add-new-quirk-for-broken-local-ext-features.patch
  projects/Allwinner/patches/linux/0101-Bluetooth-btrtl-Add-support-for-RTL8822BS.patch
  projects/Allwinner/patches/linux/0102-Bluetooth-btrtl-Add-support-for-RTL8822BS-UART.patch
  projects/Allwinner/patches/linux/0103-arm64-dts-allwinner-h6-tanix-tx6-Add-compatible-blue.patch
  projects/Allwinner/patches/linux/0104-Bluetooth-btrtl-set-HCI_QUIRK_BROKEN_LOCAL_EXT_FTR_M.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0013-FROMGIT-FIXES-drm-meson-fix-1px-pink-line-on-GXM-whe.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0050-FROMLIST-v1-mmc-meson-gx-fix-deferred-probing.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, SAMSUNG, GENERIC, LE 11.0

#7837 linux: update to 6.4.y
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-122-rtw88-sdio-rfc-v1.patch
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.2.patch
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.4.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0030-drm-imx-Add-mhdp-dp-hdmi-driver-for-imx8x-platform.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1003-temp-dw_hdmi-rockchip.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#7963 Package updates
  packages/audio/taglib/package.mk
  packages/debug/libva-utils/package.mk
  packages/devel/hwdata/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/multimedia/nvidia-vaapi-driver/package.mk
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-13-configure-Check-ell-path.patch
  packages/network/ethtool/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7964 iwd: update to 2.7
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7965 media-driver: update to 23.2.4
  packages/multimedia/media-driver/package.mk
  packages/multimedia/media-driver/patches/1648.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#7970 [le12] samba: update to 4.17.9
  packages/network/samba/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7968 allow building some game.libretro packages for any arch
  packages/emulation/libretro-beetle-bsnes/package.mk
  packages/emulation/libretro-beetle-saturn/package.mk
  packages/emulation/libretro-bsnes-mercury-performance/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.beetle-bsnes/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.beetle-saturn/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.bsnes-mercury-performance/package.mk
Labels: PACKAGE, LE 12.0

#7969 docker: update to 24.0.3 and addon (3)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7972 Fixes for Pillow and update libxslt package SHA256
  packages/python/graphics/Pillow/patches/Pillow-0002-Fix-missing-symbols-as-libtiff-can-depend-on-libjpeg.patch
  packages/textproc/libxslt/package.mk
Labels: BUGFIX, PACKAGE, PATCH, LE 12.0

#7977 Package updates
  packages/audio/pipewire/package.mk
  packages/devel/glib/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/patches/systemd-0002-move-hwdb.bin-to-run.patch
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7978 linux (RPi): update to 6.1.38
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, LE 12.0

#7979 [le11] linux (RPi): update to 6.1.38
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#7973 [le12] docker: update to 24.0.4 and addon (2)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7976 Vulkan update to 1.3.257
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7966 [le11] linux: update to 6.1.y
  packages/linux/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, SAMSUNG, GENERIC, LE 11.0

#7981 [le12] system-tools: replace dstat with dool and updates and addon (1)
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libssh2/package.mk
  packages/addons/addon-depends/system-tools-depends/diffutils/package.mk
  packages/addons/addon-depends/system-tools-depends/dool/package.mk
  packages/addons/addon-depends/system-tools-depends/dstat/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/stress-ng-01-compile-with-glibc-2.36.patch
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7983 Intel package updates
  packages/multimedia/libva/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7985 stress-ng: workaround cross compilation issue since 0.15.09
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/stress-ng-0001-workaround-cross-compilation-issue.patch
Labels: BUGFIX, ADDONS, PATCH, LE 12.0

#7988 pvr.zattoo: update 20.3.10-Nexus to 20.3.11-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7967 visualization.projectm: allow building for arm and OpenGLES
  packages/graphics/libprojectM/package.mk
  packages/graphics/libprojectM/patches/0001-add-enable-gl-switch.patch
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
Labels: IMPROVEMENT, PACKAGE, LE 12.0

#7999 peripheral.joystick: update 21.1.2-Omega to 21.1.3-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7991 inputstream.adaptive: update 21.1.2-Omega to 21.1.3-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8005 mesa: update to 23.1.4
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8003 [le12] cacert.pem: update to 2023-07-20
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, BACKPORT DONE, LE 12.0

#8002 gstreamer: update to 1.22.5
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7994 Development tool package updates
  packages/addons/addon-depends/go/package.mk
  packages/devel/cmake/package.mk
  packages/devel/fakeroot/package.mk
  packages/python/devel/meson/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#7989 Support Tools Updates
  tools/distro-tool
  tools/update-scan
Labels: UPDATE, LE 12.0

#7995 package updates
  packages/audio/pipewire/package.mk
  packages/compress/libarchive/package.mk
  packages/devel/libbpf/package.mk
  packages/devel/libpthread-stubs/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/libnftnl/package.mk
  packages/sysutils/systemd/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8000 [le12] samba: update to 4.17.10
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7944 Fix AMLGX build on aarch64
  packages/security/gnutls/package.mk
  packages/security/nettle/package.mk
  packages/security/nettle/patches/nettle-0001-host-lib64.patch
  packages/textproc/libidn2/package.mk
  packages/tools/amlogic-boot-fip/package.mk
  packages/tools/u-boot-tools/package.mk
Labels: BUILDSYSTEM, PACKAGE, TOOLCHAIN, AMLOGIC, LE 12.0

#8006 RPi: add support for bwdif deinterlace
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  projects/RPi/patches/kodi/0001-gbm-Set-max-bpc-for-high-bit-depth-videos.patch
  projects/RPi/patches/kodi/0002-CDVDVideoCodecDRMPRIME-Also-support-YUV420-buffers.patch
  projects/RPi/patches/kodi/0003-CDVDVideoCodecDRMPRIME-Adjust-av-formats-to-match-re.patch
  projects/RPi/patches/kodi/0004-DVDVideoCodecDRMPRIME-Add-support-for-arbitrary-outp.patch
  projects/RPi/patches/kodi/0005-DVDVideoCodecDRMPRIME-Remove-obsolete-thread_safe_ca.patch
  projects/RPi/patches/kodi/0006-DVDVideoCodecDRMPRIME-Clear-m_pFilterGraph.patch
  projects/RPi/patches/kodi/0007-DVDVideoCodecDRMPRIME-Move-FilterTest-from-open-to-f.patch
  projects/RPi/patches/kodi/0008-DVDVideoCodecDRMPRIME-Rework-filtering-code-to-handl.patch
  projects/RPi/patches/kodi/0009-VideoPlayer-ffmpeg-change-default-software-deinterla.patch
  projects/RPi/patches/kodi/0010-CDVDVideoCodecDRMPRIME-Support-decoding-to-DRMPRIME-.patch
  projects/RPi/patches/kodi/0011-DVDVideoCodecDRMPRIME-Request-v4l2-buffers-be-alloca.patch
  projects/RPi/patches/kodi/0012-DVDVideoCodecDRMPRIME-Add-setting-to-enable-hw-deint.patch
Labels: IMPROVEMENT, UPDATE, PATCH, LE 12.0

#7993 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8007 fakeroot: fix missing header file race condition
  packages/devel/fakeroot/patches/fakeroot-002-fix-missing-header-file-race-condition-1041674.patch
Labels: BUGFIX, PATCH, LE 12.0

#7992 [le12] Update dosbox game add-ons with new buttonmaps
  packages/mediacenter/kodi-binary-addons/game.libretro.dosbox-pure/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.dosbox/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7997 [le12] dotnet-runtime: update to aspnet6-runtime 6.0.20 and addon (4)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7998 [le11] dotnet-runtime: update to aspnet6-runtime 6.0.20 and addon (5)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8008 Vulkan and glslang updates
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8004 [le11] cacert.pem: update to 2023-07-20
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, LE 11.0

#7982 [le11] system-tools: replace dstat with dool and updates and addon (2)
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libssh2/package.mk
  packages/addons/addon-depends/system-tools-depends/diffutils/package.mk
  packages/addons/addon-depends/system-tools-depends/dool/package.mk
  packages/addons/addon-depends/system-tools-depends/dstat/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/stress-ng-0001-workaround-cross-compilation-issue.patch
  packages/addons/addon-depends/system-tools-depends/stress-ng/patches/stress-ng-01-compile-with-glibc-2.36.patch
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7996 curl: update to 8.2.1
  distributions/LibreELEC/version
  packages/addons/service/docker/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8014 [le11] linux: update to 6.1.y
  packages/linux/package.mk
Labels: UPDATE, MERGE BLOCKED, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, GENERIC, LE 11.0

#8017 linux (RPi): update to 6.1.42
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8018 [le11] linux (RPi): update to 6.1.42
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0
