Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-06, with the labels that each got.

#7887 vulkan: update to 1.3.251
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
  packages/graphics/vulkan/vulkan-tools/patches/vulkan-tools-995.04-fix-glslangValidator-logik.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7766 Inputstream.adaptive: update to 21.1.1-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/1240-fix-gcc13.patch
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/1270.patch
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/1275.patch
  packages/multimedia/bento4/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7892 linux (RPi): update to 6.1.31
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, BACKPORT DONE, KERNEL, LE 12.0

#7894 linux: update patches to fix audio passthrough issues
  packages/linux/patches/default/linux-020-ALSA-pcm-fix-ELD-constraints-for-E-AC3-DTS-HD-and-ML.patch
  packages/linux/patches/default/linux-020-eld-constraints-for-compressed-formats.patch
  packages/linux/patches/default/linux-021-ASoC-hdmi-codec-don-t-set-channel-and-speaker-info-f.patch
  packages/linux/patches/raspberrypi/linux-020-ALSA-pcm-fix-ELD-constraints-for-E-AC3-DTS-HD-and-ML.patch
  packages/linux/patches/raspberrypi/linux-020-eld-constraints-for-compressed-formats.patch
  packages/linux/patches/raspberrypi/linux-021-ASoC-hdmi-codec-don-t-set-channel-and-speaker-info-f.patch
Labels: BUGFIX, IMPROVEMENT, BACKPORT DONE, PATCH, LE 12.0

#7893 [le11] linux (RPi): update to 6.1.31
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, LE 11.0

#7895 [le11] linux: update patches to fix audio passthrough issues
  packages/linux/patches/default/linux-020-ALSA-pcm-fix-ELD-constraints-for-E-AC3-DTS-HD-and-ML.patch
  packages/linux/patches/default/linux-020-eld-constraints-for-compressed-formats.patch
  packages/linux/patches/default/linux-021-ASoC-hdmi-codec-don-t-set-channel-and-speaker-info-f.patch
  packages/linux/patches/raspberrypi/linux-020-ALSA-pcm-fix-ELD-constraints-for-E-AC3-DTS-HD-and-ML.patch
  packages/linux/patches/raspberrypi/linux-020-eld-constraints-for-compressed-formats.patch
  packages/linux/patches/raspberrypi/linux-021-ASoC-hdmi-codec-don-t-set-channel-and-speaker-info-f.patch
Labels: BUGFIX, IMPROVEMENT, PATCH, LE 11.0

#7896 [le12] minisatip: fix sha256
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, BACKPORT DONE, PACKAGE, LE 12.0

#7897 [le11] minisatip: fix sha256
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, PACKAGE, LE 11.0

#7900 Toolchain Package updates
  packages/debug/gdb/package.mk
  packages/lang/llvm/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/python/devel/meson/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#7890 pvr.zattoo: update 20.3.7-Nexus to 20.3.8-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7882 inputstream.adaptive: update 20.3.8-Nexus to 20.3.9-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7903 Upstream patches
  packages/addons/addon-depends/protobuf/patches/9936.patch
  packages/security/nss/patches/nss-20-Bug-1836781-Disabling-ASM-C25519-for-A-but-X86_64-r.patch
Labels: BUGFIX, ADDONS, PATCH, LE 12.0

#7905 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7904 Python3: update to 3.11.4
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/0012-Add-an-option-to-disable-lib2to3.patch
  packages/lang/Python3/patches/0014-Add-an-option-to-disable-the-tk-module.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7874 update allwinner h3 h5 cvbs patch
  projects/Allwinner/patches/linux/0036-wip-h3-h5-cvbs.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 12.0

#7910 inputstream.adaptive: update 21.1.1-Omega to 21.1.2-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/1270.patch
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/1275.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7912 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: BUGFIX, UPDATE, BACKPORT DONE, PATCH, LE 12.0

#7913 [le11] ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: BUGFIX, UPDATE, PATCH, LE 11.0

#7914 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: BUGFIX, UPDATE, BACKPORT DONE, PATCH, LE 12.0

#7915 [le11] ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: BUGFIX, UPDATE, PATCH, LE 11.0

#7908 [le12] linux: update to 6.3.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#7919 pvr.sledovanitv.cz: update 21.1.0-Omega to 21.2.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7923 peripheral.joystick: update 21.1.1-Omega to 21.1.2-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7922 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7891 samba: samba-config: call smbpasswd with valid smb.conf
  packages/network/samba/scripts/samba-config
Labels: BUGFIX, LE 12.0

#7878 [le12] docker: update to 24.0.2 and addon (1)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7909 [le12] mariadb: update to 10.11.4 and addon (1)
  packages/addons/service/mariadb/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#7921 kodi: update to 21.0a2-Omega
  packages/mediacenter/kodi/config/kodi.conf.in
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/system.d/kodi.service
Labels: UPDATE, PACKAGE, LE 12.0

#7924 linux (RPi): update to 6.1.34
  packages/linux/package.mk
Labels: UPDATE, BACKPORT DONE, KERNEL, LE 12.0

#7925 [le11] linux (RPi): update to 6.1.34
  packages/linux/package.mk
Labels: UPDATE, KERNEL, LE 11.0

#7872 [le11] nextpvr: update to 6.1.3
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/nextpvr/package.mk
Labels: ADDONS, UPDATE, LE 11.0

#7889 [le11] openssl: update to 3.0.9
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7886 [le11] librespot: update to githash c964102 (2023-05-14) and addon (2)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7877 [le11] snapclient and snapserver: update shairport-sync to 4.2 and addon (2)
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/snapcast-depends/nqptp/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/service/snapclient/changelog.txt
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/changelog.txt
  packages/addons/service/snapserver/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7934 Toolchain packages
  packages/devel/ccache/package.mk
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#7931 Miscellaneous package updates
  packages/audio/fluidsynth/package.mk
  packages/debug/libunwind/package.mk
  packages/devel/gettext/package.mk
  packages/devel/gettext/patches/gettext-dont_build_docs_and_examples.patch
  packages/graphics/libde265/package.mk
  packages/graphics/tiff/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/openvpn/package.mk
  packages/sysutils/fuse3/package.mk
  packages/sysutils/fuse3/patches/PR804-Wrapper-around-test-applications-for-cross-compiler-.patch
  packages/sysutils/open-vm-tools/package.mk
  packages/wayland/weston/package.mk
  packages/web/nghttp2/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/proto/xorgproto/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7932 [le12] intel-ucode: update to 20230613
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, GENERIC, LE 12.0

#7928 Vulkan update to 1.3.254
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7933 [le11] intel-ucode: update to 20230613
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#7930 dotnet-runtime: update aspnet6-runtime to 6.0.18 and addon (3)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7929 dotnet-runtime: update aspnet6-runtime to 6.0.18 and addon (1)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7935 [le11] kodi: update to latest Nexus version and add E-AC3 fix backport PR
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-010.01-pr23411-backport-eac3-fixes.patch
Labels: BUGFIX, UPDATE, PACKAGE, LE 11.0

#7939 Update jre-libbluray build to be built on arm and aarch64
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
  packages/addons/addon-depends/jre-depends/jre-libbluray/package.mk
Labels: BUGFIX, ADDONS, BUILDSYSTEM, PACKAGE, LE 12.0

#7941 gstreamer update to 1.22.4
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7899 busybox: fs-resize: use parted to fix gpt errors instead of sgdisk
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/fs-resize
  packages/sysutils/gptfdisk/package.mk
  packages/sysutils/gptfdisk/patches/0001-Fix-failure-crash-of-sgdisk-when-compiled-with-lates.patch
  packages/sysutils/gptfdisk/patches/0002-Updated-guid.cc-to-deal-with-minor-change-in-libuuid.patch
  packages/sysutils/gptfdisk/patches/0003-Updated-URLs-in-man-pages-to-HTTPS-rather-than-HTTP.patch
  packages/sysutils/gptfdisk/patches/0004-Fix-NULL-dereference-when-duplicating-string-argumen.patch
  packages/sysutils/gptfdisk/patches/0005-Use-64bit-time_t-on-linux-as-well.patch
  packages/sysutils/gptfdisk/patches/0006-Allow-partition-dynamically-allocated-by-largest-new.patch
  packages/sysutils/gptfdisk/patches/0007-Document-recent-merge.patch
  packages/sysutils/gptfdisk/patches/0008-Document-recent-mergest.patch
  packages/sysutils/gptfdisk/patches/0009-Do-some-explicit-casts-in-gptcurses.cc-to-eliminate-.patch
  packages/sysutils/gptfdisk/patches/0010-Truncate-decimal-inputs-e.g.-9.5G-becomes-9G.patch
  packages/sysutils/gptfdisk/patches/0011-Document-previous-merge.patch
  packages/sysutils/gptfdisk/patches/0012-Minor-code-cleanup-based-on-valgrind-analysis.patch
Labels: IMPROVEMENT, CLEANUP, LE 12.0

#7942 mesa: update to 23.1.3
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7943 pvr.zattoo: update 20.3.9-Nexus to 20.3.10-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7938 Update rust and llvm build to be built on arm and aarch64.
  packages/lang/llvm/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: BUGFIX, ADDONS, BUILDSYSTEM, PACKAGE, LE 12.0

#7945 iwd: update to 2.6
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7927 tools/docker: jammy: support qemu amd64 on aarch64
  tools/docker/jammy/Dockerfile
Labels: BUGFIX, BUILDSYSTEM, LE 12.0

#7946 vulkan: update to 1.3.255
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7947 Minor package updates
  packages/audio/flac/package.mk
  packages/audio/libopenmpt/package.mk
  packages/audio/pipewire/package.mk
  packages/compress/7-zip/package.mk
  packages/graphics/libpng/package.mk
  packages/print/freetype/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7949 [le12] nextpvr: update to 6.1.4
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/nextpvr/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7957 [le11] update iwd and connman
  packages/network/connman/package.mk
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7953 LibreELEC-settings: update to b920d5d
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, LE 12.0

#7950 [le11] nextpvr: update to 6.1.4
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7956 Package updates
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/debug/strace/package.mk
  packages/debug/strace/patches/strace-0003-fix-build-with-linux6-3-2.patch
  packages/security/nss/package.mk
  packages/security/nss/patches/nss-20-Bug-1836781-Disabling-ASM-C25519-for-A-but-X86_64-r.patch
  packages/sysutils/util-linux/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7955 dotnet-runtime: update to aspnet6-runtime 6.0.19 and addon (4)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7954 dotnet-runtime: update to aspnet6-runtime 6.0.19 and addon (2)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0
