Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-09, with the labels that each got.

#8092 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#8086 systemd/busybox: fix unit permissions after systemd v254 bump
  packages/sysutils/busybox/system.d/var-log.mount
  packages/sysutils/systemd/system.d/machine-id.service
Labels: BUGFIX, LE 12.0

#8093 wireless-regdb: update to 2023.09.01
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8094 wireless-regdb: update to 2023.09.01
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8095 Alsa update to 1.2.10
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
  packages/audio/alsa-utils/patches/alsa-utils-PR213.patch
  packages/audio/alsa-utils/patches/alsa-utils-PR225.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7975 [le12] linux: update to 6.5.y
  distributions/LibreELEC/kernel_options
  packages/debug/strace/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-020-ALSA-pcm-fix-ELD-constraints-for-E-AC3-DTS-HD-and-ML.patch
  packages/linux/patches/default/linux-021-ASoC-hdmi-codec-don-t-set-channel-and-speaker-info-f.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.13-kernel-6.5.patch
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.5.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0004-DO-NOT-MERGE-ARM-dts-sunxi-h3-h5-Protect-SCP-clocks.patch
  projects/Allwinner/patches/linux/0010-ARM-dts-sunxi-h3-h5-Add-SCPI-protocol.patch
  projects/Allwinner/patches/linux/0034-HACK-h3-h5-Add-HDMI-sound-card.patch
  projects/Allwinner/patches/linux/0036-wip-h3-h5-cvbs.patch
  projects/Allwinner/patches/linux/0041-bpi-m2u-analog-codec.patch
  projects/Allwinner/patches/linux/0042-r40-hdmi-audio-wip.patch
  projects/Allwinner/patches/linux/0057-HACK-Disable-MBUS-due-to-fw_devlink-on.patch
  projects/Allwinner/patches/linux/0105-ARM-dts-sun8i-r40-Add-interconnect-to-video-codec.patch
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX6/patches/linux/linux-001-imx6qdl-wandboard-revc1-dtsi-bluetooth.patch
  projects/NXP/devices/iMX6/patches/linux/linux-011-imx6qdl-sr-som-brcm-dtsi-bluetooth.patch
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0001-drm-bridge-mhdp-Add-cdns-mhdp-driver-bridge-driver.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3288/options
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
  projects/Rockchip/patches/linux/default/linux-2001-v4l2-wip-iep-driver.patch
  projects/Samsung/linux/linux.arm.conf
  projects/Samsung/patches/linux/samsung-0005-WIP-arm-dts-exynos5422-HC1-XU3-XU4-model-name-is-ODR.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8053 librespot: update to f037e46
  packages/addons/service/librespot/package.mk
Labels: ADDONS, LE 12.0

#8054 librespot: update to f037e46 (backport of #8053)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
Labels: ADDONS, LE 11.0

#8088 xf86-video-nvidia: update to 470.199.02
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.3.patch
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.4.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8097 crust: update to 0.6
  packages/tools/crust/package.mk
  packages/tools/crust/patches/fix-binutils-2-39.patch
  packages/tools/crust/patches/fix-stack.patch
Labels: UPDATE, PACKAGE, ALLWINNER, LE 12.0

#8098 bluez: fix relocation of dbus-1/bluetooth.conf
  packages/network/bluez/package.mk
Labels: BUGFIX, PACKAGE, LE 12.0

#8096 Package updates
  packages/audio/pipewire/package.mk
  packages/devel/ccache/package.mk
  packages/devel/ccache/patches/ccache-0001-work-around-gcc-12-3-bug-109241.patch
  packages/devel/glib/package.mk
  packages/multimedia/aom/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/libnl/package.mk
  packages/print/freetype/package.mk
  packages/security/nss/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/wayland/util/bemenu/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8016 Python cross-compile changes and qemu
  packages/addons/tools/system-tools/package.mk
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/Python3-0300-generate-legacy-pyc-bytecode.patch
  packages/python/devel/Jinja2/package.mk
  packages/python/devel/Mako/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/python/devel/distutilscross/package.mk
  packages/python/devel/meson/package.mk
  packages/python/devel/setuptools/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/python/system/simplejson/package.mk
  packages/tools/qemu/package.mk
  packages/tools/qemu/patches/python.patch
Labels: UPDATE, PACKAGE, CLEANUP, LE 12.0

#8102 Partial revert: Python cross-compile changes and qemu
  packages/addons/tools/system-tools/package.mk
  packages/lang/Python3/package.mk
  packages/python/devel/Jinja2/package.mk
  packages/python/devel/Mako/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/python/devel/distutilscross/package.mk
  packages/python/devel/meson/package.mk
  packages/python/devel/setuptools/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/python/system/simplejson/package.mk
  packages/tools/qemu/package.mk
  packages/tools/qemu/patches/python.patch
Labels: BUGFIX, UPDATE, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 12.0

#8104 amlogic: fix canupdate.sh script
  projects/Amlogic/bootloader/canupdate.sh
Labels: BUGFIX, AMLOGIC, LE 12.0

#8105 [LE12] Allwinner: linux: properly shutdown display at shutdown
  projects/Allwinner/patches/linux/0014-drm_call_drm_atomic_helper_shutdown_at_shutdown.patch
Labels: BUGFIX, BACKPORT REQD, KERNEL, ALLWINNER, LE 12.0

#8106 [LE11] Allwinner: linux: properly shutdown display at shutdown
  projects/Allwinner/patches/linux/0014-drm_call_drm_atomic_helper_shutdown_at_shutdown.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 11.0

#8114 [LE12] Allwinner: Add canupdate.sh script
  projects/Allwinner/bootloader/canupdate.sh
Labels: IMPROVEMENT, ALLWINNER, LE 12.0

#8117 atf: update to v2.9
  packages/tools/atf/package.mk
  projects/Allwinner/patches/atf/0001-refactor-fdt-introduce-common-fdt_node_is_enabled.patch
  projects/Allwinner/patches/atf/0002-fix-allwinner-check-RSB-availability-in-DT-on-H6.patch
Labels: UPDATE, ALLWINNER, ROCKCHIP, NXP, LE 12.0

#8120 atf: fix for --no-warn-rwx-segments
  packages/tools/atf/package.mk
Labels: ALLWINNER, ROCKCHIP, NXP, LE 12.0

#8122 linux: add patch to fix broken channel map reporting in hdmi-codec
  packages/linux/patches/default/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
  packages/linux/patches/raspberrypi/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
Labels: BUGFIX, BACKPORT DONE, PATCH, KERNEL, LE 12.0

#8123 [le11] linux: add patch to fix broken channel map reporting in hdmi-codec
  packages/linux/patches/default/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
  packages/linux/patches/raspberrypi/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
Labels: BUGFIX, PATCH, KERNEL, LE 11.0

#8126 alsa-lib: don't build with largefile support
  packages/audio/alsa-lib/package.mk
Labels: BUGFIX, LE 12.0

#8128 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8116 ffmpeg: update v4l2-request patch
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
Labels: BUGFIX, ALLWINNER, ROCKCHIP, LE 12.0

#8108 package updates
  packages/databases/mariadb-connector-c/package.mk
  packages/devel/patchelf/package.mk
  packages/graphics/pango/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8107 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
  packages/addons/addon-depends/libvpx/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/protobuf/package.mk
  packages/addons/addon-depends/protobuf/patches/9936.patch
  packages/addons/addon-depends/runc/package.mk
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/patches/0001-fix-build-when-being-done-out-of-tree.patch
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/nmon/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/inadyn/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#8127 Vulkan update to 1.3.263
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8115 boost: use HOST_CXX compiler not g++
  packages/devel/boost/package.mk
Labels: PACKAGE, CLEANUP, LE 12.0

#8131 Package updates
  packages/audio/libopenmpt/package.mk
  packages/devel/glib/package.mk
  packages/devel/hwdata/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/multimedia/media-driver/package.mk
  packages/sysutils/systemd/package.mk
  packages/x11/font/font-util/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8133 [LE12] Allwinner: brcmfmac_sdio-firmware: update filter
  projects/Allwinner/firmwares/brcmfmac_sdio-firmware.dat
Labels: BUGFIX, HARDWARE, ALLWINNER, LE 12.0

#8134 [LE11] Allwinner: brcmfmac_sdio-firmware: update filter
  projects/Allwinner/firmwares/brcmfmac_sdio-firmware.dat
Labels: BUGFIX, HARDWARE, ALLWINNER, LE 11.0

#8130 kodi: update to 21.0a3-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8135 Addon updates
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/chrome-depends/cups/package.mk
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/snapcast-depends/nqptp/package.mk
  packages/addons/addon-depends/system-tools-depends/jq/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/patches/mariadb-2732--fix-build-with-libfmt.patch
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#8137 Allwinner: linux: Remove unneeded patch
  projects/Allwinner/patches/linux/0054-arm64-dts-allwinner-h6-tanix-tx6-enable-rtw88-wifi-in-dts.patch
Labels: KERNEL, ALLWINNER, CLEANUP, LE 12.0

#8132 [LE12] Allwinner: rework OrangePi 3 network patches
  projects/Allwinner/patches/atf/0003-sunxi-Don-t-enable-referenced-regulators.patch
  projects/Allwinner/patches/linux/0044-net-stmmac-sun8i-Use-devm_regulator_get-for-PHY-regu.patch
  projects/Allwinner/patches/linux/0044-phy-handle-optional-regulator-for-PHY.patch
  projects/Allwinner/patches/linux/0045-arm64-dts-allwinner-orange-pi-3-Enable-ethernet.patch
  projects/Allwinner/patches/linux/0045-net-stmmac-sun8i-Rename-PHY-regulator-variable-to-re.patch
  projects/Allwinner/patches/linux/0046-HACK-regulator-lower-power-off-delay-to-1-second.patch
  projects/Allwinner/patches/linux/0046-net-stmmac-sun8i-Add-support-for-enabling-a-regulato.patch
Labels: BUGFIX, KERNEL, ALLWINNER, CLEANUP, LE 12.0

#8138 NXP: iMX8: atf: Fix building v2.9
  packages/tools/atf/package.mk
  projects/NXP/devices/iMX8/patches/atf/imx8mq-remove-ram-retention.patch
Labels: BUGFIX, HARDWARE, NXP, LE 12.0

#8147 package updates
  packages/audio/pipewire/package.mk
  packages/compress/libarchive/package.mk
  packages/databases/sqlite/package.mk
  packages/graphics/libglvnd/package.mk
  packages/graphics/tiff/package.mk
  packages/network/ethtool/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8145 procps update to 4.x and dependency of xorg-intel-gpu-tools
  packages/debug/xorg-intel-gpu-tools/package.mk
  packages/tools/procps-ng/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8143 pvr.waipu: update 21.3.0-Omega to 21.3.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8139 [le12] linux: update to 6.5.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-list.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8142 Vulkan update to 1.3.264
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8039 glibc: drop --enable-crypt which is now deprecated and use libxcrypt
  packages/devel/glibc/package.mk
  packages/lang/gcc/package.mk
  packages/security/libxcrypt/package.mk
  packages/virtual/libc/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8149 sqlite: update to 3.43.1
  packages/databases/sqlite/package.mk
Labels: BUGFIX, PACKAGE, LE 12.0

#8150 Package updates
  packages/databases/mariadb-connector-c/package.mk
  packages/debug/libva-utils/package.mk
  packages/devel/cmake/package.mk
  packages/devel/json-glib/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/security/pycryptodome/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8160 kodi: remove cputempcommand from advancedsettings.xml
  packages/mediacenter/kodi/config/advancedsettings.xml
Labels: PACKAGE, CLEANUP, LE 12.0

#8158 mesa: update to 23.1.8
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8159 systemd: update to 254.4
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8152 openssl: update to 3.1.3
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8151 mariadb-connector-c: fix build error on 32-bit systems
  packages/databases/mariadb-connector-c/patches/fix-build-error-on-32-bit-systems.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 12.0

#8162 inputstream.adaptive: drop leftover expat dependency
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, CLEANUP, LE 12.0

#8154 kernel-firmware: update to 20230919
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8155 pvr.mythtv: update 20.4.0-Nexus to 20.5.5-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8144 pvr.waipu: update 20.9.0-Nexus to 20.9.1-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8129 peripheral.joystick: update 20.1.12-Nexus to 20.1.13-Nexus
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8119 [le11] samba: update to 4.17.11
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8164 [le11] inputstream.adaptive: update to 20.3.13-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, LE 11.0

#8163 inputstream.adaptive: update to 21.3.0-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#8161 kodi: change remote power button behaviour to show the shutdown menu
  packages/mediacenter/kodi/patches/kodi-995.21-keymaps-change-remote-poweroff-action-to-show-shutdo.patch
Labels: BUGFIX, IMPROVEMENT, LE 12.0

#8157 rust: update to 1.72.1
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#8156 gstreamer: update to 1.22.6
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8146 curl: update to 8.3.0
  distributions/LibreELEC/version
  packages/addons/browser/chrome/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/inadyn/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8166 package updates
  packages/devel/cmake/package.mk
  packages/devel/gettext/package.mk
  packages/devel/mold/package.mk
  packages/graphics/assimp/package.mk
  packages/graphics/cairo/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/multimedia/gmmlib/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8167 [le12] Addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/service/inadyn/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#8165 kodi GBM: shut down kodi when case power button is pressed
  packages/mediacenter/kodi/config/70-libinput-ignore-power-button.rules
  packages/mediacenter/kodi/package.mk
  packages/sysutils/systemd/package.mk
Labels: IMPROVEMENT, LE 12.0

#8169 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8015 add aac support to pipewire
  licenses/fdk-aac.txt
  packages/audio/fdk-aac/package.mk
  packages/audio/pipewire/package.mk
Labels: FEATURE, MERGE BLOCKED, PACKAGE, LE 12.0

#8172 mc: fix build with local libpcre2-dev package
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 12.0

#8173 linux (RPi): update to 6.1.54
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, LE 12.0

#8174 [le11] linux (RPi): update to 6.1.54
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#8168 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8153 [le11] openssl: update to 3.0.11
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8170 Vulkan update to 1.3.265
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
  packages/graphics/vulkan/vulkan-tools/patches/vulkan-tools-995.01-cmakelists-opts.patch
  packages/graphics/vulkan/vulkan-tools/patches/vulkan-tools-995.04-fix-glslangValidator-logik.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8171 docker: streamline systemd config
  packages/addons/service/docker/source/system.d/service.system.docker.service
Labels: ADDONS, LE 12.0

#8178 kodi: extend power button udev rule to match on 32bit systems as well
  packages/mediacenter/kodi/config/70-libinput-ignore-power-button.rules
Labels: BUGFIX, IMPROVEMENT, LE 12.0

#8177 RPi: add canupdate.sh script
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/bootloader/canupdate.sh
Labels: IMPROVEMENT, LE 12.0

#8179 mesa: update to 23.2.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8180 [le11] backport kodi power button / shutdown improvements
  packages/mediacenter/kodi/config/70-libinput-ignore-power-button.rules
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-995.21-keymaps-change-remote-poweroff-action-to-show-shutdo.patch
  packages/sysutils/systemd/package.mk
Labels: BUGFIX, IMPROVEMENT, LE 11.0
