Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-05, with the labels that each got.

#7821 rsyslog: update to 8.2304.0 and addon (1)
  packages/addons/addon-depends/rsyslog-depends/libfastjson/package.mk
  packages/addons/service/rsyslog/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#7820 X11 updates
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/chrome-depends/libXft/package.mk
  packages/x11/lib/libXi/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#7819 [le12] multimedia-tools: update addon (2)
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libzen/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#7818 xz: update to 5.4.3
  packages/compress/xz/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7786 busybox: createlog: don't include journal files of persistent logging
  packages/sysutils/busybox/scripts/createlog
Labels: BUGFIX, BACKPORT DONE, LE 12.0

#7809 Minor package updates
  packages/addons/addon-depends/go/package.mk
  packages/audio/libopenmpt/package.mk
  packages/debug/valgrind/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/libbpf/package.mk
  packages/lang/lua54/package.mk
  packages/multimedia/dav1d/package.mk
  packages/network/libssh/package.mk
  packages/sysutils/systemd/package.mk
  packages/textproc/libxml2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7810 rustup.rs: drop unused package
  packages/addons/addon-depends/librespot-depends/rustup.rs/package.mk
Labels: ADDONS, PACKAGE, CLEANUP, LE 12.0

#7814 Vulkan update to 1.3.250
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7815 [le12] docker: update to 23.0.5 and addon (4)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#7816 [le12] network-tools: update addon (2)
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/irssi/package.mk
  packages/addons/addon-depends/network-tools-depends/tcpdump/package.mk
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#7817 [le12] system-tools: update addon (2)
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/package.mk
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#7811 libheif: update to 1.16.1
  packages/graphics/libheif/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7812 llvm: update to 16.0.3
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#7807 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7822 inputstream.adaptive: update 20.3.6-Nexus to 20.3.7-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/multimedia/bento4/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7804 Fix build of libretro-uae4arm and game.libretro.uae4arm
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/emulation/libretro-uae4arm/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.uae4arm/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 12.0

#7823 [le12] linux (RPi): update to 6.1.27
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/scripts/rpi-btuart
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/scripts/rpi-udev
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/system.d/brcmfmac_sdio-firmware.service
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/udev.d/90-rpi-add-serial.rules
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#7808 [le11] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7824 [le11] linux (RPi): update to 6.1.27
  packages/graphics/bcm2835-driver/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/scripts/rpi-btuart
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/scripts/rpi-udev
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/system.d/brcmfmac_sdio-firmware.service
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/udev.d/90-rpi-add-serial.rules
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#7619 [le11] dotnet-runtime: update aspnet6-runtime to 6.0.16
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/changelog.txt
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7648 [le11] addon updates: docker and syncthing
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/ctop/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libseccomp/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/source/bin/ctop
  packages/addons/service/syncthing/changelog.txt
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7656 [le11] system-tools: update to addon (1)
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/diffutils/package.mk
  packages/addons/addon-depends/system-tools-depends/htop/package.mk
  packages/addons/addon-depends/system-tools-depends/lshw/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7712 [le11] btrfs-progs: update to 6.2.2 and addon (1)
  packages/addons/tools/btrfs-progs/changelog.txt
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7813 [le11] librespot: update to 03b547d
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
  packages/addons/service/librespot/patches/librespot-01_notify_kodi.patch
  packages/addons/service/librespot/source/bin/onevent.py
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/miscellaneous/service.librespot-alsa.service
  packages/addons/service/librespot/source/resources/language/English/strings.po
  packages/addons/service/librespot/source/resources/lib/external_player.py
  packages/addons/service/librespot/source/resources/lib/internal_player.py
  packages/addons/service/librespot/source/resources/lib/librespot.py
  packages/addons/service/librespot/source/resources/lib/librespot_alsa.py
  packages/addons/service/librespot/source/resources/lib/librespot_pulseaudio_rtp.py
  packages/addons/service/librespot/source/resources/lib/ls_addon.py
  packages/addons/service/librespot/source/resources/lib/ls_librespot.py
  packages/addons/service/librespot/source/resources/lib/ls_monitor.py
  packages/addons/service/librespot/source/resources/lib/ls_pulseaudio.py
  packages/addons/service/librespot/source/resources/lib/ls_spotify.py
  packages/addons/service/librespot/source/resources/lib/player.py
  packages/addons/service/librespot/source/resources/lib/service.py
  packages/addons/service/librespot/source/resources/settings.xml
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7825 kodi: update to current master
  packages/mediacenter/TexturePacker/package.mk
  packages/mediacenter/kodi/package.mk
  projects/RPi/patches/kodi/0001-gbm-Set-max-bpc-for-high-bit-depth-videos.patch
  projects/RPi/patches/kodi/0002-CDVDVideoCodecDRMPRIME-Also-support-YUV420-buffers.patch
  projects/RPi/patches/kodi/0003-CDVDVideoCodecDRMPRIME-Adjust-av-formats-to-match-re.patch
  projects/RPi/patches/kodi/0003-CVideoLayerBridgeDRMPRIME-add-colourspace-connector-.patch
  projects/RPi/patches/kodi/0004-DVDVideoCodecDRMPRIME-Add-support-for-arbitrary-outp.patch
  projects/RPi/patches/kodi/0005-DVDVideoCodecDRMPRIME-Remove-obsolete-thread_safe_ca.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7826 [le12] mariadb: update to 10.11.3 and addon (2)
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/patches/mariadb-0001-disable-plugin-auth-pam.patch
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 12.0

#7794 gcc: update to 13.1.0
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-03-1124-fix-gcc13.patch
  packages/addons/addon-depends/ttyd-depends/libwebsockets/patches/libwebsockets-0001-PR2824.patch
  packages/emulation/libretro-bsnes-hd/patches/bsnes_hd-002-fix-build-with-gcc-13.patch
  packages/emulation/libretro-bsnes/patches/0002-PR60-fix-build-with-gcc13.patch
  packages/lang/gcc/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/patches/77.patch
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/patches/PR63-fix-build-with-gcc-13.patch
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/patches/PR55-fix-build-with-gcc-13.patch
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/1240-fix-gcc13.patch
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/patches/PR238-fix-gcc-13-build.patch
  packages/multimedia/media-driver/patches/1648.patch
  packages/security/nss/patches/nss-11-D174822-allow-build-with-gcc-13.patch
  packages/wayland/waylandpp/patches/waylandpp-0001-PR71-support-build-with-gcc13.patch
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#7785 samba: samba-config: operate atomic and support any user name and password
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/network/samba/package.mk
  packages/network/samba/scripts/samba-config
  packages/network/samba/scripts/smbd-config
Labels: BUGFIX, BACKPORT REQD, LE 12.0

#7830 samba: update to 4.17.8
  packages/network/samba/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7829 mesa: update to 23.1.0
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7834 inputstream.adaptive: update 20.3.7-Nexus to 20.3.8-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7832 [le12] linux: update to 6.3.y
  packages/linux/package.mk
  packages/linux/patches/default/linux-122-rtw88-USB-fixes2.patch
  packages/linux/patches/default/linux-122-rtw88-sdio-rfc-v1.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#7831 samba: update to 4.17.8
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7835 [le12] intel-ucode: update to 20230512
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, GENERIC, LE 12.0

#7841 [le12] cacert.pem: update to 2023-05-05
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, BACKPORT DONE, LE 12.0

#7838 kernel-firmware: update to 20230515
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7843 kodi: update drmprime-filter patches
  packages/mediacenter/kodi/patches/drmprime-filter/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0002-WIP-DRMPRIME-deinterlace-filter.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0003-DVDVideoCodecDRMPRIME-Avoid-exception-with-AV_PIX_FM.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0004-DVDVideoCodecDRMPRIME-Leave-deinterlace-filter-activ.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0005-SetVideoInterlaced-Set-and-unset-deinterlace-method-.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0006-DVDVideoCodecDRMPRIME-Close-deinterlace-filter-on-er.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0007-DVDVideoCodecDRMPRIME-Fix-missing-flush-after-eof.patch
Labels: BUGFIX, BACKPORT DONE, PATCH, LE 12.0

#7847 Minor package updates
  packages/audio/libopenmpt/package.mk
  packages/audio/pipewire/package.mk
  packages/debug/strace/package.mk
  packages/debug/strace/patches/strace-0003-fix-build-with-linux6-3-2.patch
  packages/devel/fribidi/package.mk
  packages/devel/libcap/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/lang/lua54/package.mk
  packages/multimedia/aom/package.mk
  packages/multimedia/media-driver/package.mk
  packages/network/ethtool/package.mk
  packages/network/openvpn/package.mk
  packages/security/nettle/package.mk
  packages/security/nss/package.mk
  packages/sysutils/libevdev/package.mk
  packages/sysutils/pciutils/package.mk
  packages/textproc/libxml2/package.mk
  packages/textproc/libxslt/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7846 alsa: update to 1.2.9
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
  packages/audio/alsa-utils/patches/alsa-utils-PR213.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7850 [le12] docker: update to 23.0.6 and addon (5)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7845 chrome-libXi: update package filename to match libXi
  packages/addons/addon-depends/chrome-depends/chrome-libXi/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 12.0

#7853 pvr.waipu: update 21.2.1-Omega to 21.3.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7852 pvr.waipu: update 20.8.1-Nexus to 20.9.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7856 [le12] docker: update to 24.0.1 and addon (6)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/docker/moby/patches/moby-001-user-addon-storage-location.patch
  packages/addons/addon-depends/docker/moby/patches/moby-002-use-unconfined-seccomp-profile-as-default.patch
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7860 package updates
  packages/databases/sqlite/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/multimedia/media-driver/package.mk
  packages/sysutils/busybox/package.mk
  packages/sysutils/exfatprogs/package.mk
  packages/sysutils/util-linux/package.mk
  packages/sysutils/util-linux/patches/util-linux-01-fix-pkgconf.patch
  packages/textproc/libxml2/package.mk
  packages/web/curl/package.mk
  packages/web/nghttp2/package.mk
  packages/x11/app/setxkbmap/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7857 Wayland updates
  packages/wayland/util/bemenu/package.mk
  packages/wayland/weston/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7858 development package updates
  packages/devel/ccache/package.mk
  packages/devel/cmake/package.mk
  packages/lang/llvm/package.mk
  packages/python/security/pycryptodome/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7859 glslang: update to 12.2.0
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7861 addon bump to 11.80.1
  distributions/LibreELEC/version
  packages/addons/service/docker/package.mk
  packages/addons/service/hyperion/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/pcscd/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#7863 libgcrypt: update to 1.10.2
  packages/security/libgcrypt/package.mk
  packages/security/libgcrypt/patches/libgcrypt-01-dont_replace_parts_of_path-0.1.patch
  packages/security/libgcrypt/patches/libgcrypt-ac_cv_sys_symbol_underscore.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7836 [le11] intel-ucode: update to 20230516
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 11.0

#7840 [le11] wireless-regdb: update to 2023.05.03
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#7842 [le11] cacert.pem: update to 2023-05-05
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, LE 11.0

#7851 [le11] docker: update to 23.0.6 and addon (4)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7787 busybox: createlog: don't include journal files of persistent logging
  packages/sysutils/busybox/scripts/createlog
Labels: BUGFIX, LE 11.0

#7865 wpa_supplicant: drop legacy IEEE 802.11i supplicant package
  distributions/LibreELEC/options
  packages/network/connman/package.mk
  packages/network/wpa_supplicant/config/makefile.config
  packages/network/wpa_supplicant/package.mk
  packages/network/wpa_supplicant/patches/wpa_supplicant-2.4-libnl3-includes.patch
Labels: PACKAGE, CLEANUP, LE 12.0

#7869 inputstream.ffmpegdirect: update 21.0.0-Omega to 21.1.0-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7870 Network updates
  packages/network/connman/package.mk
  packages/network/iwd/package.mk
  packages/sysutils/busybox/config/busybox-target.conf
Labels: UPDATE, PACKAGE, LE 12.0

#7849 [le12] linux: update to 6.3.y
  packages/linux/package.mk
  projects/Allwinner/patches/linux/0101-Bluetooth-Add-new-quirk-for-broken-local-ext-features.patch
  projects/Allwinner/patches/linux/0101-Bluetooth-btrtl-Add-support-for-RTL8822BS.patch
  projects/Allwinner/patches/linux/0102-Bluetooth-btrtl-Add-support-for-RTL8822BS-UART.patch
  projects/Allwinner/patches/linux/0103-arm64-dts-allwinner-h6-tanix-tx6-Add-compatible-blue.patch
  projects/Allwinner/patches/linux/0104-Bluetooth-btrtl-set-HCI_QUIRK_BROKEN_LOCAL_EXT_FTR_M.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#7873 inputstream.ffmpegdirect: drop upstreamed patch
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/patches/PR238-fix-gcc-13-build.patch
Labels: BUGFIX, ADDONS, PACKAGE, PATCH, LE 12.0

#7875 mesa: update to 23.1.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7876 [le12] snapclient and snapserver: update shairport-sync to 4.2 and addon (1)
  packages/addons/addon-depends/snapcast-depends/asio/package.mk
  packages/addons/addon-depends/snapcast-depends/nqptp/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#7881 curl: update to 8.1.2
  packages/web/curl/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 12.0

#7884 media-driver: update to 23.2.3
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0
