Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-10, with the labels that each got.

#8182 Vulkan update to 1.3.266
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
  packages/graphics/vulkan/vulkan-tools/patches/vulkan-tools-995.01-cmakelists-opts.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8184 pvr.waipu: update 21.4.0-Omega to 21.4.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8183 Package updates
  packages/audio/fluidsynth/package.mk
  packages/graphics/assimp/package.mk
  packages/multimedia/media-driver/package.mk
  packages/network/bluez/package.mk
  packages/python/devel/meson/package.mk
  packages/sysutils/kmod/package.mk
  packages/sysutils/systemd/package.mk
  packages/textproc/pugixml/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8186 libX11: update to 1.8.7
  packages/x11/lib/libX11/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8188 Python3: update to 3.11.6
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8190 [le12] linux: request to enable SCSI generic devices support
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, LE 12.0

#8189 [le11] linux: request to enable SCSI generic devices support
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, LE 11.0

#8191 linux (RPi): update to 6.1.55
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-062-imon_pad_ignore_diagonal.patch
  packages/linux/patches/raspberrypi/linux-999.02-0001-pm-disable-async-suspend-resume-by-default.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, CLEANUP, LE 12.0

#8195 linux (default): Replace hdmi-codec channel mapping patch with upstreamed version
  packages/linux/patches/default/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
Labels: UPDATE, BACKPORT DONE, PATCH, KERNEL, LE 12.0

#8196 [le11] linux (default): Replace hdmi-codec channel mapping patch with upstreamed version
  packages/linux/patches/default/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
Labels: UPDATE, PATCH, KERNEL, LE 11.0

#8192 [le11] linux (RPi): update to 6.1.55
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-062-imon_pad_ignore_diagonal.patch
  packages/linux/patches/raspberrypi/linux-999.02-0001-pm-disable-async-suspend-resume-by-default.patch
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, CLEANUP, LE 11.0

#8193 Rust update to 1.73.0 and llvm to 17.0.2
  packages/lang/llvm/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 12.0

#8197 system-tools: update addon (1)
  packages/addons/addon-depends/system-tools-depends/dool/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/inotify-tools/patches/0001-fix-build-when-being-done-out-of-tree.patch
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/devel/pcre2/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8198 package updates
  packages/addons/addon-depends/go/package.mk
  packages/audio/pipewire/package.mk
  packages/devel/cmake/package.mk
  packages/devel/gettext/package.mk
  packages/devel/hwdata/package.mk
  packages/multimedia/dav1d/package.mk
  packages/multimedia/nv-codec-headers/package.mk
  packages/network/libtirpc/package.mk
  packages/network/openssh/package.mk
  packages/python/system/simplejson/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/lib/libXrandr/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8205 [LE12] Allwinner: linux: various fixes
  projects/Allwinner/patches/linux/0057-drm-bridge-dw-hdmi-support-configuring-phy-for-deep-.patch
  projects/Allwinner/patches/linux/0059-WIP-drm-sun4i-de3-Add-support-for-YUV420-output.patch
  projects/Allwinner/patches/linux/0068-drm-bridge-dw-hdmi-truly-enforce-420-only-formats-wh.patch
  projects/Allwinner/patches/linux/0069-clk-sunxi-ng-h6-Reparent-CPUX-during-PLL-CPUX-rate-c.patch
  projects/Allwinner/patches/linux/0070-wip-h3-h5-cvbs.patch
  projects/Allwinner/patches/linux/0071-HACK-SW-CEC-implementation-for-H3.patch
  projects/Allwinner/patches/linux/0072-HACK-clk-sunxi-ng-unify-parent-for-HDMI-clocks.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 12.0

#8209 Allwinner: kodi: Remove upstreamed patch
  projects/Allwinner/patches/kodi/PR23889.patch
Labels: BUILDSYSTEM, ALLWINNER, LE 12.0

#8210 amlogic-boot-fip: update to githash c4bf0e3
  packages/tools/amlogic-boot-fip/package.mk
Labels: UPDATE, PACKAGE, AMLOGIC, LE 12.0

#8213 Fix Odroid XU3/XU4 build
  projects/Samsung/patches/kodi/kodi-0002-LOCAL-changes-for-Odroid-XU3-XU4.patch
Labels: PATCH, SAMSUNG, LE 12.0

#8214 libusb-compat: fix sha256
  packages/sysutils/libusb-compat/package.mk
Labels: PACKAGE, LE 12.0

#8215 [le11] kodi: update to current Nexus version
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 11.0

#8204 [le11] samba: update to 4.17.12
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8212 Package updates
  packages/addons/addon-depends/go/package.mk
  packages/audio/pipewire/package.mk
  packages/audio/wireplumber/package.mk
  packages/databases/sqlite/package.mk
  packages/devel/shared-mime-info/package.mk
  packages/multimedia/libva/package.mk
  packages/network/iptables/package.mk
  packages/network/samba/package.mk
  packages/sysutils/fuse3/package.mk
  packages/wayland/libxkbcommon/package.mk
  packages/wayland/util/foot/package.mk
  packages/wayland/util/wlr-randr/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8199 Vulkan update to 1.3.268
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8201 amlogic: pick mt7662 firmware to AMLGX image
  projects/Amlogic/config/kernel-firmware.dat
Labels: HARDWARE, AMLOGIC, LE 12.0

#8203 pvr.iptvsimple: update 21.4.0-Omega to 21.4.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8218 kodi: update to 8fd6170
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, UPDATE, LE 12.0

#8219 package updates
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/graphics/Pillow/patches/Pillow-0002-Fix-missing-symbols-as-libtiff-can-depend-on-libjpeg.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8220 [LE12] Allwinner: linux: Attempt at fixing OPi3 LTS net stability issue
  projects/Allwinner/patches/linux/0041-OrangePi-3-LTS-support.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 12.0

#8221 [LE12] Allwinner: linux: fix drm plane rendering for older SoCs
  projects/Allwinner/patches/linux/0058-WIP-drm-bridge-dw-hdmi-limit-mode-and-bus-format-to-.patch
  projects/Allwinner/patches/linux/0065-drm-sun4i-de3-Implement-AFBC-support.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 12.0

#8202 curl: update to 8.4.0
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8224 kodi: update to 21.0b1-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8226 pvr.iptvsimple: update 21.4.1-Omega to 21.4.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8227 [LE12] Allwinner: linux: fix deinterlacer driver
  projects/Allwinner/patches/linux/0073-wip-media-sunxi-sun8i-di-fix-race-condition.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 12.0

#8228 [le12] linux: update to 6.5.8
  packages/linux/package.mk
  packages/linux/patches/default/linux-022-ASoC-hdmi-codec-Fix-broken-channel-map-reporting.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8230 rpi-tools: update addon and build for aarch64 as well
  licenses/Unlicense.txt
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_ADS1x15/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_ADXL345/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_BMP/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_CharLCD/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_DHT/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_GPIO/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_LED_Backpack/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_LSM303/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_MCP3008/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_MCP4725/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_PCA9685/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_PureIO/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_SI1145/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_SSD1306/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_TCS34725/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_VCNL40xx/package.mk
  packages/addons/addon-depends/adafruit-libraries-depends/Adafruit_Python_WS2801/package.mk
  packages/addons/addon-depends/rpi-tools-depends/RPi.GPIO/package.mk
  packages/addons/addon-depends/rpi-tools-depends/colorzero/package.mk
  packages/addons/addon-depends/rpi-tools-depends/gpiozero/package.mk
  packages/addons/addon-depends/rpi-tools-depends/lan951x-led-ctl/package.mk
  packages/addons/addon-depends/rpi-tools-depends/lg-gpio/package.mk
  packages/addons/libraries/adafruit-libraries/changelog.txt
  packages/addons/libraries/adafruit-libraries/icon/icon.png
  packages/addons/libraries/adafruit-libraries/package.mk
  packages/addons/libraries/adafruit-libraries/source/default.py
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, UPDATE, CLEANUP, LE 12.0

#8233 linux (RPi): update to 6.1.58
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8236 mariadb-connector-c: Resolve bad handshake on 32-bit platforms
  packages/databases/mariadb-connector-c/patches/fix-build-error-on-32-bit-systems.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 12.0

#8237 lg-gpio: fix PKG_URL
  packages/addons/addon-depends/rpi-tools-depends/lg-gpio/package.mk
Labels: BUGFIX, ADDONS, LE 12.0

#8234 [le11] linux (RPi): update to 6.1.58
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#8216 [le11] linux: update to 6.1.58
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-list.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, GENERIC, LE 11.0

#8225 Package updates
  packages/audio/pipewire/package.mk
  packages/devel/mold/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/graphics/libdrm/package.mk
  packages/graphics/libheif/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/graphics/vulkan/glslang/package.mk
  packages/lang/llvm/package.mk
  packages/multimedia/media-driver/package.mk
  packages/network/samba/package.mk
  packages/wayland/util/foot/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8235 Vulkan update to 1.3.269
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8238 lg-gpio: fix PKG_SHA256
  packages/addons/addon-depends/rpi-tools-depends/lg-gpio/package.mk
Labels: BUGFIX, ADDONS, LE 12.0

#7282 udevil: update to alpharde fork and config
  packages/sysutils/udevil/config/udevil.conf
  packages/sysutils/udevil/package.mk
  packages/sysutils/udevil/patches/udevil-fix-build.patch
Labels: PACKAGE, PATCH, LE 12.0

#8239 Development package updates
  packages/python/devel/meson/package.mk
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8240 firmware-imx: update to 8.21
  packages/linux-firmware/firmware-imx/package.mk
Labels: UPDATE, PACKAGE, NXP, LE 12.0

#8242 RPi: switch from bcm2835-userland to bcm2835-utils
  packages/tools/bcm2835-userland/package.mk
  packages/tools/bcm2835-utils/package.mk
  packages/tools/dtc/package.mk
  projects/RPi/options
Labels: UPDATE, PACKAGE, CLEANUP, LE 12.0

#8243 dvb-tools: list dvb-apps binaries in the add-on description
  packages/addons/tools/dvb-tools/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#8250 [le11] openssl: update to 3.0.12
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8252 lg-gpio: fix wrong CROSS_PREFIX
  packages/addons/addon-depends/rpi-tools-depends/lg-gpio/package.mk
Labels: BUGFIX, ADDONS, LE 12.0

#8249 [le12] openssl: update to 3.1.4
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8251 usbutils: update to 016
  packages/sysutils/usbutils/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8248 xorg-server: update to 21.1.9
  packages/x11/xserver/xorg-server/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8253 Package updates
  packages/devel/glib/package.mk
  packages/graphics/kmsxx/package.mk
  packages/multimedia/rtmpdump/package.mk
  packages/multimedia/rtmpdump/patches/001_fix-racing-build-issue.patch
  packages/tools/newt/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8254 dbus: update to 1.15.8 and meson
  packages/sysutils/dbus/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#7797 go: add support for /usr/local host installations
  packages/addons/addon-depends/go/package.mk
Labels: ADDONS, WORK IN PROGRESS, MERGE BLOCKED, PACKAGE, LE 12.0

#8258 Package updates
  packages/multimedia/media-driver/package.mk
  packages/sysutils/exfatprogs/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8259 docker: update to 24.0.7 and addon (1)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8257 update dependancies and fix glib pkgconfig
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/chrome-depends/atk/package.mk
  packages/audio/pipewire/package.mk
  packages/audio/pulseaudio/package.mk
  packages/audio/wireplumber/package.mk
  packages/devel/glib/package.mk
  packages/devel/json-glib/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
  packages/sysutils/open-vm-tools/package.mk
Labels: BUGFIX, PACKAGE, CLEANUP, LE 12.0

#8260 pvr.iptvsimple: update 20.11.0-Nexus to 20.11.1-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8241 flirc_util: add initial add-on package
  licenses/FLIRC.txt
  licenses/HIDAPI-orig.txt
  packages/addons/addon-depends/hidapi/package.mk
  packages/addons/tools/flirc_util/changelog.txt
  packages/addons/tools/flirc_util/icon/icon.png
  packages/addons/tools/flirc_util/package.mk
  packages/addons/tools/flirc_util/source/default.py
Labels: ADDONS, LE 12.0

#8121 [tvheadend 4.2/4.3] Display file location field when "File" is chosen in type field.
  packages/addons/service/tvheadend42/source/resources/settings.xml
  packages/addons/service/tvheadend43/source/resources/settings.xml
Labels: ADDONS, LE 12.0

#8261 filebrowser: initial addon
  packages/addons/service/filebrowser/changelog.txt
  packages/addons/service/filebrowser/icon/icon.png
  packages/addons/service/filebrowser/package.mk
  packages/addons/service/filebrowser/source/bin/filebrowser.start
  packages/addons/service/filebrowser/source/default.py
  packages/addons/service/filebrowser/source/resources/language/English/strings.po
  packages/addons/service/filebrowser/source/resources/screenshot-01.png
  packages/addons/service/filebrowser/source/resources/screenshot-02.png
  packages/addons/service/filebrowser/source/resources/screenshot-03.png
  packages/addons/service/filebrowser/source/resources/screenshot-04.png
  packages/addons/service/filebrowser/source/resources/settings.xml
  packages/addons/service/filebrowser/source/settings-default.xml
  packages/addons/service/filebrowser/source/system.d/service.filebrowser.service
Labels: ADDONS, LE 12.0

#7369 linux: unify USB serial driver config
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, CLEANUP, LE 12.0

#8266 [le12] dotnet-runtime: update to aspnet6-runtime 6.0.24 and addon (2)
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#8264 pvr.waipu: update 21.4.1-Omega to 21.4.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8265 pvr.waipu: update 20.10.1-Nexus to 20.10.2-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#7729 gptfdisk: update to 1.09.2 / fs_resize: improvements
  packages/sysutils/busybox/scripts/fs-resize
  packages/sysutils/gptfdisk/patches/0001-Fix-failure-crash-of-sgdisk-when-compiled-with-lates.patch
  packages/sysutils/gptfdisk/patches/0002-Updated-guid.cc-to-deal-with-minor-change-in-libuuid.patch
  packages/sysutils/gptfdisk/patches/0003-Updated-URLs-in-man-pages-to-HTTPS-rather-than-HTTP.patch
  packages/sysutils/gptfdisk/patches/0004-Fix-NULL-dereference-when-duplicating-string-argumen.patch
  packages/sysutils/gptfdisk/patches/0005-Use-64bit-time_t-on-linux-as-well.patch
  packages/sysutils/gptfdisk/patches/0006-Allow-partition-dynamically-allocated-by-largest-new.patch
  packages/sysutils/gptfdisk/patches/0007-Document-recent-merge.patch
  packages/sysutils/gptfdisk/patches/0008-Document-recent-mergest.patch
  packages/sysutils/gptfdisk/patches/0009-Do-some-explicit-casts-in-gptcurses.cc-to-eliminate-.patch
  packages/sysutils/gptfdisk/patches/0010-Truncate-decimal-inputs-e.g.-9.5G-becomes-9G.patch
  packages/sysutils/gptfdisk/patches/0011-Document-previous-merge.patch
  packages/sysutils/gptfdisk/patches/0012-Minor-code-cleanup-based-on-valgrind-analysis.patch
Labels: BUGFIX, IMPROVEMENT, LE 11.0

#8269 kodi: update to c5d20b2
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
  packages/mediacenter/kodi/patches/kodi-100.05-make-binary-addons-executable.patch
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.08-setup-timezone.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-100.15-rename-default-pulse-device.patch
  packages/mediacenter/kodi/patches/kodi-100.16-remove-sysinfo-battery.patch
  packages/mediacenter/kodi/patches/kodi-100.26-disable-internal-texturepacker.patch
  packages/mediacenter/kodi/patches/kodi-100.30-addons-refresh-etc-environment.patch
  packages/mediacenter/kodi/patches/kodi-100.40-estuary-settings-icon.patch
  packages/mediacenter/kodi/patches/kodi-995.21-keymaps-change-remote-poweroff-action-to-show-shutdo.patch
  packages/mediacenter/kodi/patches/kodi-999.20-headers-only.patch
Labels: UPDATE, LE 12.0

#8211 Update update-scan
  packages/addons/addon-depends/icu/package.mk
  tools/update-scan
Labels: LE 12.0
