Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-11, with the labels that each got.

#8136 [le12] linux: update to 6.6.y
  packages/debug/strace/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.14-kernel-6.6.patch
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-470xx-fix-linux-6.6.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0013-drm_call_drm_atomic_helper_shutdown_at_shutdown.patch
  projects/Allwinner/patches/linux/0016-mfd-Add-support-for-AC200.patch
  projects/Allwinner/patches/linux/0026-phy-handle-optional-regulator-for-PHY.patch
  projects/Allwinner/patches/linux/0045-media-mediatek-vcodec-Add-capture-format-to-support-.patch
  projects/Allwinner/patches/linux/0046-media-mediatek-vcodec-Add-capture-format-to-support-.patch
  projects/Allwinner/patches/linux/0068-drm-bridge-dw-hdmi-truly-enforce-420-only-formats-wh.patch
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/devices/x11/patches/linux/linux-revert-fbdev--Make-registered-fb---private-to-fbmem-6-1.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0001-drm-bridge-mhdp-Add-cdns-mhdp-driver-bridge-driver.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Samsung/linux/linux.arm.conf
  projects/Samsung/patches/linux/samsung-0004-WIP-soc-samsung-pm_domains-Bring-back-old-driver-imp.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8270 Kernel-firmware and usbutils
  packages/linux-firmware/kernel-firmware/package.mk
  packages/sysutils/usbutils/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8280 inputstream.adaptive: update 20.3.13-Nexus to 20.3.14-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8281 inputstream.adaptive: update 21.3.0-Omega to 21.3.1-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8277 Update packages
  packages/audio/pipewire/package.mk
  packages/compress/xz/package.mk
  packages/databases/sqlite/package.mk
  packages/debug/valgrind/package.mk
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8276 install default dbus policies for the system bus into /usr/share/dbus-1/system.d
  packages/network/avahi/patches/avahi-0001-dbus--Use-non-deprecated-installation-path.patch
  packages/network/connman/package.mk
Labels: PACKAGE, PATCH, CLEANUP, LE 12.0

#8274 [le12] chrome: update to 119.0.6045.105 and addon (1)
  packages/addons/addon-depends/chrome-depends/at-spi2-atk/package.mk
  packages/addons/addon-depends/chrome-depends/cups/package.mk
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/browser/chrome/source/bin/chrome-downloader
  packages/addons/browser/chrome/source/bin/chrome-start
  packages/addons/browser/chrome/source/bin/deb_extract_data
Labels: ADDONS, UPDATE, PACKAGE, CLEANUP, GENERIC, LE 12.0

#8272 linux: add CONFIG_ options for netfilter limit and log
  distributions/LibreELEC/kernel_options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: IMPROVEMENT, FEATURE, KERNEL, LE 12.0

#7828 samba: samba-config: operate atomic and support any user name and password
  packages/mediacenter/LibreELEC-settings/package.mk
  packages/network/samba/package.mk
  packages/network/samba/scripts/samba-config
  packages/network/samba/scripts/smbd-config
Labels: BUGFIX, LE 11.0

#8262 flirc_util: add initial add-on package
  licenses/FLIRC.txt
  licenses/HIDAPI-orig.txt
  packages/addons/addon-depends/hidapi/package.mk
  packages/addons/tools/flirc_util/changelog.txt
  packages/addons/tools/flirc_util/icon/icon.png
  packages/addons/tools/flirc_util/package.mk
  packages/addons/tools/flirc_util/source/default.py
Labels: ADDONS, LE 11.0

#8283 ffmpeg-tools: add long description and shorter short description
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, CLEANUP, LE 12.0

#8284 btrfs-progs: start descriptions with a capital letter
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, CLEANUP, LE 12.0

#8285 pvr.iptvsimple: update 20.11.1-Nexus to 20.13.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8282 plymouth-lite bootsplash was not displaying since kernel 6.6
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8288 [le12] btrfs-progs: update to 6.6 and adddon (2)
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8287 pvr.iptvsimple: update 21.4.2-Omega to 21.6.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8289 [le12] tools addon updates
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mesa-demos/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/irssi/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/oniguruma/package.mk
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8290 [[le12] Addons updates
  packages/addons/addon-depends/ccid/package.mk
  packages/addons/addon-depends/dvb-tools-depends/dvb-apps/patches/dvb-apps-60-compat-fixes.patch
  packages/addons/addon-depends/dvb-tools-depends/dvb-apps/patches/dvb-apps-61-compat-fixes.patch
  packages/addons/addon-depends/dvb-tools-depends/dvbsnoop/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/libvpx/package.mk
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/addon-depends/tinc-depends/miniupnpc/package.mk
  packages/addons/addon-depends/ttyd-depends/libuv/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tinc/package.mk
  packages/addons/service/tinc/patches/tinc-0001-fix-autoconf-archive.patch
  packages/addons/service/ttyd/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/dvb-tools/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7365 u-boot: update to 2023.10
  packages/python/devel/pyelftools/package.mk
  packages/tools/u-boot/package.mk
  projects/Allwinner/patches/u-boot/0001-Kconfig-Remove-an-impossible-condition.patch
  projects/Allwinner/patches/u-boot/0002-binman-Prevent-entries-in-a-section-from-overlapping.patch
  projects/Allwinner/patches/u-boot/0003-sunxi-binman-Enable-SPL-FIT-loading-for-32-bit-SoCs.patch
  projects/Allwinner/patches/u-boot/0011-arm-psci-Add-definitions-for-PSCI-v1.1.patch
  projects/Amlogic/patches/u-boot/u-boot-0001-LOCAL-configs-meson64-prevent-stdout-stderr-on-video.patch
  projects/Amlogic/patches/u-boot/u-boot-0004-BACKPORT-arm64-dts-meson-nanopi-k2-readd-PHY-reset-p.patch
  projects/Amlogic/patches/u-boot/u-boot-0005-WIP-ARM-dts-import-WeTek-Hub-Play2-DTs-from-Linux-5..patch
  projects/Amlogic/patches/u-boot/u-boot-0006-WIP-ARM-dts-use-snps-reset-on-WeTek-devices-to-fix-E.patch
  projects/Amlogic/patches/u-boot/u-boot-0008-WIP-boards-amlogic-add-WeTek-Hub-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0009-WIP-boards-amlogic-add-WeTek-Play2-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0010-WIP-ARM-dts-add-support-for-Radxa-Zero2.patch
  projects/Amlogic/patches/u-boot/u-boot-0011-WIP-boards-amlogic-add-Radxa-Zero2-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0012-WIP-doc-boards-amlogic-update-for-Radxa-Zero2.patch
  projects/Amlogic/patches/u-boot/u-boot-0013-WIP-ARM-dts-import-Beelink-GT1-DT-from-Linux-5.21.patch
  projects/Amlogic/patches/u-boot/u-boot-0014-WIP-boards-amlogic-add-Beelink-GT1-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0015-WIP-doc-boards-amlogic-update-for-Beelink-GT1.patch
  projects/Amlogic/patches/u-boot/u-boot-0016-WIP-ARM-dts-convert-bananapi-m5-to-dtsi.patch
  projects/Amlogic/patches/u-boot/u-boot-0017-WIP-ARM-dts-add-support-for-BananaPi-M2-Pro.patch
  projects/Amlogic/patches/u-boot/u-boot-0018-WIP-boards-add-BananaPi-M2-Pro-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0019-WIP-docs-boards-amlogic-update-for-BananaPi-M2-Pro.patch
  projects/Amlogic/patches/u-boot/u-boot-0020-WIP-boards-add-BananaPi-M2S-defconfig.patch
  projects/Amlogic/patches/u-boot/u-boot-0021-WIP-docs-boards-amlogic-update-for-BananaPi-M2S.patch
  projects/Amlogic/patches/u-boot/u-boot-0022-WIP-ARM-dts-add-support-for-BananaPi-M2S.patch
  projects/NXP/devices/iMX8/patches/u-boot/0005-pico-imx8mq-add-distro-boot-cmd-support.patch
  projects/Rockchip/bootloader/config
  projects/Rockchip/bootloader/install
  projects/Rockchip/devices/RK3288/bootloader/config
  projects/Rockchip/patches/u-boot/0001-202301-arm-rockchip-rk3399-Program-PLL-clock-for-DDR-at-50-.patch
  projects/Rockchip/patches/u-boot/0001-rockchip-efuse-add-support-for-RK322x-non-secure-efu.patch
  projects/Rockchip/patches/u-boot/0002-rockchip-efuse-add-support-for-RK3328-non-secure-efu.patch
  projects/Rockchip/patches/u-boot/0003-arm-dts-enable-efuse-for-RK3288.patch
  projects/Rockchip/patches/u-boot/0006-Rockchip-rk3399-evb-Don-t-initalize-i2c-bus-in-SPL.patch
  projects/Samsung/patches/u-boot/u-boot-0001-add-xu4-defconfig.patch
Labels: UPDATE, MERGE BLOCKED, PACKAGE, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, SAMSUNG, LE 12.0

#8291 Addon updates and fix
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/service/filebrowser/package.mk
  packages/addons/service/pcscd/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8292 Package updates
  packages/devel/elfutils/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/mold/package.mk
  packages/graphics/libheif/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8293 pvr.hts: update 21.1.0-Omega to 21.1.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8294 pvr.hts: update 20.6.3-Nexus to 20.6.4-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8295 kodi: update to fdb4025
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-999.20-headers-only.patch
Labels: UPDATE, LE 12.0

#8275 linux: enable MGLRU in config options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: IMPROVEMENT, KERNEL, LE 12.0

#8297 Package updates
  packages/addons/addon-depends/ttyd-depends/libuv/package.mk
  packages/devel/fakeroot/package.mk
  packages/devel/fakeroot/patches/fakeroot-001-disable-docs-tests.patch
  packages/devel/fakeroot/patches/fakeroot-002-fix-missing-header-file-race-condition-1041674.patch
  packages/graphics/jasper/package.mk
  packages/multimedia/nvidia-vaapi-driver/package.mk
  packages/python/devel/pyelftools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8298 Addon updates
  packages/addons/service/jellyfin/package.mk
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8299 slang: dont build with pcre
  packages/devel/slang/package.mk
Labels: PACKAGE, CLEANUP, LE 12.0

#8302 pvr.mythtv: update 20.5.5-Nexus to 20.5.6-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8303 pvr.mythtv: update 20.3.2-Nexus to 21.0.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8307 Package updates
  packages/addons/addon-depends/go/package.mk
  packages/python/devel/Mako/package.mk
  packages/sysutils/systemd/package.mk
  packages/x11/driver/xf86-video-ati/package.mk
  packages/x11/driver/xf86-video-ati/patches/xf86-video-ati-999.01-fix-gcc-10.patch
  packages/x11/driver/xf86-video-ati/patches/xf86-video-ati-999.02-cleanup-terminology-to-use-primary-secondary.patch
Labels: UPDATE, PACKAGE, LE 12.0

#7661 [le12] vdr-addon: update addon to (1)
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgfixer/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/devel/pcre2/package.mk
Labels: ADDONS, UPDATE, PACKAGE, CLEANUP, LE 12.0

#8313 ffmpeg: update to 6.0.1
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/fmpegx-0001-Fixes-assembling-with-binutils-as-2.41.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8312 Vulkan update to 1.3.270
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
  packages/graphics/vulkan/vulkan-tools/patches/vulkan-tools-995.01-cmakelists-opts.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8310 vdr-addon: update addon to (2)
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-dvbapi/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-robotv/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-streamdev/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-streamdev/patches/vdr-plugin-streamdev-01_4k_hevc_support.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-streamdev/patches/vdr-plugin-streamdev-02_2.3.9_lock_fix.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-streamdev/patches/vdr-plugin-streamdev-04_fix_vdr_2.6.x_build_error.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-01-fixes.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-02-countries_utf8.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-03-fixes.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/sources/Makefile
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscancontrol/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscancontrol/patches/vdr-plugin-wirbelscancontrol-02-vdr_2.3.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/patches/vdr-plugin-xmltv2vdr-01-fix-makefile.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/patches/vdr-plugin-xmltv2vdr-02_gcc721_fixes.patch
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8311 Tvheadend: change scan_table location
  packages/addons/addon-depends/dtv-scan-tables/package.mk
  packages/addons/addon-depends/tvh-dtv-scan-tables/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/source/download.py
  packages/addons/service/tvheadend42/source/resources/language/English/strings.po
  packages/addons/service/tvheadend42/source/resources/settings.xml
  packages/addons/service/tvheadend43/package.mk
  packages/addons/service/tvheadend43/source/download.py
  packages/addons/service/tvheadend43/source/resources/language/English/strings.po
  packages/addons/service/tvheadend43/source/resources/settings.xml
Labels: ADDONS, UPDATE, LE 12.0

#8316 curl: remove unrecognized options
  packages/web/curl/package.mk
Labels: PACKAGE, CLEANUP, LE 12.0

#8315 LibreELEC-settings: update to fb6d663
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, LE 12.0

#8319 Package updates
  packages/devel/swig/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/network/openvpn/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8320 vdr-addon: update addon to (3)
  packages/addons/addon-depends/librepfunc/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-01-fixes.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/patches/vdr-plugin-wirbelscan-03-fixes.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/sources/Makefile
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#7361 fix cross-compile simplejson
  packages/python/system/simplejson/package.mk
Labels: BUGFIX, LE 12.0

#8324 vdr-addon: update addon to (4)
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/sources/Makefile
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscancontrol/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/package.mk
  packages/addons/service/vdr-addon/package.mk
Labels: BUGFIX, ADDONS, LE 12.0

#8325 pvr.mythtv: addon depends on zlib
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: BUGFIX, ADDONS, LE 12.0

#8091 nvidia: update to 545.29.02
  packages/graphics/nvidia/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8327 Addon updates and fixes
  packages/addons/addon-depends/faad2/package.mk
  packages/addons/addon-depends/librepfunc/patches/fix-cross-compile.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscancontrol/patches/fix-cross-compile.patch
  packages/addons/script/script.config.vdr/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, PACKAGE, PATCH, LE 12.0

#8328 intel-ucode: update to 20231114
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8331 pvr.hts: update 21.1.1-Omega to 21.1.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8333 tools/docker: drop end of support stretch, bionic
  tools/docker/README.md
  tools/docker/bionic/Dockerfile
  tools/docker/stretch/Dockerfile
Labels: BUILDSYSTEM, CLEANUP, LE 12.0

#8334 Package updates
  packages/audio/pipewire/package.mk
  packages/devel/configtools/package.mk
  packages/lang/llvm/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
  packages/security/gnutls/package.mk
  packages/security/libgcrypt/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8337 peripheral.joystick: update 21.1.7-Omega to 21.1.8-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8338 linux (RPi): update to 6.1.62
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/options
Labels: UPDATE, BACKPORT REQD, KERNEL, LE 12.0

#8343 [le12] Addon updates
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/patches/mariadb-2732--fix-build-with-libfmt.patch
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8344 Package updates
  packages/devel/mold/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/textproc/libxslt/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8340 [le12] cacert.pem CA bundle: update to 2023-11-15
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#8336 Rust update to 1.74.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, BUILDSYSTEM, PACKAGE, LE 12.0

#8318 Kernel firmware update and rdfind
  packages/linux-firmware/kernel-firmware/package.mk
  scripts/checkdeps
  tools/docker/jammy/Dockerfile
  tools/docker/kinetic/Dockerfile
  tools/docker/lunar/Dockerfile
  tools/docker/sid/Dockerfile
Labels: UPDATE, BUILDSYSTEM, PACKAGE, LE 12.0

#8346 [le12] iwd and connman
  packages/network/connman/package.mk
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8339 [le11] linux (RPi): update to 6.1.62
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi5/options
Labels: UPDATE, KERNEL, LE 11.0

#8341 [le11] cacert.pem CA bundle: update to 2023-11-15
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, PACKAGE, LE 11.0

#8349 linux (RPi): update to 6.6.2
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8347 Package updates
  packages/devel/gettext/package.mk
  packages/graphics/libdrm/package.mk
  packages/network/openvpn/package.mk
  packages/textproc/libxml2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8306 [LE12] linux: update to 6.6.x
  packages/linux/package.mk
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8350 brcmfmac_sdio-firmware-rpi: update to 26ff205
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8286 kernel_options: plymouth-lite requires CONFIG_FB_DEVICE=y
  distributions/LibreELEC/kernel_options
Labels: KERNEL, LE 12.0

#8351 Package updates
  config/functions
  packages/graphics/libde265/package.mk
  packages/graphics/libheif/package.mk
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8352 inputstream.adaptive: update 21.3.1-Omega to 21.4.0-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8354 linux: rtw88: patch to reduce disconnects
  packages/linux/patches/default/linux-111-rtw88-from-next.patch
  packages/linux/patches/raspberrypi/linux-111-rtw88-from-next.patch
Labels: BUGFIX, KERNEL, LE 12.0, DRIVER

#8353 add MT7921 module and firmware
  packages/linux-firmware/kernel-firmware/firmwares/any.dat
  packages/linux-firmware/kernel-firmware/firmwares/x86_64.dat
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/config/kernel-firmware.dat
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/config/kernel-firmware-any.dat
  projects/Samsung/config/kernel-firmware.dat
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, LE 12.0, DRIVER

#8355 connman: add revert patch to avoid wireguard route regressions
  packages/network/connman/patches/connman-06-Revert-Don-t-add-route-for-invalid-dst-and-gateway-a.patch
Labels: BUGFIX, PATCH, LE 12.0

#8358 xf86-video-nvidia: update to 545.29.06
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8361 Package updates
  packages/audio/wireplumber/package.mk
  packages/databases/sqlite/package.mk
  packages/network/ethtool/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8362 libbpf: update to 1.3.0
  packages/devel/libbpf/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8359 openssl: update to 3.2.0
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8363 kodi: update to 0f4ed67
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-995.21-keymaps-change-remote-poweroff-action-to-show-shutdo.patch
Labels: UPDATE, LE 11.0

#8367 mpv-drmprime: update to 0.37.0
  packages/addons/addon-depends/multimedia-tools-depends/libplacebo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/patches/mpv-drmprime-0001-meson-also-expose-present_sync-for-VT-only-after.patch
  packages/python/graphics/glad/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8366 v4l-utils: update to 1.26.0
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-001-disable-doxygen-in-automake.patch
  packages/sysutils/v4l-utils/patches/v4l-utils-003-enable-bpf-without-clang.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8369 [le11] linux: update to 6.1.63
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, GENERIC, LE 11.0

#8370 v4l-utils: fix 1.26.0 cross compiled builds
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-003-enable-bpf-without-clang.patch
Labels: MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, PATCH, LE 12.0

#8371 pvr.mythtv: update 21.0.0-Omega to 21.0.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8372 pvr.mythtv: update 20.5.6-Nexus to 20.5.8-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8368 pipewire: update to 1.0.0
  packages/audio/pipewire/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8373 samba: update to 4.19.3
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8374 iwd: update to 2.10
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8360 atf: update to 2.10.0
  packages/tools/atf/package.mk
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, NXP, LE 12.0

#8375 Vulkan update to 1.3.271
  packages/graphics/vulkan/volk/package.mk
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8376 Package updates
  packages/graphics/jasper/package.mk
  packages/lang/llvm/package.mk
  packages/multimedia/media-driver/package.mk
  packages/textproc/nlohmann-json/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8377 Fix uidgid journalctl errors at boot and sanitize uidgid
  packages/network/avahi/package.mk
  packages/sysutils/systemd/package.mk
Labels: PACKAGE, CLEANUP, LE 12.0

#8379 nss: update to 3.95
  packages/security/nss/package.mk
  packages/security/nss/patches/0001-Revert-Bug-1827303-Softoken-C_-calls-should-use-syst.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8380 libxml2: update to 2.12.1
  packages/textproc/libxml2/package.mk
  packages/textproc/xmlstarlet/patches/xmlstarlet-0246-fix-compile-with-libxml-2-12-0.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8382 systemd: update to 254.7
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8381 pcscd and oscam addon updates with pcsc-lite 2.0.1
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/polkit/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/tools/rpi-tools/package.mk
  packages/devel/pax-utils/package.mk
  packages/virtual/toolchain/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8308 udevil: support custom udevil.conf in /storage/.config
  packages/sysutils/udevil/package.mk
Labels: FEATURE, BACKPORT DONE, LE 12.0
