Repository LibreELEC/LibreELEC.tv, pull requests merged in 2023-12, with the labels that each got.

#8386 glibc: all kernels now 6.6
  packages/devel/glibc/package.mk
Labels: PACKAGE, LE 12.0

#8387 vulkan update to 1.3.272
  packages/graphics/vulkan/volk/package.mk
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8384 Package updates
  packages/devel/mold/package.mk
  packages/devel/shared-mime-info/package.mk
  packages/graphics/nvidia/package.mk
  packages/multimedia/aom/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8383 Addon updates
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/faad2/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/vim/package.mk
  packages/addons/addon-depends/ttyd-depends/libwebsockets/package.mk
  packages/addons/addon-depends/ttyd-depends/libwebsockets/patches/libwebsockets-0001-PR2824.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/patches/vdr-plugin-xmltv2vdr-05-use-const-xmlErrorPtr-to-compile-with-libxml2.12.patch
  packages/addons/service/docker/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8392 [LE11] Allwinner: Backport fixes
  projects/Allwinner/patches/linux/0106-media-cedrus-h265-Fix-configuring-bitstream-size.patch
  projects/Allwinner/patches/linux/0107-wip-media-sunxi-sun8i-di-fix-race-condition.patch
  projects/Allwinner/patches/u-boot/0014-sunxi-dram-Fix-incorrect-ram-size-detection-for-some-H6-boards.patch
  projects/Allwinner/patches/u-boot/0014-unreliable-dram.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 11.0

#8356 ffmpeg: update v4l2-request patch
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  projects/Allwinner/patches/ffmpeg/0001-v4l2-request-api-add-new-codecs.patch
Labels: ALLWINNER, ROCKCHIP

#8393 linux (RPi): update to 6.1.65
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 11.0

#8396 Package updates
  packages/audio/wireplumber/package.mk
  packages/debug/libva-utils/package.mk
  packages/devel/glib/package.mk
  packages/devel/hwdata/package.mk
  packages/graphics/lcms2/package.mk
  packages/graphics/lcms2/patches/lcms2-370-add-utils-meson.patch
  packages/network/libnl/package.mk
  packages/sysutils/util-linux/package.mk
  packages/textproc/libxml2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8389 gdb: update to 14.1
  packages/debug/gdb/package.mk
  packages/devel/mpfr/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8391 Python3: update to 3.11.7
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8397 linux (RPi): update to 6.6.4
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8395 curl: update to 8.5.0
  distributions/LibreELEC/version
  packages/addons/browser/chrome/package.mk
  packages/addons/script/script.config.vdr/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/filebrowser/package.mk
  packages/addons/service/inadyn/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tinc/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/dvb-tools/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/rpi-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8402 v4l-utils: fix meson.build for rc_keymaps
  packages/sysutils/v4l-utils/patches/v4l-utils-001-fix-meson-rc-keymaps.patch
Labels: PACKAGE, PATCH, LE 12.0

#8404 kodi: update to 21.0b2-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8406 linux (RPi): update to 6.1.66
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, KERNEL, LE 11.0

#8409 pastebinit: use le paste service
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/pastebinit
Labels: BACKPORT REQD, LE 12.0

#8412 pastebinit: use LE paste service
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/pastebinit
Labels: LE 11.0

#8411 kernel-firmware: update to 20231211
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8403 Vulkan update to 1.3.273
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8401 Addon updates
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/libseccomp/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8400 Package updates
  packages/addons/addon-depends/go/package.mk
  packages/devel/cmake/package.mk
  packages/devel/glib/package.mk
  packages/multimedia/aom/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8398 Rust update to 1.74.1
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8417 kodi: support change to Groovy/Apache commons binaries
  packages/devel/commons-lang3/package.mk
  packages/devel/commons-text/package.mk
  packages/devel/groovy/package.mk
  packages/mediacenter/kodi/package.mk
Labels: PACKAGE, LE 12.0

#8415 Update retroplayer add-ons to latest versions
  packages/emulation/libretro-beetle-pce-fast/package.mk
  packages/emulation/libretro-beetle-pce/package.mk
  packages/emulation/libretro-beetle-psx/package.mk
  packages/emulation/libretro-beetle-supergrafx/package.mk
  packages/emulation/libretro-bsnes/package.mk
  packages/emulation/libretro-dosbox-pure/package.mk
  packages/emulation/libretro-dosbox-pure/patches/libretro-dosbox-pure-001-cross-compile-fix.patch
  packages/emulation/libretro-fbneo/package.mk
  packages/emulation/libretro-gambatte/package.mk
  packages/emulation/libretro-genplus/package.mk
  packages/emulation/libretro-mame2003_plus/package.mk
  packages/emulation/libretro-pcsx-rearmed/package.mk
  packages/emulation/libretro-stella/package.mk
  packages/emulation/libretro-uae/package.mk
  packages/emulation/libretro-vbam/package.mk
  packages/emulation/libretro-vice_x128/package.mk
  packages/emulation/libretro-vice_x64/package.mk
  packages/emulation/libretro-vice_xplus4/package.mk
  packages/emulation/libretro-vice_xvic/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.beetle-pce-fast/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.beetle-pce/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.beetle-psx/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.beetle-saturn/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.beetle-supergrafx/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.bsnes/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.cannonball/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.dosbox-pure/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.fbneo/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.gambatte/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.genplus/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2003_plus/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mrboom/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.pcsx-rearmed/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.picodrive/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.stella/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.uae/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.vbam/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.vice_x128/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.vice_x64/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.vice_xplus4/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.vice_xvic/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.yabause/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8416 package updates
  packages/addons/addon-depends/icu/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-001-fix-meson-rc-keymaps.patch
  packages/textproc/libxml2/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8414 game.libretro: Update to v20.2.6
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8413 game.libretro: Update to v21.0.5
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8407 librespot: update to 886617e
  packages/addons/service/librespot/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 12.0

#8408 librespot: update to 886617e (backport of #8407)
  packages/addons/service/librespot/changelog.txt
  packages/addons/service/librespot/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8399 systemd update to v255
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/patches/systemd-0001-move-etc-systemd-system-to-storage-.config-system.d.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8421 linux: enable hid-playstation support
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, LE 12.0, DRIVER

#8388 Remove libtool preserved temporary RPATH/RUNPATH from "shared object" ELF binaries (libraries/executables)
  packages/addons/addon-depends/system-tools-depends/inotify-tools/package.mk
  packages/addons/service/boblightd/package.mk
  packages/addons/service/proftpd/package.mk
  packages/addons/service/usbmuxd/package.mk
  packages/audio/alsa-utils/package.mk
Labels: BUILDSYSTEM, CLEANUP, LE 12.0

#8309 [le11] udevil: support custom udevil.conf in /storage/.config
  packages/sysutils/udevil/package.mk
Labels: FEATURE, LE 11.0

#8424 mesa: update to 23.3.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8422 linux: update to 6.6.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8423 iwd, connman and iwlwifi-firmware package updates
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/network/connman/package.mk
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8427 connman: revert update to githash f785c75
  packages/network/connman/package.mk
Labels: BUGFIX, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 12.0

#8426 linux (RPi): update to 6.6.7
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8425 linux (RPi): update to 6.1.68
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, LE 11.0

#8428 cmake: update to 3.28.1
  packages/devel/cmake/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8429 linux: update to 6.1.68
  packages/linux/package.mk
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, GENERIC, LE 11.0

#8434 bluez: update to 5.71
  packages/network/bluez/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8435 nss: update to 3.96
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8432 systemd: update to 255.1
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8433 kodi: update to 1497cc8
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, LE 11.0

#8437 kodi (RPi2): temporarily revert fences commits
  projects/RPi/devices/RPi2/patches/kodi/000-temp-revert-fences.patch
Labels: BUGFIX, PATCH, LE 12.0

#8438 v4l-utils: add patch to fix crash in ir-keytable
  packages/sysutils/v4l-utils/patches/v4l-utils-001-fix-keytable-crash.patch
Labels: BUGFIX, PATCH, LE 12.0

#8436 Allwinner: linux: Fix patch for ethernet PHY regulators
  projects/Allwinner/patches/linux/0026-phy-handle-optional-regulator-for-PHY.patch
Labels: BUGFIX, HARDWARE, KERNEL, ALLWINNER, LE 12.0

#8342 Keep addon introduced private shared libraries private to the addon
  packages/addons/browser/chrome/package.mk
  packages/addons/browser/chrome/source/bin/chrome-start
  packages/addons/service/librespot/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/ttyd/source/bin/ttyd.start
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/mediacenter/kodi/profile.d/99-kodi.conf
Labels: IMPROVEMENT, ADDONS, CLEANUP, LE 12.0

#8385 Part 2 - Keep addon introduced private shared libraries private to the addon
  packages/addons/service/boblightd/package.mk
  packages/addons/service/lcdd/package.mk
  packages/addons/service/minidlna/package.mk
  packages/addons/service/tigervnc/package.mk
  packages/addons/service/tigervnc/source/bin/tigervnc.start
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/flirc_util/package.mk
Labels: IMPROVEMENT, ADDONS, PACKAGE, CLEANUP, LE 12.0

#8314 Tvheadend updates and change to ffmpeg 6.0.x
  packages/addons/addon-depends/comskip/package.mk
  packages/addons/addon-depends/comskip/patches/Comskip-0001-Fix-compilation-with-gcc10.patch
  packages/addons/addon-depends/comskip/patches/comskip-ffmpeg6.patch
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/ffmpegx/patches/ffmpeg-openssl3.patch
  packages/addons/addon-depends/ffmpegx/patches/fmpegx-0001-Fixes-assembling-with-binutils-as-2.41.patch
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/patches/tvheadend42-01-dvb-scan-path.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-02-hdhomerun-includes.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-03-hdhomerun-fix.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-04-Fix-building-with-fno-common.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-05-webui-query-url-fix.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-06-satip-upnp-fix.patch
  packages/addons/service/tvheadend42/source/defaults/comskip/comskip.ini
  packages/addons/service/tvheadend42/source/download.py
  packages/addons/service/tvheadend43/package.mk
  packages/addons/service/tvheadend43/patches/tvheadend43-01-dvb-scan-path.patch
  packages/addons/service/tvheadend43/patches/tvheadend43-02-hdhomerun-includes.patch
  packages/addons/service/tvheadend43/source/defaults/comskip/comskip.ini
  packages/addons/service/tvheadend43/source/download.py
Labels: ADDONS, UPDATE, LE 12.0

#8442 pvr.hts: update 21.1.2-Omega to 21.2.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8443 pvr.hts: update 20.6.5-Nexus to 20.7.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8448 tz: update to 2023d
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8449 Revert "tz: update to 2023d"
  packages/sysutils/tz/package.mk
Labels: MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 12.0

#8451 tz: update to 2023d
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8450 systemd: update to 255.2
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8452 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8453 mesa: update to 23.3.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8445 openssh: update to 9.6p1
  packages/network/openssh/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8440 grub: update to 2.12
  packages/devel/gnulib/package.mk
  packages/tools/grub/package.mk
  packages/tools/grub/patches/grub-0001-Fix-Werror-array-bounds-array-subscript-0-is-outside-array-bounds.patch
  packages/tools/grub/patches/grub-0002-lib-reed-solomon-Fix-array-subscript-0-outside-array-bounds.patch
  packages/tools/grub/patches/grub-0003-util-mkimage--Fix-dangling-pointer-may-be-used-error.patch
  packages/tools/grub/patches/grub-gnulib-acprereq-2-64.patch
  packages/tools/grub/patches/grub-gnulib-regcomp.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8455 iwd: update to 2.12
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8454 Intel updates
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8458 Gstreamer: update to 1.22.8
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8459 rust: update to 1.75.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8460 inputstream.adaptive: update 20.3.14-Nexus to 20.3.15-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8464 pvr.waipu: update 20.10.2-Nexus to 20.11.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8465 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8466 Allwinner: linux: Enable OTG driver for 32-bit SoCs
  projects/Allwinner/linux/linux.arm.conf
Labels: KERNEL, ALLWINNER, LE 12.0

#8467 imagedecoder.heif: fix crashing kodi
  packages/graphics/libheif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
Labels: BUGFIX, ADDONS, BACKPORT DONE, LE 12.0

#8468 imagedecoder.heif: fix crashing kodi
  packages/graphics/libheif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
Labels: BUGFIX, ADDONS, LE 11.0
