Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-07, with the labels that each got.

#9039 chrome: conditionally extract deb file
  packages/addons/browser/chrome/package.mk
  packages/addons/browser/chrome/source/bin/deb_extract_data
Labels: IMPROVEMENT, ADDONS, GENERIC

#9048 [le12] openssh: update to 9.8p1
  packages/network/openssh/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9046 Vulkan update to 1.3.289
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9050 Package updates
  packages/addons/addon-depends/go/package.mk
  packages/devel/cmake/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9040 First look at toolchain depends
  packages/compress/7-zip/package.mk
  packages/compress/bzip2/package.mk
  packages/compress/libarchive/package.mk
  packages/compress/lz4/package.mk
  packages/compress/lzo/package.mk
  packages/compress/xz/package.mk
  packages/compress/zip/package.mk
  packages/compress/zlib/package.mk
  packages/compress/zstd/package.mk
  packages/databases/sqlite/package.mk
  packages/debug/libunwind/package.mk
  packages/devel/attr/package.mk
  packages/devel/gettext/package.mk
  packages/devel/glib/package.mk
  packages/devel/glibc/package.mk
  packages/devel/gmp/package.mk
  packages/devel/heimdal/package.mk
  packages/devel/libaio/package.mk
  packages/devel/libcap/package.mk
  packages/devel/libdaemon/package.mk
  packages/devel/libffi/package.mk
  packages/devel/ncurses/package.mk
  packages/devel/patchelf/package.mk
  packages/devel/pax-utils/package.mk
  packages/devel/pcre2/package.mk
  packages/devel/popt/package.mk
  packages/devel/readline/package.mk
  packages/lang/Python3/package.mk
  packages/linux/package.mk
  packages/network/avahi/package.mk
  packages/network/connman/package.mk
  packages/network/iptables/package.mk
  packages/network/iwd/package.mk
  packages/network/libmnl/package.mk
  packages/network/libnftnl/package.mk
  packages/network/samba/package.mk
  packages/network/wsdd2/package.mk
  packages/security/gnutls/package.mk
  packages/security/libgcrypt/package.mk
  packages/security/libgpg-error/package.mk
  packages/security/nettle/package.mk
  packages/security/nspr/package.mk
  packages/security/nss/package.mk
  packages/security/openssl/package.mk
  packages/sysutils/dbus/package.mk
  packages/sysutils/e2fsprogs/package.mk
  packages/sysutils/entropy/package.mk
  packages/sysutils/kmod/package.mk
  packages/sysutils/systemd/package.mk
  packages/sysutils/util-linux/package.mk
  packages/sysutils/wait-time-sync/package.mk
  packages/textproc/expat/package.mk
  packages/textproc/libidn2/package.mk
  packages/tools/bcm2835-utils/package.mk
  packages/tools/dtc/package.mk
  packages/virtual/image/package.mk
  packages/virtual/toolchain/package.mk
Labels: TOOLCHAIN, LE 13.0

#9051 mesa: update to 24.1.3
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9054 wireless-regdb: update to 2024.07.04
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9055 wireless-regdb: update to 2024.07.04
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9058 Addon updates
  packages/addons/addon-depends/ccid/package.mk
  packages/addons/addon-depends/chrome-depends/cups/package.mk
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/dvb-tools-depends/szap-s2/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/addon-depends/libvpx/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/patches/mpv-drmprime-0001-meson-also-expose-present_sync-for-VT-only-after.patch
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/addon-depends/network-tools-depends/rar2fs/package.mk
  packages/addons/addon-depends/network-tools-depends/rar2fs/patches/001-remove-man-pages-1.29.3.patch
  packages/addons/addon-depends/network-tools-depends/rar2fs/patches/002-fix-configure.patch
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/system-tools-depends/dool/package.mk
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/nmon/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/dvb-tools/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/compress/libarchive/package.mk
  packages/graphics/gdk-pixbuf/package.mk
  packages/graphics/jasper/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/multimedia/aom/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9052 Package updates
  packages/addons/addon-depends/multimedia-tools-depends/libplacebo/package.mk
  packages/devel/ccache/package.mk
  packages/devel/ccache/patches/ccache-0001-fix-libfmt-detection.patch
  packages/devel/json-glib/package.mk
  packages/devel/tbb/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/graphics/libdrm/package.mk
  packages/graphics/spirv-headers/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/graphics/spirv-tools/package.mk
  packages/graphics/vulkan/glslang/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/libass/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/security/gnutls/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/wayland/libinput/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9045 linux: backport anysee usb patch from Linux 6.10
  packages/linux/patches/default/linux-999.90-media-anysee-accept-read-buffers-of-length-1-in-anys.patch
  packages/linux/patches/raspberrypi/linux-999.90-media-anysee-accept-read-buffers-of-length-1-in-anys.patch
Labels: BUGFIX, PATCH, KERNEL, LE 12.0

#9030 u-boot: update Amlogic patches to fix Odroid N2 boot
  projects/Amlogic/patches/u-boot/u-boot-0001-LOCAL-configs-meson64-prevent-stdout-stderr-on-video.patch
  projects/Amlogic/patches/u-boot/u-boot-0002-LOCAL-board-amlogic-odroid-n2-remove-amlogic-prefix-.patch
  projects/Amlogic/patches/u-boot/u-boot-0003-FROMGIT-net-Add-Amlogic-GXL-MDIO-Mux-driver.patch
  projects/Amlogic/patches/u-boot/u-boot-0004-FROMGIT-ARM-dts-sync-Amlogic-GX-DT-to-Linux-v6.4.patch
  projects/Amlogic/patches/u-boot/u-boot-0005-FROMGIT-board-amlogic-fix-buffler-overflow-in-serial.patch
  projects/Amlogic/patches/u-boot/u-boot-0006-FROMGIT-ARM-dts-fix-Ethernet-on-WeTek-Hub-Play2.patch
  projects/Amlogic/patches/u-boot/u-boot-0007-FROMGIT-board-amlogic-add-meson_generate_serial_etha.patch
Labels: BUGFIX, PATCH, AMLOGIC, LE 12.0

#9017 [le12] linux (Generic): enable all Intel pinctrl drivers
  projects/Generic/linux/linux.x86_64.conf
Labels: BUGFIX, KERNEL, GENERIC, LE 12.0

#9061 pvr.mythtv: update 21.1.8-Omega to 21.1.9-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9062 [le12] pvr.mythtv: update 21.1.8-Omega to 21.1.9-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9059 [le12] Addon updates
  packages/addons/addon-depends/ccid/package.mk
  packages/addons/addon-depends/chrome-depends/cups/package.mk
  packages/addons/addon-depends/chrome-depends/gtk3/package.mk
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/dvb-tools-depends/szap-s2/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/addon-depends/libvpx/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/patches/mpv-drmprime-0001-meson-also-expose-present_sync-for-VT-only-after.patch
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/addon-depends/network-tools-depends/rar2fs/package.mk
  packages/addons/addon-depends/network-tools-depends/rar2fs/patches/001-remove-man-pages-1.29.3.patch
  packages/addons/addon-depends/network-tools-depends/rar2fs/patches/002-fix-configure.patch
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/system-tools-depends/dool/package.mk
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/nmon/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/browser/chrome/source/bin/deb_extract_data
  packages/addons/service/docker/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/dvb-tools/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/graphics/gdk-pixbuf/package.mk
  packages/graphics/jasper/package.mk
  packages/multimedia/aom/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9060 oscam: update to 11799 and addon (2)
  packages/addons/service/oscam/package.mk
  packages/addons/service/oscam/patches/oscam-01-revision.patch
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9064 Package updates
  packages/devel/hwdata/package.mk
  packages/graphics/assimp/package.mk
  packages/sysutils/systemd/package.mk
  packages/textproc/libxml2/package.mk
  packages/textproc/libxslt/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9068 hyperion: update rpi_ws281x version and addon (1)
  packages/addons/addon-depends/rpi_ws281x/package.mk
  packages/addons/service/hyperion/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9069 [le12] hyperion: update rpi_ws281x version and addon (1)
  packages/addons/addon-depends/rpi_ws281x/package.mk
  packages/addons/service/hyperion/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9070 Package updates
  packages/debug/gdb/package.mk
  packages/x11/driver/xf86-video-intel/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9071 pvr.mediaportal.tvserver: update 21.0.2-Omega to 21.0.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9072 [le12] pvr.mediaportal.tvserver: update 21.0.2-Omega to 21.0.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9073 Revert "linux: backport anysee usb patch from Linux 6.10"
  packages/linux/patches/linux-999.99-backport-media-anysee-accept-read-buffers-of-length-1.patch
Labels: PATCH, LE 12.0

#9075 [le12] iwd: update to 2.19
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9076 Package to support Kodi “Piers”
  packages/devel/pcre2/package.mk
  packages/graphics/exiv2/package.mk
Labels: PACKAGE, LE 13.0

#9066 cacert.pem: update to 2024-07-02
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, BACKPORT DONE, LE 13.0

#9053 u-boot: update to 2024.07
  packages/tools/u-boot/package.mk
  projects/Rockchip/patches/u-boot/0006-Rockchip-rk3399-evb-Don-t-initalize-i2c-bus-in-SPL.patch
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, HELP WANTED, SAMSUNG, LE 13.0

#9078 kernel-firmware: update to 20240709
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9079 game.libretro: Update for buffer overflow fix
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9081 Update Mr.Boom game add-on
  packages/emulation/libretro-mrboom/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mrboom/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9082 Update PCSX ReARMed
  packages/emulation/libretro-pcsx-rearmed/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.pcsx-rearmed/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9067 [le12] cacert.pem: update to 2024-07-02
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, LE 12.0

#9077 [le12] harfbuzz-icu: fix build with icu 75
  packages/addons/addon-depends/chrome-depends/harfbuzz-icu/patches/harfbuzz-icu-4734-fix-build-with-icu-75.patch
Labels: ADDONS, PACKAGE, PATCH, LE 12.0

#9084 dockerfiles: update packages for aarch64 to amd64 crosscompiles
  tools/docker/jammy/Dockerfile
  tools/docker/noble/Dockerfile
Labels: BUILDSYSTEM, LE 13.0

#9088 amlogic-boot-fip: update to githash 1d9dc4e
  packages/tools/amlogic-boot-fip/package.mk
Labels: UPDATE, PACKAGE, AMLOGIC, LE 13.0

#9086 meson: update to 1.5.0
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9087 Use /bin/dash as CONFIG_SHELL if it's installed on the build host
  config/options
  config/show_config
  packages/addons/addon-depends/argtable2/package.mk
  packages/devel/libdaemon/package.mk
Labels: IMPROVEMENT, BUILDSYSTEM, LE 13.0

#9089 Package updates
  packages/audio/pipewire/package.mk
  packages/tools/nano/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9091 bootloader/install: Rockchip: use qemu when not building on x86_64
  projects/Rockchip/bootloader/install
Labels: BUILDSYSTEM, ROCKCHIP, LE 13.0

#8936 Kodi "Piers"
  packages/devel/pcre/package.mk
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.02-add-libreelec.tv-RSS-news.patch
  packages/mediacenter/kodi/patches/kodi-100.08-setup-timezone.patch
  packages/mediacenter/kodi/patches/kodi-999.30-fix-gcc-14-compile.patch
  packages/mediacenter/kodi/patches/kodi-999.40-PeripheralBusUSBLibUdev-fix-assert-issue-with-system.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9094 x265: fix cross compiled builds
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
Labels: BUGFIX, ADDONS, BUILDSYSTEM, PACKAGE, LE 13.0

#9095 kodi (Samsung): rebase patch for Piers
  projects/Samsung/patches/kodi/kodi-0002-LOCAL-changes-for-Odroid-XU3-XU4.patch
Labels: PATCH, SAMSUNG, LE 13.0

#9096 Fix dependencies
  packages/compress/lz4/package.mk
  packages/compress/lzo/package.mk
Labels: BUGFIX, BUILDSYSTEM, PACKAGE, LE 13.0

#9085 [le12] Backport game add-on updates
  packages/emulation/libretro-atari800/package.mk
  packages/emulation/libretro-bk/package.mk
  packages/emulation/libretro-bluemsx/package.mk
  packages/emulation/libretro-mame2000/package.mk
  packages/emulation/libretro-mame2003_plus/package.mk
  packages/emulation/libretro-mrboom/package.mk
  packages/emulation/libretro-pcsx-rearmed/package.mk
  packages/emulation/libretro-snes9x/package.mk
  packages/emulation/libretro-uae/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.atari800/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.bk/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.bluemsx/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2000/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mame2003_plus/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.mrboom/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.pcsx-rearmed/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.snes9x/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.uae/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9097 Vulkan: update to 1.3.290
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9093 [le12] pvr.stalker: update 21.1.0-Omega to 21.1.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9092 pvr.stalker: update 21.1.0-Omega to 21.1.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9063 [le12] oscam: update to 11799 and addon (2)
  packages/addons/service/oscam/package.mk
  packages/addons/service/oscam/patches/oscam-01-revision.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9098 Package updates
  packages/devel/libbpf/package.mk
  packages/graphics/libheif/package.mk
  packages/network/libnftnl/package.mk
  packages/python/devel/waf/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9100 mesa: update to 24.1.4
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9101 systemd: add UR02 BT remote device to 70-local-keyboard.hwdb
  packages/sysutils/systemd/hwdb.d/70-local-keyboard.hwdb
Labels: FEATURE, HARDWARE, LE 13.0

#9105 pvr.waipu: update 21.8.4-Omega to 21.8.5-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9106 [le12] pvr.waipu: update 21.8.4-Omega to 21.8.5-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9111 media-driver: update to 24.3.0
  packages/multimedia/media-driver/package.mk
  packages/multimedia/media-driver/patches/media-driver-999.02-Refactor-for-build-issue.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9109 Addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9107 pvr.waipu: update 21.8.5-Omega to 21.8.6-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8954 linux: update to 6.10
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default/linux-058.05-hid_sony-add_autorepeat_for_PS3_remotes.patch
  packages/linux/patches/default/linux-999.90-media-anysee-accept-read-buffers-of-length-1-in-anys.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0031-arm64-allwinner-h6-Enable-USB3-for-OrangePi-Lite2.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0001-drm-bridge-mhdp-Add-cdns-mhdp-driver-bridge-driver.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9108 [le12] pvr.waipu: update 21.8.5-Omega to 21.8.6-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9122 Addon updates
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/patches/libmtp-0001-dont-execute-compiled-tools.patch
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/mtpfs/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9102 Package updates
  packages/devel/cmake/package.mk
  packages/devel/commons-lang3/package.mk
  packages/graphics/nvidia/package.mk
  packages/network/libnl/package.mk
  packages/network/openvpn/package.mk
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-001-fix-keytable-crash.patch
  packages/wayland/util/bemenu/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9124 Package updates
  packages/audio/libopenmpt/package.mk
  packages/compress/lz4/package.mk
  packages/debug/strace/package.mk
  packages/devel/automake/package.mk
  packages/devel/automake/patches/automake-01-fix-help2man.patch
  packages/devel/ccache/package.mk
  packages/devel/ccache/patches/ccache-0001-fix-libfmt-detection.patch
  packages/devel/glibc/package.mk
  packages/devel/libtool/patches/libtool-02-aclocal-m4.patch
  packages/graphics/libheif/package.mk
  packages/multimedia/bento4/package.mk
  packages/network/libtirpc/package.mk
  packages/network/rpcbind/package.mk
  packages/network/rpcbind/patches/rpcbind-01-drop-warm-start-as-it-fails.patch
  packages/sysutils/systemd/package.mk
  packages/sysutils/v4l-utils/package.mk
  packages/textproc/libxml2/package.mk
  packages/tools/flashrom/package.mk
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9125 kodi: update to githash ebf95c5
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9127 Compress packages - only build libraries
  packages/compress/libarchive/package.mk
  packages/compress/lz4/package.mk
  packages/compress/xz/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#9126 fakeroot: update to 1.35.1
  packages/devel/fakeroot/package.mk
  packages/devel/fakeroot/patches/fakeroot-001-disable-docs-tests.patch
Labels: UPDATE, LE 13.0

#9133 fix addon builds - compatibility with automake-1.17
  packages/addons/addon-depends/cxxtools/patches/cxxtools-crosscompile.patch
  packages/addons/addon-depends/network-tools-depends/nmap/patches/nmap-0001-allow-build-with-automake-1-17.patch
Labels: BUGFIX, ADDONS, MERGE ¯\_(ツ)_/¯ 💥, PATCH, LE 13.0

#9131 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9132 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9134 gstreamer: update to 1.24.6
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9135 RPi: update ffmpeg patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  tools/ffmpeg/gen-patches.sh
Labels: UPDATE, BACKPORT DONE, PATCH, LE 13.0

#9138 [le12] inputstream.adaptive: update 21.4.10-Omega to 21.5.0-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9137 Revert "pvr.stalker: fix gcc-14 build"
  packages/mediacenter/kodi-binary-addons/pvr.stalker/patches/pvr.stalker-223-fix-gcc-14-build.patch
Labels: ADDONS, PATCH, CLEANUP, LE 13.0

#9139 inputstream.adaptive: update 21.4.10-Omega to 22.1.0-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9141 Package updates
  packages/python/devel/meson/package.mk
  packages/web/curl/package.mk
  packages/x11/lib/libX11/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9142 linux (RPi): update to 6.6.42
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, RPi, LE 13.0

#9143 [le12] linux (RPi): update to 6.6.42
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9136 [le12] RPi: update ffmpeg patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  tools/ffmpeg/gen-patches.sh
Labels: UPDATE, PATCH, LE 12.0
