Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-02, with the labels that each got.

#8570 mesa: update to 24.0.0
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8572 Package updates
  packages/audio/pipewire/package.mk
  packages/databases/sqlite/package.mk
  packages/graphics/libpng/package.mk
  packages/network/wireless-regdb/package.mk
  packages/python/devel/Mako/package.mk
  packages/security/openssl/package.mk
  packages/textproc/libidn2/package.mk
  packages/x11/lib/pixman/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8573 mesa: drop upstreamed RPi5 patches included in mesa-24.0.0
  projects/RPi/devices/RPi5/patches/mesa/0002-nir-add-new-opcodes-to-map-new-v71-packing-conversio.patch
  projects/RPi/devices/RPi5/patches/mesa/0003-broadcom-compiler-update-image-store-lowering-to-use.patch
Labels: PACKAGE, PATCH, RPi, LE 12.0

#8574 Alsa update to 1.2.11
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-lib/patches/alsa-0001-topology--correct-version-script-path.patch
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8575 Package updates
  packages/sysutils/libusb/package.mk
  packages/sysutils/tz/package.mk
  packages/web/libmicrohttpd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8576 Vulkan 1.3.277
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8578 cacert.pem: update to 2024-01-31
  packages/security/openssl/cert/cacert.pem
Labels: PACKAGE, LE 12.0

#8579 linux (RPi): update to 6.6.14
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-111-rtw88-from-next.patch
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8569 inputstream.ffmpegdirect: update 21.2.0-Omega to 21.3.2-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8582 system-tools: update addon (3) and docker: update to 25.0.2 and addon (4)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/ctop/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/efivar/patches/efivar-01-compile-with-glibc-2.36.patch
  packages/addons/addon-depends/system-tools-depends/depends/efivar/patches/efivar-01-static_lib.patch
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/patches/efibootmgr-0001-Revert-Implement-uri-option-for-use-with-ifname.patch
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8581 Package updates
  packages/audio/pipewire/package.mk
  packages/multimedia/media-driver/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/x11/app/xkbcomp/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8593 inputstream.adaptive: update 20.3.16-Nexus to 20.3.17-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8591 Package Updates
  packages/devel/cmake/package.mk
  packages/textproc/libxml2/package.mk
  packages/x11/data/xkeyboard-config/package.mk
  packages/x11/lib/libXext/package.mk
  packages/x11/lib/libpciaccess/package.mk
  packages/x11/lib/libxkbfile/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8590 kodi: update to githash 8020920 (2023-02-03)
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8594 linux: update to 6.6.16
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8596 gstreamer: update to 1.23.1
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8600 kodi: update to githash 8c25e11 (Feb 7 2024)
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8597 Python3: update to 3.11.8
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8598 Package updates
  packages/addons/addon-depends/go/package.mk
  packages/devel/hwdata/package.mk
  packages/graphics/jasper/package.mk
  packages/textproc/expat/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8599 docker: update to 25.0.3 and addon (5)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8601 linux (RPi): update to 6.6.16
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8602 Drop skin.estouchy
  packages/addons/skin/estouchy/package.mk
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, CLEANUP, LE 12.0

#8604 pvr.mythtv: update 21.0.4-Omega to 21.1.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8605 pvr.mythtv: update 20.5.10-Nexus to 20.6.0-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8589 kodi: storage info no efivars, autofs
  packages/mediacenter/kodi/patches/kodi-995.30-no-efivars-no-autofs.patch
Labels: IMPROVEMENT, PATCH, LE 12.0

#8606 iwd: update to 2.14
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8608 kodi: update to githash 0a52609
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-995.30-no-efivars-no-autofs.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8607 rust: update to 1.76.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8611 Package updates
  packages/devel/groovy/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8610 kodi: update to githash 89288b9
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-995.21-keymaps-change-remote-poweroff-action-to-show-shutdo.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8616 linux (RPi): update to 6.6.16-c575ed8
  packages/graphics/bcm2835-driver/package.mk
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  tools/mkpkg/mkpkg_bcm2835-bootloader
  tools/mkpkg/mkpkg_bcm2835-driver
Labels: BUGFIX, UPDATE, KERNEL, CLEANUP, LE 12.0

#8618 openvpn: update to 2.6.9
  packages/network/openvpn/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8621 mesa: update to 24.0.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8623 kodi: update to 21.0b3-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8625 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8624 Package updates
  packages/multimedia/dav1d/package.mk
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8627 pvr.mythtv: update 20.6.0-Nexus to 20.6.1-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8612 rename power-off patch
  packages/mediacenter/kodi/patches/kodi-100.41-keymaps-change-remote-poweroff-action-to-show-shutdo.patch
Labels: UPDATE, PATCH, LE 12.0

#8628 gstreamer: update to 1.23.2
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8629 Package updates
  packages/devel/libffi/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8630 Addon updates
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/go/patches/go-0001-add-ca-cert-location.patch
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/rpi-tools-depends/gpiozero/package.mk
  packages/addons/addon-depends/ttyd-depends/libuv/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/rpi-tools/package.mk
  packages/graphics/pango/package.mk
  packages/python/graphics/glad/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8631 Vulkan update to 1.3.278
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8634 RPi: add workaround for poor quality transparent overlays
  projects/RPi/patches/mesa/0001-gallium-Add-kmsro-drivers-for-RP1-DSI-DPI-and-VEC-de.patch
  projects/RPi/patches/mesa/0100-temporarily-diasble-B10G10R10A2-format.patch
Labels: BUGFIX, LE 12.0

#8636 cacert.pem: update to 2024-02-14
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, PACKAGE, LE 12.0

#8637 kodi (RPi): disable fences on all RPi devices
  projects/RPi/patches/kodi/000-temp-revert-fences.patch
Labels: BUGFIX, LE 12.0

#8635 Package updates
  packages/devel/pcre2/package.mk
  packages/graphics/giflib/package.mk
  packages/graphics/giflib/patches/giflib-01-static-lib.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8638 pvr.mythtv: update 21.1.1-Omega to 21.1.4-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8639 pvr.mythtv: update 20.6.1-Nexus to 20.6.4-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8640 Package updates
  packages/devel/libffi/package.mk
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8643 inputstream.adaptive: update 21.4.2-Omega to 21.4.3-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8644 inputstream.adaptive: update 20.3.17-Nexus to 20.3.18-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8645 kodi: update to githash e085b62
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8646 Package updates
  packages/devel/gettext/package.mk
  packages/graphics/jasper/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8647 jammy/Dockerfile needs to include the symbolic links for go-1.21
  tools/docker/jammy/Dockerfile
Labels: BUILDSYSTEM, LE 12.0

#8632 linux: update to 6.6.17
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8642 kernel-firmware: update to 20240220
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8652 pvr.mythtv: update 21.1.4-Omega to 21.1.6-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8651 pvr.mythtv: update 20.6.4-Nexus to 20.6.6-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8653 pvr.hts: update 20.7.0-Nexus to 20.7.1-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8655 linux (RPi): update to 6.6.17
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8654 LibreELEC-settings: update to 64b036e
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8657 pvr.mythtv: update 21.1.6-Omega to 21.1.7-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8658 pvr.mythtv: update 20.6.6-Nexus to 20.6.8-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8584 Wayland update
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/glslang/patches/glslang-100.01-build-static-spirv-tools.patch
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
  packages/wayland/compositor/sway/package.mk
  packages/wayland/compositor/sway/patches/sway-999.01-fix-build-with-updated-libinput.patch
  packages/wayland/lib/fcft/package.mk
  packages/wayland/lib/wlroots/package.mk
  packages/wayland/util/bemenu/package.mk
  packages/wayland/util/wlr-randr/package.mk
  packages/wayland/wayland-protocols/package.mk
  packages/wayland/weston/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8660 Package updates
  packages/debug/libunwind/package.mk
  packages/devel/swig/package.mk
  packages/graphics/libpng/package.mk
  packages/security/libgpg-error/package.mk
  packages/sysutils/pciutils/package.mk
  packages/web/libmicrohttpd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8656 RTL8812AU: Fix change_beacon for kernel 6.7
  packages/linux-drivers/RTL8812AU/patches/RTL8812AU-PR1134.patch
Labels: BUGFIX, PATCH, KERNEL, AMLOGIC, LE 12.0, DRIVER

#8661 kodi: update to githash 480476c
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8664 iwd: update to 2.15
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8667 systemd: update to 255.4
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8668 kodi: update to githash e625f24
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8666 Package updates
  licenses/0BSD.txt
  packages/compress/xz/package.mk
  packages/graphics/pango/package.mk
  packages/wayland/lib/fcft/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8670 mesa: update to 24.0.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8671 pvr.mythtv: update 21.1.7-Omega to 21.1.8-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8672 pvr.mythtv: update 20.6.8-Nexus to 20.6.9-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0
