Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-12, with the labels that each got.

#9549 xf86-video-nvidia-legacy: delete patches
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.15-kernel-6.8.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.16-gcc-14.patch
Labels: PACKAGE, PATCH, CLEANUP, LE 13.0

#9550 linux (NXP iMX8): Update to V19 - Cadence MHDP8501(HDMI/DP) for i.MX8MQ
  projects/NXP/devices/iMX8/patches/linux/0001-Initial-support-Cadence-MHDP8501-HDMI-DP-for-i-MX8MQ.patch
  projects/NXP/devices/iMX8/patches/linux/0002-arm64-dts-fsl-imx8mq-evk-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0003-arm64-dts-fsl-imx8mq-pico-pi-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0004-arm64-dts-fsl-imx8mq-phanbell.dts-enable-DCSS-and-HD.patch
Labels: PATCH, NXP, LE 13.0

#9542 pvr.vuplus: update 21.3.0-Omega to 21.3.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9541 [le12] iwd: update to 3.2
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9551 Package updates
  packages/audio/fluidsynth/package.mk
  packages/audio/libopenmpt/package.mk
  packages/compress/7-zip/package.mk
  packages/devel/gettext/package.mk
  packages/devel/gettext/patches/gettext-0001-0.18.2-non_interactive.patch
  packages/devel/gettext/patches/gettext-0002-dont_build_docs_and_examples.patch
  packages/devel/gettext/patches/gettext-0003-Fix-compilation-error-with-libxml2-2-12-0-and-gcc-14.patch
  packages/graphics/spirv-llvm-translator/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9553 gstreamer: update to 1.24.10
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9555 mesa: update to 24.3.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9556 Package updates
  packages/addons/addon-depends/go/package.mk
  packages/audio/wireplumber/package.mk
  packages/devel/hwdata/package.mk
  packages/graphics/libdrm/package.mk
  packages/lang/llvm/package.mk
  packages/python/devel/Mako/package.mk
  packages/sysutils/systemd/package.mk
  packages/x11/lib/pixman/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9497 librespot: update python scripts
  packages/addons/service/librespot/source/bin/onevent.py
  packages/addons/service/librespot/source/default.py
  packages/addons/service/librespot/source/resources/language/English/strings.po
  packages/addons/service/librespot/source/resources/lib/event_handler.py
  packages/addons/service/librespot/source/resources/lib/external_player.py
  packages/addons/service/librespot/source/resources/lib/internal_player.py
  packages/addons/service/librespot/source/resources/lib/librespot.py
  packages/addons/service/librespot/source/resources/lib/librespot_alsa.py
  packages/addons/service/librespot/source/resources/lib/librespot_pulseaudio_rtp.py
  packages/addons/service/librespot/source/resources/lib/monitor.py
  packages/addons/service/librespot/source/resources/lib/onevent.py
  packages/addons/service/librespot/source/resources/lib/player.py
  packages/addons/service/librespot/source/resources/lib/player_basic.py
  packages/addons/service/librespot/source/resources/lib/player_default.py
  packages/addons/service/librespot/source/resources/lib/pulseaudio.py
  packages/addons/service/librespot/source/resources/lib/service.py
  packages/addons/service/librespot/source/resources/lib/service_pulseaudio.py
  packages/addons/service/librespot/source/resources/lib/spotify.py
  packages/addons/service/librespot/source/resources/lib/utils.py
  packages/addons/service/librespot/source/resources/settings.xml
Labels: IMPROVEMENT, ADDONS, LE 13.0

#9554 linux: update to 6.12.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9558 linux: bump Amlogic 6.12.y kernel and patches
  packages/linux/package.mk
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0001-LOCAL-set-meson-gx-cma-pool-to-896MB.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0002-LOCAL-set-meson-g12-cma-pool-to-896MB.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0003-LOCAL-arm64-fix-Kodi-sysinfo-CPU-information.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0004-LOCAL-arm64-meson-add-Amlogic-Meson-GX-PM-Suspend.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0005-LOCAL-arm64-dts-meson-add-support-for-GX-PM-and-Virt.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0006-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Khadas.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0007-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Khadas.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0008-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Minix-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0009-LOCAL-ASoC-meson-assign-internal-PCM-chmap-ELD-IEC95.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0010-LOCAL-media-meson-vdec-disable-MPEG1-MPEG2-hardware-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0011-FROMGIT-6.13-ASoC-hdmi-codec-reorder-channel-allocat.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0012-FROMLIST-v5-dt-bindings-vendor-prefixes-Add-Titan-Mi.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0013-FROMLIST-v5-dt-bindings-auxdisplay-Add-Titan-Micro-E.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0014-FROMLIST-v5-docs-ABI-document-tm1628-attribute-displ.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0015-FROMLIST-v5-auxdisplay-add-support-for-Titanmec-TM16.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0016-FROMLIST-v5-arm64-dts-meson-gxl-s905w-tx3-mini-add-s.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0017-FROMLIST-v5-MAINTAINERS-Add-entry-for-tm1628-auxdisp.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0018-FROMLIST-v1-media-meson-vdec-esparser-check-parsing-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0019-FROMLIST-v2-media-meson-vdec-implement-10bit-bitstre.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0020-FROMLIST-v2-media-meson-vdec-add-HEVC-decode-codec.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0021-FROMLIST-v1-iio-adc-meson-fix-voltage-reference-sele.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0022-FROMLIST-v1-iio-adc-consistently-use-bool-and-enum-i.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0023-FROMLIST-v1-iio-adc-meson-simplify-MESON_SAR_ADC_REG.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0024-FROMLIST-v1-net-mdio-meson-gxl-set-28th-bit-in-eth_r.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0025-FROMLIST-v1-dt-bindings-iio-adc-amlogic-meson-saradc.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0026-FROMLIST-v1-iio-adc-meson-add-support-for-the-GXLX-S.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0027-FROMLIST-v1-dt-bindings-usb-dwc2-allow-device-sub-no.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0028-FROMLIST-v1-arm64-dts-meson-drop-broadcom-compatible.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0028-FROMLIST-v2-clk-Fix-the-CLK_IGNORE_UNUSED-failure-is.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0029-FROMLIST-v2-clk-meson-Fix-failure-of-glitch-free-mux.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0029-WIP-media-meson-vdec-add-HEVC-and-remove-MPEG1-2-fro.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0030-FROMLIST-v2-clk-meson-Fix-glitch-occurs-when-setting.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0030-WIP-media-meson-vdec-reintroduce-wiggle-room.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0031-FROMLIST-v2-clk-meson-Fix-children-of-ro_clk-may-be-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0031-WIP-media-meson-vdec-fix-memory-leak-of-new_frame.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0032-Revert-drm-meson-vclk-fix-calculation-of-59.94-fract.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0033-WIP-arm64-dts-meson-add-Odroid-C2-HiFi-Shield-boards.patch
  projects/Amlogic/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, AMLOGIC, LE 13.0

#9559 librespot: update addon (2)
  packages/addons/service/librespot/package.mk
Labels: ADDONS, REBUILD, LE 13.0

#9557 Amlogic: adjust kernel options for Docker
  projects/Amlogic/linux/linux.aarch64.conf
Labels: KERNEL, AMLOGIC, LE 13.0

#9560 ntfs3g: service: avoid error on shutdown / update addon (1)
  packages/addons/service/ntfs3g/package.mk
  packages/addons/service/ntfs3g/source/system.d/service.ntfs3g.service
Labels: BUGFIX, ADDONS, BACKPORT DONE, LE 13.0

#9561 ntfs3g: service: avoid error on shutdown / update addon (1)
  packages/addons/service/ntfs3g/package.mk
  packages/addons/service/ntfs3g/source/system.d/service.ntfs3g.service
Labels: BUGFIX, ADDONS, LE 12.0

#9564 ncurses: fix crosscompile target ncurses.h
  packages/devel/ncurses/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#9563 systemd: update to 257
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9565 Package updates
  packages/databases/sqlite/package.mk
  packages/devel/cmake/package.mk
  packages/devel/json-glib/package.mk
  packages/devel/mold/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/nfs-utils/package.mk
  packages/python/devel/Mako/package.mk
  packages/tools/flashrom/package.mk
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9575 Package updates
  packages/devel/glib/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/wayland/lib/wlroots/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9576 Python3: update to 3.12.8
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/0008-Add-an-option-to-disable-the-tk-module.patch
  packages/lang/Python3/patches/py312-cpython118618-1.patch
  packages/lang/Python3/patches/py312-cpython118618-2.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9571 pvr.waipu: update 21.8.7-Omega to 21.8.8-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9572 pvr.waipu: update 22.2.0-Piers to 22.2.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9573 lcdd: update to githash 71877ee and addon (1)
  packages/addons/addon-depends/libgpiod/package.mk
  packages/addons/service/lcdd/package.mk
  packages/addons/service/lcdd/patches/lcdd-0.5.6-libftdi1.patch
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9574 [le12] lcdd: update to githash 71877ee and addon (1)
  packages/addons/addon-depends/libgpiod/package.mk
  packages/addons/service/lcdd/package.mk
  packages/addons/service/lcdd/patches/lcdd-0.5.6-libftdi1.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9577 package updates
  packages/debug/xorg-intel-gpu-tools/package.mk
  packages/devel/commons-text/package.mk
  packages/graphics/spirv-headers/package.mk
  packages/graphics/spirv-tools/package.mk
  packages/graphics/vulkan/glslang/package.mk
  packages/x11/lib/libICE/package.mk
  packages/x11/lib/libSM/package.mk
  packages/x11/lib/libXau/package.mk
  packages/x11/lib/libXrender/package.mk
  packages/x11/lib/libXxf86vm/package.mk
  packages/x11/lib/libxcvt/package.mk
  packages/x11/lib/libxshmfence/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9580 linux: update to 6.12.5
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0012-ASoC-hdmi-codec-fix-channel-allocation.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9582 rust: update to 1.83.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9584 linux (RPi): update to 6.12.5
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999.99-reorder-channel-allocation.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9585 [le12] linux (RPi): update to 6.6.66
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999.99-reorder-channel-allocation.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9588 Package updates
  packages/addons/addon-depends/system-tools-depends/hid_mapper/patches/hid_mapper-01_crosscompile.patch
  packages/addons/addon-depends/system-tools-depends/hid_mapper/patches/hid_mapper-02_Fix-key-code-reading.patch
  packages/addons/addon-depends/system-tools-depends/hid_mapper/patches/hid_mapper-03_fix-parser.patch
  packages/addons/addon-depends/system-tools-depends/hid_mapper/patches/hid_mapper-03_include-sys-time.patch
  packages/audio/espeak-ng/package.mk
  packages/audio/espeak-ng/patches/PR1858-fix-compiling-in-build-directory.patch
  packages/debug/memtester/package.mk
Labels: UPDATE, PACKAGE, PATCH, LE 13.0

#9579 Rockchip backport drm patch 6 13
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: PATCH, KERNEL, ROCKCHIP, LE 13.0

#9589 Package updates
  packages/devel/mold/package.mk
  packages/lang/llvm/package.mk
  packages/python/devel/meson/package.mk
  packages/sysutils/dbus/package.mk
  packages/x11/xserver/xorg-server/package.mk
  packages/x11/xserver/xorg-server/patches/xorg-server-1560-fix-cast-for-gcc14-1.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9593 package updates
  packages/devel/cmake/package.mk
  packages/sysutils/systemd/package.mk
  packages/tools/procps-ng/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9594 mesa: update to 24.3.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9595 iwd: update to 3.3
  packages/network/iwd/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9596 [le12] iwd: update to 3.3
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8705 Enable the nss-systemd service
  packages/network/nss-mdns/config/nsswitch.conf
  packages/sysutils/systemd/package.mk
  packages/sysutils/util-linux/package.mk
Labels: IMPROVEMENT, FEATURE, PACKAGE, LE 13.0

#9599 inputstream.adaptive: update 22.1.10-Piers to 22.1.11-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/fix-aarch64-widevine.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9598 Vulkan: update to 1.4.304
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9597 [le12] linux: update to 6.6.67
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0012-ASoC-hdmi-codec-fix-channel-allocation.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#9601 linux (NXP iMX8): Update to V20 - Cadence MHDP8501(HDMI/DP) for i.MX8MQ
  projects/NXP/devices/iMX8/patches/linux/0001-Initial-support-Cadence-MHDP8501-HDMI-DP-for-i-MX8MQ.patch
Labels: PATCH, KERNEL, NXP, LE 13.0

#9603 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9604 pvr.argustv: update 22.2.0-Piers to 22.3.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9605 Package updates
  packages/devel/fakeroot/package.mk
  packages/python/devel/Jinja2/package.mk
  packages/tools/flashrom/package.mk
  packages/tools/nano/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9608 linux (RPi): update to 6.6.67
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9569 ffmpeg: update to 7.1
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/libreelec/ffmpeg-001-libreelec.patch
  packages/multimedia/ffmpeg/patches/libreelec/ffmpeg-002-libavcodec-arm-mlpdsp_armv5te-fix-label-format-to-wo.patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  packages/multimedia/ffmpeg/patches/v4l2-drmprime/ffmpeg-001-v4l2-drmprime.patch
  packages/multimedia/ffmpeg/patches/v4l2-request/ffmpeg-001-v4l2-request.patch
  packages/multimedia/ffmpeg/patches/vf-deinterlace-v4l2m2m/ffmpeg-001-vf-deinterlace-v4l2m2m.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0001-vf_bwdif-Add-capability-to-deinterlace-NV12.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0002-v4l2_m2m_dec-Try-to-accomodate-ffmpegs-ideas-about-d.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0003-v4l2_m2m_dec-Fix-cma-allocated-s-w-output.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0004-v4l2_req-Fix-media-pool-delete-race.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0005-drm_vout-Fix-connector-etc.-desc-memory-leak.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0006-conf_native-Add-tsan-option.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0007-v4l2_m2m-Rework-use-of-ctx-lock-to-avoid-use-while-u.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0008-matroskaenc-Fix-H264-delayed-extradata-creation.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0009-matroskaenc-Assume-H264-is-Annex-B-if-no-extradata.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0010-aarch64-rgb2rgb-Change-incorrect-SXTX-to-stxw.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0011-aarch64-rpi_sand-Fix-building-under-Clang-LLVM.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0012-rtpenc-Fix-building-with-GCC-14.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0013-v4l2_req-Fix-building-against-musl-by-including-pthr.patch
  projects/Amlogic/patches/ffmpeg/ffmpeg-0014-v4l2_buffers-Fix-init-of-drmprime-source-OUTPUT-buff.patch
  projects/Rockchip/devices/RK3288/options
  projects/Rockchip/patches/linux/default/linux-9000-temp-rk3288-disable-vpu-iommu.patch
  tools/ffmpeg/gen-patches.sh
Labels: UPDATE, PACKAGE, LE 13.0

#9570 kodi: update to current master with ffmpeg 7.1
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/drmprime-filter/0001-WIP-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0002-WIP-DRMPRIME-deinterlace-filter.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0003-DVDVideoCodecDRMPRIME-Avoid-exception-with-AV_PIX_FM.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0004-DVDVideoCodecDRMPRIME-Leave-deinterlace-filter-activ.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0005-SetVideoInterlaced-Set-and-unset-deinterlace-method-.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0006-DVDVideoCodecDRMPRIME-Close-deinterlace-filter-on-er.patch
  packages/mediacenter/kodi/patches/drmprime-filter/0007-DVDVideoCodecDRMPRIME-Fix-missing-flush-after-eof.patch
  projects/RPi/patches/kodi/0001-gbm-Set-max-bpc-for-high-bit-depth-videos.patch
  projects/RPi/patches/kodi/0002-CDVDVideoCodecDRMPRIME-Also-support-YUV420-buffers.patch
  projects/RPi/patches/kodi/0003-CDVDVideoCodecDRMPRIME-Adjust-av-formats-to-match-re.patch
  projects/RPi/patches/kodi/0004-DVDVideoCodecDRMPRIME-Add-support-for-arbitrary-outp.patch
  projects/RPi/patches/kodi/0005-DVDVideoCodecDRMPRIME-Remove-obsolete-thread_safe_ca.patch
  projects/RPi/patches/kodi/0006-DVDVideoCodecDRMPRIME-Clear-m_pFilterGraph.patch
  projects/RPi/patches/kodi/0007-DVDVideoCodecDRMPRIME-Move-FilterTest-from-open-to-f.patch
  projects/RPi/patches/kodi/0008-DVDVideoCodecDRMPRIME-Rework-filtering-code-to-handl.patch
  projects/RPi/patches/kodi/0009-CDVDVideoCodecDRMPRIME-Support-decoding-to-DRMPRIME-.patch
  projects/RPi/patches/kodi/0010-DVDVideoCodecDRMPRIME-Request-v4l2-buffers-be-alloca.patch
  projects/RPi/patches/kodi/0011-DVDVideoCodecDRMPRIME-Add-setting-to-enable-hw-deint.patch
  projects/RPi/patches/kodi/0012-fixup-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9583 minidlna: rebuild with ffmpeg-7.1 and addon (2)
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minidlna/patches/minidlna-02-ffmpeg7.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9610 libretro-hatari: add missing zlib DEPENDS
  packages/emulation/libretro-hatari/package.mk
Labels: ADDONS, BACKPORT DONE, PACKAGE, LE 13.0

#9611 [le12] libretro-hatari: add missing zlib DEPENDS
  packages/emulation/libretro-hatari/package.mk
Labels: ADDONS, PACKAGE, LE 12.0

#9614 Package updates
  packages/devel/flatbuffers/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9613 vdr-addon: update addon (4)
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-eepg/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-eepg/patches/vdr-plugin-eepg-PR2-fix-build-with-vdr-2-7-1.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/patches/vdr-plugin-xmltv2vdr-04-fixed-import-for-vdr-2-7-1.patch
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9612 docker: update to 27.4.1 and addon (5)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9617 nvidia: update to 550.142
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9616 game.libretro: update to 22.1.0-Piers and addon (0)
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
Labels: BUGFIX, ADDONS, UPDATE, PACKAGE, LE 13.0

#9615 Addon build fixes
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/devel/boost/package.mk
Labels: BUGFIX, ADDONS, UPDATE, PACKAGE, LE 13.0

#9620 [le12] systemd: fix non-working service aliases
  packages/sysutils/systemd/patches/systemd-0400-use-RET_GATHER-more.patch
  packages/sysutils/systemd/patches/systemd-0500-install-alias-for-units-outside.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 12.0

#9621 vfs.libarchive: libarchive to 3.7.7 and update addon (9)
  packages/compress/libarchive/package.mk
  packages/devel/elfutils/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9622 linux: update to 6.12.7
  packages/linux/package.mk
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9623 linux: wifi: rtw88: update patches as they have now been accepted into rtw-next
  packages/linux/patches/rtlwifi/after-6.12/0029-wifi-rtw88-add-__packed-attribute-to-efuse-layout-st.patch
  packages/linux/patches/rtlwifi/after-6.12/0030-wifi-rtlwifi-rtl8821ae-Fix-media-status-report.patch
  packages/linux/patches/rtlwifi/after-6.12/0031-wifi-rtw88-8812a-Support-RFE-type-2.patch
  packages/linux/patches/rtlwifi/after-6.12/0032-wifi-rtw88-8821a-8812a-Set-ptct_efuse_size-to-0.patch
  packages/linux/patches/rtlwifi/after-6.12/0033-wifi-rtw88-usb-Copy-instead-of-cloning-the-RX-skb.patch
  packages/linux/patches/rtlwifi/after-6.12/0034-wifi-rtw88-Handle-C2H_ADAPTIVITY-in-rtw_fw_c2h_cmd_h.patch
  packages/linux/patches/rtlwifi/after-6.12/0035-wifi-rtw88-usb-Preallocate-and-reuse-the-RX-skbs.patch
Labels: PATCH, LE 13.0, DRIVER

#9627 Package updates
  packages/audio/sidplay-libs/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/textproc/libiconv/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9626 libhdhomerun: update to 20231214
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/libhdhomerun/package.mk
  packages/addons/addon-depends/libhdhomerun/patches/shared-to-static.patch
  packages/addons/driver/hdhomerun/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9507 nextpvr: Update to 7.0.1
  packages/addons/service/nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9628 package updates
  packages/addons/service/mpd/patches/mpd-0001-link-against-static-libopenmpt.patch
  packages/audio/libopenmpt/patches/libopenmpt-add-libvorbisfile-to-pkgconfig.patch
  packages/devel/xxHash/package.mk
  packages/security/libxcrypt/package.mk
  packages/security/nettle/package.mk
  packages/sysutils/fuse/package.mk
  packages/sysutils/fuse/patches/fuse-0002-dont-run-update-rc.d.patch
  packages/sysutils/fuse/patches/fuse-0003-build-with-glibc-2.34.patch
  packages/sysutils/fuse/patches/fuse-0003-fix-configure-ac.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9600 buildsystem: support optional configuration of local console login
  distributions/LibreELEC/options
  packages/sysutils/systemd/package.mk
  packages/sysutils/systemd/system.d/getty@tty0.service
  packages/sysutils/util-linux/package.mk
Labels: FEATURE, BUILDSYSTEM, LE 13.0

#9630 [le12] kodi: update to current Omega HEAD
  packages/mediacenter/kodi/package.mk
  projects/Allwinner/patches/kodi/000-temp-revert-fences.patch
  projects/Amlogic/patches/kodi/000-temp-revert-fences.patch
  projects/Generic/patches/kodi/000-temp-revert-fences.patch
  projects/RPi/patches/kodi/000-temp-revert-fences.patch
  projects/Rockchip/patches/kodi/000-temp-revert-fences.patch
Labels: UPDATE, PACKAGE, LE 12.0
