Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-11, with the labels that each got.

#9455 pvr.iptvsimple: update 21.9.3-Omega to 21.9.4-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9456 pvr.iptvsimple: update 22.3.0-Piers to 22.3.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9457 Fix linux builds due to rtw backported patch
  packages/linux/package.mk
  packages/linux/patches/rtlwifi/6.11.2/0001-6.11.2-wifi-rtw88-8703b-Fix-reported-RX-band-width.patch
Labels: BUGFIX, PATCH, AMLOGIC, RPi

#9458 [le12] kodi: update to 2b2d09e
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9459 amlogic: kernel bump and u-boot patches plus some misc. bits
  packages/linux/package.mk
  packages/sysutils/systemd/config/system.d/openvpn.service.sample
  packages/sysutils/systemd/hwdb.d/70-local-keyboard.hwdb
  packages/tools/amlogic-boot-fip/package.mk
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0001-LOCAL-set-meson-gx-cma-pool-to-896MB.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0002-LOCAL-set-meson-g12-cma-pool-to-896MB.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0003-LOCAL-arm64-fix-Kodi-sysinfo-CPU-information.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0004-LOCAL-arm64-meson-add-Amlogic-Meson-GX-PM-Suspend.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0005-LOCAL-arm64-dts-meson-add-support-for-GX-PM-and-Virt.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0006-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Khadas.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0007-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Khadas.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0008-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Minix-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0009-LOCAL-ASoC-meson-assign-internal-PCM-chmap-ELD-IEC95.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0010-LOCAL-media-meson-vdec-disable-MPEG1-MPEG2-hardware-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0011-FROMGIT-6.12-arm64-dts-amlogic-add-clock-and-clock-n.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0012-FROMGIT-6.12-dt-bindings-media-amlogic-gx-vdec-add-t.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0013-FROMGIT-6.12-media-meson-vdec-add-GXLX-SoC-platform.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0014-FROMLIST-v5-dt-bindings-vendor-prefixes-Add-Titan-Mi.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0015-FROMLIST-v5-dt-bindings-auxdisplay-Add-Titan-Micro-E.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0016-FROMLIST-v5-docs-ABI-document-tm1628-attribute-displ.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0017-FROMLIST-v5-auxdisplay-add-support-for-Titanmec-TM16.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0018-FROMLIST-v5-arm64-dts-meson-gxl-s905w-tx3-mini-add-s.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0019-FROMLIST-v5-MAINTAINERS-Add-entry-for-tm1628-auxdisp.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0020-FROMLIST-v1-ASoC-hdmi-codec-reorder-channel-allocati.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0021-FROMLIST-v1-media-meson-vdec-esparser-check-parsing-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0022-FROMLIST-v2-media-meson-vdec-implement-10bit-bitstre.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0023-FROMLIST-v2-media-meson-vdec-add-HEVC-decode-codec.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0024-FROMLIST-v1-iio-adc-meson-fix-voltage-reference-sele.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0025-FROMLIST-v1-iio-adc-consistently-use-bool-and-enum-i.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0026-FROMLIST-v1-iio-adc-meson-simplify-MESON_SAR_ADC_REG.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0027-FROMLIST-v1-net-mdio-meson-gxl-set-28th-bit-in-eth_r.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0028-FROMLIST-v1-dt-bindings-iio-adc-amlogic-meson-saradc.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0029-FROMLIST-v1-iio-adc-meson-add-support-for-the-GXLX-S.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0030-FROMLIST-v1-dt-bindings-usb-dwc2-allow-device-sub-no.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0031-FROMLIST-v1-media-rc-meson-ir-support-PM-suspend-res.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0032-WIP-media-meson-vdec-add-HEVC-and-remove-MPEG1-2-fro.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0033-WIP-media-meson-vdec-reintroduce-wiggle-room.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0034-WIP-media-meson-vdec-fix-memory-leak-of-new_frame.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0035-Revert-drm-meson-vclk-fix-calculation-of-59.94-fract.patch
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Amlogic/patches/u-boot/u-boot-0001-LOCAL-configs-meson64-prevent-stdout-stderr-on-video.patch
  projects/Amlogic/patches/u-boot/u-boot-0002-LOCAL-board-amlogic-odroid-n2-remove-amlogic-prefix-.patch
  projects/Amlogic/patches/u-boot/u-boot-0003-FROMGIT-board-libretech-ac-move-board-support-into-d.patch
  projects/Amlogic/patches/u-boot/u-boot-0004-FROMGIT-board-libre-computer-aml-s805x-cc-Enable-cap.patch
  projects/Amlogic/patches/u-boot/u-boot-0005-FROMGIT-ARM-meson-add-support-for-Libre-Computer-aml.patch
  projects/Amlogic/patches/u-boot/u-boot-0006-FROMGIT-ARM-meson-add-support-for-Libre-Computer-aml.patch
  projects/Amlogic/patches/u-boot/u-boot-0007-FROMGIT-dts-meson-g12-common-u-boot-do-not-disable-c.patch
  projects/Amlogic/patches/u-boot/u-boot-0008-FROMGIT-video-meson-dw-hdmi-do-not-fail-probe-if-HDM.patch
  projects/Amlogic/patches/u-boot/u-boot-0009-FROMGIT-clk-meson-gxbb-add-HDMI-clocks.patch
  projects/Amlogic/patches/u-boot/u-boot-0010-FROMGIT-power-domain-meson-ee-pwrc-make-sure-to-not-.patch
  projects/Amlogic/patches/u-boot/u-boot-0011-FROMGIT-configs-meson64-Ensure-commands-for-boot-tar.patch
  projects/Amlogic/patches/u-boot/u-boot-0012-TESTING-test-uart_ao_a_pins-bias-disable-on-Odroid-C.patch
  scripts/uboot_helper
Labels: UPDATE, PATCH, KERNEL, AMLOGIC, LE 13.0

#9460 Package updates
  packages/debug/valgrind/package.mk
  packages/devel/tbb/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/network/bluez/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9461 kodi: update to githash 3f6829c
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9462 audiodecoder.fluidsynth: update addon (12)
  packages/audio/fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9469 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9468 inputstream.adaptive: update 21.5.5-Omega to 21.5.6-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9323 Updates to service.nextpvr for v7
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/service/nextpvr/package.mk
  packages/addons/service/nextpvr/source/addon.py
  packages/addons/service/nextpvr/source/bin/nextpvr-downloader
  packages/addons/service/nextpvr/source/sleep.d/nextpvr.power
Labels: ADDONS, WORK IN PROGRESS, MERGE BLOCKED, LE 13.0

#9466 librespot: update to 0.6.0 and addon (1)
  packages/addons/service/librespot/package.mk
  packages/rust/bindgen-cli/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9467 Vulkan update to 1.3.301
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9473 pvr.vuplus: update 22.2.0-Piers to 22.3.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9472 pvr.vuplus: update 21.2.1-Omega to 21.3.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9475 iwd: update to 3.1
  packages/network/iwd/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9476 [le12] iwd: update to 3.1
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9478 libheif: update to 1.19.2
  packages/graphics/libheif/package.mk
  packages/graphics/tiff/patches/tiff-0001-cmake--Replace-CMath--CMath-with-direct-link-to-avoid-export-of-target.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9471 Package updates
  packages/addons/addon-depends/chrome-depends/libXcursor/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/icu/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/utfcpp/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/nvidia-vaapi-driver/package.mk
  packages/security/gnutls/package.mk
  packages/tools/dtc/package.mk
  packages/x11/lib/pixman/package.mk
  packages/x11/lib/pixman/patches/pixman-0001-adjust-arm-assembly-for-binutils-change.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9479 pixman: drop support for iwmmxt
  packages/x11/lib/pixman/package.mk
Labels: BUGFIX, PACKAGE, CLEANUP, LE 13.0

#9481 pvr.iptvsimple: update 21.9.4-Omega to 21.10.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9482 pvr.hts: update 22.5.0-Piers to 22.6.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9483 Package updates
  packages/devel/cmake/package.mk
  packages/devel/glib/package.mk
  packages/network/iptables/package.mk
  packages/python/devel/pypackaging/package.mk
  packages/rust/rust/package.mk
  packages/textproc/expat/package.mk
  packages/x11/app/xrandr/package.mk
  packages/x11/lib/xtrans/package.mk
  packages/x11/lib/xtrans/patches/xtrans-23-is_numeric-Add-defined-IPv6-to-checks.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9477 RPi: brcmfmac: disable SAE authentication offload
  projects/RPi/packages/linux/modprobe.d/brcmfmac.conf
Labels: BUGFIX, BACKPORT REQD, RPi, LE 13.0

#9487 [le12] RPi: brcmfmac: disable SAE authentication offload
  projects/RPi/packages/linux/modprobe.d/brcmfmac.conf
Labels: BUGFIX, RPi, LE 12.0

#9488 kernel-firmware: update to 20241110
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9489 Package updates
  packages/devel/spdlog/package.mk
  packages/python/devel/setuptools/package.mk
  packages/security/libgpg-error/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9490 pvr.mythtv: update 21.1.9-Omega to 21.1.11-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9485 docker: update to containerd 2.0.0 and addon (3)
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9484 linux (NXP iMX8): Update to V18 - Cadence MHDP8501(HDMI/DP) for i.MX8MQ
  projects/NXP/devices/iMX8/patches/linux/0001-Initial-support-Cadence-MHDP8501-HDMI-DP-for-i-MX8MQ.patch
  projects/NXP/devices/iMX8/patches/linux/0002-arm64-dts-fsl-imx8mq-evk-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0003-arm64-dts-fsl-imx8mq-pico-pi-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0004-arm64-dts-fsl-imx8mq-phanbell.dts-enable-DCSS-and-HD.patch
Labels: NXP, LE 13.0

#9491 ntfs-3g: capitalise NTFS-3G and provide a longer add-on description
  packages/addons/service/ntfs3g/package.mk
Labels: IMPROVEMENT, ADDONS, LE 13.0

#9492 linux (RPi): update to 6.6.60
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9494 mesa: update to 24.2.7
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9495 package updates
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
  packages/devel/groovy/package.mk
  packages/graphics/libheif/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/python/devel/setuptools/package.mk
  packages/python/devel/waf/package.mk
  packages/textproc/libxml2/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9493 [le12] linux (RPi): update to 6.6.60
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-001-Revert-DTS-bcm2712-re-enable-SD-slot-CQE-by-default-.patch
  packages/linux/patches/raspberrypi/linux-002-dts-bcm2711-drop-numa_policy-from-bootargs.patch
  packages/linux/patches/raspberrypi/linux-003-dts-bcm2712-drop-numa_policy-from-bootargs.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9499 package updates
  packages/databases/mariadb-connector-c/package.mk
  packages/sysutils/systemd/package.mk
  packages/x11/util/util-macros/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9501 jellyfin: update to 10.10.1 and addon (2)
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9502 jellyfin: update to 10.10.1 and addon (5)
  packages/addons/service/jellyfin/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9503 kodi: update to githash 65703fe
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9505 inputstream.adaptive: update 22.1.9-Piers to 22.1.10-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9504 inputstream.adaptive: update 21.5.6-Omega to 21.5.7-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9500 drop support for unused mali graphics driver
  config/graphic
  packages/graphics/libmali/package.mk
  packages/graphics/libmali/scripts/libmali-setup
  packages/graphics/libmali/system.d/libmali-setup.service
  packages/linux-drivers/mali-bifrost/package.mk
  packages/linux-drivers/mali-midgard/package.mk
  packages/linux-drivers/mali-utgard/package.mk
  packages/linux/package.mk
  projects/ARM/devices/ARMv7/options
  projects/ARM/devices/ARMv8/options
  projects/Allwinner/devices/A64/options
  projects/Allwinner/devices/H2-plus/options
  projects/Allwinner/devices/H3/options
  projects/Allwinner/devices/H5/options
  projects/Allwinner/devices/R40/options
  projects/Amlogic/devices/AMLGX/options
  projects/Rockchip/devices/RK3288/options
  projects/Rockchip/devices/RK3328/options
  projects/Rockchip/devices/RK3399/options
  projects/Rockchip/options
  projects/Samsung/devices/Exynos/options
Labels: BUILDSYSTEM, PACKAGE, CLEANUP, LE 13.0

#9498 linux: drop ancient patches that never went upstream
  packages/linux/patches/default/linux-051-ouya_controller_support.patch
  packages/linux/patches/default/linux-058.05-hid_sony-add_autorepeat_for_PS3_remotes.patch
  packages/linux/patches/raspberrypi/linux-051-ouya_controller_support.patch
  packages/linux/patches/raspberrypi/linux-058.05-hid_sony-add_autorepeat_for_PS3_remotes.patch
Labels: PATCH, KERNEL, CLEANUP, LE 13.0

#9506 inputstream.adaptive: add patch to fix widevine on aarch64
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/fix-aarch64-widevine.patch
Labels: BUGFIX, ADDONS, LE 13.0

#9446 New addons: "ntfs-3g for udevil" and "ntfs-tools"
  packages/addons/addon-depends/ntfs-3g_ntfsprogs/package.mk
  packages/addons/service/ntfs3g/changelog.txt
  packages/addons/service/ntfs3g/icon/icon.png
  packages/addons/service/ntfs3g/package.mk
  packages/addons/service/ntfs3g/source/bin/mount.ntfs3g
  packages/addons/service/ntfs3g/source/default.py
  packages/addons/service/ntfs3g/source/system.d/service.ntfs3g.service
  packages/addons/tools/ntfs-progs/changelog.txt
  packages/addons/tools/ntfs-progs/icon/icon.png
  packages/addons/tools/ntfs-progs/package.mk
  packages/addons/tools/ntfs-progs/source/default.py
Labels: ADDONS, MERGE ¯\_(ツ)_/¯ 💥, LE 12.0

#9509 Package updates
  packages/audio/openal-soft/package.mk
  packages/graphics/libheif/package.mk
  packages/lang/llvm/package.mk
  packages/sysutils/exfatprogs/package.mk
  packages/wayland/libinput/package.mk
  packages/x11/lib/libXt/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9511 edid-decode: update to 5332a3b (2024-11-19)
  packages/debug/edid-decode/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9508 linux: bump Amlogic kernel to 6.12.y
  packages/linux/package.mk
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0001-LOCAL-set-meson-gx-cma-pool-to-896MB.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0002-LOCAL-set-meson-g12-cma-pool-to-896MB.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0003-LOCAL-arm64-fix-Kodi-sysinfo-CPU-information.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0004-LOCAL-arm64-meson-add-Amlogic-Meson-GX-PM-Suspend.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0005-LOCAL-arm64-dts-meson-add-support-for-GX-PM-and-Virt.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0006-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Khadas.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0007-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Khadas.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0008-LOCAL-arm64-dts-meson-add-rtc-vrtc-aliases-to-Minix-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0009-LOCAL-ASoC-meson-assign-internal-PCM-chmap-ELD-IEC95.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0010-LOCAL-media-meson-vdec-disable-MPEG1-MPEG2-hardware-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0011-FROMGIT-6.12-arm64-dts-amlogic-add-clock-and-clock-n.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0011-FROMLIST-v5-dt-bindings-vendor-prefixes-Add-Titan-Mi.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0012-FROMGIT-6.12-dt-bindings-media-amlogic-gx-vdec-add-t.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0012-FROMLIST-v5-dt-bindings-auxdisplay-Add-Titan-Micro-E.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0013-FROMGIT-6.12-media-meson-vdec-add-GXLX-SoC-platform.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0013-FROMLIST-v5-docs-ABI-document-tm1628-attribute-displ.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0014-FROMLIST-v5-auxdisplay-add-support-for-Titanmec-TM16.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0015-FROMLIST-v5-arm64-dts-meson-gxl-s905w-tx3-mini-add-s.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0016-FROMLIST-v5-MAINTAINERS-Add-entry-for-tm1628-auxdisp.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0017-FROMLIST-v1-ASoC-hdmi-codec-reorder-channel-allocati.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0018-FROMLIST-v1-media-meson-vdec-esparser-check-parsing-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0019-FROMLIST-v2-media-meson-vdec-implement-10bit-bitstre.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0020-FROMLIST-v2-media-meson-vdec-add-HEVC-decode-codec.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0021-FROMLIST-v1-iio-adc-meson-fix-voltage-reference-sele.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0022-FROMLIST-v1-iio-adc-consistently-use-bool-and-enum-i.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0023-FROMLIST-v1-iio-adc-meson-simplify-MESON_SAR_ADC_REG.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0024-FROMLIST-v1-net-mdio-meson-gxl-set-28th-bit-in-eth_r.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0025-FROMLIST-v1-dt-bindings-iio-adc-amlogic-meson-saradc.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0026-FROMLIST-v1-iio-adc-meson-add-support-for-the-GXLX-S.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0027-FROMLIST-v1-dt-bindings-usb-dwc2-allow-device-sub-no.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0028-FROMLIST-v2-clk-Fix-the-CLK_IGNORE_UNUSED-failure-is.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0029-FROMLIST-v2-clk-meson-Fix-failure-of-glitch-free-mux.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0030-FROMLIST-v2-clk-meson-Fix-glitch-occurs-when-setting.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0031-FROMLIST-v1-media-rc-meson-ir-support-PM-suspend-res.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0031-FROMLIST-v2-clk-meson-Fix-children-of-ro_clk-may-be-.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0032-WIP-media-meson-vdec-add-HEVC-and-remove-MPEG1-2-fro.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0033-WIP-media-meson-vdec-reintroduce-wiggle-room.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0034-WIP-media-meson-vdec-fix-memory-leak-of-new_frame.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0035-Revert-drm-meson-vclk-fix-calculation-of-59.94-fract.patch
  projects/Amlogic/devices/AMLGX/patches/linux/amlogic-0036-WIP-arm64-dts-meson-add-Odroid-C2-HiFi-Shield-boards.patch
  projects/Amlogic/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, AMLOGIC, LE 13.0

#9496 atf: update to 2.12
  packages/tools/atf/package.mk
  projects/NXP/devices/iMX8/patches/atf/fix.patch
  projects/NXP/devices/iMX8/patches/atf/imx8mq-remove-ram-retention.patch
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, NXP, LE 13.0

#9513 Vulkan update to 1.3.302
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9514 cifs-utils: update to 7.1 and dependencies
  packages/devel/talloc/config/talloc-cache.txt
  packages/devel/talloc/package.mk
  packages/network/cifs-utils/package.mk
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9515 Amlogic: disable lock debugging
  projects/Amlogic/linux/linux.aarch64.conf
Labels: KERNEL, AMLOGIC, LE 13.0

#9516 Package updates
  packages/devel/cmake/package.mk
  packages/devel/libtool/package.mk
  packages/devel/libtool/patches/libtool-03-remove-help2man-dependency.patch
  packages/python/devel/setuptools/package.mk
  packages/security/nss/package.mk
  packages/tools/mtools/package.mk
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9348 linux: update to 6.12
  packages/debug/strace/package.mk
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0600-kernel-6.12-fix.patch
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0002-rockchip-from-list.patch
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Rockchip/patches/linux/default/linux-1003-temp-dw_hdmi-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-2001-v4l2-wip-iep-driver.patch
  projects/Samsung/linux/linux.arm.conf
  projects/Samsung/patches/linux/samsung-0008-WIP-ARM-dma-mapping-implement-alloc_noncontiguous.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9517 talloc: don't build python modules
  packages/devel/talloc/package.mk
Labels: BUGFIX, BUILDSYSTEM, PACKAGE, LE 13.0

#9519 linux (RPi): update to 6.12
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999.90-media-anysee-accept-read-buffers-of-length-1-in-anys.patch
  packages/linux/patches/rtlwifi/6.10/0004-6.10-wifi-rtlwifi-Move-code-from-rtl8192de-t.patch
  packages/linux/patches/rtlwifi/6.10/0005-6.10-wifi-rtlwifi-Clean-up-rtl8192d-common-a.patch
  packages/linux/patches/rtlwifi/6.10/0006-6.10-wifi-rtlwifi-Adjust-rtl8192d-common-for.patch
  packages/linux/patches/rtlwifi/6.10/0007-6.10-wifi-rtlwifi-Ignore-IEEE80211_CONF_CHAN.patch
  packages/linux/patches/rtlwifi/6.10/0008-6.10-wifi-rtw88-Shared-module-for-rtw8723x-devices.patch
  packages/linux/patches/rtlwifi/6.10/0009-6.10-wifi-rtw88-Debug-output-for-rtw8723x-EFUSE.patch
  packages/linux/patches/rtlwifi/6.10/0010-6.10-wifi-rtw88-Add-definitions-for-8703b-chip.patch
  packages/linux/patches/rtlwifi/6.10/0011-6.10-wifi-rtw88-Add-rtw8703b.c.patch
  packages/linux/patches/rtlwifi/6.11.2/0001-6.11.2-wifi-rtw88-8703b-Fix-reported-RX-band-width.patch
  packages/linux/patches/rtlwifi/6.11/0001-6.11-wifi-rtlwifi-rtl8192d-Use-rtl92d-prefix.patch
  packages/linux/patches/rtlwifi/6.11/0002-6.11-wifi-rtlwifi-Add-rtl8192du-table.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0003-6.11-wifi-rtlwifi-Add-new-members-to-struct-.patch
  packages/linux/patches/rtlwifi/6.11/0004-6.11-wifi-rtlwifi-Add-rtl8192du-hw.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0005-6.11-wifi-rtlwifi-Add-rtl8192du-phy.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0006-6.11-wifi-rtlwifi-Add-rtl8192du-trx.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0007-6.11-wifi-rtlwifi-Add-rtl8192du-rf.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0008-6.11-wifi-rtlwifi-Add-rtl8192du-fw.-c-h-and-.patch
  packages/linux/patches/rtlwifi/6.11/0009-6.11-wifi-rtlwifi-Add-rtl8192du-dm.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0010-6.11-wifi-rtlwifi-Constify-rtl_hal_cfg.-ops-.patch
  packages/linux/patches/rtlwifi/6.11/0011-6.11-wifi-rtlwifi-Add-rtl8192du-sw.c.patch
  packages/linux/patches/rtlwifi/6.11/0012-6.11-wifi-rtlwifi-Enable-the-new-rtl8192du-d.patch
  packages/linux/patches/rtlwifi/6.11/0013-6.11-wifi-rtw88-usb-Further-limit-the-TX-aggregation.patch
  packages/linux/patches/rtlwifi/6.11/0014-6.11-wifi-rtw88-usb-Simplify-rtw_usb_write_data.patch
  packages/linux/patches/rtlwifi/6.12/0001-6.12-wifi-rtw88-usb-Support-USB-3-with-RTL8822CU-RTL8822B.patch
  packages/linux/patches/rtlwifi/6.12/0003-6.12-wifi-rtw88-8822c-Parse-channel-from-IE-to-correct-in.patch
  packages/linux/patches/rtlwifi/6.12/0004-6.12-wifi-rtw88-usb-Init-RX-burst-length-according-to-USB.patch
  packages/linux/patches/rtlwifi/6.12/0005-6.12-wifi-rtw88-usb-Update-the-RX-stats-after-every-frame.patch
  packages/linux/patches/rtlwifi/6.12/0006-6.12-wifi-rtw88-usb-Support-RX-aggregation.patch
  packages/linux/patches/rtlwifi/6.12/0007-6.12-wifi-rtw88-Enable-USB-RX-aggregation-for-8822c-8822b.patch
  packages/linux/patches/rtlwifi/6.9/0001-wifi-rtlwifi-cleanup-few-rtlxxxx_set_hw_reg-routines.patch
  packages/linux/patches/rtlwifi/6.9/0002-wifi-rtlwifi-remove-unreachable-code-in-rtl92d_dm_ch.patch
  packages/linux/patches/rtlwifi/6.9/0003-wifi-rtlwifi-simplify-TX-command-fill-callbacks.patch
  packages/linux/patches/rtlwifi/6.9/0004-wifi-rtlwifi-drop-unused-const_amdpci_aspm.patch
  packages/linux/patches/rtlwifi/6.9/0005-wifi-rtlwifi-rtl8192de-Don-t-read-register-in-_rtl92.patch
  packages/linux/patches/rtlwifi/6.9/0006-wifi-rtlwifi-Remove-rtl_intf_ops.read_efuse_byte.patch
  packages/linux/patches/rtlwifi/6.9/0007-wifi-rtlwifi-rtl_usb-Store-the-endpoint-addresses.patch
  packages/linux/patches/rtlwifi/6.9/0008-wifi-rtw88-8821c-tweak-CCK-TX-filter-setting-for-SRRC.patch
  packages/linux/patches/rtlwifi/6.9/0009-wifi-rtw88-8822ce-refine-power-parameters-for-RFE-type-5.patch
  packages/linux/patches/rtlwifi/6.9/0010-wifi-rtw88-debug-add-to-check-if-debug-mask-is-enabled.patch
  packages/linux/patches/rtlwifi/6.9/0011-wifi-rtw88-dump-firmware-debug-information-in-abnormal-state.patch
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9520 lirc: fix lock directory / rework VERSION_NODOTS computation
  packages/sysutils/lirc/package.mk
  packages/sysutils/lirc/patches/lirc-0100-disable-python.patch
Labels: BUGFIX, BACKPORT DONE, LE 13.0

#9523 glibc: update enable-kernel=6.12.0
  packages/devel/glibc/package.mk
Labels: PACKAGE, LE 13.0

#9522 bcm_sta: drop wireless card driver
  packages/linux-drivers/bcm_sta/package.mk
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0001-change-eth-to-wlan.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0002-user_ioctl.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0003-remove-date-time-macros.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0004-null-pointer-crash.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0005-rdtscl.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0006-kernel-4.7.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0007-kernel-4.8.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0008-kernel-4.11.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0009-kernel-4.12.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0010-kernel-4.15.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0011-fix-kernel-warnings.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0012-kernel-4.14.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0200-kernel-5.1-rc1-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0300-kernel-5.6-rc1-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0400-kernel-5.9-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0500-kernel-5.10-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0600-kernel-5.17-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0600-kernel-5.18-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0600-kernel-6.0-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0600-kernel-6.1-fix.patch
  packages/linux-drivers/bcm_sta/patches/bcm_sta-0600-kernel-6.12-fix.patch
  projects/Generic/options
Labels: PACKAGE, CLEANUP, GENERIC, LE 13.0

#9524 linux: wifi: rtw88: update patches as they have now been accepted into rtw-next
  packages/linux/patches/rtlwifi/after-6.12/0003-wifi-rtw88-Add-some-definitions-for-RTL8821AU-RTL881.patch
  packages/linux/patches/rtlwifi/after-6.12/0003-wifi-rtw88-Add-support-for-RTL8821AU-and-RTL8812AU.patch
  packages/linux/patches/rtlwifi/after-6.12/0004-wifi-rtw88-Dump-the-HW-features-only-for-some-chips.patch
  packages/linux/patches/rtlwifi/after-6.12/0005-wifi-rtw88-Allow-different-C2H-RA-report-sizes.patch
  packages/linux/patches/rtlwifi/after-6.12/0006-wifi-rtw88-Extend-the-init-table-parsing-for-RTL8812.patch
  packages/linux/patches/rtlwifi/after-6.12/0007-wifi-rtw88-Allow-rtw_chip_info.ltecoex_addr-to-be-NU.patch
  packages/linux/patches/rtlwifi/after-6.12/0008-wifi-rtw88-Let-each-driver-control-the-power-on-off-.patch
  packages/linux/patches/rtlwifi/after-6.12/0009-wifi-rtw88-Enable-data-rate-fallback-for-older-chips.patch
  packages/linux/patches/rtlwifi/after-6.12/0010-wifi-rtw88-Make-txagc_remnant_ofdm-an-array.patch
  packages/linux/patches/rtlwifi/after-6.12/0011-wifi-rtw88-Support-TX-page-sizes-bigger-than-128.patch
  packages/linux/patches/rtlwifi/after-6.12/0012-wifi-rtw88-Move-pwr_track_tbl-to-struct-rtw_rfe_def.patch
  packages/linux/patches/rtlwifi/after-6.12/0013-wifi-rtw88-usb-Set-pkt_info.ls-for-the-reserved-page.patch
  packages/linux/patches/rtlwifi/after-6.12/0014-wifi-rtw88-Detect-beacon-loss-with-chips-other-than-.patch
  packages/linux/patches/rtlwifi/after-6.12/0015-wifi-rtw88-coex-Support-chips-without-a-scoreboard.patch
  packages/linux/patches/rtlwifi/after-6.12/0016-wifi-rtw88-8821a-Regularly-ask-for-BT-info-updates.patch
  packages/linux/patches/rtlwifi/after-6.12/0017-wifi-rtw88-8812a-Mitigate-beacon-loss.patch
  packages/linux/patches/rtlwifi/after-6.12/0018-wifi-rtw88-Add-rtw8812a_table.-c-h.patch
  packages/linux/patches/rtlwifi/after-6.12/0019-wifi-rtw88-Add-rtw8821a_table.-c-h.patch
  packages/linux/patches/rtlwifi/after-6.12/0020-wifi-rtw88-Add-rtw88xxa.-c-h.patch
  packages/linux/patches/rtlwifi/after-6.12/0021-wifi-rtw88-Add-rtw8821a.-c-h.patch
  packages/linux/patches/rtlwifi/after-6.12/0022-wifi-rtw88-Add-rtw8812a.-c-h.patch
  packages/linux/patches/rtlwifi/after-6.12/0023-wifi-rtw88-Add-rtw8821au.c-and-rtw8812au.c.patch
  packages/linux/patches/rtlwifi/after-6.12/0024-wifi-rtw88-Enable-the-new-RTL8821AU-RTL8812AU-driver.patch
  packages/linux/patches/rtlwifi/after-6.12/0025-wifi-rtw88-8821au-Add-additional-devices-to-the-USB_.patch
  packages/linux/patches/rtlwifi/after-6.12/0026-wifi-rtw88-8812au-Add-more-device-IDs.patch
  packages/linux/patches/rtlwifi/after-6.12/0027-wifi-rtw88-usb-Support-USB-3-with-RTL8812AU.patch
  packages/linux/patches/rtlwifi/after-6.12/0028-wifi-rtw88-usb-Enable-RX-aggregation-for-8821au-8812.patch
Labels: UPDATE, PATCH, LE 13.0, DRIVER

#9525 bring support of XFS to NXP project as we already have it in other projects
  projects/NXP/devices/iMX6/linux/linux.arm.conf
Labels: FEATURE, KERNEL, NXP, LE 13.0

#9527 linux: bring support of XFS to NXP project
  projects/NXP/devices/iMX6/linux/linux.arm.conf
Labels: FEATURE, KERNEL, NXP, LE 13.0

#9532 nvidia update to 550.135
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9531 linux (Rockchip RK3288): update .config dropping SCMI
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
Labels: KERNEL, ROCKCHIP, CLEANUP, LE 13.0

#9534 cacert.pem: update to 2024-11-18
  packages/security/openssl/cert/cacert.pem
Labels: PACKAGE, LE 12.0

#9521 lirc: fix lock directory / rework VERSION_NODOTS computation
  packages/sysutils/lirc/package.mk
  packages/sysutils/lirc/patches/lirc-0100-disable-python.patch
Labels: BUGFIX, LE 12.0

#9533 cacert.pem: update to 2024-11-18
  packages/security/openssl/cert/cacert.pem
Labels: BACKPORT DONE, PACKAGE, LE 13.0

#9536 gmmlib: update to 22.5.4
  packages/multimedia/gmmlib/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9538 vdr-addon: update to 2.7.3 and addon (2)
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-vnsiserver/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9537 libfmt: update to 11.0.2
  packages/addons/service/mpd/patches/0001-support-build-with-libfmt-11.0.0.patch
  packages/devel/libfmt/package.mk
Labels: UPDATE, PACKAGE, PATCH, LE 13.0

#9539 samba: update to 4.21.2
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9540 iwd: update to 3.2
  packages/network/iwd/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9526 kodi: backport PR25981 to temp-fix GUI with lima/panfrost devices
  packages/mediacenter/kodi/patches/kodi-999.99-PR25981-EGL_KHR_partial_update.patch
Labels: BUGFIX, PATCH, LE 13.0

#9545 [RFC] Amlogic kernel config tweaks
  projects/Amlogic/linux/linux.aarch64.conf
Labels: KERNEL, AMLOGIC, LE 13.0

#9546 Package updates
  packages/audio/openal-soft/package.mk
  packages/graphics/pango/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9547 [le12] linux (RPi): update to 6.6.63
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0
