Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-04, with the labels that each got.

#8782 inputstream.ffmpegdirect: update 20.5.0-Nexus to 20.5.1-Nexus
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8784 Python3: update to 3.11.9
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8786 kodi: update to afe5c94
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.02-add-libreelec.tv-RSS-news.patch
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
Labels: UPDATE, LE 12.0

#8787 kodi: switch back to Omega branch
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.02-add-libreelec.tv-RSS-news.patch
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.09-use-a-wrapper-to-setup-service-addons.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
Labels: BUGFIX, PACKAGE, LE 12.0

#8788 linux (RPi): update to 6.6.25
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8789 bcm2835-utils: update to 6dc6f5f
  packages/tools/bcm2835-utils/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8790 kodi: update to 21.0-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8791 linux: update to 6.6.25
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8797 mesa: update to 24.0.5
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8798 linux: update to 6.6.26
  packages/linux/package.mk
  projects/Generic/linux/linux.x86_64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8799 linux (RPi): update to 6.6.26
  packages/linux/package.mk
Labels: UPDATE, KERNEL, LE 12.0

#8800 RTL8812AU: update to githash 63cf0b4
  packages/linux-drivers/RTL8812AU/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8801 inputstream.adaptive: update 21.4.4-Omega to 21.4.5-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8803 inputstream.adaptive: add rapidjson to PKG_DEPENDS_TARGET
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, PACKAGE, LE 12.0

#8804 Addon updates for LE12
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/librepfunc/package.mk
  packages/addons/addon-depends/libusbmuxd/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/package.mk
  packages/addons/addon-depends/system-tools-depends/efibootmgr/patches/efibootmgr-0001-Revert-Implement-uri-option-for-use-with-ifname.patch
  packages/addons/addon-depends/system-tools-depends/st/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/tinc-depends/miniupnpc/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/service/podman/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tinc/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/service/usbmuxd/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/flirc_util/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/audio/fluidsynth/package.mk
  packages/audio/libopenmpt/package.mk
  packages/graphics/jasper/package.mk
  packages/graphics/pango/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/multimedia/aom/package.mk
  packages/python/graphics/glad/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8805 libimobiledevice-glue: update to 1.2.0
  packages/addons/addon-depends/libimobiledevice-glue/package.mk
Labels: ADDONS, UPDATE, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 12.0

#8806 update x265 shared library directory
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 12.0

#8808 snapcast: update to 0.28.0
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-01_CMakeLists.patch
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-01_makefiles.patch
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-02_avahi.patch
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-03-1124-fix-gcc13.patch
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8795 libarchive: update to 3.7.3
  packages/compress/libarchive/package.mk
  packages/compress/libarchive/patches/libarchive-upstreamed-more-robust-error-PR2101.patch
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8809 snapcast: fix hash
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/patches/snapcast-01_CMakeLists.patch
Labels: BUGFIX, ADDONS, PACKAGE, LE 12.0

#8810 sqlite: update to 3.45.3
  packages/databases/sqlite/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8794 samba: update to 4.19.6
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8811 linux: update to 6.6.28
  packages/linux/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8819 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8821 linux (RPi): update to 6.6.28
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, RPi, LE 12.0

#8824 linux (RPi): update to 6.6.28-fe027c6
  packages/linux/package.mk
Labels: UPDATE, KERNEL, LE 12.0

#8825 commons-text: fix PKG_URL
  packages/devel/commons-text/package.mk
Labels: PACKAGE, LE 12.0

#8820 bluez: update to 5.75
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-50-shared-uhid--Fix-crash-if-bt_uhid_destroy-free-replay.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8826 rpi-eeprom: update RPi5 bootloader to 2024-04-20
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, RPi, LE 12.0

#8828 Addon updates for LE12
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpv-drmprime/package.mk
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/podman/package.mk
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8829 tvheadend43: remove alpha label
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, CLEANUP, LE 12.0

#8830 linux (RPi): update to 6.6.28-8d40b03
  packages/linux/package.mk
Labels: BUGFIX, UPDATE, KERNEL, RPi, LE 12.0
