Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-05, with the labels that each got.

#8837 LE13 config
  distributions/LibreELEC/version
Labels: ADDONS, UPDATE, MERGE ¯\_(ツ)_/¯ 💥, LE 13.0

#8765 curl: update to 8.7.1
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8769 samba: update to 4.20.0
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8822 vulkan: update to 1.3.283
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8817 busybox: use mke2fs instead of resize2fs
  packages/sysutils/busybox/scripts/fs-resize
Labels: BUGFIX, BACKPORT REQD, LE 13.0

#8785 u-boot: update to 2024.04
  packages/tools/u-boot/package.mk
  projects/Allwinner/patches/u-boot/0001-sunxi-spl-Disable-padding-from-SPL_PAD_TO.patch
  projects/Allwinner/patches/u-boot/0002-sunxi-binman-Move-BL31-and-SCP-firmware-addresses-to.patch
  projects/Allwinner/patches/u-boot/0003-sunxi-binman-Support-FIT-generation-for-32-bit-SoCs.patch
  projects/Allwinner/patches/u-boot/0004-sunxi-Enable-SPL-FIT-loading-for-32-bit-SoCs.patch
  projects/Allwinner/patches/u-boot/0016-sunxi-dram-Fix-incorrect-ram-size-detection-for-some-H6-boards.patch
  projects/Amlogic/patches/u-boot/u-boot-0002-FROMGIT-net-Add-Amlogic-GXL-MDIO-Mux-driver.patch
  projects/Amlogic/patches/u-boot/u-boot-0003-FROMGIT-ARM-dts-sync-Amlogic-GX-DT-to-Linux-v6.4.patch
  projects/Amlogic/patches/u-boot/u-boot-0004-FROMGIT-board-amlogic-fix-buffler-overflow-in-serial.patch
  projects/Amlogic/patches/u-boot/u-boot-0005-FROMGIT-ARM-dts-fix-Ethernet-on-WeTek-Hub-Play2.patch
  projects/Amlogic/patches/u-boot/u-boot-0006-FROMGIT-board-amlogic-add-meson_generate_serial_etha.patch
  projects/Rockchip/patches/u-boot/0004-rockchip-rk3328-Set-VOP-QoS-to-high-priority.patch
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, SAMSUNG, LE 13.0

#8793 busybox: init: remove rpi firmware upgrade handling
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/libreelec-target-generator
  packages/sysutils/busybox/scripts/rpi-flash-firmware
  packages/sysutils/busybox/system.d/rpi-flash-firmware.service
  packages/sysutils/busybox/system.d/rpi-flash-firmware.target
Labels: CLEANUP, RPi, LE 13.0

#8679 elfutils: cleanup _CONFIGURE_OPTS
  packages/devel/elfutils/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#8812 cec: Allow cec driver to handle multiple instances
  packages/devel/libcec/patches/0001-WIP-support-multiple-dev-cecX-devices.patch
Labels: PATCH, RPi, LE 13.0

#8840 [le13] mesa: update to 24.0.6
  packages/graphics/mesa/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8839 [le13] peripheral.joystick: update 21.1.11-Omega to 21.1.14-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8838 [le13] pvr.hts: update 21.2.2-Omega to 21.2.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8836 gstreamer: update to 1.24.3
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8834 [le12] peripheral.joystick: update 21.1.11-Omega to 21.1.14-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8832 [le12] mesa: update to 24.0.6
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8831 [le12] pvr.hts: update 21.2.2-Omega to 21.2.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8755 arm-mem: update to githash ee8ac1d
  packages/devel/arm-mem/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8841 [LE12] snapcast: fix hash (again)
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#8842 [le13] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8843 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8844 peripheral.joystick: update 20.1.15-Nexus to 20.1.16-Nexus
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: UPDATE, PACKAGE, LE 11.0

#8781 wireplumber: update to 0.5.2
  packages/audio/wireplumber/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8849 system-tools: move smbus.so to lib and addon (1)
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, BACKPORT DONE, PACKAGE, LE 12.0

#8850 [le12] system-tools: move smbus.so to lib and addon (1)
  packages/addons/tools/system-tools/changelog.txt
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, PACKAGE, LE 12.0

#8855 linux (RPi): update to 6.6.30
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, LE 13.0

#8859 fdupes: add missing sqlite DEPEND
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
Labels: BUGFIX, ADDONS, BACKPORT DONE, PACKAGE, LE 13.0

#8860 [le12] fdupes: add missing sqlite DEPEND
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 12.0

#8861 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8862 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8856 [le12] linux (RPi): update to 6.6.30
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8863 Package updates
  packages/debug/valgrind/package.mk
  packages/debug/valgrind/patches/valgrind-0001-enable-armv8.patch
  packages/devel/hwdata/package.mk
  packages/devel/libbpf/package.mk
  packages/devel/mold/package.mk
  packages/devel/ncurses/package.mk
  packages/devel/ncurses/patches/ncurses-001-terminfo-xterm.patch
  packages/devel/ncurses/patches/ncurses-004-fix_configure_pkgconfig.patch
  packages/devel/spdlog/package.mk
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
  packages/lang/llvm/package.mk
  packages/python/devel/waf/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
  packages/tools/nano/package.mk
  packages/wayland/lib/wlroots/package.mk
  packages/wayland/util/swaybg/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8869 [le12] pvr.plutotv: update 21.2.0-Omega to 21.3.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8870 [le13] pvr.plutotv: update 21.2.0-Omega to 21.3.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8872 ncurses: compile with --enable-sigwinch
  packages/devel/ncurses/package.mk
Labels: ADDONS, PACKAGE, LE 13.0

#8866 linux: update to 6.6.30
  packages/linux/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#8847 Update Atari emulators for authetic buttonmaps
  packages/mediacenter/kodi-binary-addons/game.libretro.a5200/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.atari800/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8833 usbmuxd: remove sed errors
  packages/addons/addon-depends/libusbmuxd/package.mk
  packages/addons/service/usbmuxd/package.mk
Labels: ADDONS, LE 13.0

#8874 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8875 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8876 Allwinner: linux: Fix OrangePi 3 LTS ethernet
  projects/Allwinner/patches/linux/0041-OrangePi-3-LTS-support.patch
Labels: BUGFIX, BACKPORT DONE, KERNEL, ALLWINNER, LE 13.0

#8878 mesa: update to 24.0.7
  packages/graphics/mesa/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8879 [le12] mesa: update to 24.0.7
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8877 [LE12] Allwinner: linux: Fix OrangePi 3 LTS ethernet
  projects/Allwinner/patches/linux/0041-OrangePi-3-LTS-support.patch
Labels: BUGFIX, KERNEL, ALLWINNER, LE 12.0

#8885 [le12] inputstream.adaptive: update 21.4.6-Omega to 21.4.7-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8886 inputstream.adaptive: update 21.4.6-Omega to 21.4.7-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8880 boblight: libboblight.so has to be in lib not lib.private
  packages/addons/service/boblightd/package.mk
Labels: BUGFIX, ADDONS, BACKPORT DONE, CLEANUP, LE 13.0

#8881 boblight: libboblight.so has to be in lib not lib.private
  packages/addons/service/boblightd/package.mk
Labels: BUGFIX, IMPROVEMENT, ADDONS, LE 12.0

#8887 uboot_helper: RK3399: Add Radxa ROCK 4C+
  projects/Rockchip/devices/RK3399/README.md
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  scripts/uboot_helper
Labels: HARDWARE, ROCKCHIP, LE 13.0

#8889 vulkan: update to 1.3.285
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8891 wireless-regdb: update to 2024.05.08
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8892 [le12] wireless-regdb: update to 2024.05.08
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8893 [le13] pvr.waipu: update 21.6.0-Omega to 21.6.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8894 [le12] pvr.waipu: update 21.6.0-Omega to 21.6.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8896 Package updates
  packages/audio/libopenmpt/package.mk
  packages/audio/pipewire/package.mk
  packages/databases/mariadb-connector-c/package.mk
  packages/debug/strace/package.mk
  packages/devel/cmake/package.mk
  packages/devel/libbpf/package.mk
  packages/devel/libplist/package.mk
  packages/devel/mimalloc/package.mk
  packages/graphics/assimp/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/multimedia/nvidia-vaapi-driver/package.mk
  packages/network/samba/package.mk
  packages/python/devel/Mako/package.mk
  packages/python/devel/ninja/package.mk
  packages/security/nss/package.mk
  packages/sysutils/systemd/package.mk
  packages/textproc/libxml2/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8897 kernel-firmware: update to 20240513
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8898 intel-ucode: update to 20240514
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8867 [le12] linux; update to 6.6.30
  packages/linux/package.mk
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8903 bluez: update to 5.76
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-50-shared-uhid--Fix-crash-if-bt_uhid_destroy-free-replay.patch
Labels: UPDATE, PACKAGE, LE 13.0

#8904 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/patches/1063738-revert-c432c9ef.patch
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8905 [le12] Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/patches/1063738-revert-c432c9ef.patch
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8907 tools/docker: add cpp-13 to noble Dockerfile
  tools/docker/noble/Dockerfile
Labels: BUGFIX, BUILDSYSTEM, BACKPORT DONE, LE 13.0

#8909 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8908 [le12] tools/docker: add cpp-13 to noble Dockerfile
  tools/docker/noble/Dockerfile
Labels: BUGFIX, BUILDSYSTEM, LE 12.0

#8911 Package updates
  packages/devel/libcap/package.mk
  packages/devel/utfcpp/package.mk
  packages/lang/llvm/package.mk
  packages/multimedia/libass/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8912 [le12] pvr.zattoo: update 21.0.1-Omega to 21.0.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8915 Minor compat fixes for gcc-14.1
  packages/tools/bcm2835-utils/patches/bcm2835-utils-86.patch
  packages/tools/bcm2835-utils/patches/bcm2835-utils-88.patch
  packages/x11/xserver/xorg-server/patches/xorg-server-1560-fix-cast-for-gcc14-1.patch
Labels: PACKAGE, PATCH, LE 13.0

#8918 Addon fixes for gcc-14.1
  packages/addons/addon-depends/chrome-depends/unclutter/patches/unclutter-0001-fix-gcc-14-1-build.patch
  packages/addons/addon-depends/tslib/patches/tslib-40-fix-gcc-14-1.patch
  packages/addons/service/lcdd/patches/lcdd-0.5.6-dm140_henlar_v0.2.patch
  packages/emulation/libretro-picodrive/patches/picodrive-02-fix-build-gcc-14-1.patch
  packages/multimedia/aom/package.mk
Labels: ADDONS, PACKAGE, PATCH, LE 13.0

#8919 mesa: update to 24.0.8
  packages/graphics/mesa/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8920 [le12] mesa: update to 24.0.8
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8921 xf86-video-nvidia-legacy: patches for linux-6.8 and gcc-14.1
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.15-kernel-6.8.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.16-gcc-14.patch
Labels: PACKAGE, PATCH, GENERIC, LE 13.0

#8922 Package updates
  packages/databases/sqlite/package.mk
  packages/devel/mimalloc/package.mk
  packages/network/ethtool/package.mk
  packages/python/devel/waf/package.mk
  packages/sysutils/e2fsprogs/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8923 curl: update to 8.8.0
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8925 [le12] linux (RPi): update to 6.6.31
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, LE 12.0

#8914 media-driver: update to 24.2.3
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#8913 pvr.zattoo: update 21.0.1-Omega to 21.0.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8854 amlogic: include rtl8761bu firmware
  projects/Amlogic/config/kernel-firmware.dat
Labels: IMPROVEMENT, AMLOGIC, LE 12.0

#8851 linux: raspberrypi: add reorder channel allocation patch
  packages/linux/patches/raspberrypi/linux-999.99-reorder-channel-allocation.patch
Labels: BUGFIX, BACKPORT DONE, PATCH, RPi, LE 13.0

#8927 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8928 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8929 Package Updates
  packages/multimedia/dav1d/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8930 system-tools: add tree to add-on
  packages/addons/addon-depends/system-tools-depends/tree/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, FEATURE, PACKAGE, LE 13.0

#8934 package updates
  packages/sysutils/exfatprogs/package.mk
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8935 heimdal: fix configuration with gcc 14
  packages/devel/heimdal/package.mk
Labels: BUGFIX, BUILDSYSTEM, LE 13.0

#8940 gstreamer: update to 1.24.4
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8939 media-driver: update to 24.2.4
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, LE 13.0
