Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-10, with the labels that each got.

#9339 mariadb-connector-c: update to 3.4.1
  packages/databases/mariadb-connector-c/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 13.0

#9340 inputstream.adaptive: update 22.1.4-Piers to 22.1.5-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9343 Allwinner: u-boot: Fix H3 suspend/resume
  projects/Allwinner/patches/u-boot/0011-DO-NOT-MERGE-sunxi-Enable-remoteproc-on-H3.patch
  projects/Allwinner/patches/u-boot/0011-DO-NOT-MERGE-sunxi-Enable-remoteproc-on-some-H3-boar.patch
Labels: BUGFIX, BACKPORT REQD, ALLWINNER, LE 13.0

#9349 Package updates
  packages/devel/hwdata/package.mk
  packages/network/libnftnl/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/x11/data/xkeyboard-config/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9329 usbutils: allow usb-devices to run using busybox find
  packages/sysutils/usbutils/patches/usbutils-0001-allow-run-with-busybox.patch
Labels: PATCH, LE 13.0

#9265 atf: update to 2.11.0
  packages/tools/atf/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9351 Nvidia: update to 550.120
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0, DRIVER

#9352 mesa: update to 24.2.4
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9332 Update NXP Initial support Cadence MHDP8501(HDMI/DP) for i.MX8MQ patch and add support for Coral Edge TPU Development Board
  packages/linux-firmware/firmware-imx/package.mk
  projects/NXP/README.md
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0001-Initial-support-Cadence-MHDP8501-HDMI-DP-for-i-MX8MQ.patch
  projects/NXP/devices/iMX8/patches/linux/0001-drm-bridge-mhdp-Add-cdns-mhdp-driver-bridge-driver.patch
  projects/NXP/devices/iMX8/patches/linux/0002-MLK-24065-1-drm-bridge-cadence-fix-dp_aux_transfer-w.patch
  projects/NXP/devices/iMX8/patches/linux/0002-arm64-dts-fsl-imx8mq-evk-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0003-MLK-24065-3-drm-bridge-cadence-use-the-lane-mapping-.patch
  projects/NXP/devices/iMX8/patches/linux/0003-arm64-dts-fsl-imx8mq-pico-pi-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0004-MLK-24065-2-drm-bridge-cadence-print-error-when-cloc.patch
  projects/NXP/devices/iMX8/patches/linux/0004-arm64-dts-fsl-imx8mq-phanbell.dts-enable-DCSS-and-HD.patch
  projects/NXP/devices/iMX8/patches/linux/0005-LF-1511-drm-cdn-cec-replace-i-with-i-in-loop.patch
  projects/NXP/devices/iMX8/patches/linux/0005-arm64-dts-fsl-imx8mq-phanbell.dts-enable-PCI.patch
  projects/NXP/devices/iMX8/patches/linux/0006-LF-1512-drm-cdns-mhdp-avoid-potentially-overflowing.patch
  projects/NXP/devices/iMX8/patches/linux/0007-MLK-24335-drm-bridge-cdns-hdmi-support-work-in-DVI-m.patch
  projects/NXP/devices/iMX8/patches/linux/0008-LF-1762-21-gpu-drm-bridge-cadence-hdmi-update-API-.m.patch
  projects/NXP/devices/iMX8/patches/linux/0009-LF-2271-1-drm-bridge-cdns-Use-colorspace-connector-p.patch
  projects/NXP/devices/iMX8/patches/linux/0010-MLK-24770-drm-mhdp-Sync-DPTX-capability-with-Cadence.patch
  projects/NXP/devices/iMX8/patches/linux/0011-MLK-24520-drm-bridge-cdns-increase-maximum-width-fro.patch
  projects/NXP/devices/iMX8/patches/linux/0012-MLK-24521-drm-bridge-hdmi-Prevent-the-driver-from-re.patch
  projects/NXP/devices/iMX8/patches/linux/0013-MLK-23642-1-drm-bridge-cadence-support-HBR-and-6-cha.patch
  projects/NXP/devices/iMX8/patches/linux/0014-MLK-24611-2-drm-bridge-cdns-Add-callback-function-fo.patch
  projects/NXP/devices/iMX8/patches/linux/0015-gpu-drm-dridge-hdp-audio-change-to-mute_stream.patch
  projects/NXP/devices/iMX8/patches/linux/0016-LF-2744-drm-cdns-reset-force_mode_set-flag-in-atomic.patch
  projects/NXP/devices/iMX8/patches/linux/0017-MLK-24081-03-drm-bridge-cdns-cec-support-hdmi-rx-cec.patch
  projects/NXP/devices/iMX8/patches/linux/0018-MLK-25199-3-drm-bridge-mhdp_common-add-apb-config-fu.patch
  projects/NXP/devices/iMX8/patches/linux/0019-MLK-25199-4-drm-bridge-mhdp_hdmi-set-clear-avmute-bi.patch
  projects/NXP/devices/iMX8/patches/linux/0020-MLK-25199-5-drm-bridge-mhdp_hdcp-add-HDMI-TX-HDCP-dr.patch
  projects/NXP/devices/iMX8/patches/linux/0021-LF-3272-drm-cdns_mhdp-fix-Coverity-Issue-11566406.patch
  projects/NXP/devices/iMX8/patches/linux/0022-LF-3271-drm-cdns-hdmi-fix-Coverity-Issue-11566407.patch
  projects/NXP/devices/iMX8/patches/linux/0023-LF-3270-drm-cdns-hdmi-fix-coverity-Issue-11566405.patch
  projects/NXP/devices/iMX8/patches/linux/0024-LF-3269-drm-cdns-hdmi-fix-coverity-Issue-11566404.patch
  projects/NXP/devices/iMX8/patches/linux/0025-LF-3268-drm-cdns-hdmi-fix-Coverity-Issue-11566403.patch
  projects/NXP/devices/iMX8/patches/linux/0026-LF-3367-1-drm-cdns_hdmi-HDCP_STATE_DISABLING-may-mis.patch
  projects/NXP/devices/iMX8/patches/linux/0027-LF-3367-2-drm-mhdp-more-time-for-FW-alive-check.patch
  projects/NXP/devices/iMX8/patches/linux/0028-LF-3367-3-drm-mhdp-hdcp-adjust-state-handle-priority.patch
  projects/NXP/devices/iMX8/patches/linux/0029-clk-imx8mq-add-27MHz-PHY-ref-clock.patch
  projects/NXP/devices/iMX8/patches/linux/0030-drm-imx-Add-mhdp-dp-hdmi-driver-for-imx8x-platform.patch
  projects/NXP/devices/iMX8/patches/linux/0031-LF-1514-drm-cdns-mhdp-check-link-rate-index.patch
  projects/NXP/devices/iMX8/patches/linux/0032-LF-1516-drm-cdns-mhdp-fix-error-check-variable-name-.patch
  projects/NXP/devices/iMX8/patches/linux/0033-MLK-24601-drm-imx-mhdp-DP-PHY-support-1-2-lanes-mode.patch
  projects/NXP/devices/iMX8/patches/linux/0034-MLK-24519-2-gpu-imx-Increase-maximum-single-pipe-wid.patch
  projects/NXP/devices/iMX8/patches/linux/0035-MLK-24072-drm-imx8-correct-mhdp-files-copyright.patch
  projects/NXP/devices/iMX8/patches/linux/0036-LF-2744-drm-cdns-reset-force_mode_set-flag-in-atomic.patch
  projects/NXP/devices/iMX8/patches/linux/0037-MLK-25199-1-drm-mhdp-Add-hdmi-phy-reset-poweroff-fun.patch
  projects/NXP/devices/iMX8/patches/linux/0038-MLK-25199-2-drm-mhdp-Fix-typo-for-hdmi-phy-configura.patch
  projects/NXP/devices/iMX8/patches/linux/0040-drm-imx-dcss-use-the-external-27MHz-phy-clock.patch
  projects/NXP/devices/iMX8/patches/linux/0041-drm-imx-dcss-add-component-framework-functionality.patch
  projects/NXP/devices/iMX8/patches/linux/0043-arm64-dts-imx8mq-add-DCSS-node.patch
  projects/NXP/devices/iMX8/patches/linux/0044-arm64-dts-imx8mq-add-DCSS-external-oscillator-suppor.patch
  projects/NXP/devices/iMX8/patches/linux/0045-arm64-dts-fsl-imx8mq-add-HDP-bridge-node.patch
  projects/NXP/devices/iMX8/patches/linux/0046-arm64-dts-fsl-imx8mq-evk-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0047-arm64-dts-fsl-imx8mq-pico-pi-enable-DCSS-and-HDMI.patch
  projects/NXP/devices/iMX8/patches/linux/0048-drm-imx-mhdp-don-t-depend-on-DRM_IMX.patch
  projects/NXP/devices/iMX8/patches/linux/0049-drm-cadence-shutup-cec-logging.patch
  projects/NXP/devices/iMX8/patches/linux/0050-drm-display-drm-hdmi-helper-h.patch
  projects/NXP/devices/iMX8/patches/linux/0060-mhdp-dp-hdmi-add-missing-include-patch-for-6-3.patch
  scripts/uboot_helper
Labels: HARDWARE, PATCH, KERNEL, NXP, LE 13.0

#9353 kodi: update to githash eb29391
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/wayland/kodi-995.01-fix-missing-wayland-scanner-pkg-config.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9356 Drop xz:host
  packages/lang/Python3/package.mk
  packages/linux/package.mk
  packages/virtual/toolchain/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#9355 pyproject-hooks: update to 1.2.0
  packages/python/devel/pyproject-hooks/package.mk
Labels: UPDATE, MERGE BLOCKED, PACKAGE, LE 13.0

#9345 build: reduce use of toolchain:host
  packages/devel/flatbuffers/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/mediacenter/JsonSchemaBuilder/package.mk
  packages/sysutils/dosfstools/package.mk
  packages/sysutils/parted/package.mk
  packages/tools/mtools/package.mk
Labels: BUILDSYSTEM, LE 13.0

#9358 [LE12]Allwinner: u-boot: Fix H3 suspend/resume
  projects/Allwinner/patches/u-boot/0011-DO-NOT-MERGE-sunxi-Enable-remoteproc-on-H3.patch
  projects/Allwinner/patches/u-boot/0011-DO-NOT-MERGE-sunxi-Enable-remoteproc-on-some-H3-boar.patch
Labels: BUGFIX, BACKPORT DONE, ALLWINNER, LE 12.0

#9360 [le12] linux (RPi): update to 6.6.54
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9362 pvr.iptvsimple: update 22.1.2-Piers to 22.2.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9361 pvr.iptvsimple: update 21.8.7-Omega to 21.9.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9363 RPi5: reduce CMA memory
  projects/RPi/devices/RPi5/config/distroconfig-composite.txt
  projects/RPi/devices/RPi5/config/distroconfig.txt
  projects/RPi/devices/RPi5/filesystem/usr/lib/udev/rules.d/60-dma-heap.rules
  projects/RPi/patches/kodi/0100-DMAHeapBufferObject-Add-vidbuf_cached.patch
Labels: IMPROVEMENT, RPi, LE 13.0

#9357 Kodi wayland build fixes
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-999.20-headers-only.patch
Labels: BUGFIX, BUILDSYSTEM, LE 13.0

#9366 connman: update to 1.43
  packages/network/connman/package.mk
  packages/network/connman/patches/connman-07-connman_gateway_add-fix-calculation-of-is_vpn6.patch
Labels: UPDATE, PACKAGE, LE 12.0

#9367 linux: fix iSCSI support (lost in configs)
  packages/linux/package.mk
Labels: BUGFIX, KERNEL, LE 12.0

#9369 wireless-regdb: update to 2024.10.07
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9370 [le12] wireless-regdb: update to 2024.10.07
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9371 Package Updates
  packages/devel/mold/package.mk
  packages/wayland/wayland/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9372 pvr.iptvsimple: update 21.9.1-Omega to 21.9.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9373 pvr.iptvsimple: update 22.2.0-Piers to 22.2.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9376 pvr.iptvsimple: update 21.9.2-Omega to 21.9.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9377 pvr.iptvsimple: update 22.2.1-Piers to 22.2.2-Piers
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9378 Package updates
  packages/devel/cmake/package.mk
  packages/lang/Python3/package.mk
  packages/network/ethtool/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9380 kodi (Generic): remove temp patch that reverted xbmc/23921
  packages/mediacenter/kodi/package.mk
  projects/Generic/patches/kodi/000-temp-revert-fences.patch
Labels: UPDATE, PACKAGE, PATCH, LE 13.0

#9381 kodi: rebase temp revert fences patch for kodi ed8f18b
  projects/Allwinner/patches/kodi/000-temp-revert-fences.patch
  projects/Amlogic/patches/kodi/000-temp-revert-fences.patch
  projects/RPi/patches/kodi/000-temp-revert-fences.patch
  projects/Rockchip/patches/kodi/000-temp-revert-fences.patch
Labels: MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, PATCH, LE 13.0

#9383 xz: update to 5.6.3
  packages/compress/xz/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9382 Vulkan update to 1.3.297
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9386 Revert "iMX6: add kodi patch to disable video plane"
  projects/NXP/devices/iMX6/patches/kodi/0002-hack-disable-use-of-video-plane.patch
Labels: PATCH, NXP, LE 13.0

#9387 kodi (Exynos): drop video plane patch
  projects/Samsung/patches/kodi/kodi-0002-LOCAL-changes-for-Odroid-XU3-XU4.patch
Labels: PATCH, SAMSUNG, LE 13.0

#9388 inputstream.adaptive: update 21.5.4-Omega to 21.5.5-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9389 inputstream.adaptive: update 22.1.5-Piers to 22.1.6-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9396 samba: update to 4.21.1
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9397 linux (NXP iMX8): Update to V17 - Cadence MHDP8501(HDMI/DP) for i.MX8MQ
  projects/NXP/devices/iMX8/patches/linux/0001-Initial-support-Cadence-MHDP8501-HDMI-DP-for-i-MX8MQ.patch
  projects/NXP/devices/iMX8/patches/linux/0005-arm64-dts-fsl-imx8mq-phanbell.dts-enable-PCI.patch
  projects/NXP/devices/iMX8/patches/linux/0009-arm64-pci-add-ext_osc.patch
  projects/NXP/devices/iMX8/patches/linux/0011-imx8mq-phanbell.dts-Enable-Coral-specifics-e.g.-PCIE.patch
  projects/NXP/devices/iMX8/patches/linux/0013-PCI-imx-Use-the-external-clock-as-REF_CLK-when-neede.patch
  projects/NXP/devices/iMX8/patches/linux/0014-PCI-imx-Provide-a-clock-to-the-device-for-i.MX8MQ.patch
Labels: PATCH, KERNEL, NXP, LE 13.0

#9398 inputstream.adaptive: update 22.1.6-Piers to 22.1.7-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9402 pvr.waipu: update 22.1.0-Piers to 22.1.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9399 tools/docker/noble: update to gcc-14
  tools/docker/noble/Dockerfile
Labels: BUILDSYSTEM, TOOLCHAIN, LE 13.0

#9393 Package updates
  packages/devel/autoconf-archive/package.mk
  packages/python/devel/setuptools/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/wayland/wayland-protocols/package.mk
  packages/x11/lib/xtrans/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9392 Vulkan update to 1.3.298
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9281 scripts and tools: only use --passive-ftp for ftp: urls
  scripts/get_archive
  tools/distro-tool
Labels: CLEANUP, LE 12.0

#9401 pvr.waipu: update 21.8.6-Omega to 21.8.7-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9406 kodi: update to githash 410c628
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9365 build: update lto related PKG_BUILD_FLAGS
  config/functions
  config/optimize
  packages/readme.md
Labels: BUILDSYSTEM, CLEANUP, LE 13.0

#9404 update to llvm-19.1.2 and rust-1.82.0
  packages/graphics/spirv-llvm-translator/package.mk
  packages/lang/llvm/package.mk
  packages/lang/llvm/patches/llvm-14.0.0-force-disable-cmakelist-options.patch
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 13.0

#9408 kernel-firmware: update to 20241017
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9344 build: use system rsync
  packages/linux/package.mk
  scripts/checkdeps
  tools/docker/bookworm/Dockerfile
  tools/docker/focal/Dockerfile
  tools/docker/jammy/Dockerfile
  tools/docker/noble/Dockerfile
Labels: BUILDSYSTEM, LE 13.0

#9347 buildsystem: replace wget with curl
  scripts/checkdeps
  scripts/get_archive
  tools/distro-tool
  tools/docker/bookworm/Dockerfile
  tools/docker/focal/Dockerfile
  tools/docker/jammy/Dockerfile
  tools/docker/noble/Dockerfile
Labels: BUILDSYSTEM, LE 13.0

#9410 build/curl: error when 400 series status code received on download
  scripts/get_archive
  tools/distro-tool
Labels: BUILDSYSTEM, LE 13.0

#9413 linux config: Generic: add dwmac-intel ethernet driver
  projects/Generic/linux/linux.x86_64.conf
Labels: BUGFIX, BACKPORT REQD, KERNEL, LE 13.0

#9411 linux (RPi): update to 6.6.57
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, RPi, LE 13.0

#9409 vulkan: update to 1.3.299
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9412 [le12] linux (RPi): update to 6.6.57
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9415 xtrans: fixes builds with 1.5.1
  packages/x11/lib/xtrans/patches/0001-Revert-is_numeric-Add-TRANS_SERVER-to-required-ifdef.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 13.0

#9419 pvr.mediaportal.tvserver: update 21.0.3-Omega to 21.0.4-Omega
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9420 pvr.mediaportal.tvserver: update 22.1.0-Piers to 22.1.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9421 Package updates
  packages/devel/elfutils/package.mk
  packages/devel/elfutils/patches/elfutils-002-libdw--Don-t-use-INTUSE-in-libdwP-h-str_offsets_base_off.patch
  packages/network/nfs-utils/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/x11/driver/xf86-input-evdev/package.mk
  packages/x11/driver/xf86-input-libinput/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9423 Revert "elfutils: update to 0.192"
  packages/devel/elfutils/package.mk
  packages/devel/elfutils/patches/elfutils-002-libdw--Don-t-use-INTUSE-in-libdwP-h-str_offsets_base_off.patch
Labels: UPDATE, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 13.0

#9426 Package updates
  packages/databases/sqlite/package.mk
  packages/multimedia/dav1d/package.mk
  packages/python/devel/meson/package.mk
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9424 iwd: update to 3.0
  packages/network/iwd/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9425 [le12] iwd: update to 3.0
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9427 rust: fix aarch64 build against llvm-19.1
  packages/rust/rust/targets/aarch64-libreelec-linux-gnu.json
Labels: BUGFIX, PACKAGE, LE 13.0

#9428 linux: CONFIG_IPV6_MULTIPLE_TABLES tidy up not set CONFIG
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9430 Package updates
  packages/audio/pipewire/package.mk
  packages/python/devel/Mako/package.mk
  packages/security/openssl/package.mk
  packages/sysutils/usbutils/package.mk
  packages/sysutils/usbutils/patches/usbutils-0001-allow-run-with-busybox.patch
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9431 linux config: Generic: add dwmac-intel ethernet driver
  projects/Generic/linux/linux.x86_64.conf
Labels: BUGFIX, KERNEL, LE 12.0

#9433 LibreELEC-settings: update to 6ff1cf2
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: IMPROVEMENT, LE 12.0

#9435 Amlogic: align NETFILTER configuration with Generic project
  projects/Amlogic/linux/linux.aarch64.conf
Labels: KERNEL, AMLOGIC, LE 13.0

#9429 elfutils: update to 0.192 and v4l-utils: switching to shared libs
  packages/devel/elfutils/package.mk
  packages/devel/elfutils/patches/elfutils-002-libdw--Don-t-use-INTUSE-in-libdwP-h-str_offsets_base_off.patch
  packages/devel/elfutils/patches/elfutils-002-libelf--Add-libeu-objects-to-libelf.a-static-archive.patch
  packages/sysutils/v4l-utils/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9439 Package updates
  packages/devel/swig/package.mk
  packages/security/nspr/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9438 [le12] Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/docker/moby/patches/moby-001-user-addon-storage-location.patch
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/patches/ffmpeg-03-lavc-libx265--unbreak-build-for-X265-BUILD---210.patch
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/package.mk
  packages/addons/addon-depends/network-tools-depends/tcpdump/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/patches/screen-0001.patch
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9442 Vulkan update to 1.3.300
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9441 u-boot: allow u-boot to build with swig-4.3.0
  packages/tools/u-boot/patches/0001-libfdt-Fix-build-with-swig-4-3.0.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 13.0

#9440 media-driver: update to 24.4.1
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9444 nvidia updates to 550.127.05
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9443 New addons: "ntfs-3g for udevil" and "ntfs-tools"
  packages/addons/addon-depends/ntfs-3g_ntfsprogs/package.mk
  packages/addons/service/ntfs3g/changelog.txt
  packages/addons/service/ntfs3g/icon/icon.png
  packages/addons/service/ntfs3g/package.mk
  packages/addons/service/ntfs3g/source/bin/mount.ntfs3g
  packages/addons/service/ntfs3g/source/default.py
  packages/addons/service/ntfs3g/source/system.d/service.ntfs3g.service
  packages/addons/tools/ntfs-progs/changelog.txt
  packages/addons/tools/ntfs-progs/icon/icon.png
  packages/addons/tools/ntfs-progs/package.mk
  packages/addons/tools/ntfs-progs/source/default.py
Labels: ADDONS, BACKPORT REQD, LE 13.0

#9445 Wayland package updates
  packages/wayland/compositor/sway/package.mk
  packages/wayland/compositor/sway/patches/sway-100.01-static-ipc-socket.patch
  packages/wayland/compositor/sway/patches/sway-100.02-allow-running-as-root.patch
  packages/wayland/compositor/sway/patches/sway-100.03-do-not-use-git-version.patch
  packages/wayland/lib/fcft/package.mk
  packages/wayland/lib/seatd/package.mk
  packages/wayland/lib/wlroots/package.mk
  packages/wayland/util/foot/package.mk
  packages/wayland/weston/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9403 linux: update to 6.11.4
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9436 kodi: update to githash 68effd5
  packages/mediacenter/kodi/package.mk
  projects/Allwinner/patches/kodi/000-temp-revert-fences.patch
  projects/Amlogic/patches/kodi/000-temp-revert-fences.patch
  projects/RPi/patches/kodi/000-temp-revert-fences.patch
  projects/Rockchip/patches/kodi/000-temp-revert-fences.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9437 docker: update to 27.3.1 and addon (2)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9385 u-boot 2024.10
  packages/tools/u-boot/package.mk
  projects/Allwinner/devices/H2-plus/patches/u-boot/0001-DO-NOT-MERGE-sunxi-psci-Delegate-PSCI-to-SCPI.patch
  projects/Allwinner/devices/H3/patches/u-boot/0012-DO-NOT-MERGE-sunxi-psci-Delegate-PSCI-to-SCPI.patch
  projects/NXP/devices/iMX6/bootloader/config
  projects/NXP/devices/iMX8/bootloader/config
  projects/Qualcomm/devices/Dragonboard/bootloader/config
  projects/Samsung/bootloader/config
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, SAMSUNG, LE 13.0

#9260 change_addon_version: add binary-addons
  tools/change_addon_version
Labels: ADDONS, LE 13.0

#9447 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.biogenesis/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pingpong/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9451 pvr.mythtv: update to githash 67196eb
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9394 linux: wifi: rtw88: Add support for RTL8821AU and RTL8812AU
  distributions/LibreELEC/options
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux/package.mk
  packages/linux/patches/rtlwifi/6.10/0008-6.10-wifi-rtw88-Shared-module-for-rtw8723x-devices.patch
  packages/linux/patches/rtlwifi/6.10/0009-6.10-wifi-rtw88-Debug-output-for-rtw8723x-EFUSE.patch
  packages/linux/patches/rtlwifi/6.10/0010-6.10-wifi-rtw88-Add-definitions-for-8703b-chip.patch
  packages/linux/patches/rtlwifi/6.10/0011-6.10-wifi-rtw88-Add-rtw8703b.c.patch
  packages/linux/patches/rtlwifi/6.11/0013-6.11-wifi-rtw88-usb-Further-limit-the-TX-aggregation.patch
  packages/linux/patches/rtlwifi/6.11/0014-6.11-wifi-rtw88-usb-Simplify-rtw_usb_write_data.patch
  packages/linux/patches/rtlwifi/6.12/0001-6.12-wifi-rtw88-usb-Support-USB-3-with-RTL8822CU-RTL8822B.patch
  packages/linux/patches/rtlwifi/6.12/0003-6.12-wifi-rtw88-8822c-Parse-channel-from-IE-to-correct-in.patch
  packages/linux/patches/rtlwifi/6.12/0004-6.12-wifi-rtw88-usb-Init-RX-burst-length-according-to-USB.patch
  packages/linux/patches/rtlwifi/6.12/0005-6.12-wifi-rtw88-usb-Update-the-RX-stats-after-every-frame.patch
  packages/linux/patches/rtlwifi/6.12/0006-6.12-wifi-rtw88-usb-Support-RX-aggregation.patch
  packages/linux/patches/rtlwifi/6.12/0007-6.12-wifi-rtw88-Enable-USB-RX-aggregation-for-8822c-8822b.patch
  packages/linux/patches/rtlwifi/6.9/0008-wifi-rtw88-8821c-tweak-CCK-TX-filter-setting-for-SRRC.patch
  packages/linux/patches/rtlwifi/6.9/0009-wifi-rtw88-8822ce-refine-power-parameters-for-RFE-type-5.patch
  packages/linux/patches/rtlwifi/6.9/0010-wifi-rtw88-debug-add-to-check-if-debug-mask-is-enabled.patch
  packages/linux/patches/rtlwifi/6.9/0011-wifi-rtw88-dump-firmware-debug-information-in-abnormal-state.patch
  packages/linux/patches/rtlwifi/after-6.12/0001-wifi-rtw88-Constify-some-arrays-and-structs.patch
  packages/linux/patches/rtlwifi/after-6.12/0002-wifi-rtw88-Parse-the-RX-descriptor-with-a-single-fun.patch
  packages/linux/patches/rtlwifi/after-6.12/0003-wifi-rtw88-Add-support-for-RTL8821AU-and-RTL8812AU.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: IMPROVEMENT, HARDWARE, PATCH, KERNEL, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, RPi, SAMSUNG, GENERIC, LE 13.0, DRIVER

#9452 gstreamer: update to 1.24.9
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9454 Package updates
  packages/devel/libbpf/package.mk
  packages/devel/libbpf/patches/libbpf-fix-crosscompile-and-sysroot.patch
  packages/lang/llvm/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/network/libnl/package.mk
  packages/sysutils/dbus/package.mk
  packages/wayland/lib/seatd/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9453 mesa: update to 24.2.6
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0
