Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-08, with the labels that each got.

#9147 kodi: update to githash f6265c8
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9146 kodi-binary-addons: pvr: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9148 Package updates
  packages/audio/pipewire/package.mk
  packages/devel/cmake/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/x11/lib/libXfont2/package.mk
  packages/x11/lib/libXtst/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9149 inputstream.adaptive: update 22.1.0-Piers to 22.1.1-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/multimedia/bento4/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9150 inputstream.adaptive: update 21.5.0-Omega to 21.5.1-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/multimedia/bento4/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9152 gcc: update to 14.2.0
  packages/lang/gcc/package.mk
  packages/lang/gcc/patches/gcc-0001-Revert-Arm-Block-predication-on-atomics-PR111235.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9153 inputstream.adaptive: backport upstream fix for build error
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/001-backport-build-fix.patch
Labels: BUGFIX, ADDONS, LE 13.0

#9154 [le12] inputstream.adaptive: backport upstream fix for build error
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/001-backport-build-fix.patch
Labels: BUGFIX, ADDONS, LE 12.0

#9157 nvidia - update to 550.107.02
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9162 kodi: update to githash f02afef
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9161 Package updates
  packages/devel/binutils/package.mk
  packages/devel/binutils/patches/binutils-01-warn-for-uses-of-system-directories-when-link.patch
  packages/devel/commons-lang3/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/mold/package.mk
  packages/graphics/libheif/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
  packages/sysutils/exfatprogs/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9151 samba: update to 4.20.4
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-200-4.11-fix-ASN1-bso14164.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9155 Vulkan update to 1.3.292
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9144 mesa: update to 24.1.5
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9165 pixman: Adjust arm assembly for binutils-2.43
  packages/x11/lib/pixman/patches/pixman-0001-adjust-arm-assembly-for-binutils-change.patch
Labels: BUGFIX, PATCH, LE 13.0

#9164 fakeroot: Fix GCC14 build
  packages/devel/fakeroot/patches/gcc14-build.patch
Labels: BUGFIX, PACKAGE, LE 13.0

#9166 ffmpeg: arm: allow 32-bit arm compile with binutils 2.43
  packages/multimedia/ffmpeg/patches/libreelec/ffmpeg-002-libavcodec-arm-mlpdsp_armv5te-fix-label-format-to-wo.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 13.0

#9167 inputstream.adaptive: update 21.5.1-Omega to 21.5.2-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9168 inputstream.adaptive: update 22.1.1-Piers to 22.1.2-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9115 Jinja2: update to 3.1.4
  packages/python/devel/Jinja2/package.mk
  packages/python/devel/Jinja2/patches/0001-revert-setuptools-removal.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9121 linux: update to 6.10.x
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
Labels: BUGFIX, UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9156 media-driver: update to 24.3.1
  packages/multimedia/media-driver/package.mk
  packages/multimedia/media-driver/patches/media-driver-999.01-PR1162-use-forward_references-as-the-reference-for-ADI.patch
  packages/multimedia/media-driver/patches/media-driver-999.02-Refactor-for-build-issue.patch
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9169 Revert "inputstream.adaptive: backport upstream fix for build error"
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/001-backport-build-fix.patch
Labels: ADDONS, PACKAGE, PATCH, LE 13.0

#9160 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9171 kodi: Fix python installation dir
  packages/mediacenter/kodi/patches/kodi-995.20-python-lib-dir.patch
Labels: BUGFIX, BUILDSYSTEM, PACKAGE, PATCH, LE 13.0

#9145 pvr.zattoo: update 21.0.2-Omega to 21.0.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9170 Revert "inputstream.adaptive: backport upstream fix for build error"
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/patches/001-backport-build-fix.patch
Labels: BUGFIX, ADDONS, PACKAGE, PATCH, LE 12.0

#9123 [le12] Addon updates
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/patches/libmtp-0001-dont-execute-compiled-tools.patch
  packages/addons/addon-depends/system-tools-depends/fdupes/package.mk
  packages/addons/addon-depends/system-tools-depends/mtpfs/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9173 pvr.nextpvr: update 21.1.1-Omega to 21.2.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9174 LibreELEC-settings: bump to include timezone/backup changes
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: FEATURE, UPDATE, PACKAGE, LE 13.0

#9176 Package updates
  packages/devel/commons-lang3/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/ethtool/package.mk
  packages/print/freetype/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9177 [le12] commons-lang3: fix PKG_URL
  packages/devel/commons-lang3/package.mk
Labels: BACKPORT DONE, PACKAGE, LE 12.0

#9172 kodi: update to 57b1b2a
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, LE 12.0

#9183 Package updates
  packages/compress/7-zip/package.mk
  packages/databases/sqlite/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/sysutils/kmod/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9184 Package updates
  packages/linux-firmware/intel-ucode/package.mk
  packages/security/gnutls/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9185 inputstream.ffmpegdirect: update 22.0.0-Piers to 22.0.1-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9103 mesa: update to 24.2.0
  packages/graphics/mesa/package.mk
  packages/python/devel/pyyaml/package.mk
  projects/RPi/patches/mesa/0001-gallium-Add-kmsro-drivers-for-RP1-DSI-DPI-and-VEC-de.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9178 [le12] curl: fix webdav issue
  packages/web/curl/patches/curl-0001-fix-webdav-issue.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 12.0

#9186 proftpd: update addon (1), convert HTML special entities
  packages/addons/service/proftpd/changelog.txt
  packages/addons/service/proftpd/package.mk
  packages/addons/service/proftpd/source/bin/proftpd.start
Labels: ADDONS, BACKPORT DONE, PACKAGE, LE 13.0

#9187 [le12] proftpd: update addon (1), convert HTML special entities
  packages/addons/service/proftpd/changelog.txt
  packages/addons/service/proftpd/package.mk
  packages/addons/service/proftpd/source/bin/proftpd.start
Labels: ADDONS, PACKAGE, LE 12.0

#9189 [le12] heimdal: fix configuration with gcc 14
  packages/devel/heimdal/package.mk
Labels: BUILDSYSTEM, BACKPORT DONE, PACKAGE, LE 12.0

#9191 [le12] samba: update to 4.19.8
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9193 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.freebox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.octonet/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.sledovanitv.cz/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.teleboy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9188 [le12] linux: update to 6.6.46
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0069-clk-sunxi-ng-h6-Reparent-CPUX-during-PLL-CPUX-rate-c.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#9197 kodi: update to 21.1-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9196 [le12] update_binary-addons: add -x option to skip no tag updates
  tools/mkpkg/update_binary-addons
Labels: IMPROVEMENT, LE 12.0

#9195 update_binary-addons: add -x option to skip no tag updates
  tools/mkpkg/update_binary-addons
Labels: IMPROVEMENT, BACKPORT DONE, LE 13.0

#9194 systemd: add ZTERCR21 BT remote device to 70-local-keyboard.hwdb
  packages/sysutils/systemd/hwdb.d/70-local-keyboard.hwdb
Labels: IMPROVEMENT, HARDWARE, LE 13.0

#9198 linux (RPi): update to 6.6.45
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-010-pr6309-fix-no-signal-after-modeswitch.patch
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, BACKPORT DONE, KERNEL, LE 13.0

#9199 [le12] linux (RPi): update to 6.6.45
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-010-pr6309-fix-no-signal-after-modeswitch.patch
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, KERNEL, LE 12.0

#9200 gcc: 14.2 upstream fix for building libaom on arm64
  packages/lang/gcc/patches/gcc-14.2.0-fix-building-libaom-on-arm64.patch
Labels: BUGFIX, PATCH, LE 13.0

#9201 kodi: update to cdfc755
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9202 ffmpegx: arm: allow 32-bit arm compile with binutils 2.43
  packages/addons/addon-depends/ffmpegx/patches/ffmpeg-002-libavcodec-arm-mlpdsp_armv5te-fix-label-format-to-wo.patch
Labels: BUGFIX, ADDONS, PATCH, LE 13.0

#9203 pvr.zattoo: update 21.0.3-Omega to 21.0.4-Omega
  packages/mediacenter/kodi-binary-addons/pvr.zattoo/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9207 [LE13] pkg-config: remove gettext dependency
  packages/devel/pkg-config/package.mk
Labels: BUILDSYSTEM, PACKAGE, CLEANUP, LE 13.0

#9205 pvr.mythtv: update to githash 34e52b0
  packages/mediacenter/kodi-binary-addons/pvr.mythtv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9208 Package updates
  packages/devel/binutils/package.mk
  packages/tools/dtc/package.mk
  packages/tools/dtc/patches/dtc-0001-libfdt-soname-version.patch
  packages/wayland/libinput/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9209 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9210 xorg-intel-gpu-tools: update dependencies
  packages/debug/xorg-intel-gpu-tools/package.mk
Labels: PACKAGE, LE 13.0

#9211 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9212 [le12] Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet6-runtime/package.mk
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9213 gstreamer: update to 1.24.7
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9214 dtc: include library file as well as symbolic links in makeinstall
  packages/tools/dtc/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#9206 [LE13] Python: Remove usage of distutilscross
  config/functions
  packages/addons/addon-depends/rpi-tools-depends/lg-gpio/package.mk
  packages/addons/addon-depends/system-tools-depends/i2c-tools/package.mk
  packages/addons/addon-depends/system-tools-depends/i2c-tools/patches/0001-py-smbus-Use-setuptools-instead-of-distutils.patch
  packages/addons/addon-depends/system-tools-depends/i2c-tools/patches/pyinstalldir.patch
  packages/lang/Python3/package.mk
  packages/python/devel/distutilscross/package.mk
  packages/python/devel/distutilscross/patches/distutilscross-0000-fix-python3.patch
  packages/python/graphics/Pillow/package.mk
  packages/python/graphics/Pillow/patches/Pillow-0001-crosscompiling.patch
  packages/python/security/pycryptodome/package.mk
  packages/python/system/simplejson/package.mk
Labels: IMPROVEMENT, ADDONS, BUILDSYSTEM, PACKAGE, CLEANUP, LE 13.0

#9217 [le12] pvr.plutotv: update 21.3.1-Omega to 21.3.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9219 [LE13] Rework ninja build
  packages/devel/googletest/package.mk
  packages/python/devel/ninja/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#9222 LibreELEC-settings: use importlib instead of imp Python module
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9216 glib: update to 2.81.2
  packages/devel/glib/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9227 i2c-tools: add back binaries installation
  packages/addons/addon-depends/system-tools-depends/i2c-tools/package.mk
Labels: BUGFIX, ADDONS, LE 13.0

#9220 peripheral.xarcade: update 21.0.0-Omega to 21.0.1-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9221 peripheral.xarcade: update 21.0.0-Omega to 22.0.0-Piers
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9225 Vulkan update to 1.3.293
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9226 [LE13] Revamp python build process to be PEP 517 compatible
  packages/addons/addon-depends/rpi-tools-depends/lg-gpio/package.mk
  packages/addons/addon-depends/system-tools-depends/i2c-tools/package.mk
  packages/python/devel/Jinja2/package.mk
  packages/python/devel/Jinja2/patches/0001-revert-setuptools-removal.patch
  packages/python/devel/Mako/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/python/devel/flit/package.mk
  packages/python/devel/meson/package.mk
  packages/python/devel/pybuild/package.mk
  packages/python/devel/pycparser/package.mk
  packages/python/devel/pyelftools/package.mk
  packages/python/devel/pyinstaller/package.mk
  packages/python/devel/pyinstaller/patches/0001-Add-overwrite-existing-option-that-overwrites-existi.patch
  packages/python/devel/pypackaging/package.mk
  packages/python/devel/pyproject-hooks/package.mk
  packages/python/devel/pyyaml/package.mk
  packages/python/devel/setuptools/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/python/graphics/Pillow/patches/Pillow-0002-Revert-Move-build-config-from-setup.cfg-to-pyproject.patch
  packages/python/graphics/glad/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/python/system/dbussy/package.mk
  packages/python/system/simplejson/package.mk
  scripts/build
Labels: IMPROVEMENT, BUILDSYSTEM, TOOLCHAIN, LE 13.0

#9230 pvr.iptvsimple: update 21.8.5-Omega to 21.8.6-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9229 pvr.iptvsimple: update 22.1.0-Piers to 22.1.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9231 brcmfmac_sdio-firmware-rpi: update to 4c1789e
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9233 update_binary-addons: fix error at exit
  tools/mkpkg/update_binary-addons
Labels: ADDONS, BACKPORT REQD, LE 13.0

#9234 inputstream.adaptive: update 21.5.2-Omega to 21.5.3-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9236 Vulkan update to 1.3.294
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9238 nss: cleanup without fips build
  packages/security/nss/package.mk
  packages/security/nss/patches/0001-Revert-Bug-1827303-Softoken-C_-calls-should-use-syst.patch
  packages/security/nss/patches/nss-09-gcc-warning-workaround.patch
  packages/security/nss/patches/nss-11-allow-build-without-fips.patch
Labels: PACKAGE, CLEANUP, LE 13.0

#9239 pvr.hts: update 22.2.0-Piers to 22.3.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9237 Package updates
  packages/audio/pipewire/package.mk
  packages/databases/mariadb-connector-c/package.mk
  packages/databases/mariadb-connector-c/patches/pr247-fix-calloc-errors-as-warnings-when-compiling-with-gcc.patch
  packages/wayland/wayland/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9240 Addon updates
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/audio/fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9241 [le12] addon updates
  packages/addons/addon-depends/system-tools-depends/bottom/package.mk
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/audio/fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9247 inputstream.adaptive: update 21.5.3-Omega to 21.5.4-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9248 inputstream.adaptive: update 22.1.3-Piers to 22.1.4-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9246 mesa: update to 24.2.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9253 [le12] mesa (RPi): add support for new 2712D0 stepping
  projects/RPi/patches/mesa/0002-backport-2712D0-support.patch
Labels: BUGFIX, PATCH, RPi, LE 12.0
