Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-06, with the labels that each got.

#8938 [le12] inputstream.adaptive: update 21.4.8-Omega to 21.4.9-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8937 inputstream.adaptive: update 21.4.8-Omega to 21.4.9-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8946 package updates
  packages/compress/7-zip/package.mk
  packages/compress/xz/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/multimedia/media-driver/package.mk
  packages/multimedia/media-driver/patches/media-driver-100-fix-gcc14-compilation-issue.patch
  packages/sysutils/libevdev/package.mk
  packages/wayland/wayland/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8945 ccache: update to 4.10
  packages/devel/ccache/package.mk
  packages/devel/libfmt/package.mk
  packages/devel/xxHash/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8926 mesa: update to 24.1.0
  licenses/LLVM.txt
  packages/devel/libclc/package.mk
  packages/graphics/libdrm/package.mk
  packages/graphics/mesa/package.mk
  packages/graphics/spirv-headers/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/graphics/spirv-tools/package.mk
  packages/graphics/vulkan/glslang/package.mk
  packages/lang/llvm/package.mk
  packages/python/devel/pycparser/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8947 cacert.pem: update to 2024-05-30
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, BACKPORT DONE, LE 13.0

#8948 [le12] cacert.pem: update to 2024-05-30
  packages/security/openssl/cert/cacert.pem
Labels: UPDATE, LE 12.0

#8949 package updates
  packages/audio/wireplumber/package.mk
  packages/devel/hwdata/package.mk
  packages/graphics/libdrm/package.mk
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8950 libmicrohttpd: swap to shared library
  packages/web/libmicrohttpd/package.mk
Labels: BUILDSYSTEM, PACKAGE, LE 13.0

#8951 Cleanup unused xz references
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/sysutils/squashfs-tools/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#8953 xxHash: fix toolchain target directory
  packages/devel/xxHash/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#8955 [le12] pvr.waipu: update 21.6.6-Omega to 21.7.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8957 pvr.waipu: update 21.7.0-Omega to 21.8.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8958 [le12] pvr.waipu: update 21.7.0-Omega to 21.8.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8959 Package updates
  packages/databases/mariadb-connector-c/package.mk
  packages/databases/mariadb-connector-c/patches/pr247-fix-calloc-errors-as-warnings-when-compiling-with-gcc.patch
  packages/devel/cmake/package.mk
  packages/devel/libbpf/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8961 iwd: update to 2.18
  packages/network/iwd/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8962 [le12] iwd: update to 2.18
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8963 [le12] openssl: update to 3.2.2
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8966 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/mariadb/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#8967 [le12] addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/service/docker/changelog.txt
  packages/addons/service/docker/package.mk
  packages/addons/service/mariadb/changelog.txt
  packages/addons/service/mariadb/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8965 mesa: update to 24.1.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8968 [le12] mesa: update to 24.0.9
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8970 mariadb-connector-c: set DEFAULT_SSL_VERIFY_SERVER_CERT to off
  packages/databases/mariadb-connector-c/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#8971 docker: server: fix version display
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: BUGFIX, BACKPORT DONE, PACKAGE, LE 13.0

#8969 vulkan: update to 1.3.287
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8972 [le12] docker: server: fix version display
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: BUGFIX, PACKAGE, LE 12.0

#8974 xf86-video-nvidia: update to 550.90.07
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: UPDATE, PACKAGE, LE 13.0

#8977 samba: update to 4.19.7
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8978 kernel-firmware: update to 20240610
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8973 tree: add tree binary to system-tools
  packages/addons/addon-depends/system-tools-depends/tree/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, FEATURE, PACKAGE, LE 12.0

#8975 linux: backport anysee usb patch from Linux 6.10
  packages/linux/patches/linux-999.99-backport-media-anysee-accept-read-buffers-of-length-1.patch
Labels: BUGFIX, PATCH, KERNEL, LE 12.0

#8979 alsa update to 1.2.12
  packages/addons/addon-depends/snapcast-depends/alsa-plugins/package.mk
  packages/audio/alsa-lib/package.mk
  packages/audio/alsa-lib/patches/alsa-0001-topology--correct-version-script-path.patch
  packages/audio/alsa-ucm-conf/package.mk
  packages/audio/alsa-utils/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8976 Migrate to upstream 6.11 RTL8192DU
  distributions/LibreELEC/options
  packages/linux-drivers/RTL8192DU/package.mk
  packages/linux-drivers/RTL8192DU/patches/RTL8192DU-0001-remove_overlapping_pids.patch
  packages/linux-drivers/RTL8192DU/patches/aarch64/RTL8192DU-0101-PR63.patch
  packages/linux/package.mk
  packages/linux/patches/rtlwifi/6.10/0001-6.10-wifi-rtlwifi-rtl8192de-Fix-5-GHz-TX-pow.patch
  packages/linux/patches/rtlwifi/6.10/0002-6.10-wifi-rtlwifi-rtl8192de-Fix-low-speed-wi.patch
  packages/linux/patches/rtlwifi/6.10/0003-6.10-wifi-rtlwifi-rtl8192de-Fix-endianness-i.patch
  packages/linux/patches/rtlwifi/6.10/0004-6.10-wifi-rtlwifi-Move-code-from-rtl8192de-t.patch
  packages/linux/patches/rtlwifi/6.10/0005-6.10-wifi-rtlwifi-Clean-up-rtl8192d-common-a.patch
  packages/linux/patches/rtlwifi/6.10/0006-6.10-wifi-rtlwifi-Adjust-rtl8192d-common-for.patch
  packages/linux/patches/rtlwifi/6.10/0007-6.10-wifi-rtlwifi-Ignore-IEEE80211_CONF_CHAN.patch
  packages/linux/patches/rtlwifi/6.11/0001-6.11-wifi-rtlwifi-rtl8192d-Use-rtl92d-prefix.patch
  packages/linux/patches/rtlwifi/6.11/0002-6.11-wifi-rtlwifi-Add-rtl8192du-table.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0003-6.11-wifi-rtlwifi-Add-new-members-to-struct-.patch
  packages/linux/patches/rtlwifi/6.11/0004-6.11-wifi-rtlwifi-Add-rtl8192du-hw.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0005-6.11-wifi-rtlwifi-Add-rtl8192du-phy.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0006-6.11-wifi-rtlwifi-Add-rtl8192du-trx.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0007-6.11-wifi-rtlwifi-Add-rtl8192du-rf.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0008-6.11-wifi-rtlwifi-Add-rtl8192du-fw.-c-h-and-.patch
  packages/linux/patches/rtlwifi/6.11/0009-6.11-wifi-rtlwifi-Add-rtl8192du-dm.-c-h.patch
  packages/linux/patches/rtlwifi/6.11/0010-6.11-wifi-rtlwifi-Constify-rtl_hal_cfg.-ops-.patch
  packages/linux/patches/rtlwifi/6.11/0011-6.11-wifi-rtlwifi-Add-rtl8192du-sw.c.patch
  packages/linux/patches/rtlwifi/6.11/0012-6.11-wifi-rtlwifi-Enable-the-new-rtl8192du-d.patch
  packages/linux/patches/rtlwifi/6.9/0001-wifi-rtlwifi-cleanup-few-rtlxxxx_set_hw_reg-routines.patch
  packages/linux/patches/rtlwifi/6.9/0002-wifi-rtlwifi-remove-unreachable-code-in-rtl92d_dm_ch.patch
  packages/linux/patches/rtlwifi/6.9/0003-wifi-rtlwifi-simplify-TX-command-fill-callbacks.patch
  packages/linux/patches/rtlwifi/6.9/0004-wifi-rtlwifi-drop-unused-const_amdpci_aspm.patch
  packages/linux/patches/rtlwifi/6.9/0005-wifi-rtlwifi-rtl8192de-Don-t-read-register-in-_rtl92.patch
  packages/linux/patches/rtlwifi/6.9/0006-wifi-rtlwifi-Remove-rtl_intf_ops.read_efuse_byte.patch
  packages/linux/patches/rtlwifi/6.9/0007-wifi-rtlwifi-rtl_usb-Store-the-endpoint-addresses.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/options
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: PATCH, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, RPi, SAMSUNG, GENERIC, LE 13.0, DRIVER

#8984 linux (RPi): update to 6.6.33
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, RPi, LE 13.0

#8986 [le12] kodi: update to latest Omega version
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8988 iwlwifi-firmware: update to githash 1303bad
  packages/linux-firmware/iwlwifi-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8989 rust: update to 1.79.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8991 vulkan: update to 1.3.288
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8990 eventlircd: bump to fix assert issue with systemd udev
  packages/sysutils/eventlircd/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 13.0

#8992 ffmpeg, ffmpegx: allow dash demuxer by enabling libxml2
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/ffmpeg/package.mk
Labels: BUGFIX, BACKPORT DONE, LE 13.0

#8993 ffmpeg, ffmpegx: allow dash demuxer by enabling libxml2
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/multimedia/ffmpeg/package.mk
Labels: BUGFIX, LE 12.0

#8994 heimdal: fix CFLAGS override after ebff2c7ca0
  packages/devel/heimdal/package.mk
Labels: BUGFIX, LE 13.0

#8995 libcdio: add patch to remove lfs shms
  packages/audio/libcdio/package.mk
  packages/audio/libcdio/patches/0002-remove-lfs-shms.patch
Labels: PACKAGE, PATCH, LE 13.0

#8997 [le13] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, LE 13.0

#8987 Linux: update to 6.9.5 and RPi 6.6.34
  packages/linux/package.mk
  packages/linux/patches/rtlwifi/6.10/0001-6.10-wifi-rtlwifi-rtl8192de-Fix-5-GHz-TX-pow.patch
  packages/linux/patches/rtlwifi/6.10/0002-6.10-wifi-rtlwifi-rtl8192de-Fix-low-speed-wi.patch
  packages/linux/patches/rtlwifi/6.10/0003-6.10-wifi-rtlwifi-rtl8192de-Fix-endianness-i.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, RPi, SAMSUNG, GENERIC, LE 13.0

#9000 Package updates
  packages/multimedia/dav1d/package.mk
  packages/multimedia/media-driver/package.mk
  packages/multimedia/media-driver/patches/media-driver-100-fix-gcc14-compilation-issue.patch
  packages/security/nettle/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9001 inputstream.ffmpegdirect: update zvbi to 0.2.42 and addon (3)
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/multimedia/zvbi/package.mk
  packages/multimedia/zvbi/patches/zvbi-0010-fix-static-linking.patch
  packages/multimedia/zvbi/patches/zvbi-0050-prevent-test.patch
  packages/multimedia/zvbi/patches/zvbi-0060-configure-ac--Move-sincos-function-check-to-AC_CHECK_FUNCS.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9004 shared-mime-info: Fix build with libxml2-2.12.0
  packages/devel/shared-mime-info/patches/shared-mime-info-219-fix-build-with-libxml2-2-12-0.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 13.0

#8999 autoconf: update to 2.72
  packages/devel/autoconf/package.mk
  packages/devel/heimdal/patches/1229.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9006 libdnet: update to 1.18.0
  packages/network/libdnet/package.mk
Labels: UPDATE, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, GENERIC, LE 13.0

#9007 mesa: update to 24.1.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9008 Package updates
  packages/devel/cmake/package.mk
  packages/network/samba/package.mk
  packages/sysutils/exfatprogs/package.mk
  packages/sysutils/systemd/package.mk
  packages/textproc/libxml2/package.mk
  packages/textproc/libxslt/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8852 [LE12] linux: raspberrypi: add reorder channel allocation patch
  packages/linux/patches/raspberrypi/linux-999.99-reorder-channel-allocation.patch
Labels: BUGFIX, PATCH, RPi, LE 12.0

#9011 linux: rpi: add ntfs3 corruption fix patch
  packages/linux/patches/raspberrypi/linux-999.99-fix-ntfs3-corruption.patch
Labels: BUGFIX, KERNEL, RPi, LE 13.0

#8845 [le12] busybox: use mke2fs instead of resize2fs
  packages/sysutils/busybox/scripts/fs-resize
Labels: BUGFIX, LE 12.0

#9012 linux: rpi: add ntfs3 corruption fix patch
  packages/linux/patches/raspberrypi/linux-999.99-fix-ntfs3-corruption.patch
Labels: BUGFIX, KERNEL, RPi, LE 12.0

#8846 [le12] cec: Allow cec driver to handle multiple instances
  packages/devel/libcec/patches/0001-WIP-support-multiple-dev-cecX-devices.patch
Labels: IMPROVEMENT, PATCH, LE 12.0

#9013 gstreamer: update to 1.24.5
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9014 Package updates
  packages/compress/7-zip/package.mk
  packages/debug/libva-utils/package.mk
  packages/devel/libdisplay-info/package.mk
  packages/multimedia/libva/package.mk
  packages/network/openvpn/package.mk
  packages/security/libgcrypt/package.mk
  packages/security/libgcrypt/patches/libgcrypt-01-dont_replace_parts_of_path-0.1.patch
  packages/security/libgpg-error/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9016 [le12] kodi: update to 01bd800
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9018 linux (Generic): enable all Intel pinctrl drivers
  projects/Generic/linux/linux.x86_64.conf
Labels: BUGFIX, KERNEL, GENERIC, LE 13.0

#9019 [le12] pvr.stalker: update 21.0.1-Omega to 21.1.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9021 inputstream.adaptive: update to 21.4.10-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, LE 13.0

#9022 [le12] inputstream.adaptive: update to 21.4.10-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#9024 linux (RPi): update to 6.6.35
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999.99-fix-ntfs3-corruption.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, RPi, LE 13.0

#9025 [le12] linux (RPi): update to 6.6.35
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-999.99-fix-ntfs3-corruption.patch
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9026 [le12] pvr.stalker: update 21.0.1-Omega to 21.1.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9027 pvr.waipu: update 21.8.1-Omega to 21.8.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9028 [le12] pvr.waipu: update 21.8.1-Omega to 21.8.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9029 u-boot: update Amlogic patches to fix Odroid N2 boot
  projects/Amlogic/patches/u-boot/u-boot-0001-LOCAL-configs-meson64-prevent-stdout-stderr-on-video.patch
  projects/Amlogic/patches/u-boot/u-boot-0002-LOCAL-board-amlogic-odroid-n2-remove-amlogic-prefix-.patch
Labels: BUGFIX, BACKPORT DONE, PATCH, AMLOGIC, LE 13.0

#9031 Package updates
  packages/lang/llvm/package.mk
  packages/lang/lua54/package.mk
  packages/tools/amlogic-boot-fip/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9033 pipewire: update to 1.2.0
  packages/audio/pipewire/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9034 pvr.stalker: add missing libxml2 build dependancy
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, LE 13.0

#9035 pvr.stalker: add missing libxml2 build dependancy
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: ADDONS, PACKAGE, LE 12.0

#9036 pvr.waipu: update 21.8.3-Omega to 21.8.4-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9037 [le12] pvr.waipu: update 21.8.3-Omega to 21.8.4-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9038 libretro-bk: update to githash ea37046
  packages/emulation/libretro-bk/package.mk
  packages/emulation/libretro-bk/patches/libretro-bk-0001-recast-assignment.patch
Labels: ADDONS, PACKAGE, PATCH, LE 13.0

#9042 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/cli/patches/cli-0001-path-for-cli-plugins.patch
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/bin/jellyfin-downloader
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9043 [le12] Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/cli/patches/cli-0001-path-for-cli-plugins.patch
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/bin/jellyfin-downloader
  packages/addons/tools/btrfs-progs/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9041 Package updates
  packages/audio/wireplumber/package.mk
  packages/devel/mold/package.mk
  packages/lang/lua54/package.mk
  packages/wayland/lib/wlroots/package.mk
  packages/x11/font/encodings/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9044 linux: backport anysee usb patch from Linux 6.10
  packages/linux/patches/default/linux-999.90-media-anysee-accept-read-buffers-of-length-1-in-anys.patch
  packages/linux/patches/raspberrypi/linux-999.90-media-anysee-accept-read-buffers-of-length-1-in-anys.patch
Labels: BUGFIX, BACKPORT DONE, PATCH, KERNEL, LE 13.0
