Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-03, with the labels that each got.

#8673 Generic: add support for rtw89 wireless devices
  packages/linux-firmware/kernel-firmware/firmwares/any.dat
  projects/Generic/linux/linux.x86_64.conf
Labels: KERNEL, GENERIC, LE 12.0

#8674 linux (RPi): update to 6.6.18
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8675 Package updates
  packages/textproc/expat/package.mk
  packages/x11/lib/pixman/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8676 kodi: update to githash 36c6d14
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8684 inputstream.ffmpegdirect: update 21.3.3-Omega to 21.3.4-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8686 kodi: update to githash 7075efe
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8685 brcmfmac_sdio-firmware: update to githash d4382f9
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
Labels: UPDATE, HARDWARE, PACKAGE, LE 12.0

#8683 Vulkan: update to 1.3.279
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8680 Package updates
  packages/audio/wavpack/package.mk
  packages/devel/groovy/package.mk
  packages/devel/mold/package.mk
  packages/multimedia/media-driver/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8678 opus: dependency of libsndfile in main build
  packages/audio/opus/package.mk
Labels: BUILDSYSTEM, CLEANUP, LE 12.0

#8677 linux: update to 6.6.19
  packages/linux/package.mk
  projects/Generic/linux/linux.x86_64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8687 Revert "groovy: update to 4.0.19"
  packages/devel/groovy/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 12.0

#8688 pvr.hts: update 21.2.0-Omega to 21.2.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8689 pvr.hts: update 20.7.1-Nexus to 20.7.2-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8659 libretro-scummvm: fix build after repository change
  packages/emulation/libretro-scummvm/package.mk
  packages/emulation/libretro-scummvm/patches/0001-libretro-Fix-missing-library-version.patch
  packages/emulation/libretro-scummvm/patches/0002-libretro-Move-scummvm.ini-to-writable-save-directory.patch
  packages/mediacenter/kodi-binary-addons/game.libretro.scummvm/package.mk
Labels: ADDONS, LE 12.0

#8682 Apple libplist updates and depends
  packages/addons/addon-depends/libimobiledevice-glue/package.mk
  packages/addons/addon-depends/libimobiledevice/package.mk
  packages/addons/addon-depends/libusbmuxd/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/service/usbmuxd/package.mk
  packages/addons/service/usbmuxd/patches/usbmuxd-0001-remove-duplicate-functions.patch
  packages/devel/libplist/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8690 kodi: update to 20.5-Nexus
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, LE 11.0

#8691 package updates
  packages/addons/addon-depends/chrome-depends/libXcursor/package.mk
  packages/audio/libopenmpt/package.mk
  packages/debug/gdb/package.mk
  packages/x11/lib/libfontenc/package.mk
  packages/x11/lib/libxcb/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8694 iwd: update to 2.16
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8697 gstreamer: update to 1.24.0
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8698 pvr.iptvsimple: update 21.8.0-Omega to 21.8.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8700 kodi: update to githash 495a07a
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8701 kodi: update to 21.0rc1-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8702 pvr.iptvsimple: update 21.8.1-Omega to 21.8.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8706 LibreELEC-settings: update to githash 3d37732
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8708 linux (RPi): update to 6.6.20
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, LE 12.0

#8692 Addon updates
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/librepfunc/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/squeezelite/package.mk
  packages/addons/addon-depends/network-tools-depends/ncftp/package.mk
  packages/addons/addon-depends/network-tools-depends/ncftp/patches/ncftpd-gcc10-build-fix.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8704 linux: update to 6.6.21
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8710 docker: update to 25.0.4 and addon (6)
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8711 Wayland package updates
  packages/wayland/util/bemenu/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8712 Vulkan update to 1.3.280 and glslang update to 14.1.0
  packages/graphics/vulkan/glslang/package.mk
  packages/graphics/vulkan/spirv-headers/package.mk
  packages/graphics/vulkan/spirv-tools/package.mk
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8713 bluez: update to 5.73
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-12-fix-obexd-after-5_50.patch
  packages/network/bluez/patches/bluez-12-fix-obexd-after-5_73.patch
  packages/network/bluez/patches/bluez-22-Revert-build-Fix-distcheck.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8714 xz: update to 5.6.1
  packages/compress/xz/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8715 distro: bump ADDON_VERSION to 11.80.6
  distributions/LibreELEC/version
  packages/addons/browser/chrome/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/filebrowser/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/service/proftpd/changelog.txt
  packages/addons/service/proftpd/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/tinc/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/usbmuxd/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/rpi-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, LE 12.0

#8720 bluez: drop no longer needed RPi patch
  packages/network/bluez/patches/bluez-06-raspberry-pi-mods.patch
Labels: PATCH, CLEANUP, LE 12.0

#8718 package updates
  packages/network/openssh/package.mk
  packages/wayland/lib/wlroots/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8717 tools/docker: update debian Dockerfiles
  tools/docker/README.md
  tools/docker/bookworm/Dockerfile
  tools/docker/buster/Dockerfile
  tools/docker/sid/Dockerfile
Labels: BUILDSYSTEM, CLEANUP, LE 12.0

#8719 Addon updates
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/system-tools-depends/libgpiod/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/pcscd/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8695 [LE11] linux: default kernel update 6.1.80
  packages/linux/package.mk
Labels: UPDATE, KERNEL, LE 11.0

#8696 [LE11] linux (RPi): kernel update 6.1.77-14c373b
  packages/linux/package.mk
Labels: UPDATE, KERNEL, LE 11.0

#8721 RPi4: enable 4kp60 output by default
  projects/RPi/devices/RPi4/config/config.txt
Labels: IMPROVEMENT, LE 12.0

#8722 linux (RPi): update to 6.6.21
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8728 RTL8812AU: update to githash f23979f
  packages/linux-drivers/RTL8812AU/package.mk
  packages/linux-drivers/RTL8812AU/patches/RTL8812AU-PR1134.patch
Labels: UPDATE, PACKAGE, LE 12.0

#8729 Nvidia drop incorrectly added devid from 96-nvidia.rules
  packages/x11/driver/xf86-video-nvidia/scripts/make_nvidia_udev.py
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: BUGFIX, GENERIC, LE 12.0

#8732 ttyd: fix read only mode, improvements, update addon (1)
  packages/addons/service/ttyd/package.mk
  packages/addons/service/ttyd/source/bin/ttyd.start
  packages/addons/service/ttyd/source/resources/language/resource.language.en_gb/strings.po
  packages/addons/service/ttyd/source/resources/settings.xml
  packages/addons/service/ttyd/source/system.d/service.ttyd.service
Labels: BUGFIX, IMPROVEMENT, ADDONS, CLEANUP, LE 12.0

#8723 mesa: update to 24.0.3
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8724 Extras - Package updates
  packages/audio/pipewire/package.mk
  packages/devel/mold/package.mk
  packages/wayland/util/bemenu/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8730 Linux 6.6.22
  packages/linux-firmware/intel-ucode/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Generic/linux/linux.x86_64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8733 kodi: update to 21.0rc2-Omega
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.07-disable-minimize.patch
  packages/mediacenter/kodi/patches/kodi-100.10-handle-SIGTERM.patch
  packages/mediacenter/kodi/patches/kodi-100.32.add-le-repository-to-officials.patch
  packages/mediacenter/kodi/patches/kodi-100.41-keymaps-change-remote-poweroff-action-to-show-shutdo.patch
  packages/mediacenter/kodi/patches/kodi-999.20-headers-only.patch
Labels: UPDATE, LE 12.0

#8725 Package Updates
  packages/audio/libopenmpt/package.mk
  packages/databases/sqlite/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/multimedia/dav1d/package.mk
  packages/textproc/expat/package.mk
  packages/textproc/libxml2/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8734 kernel-firmware: update to 20240312
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8735 ttyd: add missing zlib target depend
  packages/addons/service/ttyd/package.mk
Labels: ADDONS, PACKAGE, LE 12.0

#8737 linux (RPi): update to 6.6.22
  packages/linux/package.mk
Labels: UPDATE, KERNEL, LE 12.0

#8681 Podman addon
  licenses/gpgme.txt
  packages/addons/addon-depends/podman/conmon/package.mk
  packages/addons/addon-depends/podman/gpgme/package.mk
  packages/addons/addon-depends/podman/libassuan/package.mk
  packages/addons/addon-depends/podman/netavark/package.mk
  packages/addons/addon-depends/podman/netavark/patches/netavark-0001-no-docs.patch
  packages/addons/addon-depends/podman/podman-bin/makepatch.sh
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/addon-depends/podman/podman-bin/patches/podman-0001-path-changes.patch
  packages/addons/addon-depends/podman/podman-bin/patches/podman-0002-path-changes.patch
  packages/addons/service/podman/changelog.txt
  packages/addons/service/podman/icon/icon.png
  packages/addons/service/podman/package.mk
Labels: ADDONS, FEATURE, PACKAGE, LE 12.0

#8738 nvidia: update X11 and Wayland to 550.67
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8739 linux (RPi): update to 6.6.22-4a3a03d
  packages/linux/package.mk
Labels: UPDATE, KERNEL, LE 12.0

#8740 Package updates
  packages/debug/strace/package.mk
  packages/network/openvpn/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8741 Intel Media-driver
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 12.0

#8742 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/mariadb/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8743 cleanup: yajl
  packages/devel/yajl/package.mk
Labels: ADDONS, LE 12.0

#8744 ftgl: remove package
  packages/graphics/ftgl/package.mk
  packages/graphics/ftgl/patches/ftgl-01-cmake.patch
  packages/graphics/ftgl/patches/ftgl-01-ftgl-disable-docs.patch
Labels: CLEANUP, LE 12.0

#8745 RPi: update to firmware 45319db
  packages/tools/bcm2835-bootloader/package.mk
Labels: UPDATE, RPi, LE 12.0

#8754 RTL8812AU: update to githash 4f645ee
  packages/linux-drivers/RTL8812AU/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8756 mariadb: workaround fix for arm32 compiles of 10.11.7
  packages/addons/service/mariadb/patches/1063738-revert-c432c9ef.patch
Labels: BUGFIX, ADDONS, PATCH, LE 12.0

#8763 RTL8192DU: update to githash b65f878
  packages/linux-drivers/RTL8192DU/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8752 pvr.plutotv: update 21.0.1-Omega to 21.1.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8761 kodi (Generic): add temp patch to revert xbmc/23921 commit
  projects/Generic/patches/kodi/000-temp-revert-fences.patch
Labels: BUGFIX, PACKAGE, PATCH, GENERIC, LE 12.0

#8753 pvr.plutotv: update 20.3.1a-Nexus to 20.3.2-Nexus
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 11.0

#8748 gstreamer: update to 1.24.1
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8764 Revert "RTL8192DU: add a patch for build on Linux 6.8.y"
  packages/linux-drivers/RTL8192DU/patches/RTL8192DU-0002-fixes-for-linux-6.8.patch
Labels: PATCH, LE 12.0

#8767 bento4: update to 1.6.0-641-Omega
  packages/multimedia/bento4/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8768 mesa: update to 24.0.4
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8766 open-vm-tools: update to 12.4.0
  packages/sysutils/open-vm-tools/package.mk
Labels: UPDATE, PACKAGE

#8771 linux (RPi): update to 6.6.23
  packages/linux/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, LE 12.0

#8770 Linux 6.6.23
  packages/linux/package.mk
  projects/Allwinner/patches/linux/0060-media-cedrus-h265-Fix-configuring-bitstream-size.patch
  projects/Allwinner/patches/linux/0073-wip-media-sunxi-sun8i-di-fix-race-condition.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#8773 xz: revert to 5.4.6
  packages/compress/xz/package.mk
Labels: BUGFIX, PACKAGE, LE 12.0

#8776 libarchive: add upstream patch around error handling
  packages/compress/libarchive/patches/libarchive-upstreamed-more-robust-error-PR2101.patch
Labels: BUGFIX, PATCH, LE 12.0

#8774 iwd: update to 2.17
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#8777 inputstream.adaptive: update 21.4.3-Omega to 21.4.4-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8778 linux (Dragonboard): drop EXT2_FS to match other targets
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
Labels: KERNEL, CLEANUP, LE 12.0

#8780 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0
