Repository LibreELEC/LibreELEC.tv, pull requests merged in 2024-09, with the labels that each got.

#9254 Revert "cec: Allow cec driver to handle multiple instances"
  packages/devel/libcec/patches/0001-WIP-support-multiple-dev-cecX-devices.patch
Labels: BUGFIX, BACKPORT DONE, LE 13.0

#9249 cacert.pem: update to 2024-08-27
  packages/security/openssl/cert/cacert.pem
Labels: BACKPORT DONE, PACKAGE, LE 13.0

#9242 Package updates
  packages/devel/cmake/package.mk
  packages/devel/commons-lang3/package.mk
  packages/devel/glib/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/json-glib/package.mk
  packages/graphics/assimp/package.mk
  packages/graphics/libdrm/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/media-driver/package.mk
  packages/network/libssh/package.mk
  packages/network/nfs-utils/package.mk
  packages/python/devel/setuptools/package.mk
  packages/sysutils/libevdev/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9218 [LE13]Python: update to 3.12
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/0001-Make-the-build-of-pyc-files-conditional.patch
  packages/lang/Python3/patches/0002-Disable-buggy_getaddrinfo-configure-test-when-cross-.patch
  packages/lang/Python3/patches/0003-Add-an-option-to-disable-pydoc.patch
  packages/lang/Python3/patches/0003-Add-infrastructure-to-disable-the-build-of-certain-e.patch
  packages/lang/Python3/patches/0004-Add-an-option-to-disable-lib2to3.patch
  packages/lang/Python3/patches/0004-Adjust-library-header-paths-for-cross-compilation.patch
  packages/lang/Python3/patches/0005-Add-an-option-to-disable-IDLE.patch
  packages/lang/Python3/patches/0005-Don-t-look-in-usr-lib-termcap-for-libraries.patch
  packages/lang/Python3/patches/0006-Don-t-add-multiarch-paths.patch
  packages/lang/Python3/patches/0006-configure.ac-move-PY_STDLIB_MOD_SET_NA-further-up.patch
  packages/lang/Python3/patches/0007-Abort-on-failed-module-build.patch
  packages/lang/Python3/patches/0007-Add-option-to-disable-the-sqlite3-module.patch
  packages/lang/Python3/patches/0008-Add-an-option-to-disable-the-tk-module.patch
  packages/lang/Python3/patches/0008-Serial-ioctl-workaround.patch
  packages/lang/Python3/patches/0009-Add-an-option-to-disable-the-curses-module.patch
  packages/lang/Python3/patches/0009-Do-not-adjust-the-shebang-of-Python-scripts-for-cros.patch
  packages/lang/Python3/patches/0010-Add-an-option-to-disable-expat.patch
  packages/lang/Python3/patches/0010-Misc-python-config.sh.in-ensure-sed-invocations-only.patch
  packages/lang/Python3/patches/0011-Add-an-option-to-disable-pydoc.patch
  packages/lang/Python3/patches/0011-configure.ac-fixup-CC-print-multiarch-output-for-mus.patch
  packages/lang/Python3/patches/0012-gh-115382-Fix-cross-compiles-when-host-and-target-us.patch
  packages/lang/Python3/patches/0014-Add-an-option-to-disable-the-tk-module.patch
  packages/lang/Python3/patches/0017-Add-an-option-to-disable-CJK-codecs.patch
  packages/lang/Python3/patches/0018-Add-an-option-to-disable-NIS.patch
  packages/lang/Python3/patches/0019-Add-an-option-to-disable-unicodedata.patch
  packages/lang/Python3/patches/0021-Add-an-option-to-disable-decimal.patch
  packages/lang/Python3/patches/0022-Add-an-option-to-disable-the-ossaudiodev-module.patch
  packages/lang/Python3/patches/0023-Add-an-option-to-disable-openssl-support.patch
  packages/lang/Python3/patches/0024-Add-an-option-to-disable-the-readline-module.patch
  packages/lang/Python3/patches/0025-Add-options-to-disable-zlib-bzip2-and-xz-modules.patch
  packages/lang/Python3/patches/0026-python-config.sh-don-t-reassign-prefix.patch
  packages/lang/Python3/patches/0027-Add-an-option-to-disable-uuid-module.patch
  packages/lang/Python3/patches/0030-Add-an-option-to-disable-the-berkeleydb-module.patch
  packages/lang/Python3/patches/0031-lib-crypt-uClibc-ng-doesn-t-set-errno-when-encryptio.patch
  packages/lang/Python3/patches/Python3-0201-xcompile.patch
  packages/lang/Python3/patches/Python3-0202-xcompile.patch
  packages/lang/Python3/patches/Python3-0400-fix-bpo5537.patch
  packages/lang/Python3/patches/py312-cpython118618-1.patch
  packages/lang/Python3/patches/py312-cpython118618-2.patch
Labels: UPDATE, BUILDSYSTEM, PACKAGE, TOOLCHAIN, LE 13.0

#9223 qemu: update to 9.0.2
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9261 nfs-utils: add missing target dependency libxml2
  packages/network/nfs-utils/package.mk
Labels: PACKAGE, LE 13.0

#9267 linux (Generic): enable support for Intel ARC video
  projects/Generic/linux/linux.x86_64.conf
Labels: KERNEL, GENERIC, LE 13.0

#9268 mesa: update to 24.2.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9250 [le12] cacert.pem: update to 2024-08-27
  packages/security/openssl/cert/cacert.pem
Labels: PACKAGE, LE 12.0

#9252 [le12] iwd: update to 2.20
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9256 linux (Rockchip RK3328): pinctrl fix
  projects/Rockchip/patches/linux/default/linux-0003-pinctrl--rockchip--correct-RK3328-iomux-width-flag-for-GPIO2-B-pins.patch
Labels: BUGFIX, PATCH, KERNEL, ROCKCHIP, LE 12.0

#9262 openssl: update to 3.3.2
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9264 Vulkan update to 1.3.295
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9266 Package updates
  packages/debug/xorg-intel-gpu-tools/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/python/devel/setuptools/package.mk
  packages/textproc/expat/package.mk
  packages/tools/qemu/package.mk
  packages/web/nghttp2/package.mk
  packages/x11/lib/libXi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9255 [le12] Revert "cec: Allow cec driver to handle multiple instances"
  packages/devel/libcec/patches/0001-WIP-support-multiple-dev-cecX-devices.patch
Labels: BUGFIX, LE 12.0

#9245 kodi: add backport patch to enable LFE mixing possibility
  packages/mediacenter/kodi/patches/kodi-999.30-PR25679-backport-LFE-mixing.patch
Labels: FEATURE, PATCH, LE 12.0

#9232 [le12] brcmfmac_sdio-firmware-rpi: update to 4c1789e
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9271 Package updates
  packages/audio/wireplumber/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/libbpf/package.mk
  packages/multimedia/media-driver/package.mk
  packages/python/devel/pybuild/package.mk
  packages/python/graphics/glad/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
  packages/tools/nano/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9272 tz: update to 2024b
  packages/sysutils/tz/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9274 Addon updates
  packages/addons/addon-depends/libid3tag/package.mk
  packages/addons/addon-depends/snapcast-depends/alsa-plugins/package.mk
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9273 [le12] tz: update to 2024b
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9278 update_adafruit-libraries: drop now removed adafruit-libraries
  tools/mkpkg/update_adafruit-libraries
Labels: BACKPORT DONE, CLEANUP, LE 13.0

#9279 [le12] update_adafruit-libraries: drop now removed adafruit-libraries
  tools/mkpkg/update_adafruit-libraries
Labels: CLEANUP, LE 12.0

#9163 open-iscsi: fix build with gcc-14
  packages/sysutils/open-iscsi/patches/open-iscsi-08-rename-local-strings--ch--to-local_strings--ch-.patch
  packages/sysutils/open-iscsi/patches/open-iscsi-09-Fix-undefined-call-to-writev----include--sys-uio.h.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 13.0

#9270 pvr.nextpvr: update 22.1.0-Piers to 22.2.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9275 [le12] Addon updates
  packages/addons/addon-depends/libid3tag/package.mk
  packages/addons/addon-depends/snapcast-depends/alsa-plugins/package.mk
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9277 [le12] Fix flickering with graphic overlays for Rockchip/Allwinner
  projects/Allwinner/patches/kodi/000-temp-revert-fences.patch
  projects/Rockchip/patches/kodi/000-temp-revert-fences.patch
Labels: BUGFIX, PATCH, LE 13.0

#9282 linux (Generic): add mt7921e.ko and firmware for MT7922 wireless
  packages/linux-firmware/kernel-firmware/firmwares/x86_64.dat
  projects/Generic/linux/linux.x86_64.conf
Labels: FEATURE, BACKPORT REQD, KERNEL, GENERIC, LE 13.0

#9283 linux: fix iSCSI support (lost in configs)
  packages/linux/package.mk
Labels: BUGFIX, BACKPORT REQD, KERNEL, LE 13.0

#9284 iwd: update to 2.21
  packages/network/iwd/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9288 kodi: update to githash db813bf
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9286 kernel-firmware: update to 20240909
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9289 iwd: update to 2.22
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9290 Package updates
  packages/graphics/vulkan/volk/package.mk
  packages/linux-firmware/intel-ucode/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/bluez/package.mk
  packages/sysutils/systemd/package.mk
  packages/textproc/jsoncpp/package.mk
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9291 linux (RPi): update to 6.6.50
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-010-pr6309-fix-no-signal-after-modeswitch.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, BACKPORT DONE, KERNEL, RPi, LE 13.0

#9285 [le12] iwd: update to 2.22
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9292 [le12] linux (RPi): update to 6.6.50
  packages/linux/package.mk
  packages/linux/patches/raspberrypi/linux-010-pr6309-fix-no-signal-after-modeswitch.patch
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9295 pvr.hts: update 22.4.0-Piers to 22.4.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9297 podman: update to 5.2.2 and addon (1)
  packages/addons/addon-depends/podman/conmon/package.mk
  packages/addons/addon-depends/podman/libassuan/package.mk
  packages/addons/addon-depends/podman/netavark/package.mk
  packages/addons/addon-depends/podman/netavark/patches/netavark-0001-no-docs.patch
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/addon-depends/podman/podman-bin/patches/podman-0002-path-changes.patch
  packages/addons/service/podman/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9280 scripts and tools: only use --passive-ftp for ftp: urls
  scripts/get_archive
  tools/distro-tool
Labels: BACKPORT DONE, CLEANUP, LE 13.0

#9299 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/docker/moby/patches/moby-001-user-addon-storage-location.patch
  packages/addons/addon-depends/ffmpegx-depends/x264/package.mk
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
  packages/addons/addon-depends/ffmpegx/patches/ffmpeg-03-lavc-libx265--unbreak-build-for-X265-BUILD---210.patch
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/jre-depends/apache-ant/package.mk
  packages/addons/addon-depends/network-tools-depends/depends/libpcap/package.mk
  packages/addons/addon-depends/network-tools-depends/tcpdump/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/patches/screen-0001.patch
  packages/addons/addon-depends/system-tools-depends/screen/patches/screen-01_fix_gcc-14_build.patch
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9300 Package updates
  packages/compress/libarchive/package.mk
  packages/graphics/libpng/package.mk
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9302 pvr.iptvsimple: update 21.8.6-Omega to 21.8.7-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9303 linux (RPi): update to 6.6.51
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, BACKPORT DONE, KERNEL, RPi, LE 13.0

#9306 net-snmp: fix journald warnings and update addon (1)
  packages/addons/service/net-snmp/package.mk
  packages/addons/service/net-snmp/patches/net-snmp-0003-add-linux-6-7-compatibility-parsing-proc-net-snmp.patch
Labels: ADDONS, PACKAGE, PATCH, LE 13.0

#9307 pvr.iptvsimple: update 22.1.1-Piers to 22.1.2-Piers
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9304 [le12] linux (RPi): update to 6.6.51
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, KERNEL, RPi, LE 12.0

#9298 [le12] podman: update to 5.2.2 and addon (1)
  packages/addons/addon-depends/podman/conmon/package.mk
  packages/addons/addon-depends/podman/libassuan/package.mk
  packages/addons/addon-depends/podman/netavark/package.mk
  packages/addons/addon-depends/podman/netavark/patches/netavark-0001-no-docs.patch
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/addon-depends/podman/podman-bin/patches/podman-0002-path-changes.patch
  packages/addons/service/podman/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9308 Package updates
  packages/devel/json-c/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/python/devel/setuptools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9309 v4l-utils: do not build with Qt even if Qt is found
  packages/sysutils/v4l-utils/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#9311 mesa: update to 24.2.3
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9312 Package updates
  packages/audio/pipewire/package.mk
  packages/graphics/tiff/package.mk
  packages/textproc/libxml2/package.mk
  packages/web/curl/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9258 connman: update to 1.43
  packages/network/connman/package.mk
  packages/network/connman/patches/connman-07-connman_gateway_add-fix-calculation-of-is_vpn6.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9269 Fix flickering with graphic overlays for Rockchip/Allwinner
  projects/Allwinner/patches/kodi/000-temp-revert-fences.patch
  projects/Rockchip/patches/kodi/000-temp-revert-fences.patch
Labels: PATCH, ALLWINNER, ROCKCHIP, LE 13.0

#9315 Python3: cleanup configure options
  packages/lang/Python3/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#9317 vdr-addon: update to 2.7.1 and addon (1)
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-eepg/patches/vdr-plugin-eepg-PR2-fix-build-with-vdr-2-7-1.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-restfulapi/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/patches/vdr-plugin-xmltv2vdr-04-fixed-import-for-vdr-2-7-1.patch
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9318 [le12] vdr-addon: update to 2.7.1 and addon (2)
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-eepg/patches/vdr-plugin-eepg-PR2-fix-build-with-vdr-2-7-1.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-restfulapi/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-wirbelscan/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-xmltv2vdr/patches/vdr-plugin-xmltv2vdr-04-fixed-import-for-vdr-2-7-1.patch
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9314 Package updates
  packages/addons/addon-depends/libzip/package.mk
  packages/devel/glib/package.mk
  packages/devel/groovy/package.mk
  packages/graphics/libraw/package.mk
  packages/multimedia/media-driver/package.mk
  packages/network/openssh/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9313 gstreamer: update to 1.24.8
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9316 kernel config: Generic: support recent Intel devices
  projects/Generic/linux/linux.x86_64.conf
Labels: IMPROVEMENT, BACKPORT REQD, KERNEL, GENERIC, LE 13.0

#9322 Package updates
  packages/audio/libopenmpt/package.mk
  packages/devel/mold/package.mk
  packages/devel/pax-utils/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/python/devel/meson/package.mk
  packages/security/nss/package.mk
  packages/security/nss/patches/nss-11-allow-build-without-fips.patch
  packages/security/nss/patches/nss-12-fix-build-of-cmd-with-nssutil.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9331 Vulkan update to 1.3.296
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9328 package updates
  packages/audio/pipewire/package.mk
  packages/databases/mariadb-connector-c/package.mk
  packages/devel/cmake/package.mk
  packages/devel/fribidi/package.mk
  packages/devel/libtool/package.mk
  packages/devel/libtool/patches/libtool-01_dont_relink_against_host.patch
  packages/devel/libtool/patches/libtool-02-aclocal-m4.patch
  packages/graphics/spirv-headers/package.mk
  packages/graphics/spirv-tools/package.mk
  packages/graphics/vulkan/glslang/package.mk
  packages/security/nss/package.mk
  packages/sysutils/dbus/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9333 pvr.hts: update 22.4.1-Piers to 22.4.2-Piers
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9334 Package updates
  packages/debug/gdb/package.mk
  packages/python/graphics/glad/package.mk
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/config/busybox-target.conf
  packages/sysutils/busybox/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9140 linux: update to 6.11
  packages/debug/strace/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0002-clk-Implement-protected-clocks-for-all-OF-clock-prov.patch
  projects/Allwinner/patches/linux/0003-Revert-clk-qcom-Support-protected-clocks-property.patch
  projects/Allwinner/patches/linux/0017-net-phy-Add-support-for-AC200-EPHY.patch
  projects/Allwinner/patches/linux/0018-wip-H6-deinterlace.patch
  projects/Allwinner/patches/linux/0040-iommu-sun50i-Allow-page-sizes-multiple-of-4096.patch
  projects/Allwinner/patches/linux/0049-drm-sun4i-dw-hdmi-Switch-to-bridge-functions.patch
  projects/Allwinner/patches/linux/0061-media-Add-NV12-and-P010-AFBC-compressed-formats.patch
  projects/Allwinner/patches/linux/0064-drm-sun4i-de2-Initialize-layer-fields-earlier.patch
  projects/Allwinner/patches/linux/0065-drm-sun4i-de3-Implement-AFBC-support.patch
  projects/Allwinner/patches/linux/0071-HACK-SW-CEC-implementation-for-H3.patch
  projects/Allwinner/patches/linux/0073-media-verisilicon-g2-fix-chroma-offset-calculation.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-2001-v4l2-wip-iep-driver.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, SAMSUNG, GENERIC, LE 13.0
