Repository LibreELEC/LibreELEC.tv, pull requests merged in 2025-10, with the labels that each got.

#10542 [le12.2] openssl: update to 3.5.4
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.2

#10546 Package updates
  packages/debug/strace/package.mk
  packages/devel/cmake/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/python/devel/MarkupSafe/package.mk
  packages/sysutils/open-vm-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10548 Package updates
  packages/devel/ccache/package.mk
  packages/graphics/libdrm/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10549 kodi: update to githash 94baedc
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10557 [le12.2] linux (RPi): update to 6.12.51
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, RPi, LE 12.2

#10559 docker: fix typo in example
  packages/addons/service/docker/package.mk
  packages/addons/service/docker/source/examples/mysql.service
Labels: ADDONS, CLEANUP, LE 13.0

#10558 functions: Fix strip cmd for meson
  config/functions
Labels: BUGFIX, BUILDSYSTEM, TOOLCHAIN, LE 13.0

#10562 Package updates
  packages/audio/fluidsynth/package.mk
  packages/devel/gcem/package.mk
  packages/devel/gcem/patches/gcem-54-fix-cmake-minimum~required.patch
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/network/openssh/package.mk
  packages/network/openssh/patches/openssh-8.9p1-keydir.patch
  packages/network/openssh/patches/openssh-silence-missing-identity-error.patch
  packages/network/openssh/patches/openssh-source-etc-environment.patch
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-003-enable-bpf-without-clang.patch
Labels: UPDATE, PACKAGE, LE 13.0
