Repository LibreELEC/LibreELEC.tv, pull requests merged in 2025-05, with the labels that each got.

#10020 kodi: update to githash c55eee6
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10021 mesa: update to 25.0.5
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10022 enet: drop unused package
  packages/addons/addon-depends/enet/package.mk
Labels: ADDONS, PACKAGE, CLEANUP, LE 13.0

#10024 linux: disable CONFIG_PROVE_LOCKING for Exynos
  projects/Samsung/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, SAMSUNG, LE 13.0

#10025 linux: disable CONFIG_PROVE_LOCKING for Exynos
  projects/Samsung/linux/linux.arm.conf
Labels: BUGFIX, KERNEL, SAMSUNG, LE 12.0

#10026 v4l-utils: update to 1.30.1
  packages/debug/edid-decode/package.mk
  packages/sysutils/v4l-utils/package.mk
  packages/virtual/debug/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10028 Update vulkan-tools and vulkan-loader checksums
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: PACKAGE, LE 13.0

#10029 pvr.waipu: update 21.10.1-Omega to 21.10.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, PACKAGE, LE 12.0

#10030 pvr.waipu: update 22.3.5-Piers to 22.3.6-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10031 Package updates
  packages/addons/addon-depends/dvb-tools-depends/mumudvb/package.mk
  packages/addons/addon-depends/dvb-tools-depends/mumudvb/patches/mumudvb-330-fix-build-with-gettext.patch
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/package.mk
  packages/addons/addon-depends/system-tools-depends/depends/libmtp/patches/libmtp-0002-allow-build-with-gettext-0.24.1.patch
  packages/devel/gettext/package.mk
  packages/python/devel/setuptools/package.mk
  packages/wayland/libxkbcommon/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10032 inputstream.adaptive: update 21.5.12-Omega to 21.5.13-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10033 inputstream.adaptive: update 22.2.2-Piers to 22.2.3-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10034 pvr.waipu: update 22.3.6-Piers to 22.3.7-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10035 pvr.waipu: update 21.10.2-Omega to 21.10.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10036 [le11] inputstream.adaptive: update to githash dc604ff and addon (2)
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10037 Package updates
  packages/audio/fluidsynth/package.mk
  packages/devel/ccache/package.mk
  packages/devel/libfmt/package.mk
  packages/graphics/libde265/package.mk
  packages/graphics/libde265/patches/libde265-471-build-with-cmake-4.0.0.patch
  packages/graphics/vulkan/vkmark/package.mk
  packages/graphics/vulkan/vkmark/patches/vkmark-0001-fix-sysroot.patch
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/network/iwd/package.mk
  packages/python/devel/setuptools/package.mk
  packages/wayland/util/foot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10038 Addon updates
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/addons/addon-depends/dvb-tools-depends/mumudvb/package.mk
  packages/addons/addon-depends/dvb-tools-depends/mumudvb/patches/mumudvb-330-fix-build-with-gettext.patch
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mediainfo/package.mk
  packages/addons/addon-depends/network-tools-depends/ncftp/package.mk
  packages/addons/addon-depends/system-tools-depends/smartmontools/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/ttyd-depends/libuv/package.mk
  packages/addons/browser/chrome/package.mk
  packages/addons/service/filebrowser/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/tools/dvb-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10039 fluxbox: allow build with gettext-0.24.1
  packages/x11/other/fluxbox/patches/fluxbox-80-fix-gettext-build.patch
Labels: PACKAGE, PATCH, GENERIC, LE 13.0

#10041 Vulkan update to 1.4.314
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10042 Package updates
  packages/devel/cmake/package.mk
  packages/devel/mold/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10040 kodi: update to githash 264adc1
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9973 mesa: update to 25.1.0
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10043 mesa: panfrost requires libclc since 25.1.0
  packages/graphics/mesa/package.mk
  packages/lang/llvm/package.mk
Labels: PACKAGE, ALLWINNER, ROCKCHIP, AMLOGIC, SAMSUNG, LE 13.0

#10046 Package Updates
  packages/addons/addon-depends/go/package.mk
  packages/databases/sqlite/package.mk
  packages/devel/gettext/package.mk
  packages/devel/hwdata/package.mk
  packages/network/iwd/package.mk
  packages/network/libnl/package.mk
  packages/security/libgcrypt/package.mk
  packages/security/libgcrypt/patches/libgcrypt-01-dont_replace_parts_of_path-0.1.patch
  packages/wayland/libxkbcommon/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10047 Vulkan update to 1.4.315
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10048 Package updates
  packages/devel/spdlog/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/python/devel/setuptools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10052 Addon updates
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/addon-depends/network-tools-depends/nmap/patches/nmap-0001-allow-build-with-automake-1-17.patch
  packages/addons/service/rsyslog/package.mk
  packages/addons/tools/network-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10053 Package updates
  packages/devel/m4/package.mk
  packages/devel/mold/package.mk
  packages/linux-firmware/intel-ucode/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10057 inputstream.adaptive: update 21.5.13-Omega to 21.5.14-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10058 inputstream.adaptive: update 22.2.3-Piers to 22.2.4-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10059 tools/mkpkg/update_common_functions: replace wget with curl for fetching archives
  tools/mkpkg/update_common_functions
Labels: BACKPORT DONE, TOOLCHAIN, CLEANUP, LE 13.0

#10060 tools/mkpkg/update_common_functions: replace wget with curl for fetching archive
  tools/mkpkg/update_common_functions
Labels: TOOLCHAIN, CLEANUP, LE 12.0

#10061 linux (RPi): update to 6.12.28
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 13.0

#10062 rust: update to 1.87.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9847 llvm update to 20.1.y
  packages/graphics/spirv-llvm-translator/package.mk
  packages/lang/llvm/package.mk
Labels: UPDATE, PACKAGE, TOOLCHAIN, LE 13.0

#10063 open-vm-tools: fix PKG_URL
  packages/sysutils/open-vm-tools/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#9985 Patches required for LE to compile with gcc-15
  packages/databases/mariadb-connector-c/patches/mariadb-connector-c-0001-fix-build-with-gcc-15.patch
  packages/network/libtirpc/patches/libtirpc-0001-fix-build-with-gcc-15.patch
  packages/network/libtirpc/patches/libtirpc-0002-fix-build-with-gcc-15.patch
  packages/sysutils/parted/patches/parted-0001-fix-do_version-declaration.patch
  packages/tools/grub/patches/grub-0001-fix-build-with-gcc-15.patch
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-kernel-ccflags-y-fix-linux-6.14.patch
Labels: PACKAGE, PATCH, LE 13.0

#9981 Update to gcc-15.1
  packages/emulation/libretro-tyrquake/patches/libretro-tyrquake-135-Allow-compile-with--std-c23.patch
  packages/lang/gcc/package.mk
  packages/lang/gcc/patches/gcc-14.2.0-arm--fix-signedness-of-vld1q-intrinsic-parms.patch
  packages/lang/gcc/patches/gcc-14.2.0-fix-building-libaom-on-arm64.patch
Labels: UPDATE, PACKAGE, PATCH

#9972 linux: update to 6.14.y
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux/package.mk
  packages/linux/patches/default-before-6.14/linux-999-no-lzma-in-x86-perf-build.patch
  packages/x11/driver/xf86-video-nvidia/patches/nvidia-kernel-ccflags-y-fix-linux-6.14.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0049-drm-sun4i-dw-hdmi-Switch-to-bridge-functions.patch
  projects/Allwinner/patches/linux/0073-media-verisilicon-g2-fix-chroma-offset-calculation.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0013-PCI-imx-Use-the-external-clock-as-REF_CLK-when-neede.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-1000-drm-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1001-v4l2-rockchip.patch
  projects/Rockchip/patches/linux/default/linux-1002-for-libreelec.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC

#10004 build: define CMAKE_EXPORT_COMPILE_COMMANDS as an environment variable not a define
  scripts/build
Labels: BUILDSYSTEM, CLEANUP, LE 13.0

#10055 mesa: simplify host build logic
  packages/graphics/mesa/package.mk
  tools/docker/noble/Dockerfile
Labels: PACKAGE, LE 13.0

#10064 amlogic-boot-fip: update to githash 16d007f
  packages/tools/amlogic-boot-fip/package.mk
Labels: HARDWARE, AMLOGIC, LE 13.0

#10066 LibreELEC-settings: bump to fix unbranded variable names
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 13.0

#10070 unclutter: fix gcc-15 build
  packages/addons/addon-depends/chrome-depends/unclutter/patches/unclutter-0002-fix-gcc-15-1-build.patch
Labels: ADDONS, PATCH, GENERIC, LE 13.0

#10069 lg-gpio: fix gcc-15 build
  packages/addons/addon-depends/rpi-tools-depends/lg-gpio/patches/lg-gpio-36-define-and-use-type-safe-callbacks.patch
Labels: ADDONS, PATCH, RPi, LE 13.0

#10071 rust: fix aarch64 build against llvm-20.1
  packages/rust/rust/targets/aarch64-libreelec-linux-gnu.json
Labels: ADDONS, TOOLCHAIN, LE 13.0

#10074 LibreELEC-settings: update package
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10076 pvr.hts: update 22.6.2-Piers to 22.6.3-Piers
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10079 [le12] jellyfin: update to 10.10.7 and addon (6)
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/jellyfin/source/resources/language/resource.language.en_gb/strings.po
  packages/addons/service/jellyfin/source/resources/settings.xml
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10081 wireguard-tools: update to 1.0.20250521
  packages/network/wireguard-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10082 mesa: fix logic error in glvnd selection
  packages/graphics/mesa/package.mk
Labels: BUGFIX, GENERIC, LE 13.0

#10068 init: update md5 files on /flash
  packages/sysutils/busybox/scripts/init
Labels: IMPROVEMENT, LE 13.0

#10065 linux: update to 6.14.y
  packages/linux/package.mk
  packages/linux/patches/default-before-6.14/linux-999-no-lzma-in-x86-perf-build.patch
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#10083 Fix some gcc identified host compile issues
  packages/devel/flex/package.mk
  packages/devel/flex/patches/flex-0262-AC_USE_SYSTEM_EXTENSIONS-in-configure-ac.patch
  packages/devel/flex/patches/flex-0674-Match--malloc--signature-to-its-use.patch
  packages/devel/ncurses/package.mk
  packages/devel/pkg-config/patches/0002-Do-not-use-bool-as-a-field-name.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 13.0

#10085 libretro-scummvm: fix armv7 GCC 15.1 internal compiler error
  packages/emulation/libretro-scummvm/patches/0003-libretro-fix-armv7-GCC-15.1-internal-compiler-error.patch
Labels: BUGFIX, ADDONS, PACKAGE, PATCH, LE 13.0

#10086 Package updates
  packages/audio/pipewire/package.mk
  packages/databases/mariadb-connector-c/package.mk
  packages/debug/libunwind/package.mk
  packages/network/openssh/package.mk
  packages/python/devel/meson/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10090 atf: update to 2.13.0
  packages/tools/atf/package.mk
  projects/NXP/devices/iMX8/patches/atf/fix.patch
  projects/Rockchip/patches/atf/0001-rk3399-atf-fix-baud.patch
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, NXP, LE 13.0

#10091 flex: revert chnage to use TARGET_CC
  packages/devel/flex/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#10093 Package updates
  packages/debug/strace/package.mk
  packages/devel/mold/package.mk
  packages/python/devel/setuptools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10094 libretro-scummvm: fix findstring armv7 check
  packages/emulation/libretro-scummvm/patches/0003-libretro-fix-armv7-GCC-15.1-internal-compiler-error.patch
Labels: BUGFIX, ADDONS, PACKAGE, PATCH, LE 13.0

#10095 libretro-tyrquake: update to githash 5486f35
  packages/emulation/libretro-tyrquake/package.mk
  packages/emulation/libretro-tyrquake/patches/libretro-tyrquake-135-Allow-compile-with--std-c23.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10096 busybox: unbrand and simplify the sudo warning
  packages/sysutils/busybox/scripts/sudo
Labels: CLEANUP, LE 13.0

#10097 Rockchip: fix spelling of 'existent' in update script
  projects/Rockchip/bootloader/update.sh
Labels: ROCKCHIP, CLEANUP, LE 13.0

#10100 Nvidia update to 575.57.08
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0
