Repository LibreELEC/LibreELEC.tv, pull requests merged in 2025-01, with the labels that each got.

#9631 Package updates
  packages/devel/gettext/package.mk
  packages/devel/gettext/patches/gettext-0003-Fix-compilation-error-with-libxml2-2-12-0-and-gcc-14.patch
  packages/graphics/spirv-llvm-translator/package.mk
  packages/rust/bindgen-cli/package.mk
  packages/wayland/util/foot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9632 system-tools: update addon (3)
  packages/addons/addon-depends/system-tools-depends/depends/oniguruma/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9633 [le12] Drop fences-revert patch for Generic
  projects/Generic/patches/kodi/000-temp-revert-fences.patch
Labels: PATCH, GENERIC, LE 12.0

#9634 Package updates
  packages/python/graphics/Pillow/package.mk
  packages/sysutils/e2fsprogs/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9635 [le12] kodi: Fix python installation dir
  packages/mediacenter/kodi/patches/kodi-995.20-python-lib-dir.patch
Labels: BUGFIX, PATCH, LE 12.0

#9636 linux (RPi): update to 6.12.8
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9637 [le12] linux (RPi): update to 6.6.69-de92e4b
  packages/linux/package.mk
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9639 mesa: update to 24.3.3
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9640 Package updates
  packages/devel/hwdata/package.mk
  packages/wayland/lib/fcft/package.mk
  packages/wayland/util/foot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9591 [le12] rpi-tools: backport of PR9592 - add gpiod support
  packages/addons/addon-depends/rpi-tools-depends/gpiod/package.mk
  packages/addons/addon-depends/rpi-tools-depends/gpiod/patches/gpiod-2.2.2-setuptools.patch
  packages/addons/tools/rpi-tools/package.mk
Labels: ADDONS, FEATURE, UPDATE, PACKAGE, RPi, LE 12.0

#9646 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9644 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.xarcade/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9648 flirc_util: update to githash 280cccb and addon (1)
  packages/addons/tools/flirc_util/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9649 [le12] flirc_util: update to githash 280cccb and addon (1)
  packages/addons/tools/flirc_util/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9650 shairport-sync: update to 4.3.5 to fix building with ffmpeg 7.1
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9651 boost: fix download url
  packages/devel/boost/package.mk
Labels: PACKAGE, LE 13.0

#9652 Package updates
  packages/devel/mimalloc/package.mk
  packages/python/devel/setuptools/package.mk
  packages/tools/bcm2835-utils/package.mk
  packages/tools/bcm2835-utils/patches/bcm2835-utils-111.patch
  packages/wayland/libinput/package.mk
  packages/x11/driver/xf86-input-synaptics/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9653 gstreamer: update to 1.24.11
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9655 samba: update to 4.21.3
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9659 firmware-imx: update to 8.26-d4c33ab
  packages/linux-firmware/firmware-imx/package.mk
Labels: UPDATE, PACKAGE, NXP, LE 13.0

#9658 Package updates
  packages/audio/libopenmpt/package.mk
  packages/graphics/libpng/package.mk
  packages/graphics/vulkan/volk/package.mk
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9592 system-tools: add gpiod (official Python bindings for libgpiod)
  packages/addons/addon-depends/libgpiod/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, FEATURE, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9657 [le12] system-tools: add gpiod support (take over from rpi-tools)
  packages/addons/addon-depends/libgpiod/package.mk
  packages/addons/addon-depends/libgpiod/patches/libgpiod_setuptools-errors.patch
  packages/addons/addon-depends/rpi-tools-depends/gpiod/package.mk
  packages/addons/tools/rpi-tools/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, PACKAGE, LE 12.0

#9656 u-boot: update Allwinner patches for 2025.01
  projects/Allwinner/devices/H2-plus/patches/u-boot/0001-DO-NOT-MERGE-sunxi-psci-Delegate-PSCI-to-SCPI.patch
  projects/Allwinner/devices/H2-plus/patches/u-boot/0007-sunxi-psci-Add-support-for-H3-CPU-0-hotplug.patch
  projects/Allwinner/devices/H2-plus/patches/u-boot/0010-sunxi-Enable-support-for-SCP-firmware-on-H3.patch
  projects/Allwinner/devices/H3/patches/u-boot/0012-DO-NOT-MERGE-sunxi-psci-Delegate-PSCI-to-SCPI.patch
  projects/Allwinner/devices/H3/patches/u-boot/0013-DO-NOT-MERGE-sunxi-Enable-SCP-SCPI-on-A33-as-well.patch
Labels: PATCH, ALLWINNER, LE 13.0

#9665 systemd: add foxtel remote to 70-local-keyboard.hwdb
  packages/sysutils/systemd/hwdb.d/70-local-keyboard.hwdb
Labels: FEATURE, HARDWARE, LE 13.0

#9666 rust: update to 1.84.0
  packages/lang/llvm/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9667 Package updates
  packages/audio/libcdio/package.mk
  packages/audio/libcdio/patches/0001-Use-getmntent-setmntent-for-reading-mounts.patch
  packages/devel/mimalloc/package.mk
  packages/devel/mold/package.mk
  packages/graphics/pango/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
  packages/python/devel/setuptools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9670 linux (RPi): update to 6.12.9
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9669 kodi: update to current master HEAD
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-995.20-python-lib-dir.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9568 libnfs: update to 6.0.x and api v2
  packages/network/libnfs/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9587 eventlircd: fix subsystem rules for bluetooth HID remotes
  packages/sysutils/eventlircd/udev.d/98-eventlircd.rules
Labels: IMPROVEMENT, HARDWARE, LE 13.0

#9671 [le12] eventlircd: fix subsystem rules for bluetooth HID remotes (backport of PR9587)
  packages/sysutils/eventlircd/udev.d/98-eventlircd.rules
Labels: BUGFIX, FEATURE, LE 12.0

#9672 peripheral.joystick: update 22.0.1-Piers to 22.0.2-Piers
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9673 peripheral.joystick: update 21.1.20-Omega to 21.1.21-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9674 linux: update to 6.6.71
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.0

#9675 LibreELEC-settings: bump to a0c61d0
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9676 Package updates
  packages/addons/service/mpd/patches/mpd-2181-lib-fmt-drop-use-of-FMT_STRING.patch
  packages/audio/openal-soft/package.mk
  packages/devel/cmake/package.mk
  packages/devel/libfmt/package.mk
  packages/devel/spdlog/patches/3301.patch
  packages/graphics/harfbuzz/package.mk
  packages/textproc/pugixml/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9677 dtv-scan-tables: update to 2024-03-24-7098bdd27548
  packages/addons/addon-depends/dtv-scan-tables/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, LE 13.0

#9679 [le12] dtv-scan-tables: update to 2024-03-24-7098bdd27548
  packages/addons/addon-depends/dtv-scan-tables/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#9619 samba: Added Apple TimeMachine backup share feature
  packages/network/samba/package.mk
Labels: IMPROVEMENT, PACKAGE, LE 13.0

#9680 media-driver: update to 25.1.0
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9681 peripheral.joystick: update 21.1.21-Omega to 21.1.22-Omega
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9682 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/peripheral.joystick/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9683 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-streamdev/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-streamdev/patches/vdr-plugin-streamdev-03_i18n.patch
  packages/addons/service/docker/package.mk
  packages/addons/service/syncthing/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9684 linux: wifi: rtw88: update patches as they have now been accepted int…
  packages/linux/patches/rtlwifi/after-6.12/0036-wifi-rtl8xxxu-Fix-RTL8188EU-firmware-upload-block-si.patch
  packages/linux/patches/rtlwifi/after-6.12/0037-wifi-rtw88-Add-USB-PHY-configuration.patch
  packages/linux/patches/rtlwifi/after-6.12/0038-wifi-rtw88-Delete-rf_type-member-of-struct-rtw_sta_i.patch
  packages/linux/patches/rtlwifi/after-6.12/0039-wifi-rtw88-8703b-Fix-RX-TX-issues.patch
  packages/linux/patches/rtlwifi/after-6.12/0040-wifi-rtw88-sdio-Fix-disconnection-after-beacon-loss.patch
  packages/linux/patches/rtlwifi/after-6.12/0041-wifi-rtw88-Add-support-for-LED-blinking.patch
Labels: PATCH, KERNEL, LE 13.0

#9685 libnfs: socket: use void cast to allow compile for arm32
  packages/network/libnfs/patches/libnfs-514-socket-use-void-cast-to-allow-compile-for-arm32.patch
Labels: BUGFIX, PATCH, LE 13.0

#9688 package updates
  packages/databases/sqlite/package.mk
  packages/lang/llvm/package.mk
  packages/security/libxcrypt/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9687 rsync: update to 3.4.0
  packages/network/rsync/package.mk
  packages/network/rsync/patches/592.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9686 gstreamer: update to 1.25.1
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9689 vdr-plugin-live: fix checksum
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9691 kodi: update to 21.2-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9692 Package updates
  packages/network/openvpn/package.mk
  packages/network/rsync/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9693 kodi: update version to use v21.2-Omega
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 12.0

#9695 audiodecoder.2sf: update 20.2.1-Nexus to 22.0.1-Piers
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9696 tz: update to 2025a
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9694 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.asap/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gme/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.nosefart/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.organya/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sacd/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.stsound/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.vgmstream/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.raw/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asterwave/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.biogenesis/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pingpong/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.starburst/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9470 [le12] service.nextpvr backport of PR 9323
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
  packages/addons/service/nextpvr/changelog.txt
  packages/addons/service/nextpvr/package.mk
  packages/addons/service/nextpvr/source/addon.py
  packages/addons/service/nextpvr/source/bin/nextpvr-downloader
  packages/addons/service/nextpvr/source/sleep.d/nextpvr.power
Labels: ADDONS, LE 12.0

#9660 linux: update to 6.12.9
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#7229 buildsystem: use distribution defined addon install path
  scripts/install_addon
Labels: ADDONS, BUILDSYSTEM, LE 13.0

#9698 Fix addon (drop up related patches)
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/patches/77.patch
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/patches/PR63-fix-build-with-gcc-13.patch
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/patches/PR55-fix-build-with-gcc-13.patch
Labels: BUGFIX, ADDONS, MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, PATCH, LE 12.0

#9699 [le12] libmediainfo: fix build
  packages/addons/addon-depends/multimedia-tools-depends/depends/libmediainfo/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 12.0

#9700 [le12] kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/audiodecoder.2sf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.asap/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gme/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.gsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.modplug/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ncsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.nosefart/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.openmpt/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.organya/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.qsf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.snesapu/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.ssf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.stsound/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.timidity/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.upse/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.usf/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.vgmstream/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.wsr/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.flac/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.lame/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.vorbis/package.mk
  packages/mediacenter/kodi-binary-addons/audioencoder.wav/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.mpo/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.raw/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.rtmp/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.asterwave/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.biogenesis/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pingpong/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.rar/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.sftp/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.projectm/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.starburst/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9701 Vulkan update to 1.4.305
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9702 [le12] boost: fix download link
  packages/devel/boost/package.mk
Labels: BUGFIX, PACKAGE, LE 12.0

#9697 nvidia: update to 550.144.03
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9703 pvr.nextpvr: update 22.3.0-Piers to 22.4.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9704 [le12] kodi-binary-addons: pvr: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9706 Package updates
  packages/debug/gdb/package.mk
  packages/graphics/pango/package.mk
  packages/wayland/util/foot/package.mk
  packages/x11/other/fontconfig/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9707 kodi: revert to 21.2-Omega tag
  packages/mediacenter/kodi/package.mk
Labels: MERGE ¯\_(ツ)_/¯ 💥, PACKAGE, LE 12.0

#9709 Package updates
  packages/multimedia/dav1d/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9710 linux: update to 6.12.y
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9711 kodi: update to githash fb44880
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-999.99-PR25981-EGL_KHR_partial_update.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9712 t2scan: fix upstreamed -std=c23 patch
  packages/addons/addon-depends/dvb-tools-depends/t2scan/patches/t2scan-17-fix-building-with-gcc-15.patch
Labels: BUGFIX, ADDONS, PATCH, LE 13.0

#9713 mpd: add upstream 2182 patch as part of libfmt patch
  packages/addons/service/mpd/patches/mpd-2181-lib-fmt-drop-use-of-FMT_STRING.patch
  packages/addons/service/mpd/patches/mpd-9999-link-against-static-libopenmpt.patch
Labels: BUGFIX, ADDONS, PATCH, LE 13.0

#9714 mesa: update to 24.3.4
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9716 Package updates
  packages/audio/pipewire/package.mk
  packages/compress/xz/package.mk
  packages/debug/strace/package.mk
  packages/devel/cmake/package.mk
  packages/devel/flatbuffers/package.mk
  packages/devel/glib/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9718 linux (RPi): update to 6.12.11
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9719 [le12] linux (RPi): update to 6.6.74
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9720 Vulkan update to 1.4.306
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9721 Package updates
  packages/devel/fakeroot/package.mk
  packages/devel/flatbuffers/package.mk
  packages/devel/libcap/package.mk
  packages/graphics/libpng/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9722 linux: wifi: rtw88: reorganise patches since 6.13 has been released
  packages/linux/package.mk
  packages/linux/patches/rtlwifi/6.13/0001-wifi-rtw88-Constify-some-arrays-and-structs.patch
  packages/linux/patches/rtlwifi/6.13/0002-wifi-rtw88-Parse-the-RX-descriptor-with-a-single-fun.patch
  packages/linux/patches/rtlwifi/6.13/0003-wifi-rtw88-Add-some-definitions-for-RTL8821AU-RTL881.patch
  packages/linux/patches/rtlwifi/6.13/0004-wifi-rtw88-Dump-the-HW-features-only-for-some-chips.patch
  packages/linux/patches/rtlwifi/6.13/0005-wifi-rtw88-Allow-different-C2H-RA-report-sizes.patch
  packages/linux/patches/rtlwifi/6.13/0006-wifi-rtw88-Extend-the-init-table-parsing-for-RTL8812.patch
  packages/linux/patches/rtlwifi/6.13/0007-wifi-rtw88-Allow-rtw_chip_info.ltecoex_addr-to-be-NU.patch
  packages/linux/patches/rtlwifi/6.13/0008-wifi-rtw88-Let-each-driver-control-the-power-on-off-.patch
  packages/linux/patches/rtlwifi/6.13/0009-wifi-rtw88-Enable-data-rate-fallback-for-older-chips.patch
  packages/linux/patches/rtlwifi/6.13/0010-wifi-rtw88-Make-txagc_remnant_ofdm-an-array.patch
  packages/linux/patches/rtlwifi/6.13/0011-wifi-rtw88-Support-TX-page-sizes-bigger-than-128.patch
  packages/linux/patches/rtlwifi/6.13/0012-wifi-rtw88-Move-pwr_track_tbl-to-struct-rtw_rfe_def.patch
  packages/linux/patches/rtlwifi/6.13/0013-wifi-rtw88-usb-Set-pkt_info.ls-for-the-reserved-page.patch
  packages/linux/patches/rtlwifi/6.13/0014-wifi-rtw88-Detect-beacon-loss-with-chips-other-than-.patch
  packages/linux/patches/rtlwifi/6.13/0015-wifi-rtw88-coex-Support-chips-without-a-scoreboard.patch
  packages/linux/patches/rtlwifi/6.13/0016-wifi-rtw88-8821a-Regularly-ask-for-BT-info-updates.patch
  packages/linux/patches/rtlwifi/6.13/0017-wifi-rtw88-8812a-Mitigate-beacon-loss.patch
  packages/linux/patches/rtlwifi/6.13/0018-wifi-rtw88-Add-rtw8812a_table.-c-h.patch
  packages/linux/patches/rtlwifi/6.13/0019-wifi-rtw88-Add-rtw8821a_table.-c-h.patch
  packages/linux/patches/rtlwifi/6.13/0020-wifi-rtw88-Add-rtw88xxa.-c-h.patch
  packages/linux/patches/rtlwifi/6.13/0021-wifi-rtw88-Add-rtw8821a.-c-h.patch
  packages/linux/patches/rtlwifi/6.13/0022-wifi-rtw88-Add-rtw8812a.-c-h.patch
  packages/linux/patches/rtlwifi/6.13/0023-wifi-rtw88-Add-rtw8821au.c-and-rtw8812au.c.patch
  packages/linux/patches/rtlwifi/6.13/0024-wifi-rtw88-Enable-the-new-RTL8821AU-RTL8812AU-driver.patch
  packages/linux/patches/rtlwifi/after-6.13/0025-wifi-rtw88-8821au-Add-additional-devices-to-the-USB_.patch
  packages/linux/patches/rtlwifi/after-6.13/0026-wifi-rtw88-8812au-Add-more-device-IDs.patch
  packages/linux/patches/rtlwifi/after-6.13/0027-wifi-rtw88-usb-Support-USB-3-with-RTL8812AU.patch
  packages/linux/patches/rtlwifi/after-6.13/0028-wifi-rtw88-usb-Enable-RX-aggregation-for-8821au-8812.patch
  packages/linux/patches/rtlwifi/after-6.13/0029-wifi-rtw88-add-__packed-attribute-to-efuse-layout-st.patch
  packages/linux/patches/rtlwifi/after-6.13/0030-wifi-rtlwifi-rtl8821ae-Fix-media-status-report.patch
  packages/linux/patches/rtlwifi/after-6.13/0031-wifi-rtw88-8812a-Support-RFE-type-2.patch
  packages/linux/patches/rtlwifi/after-6.13/0032-wifi-rtw88-8821a-8812a-Set-ptct_efuse_size-to-0.patch
  packages/linux/patches/rtlwifi/after-6.13/0033-wifi-rtw88-usb-Copy-instead-of-cloning-the-RX-skb.patch
  packages/linux/patches/rtlwifi/after-6.13/0034-wifi-rtw88-Handle-C2H_ADAPTIVITY-in-rtw_fw_c2h_cmd_h.patch
  packages/linux/patches/rtlwifi/after-6.13/0035-wifi-rtw88-usb-Preallocate-and-reuse-the-RX-skbs.patch
  packages/linux/patches/rtlwifi/after-6.13/0036-wifi-rtl8xxxu-Fix-RTL8188EU-firmware-upload-block-si.patch
  packages/linux/patches/rtlwifi/after-6.13/0037-wifi-rtw88-Add-USB-PHY-configuration.patch
  packages/linux/patches/rtlwifi/after-6.13/0038-wifi-rtw88-Delete-rf_type-member-of-struct-rtw_sta_i.patch
  packages/linux/patches/rtlwifi/after-6.13/0039-wifi-rtw88-8703b-Fix-RX-TX-issues.patch
  packages/linux/patches/rtlwifi/after-6.13/0040-wifi-rtw88-sdio-Fix-disconnection-after-beacon-loss.patch
  packages/linux/patches/rtlwifi/after-6.13/0041-wifi-rtw88-Add-support-for-LED-blinking.patch
Labels: PATCH, KERNEL, CLEANUP, LE 13.0

#9723 Package updates
  packages/audio/libcdio/package.mk
  packages/devel/libfmt/package.mk
  packages/python/devel/meson/package.mk
  packages/wayland/compositor/sway/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9727 LibreELEC-settings: update to githash 1eaa10a
  packages/mediacenter/LibreELEC-settings/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9730 pvr.waipu: update 22.2.1-Piers to 22.3.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9736 Package updates
  packages/audio/wavpack/package.mk
  packages/multimedia/nv-codec-headers/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9735 Rust update to 1.84.1
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9734 Vulkan update to 1.4.307
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9733 gmp: configure and acinclude.m4: fix -std=c23 build failure
  packages/devel/gmp/patches/0001-acinclude.m4-fix-std-c23-build-failure.patch
Labels: PATCH, LE 13.0

#9732 glibc: update to 2.41
  packages/devel/glibc/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9724 Addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/pcsc-lite/package.mk
  packages/addons/addon-depends/polkit/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/service/librespot/package.mk
  packages/addons/service/oscam/package.mk
  packages/addons/service/oscam/patches/oscam-02-link-with-ludev.patch
  packages/addons/tools/dotnet-runtime/package.mk
  packages/audio/fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9738 [le12] vdr-plugin-vnsiserver: missing depend vdr-plugin-wirbelscan
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-vnsiserver/package.mk
Labels: ADDONS, BUILDSYSTEM, BACKPORT DONE, PACKAGE, LE 12.0

#9740 tvheadend43: fix version
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, LE 13.0
