Repository LibreELEC/LibreELEC.tv, pull requests merged in 2025-02, with the labels that each got.

#9742 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.plutotv/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9743 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/pvr.argustv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.demo/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvblink/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.dvbviewer/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.filmon/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.hdhomerun/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.mediaportal.tvserver/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.njoy/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.pctv/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vbox/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vdr.vnsi/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.vuplus/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.wmc/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9744 Package updates
  packages/debug/gdb/package.mk
  packages/devel/spdlog/package.mk
  packages/devel/spdlog/patches/3301.patch
  packages/graphics/spirv-llvm-translator/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9745 mpd: update to 0.23.17
  packages/addons/addon-depends/libnfs5/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/mpd/patches/mpd-2181-lib-fmt-drop-use-of-FMT_STRING.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9746 oscam: include missing pcsc-lite shared library and addon (3)
  packages/addons/service/oscam/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 13.0

#9748 gmp: update patch to support gcc-10
  packages/devel/gmp/patches/0001-acinclude.m4-fix-std-c23-build-failure.patch
Labels: BUGFIX, PATCH, LE 13.0

#9749 Addon build fixes
  packages/addons/addon-depends/polkit/package.mk
  packages/addons/service/mpd/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 13.0

#9750 linux: update to 6.12.12
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9731 allwinner: OrangePi PC also needs SW CEC hack
  projects/Allwinner/patches/linux/0071-HACK-SW-CEC-implementation-for-H3.patch
Labels: HARDWARE, PATCH, ALLWINNER, LE 13.0

#9751 treewide: rename xbmc to kodi
  distributions/LibreELEC/options
  packages/addons/service/boblightd/config/boblight.X11.sample
  packages/addons/service/mpd/source/config/mpd.conf
  packages/sysutils/eventlircd/evmap/03_0755_2626.evmap
  packages/sysutils/eventlircd/evmap/03_13ec_0006.evmap
  packages/tools/installer/system.d/installer.service
  projects/ARM/options
Labels: CLEANUP, LE 13.0

#9755 pvr.waipu: update 21.9.0-Omega to 21.9.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9756 pvr.waipu: update 22.3.0-Piers to 22.3.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9757 inputstream.ffmpegdirect: update 22.0.1-Piers to 22.1.0-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9728 ply: add python-ply package
  packages/graphics/mesa/package.mk
  packages/python/devel/ply/package.mk
Labels: BUILDSYSTEM, PACKAGE, LE 13.0

#9753 tools/docker/focal: update Dockerfile to use golang-1.20
  tools/docker/focal/Dockerfile
Labels: BUILDSYSTEM, LE 13.0

#9754 binutils: update to 2.44
  packages/devel/binutils/package.mk
  packages/devel/binutils/patches/binutils-01-warn-for-uses-of-system-directories-when-link.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9758 Package updates
  packages/devel/hwdata/package.mk
  packages/sysutils/exfatprogs/package.mk
  packages/x11/lib/libX11/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9760 [le12] cacert.pem: update to 2025-01-29
  packages/security/openssl/cert/cacert.pem
Labels: LE 12.0

#9741 wayland: copy wayland.xml to SYSROOT
  packages/graphics/vulkan/vulkan-tools/package.mk
  packages/wayland/wayland/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#9763 Python3: update to 3.12.9
  packages/lang/Python3/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9761 Add HyperHDR addon
  licenses/EPL-1.0.txt
  packages/addons/addon-depends/hyperhdr-depends/hyperhdr-linalg/package.mk
  packages/addons/addon-depends/hyperhdr-depends/hyperhdr-lunasvg/package.mk
  packages/addons/addon-depends/hyperhdr-depends/hyperhdr-mdns/package.mk
  packages/addons/addon-depends/hyperhdr-depends/hyperhdr-nanopb/package.mk
  packages/addons/addon-depends/hyperhdr-depends/hyperhdr-qmqtt/package.mk
  packages/addons/addon-depends/hyperhdr-depends/hyperhdr-sdbus-cpp/package.mk
  packages/addons/addon-depends/hyperhdr-depends/hyperhdr-stb/package.mk
  packages/addons/addon-depends/qt5/package.mk
  packages/addons/addon-depends/qt5/patches/0001-use-sysroot-path-for-pkgconfig-and-libtool.patch
  packages/addons/addon-depends/qtbase/patches/qtbase-0002-fix-build-with-gcc-11.patch
  packages/addons/addon-depends/qtbase/patches/qtbase-0003-More-build-fixes-for-GCC-11.patch
  packages/addons/addon-depends/rpi_ws281x/package.mk
  packages/addons/service/hyperhdr/icon/icon.png
  packages/addons/service/hyperhdr/package.mk
  packages/addons/service/hyperhdr/source/bin/hyperhdr.start
  packages/addons/service/hyperhdr/source/default.py
  packages/addons/service/hyperhdr/source/resources/screenshot-01.png
  packages/addons/service/hyperhdr/source/system.d/service.hyperhdr.service
  packages/addons/service/hyperion/package.mk
Labels: ADDONS, LE 13.0

#9764 curl: update to 8.12.0
  packages/web/curl/package.mk
  packages/web/curl/patches/curl-01-allow_building_debug.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9765 pvr.nextpvr: update 21.3.1-Omega to 21.3.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.nextpvr/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9768 Addon updates
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9769 [LE12] Addon updates
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9770 kodi: update to githash 8791707
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9717 libretro-pcsx-rearmed: fix build for OdroidGoAdvance
  packages/emulation/libretro-pcsx-rearmed/package.mk
Labels: BUILDSYSTEM, CLEANUP, LE 13.0

#9772 Revert "curl: update to 8.12.0"
  packages/web/curl/package.mk
  packages/web/curl/patches/curl-01-allow_building_debug.patch
Labels: BUGFIX, PACKAGE, LE 13.0

#9773 Revert "buildsystem: use distribution defined addon install path"
  scripts/install_addon
Labels: BUGFIX, BUILDSYSTEM

#9767 Package updates
  packages/addons/addon-depends/go/package.mk
  packages/audio/pipewire/package.mk
  packages/audio/wireplumber/package.mk
  packages/databases/mariadb-connector-c/package.mk
  packages/devel/groovy/package.mk
  packages/devel/pcre2/package.mk
  packages/devel/talloc/package.mk
  packages/multimedia/media-driver/package.mk
  packages/python/devel/Mako/package.mk
  packages/python/devel/flit/package.mk
  packages/security/gnutls/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9774 x265: fix x86_64 target compile on arm64 hosts
  packages/addons/addon-depends/ffmpegx-depends/x265/package.mk
Labels: BUGFIX, PACKAGE, LE 12.0

#9776 [le12] mariadb: revert to 11.4.3 and addon (5)
  packages/addons/service/mariadb/package.mk
Labels: BUGFIX, ADDONS, UPDATE, PACKAGE

#9777 pvr.iptvsimple: update 21.10.1-Omega to 21.10.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9778 linux (Generic): backport patches from 6.14 Use std-gnu11 to fix build with GCC-15
  projects/Generic/patches/linux/0001-x86-boot-Use-std-gnu11-to-fix-build-with-GCC-15.patch
  projects/Generic/patches/linux/0002-efi-libstub-Use-std-gnu11-to-fix-build-with-GCC-15.patch
Labels: PATCH, KERNEL, GENERIC, LE 13.0

#9779 Package updates
  packages/devel/libffi/package.mk
  packages/graphics/lcms2/package.mk
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
  packages/python/devel/waf/package.mk
  packages/x11/data/xkeyboard-config/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9780 Package updates
  packages/devel/flatbuffers/package.mk
  packages/graphics/exiv2/package.mk
  packages/network/iwd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9775 linux: update to 6.12.13
  packages/linux/package.mk
  projects/Allwinner/patches/linux/0099-sound-soc-sunxi-sun4i-spdif-add-mclk_multiplier.patch
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9782 Firmware and Microcode updates
  packages/linux-firmware/intel-ucode/package.mk
  packages/linux-firmware/iwlwifi-firmware/package.mk
  packages/linux-firmware/kernel-firmware/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9783 Package updates
  packages/audio/flac/package.mk
  packages/security/openssl/package.mk
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9784 Addon updates for docker and podman
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libseccomp/package.mk
  packages/addons/addon-depends/podman/gpgme/package.mk
  packages/addons/addon-depends/podman/netavark/package.mk
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/podman/package.mk
  tools/docker/jammy/Dockerfile
  tools/docker/noble/Dockerfile
Labels: ADDONS, UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9788 Package updates
  packages/network/cifs-utils/package.mk
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9786 curl: update to 8.12.1
  packages/web/curl/package.mk
  packages/web/curl/patches/curl-01-allow_building_debug.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9785 [le12] Addon updates for docker and podman
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/addons/addon-depends/libseccomp/package.mk
  packages/addons/addon-depends/podman/gpgme/package.mk
  packages/addons/addon-depends/podman/netavark/package.mk
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/addon-depends/podman/podman-bin/patches/podman-0002-path-changes.patch
  packages/addons/service/docker/package.mk
  packages/addons/service/podman/package.mk
  tools/docker/bookworm/Dockerfile
  tools/docker/focal/Dockerfile
  tools/docker/jammy/Dockerfile
  tools/docker/noble/Dockerfile
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9787 Let the kernel use a larger font on HiDPI displays instead of doing that manually
  packages/sysutils/busybox/config/busybox-init.conf
  packages/sysutils/busybox/scripts/init
  packages/sysutils/terminus-font/package.mk
  packages/virtual/initramfs/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: CLEANUP, LE 13.0

#9789 media-driver: update to 25.1.2
  packages/multimedia/media-driver/package.mk
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0

#9791 Addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE

#9792 vulkan-tools: add missing backslash
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: LE 13.0

#9793 Python3: fix host DEPEND to be with openssl
  packages/lang/Python3/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#9794 libretro-mame2010: fix missing PKG_DEPENDS_TARGET=zlib
  packages/emulation/libretro-mame2010/package.mk
Labels: BUGFIX, ADDONS, PACKAGE, LE 13.0

#9795 kodi: update to githash bd12fab
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9796 linux (RPi): update to 6.12.13
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9797 rpi-eeprom: update to 50d7bfc
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, PACKAGE, RPi, LE 13.0

#9798 Package updates
  packages/python/system/simplejson/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9799 Addon
  packages/addons/addon-depends/system-tools-depends/diffutils/package.mk
  packages/addons/addon-depends/system-tools-depends/diffutils/patches/diffutils-001-no-man-or-doc.patch
  packages/addons/addon-depends/system-tools-depends/dool/package.mk
  packages/addons/addon-depends/system-tools-depends/mc/package.mk
  packages/addons/addon-depends/system-tools-depends/pv/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/service/jellyfin/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9800 [le12] linux (RPi): update to 6.6.78
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
Labels: UPDATE, KERNEL, RPi, LE 12.0

#9805 Package updates
  packages/databases/sqlite/package.mk
  packages/databases/sqlite/patches/sqlite-01_map_populate.patch
  packages/graphics/libpng/package.mk
  packages/sysutils/util-linux/package.mk
  packages/textproc/libxml2/package.mk
  packages/wayland/util/wlr-randr/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9737 mesa: update to 25.0.0
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9802 openssh: update to 9.9p2
  packages/network/openssh/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#9790 linux: update to 6.12.y
  packages/linux/package.mk
  packages/linux/patches/rtlwifi/6.14/0025-wifi-rtw88-8821au-Add-additional-devices-to-the-USB_.patch
  packages/linux/patches/rtlwifi/6.14/0026-wifi-rtw88-8812au-Add-more-device-IDs.patch
  packages/linux/patches/rtlwifi/6.14/0027-wifi-rtw88-usb-Support-USB-3-with-RTL8812AU.patch
  packages/linux/patches/rtlwifi/6.14/0028-wifi-rtw88-usb-Enable-RX-aggregation-for-8821au-8812.patch
  packages/linux/patches/rtlwifi/6.14/0031-wifi-rtw88-8812a-Support-RFE-type-2.patch
  packages/linux/patches/rtlwifi/6.14/0032-wifi-rtw88-8821a-8812a-Set-ptct_efuse_size-to-0.patch
  packages/linux/patches/rtlwifi/6.14/0033-wifi-rtw88-usb-Copy-instead-of-cloning-the-RX-skb.patch
  packages/linux/patches/rtlwifi/6.14/0034-wifi-rtw88-Handle-C2H_ADAPTIVITY-in-rtw_fw_c2h_cmd_h.patch
  packages/linux/patches/rtlwifi/6.14/0035-wifi-rtw88-usb-Preallocate-and-reuse-the-RX-skbs.patch
  packages/linux/patches/rtlwifi/6.14/0036-wifi-rtl8xxxu-Fix-RTL8188EU-firmware-upload-block-si.patch
  packages/linux/patches/rtlwifi/6.14/0037-wifi-rtw88-Add-USB-PHY-configuration.patch
  packages/linux/patches/rtlwifi/6.14/0038-wifi-rtw88-Delete-rf_type-member-of-struct-rtw_sta_i.patch
  packages/linux/patches/rtlwifi/6.14/0041-wifi-rtw88-Add-support-for-LED-blinking.patch
  packages/linux/patches/rtlwifi/after-6.13/0029-wifi-rtw88-add-__packed-attribute-to-efuse-layout-st.patch
  packages/linux/patches/rtlwifi/after-6.13/0030-wifi-rtlwifi-rtl8821ae-Fix-media-status-report.patch
  packages/linux/patches/rtlwifi/after-6.13/0039-wifi-rtw88-8703b-Fix-RX-TX-issues.patch
  packages/linux/patches/rtlwifi/after-6.13/0040-wifi-rtw88-sdio-Fix-disconnection-after-beacon-loss.patch
  packages/linux/patches/rtlwifi/after-6.14/0042-wifi-rtw88-Don-t-use-static-local-variable-in-rtw882.patch
  packages/linux/patches/rtlwifi/after-6.14/0043-wifi-rtw88-Don-t-use-static-local-variable-in-rtw882.patch
  packages/tools/bcm2835-bootloader/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/Generic/patches/linux/0001-x86-boot-Use-std-gnu11-to-fix-build-with-GCC-15.patch
  projects/Generic/patches/linux/0002-efi-libstub-Use-std-gnu11-to-fix-build-with-GCC-15.patch
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, RPi, SAMSUNG, GENERIC, LE 13.0

#9811 [le12] wireless-regdb: update to 2025.02.20
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9817 openssl: copy CA certs to toolchain
  packages/security/openssl/package.mk
Labels: PACKAGE, LE 13.0

#9821 [le12] json-c: update download link and sha256
  packages/devel/json-c/package.mk
Labels: PACKAGE, LE 12.0

#9822 json-c: update download link and sha256
  packages/devel/json-c/package.mk
Labels: PACKAGE, LE 13.0

#9820 gstreamer: update to 1.25.90
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9816 Vulkan update to 1.4.309
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9807 samba: update to 4.21.4
  packages/network/samba/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9809 linux (All): enable kernel options IP_SET and NETFILTER_XT_SET
  distributions/LibreELEC/kernel_options
  packages/network/ipset/package.mk
  packages/virtual/network/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: IMPROVEMENT, KERNEL, LE 13.0

#9803 [le12] openssh: update to 9.9p2
  packages/network/openssh/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9804 [le12] openssl: update to 3.2.4
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9818 kodi: update to githash e47d293
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9823 kmod: add upstream fix for link errors with glibc 2.31
  packages/sysutils/kmod/patches/kmod-01-fix-build-with-glibc-2.31.patch
Labels: BUGFIX, PATCH, LE 13.0

#9824 Package updates
  packages/devel/cmake/package.mk
  packages/tools/qemu/package.mk
  packages/x11/xserver/xorg-server/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9827 nvidia: update to 570.124.04
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
Labels: UPDATE, PACKAGE, GENERIC, LE 13.0
