Repository LibreELEC/LibreELEC.tv, pull requests merged in 2025-06, with the labels that each got.

#10105 pvr.waipu: update 21.10.4-Omega to 21.11.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10106 pvr.waipu: update 22.3.8-Piers to 22.4.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10107 pvr.waipu: update 21.11.0-Omega to 21.11.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10108 pvr.waipu: update 22.4.0-Piers to 22.4.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10111 Addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/package.mk
  packages/addons/addon-depends/network-tools-depends/iperf/patches/iperf-1805-allow-build-with-gcc-15.patch
  packages/addons/addon-depends/network-tools-depends/nmap/package.mk
  packages/addons/addon-depends/system-tools-depends/jq/package.mk
  packages/addons/addon-depends/system-tools-depends/screen/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/compress/libarchive/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
Labels: ADDONS, PACKAGE, LE 13.0

#10110 flex: use flex:host stage1flex when building scan.c from scan.l
  packages/devel/flex/package.mk
  packages/devel/flex/patches/flex-0001-use-flex-host-for-target-cross-compile.patch
Labels: PACKAGE, PATCH, CLEANUP, LE 13.0

#10113 bluez: update to 5.83
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-12-fix-obexd-after-5_73.patch
Labels: UPDATE, PACKAGE, LE 13.0

#10114 kodi: update to githash de5db92
  packages/mediacenter/kodi/package.mk
  packages/mediacenter/kodi/patches/kodi-100.03-disable-online-check.patch
Labels: UPDATE, PACKAGE, LE 13.0

#10116 pvr.waipu: update 21.11.1-Omega to 21.11.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#8726 bug-report.md: update instructions
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: DOCUMENTATION

#10118 mesa: update to 25.1.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10121 Addon updates
  packages/addons/addon-depends/podman/gpgme/package.mk
  packages/addons/addon-depends/podman/netavark/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/mariadb/patches/mariadb-0003-build-with-libxml2-2-14-0.patch
  packages/addons/service/mariadb/patches/mariadb-246-build-with-cmake-4.0.0.patch
  packages/addons/service/podman/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8779 move xz (lzma) support out of sysroot
  packages/compress/xz/package.mk
  packages/lang/Python3/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#10120 kodi-binary-addons: add game.shader.presets add-on
  packages/mediacenter/kodi-binary-addons/game.shader.presets/package.mk
Labels: ADDONS, PACKAGE, LE 13.0

#10123 pvr.hts: update 22.6.3-Piers to 22.7.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.hts/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10126 kodi: update to ce89e7d
  packages/mediacenter/kodi/package.mk
  projects/Allwinner/patches/kodi/000-temp-revert-fences.patch
  projects/Amlogic/patches/kodi/000-temp-revert-fences.patch
  projects/RPi/patches/kodi/000-temp-revert-fences.patch
  projects/Rockchip/patches/kodi/000-temp-revert-fences.patch
Labels: UPDATE, PACKAGE, PATCH, LE 13.0

#10128 pvr.waipu: update 22.4.2-Piers to 22.5.0-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10130 kodi (Samsung): update patch since ce89e7d
  projects/Samsung/patches/kodi/kodi-0002-LOCAL-changes-for-Odroid-XU3-XU4.patch
Labels: BUGFIX, PATCH, LE 13.0

#10132 mesa: drop deprecated options
  packages/graphics/mesa/package.mk
Labels: PACKAGE, CLEANUP, LE 13.0

#10129 Vulkan update to 1.4.317
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10101 gstreamer: update to 1.26.2
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10133 Addon updates
  packages/addons/addon-depends/libvpx/package.mk
  packages/addons/addon-depends/multimedia-tools-depends/mpg123/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/multimedia-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10136 espeak-ng: update to githash a06074c and use cmake
  distributions/LibreELEC/options
  packages/audio/espeak-ng/package.mk
  packages/audio/espeak-ng/patches/espeak-ng-0001-allow-build-of-intonations.patch
  packages/audio/espeak-ng/patches/espeak-ng-0002-find-and-link-pthread.patch
Labels: UPDATE, PACKAGE, LE 13.0

#10138 e2fsprogs: remove e2mmpstatus as it is a link to dumpe2fs
  packages/sysutils/e2fsprogs/package.mk
Labels: BUGFIX, PACKAGE, CLEANUP, LE 13.0

#10139 kodi: update to githash 93eeae9
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10141 Addon updates and addition of tmux
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/system-tools-depends/tmux/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: IMPROVEMENT, ADDONS, UPDATE, PACKAGE, LE 13.0

#10144 Package updates
  packages/addons/addon-depends/docker/docker-compose/package.mk
  packages/devel/cmake/package.mk
  packages/graphics/libjpeg-turbo/package.mk
  packages/graphics/libpng/package.mk
  packages/python/devel/waf/package.mk
  packages/tools/nano/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10145 Fix Generic-legacy nvidia build failure
  packages/graphics/nvidia/patches/001-Workaround-nv_vm_flags_-calling-GPL-only-code.patch
  packages/x11/driver/xf86-video-nvidia/patches/001-Workaround-nv_vm_flags_-calling-GPL-only-code.patch
  projects/Generic/linux/linux.x86_64.conf
Labels: BUGFIX, GENERIC, LE 13.0

#10146 Vulkan update to 1.4.318
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10147 Package updates
  packages/addons/addon-depends/system-tools-depends/tmux/package.mk
  packages/devel/glib/package.mk
  packages/lang/llvm/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10149 cacert.pem: update to 2025-06-13
  packages/security/openssl/cert/cacert.pem
Labels: PACKAGE, LE 13.0

#10150 pvr.waipu: update 21.11.2-Omega to 21.12.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10148 Package updates
  packages/addons/addon-depends/system-tools-depends/encfs/package.mk
  packages/devel/mimalloc/package.mk
  packages/network/iwd/package.mk
  packages/network/nfs-utils/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10152 Package updates
  packages/audio/libopenmpt/package.mk
  packages/graphics/gdk-pixbuf/package.mk
  packages/tools/mtools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10158 pvr.waipu: update 21.12.0-Omega to 21.12.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10159 pvr.waipu: update 22.5.0-Piers to 22.5.1-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10160 xorg-server: update to 21.1.18
  packages/x11/xserver/xorg-server/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10161 inputstream.ffmpegdirect: update 21.3.7-Omega to 21.3.8-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10162 inputstream.ffmpegdirect: update 22.1.1-Piers to 22.1.2-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9374 Python: update to 3.13.5
  packages/lang/Python3/package.mk
  packages/lang/Python3/patches/0001-Make-the-build-of-pyc-files-conditional.patch
  packages/lang/Python3/patches/0003-Add-an-option-to-disable-pydoc.patch
  packages/lang/Python3/patches/0004-Add-an-option-to-disable-lib2to3.patch
  packages/lang/Python3/patches/0005-Add-an-option-to-disable-IDLE.patch
  packages/lang/Python3/patches/0006-configure.ac-move-PY_STDLIB_MOD_SET_NA-further-up.patch
  packages/lang/Python3/patches/0007-Add-option-to-disable-the-sqlite3-module.patch
  packages/lang/Python3/patches/0008-Add-an-option-to-disable-the-tk-module.patch
  packages/lang/Python3/patches/0012-gh-115382-Fix-cross-compiles-when-host-and-target-us.patch
  packages/lang/Python3/patches/py312-cpython118618-1.patch
  packages/lang/Python3/patches/py312-cpython118618-2.patch
Labels: UPDATE, MERGE BLOCKED, PACKAGE, LE 13.0

#10165 Vulkan update to 1.4.319
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10167 Package updates
  packages/python/devel/ninja/package.mk
  packages/security/nss/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/sysutils/open-vm-tools/patches/open-vm-tools-751-fix-build-with-gcc-15.patch
Labels: UPDATE, PACKAGE, LE 13.0

#10169 curl: do not build docs
  packages/web/curl/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#10175 squashfs-tools: fix PKG_URL
  packages/sysutils/squashfs-tools/package.mk
Labels: BUGFIX, PACKAGE, LE 12.0

#10177 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/docker-compose/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/docker/moby/patches/moby-001-user-addon-storage-location.patch
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/addon-depends/system-tools-depends/dtach/package.mk
  packages/addons/addon-depends/system-tools-depends/mmc-utils/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-satip/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/filebrowser/package.mk
  packages/addons/service/podman/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/system-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10182 Vulkan update to 1.4.320
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10183 gstreamer: update to 1.26.3
  packages/multimedia/gstreamer/gst-plugins-bad/package.mk
  packages/multimedia/gstreamer/gst-plugins-base/package.mk
  packages/multimedia/gstreamer/gstreamer/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10187 Linux update to 6.15.4
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#10186 kodi: update to githash fc1ba27
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10185 Package updates
  packages/databases/sqlite/package.mk
  packages/graphics/spirv-headers/package.mk
  packages/graphics/spirv-tools/package.mk
  packages/graphics/vulkan/glslang/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10181 rust: update to 1.88.0
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0
