Repository LibreELEC/LibreELEC.tv, pull requests merged in 2025-03, with the labels that each got.

#9837 Addon updates
  packages/addons/addon-depends/libgpiod/package.mk
  packages/addons/addon-depends/libzip/package.mk
  packages/addons/addon-depends/system-tools-depends/stress-ng/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/system-tools-depends/usb-modeswitch/package.mk
  packages/addons/addon-depends/system-tools-depends/usb-modeswitch/patches/fix-gcc-15-build.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-live/package.mk
  packages/addons/addon-depends/vdr/package.mk
  packages/addons/service/prometheus-node-exporter/package.mk
  packages/addons/service/rsyslog/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/graphics/libheif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9829 Package updates
  packages/devel/glib/package.mk
  packages/devel/groovy/package.mk
  packages/devel/libcap/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/multimedia/media-driver/package.mk
  packages/security/nss/package.mk
  packages/sysutils/dbus/package.mk
  packages/web/nghttp2/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9828 alsa-utils: fix build with gettext-0.24
  packages/audio/alsa-utils/patches/alsa-utils-0001-gettext-fix.patch
Labels: BUGFIX, PACKAGE, PATCH, LE 13.0

#9834 kodi: update to githash 8260af8
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9320 disable explicitly glib introspection for host builds. Otherwise a ho…
  packages/devel/glib/package.mk
Labels: BUGFIX, PACKAGE, LE 13.0

#9838 jre.zulu: bump jdk packages to 8.84.0.15-8.0.442 and addon (1)
  packages/addons/addon-depends/jre-depends/jdk-aarch64-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jdk-arm-zulu/package.mk
  packages/addons/addon-depends/jre-depends/jdk-x86_64-zulu/package.mk
  packages/addons/tools/jre.zulu/package.mk
  packages/addons/tools/jre.zulu/profile.d/jre.profile
  packages/multimedia/libbluray/patches/libbluray-03-set-headless-false.patch
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#8418 Add SwanStation game add-on
  packages/emulation/libretro-swanstation/package.mk
  packages/mediacenter/kodi-binary-addons/game.libretro.swanstation/package.mk
Labels: ADDONS, PACKAGE, LE 13.0

#9840 mesa: update to 25.0.1
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9831 fix usage of multiple toolchains
  packages/devel/binutils-aarch64/package.mk
  packages/devel/binutils-arm-none-eabi/package.mk
  packages/devel/binutils-bpf/package.mk
  packages/devel/binutils-or1k/package.mk
  packages/lang/gcc-aarch64/package.mk
  packages/lang/gcc-arm-none-eabi/package.mk
  packages/lang/gcc-bpf/package.mk
  packages/lang/gcc-or1k/package.mk
  packages/tools/atf/package.mk
Labels: BUGFIX, BUILDSYSTEM, TOOLCHAIN, LE 13.0, LE 14.0

#9839 Package updates
  packages/addons/addon-depends/faad2/package.mk
  packages/addons/addon-depends/go/package.mk
  packages/audio/libfreeaptx/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/libcap/package.mk
  packages/sysutils/exfatprogs/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9841 Package updates
  packages/devel/mold/package.mk
  packages/python/devel/Jinja2/package.mk
  packages/sysutils/kmod/package.mk
  packages/sysutils/kmod/patches/kmod-01-fix-build-with-glibc-2.31.patch
  packages/wayland/lib/fcft/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#8481 meson: use chosen linker
  config/functions
Labels: BUILDSYSTEM, LE 13.0

#9830 linux: update to 6.12.17
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9842 Package updates
  packages/audio/pipewire/package.mk
  packages/devel/glib/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-200-4.11-fix-ASN1-bso14164.patch
  packages/sysutils/systemd/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9843 kodi: update to githash 24fb7e8
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9844 Addon updates
  packages/addons/addon-depends/comskip/package.mk
  packages/addons/addon-depends/comskip/patches/comskip-001-ffmpeg6.patch
  packages/addons/addon-depends/comskip/patches/comskip-174-ffmpeg7.patch
  packages/addons/service/minisatip/package.mk
  packages/addons/service/nextpvr/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9845 ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, PATCH, RPi, LE 13.0

#9846 linux (RPi): update to 6.12.17
  packages/linux/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: UPDATE, KERNEL, RPi, LE 13.0

#9835 kodi: drmprime-filter: Update deinterlace filter patch
  packages/mediacenter/kodi/patches/drmprime-filter/0002-WIP-DRMPRIME-deinterlace-filter.patch
Labels: PACKAGE, PATCH, CLEANUP, LE 13.0

#9850 Package updates
  packages/graphics/cairo/package.mk
  packages/textproc/libidn2/package.mk
  packages/textproc/tinyxml2/package.mk
  packages/x11/lib/libSM/package.mk
  packages/x11/lib/libX11/package.mk
  packages/x11/lib/xtrans/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9852 nvidia: install missing drm module and GSP firmware files
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: BUGFIX, GENERIC, LE 13.0

#9851 tools/update-scan: update error handling and special case for jellyfin
  tools/update-scan
Labels: TOOLCHAIN, LE 13.0

#9854 xorg-i915.conf: set "option DRI 3"
  projects/Generic/devices/x11/filesystem/etc/X11/xorg-i915.conf
Labels: BUGFIX, GENERIC, LE 13.0

#9853 Generic: use a minimum SYSTEM_SIZE of 1GB
  projects/Generic/options
Labels: BUILDSYSTEM, GENERIC, LE 13.0

#9858 [le12] hyperhdr: update to 21.0.0.0
  packages/addons/service/hyperhdr/package.mk
Labels: ADDONS, UPDATE, LE 12.0

#9857 hyperhdr: update to 21.0.0.0
  packages/addons/service/hyperhdr/package.mk
Labels: ADDONS, UPDATE, LE 13.0

#9855 audiodecoder.sidplay: fix linking / update addon (22.0.0.1)
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
Labels: BUGFIX, ADDONS, UPDATE, BACKPORT DONE, LE 13.0

#9856 audiodecoder.sidplay: fix linking / update addon (2)
  packages/mediacenter/kodi-binary-addons/audiodecoder.sidplay/package.mk
Labels: BUGFIX, ADDONS, LE 12.0

#9860 Package updates
  packages/devel/ccache/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/multimedia/zvbi/package.mk
  packages/multimedia/zvbi/patches/zvbi-0020-gettext.patch
  packages/python/devel/setuptools/package.mk
  packages/tools/newt/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9862 RPi: update kodi patches
  projects/RPi/patches/kodi/0001-gbm-Set-max-bpc-for-high-bit-depth-videos.patch
  projects/RPi/patches/kodi/0002-CDVDVideoCodecDRMPRIME-Also-support-YUV420-buffers.patch
  projects/RPi/patches/kodi/0003-CDVDVideoCodecDRMPRIME-Adjust-av-formats-to-match-re.patch
  projects/RPi/patches/kodi/0004-DVDVideoCodecDRMPRIME-Add-support-for-arbitrary-outp.patch
  projects/RPi/patches/kodi/0005-DVDVideoCodecDRMPRIME-Remove-obsolete-thread_safe_ca.patch
  projects/RPi/patches/kodi/0006-DVDVideoCodecDRMPRIME-Clear-m_pFilterGraph.patch
  projects/RPi/patches/kodi/0007-DVDVideoCodecDRMPRIME-Move-FilterTest-from-open-to-f.patch
  projects/RPi/patches/kodi/0008-DVDVideoCodecDRMPRIME-Rework-filtering-code-to-handl.patch
  projects/RPi/patches/kodi/0009-CDVDVideoCodecDRMPRIME-Support-decoding-to-DRMPRIME-.patch
  projects/RPi/patches/kodi/0010-DVDVideoCodecDRMPRIME-Request-v4l2-buffers-be-alloca.patch
  projects/RPi/patches/kodi/0011-DVDVideoCodecDRMPRIME-Add-setting-to-enable-hw-deint.patch
  projects/RPi/patches/kodi/0012-fixup-DVDVideoCodecDRMPRIME-add-support-for-filters.patch
  projects/RPi/patches/kodi/0013-DVDVideoCodecDRMPRIME-Set-hwctx-for-v4l2-deinterlace.patch
Labels: BUGFIX, UPDATE, PATCH, RPi, LE 13.0

#9865 Addon updates
  packages/addons/addon-depends/dotnet-runtime-depends/aspnet8-runtime/package.mk
  packages/addons/addon-depends/libexif/package.mk
  packages/addons/addon-depends/libnfs5/package.mk
  packages/addons/addon-depends/network-tools-depends/ncftp/package.mk
  packages/addons/addon-depends/snapcast-depends/shairport-sync/package.mk
  packages/addons/addon-depends/snapcast-depends/snapcast/package.mk
  packages/addons/addon-depends/system-tools-depends/htop/package.mk
  packages/addons/addon-depends/tinc-depends/miniupnpc/package.mk
  packages/addons/addon-depends/ttyd-depends/libuv/package.mk
  packages/addons/addon-depends/ttyd-depends/libwebsockets/package.mk
  packages/addons/service/minidlna/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/service/mpd/patches/mpd-9999-link-against-static-libopenmpt.patch
  packages/addons/service/snapclient/package.mk
  packages/addons/service/snapserver/package.mk
  packages/addons/service/tinc/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/dotnet-runtime/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/network-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/multimedia/aom/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9848 Vulkan update to 1.4.310
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9866 Package updates
  packages/addons/addon-depends/icu/package.mk
  packages/debug/xorg-intel-gpu-tools/package.mk
  packages/devel/mold/package.mk
  packages/textproc/expat/package.mk
  packages/textproc/libxslt/package.mk
  packages/wayland/lib/fcft/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9867 gcc: 14.2.0: arm: Fix signedness of vld1q intrinsic parms
  packages/lang/gcc/patches/gcc-14.2.0-arm--fix-signedness-of-vld1q-intrinsic-parms.patch
Labels: PATCH, LE 13.0

#9868 Addon updates
  packages/addons/addon-depends/network-tools-depends/ncftp/patches/ncftp-0001-fix-incompatible-pointer-types-error.patch
  packages/addons/service/mariadb/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/syncthing/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9869 libxslt: update build options aligning with upstream
  packages/textproc/libxslt/package.mk
Labels: BUGFIX, PACKAGE, CLEANUP, LE 13.0

#9870 Allwinner: linux: Use old OrangePi 3 net patches
  projects/Allwinner/patches/linux/0026-phy-handle-optional-regulator-for-PHY.patch
  projects/Allwinner/patches/linux/0074-net-stmmac-sun8i-Use-devm_regulator_get-for-PHY-regu.patch
  projects/Allwinner/patches/linux/0075-net-stmmac-sun8i-Add-support-for-enabling-a-regulato.patch
  projects/Allwinner/patches/linux/0076-arm64-dts-allwinner-orange-pi-3-Enable-ethernet.patch
Labels: BUGFIX, ALLWINNER, LE 13.0

#9871 Allwinner: u-boot: Fix H6 DRAM size detection
  projects/Allwinner/patches/u-boot/0016-sunxi-dram-Fix-incorrect-ram-size-detection-for-some-H6-boards.patch
  projects/Allwinner/patches/u-boot/0016-sunxi-h6-Fix-DRAM-size-detection.patch
Labels: BUGFIX, ALLWINNER, LE 13.0

#9872 Package updates
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/audio/pipewire/package.mk
  packages/python/security/pycryptodome/package.mk
  packages/textproc/tinyxml2/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9873 proftpd: update to 1.3.9 and addon (1)
  packages/addons/service/proftpd/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9875 ffmpegx: update to 7.1.1
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/ffmpegx/patches/ffmpeg-04-lavc-libx265--unbreak-build-for-X265-BUILD---213.patch
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9876 Fix non-working nvidia driver
  packages/x11/driver/xf86-video-nvidia/modprobe.d/nvidia-modesetting.conf
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/scripts/make_nvidia_udev.py
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
  packages/x11/xserver/xorg-server/scripts/xorg-configure
Labels: BUGFIX, CLEANUP, GENERIC, LE 13.0

#9878 Allwinner: H6: Fix OrangePi One Plus boot
  packages/tools/crust/patches/0001-configs-Make-all-H6-devices-use-I2C-PMIC.patch
  projects/Allwinner/patches/linux/0000-Revert-arm64-dts-allwinner-h6-Use-RSB-for-AXP805-PMI.patch
  projects/Allwinner/patches/linux/0035-WIP-OPi3-DT-fixes.patch
  projects/Allwinner/patches/u-boot/0001-Revert-arm64-dts-allwinner-h6-Use-RSB-for-AXP805-PMI.patch
Labels: BUGFIX, ALLWINNER, LE 13.0

#9877 iwlwifi-firmware: update to core94-91 release for linux-6.12
  packages/linux-firmware/iwlwifi-firmware/package.mk
Labels: PACKAGE, GENERIC, LE 13.0

#9874 Update Kodi and ffmpeg to 7.1.1
  packages/mediacenter/kodi/package.mk
  packages/multimedia/ffmpeg/package.mk
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
  tools/ffmpeg/gen-patches.sh
Labels: UPDATE, PACKAGE, LE 13.0

#9880 Package updates
  packages/audio/fluidsynth/package.mk
  packages/devel/fakeroot/package.mk
  packages/graphics/pango/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
  packages/network/netbase/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9882 Package Updates
  packages/devel/ccache/package.mk
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-01_add-obexd-policy.patch
  packages/network/bluez/patches/bluez-02_obexd-use-system-bus.patch
  packages/network/bluez/patches/bluez-11_sixaxis-fix-PID-navigation-controller.patch
  packages/network/bluez/patches/bluez-12-fix-obexd-after-5_73.patch
  packages/network/bluez/patches/bluez-21-hciattach-add-QCA9377-Tuffello-support.patch
  packages/network/bluez/system.d/obex.service
  packages/python/devel/setuptools/package.mk
  packages/wayland/util/foot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9883 Generic: enable CONFIG_SENSORS_APPLESMC kernel module
  projects/Generic/linux/linux.x86_64.conf
Labels: KERNEL, LE 13.0, DRIVER

#9885 Rust update to 1.85.1
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rust/patches/rust-137460-fix-1.85.0-bootstrap.patch
  packages/rust/rust/targets/arm-libreelec-linux-gnueabihf.json
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9888 pvr.waipu: update 21.9.1-Omega to 21.9.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9889 pvr.waipu: update 22.3.1-Piers to 22.3.2-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9890 Package updates
  packages/multimedia/media-driver/package.mk
  packages/python/devel/setuptools/package.mk
  packages/sysutils/libusb/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9891 mesa: update to 25.0.2
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9892 Package Updates
  packages/compress/libarchive/package.mk
  packages/devel/mpfr/package.mk
  packages/mediacenter/kodi-binary-addons/vfs.libarchive/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/cifs-utils/package.mk
  packages/python/devel/setuptools/package.mk
  packages/sysutils/util-linux/package.mk
  packages/sysutils/util-linux/patches/util-linux-02-fix-gettext.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9896 linux (RPi): update to 6.12.19
  packages/linux/package.mk
  packages/tools/bcm2835-bootloader/package.mk
  packages/tools/rpi-eeprom/package.mk
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
Labels: BUGFIX, UPDATE, KERNEL, RPi, LE 13.0

#9897 pvr.waipu: update 21.9.2-Omega to 21.9.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9895 Addon updates
  packages/addons/addon-depends/dvb-tools-depends/dvblast/package.mk
  packages/addons/addon-depends/dvb-tools-depends/mumudvb/package.mk
  packages/addons/addon-depends/dvb-tools-depends/tune-s2/package.mk
  packages/addons/addon-depends/dvb-tools-depends/w_scan/package.mk
  packages/addons/addon-depends/dvb-tools-depends/w_scan/patches/w_scan-0001-Fix-building-with-gcc10.patch
  packages/addons/service/minisatip/package.mk
  packages/addons/tools/dvb-tools/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9898 pvr.waipu: update 22.3.2-Piers to 22.3.3-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9899 Vulkan update to 1.4.311
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9900 Docker update to 28.0.2 and podman update to 5.4.1
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/containerd/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/addon-depends/docker/moby/patches/moby-001-user-addon-storage-location.patch
  packages/addons/addon-depends/podman/conmon/package.mk
  packages/addons/addon-depends/podman/libassuan/package.mk
  packages/addons/addon-depends/podman/netavark/package.mk
  packages/addons/addon-depends/podman/podman-bin/package.mk
  packages/addons/addon-depends/runc/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/podman/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9901 t2scan: update to githash ae1c768
  packages/addons/addon-depends/dvb-tools-depends/t2scan/package.mk
  packages/addons/addon-depends/dvb-tools-depends/t2scan/patches/t2scan-15-fix-building-with-gcc-14.1.0.patch
  packages/addons/addon-depends/dvb-tools-depends/t2scan/patches/t2scan-17-fix-building-with-gcc-15.patch
Labels: ADDONS, PACKAGE, CLEANUP, LE 13.0

#9902 mpd: update to 0.24.1 and addon (4)
  packages/addons/service/mpd/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9903 kodi: update to githash 3299328
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9906 tz: update to 2025b
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9905 linux: update to 6.12.20
  packages/linux/package.mk
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 13.0

#9909 pvr.waipu: update 22.3.3-Piers to 22.3.4-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9908 pvr.waipu: update 21.9.3-Omega to 21.10.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9907 [le12] tz: update to 2025b
  packages/sysutils/tz/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#9910 Package updates
  packages/audio/sbc/package.mk
  packages/devel/ccache/package.mk
  packages/graphics/harfbuzz/package.mk
  packages/wayland/libinput/package.mk
  packages/wayland/wayland-protocols/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9911 linux (All): enable kernel options CONFIG_IP_NF_RAW and CONFIG_IP6_NF_RAW
  distributions/LibreELEC/kernel_options
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Amlogic/linux/linux.aarch64.conf
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/RPi/devices/RPi/linux/linux.arm.conf
  projects/RPi/devices/RPi2/linux/linux.arm.conf
  projects/RPi/devices/RPi4/linux/linux.aarch64.conf
  projects/RPi/devices/RPi5/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Samsung/linux/linux.arm.conf
Labels: ADDONS, KERNEL, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, RPi, SAMSUNG, GENERIC, LE 13.0

#9912 pvr.waipu: update 21.10.0-Omega to 21.10.1-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#9913 pvr.waipu: update 22.3.4-Piers to 22.3.5-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#9914 Package updates
  packages/debug/strace/package.mk
  packages/devel/fakeroot/package.mk
  packages/lang/lua52/package.mk
  packages/python/devel/flit/package.mk
  packages/python/devel/setuptools/package.mk
  packages/sysutils/fuse3/package.mk
  packages/sysutils/libevdev/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9662 argononecontrol: add package (support for the Argon ONE cases)
  packages/addons/service/argononecontrol/package.mk
Labels: ADDONS, PACKAGE, LE 13.0

#9915 Package updates
  packages/addons/addon-depends/chrome-depends/at-spi2-core/package.mk
  packages/devel/mimalloc/package.mk
  packages/devel/tbb/package.mk
  packages/graphics/jasper/package.mk
  packages/graphics/spirv-headers/package.mk
  packages/graphics/spirv-tools/package.mk
  packages/graphics/vulkan/glslang/package.mk
  packages/network/iwd/package.mk
  packages/sysutils/kmod/package.mk
  packages/textproc/expat/package.mk
  packages/textproc/libxml2/package.mk
  packages/textproc/xmlstarlet/patches/xmlstarlet-0900-fix-compile-with-libxml-2-14-0.patch
  packages/tools/qemu/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9919 kodi: update to githash c45a28a
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#9921 libcec: update to 7.0.0
  packages/devel/libcec/package.mk
  packages/devel/libcec/patches/0002-fix-assert-issue-with-systemd-udev.patch
Labels: UPDATE, PACKAGE, LE 13.0

#9922 Addon updates
  packages/addons/service/mariadb/patches/mariadb-0003-build-with-libxml2-2-14-0.patch
  packages/addons/service/minisatip/package.mk
  packages/addons/service/mpd/package.mk
  packages/addons/tools/btrfs-progs/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.dumb/package.mk
Labels: ADDONS, UPDATE, BACKPORT REQD, PACKAGE, LE 13.0

#9923 Fix Addon builds against libxml2-2.14.0
  packages/addons/addon-depends/system-tools-depends/encfs/package.mk
  packages/addons/addon-depends/system-tools-depends/encfs/patches/encfs-677-build-with-cmake-4.0.0.patch
  packages/addons/addon-depends/system-tools-depends/encfs/patches/encfs-863-build-with-cmake-4.0.0.patch
  packages/addons/addon-depends/system-tools-depends/patch/package.mk
  packages/addons/addon-depends/system-tools-depends/unrar/package.mk
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-robotv/patches/vdr-plugin-robotv-22-build-with-cmake-4.0.0.patch
  packages/addons/browser/chrome/package.mk
  packages/addons/service/mariadb/package.mk
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend43/package.mk
  packages/addons/service/vdr-addon/package.mk
  packages/addons/tools/ffmpeg-tools/package.mk
  packages/addons/tools/system-tools/package.mk
  packages/mediacenter/kodi-binary-addons/inputstream.ffmpegdirect/package.mk
  packages/mediacenter/kodi-binary-addons/pvr.stalker/package.mk
Labels: BUGFIX, ADDONS, UPDATE, PACKAGE, REBUILD, LE 13.0
