Repository LibreELEC/LibreELEC.tv, pull requests merged in 2025-07, with the labels that each got.

#9590 u-boot (Rockchip): roc-3328-cc: increase ddr4 clock rate at 800Mhz
  projects/Rockchip/patches/u-boot/0006-rockchip-roc-3328-cc-use-1600-ddr4-timing.patch
  projects/Rockchip/patches/u-boot/0007-rockchip-rk3328-add-ddr4-1600-sdram-timing.patch
Labels: MERGE BLOCKED, ROCKCHIP, LE 13.0

#10195 pvr.iptvsimple: update 21.10.2-Omega to 21.11.0-Omega
  packages/mediacenter/kodi-binary-addons/pvr.iptvsimple/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10196 Addon updates
  packages/addons/addon-depends/docker/docker-compose/package.mk
  packages/addons/service/filebrowser/package.mk
  packages/graphics/libheif/package.mk
  packages/mediacenter/kodi-binary-addons/imagedecoder.heif/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10197 Package updates
  packages/audio/taglib/package.mk
  packages/devel/gettext/package.mk
  packages/devel/hwdata/package.mk
  packages/devel/tbb/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/multimedia/gmmlib/patches/gmmlib-130-build-with-cmake-4.0.0.patch
  packages/multimedia/media-driver/package.mk
  packages/python/graphics/Pillow/package.mk
  packages/security/nss/package.mk
  packages/security/openssl/package.mk
  packages/x11/other/fontconfig/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10199 Package updates
  packages/graphics/libheif/package.mk
  packages/graphics/libpng/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10201 kodi: update to githash 943fffa
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10202 readline: update to 8.3
  packages/devel/readline/package.mk
  packages/devel/readline/patches/readline-0001-fix-gcc-15.patch
Labels: UPDATE, PACKAGE, LE 13.0

#10203 pvr.waipu: update 21.12.1-Omega to 21.12.2-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10204 pvr.waipu: update 22.5.1-Piers to 22.5.2-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10206 inputstream.adaptive: update 21.5.14-Omega to 21.5.15-Omega
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10207 inputstream.adaptive: update 22.2.4-Piers to 22.2.5-Piers
  packages/mediacenter/kodi-binary-addons/inputstream.adaptive/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10208 Addon updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/filebrowser/package.mk
  packages/addons/service/minisatip/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10209 Vulkan update to 1.4.321
  packages/graphics/vulkan/vulkan-headers/package.mk
  packages/graphics/vulkan/vulkan-loader/package.mk
  packages/graphics/vulkan/vulkan-tools/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10210 Package updates
  packages/compress/7-zip/package.mk
  packages/multimedia/gmmlib/package.mk
  packages/network/samba/package.mk
  packages/wayland/wayland/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10213 cacert.pem: update to 2025-07-07
  packages/security/openssl/cert/cacert.pem
Labels: BACKPORT DONE, PACKAGE, LE 13.0

#10218 kodi: update to githash 28fb932
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10219 wireless-regdb: update to 2025.07.10
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0

#10220 [le12] wireless-regdb: update to 2025.07.10
  packages/network/wireless-regdb/package.mk
Labels: UPDATE, PACKAGE, LE 12.0

#10223 game.libretro: update to 22.2.0-Piers
  packages/mediacenter/kodi-binary-addons/game.libretro/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10224 kodi: update to githash c0ad652
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10227 kodi: update to githash 7d34975
  packages/mediacenter/kodi/package.mk
Labels: BUGFIX, UPDATE, PACKAGE, LE 13.0

#10228 libretro-common: update to githash 5b5a830
  packages/emulation/libretro-common/package.mk
Labels: BUGFIX, ADDONS, UPDATE, PACKAGE, LE 13.0

#10230 mesa: update to 25.1.6
  packages/graphics/mesa/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10229 Add-on updates
  packages/addons/addon-depends/docker/cli/package.mk
  packages/addons/addon-depends/docker/moby/package.mk
  packages/addons/service/docker/package.mk
  packages/addons/service/minisatip/package.mk
  packages/addons/service/net-snmp/package.mk
  packages/audio/fluidsynth/package.mk
  packages/mediacenter/kodi-binary-addons/audiodecoder.fluidsynth/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10231 Package updates
  packages/databases/sqlite/package.mk
  packages/devel/libbpf/package.mk
  packages/security/nspr/package.mk
  packages/security/nss/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10233 Addon updates
  packages/addons/addon-depends/ttyd-depends/libwebsockets/package.mk
  packages/addons/addon-depends/ttyd-depends/libwebsockets/patches/libwebsockets-0001-build-with-cmake-4.0.0.patch
  packages/addons/addon-depends/vdr-plugins/vdr-plugin-epgsearch/package.mk
  packages/addons/service/ttyd/package.mk
  packages/addons/service/vdr-addon/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10235 bcm2835-utils: update to githash b7651d8
  packages/tools/bcm2835-utils/package.mk
Labels: UPDATE, PACKAGE, RPi, LE 13.0

#10236 pvr.waipu: update 21.12.2-Omega to 21.12.3-Omega
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.0

#10237 pvr.waipu: update 22.5.2-Piers to 22.5.3-Piers
  packages/mediacenter/kodi-binary-addons/pvr.waipu/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10238 Package updates and cleanups
  packages/addons/addon-depends/rpi-tools-depends/lan951x-led-ctl/package.mk
  packages/devel/libbpf/package.mk
  packages/graphics/kmscube/package.mk
Labels: UPDATE, PACKAGE, CLEANUP, LE 13.0

#10239 uboot_helper: RK3399: Add Radxa ROCK 4SE
  scripts/uboot_helper
Labels: HARDWARE, ROCKCHIP, LE 13.0

#10244 [le12.2] ffmpeg: update rpi patch
  packages/multimedia/ffmpeg/patches/rpi/ffmpeg-001-rpi.patch
Labels: UPDATE, PATCH, RPi, LE 12.2

#10246 [le12.2] RPi: backport package updates
  packages/linux-firmware/brcmfmac_sdio-firmware-rpi/package.mk
  packages/tools/bcm2835-utils/package.mk
Labels: UPDATE, PACKAGE, RPi, LE 12.2

#10255 [le12.2] x11 driver updates
  config/graphic
  packages/mediacenter/kodi/package.mk
  packages/x11/driver/xf86-video-ati/config/xorg-radeon.conf
  packages/x11/driver/xf86-video-ati/package.mk
  packages/x11/driver/xf86-video-intel/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/config/xorg-nvidia-legacy.conf
  packages/x11/driver/xf86-video-nvidia-legacy/package.mk
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.01-kernel-5.7.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.02-kernel-5.8.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.03-kernel-5.9.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.04-kernel-5.10.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.05-kernel-5.11.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.06-kernel-5.14.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.07-kernel-5.15.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.08-kernel-5.16.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.09-kernel-5.17.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.10-kernel-5.18.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.11-kernel-6.0.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.12-kernel-6.3.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.13-kernel-6.5.patch
  packages/x11/driver/xf86-video-nvidia-legacy/patches/xf86-video-nvidia-legacy-100.14-kernel-6.6.patch
  packages/x11/driver/xf86-video-nvidia-legacy/udev.d
  packages/x11/driver/xf86-video-nvidia/modprobe.d/nvidia-modesetting.conf
  packages/x11/driver/xf86-video-nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/scripts/make_nvidia_udev.py
  packages/x11/driver/xf86-video-nvidia/udev.d/96-nvidia.rules
  packages/x11/xserver/xorg-server/package.mk
  packages/x11/xserver/xorg-server/scripts/xorg-configure
  projects/ARM/options
  projects/Generic/devices/x11/options
Labels: UPDATE, PACKAGE, GENERIC, LE 12.2

#10242 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/screensaver.asteroids/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.greynetic/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.matrixtrails/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.pyro/package.mk
  packages/mediacenter/kodi-binary-addons/screensaver.stars/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10258 [le13] Revert "RPi5: reduce CMA memory"
  projects/RPi/devices/RPi5/config/distroconfig-composite.txt
  projects/RPi/devices/RPi5/config/distroconfig.txt
  projects/RPi/devices/RPi5/filesystem/usr/lib/udev/rules.d/60-dma-heap.rules
  projects/RPi/patches/kodi/0100-DMAHeapBufferObject-Add-vidbuf_cached.patch
Labels: BUGFIX, RPi, LE 13.0

#10260 Generic-gl: remove device and switch Generic to OpenGL
  projects/Generic/devices/Generic-gl/options
  projects/Generic/devices/gbm/options
  projects/Generic/filesystem/usr/share/bootloader/canupdate.sh
Labels: GENERIC

#10256 [le12.2] update security components
  packages/devel/talloc/config/talloc-cache.txt
  packages/devel/talloc/package.mk
  packages/network/openssh/package.mk
  packages/network/openssh/patches/openssh-8.9p1-keydir.patch
  packages/network/samba/package.mk
  packages/network/samba/patches/samba-200-4.11-fix-ASN1-bso14164.patch
  packages/security/openssl/package.mk
Labels: UPDATE, PACKAGE, LE 12.2

#10266 kodi-binary-addons: update to latest versions
  packages/mediacenter/kodi-binary-addons/visualization.fishbmc/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.goom/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.matrix/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.shadertoy/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.spectrum/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.starburst/package.mk
  packages/mediacenter/kodi-binary-addons/visualization.waveform/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 13.0

#10267 Nvidia update to 575.64.05
  packages/graphics/nvidia/package.mk
  packages/x11/driver/xf86-video-nvidia/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, GENERIC, LE 12.2

#10262 [le12.2] update mesa to 25.1
  distributions/LibreELEC/options
  packages/graphics/mesa-reusable/package.mk
  packages/graphics/mesa/package.mk
  packages/graphics/spirv-llvm-translator/package.mk
  packages/lang/llvm/package.mk
  packages/python/devel/ply/package.mk
  packages/rust/cargo-snapshot/package.mk
  packages/rust/rust-std-snapshot/package.mk
  packages/rust/rust/package.mk
  packages/rust/rust/targets/x86_64-libreelec-linux-gnu.json
  packages/rust/rustc-snapshot/package.mk
Labels: UPDATE, PACKAGE, LE 12.2

#10273 [le12.2] some more RPi backports
  packages/sysutils/busybox/package.mk
  packages/sysutils/busybox/scripts/libreelec-target-generator
  packages/sysutils/busybox/scripts/rpi-flash-firmware
  packages/sysutils/busybox/system.d/rpi-flash-firmware.service
  packages/sysutils/busybox/system.d/rpi-flash-firmware.target
  packages/tools/bcmstat/package.mk
Labels: UPDATE, PACKAGE, CLEANUP, RPi, LE 12.2

#10264 [le12.2] Selective Package Updates
  packages/debug/gdb/package.mk
  packages/devel/libbpf/package.mk
  packages/devel/libbpf/patches/libbpf-fix-crosscompile-and-sysroot.patch
  packages/devel/libcec/package.mk
  packages/linux-firmware/brcmfmac_sdio-firmware/package.mk
  packages/network/bluez/package.mk
  packages/network/bluez/patches/bluez-01_add-obexd-policy.patch
  packages/network/bluez/patches/bluez-02_obexd-use-system-bus.patch
  packages/network/bluez/patches/bluez-11_sixaxis-fix-PID-navigation-controller.patch
  packages/network/bluez/patches/bluez-12-fix-obexd-after-5_73.patch
  packages/network/bluez/patches/bluez-21-hciattach-add-QCA9377-Tuffello-support.patch
  packages/network/bluez/patches/bluez-22-Revert-build-Fix-distcheck.patch
  packages/network/bluez/patches/bluez-50-shared-uhid--Fix-crash-if-bt_uhid_destroy-free-replay.patch
  packages/network/bluez/system.d/obex.service
  packages/network/ethtool/package.mk
  packages/network/iw/package.mk
  packages/network/wireguard-tools/package.mk
  packages/sysutils/kmod/package.mk
  packages/sysutils/open-vm-tools/package.mk
  packages/sysutils/util-linux/package.mk
  packages/sysutils/util-linux/scripts/mount-swap
  packages/sysutils/v4l-utils/keymaps/xoro_hrk_7660.toml
  packages/sysutils/v4l-utils/package.mk
  packages/sysutils/v4l-utils/patches/v4l-utils-001-fix-keytable-crash.patch
Labels: UPDATE, PACKAGE, LE 12.2

#10269 [le12.2] backport docker changes from master
  tools/docker/jammy/Dockerfile
  tools/docker/noble/Dockerfile
Labels: BUILDSYSTEM, LE 12.2

#10276 [le12.2] include upstream updates for llvm
  packages/lang/llvm/package.mk
Labels: PACKAGE, LE 12.2

#10284 [le12.2] backport Python3: fix host DEPEND to be with openssl
  packages/lang/Python3/package.mk
Labels: BUGFIX, LE 12.2

#10279 tools/docker/jammy/Dockerfile: add upx-ucl to allow binary compression of mesa:host tools
  tools/docker/jammy/Dockerfile
Labels: BUILDSYSTEM, LE 13.0

#10286 [le13] remove tvheadend42
  packages/addons/service/tvheadend42/addon.xml
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/icon/icon.png
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/patches/tvheadend42-01-dvb-scan-path.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-02-hdhomerun-includes.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-03-hdhomerun-fix.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-04-Fix-building-with-fno-common.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-05-webui-query-url-fix.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-06-satip-upnp-fix.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-07-dont-use-reserved-word-bool.patch
  packages/addons/service/tvheadend42/source/bin/tv_grab_file
  packages/addons/service/tvheadend42/source/bin/tvheadend42.start
  packages/addons/service/tvheadend42/source/default.py
  packages/addons/service/tvheadend42/source/defaults/comskip/comskip.ini
  packages/addons/service/tvheadend42/source/defaults/config
  packages/addons/service/tvheadend42/source/defaults/dvr/config/8d0f5b7ae354d956d7fe5db25f5d0d24
  packages/addons/service/tvheadend42/source/defaults/epggrab/config
  packages/addons/service/tvheadend42/source/defaults/timeshift/config
  packages/addons/service/tvheadend42/source/defaults/xmltv/config
  packages/addons/service/tvheadend42/source/download.py
  packages/addons/service/tvheadend42/source/resources/language/English/strings.po
  packages/addons/service/tvheadend42/source/resources/screenshot-01.png
  packages/addons/service/tvheadend42/source/resources/screenshot-02.png
  packages/addons/service/tvheadend42/source/resources/screenshot-03.png
  packages/addons/service/tvheadend42/source/resources/screenshot-04.png
  packages/addons/service/tvheadend42/source/resources/settings.xml
  packages/addons/service/tvheadend42/source/settings-default.xml
  packages/addons/service/tvheadend42/source/sleep.d/tvheadend.power
  packages/addons/service/tvheadend42/source/system.d/service.tvheadend42.service
Labels: ADDONS, CLEANUP, LE 13.0

#10263 [le12.2] u-boot: update to 2025.07
  packages/tools/u-boot/package.mk
  projects/Allwinner/patches/u-boot/0015-sunxi-mmc-increase-stabilization-delay-from-1ms-to-20ms.patch
  projects/Allwinner/patches/u-boot/0016-sunxi-h6-Fix-DRAM-size-detection.patch
Labels: UPDATE, PACKAGE, ALLWINNER, ROCKCHIP, AMLOGIC, NXP, SAMSUNG, LE 12.2

#10287 [le12.2] remove tvheadend42
  packages/addons/service/tvheadend42/addon.xml
  packages/addons/service/tvheadend42/changelog.txt
  packages/addons/service/tvheadend42/icon/icon.png
  packages/addons/service/tvheadend42/package.mk
  packages/addons/service/tvheadend42/patches/tvheadend42-01-dvb-scan-path.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-02-hdhomerun-includes.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-03-hdhomerun-fix.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-04-Fix-building-with-fno-common.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-05-webui-query-url-fix.patch
  packages/addons/service/tvheadend42/patches/tvheadend42-06-satip-upnp-fix.patch
  packages/addons/service/tvheadend42/source/bin/tv_grab_file
  packages/addons/service/tvheadend42/source/bin/tvheadend42.start
  packages/addons/service/tvheadend42/source/default.py
  packages/addons/service/tvheadend42/source/defaults/comskip/comskip.ini
  packages/addons/service/tvheadend42/source/defaults/config
  packages/addons/service/tvheadend42/source/defaults/dvr/config/8d0f5b7ae354d956d7fe5db25f5d0d24
  packages/addons/service/tvheadend42/source/defaults/epggrab/config
  packages/addons/service/tvheadend42/source/defaults/timeshift/config
  packages/addons/service/tvheadend42/source/defaults/xmltv/config
  packages/addons/service/tvheadend42/source/download.py
  packages/addons/service/tvheadend42/source/resources/language/English/strings.po
  packages/addons/service/tvheadend42/source/resources/screenshot-01.png
  packages/addons/service/tvheadend42/source/resources/screenshot-02.png
  packages/addons/service/tvheadend42/source/resources/screenshot-03.png
  packages/addons/service/tvheadend42/source/resources/screenshot-04.png
  packages/addons/service/tvheadend42/source/resources/settings.xml
  packages/addons/service/tvheadend42/source/settings-default.xml
  packages/addons/service/tvheadend42/source/sleep.d/tvheadend.power
  packages/addons/service/tvheadend42/source/system.d/service.tvheadend42.service
Labels: ADDONS, CLEANUP, LE 12.2

#10289 [le12.2] linux: explicitly configure optional perf features
  packages/linux/package.mk
Labels: BUGFIX, KERNEL, LE 12.2

#10297 [le12.2] ffmpeg-tools: update ffmpegx to 7.1.1
  packages/addons/addon-depends/ffmpegx/package.mk
  packages/addons/addon-depends/ffmpegx/patches/ffmpeg-03-lavc-libx265--unbreak-build-for-X265-BUILD---210.patch
  packages/addons/tools/ffmpeg-tools/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.2

#10294 [le12.2] tvheadend43: update to githash f1c460f and addon (1)
  packages/addons/service/tvheadend43/package.mk
Labels: ADDONS, UPDATE, PACKAGE, LE 12.2

#10296 [le12.2] Linux 6.16
  packages/linux/package.mk
  projects/Allwinner/linux/linux.aarch64.conf
  projects/Allwinner/linux/linux.arm.conf
  projects/Allwinner/patches/linux/0043-Bluetooth-btrtl-Add-support-for-RTL8822BS.patch
  projects/Allwinner/patches/linux/0049-drm-sun4i-dw-hdmi-Switch-to-bridge-functions.patch
  projects/Generic/linux/linux.x86_64.conf
  projects/NXP/devices/iMX6/linux/linux.arm.conf
  projects/NXP/devices/iMX8/linux/linux.aarch64.conf
  projects/NXP/devices/iMX8/patches/linux/0001-Initial-support-Cadence-MHDP8501-HDMI-DP-for-i-MX8MQ.patch
  projects/Qualcomm/devices/Dragonboard/linux/linux.aarch64.conf
  projects/Rockchip/devices/RK3288/linux/default/linux.arm.conf
  projects/Rockchip/devices/RK3328/linux/default/linux.aarch64.conf
  projects/Rockchip/devices/RK3399/linux/default/linux.aarch64.conf
  projects/Rockchip/patches/linux/default/linux-0011-v4l2-from-list.patch
  projects/Rockchip/patches/linux/default/linux-2000-v4l2-wip-rkvdec-hevc.patch
  projects/Samsung/linux/linux.arm.conf
Labels: UPDATE, PACKAGE, KERNEL, ALLWINNER, ROCKCHIP, NXP, SAMSUNG, GENERIC, LE 12.2

#10303 kodi: update to githash 20732e8
  packages/mediacenter/kodi/package.mk
Labels: UPDATE, PACKAGE, LE 13.0

#10302 glibc: update to 2.42
  packages/devel/glibc/package.mk
  packages/lang/gcc/patches/gcc-libsanitizer--Fix-build-with-glibc-2-42.patch
Labels: UPDATE, PACKAGE, PATCH, LE 13.0

#10307 visualization.pictureit: fix PKG_URL and update to 22.0.1-Piers
  packages/mediacenter/kodi-binary-addons/visualization.pictureit/package.mk
Labels: ADDONS, UPDATE, LE 13.0

#10308 mesa: update to 25.1.7
  packages/graphics/mesa/package.mk
Labels: UPDATE, BACKPORT DONE, PACKAGE, LE 13.0
